.section.adm_panel
    .container
        .section__title #[span(class="section__title--bold") Admin] Panel
        .section__subtitle From detailed account statements to volume trade reports, get complete#[span(class="db")] control over your operations and maximise your business potential. 

        .trading__slider.adm.flickity_castom_arrow
            .item
                img(src="images/adm1.png", alt="img")
                .adm__right
                    .adm__title Spreads

                    .adm__item
                        +icon('circle')
                        .adm__text The spread type can be defined as a variable spread, fixed spread, and as an STP spread without any modifiers.
                    
                    .adm__item
                        +icon('circle')
                        .adm__text Brokers can decide to add markups in a percentage of the current price or value in pips on any symbol, and for each account differently.
                    
                    .adm__item
                        +icon('circle')
                        .adm__text Tiered markups are available to use depending on the volume of each trade.
            
            .item
                img(src="images/adm2.png", alt="img")
                .adm__right
                    .adm__title Execution

                    .adm__item
                        +icon('circle')
                        .adm__text Execution rules based on volume for flexible execution settings.
                    
                    .adm__item
                        +icon('circle')
                        .adm__text A/B/C Book execution mode. Can be performed on accounts level and changed instantly.
                    
                    .adm__item
                        +icon('circle')
                        .adm__text Additional execution settings protect brokers from all types of risk.
                    
            
            .item
                img(src="images/adm3.png", alt="img")
                .adm__right
                    .adm__title Limits

                    .adm__item
                        +icon('circle')
                        .adm__text Volume parameters contain maximum and minimum order sizes and price increments.
                    
                    .adm__item
                        +icon('circle')
                        .adm__text Exposure limits can be set per any symbol#[span(class="db")] on account level.
                    
                    .adm__item
                        +icon('circle')
                        .adm__text Classic Limit-and-Stop level settings are available in B2Margin.
            
            .item
                img(src="images/adm4.png", alt="img")
                .adm__right
                    .adm__title Margin

                    .adm__item
                        +icon('circle')
                        .adm__text Custom leverage settings: maximum, minimum, increments and default leverage values.
                    
                    .adm__item
                        +icon('circle')
                        .adm__text Custom or broker defined leverage options#[span(class="db")] can be set per any symbol
                    
                    .adm__item
                        +icon('circle')
                        .adm__text Dynamic leverage: Tiered margin settings#[span(class="db")] are available with the "Broker selected" scenario.
            
            .item
                img(src="images/adm5.png", alt="img")
                .adm__right
                    .adm__title Trading

                    .adm__item
                        +icon('circle')
                        .adm__text Brokers can allow sell operations#[span(class="db")] per single position or per net open position.
                    
                    .adm__item
                        +icon('circle')
                        .adm__text "Full trading", "close only" and#[span(class="db")] "no trading" modes are available to use on any symbol and for any account.
                    
                    .adm__item
                        +icon('circle')
                        .adm__text Brokers can disable short positions for specific symbols and for any account.
            
            .item
                img(src="images/adm6.png", alt="img")
                .adm__right
                    .adm__title Financing

                    .adm__item
                        +icon('circle')
                        .adm__text Brokers can set different types#[span(class="db")] and different amounts on commission settings for any symbol in the account level.
                    
                    .adm__item
                        +icon('circle')
                        .adm__text Brokers can set different types and amounts#[span(class="db")] on commission settings for any symbol in the account level.
                    
                    .adm__item
                        +icon('circle')
                        .adm__text "Swap free" settings are available on the B2Margin platform.
            
            .item
                img(src="images/adm7.png", alt="img")
                .adm__right
                    .adm__title Spreads

                    .adm__item
                        +icon('circle')
                        .adm__text Brokers can set a multiplier for clients volume#[span(class="db")] to control external exposure more accurately.
                    
                    .adm__item
                        +icon('circle')
                        .adm__text Variable settings are available for external sending volume. Brokers can decide a minimal order size and its increment on each symbol for each account.
                    
                    .adm__item
                        +icon('circle')
                        .adm__text Brokers can decide which margin account to use for specific clients or symbols.
