.section
    .container
        .section__title  Architecture
        .section__subtitle From detailed account statements to volume trade reports, get complete #[span(class="db")]  control over your operations and maximise your business potential. 
        img.banner(src="images/b2m_arch.png", alt="img", style="margin-top:77px;")