.section.section__blue.benefits_b2m
    .container.goanim.an
        .section__title #[span(class="section__title--bold") Benefits]
        .b2m_ben__catalog
            .b2m_ben__item
                .b2m_ben__title Options for order placement
                .b2m_ben__subtitle Trade from the Manager application with #[span(class="db")] the ability to place pending orders and market#[span(class="db")] orders at the current market rates or fill orders at a specific price.
            
            .b2m_ben__item
                .b2m_ben__title Customizable price streams
                .b2m_ben__subtitle Well balanced, tested by business and#[span(class="db")] ready-to-use price streams with customizable markups. Multiple markup profiles on instrument / group / account levels.
            
            .b2m_ben__item
                .b2m_ben__title Extended account precision
                .b2m_ben__subtitle Up to 8 decimal digits for account precision and for trading instrument pricing. Suitable#[span(class="db")] for Cryptocurrencies, Crypto-denominated accounts and Crypto-Brokers.
            
            .b2m_ben__item
                .b2m_ben__title Flexible trading#[span(class="db")] conditions  
                .b2m_ben__subtitle Create special conditions for any set of trading instruments to any set of clients, including setting commissions, swaps, leverage and markups for swaps and prices.
            
            .b2m_ben__item
                .b2m_ben__title Customizable management rights
                .b2m_ben__subtitle From "full access" to "view only", management rights are fully customizable as per your needs enabling you to manage and modify the entire workflow at your discetion.
            
            .b2m_ben__item
                .b2m_ben__title Various denominations#[span(class="db")] for accounts
                .b2m_ben__subtitle With different account denominations available, you can receive profit in any fiat#[span(class="db")] or cryptocurrencies of your choice.
            
            .b2m_ben__item
                .b2m_ben__title Integration friendly
                .b2m_ben__subtitl With B2Core integration B2Margin becomes#[span(class="db")] a complete brokerage solution. Alternatively,  build your own Trading UI and integrate B2Margin with your Trader's Room.
                
            .b2m_ben__item
                .b2m_ben__title Exposure monitor 
                .b2m_ben__subtitle Monitor A/B book and hedged exposure in real-time. Hedge directly from the exposure monitor while maintaining an up to date view on your Risk and P/L. 
            
            .b2m_ben__item
                .b2m_ben__title Various leverage settings
                .b2m_ben__subtitle Leverage from 1:1 to 1:10000 leverage is available to use. Changes can be applied immediately.
            
            .b2m_ben__item
                .b2m_ben__title Risk management 
                .b2m_ben__subtitle The simplest and most effective risk management, using A-/B-/C-book strategies, NOP controls, Report DataBase.
            
            .b2m_ben__item
                .b2m_ben__title Transparent pricing 
                .b2m_ben__subtitle Prices come straight from liquidity aggregators without any Market#[span(class="db")] Maker interference.
            
            .b2m_ben__item
                .b2m_ben__title Fast setup 
                .b2m_ben__subtitle Full setup, with liquidity, trading UI, report system, and all other components for a new B2Margin Platform.
            
            .b2m_ben__item
                .b2m_ben__title C-book management
                .b2m_ben__subtitle C-book allows brokers to manage risks more precisely. It can be set so that small orders are executed on B-book (risk on Broker’s side) and large orders will go to A-Book (no risk but potentially less profit for broker).
            
            .b2m_ben__item
                .b2m_ben__title Extensive filtering
                .b2m_ben__subtitle The ability to break down by group, instrument and asset levels to view exposures and P/L and analyze results according to your specific requirements.
            
            .b2m_ben__item
                .b2m_ben__title STP
                .b2m_ben__subtitle Fast and reliable STP execution with ultra-low latency for A-book trades. The ultimate way to ensure the quickest and best filling of client orders.
