.section.b2m_custom
    .container
        .section__title Front-end #[span(class="section__title--bold db") Customization]
        .section__subtitle Choose your own colour, provide a logo and#[span(class="db")]  get your own unique product.

        .trading__slider.flickity_castom_arrow
            .item
                img(src="images/b2m_cust1.png", alt="img", class="banner")
            
            .item
                img(src="images/b2m_cust2.png", alt="img", class="banner")
            
            .item
                img(src="images/b2m_cust3.png", alt="img", class="banner")

        .b2m_ben__catalog
            .b2m_ben__item
                .b2m_ben__title Branding
                .b2m_ben__subtitle Your own logo and corporate colors will provide you with the ultimate brand experience.
            
            .b2m_ben__item
                .b2m_ben__title Easy Navigation
                .b2m_ben__subtitle A highly responsive and scalable menu that allows the user to quickly and efficiently perform different actions in their personal cabinet.
            
            .b2m_ben__item
                .b2m_ben__title Friendly UI
                .b2m_ben__subtitle The front end is optimally designed and animated to avoid any confusion on the clients' side.
            
            .b2m_ben__item
                .b2m_ben__title Workspaces
                .b2m_ben__subtitle Create an unlimited number of workspaces with a different set of widgets to maximise your trading experience.
            
            .b2m_ben__item
                .b2m_ben__title Default Layout
                .b2m_ben__subtitle Brokers can request a default layout for the Trading UI so that end-users are taken there after opening the Trading UI for the first time. It can then be rearranged in the way they wish.
            
            .b2m_ben__item
                .b2m_ben__title Double-click Trading
                .b2m_ben__subtitle A useful aspect that enables you to place Market Orders on double-click which is important when every second counts.
            
            .b2m_ben__item
                .b2m_ben__title Translations
                .b2m_ben__subtitle An unlimited number of languages and translations can be added instantly via#[span(class="db")] an easy to use form-based web interface.
            
            .b2m_ben__item
                .b2m_ben__title Widgets
                .b2m_ben__subtitle Plenty of feature-rich widgets are available#[span(class="db")] to create professional trading interfaces for various trading styles.
            
            .b2m_ben__item
                .b2m_ben__title Night Mode
                .b2m_ben__subtitle An option to switch theTrading UI to a darker theme at night in order to increase usability#[span(class="db")] is available.