.section.dif_types_wl.section__blue.b2m_dif-t
    .section__title Different #[span(class="section__title--bold db") order types]
    .container.dif_container_1
        .dif_types__title Time in Force

        .gray_block__container
            .gray__block(style="margin-left:auto; margin-right:5px; margin-bottom:10px;")
                .gray__block--title IOC
                .gray__block--subtitle An Immediate-Or-Cancel (IOC) is a#[span(class="db")] time in force instruction for an order that executes all or part immediately and cancels any unfilled portion of the order.
            
            .gray__block(style="margin-right:auto; margin-left:5px; margin-bottom:10px;")
                .gray__block--title FOK
                .gray__block--subtitle Fill or Kill (FOK) the time in force instruction causes the entire order to execute immediately or be canceled.

        .gray_block__container

            .gray__block
                .gray__block--title GTC 
                .gray__block--subtitle An order that uses the#[span(class="db")] Good-Till-Canceled (GTC) time in force will continue to work until the order fills or is canceled by trader.
            
            .gray__block
                .gray__block--title GTD
                .gray__block--subtitle Good-Till-Date (GTD) - the time in force instruction that allows#[span(class="db")] traders to specify a date and time at which the order will expire when they place trading orders.
            
            .gray__block
                .gray__block--title DAY 
                .gray__block--subtitle An order that uses the#[span(class="db")] Good-For-Day or DAY time in force and will continue to work until the end of the current trading day#[span(class="db")] if it is not completed.

    

    .container.dif_container_2
        .dif_types__title Protection Orders

        .gray_block__container
            .gray__block
                .gray__block--title Stop Loss
                .gray__block--subtitle There are two kinds of stop-loss orders: buy and sell. Sell-stop orders offer protection for long positions by triggering a market sell order in the event the price drops below a certain level. 
                .gray__block--subtitle Buy-stop orders protect short positions. They are above the current market price and will trigger in the event that the price rises above this level.


            
            .gray__block
                .gray__block--title Take Profit
                .gray__block--subtitle A take-profit order is a kind of limit order which indicates the exact price at which to close out an open position to make a profit. 
                .gray__block--subtitle The advantage of using a#[span(class="db")] take-profit order means the trader need not worry about manually executing or second-guessing#[span(class="db")] a trade.



    

    .container.dif_container_3
        .dif_types__title Pending orders

        .gray_block__container
            .gray__block
                .gray__block--title Limit
                .gray__block--subtitle A limit order is a type of order to purchase or sell asset at a#[span(class="db")] specified price or better. 
                .gray__block--subtitle While the price is guaranteed, the filling of the order is not, and limit orders will not be executed unless the security price meets the order qualifications.

            
            .gray__block
                .gray__block--title Stop
                .gray__block--subtitle Stop orders are orders that are triggered when an asset moves past a specific price point. 
                .gray__block--subtitle Beyond that price point, stop#[span(class="db")] orders are converted into market orders that are executed at the best available price.


            
            .gray__block
                .gray__block--title OCO
                .gray__block--subtitle One-Cancels-Other (OCO) is a pair of orders that are linked together and placed simultaneously. 
                .gray__block--subtitle When market movements cause either order to be filled, the unfilled order is automatically canceled.


    .container.dif_container_4

        .gray_block__container
            .gray__block
                .gray__block--title Close by Orders
                .gray__block--subtitle The Close-By facility allows two hedged orders to be closed by cancelling each other out. The benefit of doing this is that only one spread is paid for two orders. 
                .gray__block--subtitle In contrast, if two hedged orders are closed independently then two spreads will be paid, hence the trade cost is paid twice.
            
            .gray__block
                .gray__block--title Market Orders
                .gray__block--subtitle A market order is an order placed without a price for the purpose of hitting the best Bid or taking the best Offer presently available in the market. 
                .gray__block--subtitle The order fills at the current best price and may partially fill at multiple price levels.
