.section.dyno
    .section__title Dynamic #[span(class="section__title--bold") Features]
    .container
        .dyno__catalog
            .dyno__item
                video(src="images/b2m_v1.mov"  muted pip="false" loop autoplay  class="dyno__video" type="video/mp4")
                .dyno__title Customizable Platform Layout
                .dyno__desc A fully customizable workspace which includes intuitive visualization of market data and offers an extensive suite#[span(class="db")] of trading tools and more. Set up your perfect trading environment now!
            
            .dyno__item
                video(src="images/b2m_v2.mp4"  muted pip="false" loop autoplay  class="dyno__video" type="video/mp4")
                .dyno__title Multiple Order Types
                .dyno__desc B2Margin offers multiple order types to support the most sophisticated trading strategies and to provide users with#[span(class="db")] a variety of options on how and when to enter and exit a trade.
            
            .dyno__item
                video(src="images/b2m_v3.mp4"  muted pip="false" loop autoplay  class="dyno__video" type="video/mp4")
                .dyno__title Professional Сharts
                .dyno__desc Place trades, manage orders and work directly from our integrated charts. Use our comprehensive suite of drawing#[span(class="db")] tools and over 50 technical indicators to analyze price trends.
            
            .dyno__item
                video(src="images/b2m_v4.mp4"  muted pip="false" loop autoplay  class="dyno__video" type="video/mp4")
                .dyno__title Secure Wallets
                .dyno__desc Withdraw, deposit and store your assets in your personal secure wallet. All assets are securely held in our offline storage system to protect users against any possible risks and threats.
            
            .dyno__item
                video(src="images/b2m_v5.mp4"  muted pip="false" loop autoplay  class="dyno__video" type="video/mp4")
                .dyno__title Watchlist
                .dyno__desc Add your favourite instruments to the list and keep an eye on their current prices and 24 hour changes. Place orders straight from the Watchlist.

            
            .dyno__item
                video(src="images/b2m_v6.mp4"  muted pip="false" loop autoplay  class="dyno__video" type="video/mp4")
                .dyno__title Order Book
                .dyno__desc The list of buy and sell orders organized by price. Updated in real time it's an important indicator of market depth and reflects trading instrument's likely price trend.

            
            .dyno__item
                video(src="images/b2m_v7.mp4"  muted pip="false" loop autoplay  class="dyno__video" type="video/mp4")
                .dyno__title Market Depth
                .dyno__desc An overview of the total cumulative number of opened buy and sell orders in one place where the supply and demand balance can be visualized.
            
            .dyno__item
                video(src="images/b2m_v8.mp4"  muted pip="false" loop autoplay  class="dyno__video" type="video/mp4")
                .dyno__title Positions and Orders
                .dyno__desc Where open positions, working orders, orders and trades history can be seen. Options to close positions, modify positions and orders parameters can also be found here.
