.section.section__enguine.section__enguine__b2margin.section__enguine__wl_mt5
    .container.goanim.an
        .section__title #[span(class="section__title--bold") Compare  ] with others
    
    .container.container__table.goanim.an
        .enguine_table
            .row
                .col Features
                .col Brokerage Platform 
                .col Margin Exchange
                .col Spot Exchange
            
            .row
                .col Leverage Trading
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Customizable User Interface*
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
                .col
                    +icon('close')
            
            .row
                .col Multiple Workspaces
                
                .col
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
            
            .row
                .col Custom Leverage per Order
                .col
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Advanced Orders**
                
                .col
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
            
            .row
                .col Extended Technical Analysis
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
            
            .row
                .col Highload Architecture
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
            
            .row
                .col Multiple APIs Support
                
                .col
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
            
            .row
                .col Mobile Platform
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
            
            .row
                .col Short Positions
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Crypto CFD / Derivatives
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col FX Margin
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Indices
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Time and Sales
                .col
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
            
            .row
                .col Metals
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col CFD on ETFs
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Energies
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col CFD on Shares
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Integrated Trading UI***
                .col
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                
                

    .container
        .section__enguine__description * Change of colors of any UI element according to your branding. You can include your logo and change the wording via the translation tool provided.
        .section__enguine__description ** Multiple order types including OCO and Stop Loss / Take Profit.
        .section__enguine__description *** Trader's UI is part of the Trader's Room. A trader doesn't need to leave the page to trade.