.section-22.faq.section__white
  .container.goanim.an
    .section__title.section__title--bold FAQs
    .main-text Have a question? A source of useful information about our products and services.
    .question

      .question-item.faq_btn_js(data-id="1")
        span What else will I need to start a business with B2Margin trading platform?
        .question__plus
          span
          span
        .question-item_content(data-id="1") B2Margin is about trading only which it does perfectly. Our B2Margin offer includes B2Core which allows for client onboarding, processing deposits and withdrawals, KYC and many other functions that a Brokerage business cannot do without.

      .question-item.faq_btn_js(data-id="2")
        span How long does it take to get a complete B2Margin brokerage solution?
        .question__plus
          span
          span
        .question-item_content(data-id="2") It usually takes no more than two weeks from the time all legalities and financial aspects are settled.

      .question-item.faq_btn_js(data-id="3")
        span To what extent can we customize the  look and feel of the User Interface?
        .question__plus
          span
          span
        .question-item_content(data-id="3") As far as changing colors of any UI element, you can put up your logo and change the wording via the translation tool provided. Change of layout is not supported except for the Trading UI where it is possible to set a default widgets layout.

      .question-item.faq_btn_js(data-id="4")
        span How far can we go in terms of markup, commissions, swaps, risk and other settings?
        .question__plus
          span
          span
        .question-item_content(data-id="4") There is a wide scope for customization.. Prices, commissions, swaps, risk and other settings are all customizable on different levels e.g. all accounts, accounts group, one account.

      .question-item.faq_btn_js(data-id="5")
        span Will we get training on how to use the platform?
        .question__plus
          span
          span
        .question-item_content(data-id="5") Yes, several training sessions will be provided for your staff. Also a B2Broker account manager will be there to help you with anything that crops up.

      .question-item.faq_btn_js(data-id="6")
        span  What kind of support is provided?
        .question__plus
          span
          span
        .question-item_content(data-id="6") 24/7 Tech support. An account manager is available during working hours.

      .question-item.faq_btn_js(data-id="7")
        span Can we make a feature request?
        .question__plus
          span
          span
        .question-item_content(data-id="7") Yes, a feature request can be made via a B2Broker account manager or tech support.
      
      .question-item.faq_btn_js(data-id="8")
        span Can we provide FIX API to our clients?
        .question__plus
          span
          span
        .question-item_content(data-id="8") Yes, you will be able to offer FIX API to your clients.
      
      .question-item.faq_btn_js(data-id="9")
        span If we want to switch from a trading platform that we currently have to B2Margin, will that be possible?
        .question__plus
          span
          span
        .question-item_content(data-id="9") Yes, it is possible to migrate all users, accounts and balances. However, trading history will not be migrated..

      .question-item.faq_btn_js(data-id="10")
        span What are the hosting options?
        .question__plus
          span
          span
        .question-item_content(data-id="10") Only SaaS is available.
      
      .question-item.faq_btn_js(data-id="11")
        span Can I connect a 3rd party liquidity provider?
        .question__plus
          span
          span
        .question-item_content(data-id="11") No, B2Broker liquidity is the only source available.
      
      .another_question.another_question__for_btn
        div
          .another_question--heading Any other questions?
          .another_question--link We are on hand to answer all your questions. Get in touch.
        a(href="#").btn.btn--green.js-modal2-btn Ask us now