.section.b2_gui
    .container 
        .section__title  Professional #[span(class="section__title--bold") GUI]
        .section__subtitle An advanced interface that meets all requirements for #[span(class="db")] beginners up to professional traders.
        img.banner(src="images/b2_gui.png", alt="img")
    
    .container
        .new_box-catalog
            .box_block
                .box_block--title Trading instruments grouped by classes
                .box_block--text 800+ trading instruments grouped #[span(class="db")] by 7 asset classes are available for FOREX, Metals, Commodities, Indices, Crypto, Equities and ETFs.

            
            .box_block
                .box_block--title Branding customization
                .box_block--text A fully branded and customized platform, with custom logos, banners, icons, names, profiles, statements, instruments, color schemes, etc.

            
            .box_block
                .box_block--title Flexible workspace
                .box_block--text Create and configure as many workspaces as needed. All settings windows are scalable and can be adapted according to the brokers' needs.