.section.dark_style.section__infrastructure
    .container
        .section__title Bespoke  #[span(class="section__title--bold db") IT Infrastructure]
        img.banner(src="images/b2m-inf.png", alt="img")