.section.dark_style.b2m_leverage
    .section__title Custom #[span(class="section__title--bold") Leverage]
    .b2m_leverage__wrapper
        video(src="images/levarage.mp4" muted controls pip="false")
        img(src="images/leverage.png", alt="img")