.section-3.section.section-3__b2margin
  .container.goanim.an
    .section__title What is  #[span(class="section__title--bold") B2Margin?]   
    span.main-text B2Margin is a White Label Margin Exchange trading platform developed by B2Broker offering a wide range of functions including on-boarding, compliance, risk management, pricing and trading analytics.  

    span.main-text Offering traders the opportunity to boost their trading with leverage, B2Trader is designed with both institutional and retail clients in mind, supporting multiple asset classes, such as #[span(class="bold") FX, Metals, Indices, Energies, Stocks, ETFs and Cryptocurrencies.]
    .number_block
      .number_block-content
        .number_block--text Adaptive Widgets
        .number_block--number 15

      .number_block-content
        .number_block--text Technical Support
        .number_block--number 24/7

      .number_block-content
        .number_block--text Risk Management
        .number_block--number A/B/C
          span.number_block--number-text -books

      .number_block-content
        .number_block--text Fast Setup in
        .number_block--number 14 
          span.number_block--number-text days