.section.section__blue.b2m_set
    .container
        .section__title Customizable #[span(class="section__title--bold db") Settings]
    .b2m_leverage__wrapper
        video(src="images/cusset_new.mp4" muted="" loop autoplay pip="false") 
        img( src="images/leverage.png" alt="img")
    
    .container
        .b2m_ben__catalog
            .b2m_ben__item
                .b2m_ben__title Trading Conditions Customization
                .b2m_ben__subtitle The possibility to create your own trading conditions with commissions, markups, swaps, margin and risk settings.
            
            .b2m_ben__item
                .b2m_ben__title Various Denominations#[span(class="db")] for Accounts
                .b2m_ben__subtitle Accounts based on any currency from the liquidity list with up to 8 decimal digits precision.
            
            .b2m_ben__item
                .b2m_ben__title Predefined Markup#[span(class="db")] Plans
                .b2m_ben__subtitle Well balanced, tested by businesses and ready-to-use price streams for markups.
            
            .b2m_ben__item
                .b2m_ben__title Extra Precision for Pricing
                .b2m_ben__subtitle Up to 8 decimal digits for account precision and trading instrument pricing. Suitable for Cryptocurrencies, Crypto-denominated accounts and Crypto Brokers.
            
            .b2m_ben__item
                .b2m_ben__title Risk Management 
                .b2m_ben__subtitle The simplest and most effective risk management, using A/B/C-book strategies and NOP controls.
            
            .b2m_ben__item
                .b2m_ben__title Management Rights
                .b2m_ben__subtitle From "full access" to "view only", management rights are fully customizable as per your needs enabling you to manage and modify the entire workflow at your discetion.
            
            .b2m_ben__item
                .b2m_ben__title Various Leverage Settings
                .b2m_ben__subtitle Leverage from 1:1 to 1:10000 is available for use. Changes can be applied immediately.
            
            .b2m_ben__item
                .b2m_ben__title Group Settings
                .b2m_ben__subtitle Swaps, commissions and margin requirements can be changed instantly.
            
            .b2m_ben__item
                .b2m_ben__title Custom Leverage
                .b2m_ben__subtitle Set any leverage range for any trading instrument.
    
    .container
        .d_accounts
            .d_accounts__title Denominated accounts
            .d_accounts__subtitle Trading accounts can be nominated in any of the currencies presented in the liquidity list (41 assets)#[span(class="db")] including cryptocurrencies with an expanded accuracy of up to 8 decimal places.
            img.banner(src="images/d_ac.png", alt="img")
