.section.section__technical.b2m_tech
    .container.goanim.an
        .section__title  #[span(class="section__title--bold db") Technical Support] and Availability
        .date_text 24/7/365
        .section__subtitle Our professional customer service team is available round the clock to assist you with#[span(class="db")] any queries. Please do not hesitate to get in touch.