.events_screen.section.news_feed.section__have_filter(style="background-image: url(images/product_update.png);")
    .container
        .section__title.section__title--bold Product Updates
        .section__subtitle We are continually updating and improving our#[span(class="db")] products and services. Keep up with all our#[span(class="db")] latest news as it happens.
    
.filter
    .container
        .filter__wrapper
            select.filter__item.scroll__list
                option.filter__content_item(value="1", selected) All Product Updates
                option.filter__content_item(value="2") B2Core 
                option.filter__content_item(value="3") B2Margin 
                option.filter__content_item(value="3") B2Trader   
                option.filter__content_item(value="3") MarksMan
                option.filter__content_item(value="3") Liquidity
            
            select.filter__item.scroll__list
                option.filter__content_item(value="1") All Years
                option.filter__content_item(value="2") 2020
                option.filter__content_item(value="3", selected) 2019
                option.filter__content_item(value="3") 2018
                option.filter__content_item(value="3") 2017