.section.section__anty_fraud
    .container
        .section__title.goanim.an #[span(class="section__title--bold") Anti-Fraud] System
        .section__subtitle.goanim.an We have developed a highly scalable alerting system which will allow your managers to receive real-time warnings about suspicious activities in order to mitigate the risk.
        img.banner(src="images/b2_core/mac_banner2.png", alt="banner")
        .gray_block__container
            .gray__block
                .gray__block--title Customizable Events
                .gray__block--subtitle We already have 5+ events which make it easier for the compliance team to monitor any potential breaches in the system activities and are continually developing more.
            .gray__block
                .gray__block--title Recipients Configuration
                .gray__block--subtitle Add only responsible people as recipients of email notifications regarding a particular event trigger in order to keep your team focused only on relevant matters.
            .gray__block
                .gray__block--title Whitelist
                .gray__block--subtitle There are always exclusions to the system so for every event we create a whitelist with parameters that should not trigger an event.
            .gray__block
                .gray__block--title Procedures
                .gray__block--subtitle Create custom procedures for every event type so that after the event has occured, your team will know what to do and can take immediate action.

            .gray__block
                .gray__block--title Notification Details
                .gray__block--subtitle For each event that occurs, there will be a detailed view of all account details and the listed procedures of the event.
            .gray__block
                .gray__block--title Procedures Log
                .gray__block--subtitle Responsible people will be able to work with the procedures by moving them to a different status. Everything will be logged inside the event to keep track of everything.