.forex_liquidity.forex_liquidity__new.forex_liquidity__new__b2_core
  video.b2_core__title_video(autoplay,loop, muted,src="images/ScreenRecorderProject2.mp4")
  .forex_liquidity--overlay
  .container
    .forex_liquidity__content
      h2.section__title #[span(class="section__title--bold") B2Core]
      span.section__subtitle Trader’s Room, Client's Сabinet, Back Office CRM, Client’s Portal
      span.section__description A new generation of professional software that helps brokers and exchanges manage their customers, admins and #[span(class="db")] IB-partners in one place.
    form.new_form.new_form__flex.b2_form.light_theme
      label.new_form__label
        span.new_form__placeholder Your Name
        span.new_form__star *
        input.new_form__input(type="text", required)
      label.new_form__label
        span.new_form__placeholder Your Email
        span.new_form__star *
        input.new_form__input(type="email", required)
      label.new_form__label.new_form__label__phone_select
        span.new_form__placeholder Phone
        span.new_form__star *
        input.new_form__input(type="text", required)
        select.new_form__select.new_form__select_phone
            option(value="+7") +7
            option(value="+7") +7
            option(value="+7") +7
      label.new_form__label.new_form__label_capch
        span.new_form__placeholder Enter symbols
        span.new_form__star *
        img.new_form__capch(src="images/capch_text_white.png")
        input.new_form__input(type="text", required)

      label.new_form__label.new_form__label__lang_select
        span.new_form__placeholder Preffered language
        input.new_form__input(type="text")
        .new_form__label__lang_select_wrapper
          img(src="images/en.png",class="new_form__label__lang_select_icon")
          select.new_form__select
            option(value="English") English
            option(value="English") English
            option(value="English") English
      button.new_form__sabmit(type='submit') Request a Callback
      label.consent_block
        input(type="checkbox")
        b
        p I agree to the #[a(href="#") Terms of Service] and #[a(href="#") Privacy Policy]