.section.section__packages
  .container
    .section__title.goanim.an B2Core #[span(class="section__title--bold") Packages]
    .section__subtitle.goanim.an We have specificallly developed our package solution so that potential clients can find the best fit for their business.
    .packages_table__wrapper.packages_table__wrapper-js-1
      .packages_table
        .packages_table__row.packages_table__heading_row
          .packages_table__col Features
          .packages_table__col Basic
          .packages_table__col Advanced
          .packages_table__col Enterprise
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  
              a(href="#") Wallets 
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Funds 
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Converter 
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Trading Platforms
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") History/Analytics
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Profile
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Address Whitelist
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Verification 
            .packages_table__col Manual
            .packages_table__col Auto
            .packages_table__col Auto
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Bonuses 
            .packages_table__col 
              +icon('close')
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") IB/Affiliate
            .packages_table__col 
              +icon('close')
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Support 24/7
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Account Manager
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Product Manager
            .packages_table__col 
              +icon('close')
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Change of Color/Logo
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Deep Customisation 
            .packages_table__col 
              +icon('close')
            .packages_table__col 
              +icon('close')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Hosting on a Client’s Side 
            .packages_table__col 
              +icon('close')
            .packages_table__col 
              +icon('close')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Custom Integrations
            .packages_table__col 
              +icon('close')
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Frequent Upgrades
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col 
              a(href="#") Mobile App
            .packages_table__col 
              +icon('close')
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
    a(href="#").packages_more_table_btn.packages_more_table_btn--js View Full List