.section.section__packages
  .container
    .section__title B2Core #[span(class="section__title--bold") Packages]
    .section__subtitle We have specificallly developed our package solution so that potential clients can find the best fit for their business.
    .packages_table__wrapper
      .packages_table
        .packages_table__row.packages_table__heading_row
          .packages_table__col Features
          .packages_table__col Basic
          .packages_table__col Advanced
          .packages_table__col Enterprise
        .packages_table__row_wrapper
          .packages_table__row.packages_table__subheading_row
            .packages_table__col Wallets Module
            .packages_table__col 
            .packages_table__col 
            .packages_table__col 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Default set of main Wallets
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Creation of Any Fiat/Crypto Wallet
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__row--shadow
            .packages_table__col  Creation of Any Custom Wallet/Token
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__subheading_row
            .packages_table__col Funds Module
            .packages_table__col 
            .packages_table__col 
            .packages_table__col 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Deposit/Withdraw Without Conversion via B2BinPay
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Deposit/Withdraw With Conversion via B2BinPay
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  30+ Integrated Payment Systems | Plug and Use
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Transfers from Wallets to Trading Platforms and Back
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Transfers between Trading Platforms
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__row--shadow
            .packages_table__col  Request for non-included PSP Integration
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__subheading_row
            .packages_table__col Exchange Module
            .packages_table__col 
            .packages_table__col 
            .packages_table__col 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Fiat + Crypto Wallet Conversion
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Detailed Exchange History
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Rate Markups
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Min Size Volume Step
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Max/Min Pair Exchange Amount
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__row--shadow
            .packages_table__col  Hendging/Integration with B2BX
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__subheading_row
            .packages_table__col Spot Trading Platforms Module
            .packages_table__col 
            .packages_table__col 
            .packages_table__col 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Fiat + Crypto Trading Account Wallets
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Integration with B2Trader and DxTrade (Devexperts)
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Trading Accounts Detailed Statistics
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Advanced and User-Friendly UI for the Supported Platforms
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__row--shadow
            .packages_table__col  Request for Custom Trading Platform Integration
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('close')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__subheading_row
            .packages_table__col Marginal Trading Platforms module
            .packages_table__col 
            .packages_table__col 
            .packages_table__col 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Fiat + Crypto Trading Account Nomination
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col   Various Leverages
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Trading Accounts Detailed Statistics
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Integration with MT4, MT5, PrimeXM, OneZero, cTrader, DxTrade (Devexperts)
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Advanced and User-Friendly UI for the Supported Platforms
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Hedging/Netting Support
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__row--shadow
            .packages_table__col  Request for Custom Trading Platform Integration
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('close')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__subheading_row
            .packages_table__col History/Analytics Module
            .packages_table__col 
            .packages_table__col 
            .packages_table__col 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  History of deposits, withdrawals, exchanges, transfers, IB rebates and spot trades
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col   Trading Account Open Positions Analytics
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Trading Account Pending Orders Analytics
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Orders Volume, Open Price, Current Price, Swap, Profit Metrics
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__row--shadow
            .packages_table__col  Detailed Visualized View on Balance, Equity, Free Funds and other metrics
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__subheading_row
            .packages_table__col Profile
            .packages_table__col 
            .packages_table__col 
            .packages_table__col 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  General Account Information 
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col   Google Authenticator 2FA
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Phone Number 2FA
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Real-Time Translations
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Unlimited Languages
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Address Whitelist
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__row--shadow
            .packages_table__col  Notifications System
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__subheading_row
            .packages_table__col Verification
            .packages_table__col 
            .packages_table__col 
            .packages_table__col 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  KYC Constructor
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Request for Manual KYC with any number of levels and documents
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Request for Automatic KYC Through IdentityMind / SumSubstance
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__row--shadow
            .packages_table__col  Request for Custom KYC Provider Integration
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('close')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__subheading_row
            .packages_table__col IB Room
            .packages_table__col 
            .packages_table__col 
            .packages_table__col 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Calculations based on Lots, Markups, Commissions and Markup Percentages (Brokers)
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Commission Calculations for Exchangers and Exchanges
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Monthly, Weekly, Daily, Hourly and Realtime Calculation Periods
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  IB Analytics with Various Visualized Metrics
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  IB Nomination in Any Fiat / Crypto
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__row--shadow
            .packages_table__col  Multi-Level Configuration
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__subheading_row
            .packages_table__col Bonuses
            .packages_table__col 
            .packages_table__col 
            .packages_table__col 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Possibility to give tradable credits for end-users
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Custom calculation of lot required for bonus execution
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__row--shadow
            .packages_table__col  Bonuses in cryptocurrency
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__subheading_row
            .packages_table__col General Additions
            .packages_table__col 
            .packages_table__col 
            .packages_table__col 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  PAMM Constructor
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col Email Templates Source Code
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Online Translations (Weblate)
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check') 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Registration Constructor
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check') 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Admin Reporting
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check') 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  SaaS Cloud Solution
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('close') 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Powered by B2Broker Mention
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('close')
            .packages_table__col 
              +icon('close') 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Staging Environment
            .packages_table__col 
              +icon('close')
            .packages_table__col per Request
            .packages_table__col 
              +icon('bold_check') 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Mobile Application
            .packages_table__col Coming Soon
            .packages_table__col Coming Soon
            .packages_table__col Coming Soon
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Theme Colouring Change (Colors + Logo)
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Hosting on Client's Side
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('close')
            .packages_table__col Coming Soon
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Front Source Code Pass to the Client
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('close')
            .packages_table__col Coming Soon
        .packages_table__row_wrapper
          .packages_table__row.packages_table__row--shadow
            .packages_table__col  Possibility to use B2Broker IT labor for TR customizations
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('close')
            .packages_table__col Coming Soon
        .packages_table__row_wrapper
          .packages_table__row.packages_table__subheading_row
            .packages_table__col Assistance
            .packages_table__col 
            .packages_table__col 
            .packages_table__col 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Technical Support 24/7
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Training Session on the Platform
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col.packages_table__col_vip
              +icon('bold_check')
              span (VIP)
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Account Manager Presence
            .packages_table__col 
              +icon('bold_check')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col.packages_table__col_vip
              +icon('bold_check')
              span (VIP)
        .packages_table__row_wrapper
          .packages_table__row.packages_table__row--shadow
            .packages_table__col  Product Manager Presence
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row.packages_table__subheading_row
            .packages_table__col External Integrations
            .packages_table__col 
            .packages_table__col 
            .packages_table__col 
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  Request for Ticket System Integration (SupportPal)
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col Request for Mailing Services Integrations (e.g. SendGrid)
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check')
        .packages_table__row_wrapper
          .packages_table__row
            .packages_table__col  CloudFlare/ClouDNS Coverage
            .packages_table__col 
              +icon('close')
            .packages_table__col
              +icon('bold_check')
            .packages_table__col 
              +icon('bold_check') 
    a(href="#").packages_more_table_btn.packages_more_table_btn--js View Full List