.section.ct_works.b2_works
  .container
    .section__title.goanim.an B2Core #[span(class="section__title--bold") Setup Steps]
    .section__subtitle.goanim.an How to Get Your B2Core Solution

  .container.tabs_slider_container
    .tabs_slider
      .item.item1.active(data-id="1")
        span.icon
          span.icon-text 1
        span Sign agreement
      .item(data-id="2")
        span.icon
          span.icon-text 2
        span Complete checklist
      .item(data-id="3")
        span.icon
          span.icon-text 3
        span Provide Color & Logo
      .item(data-id="4")
        span.icon
          span.icon-text 4
        span Provide SSL & #[span(class="db")]SMTP creds
      .item(data-id="5")
        span.icon
          span.icon-text 5
        span Start working
  
  .container
    .main_tabs_slider

      .item.active(data-id="1")
        img(src="images/b2_core/b2_works/banner1.png", alt="image")
        .tabs__title Sign agreement
        .tabs__subtitle Our Business Development manager will contact you to take care of all the legal #[span(class="db")] details and will send you a detailed contract for B2Core services. Sign the agreement #[span(class="db")]in order to proceed with onboarding and to access a personal account manager who#[span(class="db")] will assist you in any way.

      .item(data-id="2")
        img(src="images/b2_core/b2_works/banner2.png", alt="image")
        .tabs__title Complete checklist
        .tabs__subtitle This will allow us to have a better understanding of the end product and set it up#[span(class="db")] correctly. An account manager will be on hand to assist you.

      .item(data-id="3")
        img(src="images/b2_core/b2_works/banner3.png", alt="image")
        .tabs__title Provide Color and Logo
        .tabs__subtitle You will indicate us the desired colors in addition to the logos #[span(class="db")]in order for us to create a solution of your dreams.

      .item(data-id="4")
        img(src="images/b2_core/b2_works/banner4.png", alt="image")
        .tabs__title Provide SSL and SMTP credentials
        .tabs__subtitle B2Core will be based on a subdomain of your main domain name. We will provide you #[span(class="db")]with detailed instructions on what needs to be done in order to send us these details.

      .item(data-id="5")
        img(src="images/b2_core/b2_works/banner5.png", alt="image")
        .tabs__title Start working
        .tabs__subtitle After B2Core completion, we pass you the admin credentials, details of your #[span(class="db")]solution and will give you a personalized training of the functionality.