.section.dark_style.section__back_office

    .container
        .section__title #[span(class="section__title--bold db") A Back Office] for your team
        .section__subtitle A customer management, verification confirmation and ticketing system for your support service which also includes many other useful features.
    .office_slider.flickity_castom_arrow

        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/office/item1.png", alt="banner")
            .office_slider__text
                .office_slider__heading Clients
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Adaptive Table 
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Table Export
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Manual Clients Addition 
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Registered Users Detailed Data
        
        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/office/item2.png", alt="banner")
            .office_slider__text
                .office_slider__heading Client Requests
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Actions Admin Approval
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Coloring Requests
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Approval Log 
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Request Comments Creation

        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/office/item3.png", alt="banner")
            .office_slider__text
                .office_slider__heading Deposits
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Invoice Tracking
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Status Monitoring
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Deposits with Conversion
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Rates Calculation
        
        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/office/item4.png", alt="banner")
            .office_slider__text
                .office_slider__heading Payouts
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Commissions Display
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Dealing Approved Checking
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Destination Data Display
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Payment Status Monitoring

        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/office/item5.png", alt="banner")
            .office_slider__text
                .office_slider__heading Transfers
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Source/Destination Platforms Data
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Status Monitoring
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Table Export
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Client Data
        
        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/office/item6.png", alt="banner")
            .office_slider__text
                .office_slider__heading Reports
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Detailed Data Reports
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text 3 Format Types (HMTL, XLSX, CSV)
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Custom Receivers 
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Timespan Adaptation
        
        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/office/item7.png", alt="banner")
            .office_slider__text
                .office_slider__heading Currencies
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Custom Currency Addition
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Explorer Setup
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Precision Configuration
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Markups Configuration
        
        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/office/item8.png", alt="banner")
            .office_slider__text
                .office_slider__heading Rates
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Conversion Rates Configuration
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Currencies Rates Source Division
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Priorities Configuration
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Adaprive Table
        
        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/office/item9.png", alt="banner")
            .office_slider__text
                .office_slider__heading Products
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Hide/Show Wallets/Accounts
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Customize Product Settings
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Restrictions Configuration
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Information Links
        
        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/office/item10.png", alt="banner")
            .office_slider__text
                .office_slider__heading Platforms
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Add or Remove Required Platforms
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Test the Connection
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Configuration Settings
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Adaptive Table

