.section.benefits_section
    .container.goanim.an
        .section__title.section__title--bold Benefits

        .gray_block__container
            .gray__block
                .gray__block--title Flagman Security
                .gray__block--subtitle A large number of tools are applied to the solution to be the safest place for both end-users and admins of the product.

            .gray__block
                .gray__block--title Advanced Frontend
                .gray__block--subtitle Developed specifically to be an easy-to-use product with no excessive animations or data. Everything is on point.

            .gray__block
                .gray__block--title Unlimited Amount of Languages
                .gray__block--subtitle Personalise your cabinet with a range of languages available on the platform. No need to wait with our Weblate system which allows you to change and apply the content of the cabinet instantly.

            .gray__block
                .gray__block--title Data-Driven Admin Panel
                .gray__block--subtitle Dozens of tables filled with analytical information regarding client statuses, activities and actions made inside the solution, combined with advanced admin functionality over the front-end.