.section.section-23.best.section__b2_best
  .container
    .section__title.goanim.an It comes #[span(class="section__title--bold") best with]
    .section__subtitle.goanim.an B2Core is best combined with the leading industry trading platforms to provide the ultimate performance and user satisfaction.
    .best_with.goanim.an
      .best_with--left
        .best_with--heading Merchant Solutions
        .best_with--text It allows businesses to Send, Receive, Store, Exchange and Accept CryptoCurrency Payments online, safely, securely and cost-effectively across the world in a matter of minutes.
        .best_with--img
          img(src="images/b2_core/new_best1.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Crypto/Crypto & Crypto/FIAT
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Coins, StableCoins & Tokens Supported
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Accept, Store, Exchange & Send CryptoCurrencies
        .check_block.castom
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Robust API & Staging Envirenment
    .best_with
      .best_with--left
        .best_with--heading White Label MT5  
        .best_with--text The best and the most popular professional Forex/Crypto trading platform White Label solution tailored specifically to your brand. 
        .best_with--img
          img(src="images/b2_core/new_best2.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Various nominations for accounts even in Cryptocurrencies
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Fully-customised solutions
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Professional 24/7/365 support
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Hedging and Netting models support
    .best_with
      .best_with--left
        .best_with--heading B2Margin (Margin Exchange)
        .best_with--text A platform combining the features of margin and spot trading in one system. Powered by B2Broker.
        .best_with--img
          img(src="images/b2_core/new_best3.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Custom leverage for each order
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Market depth of 40 Levels
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text FIX API connection
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Dynamic Adv UI
