.section.section__catalog.goanim.an
    .container

        .cutting_catalog
            .cutting_catalog__item
                .cutting_catalog__heading Multiple Business Support
                .cutting_catalog__subheading Rebates calculation based on stop trading platforms, marginal trading platfomrs, converters and many more.

            .cutting_catalog__item
                .cutting_catalog__heading Nomination
                .cutting_catalog__subheading IB accounts can be nominated in any fiat or cryptocurrency.

            .cutting_catalog__item
                .cutting_catalog__heading Reporting
                .cutting_catalog__subheading A detailed reporting system showing rewards and transactions.

            .cutting_catalog__item
                .cutting_catalog__heading Tiers
                .cutting_catalog__subheading Add an extra incentive to expand a partner's community by increasing the rebates multiplier depending on their base results.

            .cutting_catalog__item
                .cutting_catalog__heading Data Tables
                .cutting_catalog__subheading Quickly search through partners, their clients and all details regarding their trades in a UI-friendly admin panel.

            .cutting_catalog__item
                .cutting_catalog__heading Statistics
                .cutting_catalog__subheading View statistics of referral activity together with the number of visits and registrations.

            .cutting_catalog__item
                .cutting_catalog__heading Multiple Calculation Bases
                .cutting_catalog__subheading Offer your partners the chance to have dynamic rebates with an adjustable formula calculation. Calculation and accrual of commissions are performed in a personal account.

            .cutting_catalog__item
                .cutting_catalog__heading Levels 
                .cutting_catalog__subheading Unlimited level-based partners program that rewards not only direct IBs with commission but a much broader span. Multi-level up to 30 levels.

            .cutting_catalog__item
                .cutting_catalog__heading Visualised Analytics
                .cutting_catalog__subheading Admins can view all the combined data in the most convenient way and quickly build a strategic plan for IB Room evolvement.