.section.section__cloud
    .container.goanim.an
        .section__title #[span(class="section__title--bold") Cloud] Hosting
        .section__subtitle SaaS architecture
        img.banner(src="images/b2_core/cloud_banner.png", alt="banner")
        .section__subtitle.section__subtitle--bottom We have deployed the cloud network infrastructure on the Amazon servers and configured GEO DNS around the world so you can instantly load your services from anywhere in the world. 