.section-13.section.connect_section
  .section__title.goanim.an #[span(class="section__title--bold") Connect ]your trading platform #[span(class="section__title--bold") easily]
  .main-text.goanim.an B2Core is already integrated with major trading platforms on the market. All you need is to provide your API access credentials.
  .mac_slider
    .mac_slider--slick
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/b2_core/connect/item1.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/b2_core/connect/icon1.png", alt="icon")
          span A provider of technology for multi-asset class execution, connectivity, aggregation, distribution and hub.
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/b2_core/connect/item2.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/b2_core/connect/icon2.png", alt="icon")
          span A matching engine platform for exchanges developed by B2Broker that powers up the world's best-known exchanges. 
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/b2_core/connect/item3.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/b2_core/connect/icon3.png", alt="icon").castom
          span An electronic trading platform widely used by the online retail Forex industry developed by MetaQuotes Software.
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/b2_core/connect/item4.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/b2_core/connect/icon4.png", alt="icon")
          span A financial technology provider with cutting-edge aggregation software, ultra-low-latency connectivity, institutional grade hosting solutions.
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/b2_core/connect/item8.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/b2_core/connect/icon8.png", alt="icon")
          span An electronic trading platform widely used by the online retail Forex industry developed by MetaQuotes Software.  
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/b2_core/connect/item5.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/b2_core/connect/icon5.png", alt="icon")
          span A platform combining the features of margin and spot trading in one system powered by B2Broker.  
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/b2_core/connect/item6.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/b2_core/connect/icon6.png", alt="icon")
          span A multi-asset trading platform developed by DevExperts supporting trading equities, ETFs, Futures, Forex, Commodities, CFDs and cryptocurrencies.
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/b2_core/connect/item7.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/b2_core/connect/icon7.png", alt="icon")
          span cTrader is Spotware’s flagship trading platform solution developed by Spotware and a brand trusted by millions of traders worldwide. 
  .branding_block
    .branding_block__item
      img(src="images/b2_core/connect/icon1.png", alt="icon")
    .branding_block__item
      img(src="images/b2_core/connect/icon8.png", alt="icon")
    .branding_block__item
      img(src="images/b2_core/connect/icon5.png", alt="icon")
    .branding_block__item 
      img(src="images/b2_core/connect/icon7.png", alt="icon")
    .branding_block__item 
      img(src="images/b2_core/connect/icon3.png", alt="icon")
    .branding_block__item 
      img(src="images/b2_core/connect/icon2.png", alt="icon")
    .branding_block__item 
      img(src="images/b2_core/connect/icon4.png", alt="icon")
    .branding_block__item 
      img(src="images/b2_core/connect/icon6.png", alt="icon") 

  .container
    .big_text and #[span(class="extrabold") any other trading platforms]
    .little_text Integration from 14 days.
        