.section.cutting_section
    .container
        .section__title.goanim.an Cutting-Edge #[span(class="section__title--bold db") Advanced Trading UI]
        .section__subtitle.goanim.an We have committed a lot of time and effort into building the most user-friendly, functional and customisable interface for end-users to make the most of their trading experience, regardless of the platform used!
        img.banner(src="images/b2_core/cutting.png", alt="banner")

    .container

        .cutting_catalog
            .cutting_catalog__item
                .cutting_catalog__heading Friendly UI
                .cutting_catalog__subheading The front end is optimally #[span(class="db")] designed and animated to avoid #[span(class="db")] any confusion on the clients' side.

            .cutting_catalog__item
                .cutting_catalog__heading Order Percentage
                .cutting_catalog__subheading Fill in the details of your#[span(class="db")] order by clicking on quick percentages in your order#[span(class="db")] widget.

            .cutting_catalog__item
                .cutting_catalog__heading Favourites
                .cutting_catalog__subheading Save your most tradable markets and easily adjust all the widgets #[span(class="db")]to these pairs.

            .cutting_catalog__item
                .cutting_catalog__heading Day/Night Mode
                .cutting_catalog__subheading Change the mode of the UI so #[span(class="db")]that end-users can comfortably #[span(class="db")]trade 24/7.

            .cutting_catalog__item
                .cutting_catalog__heading Order Book Grouping
                .cutting_catalog__subheading Show the trader the true depth #[span(class="db")]of your liquidity with the grouping feature which allows you to check how the order will be executed.

            .cutting_catalog__item
                .cutting_catalog__heading Depth Of Market
                .cutting_catalog__subheading In addition to the order-book, #[span(class="db")]end-users can analyse the #[span(class="db")]market by adding the Market#[span(class="db")] Depth Widget to the workspace.

            .cutting_catalog__item
                .cutting_catalog__heading Adaptive Colouring
                .cutting_catalog__subheading Provide us with your logo and favicon and we will design the product to fully match your company colours.

            .cutting_catalog__item
                .cutting_catalog__heading Workspaces
                .cutting_catalog__subheading Create an unlimited number of workspaces with a different set #[span(class="db")]of widgets to maximise your #[span(class="db")]trading experience.

            .cutting_catalog__item
                .cutting_catalog__heading Dynamic Interface
                .cutting_catalog__subheading Customise the trading interface #[span(class="db")]and personalise your cabinet.#[span(class="db")] Your clients will love how #[span(class="db")]scalable your system is!

            .cutting_catalog__item
                .cutting_catalog__heading Watchlist 
                .cutting_catalog__subheading Choose your pairs to view the #[span(class="db")]key elements and quickly adjust your workspace to a particular #[span(class="db")]pair with just one click.

            .cutting_catalog__item
                .cutting_catalog__heading Easy Navigation
                .cutting_catalog__subheading A highly responsive and scalable menu that allows the user to quickly and efficiently perform different actions in their personal cabinet.

            .cutting_catalog__item
                .cutting_catalog__heading Detailed Orders #[span(class="db")]History
                .cutting_catalog__subheading Check data including size, side, quantity, price and much more#[span(class="db")] with our orders history widget.

        .cutting__many_more And #[span(class="extrabold") many more]
        .branding_heading Supported platforms
        .branding_subheading We have developed a unique User Interface for the platforms shown below and continue to expand our list.
        .branding_block
            .branding_block__item
                img(src="images/b2_core/logo1.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/logo2.png", alt="icon")
            .branding_block__item 
                img(src="images/b2_core/logo3.png", alt="icon") 
            .branding_block__item 
                img(src="images/b2_core/logo4.png", alt="icon")