.section.dark_style.demo_section.goanim.an
    .container
        .section__title Try a Free #[span(class="section__title--bold") Demo]
        .section__subtitle We have specifically prepared a range of demo environments so you can try things out. Give it a go now !
        a(href="#").btn.btn--green.btn--box_shadow Get Started!