.section.dark_style.section__education
    .container.goanim.an
        .section__title #[span(class="section__title--bold") Education] and #[span(class="section__title--bold") Training]  #[span(class="db") ]in #[span(class="section__title--bold") your language]
        .language_block
            .language_block__item
                img(src="images/b2_core/education/icon1.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon2.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon3.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon4.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon5.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon6.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon7.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon8.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon9.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon10.svg", alt="icon")
        .language_heading We speak English, Spanish, Arabic, Russian, #[span(class="db")]Chinese (Mandarin & Traditional), Hindi, Urdu, Farsi, Ukranian, Belarusian & Turkish.
        .section__subtitle We provide a whole range of educational materials and documentation and are able to help with in-depth training for your team!