.section.section__exchanger
    .container
        .section__title Exchanger/#[span(class="section__title--bold") Converter]
        .section__subtitle A web interface for a crypto-crypto/fiat-crypto exchange in a few clicks. Full customization, REST API connection to any exchanges and providers. You can do markups, add any pairs and connect it to any liquidity provider or carry out internalisation. 
        img.banner(src="images/b2_core/exchanger.png", alt="banner")