.section.section__external
    .container.goanim.an
        .section__title External #[span(class="section__title--bold") CRM & Ticket Systems] Integrations
        .branding_block
            .branding_block__item
                img(src="images/b2_core/external/external1.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/external/external2.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/external/external3.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/external/external4.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/external/external5.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/external/external6.png", alt="icon", style="max-width:120px")