.section-22.faq.goanim.an
  .container
    .section__title.section__title--bold FAQs
    .main-text Have a question? A source of useful information about our products and services.
    .question

      .question-item.faq_btn_js(data-id="1")
        span What if I want to import the users from my previous solution ?
        .question__plus
          span
          span
        .question-item_content(data-id="1") We support any type of data import, we will customise the script under your specifications and will make a migration so that all the data is safely transferred to B2Core.

      .question-item.faq_btn_js(data-id="2")
        span After the purchase how can I familiarise myself with the product functionalities ?
        .question__plus
          span
          span
        .question-item_content(data-id="2") We have built a strong onboarding procedures. You will have a personal account manager that will provide you with all the necessary documentation on the product possibilities. In addition, we will schedule a call with the product manager that will walk you through the functionality and will answer all of your questions.

      .question-item.faq_btn_js(data-id="3")
        span What if I need something extra development for my B2Core solution ?
        .question__plus
          span
          span
        .question-item_content(data-id="3") We have a team of 30+ dedicated developers that are working on B2Core improvements and new features and we are always open for client wishes. All you will need to do is to give us a technical description of what you want and our team will take care about the implementation and your personal account manager will keep you posted about the release dates.

      .question-item.faq_btn_js(data-id="4")
        span How do I report any issues regarding the product ?
        .question__plus
          span
          span
        .question-item_content(data-id="4") In case you found a bug in the product, we have a 24/7 Helpdesk system with 20+ Support specialists behind it. Your personal account manager will walk you through it so that once you face a problem you can quickly report it and our support team will immediately start working on the fix.

      .question-item.faq_btn_js(data-id="5")
        span How can I connect the Payment system that is already in your integrated list ?
        .question__plus
          span
          span
        .question-item_content(data-id="5") It is as simple as creating a method in your admin panel for deposits and withdrawals and entering the API keys in order to connect to the platform, this can be done in a matter of minutes.

      .question-item.faq_btn_js(data-id="6")
        span What if I have a lot of managers and they all need different access rights to the admin panel ?
        .question__plus
          span
          span
        .question-item_content(data-id="6") Specifically for that we build a right-based User groups, where you will be able to assign to the users only the sections that are specifically needed for his/her department. In addition, we launched a tag system, that will allow your admins to monitor only the clients' data that are "tagged" to them.

      .question-item.faq_btn_js(data-id="7")
        span How do I upgrade/downgrade from one package to another ?
        .question__plus
          span
          span
        .question-item_content(data-id="7") In order to upgrade to a higher package you just need to inform the account manager about your decision and it will be taken care of from there. However, in order to downgrade from one package to another, you need to inform our team 2 month prior.
      
      .another_question.another_question__for_btn
        div
          .another_question--heading Have another question?
          .another_question--link We ready to answer all you questions. You may contact us with the form next to.
        a(href="#").btn.btn--green.js-modal2-btn ASK us now

      
          
        
