.section.dark_style.feature
    .container
        .section__title.goanim.an Key #[span(class="section__title--bold") Features]
        .feature__block
            .feature__image
                img(src="images/b2_core/feature_1.png", alt="image")
            .feature__text
                .feature__heading Wallets 
                .feature__subheading Store, exchange, transfer, withdraw and trade with your funds in various nominations within B2Core's safe and secure space.
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Momentary Transfers
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Adaptive Colouring
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Instant Wallet Addition
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Fiat & Crypto Wallets
        .feature__block
            .feature__text
                .feature__heading Funds
                .feature__subheading Instantly send funds to a trading platform in order to avoid margin calls and stop outs thanks to our deep integration with flagship trading platforms.
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Conversion Rates Display
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Methods Grouping
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Credit Cards UI
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Custom Methods Addition
            .feature__image
                img(src="images/b2_core/feature_2.png", alt="image")
        .feature__block
            .feature__image
                img(src="images/b2_core/feature_3.png", alt="image")
            .feature__text
                .feature__heading Platforms
                .feature__subheading Retrieve all your financial records from  your financial operations recorded under a user-friendly table inside the B2Core space.
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Accounts Opening
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Detailed Account Analytics
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Multiple Platforms Integrations
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Platform Download Links
        .feature__block
            .feature__text
                .feature__heading Trading Analytics
                .feature__subheading Give your clients the opportunity to check their trading activity and analyze the key metrics inside the B2Core cabinet.
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Trading Monitoring
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Comprehensive Metrics
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Multiple Platforms Support
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Simple/Advanced Statistics
            .feature__image
                img(src="images/b2_core/feature_4.png", alt="image")
        .feature__block
            .feature__image
                img(src="images/b2_core/feature_5.png", alt="image")
            .feature__text
                .feature__heading KYC
                .feature__subheading Allow your clients to verify their accounts before conducting any financial activities on the platform.
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Unlimited Levels
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Levels Decription
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Documents Constructor
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Custom Resolutions
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Third-Party Integrations
           
            
            

