.section.section__integrated
    .container
        .section__title Integrated #[span(class="section__title--bold") PSPs]
        .section__subtitle 30+ integrated PSPs, EMIs, E-money, Banks and other payment providers can be enabled in under 5 minutes after completing the necessary paperwork.
        .branding_block
            .branding_block__item
                img(src="images/b2_core/integrated/icon1.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon2.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon3.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon4.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon5.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon6.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon7.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon8.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon9.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon10.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon11.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon12.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon13.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon14.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon15.png", alt="icon")
        .big_text We can integrate any platform #[span(class="extrabold") in just 14 days]
        a.gray__more_btn Check-out the full list
            img(src="images/b2_core/gray_arrow.svg", alt="icon")
        .section__title Cashier #[span(class="section__title--bold") Systems]
        .branding_block.branding_block--litle
            .branding_block__item
                img(src="images/b2_core/integrated/icon16.png", alt="icon")
            .branding_block__item
                img(src="images/b2_core/integrated/icon17.png", alt="icon")