.section.section__integrations
    .container
        .section__title.goanim.an #[span(class="section__title--bold") More] Interesting #[span(class="section__title--bold") Integrations]
    
        .gray_block__container
            .gray__block
                .gray__block--title SMS-services
                .gray__block--subtitle Allow your clients to verify their account and consequently secure it using their phone number.
                .gray__block--icon_block
                    img(src="images/b2_core/interisting_icon1.png", alt="icon")
                    img(src="images/b2_core/interisting_icon2.png", alt="icon")
            .gray__block
                .gray__block--title Email-services
                .gray__block--subtitle Easy connection to email services to quickly analyse data and the ability to send emails to existing B2Core clients.
                .gray__block--icon_block
                    img(src="images/b2_core/interisting_icon3.png", alt="icon")
                    img(src="images/b2_core/interisting_icon4.png", alt="icon")
            .gray__block
                .gray__block--title Google ReCaptcha
                .gray__block--subtitle Secure your product by connecting it to the system which checks for potential DDoS attacks and fraud.
            .gray__block
                .gray__block--title Google 2FA
                .gray__block--subtitle Allow your clients to protect their account and all the data there by simply connecting to Google Authenticator.
            .gray__block
                .gray__block--title Marketing Tools
                .gray__block--subtitle Create events for your user activities to enable your marketing team to base your marketing campaigns on the deepest analytics data.
                .gray__block--icon_block
                    img(src="images/b2_core/interisting_icon5.png", alt="icon",style="width:172px")
                    img(src="images/b2_core/interisting_icon6.png", alt="icon",style="width:124px")
            .gray__block
                .gray__block--title Trading Reporting
                .gray__block--subtitle The ability for retail traders to see their true trading costs and compare their execution quality to the market average.
                .gray__block--icon_block
                    img(src="images/b2_core/interisting_icon7.png", alt="icon",style="width:134px")