.section.dark_style.section__kyc.goanim.an
    .container
        .section__title #[span(class="section__title--bold") KYC] Module
        .section__subtitle Know-Your-Customer is an important procedure for any broker and exchange. We offer ready integration with the leading global KYC providers and can integrate any additional ones. 
    .container

        .advanced_slider.advanced_slider_b2_core
            .advanced_slider--wrapper
                .advanced_slider--slick
                    .item
                        img(src="images/b2_core/mac3.png", alt="item")
                    .item
                        img(src="images/b2_core/mac4.png", alt="item")
                .advanced_slick--prev
                    +icon('slider-arrow-green')
                .advanced_slick--next.slider_arrow--green
                    +icon('slider-arrow')
    .container
        .integrated_with
            .integrated_with__heading Integrated with
            .iw_block
                .iw_block__left
                    .iw_block__left_logo
                        img(src="images/b2_core/with_icon1.png", alt="icon")
                    p #[span(class="bold") API] - integration with the data passed from server to server and the front-end being on the B2Core side.
                    p #[span(class="bold") WebSDK]  - Sum & Substance front-end integrated into B2Core front-end and adapted to the client's colours so the flow is as smooth as possible when passing the Liveness check.
                .iw_block__right
                    .iw_block__right_logo
                        img(src="images/b2_core/with_icon2.png", alt="icon")
                    p #[span(class="bold") API] - integration with the data passed from server to server and the front-end being on the B2Core side.

