.section-16.mam_frame.b2_frame
  .container.goanim.an
    .section__title B2Core #[span(class="section__title--bold") Presentation]
    .video_block
      .video_block--preview
        img(src="images/video_b2_core_preview.jpg", alt="video_previw").image_preview
        img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
        .video--time 1:34
      <iframe  src="https://www.youtube.com/embed/DDhqR2pm9LQ" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    .video_description Cloud-Based CRM System & Back Office
    .video_subdescription Manage your Customers, Admins and IBs with ease. A proven  solution for Business.