.section-16.mam_frame.b2_frame.goanim.an
  .container
    .section__title B2Core #[span(class="section__title--bold") Presentation]
    .video_block
      .video_block--preview
        img(src="images/video_previw.jpg", alt="video_previw").image_preview
        img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
        .video--time 2:04
      <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    .video_description B2Broker - Liquidity & Technology Provider
    .video_subdescription B2Broker is a liquidity and technology provider for the Crypto and Forex industry. Our clients include brokers, crypto exchanges, crypto brokers, forex #[span(class="db")] brokers, hedge and crypto funds and professional managers.