.section.section__many
    .container.goanim.an
        .section__title #[span(class="section__title--bold ") Money Management] platform Integrated
        img.banner(src="images/b2_core/mm_banner.png", alt="banner")