.section.goanim.an
    .container
        .section__title #[span(class="section__title--bold ") Money Management] platform Integrated
        img.banner(src="images/b2_core/mm_banner.png", alt="banner")