.section.section__mobile_app
    .container.goanim.an
        .section__title Mobile #[span(class="section__title--bold") App]
        .section__subtitle Create your own developers account in Apple Store or use our ready-made account.
        img.banner(src="images/b2_core/mobile_app.png", alt="banner")
        .check_container
            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Registration and Login
            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Deposit/Withdrawal/Transfer
            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Easy verification
            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Google 2FA/Face ID
            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Open account in trading platforms
            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Profile and settings