.section.section__notification
    .container
        .section__title #[span(class="section__title--bold") Notification] System
        .section__subtitle Keep you clients up-to-date with all company's latest news and important#[span(class='db')] notifications with our home-made system!
    
    .container
        .flickity_notification--js.flickity_castom_arrow
            .item
                img(src="images/b2_core/notification1.png", alt="image").main
                img(src="images/b2_core/notification_shadow.png", alt="shadow").shadow
            .item
                img(src="images/b2_core/notification2.png", alt="image").main
                img(src="images/b2_core/notification_shadow.png", alt="shadow").shadow
            .item
                img(src="images/b2_core/notification3.png", alt="image").main
                img(src="images/b2_core/notification_shadow.png", alt="shadow").shadow
            .item
                img(src="images/b2_core/notification4.png", alt="image").main
                img(src="images/b2_core/notification_shadow.png", alt="shadow").shadow
    
    .container
        .new_box-catalog
            .box_block
                .box_block--title Full Customization
                .box_block--text Admins will have an access to create these notifications from the scratch, starting with the content and ending with attachments.
            
            .box_block
                .box_block--title Required/Optional
                .box_block--text Decide on which type do you want to use, whether it is the information that must be read by all or just an informational notification.
            
            .box_block
                .box_block--title Translations
                .box_block--text Right inside the admin panel you will be able to translate the notification so that #[span(class="db")]the clients will view the information#[span(class="db")] written in their native language.
            
            .box_block
                .box_block--title Targeted Notifications
                .box_block--text You can select the users that will receive #[span(class="db")]a notification in order to address parti- cular information to particular people.
            
            .box_block
                .box_block--title Reactions
                .box_block--text Check in the admin panel how many#[span(class="db")] users read the notification in order to analyze the targeted public metrics