.section.section__registration
    .office_slider.flickity_castom_arrow

        .office_slider__item
            .office_slider__text
                .office_slider__heading Registration Wizard
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Construct Different Fields
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Add Phone Confirmation
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Add/Remove Fields
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Enable/Disable Registration
            .office_slider__image
                img(src="images/b2_core/white_office/item1.png", alt="banner")
        
        .office_slider__item
            .office_slider__text
                .office_slider__heading Documents
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text View Uploaded Documents
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Save Documents
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text View Statuses
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Export Table
            .office_slider__image
                img(src="images/b2_core/white_office/item2.png", alt="banner")

        .office_slider__item
            .office_slider__text
                .office_slider__heading PAMM
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Configure Connection
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text IB Restriction
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Create Multiple Connections
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Adaptive Table
            .office_slider__image
                img(src="images/b2_core/white_office/item3.png", alt="banner")
        
        .office_slider__item
            .office_slider__text
                .office_slider__heading Payout Methods
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Create Methods
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Restrict Methods
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Update Priority
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Assign Logos
            .office_slider__image
                img(src="images/b2_core/white_office/item4.png", alt="banner")

        .office_slider__item
            .office_slider__text
                .office_slider__heading Client Requests Resolution
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Add Custom Resolution
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Group Resolutions
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Localise Text
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Enable/Disable Resolution
            .office_slider__image
                img(src="images/b2_core/white_office/item5.png", alt="banner")
        
        .office_slider__item
            .office_slider__text
                .office_slider__heading Payment Methods
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Create Methods
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Restrict Methods
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Update Priority
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Assign Logos
            .office_slider__image
                img(src="images/b2_core/white_office/item6.png", alt="banner")
        
        .office_slider__item
            .office_slider__text
                .office_slider__heading Email Templates
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Source Code
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Edit Templates
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Add Localised Templates
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Create New Templates
            .office_slider__image
                img(src="images/b2_core/white_office/item7.png", alt="banner")
        
        .office_slider__item
            .office_slider__text
                .office_slider__heading Verification Levels
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Create/Edit/Delete Levels
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Construct Document Groups
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Description Source Code
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Verification Level Limits
            .office_slider__image
                img(src="images/b2_core/white_office/item8.png", alt="banner")
        
        .office_slider__item
            .office_slider__text
                .office_slider__heading Users
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Add Admins
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Change User Group
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Send Access via Email
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text IP Whitelist
            .office_slider__image
                img(src="images/b2_core/white_office/item9.png", alt="banner")
        
        .office_slider__item
            .office_slider__text
                .office_slider__heading User Groups
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Add/Remove Rights
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Edit Rights
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text View Assigned Users
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Adaptive Table
            .office_slider__image
                img(src="images/b2_core/white_office/item10.png", alt="banner")