.section.section__registration
    .container
        .section__title.goanim.an #[span(class="section__title--bold") IB] Room#[span(class="db")]  #[span(class="section__title--bold") Affiliate] Module
        .section__subtitle.goanim.an The affiliate module is the best marketing tool in the FOREX and cryptocurrency space. Any trader can become a partner.
    .office_slider.flickity_castom_arrow

        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/registration1.png", alt="banner")
            .office_slider__text
                .office_slider__heading Analytics
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Detailed Visualisations
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Analytics Type Sorting
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Client Demographics Map
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Top IBs Table
        
        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/registration2.png", alt="banner")
            .office_slider__text
                .office_slider__heading Introducing Brokers
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text View IB Data
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Edit Personal Multiplier
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text View IB Clients & Rebates
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text See Creation Date

        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/registration3.png", alt="banner")
            .office_slider__text
                .office_slider__heading Trades
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Trades Data (Group, Symbol etc)
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Export Trades
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text View Volumes
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Sort by Data
            
        
        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/registration4.png", alt="banner")
            .office_slider__text
                .office_slider__heading Rebates
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Rebate Calculations
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text View IB Rebates
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Trade Details
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Rebates Data (Trade ID, Trade Time etc)
            

        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/registration5.png", alt="banner")
            .office_slider__text
                .office_slider__heading Type of IBs
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Customize Levels, Tiers
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Multicurrency Choice
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text View Daily Sliced Rebates
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Assign Personal Rebates for Each Symbol
            
        
        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/registration6.png", alt="banner")
            .office_slider__text
                .office_slider__heading Preferences
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Registration Type
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Hide Emails
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Platforms Connection
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Test Slack Connection
            
        
        .office_slider__item
            .office_slider__image
                img(src="images/b2_core/registration7.png", alt="banner")
            .office_slider__text
                .office_slider__heading IB Room 
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text View Referral Links
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Monitor Rebates
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Withdraw to Personal Wallets
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text See Full Commission History
    .container
        .types
            .types__column
                .types__heading Types of rebates
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Lots
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Commissions
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Spreads
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Markup %
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Markup Pips
            .types__column
                .types__heading Time distribution
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Online
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Hourly
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Daily
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Weekly
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Monthly
            .types__column
                .types__heading Supported platforms
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text 
                        img(src="images/b2_core/types_icon1.png", alt="icon")
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text
                        img(src="images/b2_core/types_icon2.png", alt="icon")
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text
                        img(src="images/b2_core/types_icon3.png", alt="icon")
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text
                        img(src="images/b2_core/types_icon4.png", alt="icon")
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text 
                        img(src="images/b2_core/types_icon5.png", alt="icon")