.section.section__sacurity
    .container
        .section__title.section__title--bold.goanim.an Security
        .section__subtitle.goanim.an Security is our priority! We have conducted dozens of vulnerability tests with over 1,000 attempts to hack into our solutions with no success. Based on this experience we have developed functionality that will allow you to predict and avoid any slipups.
        img.banner(src="images/b2_core/mac_banner.png", alt="banner")

        .gray_block__container
            .gray__block
                .gray__block--title 2FA
                .gray__block--subtitle Ensure your account access has only verified accounts with an extra layer of security, supported by phone number and Google Authenticator.
            .gray__block
                .gray__block--title IP Whitelist
                .gray__block--subtitle Whitelist the withdrawal wallet to receive outgoing funds to trusted destinations only.
            .gray__block
                .gray__block--title Restrictions 
                .gray__block--subtitle Block certain functions to specific clients, countries, verifi-cation levels and much more for effective coordination and organisation in your system.
            .gray__block
                .gray__block--title Anti-Fraud
                .gray__block--subtitle A homemade anti-fraud system enables vulnerabilities form your end-users actions to be tracked.

            .gray__block
                .gray__block--title Rights-Based Access
                .gray__block--subtitle Enables you to split access across various departments in order to withhold information from unnecessary eyes.
            .gray__block
                .gray__block--title User Comments
                .gray__block--subtitle Keep a journal on each of your clients which can be used for different purposes such as dealing, risk, legal, etc.
            .gray__block
                .gray__block--title Documents
                .gray__block--subtitle Track the history of KYC uploads to check on expired documents and potential fraud, etc.
            .gray__block
                .gray__block--title IP History
                .gray__block--subtitle Examine all entry points to B2Core in order to establish the potential for attacks to your system.