.section.section__staging
    .container.goanim.an
        .section__title #[span(class="section__title--bold") Staging ]Environment 
        .section__subtitle B2Core updates are first deployed to the staging environment for client testing and proceed to production deployment only after approval. This is done to minimize the risk of bugs on production and is a scheme that will make your product the most stable on the market.
        img.banner(src="images/b2_core/staging.png", alt="banner")