.section.section__technical.goanim.an
    .container 
        .section__title Technical #[span(class="section__title--bold") Support] & Availability
        .date_text 24/7/365
        .section__subtitle Our professional customer service team is available round the clock to assist you with any queries. Please do not hesitate to get in touch.