.section.section__translate
    
    .section__title.goanim.an #[span(class="section__title--bold") Translate] content #[span(class="section__title--bold") into #[span(class="db")] any language] in 5 minutes 
    .section__subtitle.goanim.an Weblate has a simple and straightforward admin panel that allows you to quickly search for content that you wish to change. 

    .container
        .advanced_slider.advanced_slider_b2_core
            .advanced_slider--wrapper
                .advanced_slider--slick-2
                    .item
                        img(src="images/b2_core/mac1.png", alt="item")
                    .item
                        img(src="images/b2_core/mac2.png", alt="item")
                .advanced_slick--prev-2
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.79471 8.96104L1.96821 15.6389C1.53396 16.0639 0.829903 16.0639 0.395866 15.6389C-0.0382055 15.2142 -0.0382055 14.5255 0.395866 14.1009L6.43626 8.19207L0.396042 2.28343C-0.0380298 1.85863 -0.0380298 1.16999 0.396042 0.74536C0.830114 0.320557 1.53414 0.320557 1.96838 0.74536L8.79488 7.42328C9.01192 7.63569 9.12031 7.9138 9.12031 8.19204C9.12031 8.47042 9.01171 8.74873 8.79471 8.96104Z" fill="#01BD95"/>
                    </svg>
                .advanced_slick--next-2
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.79471 8.96104L1.96821 15.6389C1.53396 16.0639 0.829903 16.0639 0.395866 15.6389C-0.0382055 15.2142 -0.0382055 14.5255 0.395866 14.1009L6.43626 8.19207L0.396042 2.28343C-0.0380298 1.85863 -0.0380298 1.16999 0.396042 0.74536C0.830114 0.320557 1.53414 0.320557 1.96838 0.74536L8.79488 7.42328C9.01192 7.63569 9.12031 7.9138 9.12031 8.19204C9.12031 8.47042 9.01171 8.74873 8.79471 8.96104Z" fill="#01BD95"/>
                    </svg>
                    
                

    .container
        .gray_block__container

            .gray__block
                .gray__block--title 17 languages supported
                .gray__block--subtitle Weblate currently supports 17 languages but more languages can be added on request.

            .gray__block
                .gray__block--title Import existing translations
                .gray__block--subtitle Weblate allows you to transfer existing translations from one project to another, so you do not have to do everything from scratch.