.section.section__translate
    
    .section__title.goanim.an #[span(class="section__title--bold") Translate] content in #[span(class="db")]5 minutes #[span(class="section__title--bold") into any language]
    .section__subtitle.goanim.an Weblate has a simple and straightforward admin panel that allows you to quickly search for content that you wish to change. 

    .container
        .advanced_slider.advanced_slider_b2_core
            .advanced_slider--wrapper
                .advanced_slider--slick-2
                    .item
                        img(src="images/b2_core/mac1.png", alt="item")
                    .item
                        img(src="images/b2_core/mac2.png", alt="item")
                .advanced_slick--prev-2
                    +icon('slider-arrow-green')
                .advanced_slick--next-2.slider_arrow--green
                    +icon('slider-arrow')
                

    .container
        .gray_block__container

            .gray__block
                .gray__block--title 17 languages supported
                .gray__block--subtitle Weblate currently supports 17 languages but more languages can be added on request.

            .gray__block
                .gray__block--title Import existing translations
                .gray__block--subtitle Weblate allows you to transfer existing translations from one project to another, so you do not have to do everything from scratch.