.section.who_uses_section.dark_style.goanim.an
  .container
    .section__title Who uses #[span(class="section__title--bold") B2Core]
    .who_uses_block
      .who_uses_block__item
        .who_uses_block__big#wub1--js 0
        .who_uses_block__small Forex Brokers
      .who_uses_block__item
        .who_uses_block__big#wub2--js 0
        .who_uses_block__small Crypto Brokers
      .who_uses_block__item
        .who_uses_block__big#wub3--js 0
        .who_uses_block__small Crypto Exchanges
      .who_uses_block__item
        .who_uses_block__big#wub4--js 0
        .who_uses_block__small Margin Exchanges
      .who_uses_block__item
        .who_uses_block__big#wub5--js 0
        .who_uses_block__small Converters
      .who_uses_block__item
        .who_uses_block__big#wub6--js 0
        .who_uses_block__small EMI PSPs
      .who_uses_block__item
        .who_uses_block__big#wub7--js 0
        .who_uses_block__small Banks
    .date_description Updated April 25th 2020
