.section.who_is_it_for
  .container
    .section__title.goanim.an Who is #[span(class="section__title--bold") it for?]
    .section__subtitle.goanim.an We have already onboarded many industry leaders with our cutting-edge technology! B2Core is an ideal solution for all types of businesses.
  .container
    .it_for__block
      .it_for__item
        .it_for__icon
          img(src="images/b2_core/for/icon1.svg", alt="icon")
        .it_for__text
          .it_for__heading Crypto CFD Broker
          .it_for__description A trading account nominated in any type of cryptocurrency, fast crypto deposits and withdrawals through B2BinPay. Ability to accept funds with internal conversion.
      .it_for__item
        .it_for__icon
          img(src="images/b2_core/for/icon2.svg", alt="icon")
        .it_for__text
          .it_for__heading Forex Broker
          .it_for__description Deep integration with the flagship trading plaftorm, MetaTrader. Deposits, withdrawals, instant transfers and everything you need for the ultimate trading experience with B2Core.
      .it_for__item
        .it_for__icon
          img(src="images/b2_core/for/icon3.svg", alt="icon")
        .it_for__text
          .it_for__heading Spot Crypto Exchange
          .it_for__description A turnkey solution with one of the best Trading UI on the market. Deep integration with B2Trader provides access to a huge variety of technical solutions such as 5 order types, trading API and much more.
      .it_for__item
        .it_for__icon
          img(src="images/b2_core/for/icon4.svg", alt="icon")
        .it_for__text
          .it_for__heading Margin Exchange
          .it_for__description Margin multi-asset trading including crypto-currencies are included. Advanced dealing and risk management settings are designed to increase the revenue from the trading flow. Dynamic leverage on every order.
      .it_for__item
        .it_for__icon
          img(src="images/b2_core/for/icon5.svg", alt="icon")
        .it_for__text
          .it_for__heading Wallet/Mobile App
          .it_for__description Allow your clients to safely store their funds. Provide multiple variants of deposits/withdrawals in your system. Onboard clients not just through the web but via mobile app. 
      .it_for__item
        .it_for__icon
          img(src="images/b2_core/for/icon6.svg", alt="icon")
        .it_for__text
          .it_for__heading Bank & Hedge fund
          .it_for__description Regulate the funds that are being used by the clients in your banking system. Offer reconciliations and easy statements on their accounts.
      .it_for__item
        .it_for__icon
          img(src="images/b2_core/for/icon7.svg", alt="icon")
        .it_for__text
          .it_for__heading PSP/EMI
          .it_for__description Create a space where clients can easily choose the method of payments, process them and analyse all the ins and outs.
      .it_for__item
        .it_for__icon
          img(src="images/b2_core/for/icon8.svg", alt="icon")
        .it_for__text
          .it_for__heading Converter
          .it_for__description Offer clients a cabinet with instant deposits/withdrawals and the possibility to get one currency converted into another with no limits.