.section.who_uses_section.dark_style.goanim.an
  .container
    .section__title Who uses #[span(class="section__title--bold") B2Core]
    .who_uses_block
      .who_uses_block__item
        .who_uses_block__big 51
        .who_uses_block__small Forex Brokers
      .who_uses_block__item
        .who_uses_block__big 27
        .who_uses_block__small Crypto Brokers
      .who_uses_block__item
        .who_uses_block__big 15
        .who_uses_block__small Crypto Exchanges
      .who_uses_block__item
        .who_uses_block__big 5
        .who_uses_block__small Margin Exchanges
      .who_uses_block__item
        .who_uses_block__big 18
        .who_uses_block__small Converters
      .who_uses_block__item
        .who_uses_block__big 5
        .who_uses_block__small EMI PSPs
      .who_uses_block__item
        .who_uses_block__big 1
        .who_uses_block__small Banks
    .date_description Updated April 25th 2020
