.section.dark_style.section__also
    .container
        .section__title Read #[span(class="section__title--bold") also]
    
    .container.also__flex
        .also(style="background-image: url(images/also/also3.png);")
            .also__overlay
            a.also__btn(href="#") Read  more
            .also__title Stay connected with
            .also__content
                .also__description B2BinPay – it’s fast & secure crypto payments
                .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features
                .also__date 21.04.2020
        
        .also(style="background-image: url(images/also/also1.png);")
            .also__overlay
            a.also__btn(href="#") Read  more
            .also__title Article
            .also__content
                .also__description B2BinPay – it’s fast & secure crypto payments
                .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features
                .also__date 21.04.2020
        
        .also(style="background-image: url(images/also/also2.png);")
            .also__overlay
            a.also__btn(href="#") Read  more
            .also__title Article
            .also__content
                .also__description B2BinPay – it’s fast & secure crypto payments
                .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features
                .also__date 21.04.2020
    
    .container
        .cathalogue
            .cathalogue__title Get our product cathalogue
            .cathalogue__subtitle No email is required. Just download and read. 
            .new_green_btn Click to download
            img(src="images/book.png", alt="image").cathalogue__image