.section.dark_style.section__future
    .container.goanim.an
        .section__title #[span(class="section__title--bold") Future] events
        .section__subtitle Global Events, Expos & Conferences

    .container.goanim.an
        .future
            .future__description
                p.future__month April
                p.future__date 14 - 15 April 2020
                p.future__location Singapore
                p.future__booth Booth 111
                a.future__btn.desabled(href="#") Exhibition
            .future__content
                .future__overlay
                img.future__banner(src="images/future/banner1.png", alt="banner")
                .future__title Blockshow Asia
                .future__subtitle If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                img.future__logo(src="images/future/icon1.png", alt="logo", style="width:176px")

        .future
            .future__description
                p.future__month May
                p.future__date 14 - 15 May 2020
                p.future__location Singapore
                p.future__booth Booth 111
                a.future__btn.desabled(href="#") Exhibition
            .future__content
                .future__overlay
                img.future__banner(src="images/future/banner2.png", alt="banner")
                .future__title Blockchain Life
                .future__subtitle If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                img.future__logo(src="images/future/icon2.png", alt="logo", style="width:169px")

        .future
            .future__description
                p.future__month June
                p.future__date 14 - 15 June 2020
                p.future__location Macao
                p.future__booth Booth 10
                a.future__btn.desabled(href="#") Exhibition
            .future__content
                .future__overlay
                img.future__banner(src="images/future/banner3.png", alt="banner")
                .future__title iFX EXPO Asia
                .future__subtitle If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                img.future__logo(src="images/future/icon3.png", alt="logo", style="width:49px")

    .container
        .future_btn_block
            .future_green_btn Schedile a meeting
            .future_more_btn Show all events