.section.section__hear
    .container.goanim.an
        .section__title Here #[span(class="section__title--bold") we are]
        .section__subtitle The most talented people in the world choosing B2Broker

        .hear_flickity--js
            .item
                img(src="images/here/item6.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item8.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item9.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item10.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item5.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item4.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item3.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item2.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item1.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item7.png", alt="image", class="banner")

        .hear_flickity_small--js
            .item
                img(src="images/here/item6.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item8.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item9.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item10.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item5.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item4.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item3.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item2.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item1.jpg", alt="image", class="banner")
            .item
                img(src="images/here/item7.png", alt="image", class="banner")


        a(href="#").new_more_btn About us
        