.section.section__hiring
    .hiring_block(style="background-image: url(images/hiring.png);")
        .section__title We are #[span(class="section__title--bold") hiring]
        .section__subtitle We are looking for the talents permanently
        a.new_green_bord_btn(href="#") All vacancies

    .container
        .says
            .says__title
                img(src="images/says.svg", alt="icon")
                span What the media says
            .says__flickity--js
                .item
                    .says__subtitle B2Broker is a big multinational family with over 150 employees. We appreciate everyone who works with #[span(class="db")] us and inspires us to achieve our success.
                .item
                    .says__subtitle B2Broker is a big multinational family with over 150 employees. We appreciate everyone who works with #[span(class="db")] us and inspires us to achieve our success.

        .family
            .family__block
                .family__line
                img(src="images/family/logo1.png", alt="img").family__logo

            .family__block
                .family__line
                img(src="images/family/logo2.png", alt="img").family__logo

            .family__block
                .family__line
                img(src="images/family/logo3.png", alt="img").family__logo

            .family__block
                .family__line
                img(src="images/family/logo4.png", alt="img").family__logo
                
    a(href="#").new_more_btn Check more


