.section.main_section.machine-slider
    .container.machine_container
        span.section__title#machine-slider
            .item 
                div #[span(class='section__title--bold') Liquidity] &amp; #[span(class='section__title--bold') Technology]
            .item Prime of Prime #[span(class='section__title--bold') Multi-Asset Liquidity]
            .item Advanced #[span(class='section__title--bold') White Label Solutions]
            .item.section__title--bold Technology Solutions 
        span.section__title Provider 
    .section__subtitle Global Prime of Prime Multi-Asset Liquidity & Technology  White Label #[span(class="db")]solutions provider for Brokerages and Exchanges.
    .container
        .date_description Updated April 25th 2020
        .who_uses_block
            .who_uses_block__item
                .who_uses_block__big 203
                .who_uses_block__small Institutional clients
            .who_uses_block__item
                .who_uses_block__big 128
                .who_uses_block__small Employees
            .who_uses_block__item
                .who_uses_block__big 18
                .who_uses_block__small Solutions
            .who_uses_block__item
                .who_uses_block__big 13
                .who_uses_block__small Languages 
            .who_uses_block__item
                .who_uses_block__big 7
                .who_uses_block__small Officies
            .who_uses_block__item
                .who_uses_block__big 4
                .who_uses_block__small Licenses
