.section.main_section
    .container.machine_container
        span.section__title#machine
        span.section__title Provider 
    .section__subtitle A Global Prime of Prime Multi-Asset Liquidity & Technology  White Label #[span(class="db")]solutions provider for Brokerages and Exchanges.
    .container
        .date_description Updated April 25th 2020
        .who_uses_block
            .who_uses_block__item
                .who_uses_block__big 203
                .who_uses_block__small Institutional clients
            .who_uses_block__item
                .who_uses_block__big 128
                .who_uses_block__small Employees
            .who_uses_block__item
                .who_uses_block__big 18
                .who_uses_block__small Solutions
            .who_uses_block__item
                .who_uses_block__big 13
                .who_uses_block__small Languages 
            .who_uses_block__item
                .who_uses_block__big 7
                .who_uses_block__small Offices
            .who_uses_block__item
                .who_uses_block__big 4
                .who_uses_block__small Licenses
