.section.section__news.section--gray
    .container.goanim.an
        .section__title Latest #[span(class="section__title--bold") News]
    .container.goanim.an
        .news
            .news__content
                .news__title B2BinPay – it’s fast & #[span(class="db")]secure crypto payments
                .news__description If you’ve followed along with the leaks in recent weeks, none #[span(class="db")]of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. 
                .news__date 21.04.2020
            .news__preview
                img.news__img(src="images/news_banner1.png", alt="img")
                .news__btn_block
                    .news__btn_preview Corporate news
                    a(href="#").news__btn.gren_bg_btn Read more
        
        .news
            .news__preview
                img.news__img(src="images/news_banner2.png", alt="img")
                .news__btn_block
                    a(href="#").news__btn.gren_bg_btn Read more
                    .news__btn_preview Corporate news
            .news__content
                .news__title B2BinPay – it’s fast & #[span(class="db")]secure crypto payments
                .news__description If you’ve followed along with the leaks in recent weeks, none #[span(class="db")]of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. 
                .news__date 21.04.2020
        
        .news
            .news__content
                .news__title B2BinPay – it’s fast & #[span(class="db")]secure crypto payments
                .news__description If you’ve followed along with the leaks in recent weeks, none #[span(class="db")]of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. 
                .news__date 21.04.2020
            .news__preview
                img.news__img(src="images/news_banner3.png", alt="img")
                .news__btn_block
                    .news__btn_preview News
                    a(href="#").news__btn Read more
        
        .news
            .news__preview
                img.news__img(src="images/news_banner2.png", alt="img")
                .news__btn_block
                    a(href="#").news__btn Read more
                    .news__btn_preview News
            .news__content
                .news__title B2BinPay – it’s fast & #[span(class="db")]secure crypto payments
                .news__description If you’ve followed along with the leaks in recent weeks, none #[span(class="db")]of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. 
                .news__date 21.04.2020
        
        .new__news.news.blue
            .new__news__left(style="background-image: url(images/also/also5.png);")
                .new__news__heading Product update
                .new__news__title B2BinPay – it’s fast & secure#[span(class="db")] crypto payments
                .new__news__subtitle 5 days ago
            .new__news__right
                a(href="#").news__btn Read more
                .new__news__title B2BinPay – it’s fast & secure crypto payments
                .news__description If you’ve followed along with the leaks in recent weeks, none of the new features
                .news__date 21.04.2020
        
    a(href="#").new_more_btn Read more
            