.section.section__news.section--gray
    .container
        .section__title Latest #[span(class="section__title--bold") News]
    .container
        .news
            .news__content
                .news__title B2BinPay – it’s fast & #[span(class="db")]secure crypto payments
                .news__description If you’ve followed along with the leaks in recent weeks, none #[span(class="db")]of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. 
                .news__date 21.04.2020
            .news__preview
                img.news__img(src="images/news_banner1.png", alt="img")
                .news__btn_block
                    .news__btn_preview News
                    a(href="#").news__btn read more
        
        .news
            .news__preview
                img.news__img(src="images/news_banner2.png", alt="img")
                .news__btn_block
                    a(href="#").news__btn read more
                    .news__btn_preview News
            .news__content
                .news__title B2BinPay – it’s fast & #[span(class="db")]secure crypto payments
                .news__description If you’ve followed along with the leaks in recent weeks, none #[span(class="db")]of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. 
                .news__date 21.04.2020
        
        .news
            .news__content
                .news__title B2BinPay – it’s fast & #[span(class="db")]secure crypto payments
                .news__description If you’ve followed along with the leaks in recent weeks, none #[span(class="db")]of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. 
                .news__date 21.04.2020
            .news__preview
                img.news__img(src="images/news_banner3.png", alt="img")
                .news__btn_block
                    .news__btn_preview News
                    a(href="#").news__btn read more
    a(href="#").new_more_btn Read more
            