.section.section__news.section--gray
    .container.goanim.an
        .section__title Latest #[span(class="section__title--bold") News]
    .container.goanim.an
        .news
            .news__content
                .news__title B2BinPay – it’s fast & #[span(class="db")]secure crypto payments
                .news__description If you’ve followed along with the leaks in recent weeks, none #[span(class="db")]of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. 
                .news__date 21.04.2020
            .news__preview
                img.news__img(src="images/news_banner1.png", alt="img")
                .news__btn_block
                    .news__btn_preview Corporate news
                    a(href="#").news__btn.green_bg_btn Read more
        
        .news
            .news__preview
                img.news__img(src="images/news_banner2.png", alt="img")
                .news__btn_block
                    a(href="#").news__btn.green_bg_btn Read more
                    .news__btn_preview Corporate news
            .news__content
                .news__title B2BinPay – it’s fast & #[span(class="db")]secure crypto payments
                .news__description If you’ve followed along with the leaks in recent weeks, none #[span(class="db")]of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. 
                .news__date 21.04.2020
        
        .news
            .news__content
                .news__title B2BinPay – it’s fast & #[span(class="db")]secure crypto payments
                .news__description If you’ve followed along with the leaks in recent weeks, none #[span(class="db")]of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. 
                .news__date 21.04.2020
            .news__preview
                img.news__img(src="images/news_banner3.png", alt="img")
                .news__btn_block
                    .news__btn_preview Product update
                    a(href="#").news__btn.dark_blue_bg_btn Read more
        
        .news
            .news__preview
                img.news__img(src="images/news_banner2.png", alt="img")
                .news__btn_block
                    a(href="#").news__btn Read more
                    .news__btn_preview Article
            .news__content
                .news__title B2BinPay – it’s fast & #[span(class="db")]secure crypto payments
                .news__description If you’ve followed along with the leaks in recent weeks, none #[span(class="db")]of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. 
                .news__date 21.04.2020
        
        .also.green__style(style="background-image: url(images/also/also5.png);")
            .also__overlay
            a.also__btn(href="#") Read  more
            .also__title Corporate news
            .also__content
                .also__date 27.02.20
                .also__description B2BinPay – it’s fast & secure crypto payments
                .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features

        .also.blue__style(style="background-image: url(images/also/also2.png);")
            .also__overlay
            a.also__btn(href="#") Read  more
            .also__title Article
            .also__content
                .also__date 27.02.20
                .also__description B2BinPay – it’s fast & secure crypto payments
                .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features
        
    a(href="#").new_more_btn Read more
            