.section.section__black.dark_style
    .section__title #[span(class="section__title--bold") Products] & Services

    .container
        .produst_tabs
            aside
                ul
                    li.produst_tabs_btn--js.active(data-id="1") Forex Liquidity
                    li.produst_tabs_btn--js(data-id="2") Cryptocurrency Liquidity
                    li.produst_tabs_btn--js(data-id="3") CFD Liquidity
                    li.produst_tabs_btn--js(data-id="4") Start a Forex Broker
                    li.produst_tabs_btn--js(data-id="5") Start a Multi-Asset Broker
                    li.produst_tabs_btn--js(data-id="6") Start a Crypto Broker
                    li.produst_tabs_btn--js(data-id="7") Start a Crypto Margin Exchange
                    li.produst_tabs_btn--js(data-id="8") Start a Cryptocurrency Exchange
                    li.produst_tabs_btn--js(data-id="9") FOREX & Crypto Software
                    li.produst_tabs_btn--js(data-id="10") FOREX & Crypto Solutions
                    li.produst_tabs_btn--js(data-id="11") Cryptocurrency Processing
                    li.produst_tabs_btn--js(data-id="12") Corporate Services

            .produst_tabs_content--js.active(data-id="1")
                .produst_tabs__title Forex Liquidity
                .produst_tabs__subtitle We have spent many years building a deep liquidity network and investing in our pricing technology.#[span(class="db")] This means we can offer you ultra-competitive pricing and great execution on a wide selection of#[span(class="db")]  markets. Our FOREX liquidity is incomparable in the industry.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon1.svg", alt="icon")
                        .produst_tabs__link FOREX Liquidity
                        .produst_tabs__description We are a go-to liquidity provider for the#[span(class='db')] FOREX industry offering single and direct market access to all Tier-1 Forex liquidity venues. EQUINIX NY4/LD4 hosting, ultra-low latency connection and execution combined provide a highly professional service.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon2.svg", alt="icon")
                        .produst_tabs__link Energy Liquidity
                        .produst_tabs__description We offer liquidity for trading on WTI crude#[span(class='db')] oil, Brent crude oil and natural gas. Energy liquidity is a key specialisation for B2Broker, enabling clients to entrust all their Energy liquidity requirements to a provider who#[span(class='db')] can confidently fulfill their needs.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon3.svg", alt="icon")
                        .produst_tabs__link Indices Liquidity
                        .produst_tabs__description Get access to liquidity on a wide range#[span(class='db')] of global cash Indices. Deep institutional liquidity on the main Indices with our#[span(class='db')] bespoke liquidity solution. Enlist the Indices liquidity experts who will provide the exact solution for your business.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon4.svg", alt="icon")
                        .produst_tabs__link Metals Liquidity
                        .produst_tabs__description We offer liquidity on precious metals#[span(class='db')] and industrial metals including XAG/AUD, XAG/EUR, XAG/GBP and others. Precious metals are an exciting and highly in-demand asset. We are here to accommodate all your requirements.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Liquidity Distribution
                        .produst_tabs__description In order to understand what is#[span(class='db')] liquidity distribution in FOREX trading, an understanding of the term “liquidity” is essential. An in-depth description of how liquidity works will arm you with the information you need to know.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Market Maker vs#[span(class='db')] Liquidity Provider
                        .produst_tabs__description Get a better understanding of the differen-ces between a market maker and a liquidity provider. Find out more about how each busi-ness model operates and how they differ from each other in the way they operate.

            .produst_tabs_content--js(data-id="2")
                .produst_tabs__title Cryptocurrency Liquidity
                .produst_tabs__subtitle B2Broker is the first crypto prime liquidity provider that offers 100+ crypto CFD instruments with#[span(class="db")]  Crypto-to-Fiat, Crypto-to-Gold, Crypto-to-Silver and Crypto-to-Crypto pairs. Whatever your asset of choice, endless possibilities are available at your fingertips.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs2/icon1.svg", alt="icon")
                        .produst_tabs__link Crypto CFD Liquidity (Derivatives)
                        .produst_tabs__description All crypto CFD instruments are available for trading 24/7. As one of the industry-leading providers, we can take care of all your Crypto CFD liquidity requirements, providing liquidity through all the major bridge providers.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs2/icon2.svg", alt="icon")
                        .produst_tabs__link Crypto Liquidity Aggregator
                        .produst_tabs__description B2Broker is the first Prime Broker to provide aggregated liquidity on cryptocurrencies#[span(class="db")] with its MarksMan aggregator. Cutting-edge technology that is second to none gives all our clients access to the best liquidity#[span(class="db")] offering around.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs2/icon3.svg", alt="icon")
                        .produst_tabs__link Crypto Spot
                        .produst_tabs__description Aggregated liquidity from cryptocurrency exchanges, non-bank liquidity providers,#[span(class="db")] OTC orders of institutional clients, hedge funds and thousands of client-broker#[span(class="db")] orders. B2Broker offers the deepest#[span(class="db")] liquidity pool in the industry.
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Cryptocurrency#[span(class="db")] Liquidity Provider
                        .produst_tabs__description Read our article: How to choose the best cryptocurrency liquidity provider for your specific requirements. Includes an in-depth explananation of crypto liquidity and how#[span(class="db")] it works.

                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Cryptocurrency Dark Pool
                        .produst_tabs__description Learn about dark pool liquidity and the#[span(class="db")] risks and benefits associated with them.  Discover why these private forums for#[span(class="db")] trading securities, derivatives and other financial instruments exist and the purpose they serve.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Crypto CFD vs Crypto Spot
                        .produst_tabs__description The cryptocurrency market offers traders#[span(class="db")] a variety of ways to trade. Read about the differences between crypto CFDs and crypto spot and decide which is most suitable for you.
            
            .produst_tabs_content--js(data-id="3")
                .produst_tabs__title CFD Liquidity
                .produst_tabs__subtitle Contracts for difference (CFDs), are a simple and cost-efficient way to trade on a wide variety of financial markets without having to own the underlying asset. As specialists in this area, B2Broker offers liquidity for CFD on equities, ETFs and commodities.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs3/icon1.svg", alt="icon")
                        .produst_tabs__link Equities CFD Liquidity
                        .produst_tabs__description Get liquidity on USA, EU, Russian and Asian shares and start to offer your clients direct access to all the main global exchanges.#[span(class="db")] As one of the industry-leading providers,#[span(class="db")] we can take care of all your equities CFD liquidity requirements.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs3/icon2.svg", alt="icon")
                        .produst_tabs__link ETFs CFD Liquidity
                        .produst_tabs__description Diversify your brokerage offering by broadening your portfolio with GLD, VOO,#[span(class="db")] IWM, QQQ and others. ETFs CFD liquidity is one of our areas of deep know-how and one of our specialities for liquidity requirements#[span(class="db")] of this type.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Differences between STP, ECN and DMA
                        .produst_tabs__description Learn about the differences in types of brokers and the advantages of each model.#[span(class="db")] A comprehensive article that provides you with everything you need to know when deciding which route to choose.

                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link What is DMA CFDs?
                        .produst_tabs__description Find out how investors can get direct access to the market via CFD. CFD traders who want to view and interact with the live order books of global equity exchanges can find an explanation of how to go about it here.

                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link CFD Liquidity
                        .produst_tabs__description Learn about CFD liquidity and the different aspects you should consider when deciding how to choose the best liquidity provider. Everything you need to know about finding CFD liquidity in a user-friendly format that#[span(class="db")] is easy to understand.
                    
                    .produst_tabs__item.disabled
                        img(src="images/products_tabs/tabs3/icon3.svg", alt="icon")
                        .produst_tabs__link Commodities Liquidity 
                        .produst_tabs__description Access liquidity beyond traditional assets including soft commodities such as cocoa, soya, beans and corn. If you need liquidity for these highly specialised markets,we have it covered. We have all the expertise to deal with every kind of requirement.
            
            .produst_tabs_content--js(data-id="4")
                .produst_tabs__title Start a FOREX Broker
                .produst_tabs__subtitle There are two major ways to start a FOREX trading business - either open a company from scratch#[span(class="db")] or use a white label solution. Take the logical step with B2Broker white label solutions which can have#[span(class="db")] your business up and running in less than 3 weeks!
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs4/icon1.svg", alt="icon")
                        .produst_tabs__link MT4 White Label
                        .produst_tabs__description A White-Label solution for FOREX brokers#[span(class="db")] who wish to offer their clients the#[span(class="db")] MetaTrader 4 trading platform at a lower price. One of our most popular solutions#[span(class="db")] can be delivered to you hassle-free.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs4/icon2.svg", alt="icon")
                        .produst_tabs__link MT5 White Label
                        .produst_tabs__description Trading solutions to start your own#[span(class="db")] brokerage based on the MetaTrader 5 platform. Reap the benefits of mult-asset trading by opting for our MT5 white label solution chosen by many brokerage#[span(class="db")] start-ups in the market.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs4/icon3.svg", alt="icon")
                        .produst_tabs__link Start A FOREX Broker
                        .produst_tabs__description An all-in-one solution for starting your#[span(class="db")] own business from scratch. We have the know-how to help you launch your own#[span(class="db")] FOREX brokerage in less than 3 weeks.#[span(class="db")] We take care of all the technical#[span(class="db")] issues while saving you money.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs4/icon4.svg", alt="icon")
                        .produst_tabs__link Hedge Fund / PAMM Broker
                        .produst_tabs__description We can offer you a host of new#[span(class="db")] opportunities to make a profit in the FOREX market, one of the most profitable global markets. Our Hedge Fund/PAMM Broker solutions are just a small step away.#[span(class="db")] Find out more and get started today!

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs4/icon5.svg", alt="icon")
                        .produst_tabs__link Copy / Social Trading Broker
                        .produst_tabs__description As well as the option to trade in foreign exchange markets, your clients have the opportunity to check statistics and copy#[span(class="db")] the trades of other network members.#[span(class="db")] Copy trading is a popular way to trade today and is an opportunity not to be missed.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs4/icon6.svg", alt="icon")
                        .produst_tabs__link IB/Affiliate Broker
                        .produst_tabs__description An ideal solution for an introducing broker#[span(class="db")] (IB) business model. An outstanding opportunity and potentially lucrative way to capitalise on the FOREX market and boost your revenues. B2Broker can quickly get you set up with this exciting business model.
            
            .produst_tabs_content--js(data-id="5")
                .produst_tabs__title Forex Liquidity
                .produst_tabs__subtitle We have spent many years building a deep liquidity network and investing in our pricing technology.#[span(class="db")] This means we can offer you ultra-competitive pricing and great execution on a wide selection of#[span(class="db")]  markets. Our FOREX liquidity is incomparable in the industry.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon1.svg", alt="icon")
                        .produst_tabs__link FOREX Liquidity
                        .produst_tabs__description We are a go-to liquidity provider for the#[span(class='db')] FOREX industry offering single and direct market access to all Tier-1 Forex liquidity venues. EQUINIX NY4/LD4 hosting, ultra-low latency connection and execution combined provide a highly professional service.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon2.svg", alt="icon")
                        .produst_tabs__link Energy Liquidity
                        .produst_tabs__description We offer liquidity for trading on WTI crude#[span(class='db')] oil, Brent crude oil and natural gas. Energy liquidity is a key specialisation for B2Broker, enabling clients to entrust all their Energy liquidity requirements to a provider who#[span(class='db')] can confidently fulfill their needs.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon3.svg", alt="icon")
                        .produst_tabs__link Indices Liquidity
                        .produst_tabs__description Get access to liquidity on a wide range#[span(class='db')] of global cash Indices. Deep institutional liquidity on the main Indices with our#[span(class='db')] bespoke liquidity solution. Enlist the Indices liquidity experts who will provide the exact solution for your business.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon4.svg", alt="icon")
                        .produst_tabs__link Metals Liquidity
                        .produst_tabs__description We offer liquidity on precious metals#[span(class='db')] and industrial metals including XAG/AUD, XAG/EUR, XAG/GBP and others. Precious metals are an exciting and highly in-demand asset. We are here to accommodate all your requirements.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Liquidity Distribution
                        .produst_tabs__description In order to understand what is#[span(class='db')] liquidity distribution in FOREX trading, an understanding of the term “liquidity” is essential. An in-depth description of how liquidity works will arm you with the information you need to know.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Market Maker vs#[span(class='db')] Liquidity Provider
                        .produst_tabs__description Get a better understanding of the differen-ces between a market maker and a liquidity provider. Find out more about how each busi-ness model operates and how they differ from each other in the way they operate.
            
            .produst_tabs_content--js(data-id="6")
                .produst_tabs__title Forex Liquidity
                .produst_tabs__subtitle We have spent many years building a deep liquidity network and investing in our pricing technology.#[span(class="db")] This means we can offer you ultra-competitive pricing and great execution on a wide selection of#[span(class="db")]  markets. Our FOREX liquidity is incomparable in the industry.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon1.svg", alt="icon")
                        .produst_tabs__link FOREX Liquidity
                        .produst_tabs__description We are a go-to liquidity provider for the#[span(class='db')] FOREX industry offering single and direct market access to all Tier-1 Forex liquidity venues. EQUINIX NY4/LD4 hosting, ultra-low latency connection and execution combined provide a highly professional service.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon2.svg", alt="icon")
                        .produst_tabs__link Energy Liquidity
                        .produst_tabs__description We offer liquidity for trading on WTI crude#[span(class='db')] oil, Brent crude oil and natural gas. Energy liquidity is a key specialisation for B2Broker, enabling clients to entrust all their Energy liquidity requirements to a provider who#[span(class='db')] can confidently fulfill their needs.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon3.svg", alt="icon")
                        .produst_tabs__link Indices Liquidity
                        .produst_tabs__description Get access to liquidity on a wide range#[span(class='db')] of global cash Indices. Deep institutional liquidity on the main Indices with our#[span(class='db')] bespoke liquidity solution. Enlist the Indices liquidity experts who will provide the exact solution for your business.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon4.svg", alt="icon")
                        .produst_tabs__link Metals Liquidity
                        .produst_tabs__description We offer liquidity on precious metals#[span(class='db')] and industrial metals including XAG/AUD, XAG/EUR, XAG/GBP and others. Precious metals are an exciting and highly in-demand asset. We are here to accommodate all your requirements.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Liquidity Distribution
                        .produst_tabs__description In order to understand what is#[span(class='db')] liquidity distribution in FOREX trading, an understanding of the term “liquidity” is essential. An in-depth description of how liquidity works will arm you with the information you need to know.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Market Maker vs#[span(class='db')] Liquidity Provider
                        .produst_tabs__description Get a better understanding of the differen-ces between a market maker and a liquidity provider. Find out more about how each busi-ness model operates and how they differ from each other in the way they operate.
            
            .produst_tabs_content--js(data-id="7")
                .produst_tabs__title Forex Liquidity
                .produst_tabs__subtitle We have spent many years building a deep liquidity network and investing in our pricing technology.#[span(class="db")] This means we can offer you ultra-competitive pricing and great execution on a wide selection of#[span(class="db")]  markets. Our FOREX liquidity is incomparable in the industry.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon1.svg", alt="icon")
                        .produst_tabs__link FOREX Liquidity
                        .produst_tabs__description We are a go-to liquidity provider for the#[span(class='db')] FOREX industry offering single and direct market access to all Tier-1 Forex liquidity venues. EQUINIX NY4/LD4 hosting, ultra-low latency connection and execution combined provide a highly professional service.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon2.svg", alt="icon")
                        .produst_tabs__link Energy Liquidity
                        .produst_tabs__description We offer liquidity for trading on WTI crude#[span(class='db')] oil, Brent crude oil and natural gas. Energy liquidity is a key specialisation for B2Broker, enabling clients to entrust all their Energy liquidity requirements to a provider who#[span(class='db')] can confidently fulfill their needs.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon3.svg", alt="icon")
                        .produst_tabs__link Indices Liquidity
                        .produst_tabs__description Get access to liquidity on a wide range#[span(class='db')] of global cash Indices. Deep institutional liquidity on the main Indices with our#[span(class='db')] bespoke liquidity solution. Enlist the Indices liquidity experts who will provide the exact solution for your business.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon4.svg", alt="icon")
                        .produst_tabs__link Metals Liquidity
                        .produst_tabs__description We offer liquidity on precious metals#[span(class='db')] and industrial metals including XAG/AUD, XAG/EUR, XAG/GBP and others. Precious metals are an exciting and highly in-demand asset. We are here to accommodate all your requirements.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Liquidity Distribution
                        .produst_tabs__description In order to understand what is#[span(class='db')] liquidity distribution in FOREX trading, an understanding of the term “liquidity” is essential. An in-depth description of how liquidity works will arm you with the information you need to know.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Market Maker vs#[span(class='db')] Liquidity Provider
                        .produst_tabs__description Get a better understanding of the differen-ces between a market maker and a liquidity provider. Find out more about how each busi-ness model operates and how they differ from each other in the way they operate.
            
            .produst_tabs_content--js(data-id="8")
                .produst_tabs__title Forex Liquidity
                .produst_tabs__subtitle We have spent many years building a deep liquidity network and investing in our pricing technology.#[span(class="db")] This means we can offer you ultra-competitive pricing and great execution on a wide selection of#[span(class="db")]  markets. Our FOREX liquidity is incomparable in the industry.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon1.svg", alt="icon")
                        .produst_tabs__link FOREX Liquidity
                        .produst_tabs__description We are a go-to liquidity provider for the#[span(class='db')] FOREX industry offering single and direct market access to all Tier-1 Forex liquidity venues. EQUINIX NY4/LD4 hosting, ultra-low latency connection and execution combined provide a highly professional service.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon2.svg", alt="icon")
                        .produst_tabs__link Energy Liquidity
                        .produst_tabs__description We offer liquidity for trading on WTI crude#[span(class='db')] oil, Brent crude oil and natural gas. Energy liquidity is a key specialisation for B2Broker, enabling clients to entrust all their Energy liquidity requirements to a provider who#[span(class='db')] can confidently fulfill their needs.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon3.svg", alt="icon")
                        .produst_tabs__link Indices Liquidity
                        .produst_tabs__description Get access to liquidity on a wide range#[span(class='db')] of global cash Indices. Deep institutional liquidity on the main Indices with our#[span(class='db')] bespoke liquidity solution. Enlist the Indices liquidity experts who will provide the exact solution for your business.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon4.svg", alt="icon")
                        .produst_tabs__link Metals Liquidity
                        .produst_tabs__description We offer liquidity on precious metals#[span(class='db')] and industrial metals including XAG/AUD, XAG/EUR, XAG/GBP and others. Precious metals are an exciting and highly in-demand asset. We are here to accommodate all your requirements.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Liquidity Distribution
                        .produst_tabs__description In order to understand what is#[span(class='db')] liquidity distribution in FOREX trading, an understanding of the term “liquidity” is essential. An in-depth description of how liquidity works will arm you with the information you need to know.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Market Maker vs#[span(class='db')] Liquidity Provider
                        .produst_tabs__description Get a better understanding of the differen-ces between a market maker and a liquidity provider. Find out more about how each busi-ness model operates and how they differ from each other in the way they operate.
            
            .produst_tabs_content--js(data-id="9")
                .produst_tabs__title Forex Liquidity
                .produst_tabs__subtitle We have spent many years building a deep liquidity network and investing in our pricing technology.#[span(class="db")] This means we can offer you ultra-competitive pricing and great execution on a wide selection of#[span(class="db")]  markets. Our FOREX liquidity is incomparable in the industry.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon1.svg", alt="icon")
                        .produst_tabs__link FOREX Liquidity
                        .produst_tabs__description We are a go-to liquidity provider for the#[span(class='db')] FOREX industry offering single and direct market access to all Tier-1 Forex liquidity venues. EQUINIX NY4/LD4 hosting, ultra-low latency connection and execution combined provide a highly professional service.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon2.svg", alt="icon")
                        .produst_tabs__link Energy Liquidity
                        .produst_tabs__description We offer liquidity for trading on WTI crude#[span(class='db')] oil, Brent crude oil and natural gas. Energy liquidity is a key specialisation for B2Broker, enabling clients to entrust all their Energy liquidity requirements to a provider who#[span(class='db')] can confidently fulfill their needs.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon3.svg", alt="icon")
                        .produst_tabs__link Indices Liquidity
                        .produst_tabs__description Get access to liquidity on a wide range#[span(class='db')] of global cash Indices. Deep institutional liquidity on the main Indices with our#[span(class='db')] bespoke liquidity solution. Enlist the Indices liquidity experts who will provide the exact solution for your business.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon4.svg", alt="icon")
                        .produst_tabs__link Metals Liquidity
                        .produst_tabs__description We offer liquidity on precious metals#[span(class='db')] and industrial metals including XAG/AUD, XAG/EUR, XAG/GBP and others. Precious metals are an exciting and highly in-demand asset. We are here to accommodate all your requirements.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Liquidity Distribution
                        .produst_tabs__description In order to understand what is#[span(class='db')] liquidity distribution in FOREX trading, an understanding of the term “liquidity” is essential. An in-depth description of how liquidity works will arm you with the information you need to know.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Market Maker vs#[span(class='db')] Liquidity Provider
                        .produst_tabs__description Get a better understanding of the differen-ces between a market maker and a liquidity provider. Find out more about how each busi-ness model operates and how they differ from each other in the way they operate.
            
            .produst_tabs_content--js(data-id="10")
                .produst_tabs__title Forex Liquidity
                .produst_tabs__subtitle We have spent many years building a deep liquidity network and investing in our pricing technology.#[span(class="db")] This means we can offer you ultra-competitive pricing and great execution on a wide selection of#[span(class="db")]  markets. Our FOREX liquidity is incomparable in the industry.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon1.svg", alt="icon")
                        .produst_tabs__link FOREX Liquidity
                        .produst_tabs__description We are a go-to liquidity provider for the#[span(class='db')] FOREX industry offering single and direct market access to all Tier-1 Forex liquidity venues. EQUINIX NY4/LD4 hosting, ultra-low latency connection and execution combined provide a highly professional service.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon2.svg", alt="icon")
                        .produst_tabs__link Energy Liquidity
                        .produst_tabs__description We offer liquidity for trading on WTI crude#[span(class='db')] oil, Brent crude oil and natural gas. Energy liquidity is a key specialisation for B2Broker, enabling clients to entrust all their Energy liquidity requirements to a provider who#[span(class='db')] can confidently fulfill their needs.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon3.svg", alt="icon")
                        .produst_tabs__link Indices Liquidity
                        .produst_tabs__description Get access to liquidity on a wide range#[span(class='db')] of global cash Indices. Deep institutional liquidity on the main Indices with our#[span(class='db')] bespoke liquidity solution. Enlist the Indices liquidity experts who will provide the exact solution for your business.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon4.svg", alt="icon")
                        .produst_tabs__link Metals Liquidity
                        .produst_tabs__description We offer liquidity on precious metals#[span(class='db')] and industrial metals including XAG/AUD, XAG/EUR, XAG/GBP and others. Precious metals are an exciting and highly in-demand asset. We are here to accommodate all your requirements.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Liquidity Distribution
                        .produst_tabs__description In order to understand what is#[span(class='db')] liquidity distribution in FOREX trading, an understanding of the term “liquidity” is essential. An in-depth description of how liquidity works will arm you with the information you need to know.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Market Maker vs#[span(class='db')] Liquidity Provider
                        .produst_tabs__description Get a better understanding of the differen-ces between a market maker and a liquidity provider. Find out more about how each busi-ness model operates and how they differ from each other in the way they operate.
            
            .produst_tabs_content--js(data-id="11")
                .produst_tabs__title Forex Liquidity
                .produst_tabs__subtitle We have spent many years building a deep liquidity network and investing in our pricing technology.#[span(class="db")] This means we can offer you ultra-competitive pricing and great execution on a wide selection of#[span(class="db")]  markets. Our FOREX liquidity is incomparable in the industry.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon1.svg", alt="icon")
                        .produst_tabs__link FOREX Liquidity
                        .produst_tabs__description We are a go-to liquidity provider for the#[span(class='db')] FOREX industry offering single and direct market access to all Tier-1 Forex liquidity venues. EQUINIX NY4/LD4 hosting, ultra-low latency connection and execution combined provide a highly professional service.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon2.svg", alt="icon")
                        .produst_tabs__link Energy Liquidity
                        .produst_tabs__description We offer liquidity for trading on WTI crude#[span(class='db')] oil, Brent crude oil and natural gas. Energy liquidity is a key specialisation for B2Broker, enabling clients to entrust all their Energy liquidity requirements to a provider who#[span(class='db')] can confidently fulfill their needs.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon3.svg", alt="icon")
                        .produst_tabs__link Indices Liquidity
                        .produst_tabs__description Get access to liquidity on a wide range#[span(class='db')] of global cash Indices. Deep institutional liquidity on the main Indices with our#[span(class='db')] bespoke liquidity solution. Enlist the Indices liquidity experts who will provide the exact solution for your business.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon4.svg", alt="icon")
                        .produst_tabs__link Metals Liquidity
                        .produst_tabs__description We offer liquidity on precious metals#[span(class='db')] and industrial metals including XAG/AUD, XAG/EUR, XAG/GBP and others. Precious metals are an exciting and highly in-demand asset. We are here to accommodate all your requirements.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Liquidity Distribution
                        .produst_tabs__description In order to understand what is#[span(class='db')] liquidity distribution in FOREX trading, an understanding of the term “liquidity” is essential. An in-depth description of how liquidity works will arm you with the information you need to know.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Market Maker vs#[span(class='db')] Liquidity Provider
                        .produst_tabs__description Get a better understanding of the differen-ces between a market maker and a liquidity provider. Find out more about how each busi-ness model operates and how they differ from each other in the way they operate.
            
            .produst_tabs_content--js(data-id="12")
                .produst_tabs__title Forex Liquidity
                .produst_tabs__subtitle We have spent many years building a deep liquidity network and investing in our pricing technology.#[span(class="db")] This means we can offer you ultra-competitive pricing and great execution on a wide selection of#[span(class="db")]  markets. Our FOREX liquidity is incomparable in the industry.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon1.svg", alt="icon")
                        .produst_tabs__link FOREX Liquidity
                        .produst_tabs__description We are a go-to liquidity provider for the#[span(class='db')] FOREX industry offering single and direct market access to all Tier-1 Forex liquidity venues. EQUINIX NY4/LD4 hosting, ultra-low latency connection and execution combined provide a highly professional service.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon2.svg", alt="icon")
                        .produst_tabs__link Energy Liquidity
                        .produst_tabs__description We offer liquidity for trading on WTI crude#[span(class='db')] oil, Brent crude oil and natural gas. Energy liquidity is a key specialisation for B2Broker, enabling clients to entrust all their Energy liquidity requirements to a provider who#[span(class='db')] can confidently fulfill their needs.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon3.svg", alt="icon")
                        .produst_tabs__link Indices Liquidity
                        .produst_tabs__description Get access to liquidity on a wide range#[span(class='db')] of global cash Indices. Deep institutional liquidity on the main Indices with our#[span(class='db')] bespoke liquidity solution. Enlist the Indices liquidity experts who will provide the exact solution for your business.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon4.svg", alt="icon")
                        .produst_tabs__link Metals Liquidity
                        .produst_tabs__description We offer liquidity on precious metals#[span(class='db')] and industrial metals including XAG/AUD, XAG/EUR, XAG/GBP and others. Precious metals are an exciting and highly in-demand asset. We are here to accommodate all your requirements.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Liquidity Distribution
                        .produst_tabs__description In order to understand what is#[span(class='db')] liquidity distribution in FOREX trading, an understanding of the term “liquidity” is essential. An in-depth description of how liquidity works will arm you with the information you need to know.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Market Maker vs#[span(class='db')] Liquidity Provider
                        .produst_tabs__description Get a better understanding of the differen-ces between a market maker and a liquidity provider. Find out more about how each busi-ness model operates and how they differ from each other in the way they operate.