.section.section__black.dark_style.section__products_tabs
    .section__title #[span(class="section__title--bold") Products] & Services

    .container
        .produst_tabs
            aside
                ul
                    li.produst_tabs_btn--js.active(data-id="1") Forex Liquidity
                    li.produst_tabs_btn--js(data-id="2") Cryptocurrency Liquidity
                    li.produst_tabs_btn--js(data-id="3") CFD Liquidity
                    li.produst_tabs_btn--js(data-id="4") Start a Forex Broker
                    li.produst_tabs_btn--js(data-id="5") Start a Multi-Asset Broker
                    li.produst_tabs_btn--js(data-id="6") Start a Crypto Broker
                    li.produst_tabs_btn--js(data-id="7") Start a Crypto Margin Exchange
                    li.produst_tabs_btn--js(data-id="8") Start a Cryptocurrency Exchange
                    li.produst_tabs_btn--js(data-id="9") FOREX & Crypto Software
                    li.produst_tabs_btn--js(data-id="10") FOREX & Crypto Solutions
                    li.produst_tabs_btn--js(data-id="11") Cryptocurrency Processing
                    li.produst_tabs_btn--js(data-id="12") Corporate Services

            .produst_tabs_content--js.active(data-id="1")
                .produst_tabs__title Forex Liquidity
                .produst_tabs__subtitle We have spent many years building a deep liquidity network and investing in our pricing technology.#[span(class="db")] This means we can offer you ultra-competitive pricing and great execution on a wide selection of#[span(class="db")]  markets. Our FOREX liquidity is incomparable in the industry.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon1.svg", alt="icon")
                        .produst_tabs__link FOREX Liquidity
                        .produst_tabs__description We are a go-to liquidity provider for the#[span(class='db')] FOREX industry offering single and direct market access to all Tier-1 Forex liquidity venues. EQUINIX NY4/LD4 hosting, ultra-low latency connection and execution combined provide a highly professional service.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon2.svg", alt="icon")
                        .produst_tabs__link Energy Liquidity
                        .produst_tabs__description We offer liquidity for trading on WTI crude#[span(class='db')] oil, Brent crude oil and natural gas. Energy liquidity is a key specialisation for B2Broker, enabling clients to entrust all their Energy liquidity requirements to a provider who#[span(class='db')] can confidently fulfill their needs.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon3.svg", alt="icon")
                        .produst_tabs__link Indices Liquidity
                        .produst_tabs__description Get access to liquidity on a wide range#[span(class='db')] of global cash Indices. Deep institutional liquidity on the main Indices with our#[span(class='db')] bespoke liquidity solution. Enlist the Indices liquidity experts who will provide the exact solution for your business.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon4.svg", alt="icon")
                        .produst_tabs__link Metals Liquidity
                        .produst_tabs__description We offer liquidity on precious metals#[span(class='db')] and industrial metals including XAG/AUD, XAG/EUR, XAG/GBP and others. Precious metals are an exciting and highly in-demand asset. We are here to accommodate all your requirements.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Liquidity Distribution
                        .produst_tabs__description In order to understand what is#[span(class='db')] liquidity distribution in FOREX trading, an understanding of the term “liquidity” is essential. An in-depth description of how liquidity works will arm you with the information you need to know.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Market Maker vs#[span(class='db')] Liquidity Provider
                        .produst_tabs__description Get a better understanding of the differen-ces between a market maker and a liquidity provider. Find out more about how each busi-ness model operates and how they differ from each other in the way they operate.

            .produst_tabs_content--js(data-id="2")
                .produst_tabs__title Cryptocurrency Liquidity
                .produst_tabs__subtitle B2Broker is the first crypto prime liquidity provider that offers 100+ crypto CFD instruments with#[span(class="db")]  Crypto-to-Fiat, Crypto-to-Gold, Crypto-to-Silver and Crypto-to-Crypto pairs. Whatever your asset of choice, endless possibilities are available at your fingertips.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs2/icon1.svg", alt="icon")
                        .produst_tabs__link Crypto CFD Liquidity (Derivatives)
                        .produst_tabs__description All crypto CFD instruments are available for trading 24/7. As one of the industry-leading providers, we can take care of all your Crypto CFD liquidity requirements, providing liquidity through all the major bridge providers.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs2/icon2.svg", alt="icon")
                        .produst_tabs__link Crypto Liquidity Aggregator
                        .produst_tabs__description B2Broker is the first Prime Broker to provide aggregated liquidity on cryptocurrencies#[span(class="db")] with its MarksMan aggregator. Cutting-edge technology that is second to none gives all our clients access to the best liquidity#[span(class="db")] offering around.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs2/icon3.svg", alt="icon")
                        .produst_tabs__link Crypto Spot
                        .produst_tabs__description Aggregated liquidity from cryptocurrency exchanges, non-bank liquidity providers,#[span(class="db")] OTC orders of institutional clients, hedge funds and thousands of client-broker#[span(class="db")] orders. B2Broker offers the deepest#[span(class="db")] liquidity pool in the industry.
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Cryptocurrency#[span(class="db")] Liquidity Provider
                        .produst_tabs__description Read our article: How to choose the best cryptocurrency liquidity provider for your specific requirements. Includes an in-depth explananation of crypto liquidity and how#[span(class="db")] it works.

                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Cryptocurrency Dark Pool
                        .produst_tabs__description Learn about dark pool liquidity and the#[span(class="db")] risks and benefits associated with them.  Discover why these private forums for#[span(class="db")] trading securities, derivatives and other financial instruments exist and the purpose they serve.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Crypto CFD vs Crypto Spot
                        .produst_tabs__description The cryptocurrency market offers traders#[span(class="db")] a variety of ways to trade. Read about the differences between crypto CFDs and crypto spot and decide which is most suitable for you.
            
            .produst_tabs_content--js(data-id="3")
                .produst_tabs__title CFD Liquidity
                .produst_tabs__subtitle Contracts for difference (CFDs), are a simple and cost-efficient way to trade on a wide variety of financial markets without having to own the underlying asset. As specialists in this area, B2Broker offers liquidity for CFD on equities, ETFs and commodities.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs3/icon1.svg", alt="icon")
                        .produst_tabs__link Equities CFD Liquidity
                        .produst_tabs__description Get liquidity on USA, EU, Russian and Asian shares and start to offer your clients direct access to all the main global exchanges.#[span(class="db")] As one of the industry-leading providers,#[span(class="db")] we can take care of all your equities CFD liquidity requirements.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs3/icon2.svg", alt="icon")
                        .produst_tabs__link ETFs CFD Liquidity
                        .produst_tabs__description Diversify your brokerage offering by broadening your portfolio with GLD, VOO,#[span(class="db")] IWM, QQQ and others. ETFs CFD liquidity is one of our areas of deep know-how and one of our specialities for liquidity requirements#[span(class="db")] of this type.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Differences between STP, ECN and DMA
                        .produst_tabs__description Learn about the differences in types of brokers and the advantages of each model.#[span(class="db")] A comprehensive article that provides you with everything you need to know when deciding which route to choose.

                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link What is DMA CFDs?
                        .produst_tabs__description Find out how investors can get direct access to the market via CFD. CFD traders who want to view and interact with the live order books of global equity exchanges can find an explanation of how to go about it here.

                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link CFD Liquidity
                        .produst_tabs__description Learn about CFD liquidity and the different aspects you should consider when deciding how to choose the best liquidity provider. Everything you need to know about finding CFD liquidity in a user-friendly format that#[span(class="db")] is easy to understand.
                    
                    .produst_tabs__item.disabled
                        img(src="images/products_tabs/tabs3/icon3.svg", alt="icon")
                        .produst_tabs__link Commodities Liquidity 
                        .produst_tabs__description Access liquidity beyond traditional assets including soft commodities such as cocoa, soya, beans and corn. If you need liquidity for these highly specialised markets,we have it covered. We have all the expertise to deal with every kind of requirement.
            
            .produst_tabs_content--js(data-id="4")
                .produst_tabs__title Start a FOREX Broker
                .produst_tabs__subtitle There are two major ways to start a FOREX trading business - either open a company from scratch#[span(class="db")] or use a white label solution. Take the logical step with B2Broker white label solutions which can have#[span(class="db")] your business up and running in less than 3 weeks!
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs4/icon1.svg", alt="icon")
                        .produst_tabs__link MT4 White Label
                        .produst_tabs__description A White-Label solution for FOREX brokers#[span(class="db")] who wish to offer their clients the#[span(class="db")] MetaTrader 4 trading platform at a lower price. One of our most popular solutions#[span(class="db")] can be delivered to you hassle-free.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs4/icon2.svg", alt="icon")
                        .produst_tabs__link MT5 White Label
                        .produst_tabs__description Trading solutions to start your own#[span(class="db")] brokerage based on the MetaTrader 5 platform. Reap the benefits of mult-asset trading by opting for our MT5 white label solution chosen by many brokerage#[span(class="db")] start-ups in the market.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs4/icon3.svg", alt="icon")
                        .produst_tabs__link Start A FOREX Broker
                        .produst_tabs__description An all-in-one solution for starting your#[span(class="db")] own business from scratch. We have the know-how to help you launch your own#[span(class="db")] FOREX brokerage in less than 3 weeks.#[span(class="db")] We take care of all the technical#[span(class="db")] issues while saving you money.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs4/icon4.svg", alt="icon")
                        .produst_tabs__link Hedge Fund / PAMM Broker
                        .produst_tabs__description We can offer you a host of new#[span(class="db")] opportunities to make a profit in the FOREX market, one of the most profitable global markets. Our Hedge Fund/PAMM Broker solutions are just a small step away.#[span(class="db")] Find out more and get started today!

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs4/icon5.svg", alt="icon")
                        .produst_tabs__link Copy / Social Trading Broker
                        .produst_tabs__description As well as the option to trade in foreign exchange markets, your clients have the opportunity to check statistics and copy#[span(class="db")] the trades of other network members.#[span(class="db")] Copy trading is a popular way to trade today and is an opportunity not to be missed.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs4/icon6.svg", alt="icon")
                        .produst_tabs__link IB/Affiliate Broker
                        .produst_tabs__description An ideal solution for an introducing broker#[span(class="db")] (IB) business model. An outstanding opportunity and potentially lucrative way to capitalise on the FOREX market and boost your revenues. B2Broker can quickly get you set up with this exciting business model.
            
            .produst_tabs_content--js(data-id="5")
                .produst_tabs__title Start a Multi Asset Broker
                .produst_tabs__subtitle Provide access to different markets via multiple platforms. B2Broker offers a variety of options for#[span(class="db")] launching a brokerage with expert guidance and experience to help you every step of the way. Offering#[span(class="db")] a variety of different asset classes will allow you to appeal to every kind of trader.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs5/icon1.svg", alt="icon")
                        .produst_tabs__link Multi Asset Broker
                        .produst_tabs__description As a multi-asset broker you can provide a wide range of investment products, enabling traders to take advantage of rising, falling or even sideways trading markets. Offer your clients a choice of assets to suit their specific requirements.

                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      How to launch Multi#[span(class="db")] Asset-broker 
                        .produst_tabs__description If you’re looking to set up your own brokerage business, should you choose a FOREX or Crypto-type business? Find out how to make the best choice with our informative guide.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      Cryptocurrency derivatives trading platform
                        .produst_tabs__description Read about cryptocurrency derivatives and where traders can find the best platforms to trade them. A useful source of information for learning all the basics about cryptocurrency derivatives and where best to trade them.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      Multi-Asset Trading. What Is a Multi-Asset Class?
                        .produst_tabs__description Learn how multi-asset trading works and how to use a combination of asset classes to diversify your portfolio. If you are looking to spread your risks, this article will provide the information you need.
                    
                    .produst_tabs__item.disabled
                        img(src="images/products_tabs/tabs5/icon2.svg", alt="icon")
                        .produst_tabs__link DxTrade White Label
                        .produst_tabs__description We can provide a white label Devexperts platform exclusively, with high levels of integration and flexibility for an individual product offering. Find out in detail the advantages of offering this service to your clients.
                    
                    .produst_tabs__item.disabled
                        img(src="images/products_tabs/tabs5/icon3.svg", alt="icon")
                        .produst_tabs__link Securities Broker
                        .produst_tabs__description Specialise in securities by starting your brokerage business with stocks, options, bonds and other securities. A great way to hone in on a specific area of interest that is sure to capture the interest of those interested in trading these assets.
            
            .produst_tabs_content--js(data-id="6")
                .produst_tabs__title Start a Crypto Broker
                .produst_tabs__subtitle Cryptocurrency margin trading is a relatively new, yet truly dynamic segment of online trading that#[span(class='db')] continues to grow in popularity. With our solutions, you are fully equipped to get involved in this exciting#[span(class='db')] trend. Get started with your own business today!
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs6/icon1.svg", alt="icon")
                        .produst_tabs__link Crypto Spot Broker
                        .produst_tabs__description Provide crypto exchange services based on a modern brokerage trading platform. There’s a wide range of services you can offer in terms of spot trading for your clients. An ideal business with a modern-day solution.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs6/icon2.svg", alt="icon")
                        .produst_tabs__link      Crypto Margin Broker (Derivatives)
                        .produst_tabs__description Start a brokerage business offering crypto derivatives trading based on B2Margin platform. Take advantage of a growing trend by offering your clients futures contracts that have started to be traded more frequently in the market.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs6/icon3.svg", alt="icon")
                        .produst_tabs__link Cryptocurrency Brokerage
                        .produst_tabs__description Learn more about how to provide cryptocurrency trading services by implementing a ready-made professional solution. Find out why more and more businesses prefer to use bespoke solutions than starting from scratch.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link Metals Liquidity
                        .produst_tabs__description We offer liquidity on precious metals#[span(class='db')] and industrial metals including XAG/AUD, XAG/EUR, XAG/GBP and others. Precious metals are an exciting and highly in-demand asset. We are here to accommodate all your requirements.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      Trading Cryptocurrencies on MT5
                        .produst_tabs__description Find out more about how MT5 opens the door to multi-asset trading and supports the trading of cryptocurrencies. A useful overview of the industry’s leading trading platform for those looking to trade cryptocurrencies.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      Cryptocurrency Margin Trading
                        .produst_tabs__description Read how this new trend is taking the trading world by storm and how to use leverage to your advantage. A revealing article illustrating the popularity of margin trading in FOREX and its crossover into the world of crypto.
            
            .produst_tabs_content--js(data-id="7")
                .produst_tabs__title Start a Crypto Margin Exchange
                .produst_tabs__subtitle Cryptocurrency trading with leverage is one of the latest trends. Capture this new market by offering#[span(class="db")] the most up-to-date trading opportunity in the industry. Don’t miss the chance to capitalise on one of#[span(class="db")] the fastest growing sectors in trading today!
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs7/icon1.svg", alt="icon")
                        .produst_tabs__link      Cryptocurrency Exchange Software (Margin Trading)
                        .produst_tabs__description Provide a cryptocurrency exchange offering trading with leverage with our B2Margin software. A successful business based on the latest trends is a great way to get into this lucrative market and reap the benefits. 

                    .produst_tabs__item.disabled
                        img(src="images/products_tabs/tabs7/icon2.svg", alt="icon")
                        .produst_tabs__link      Crypto Margin Exchange (Derivatives)
                        .produst_tabs__description Launch an exchange business with trading on cryptocurrency derivatives. An ideal way to take advantage of this popular trend by offering your clients the option to trade futures contracts. 
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      How to start a Crypto Margin Exchange
                        .produst_tabs__description Read about how to start a cryptocurrency exchange business in the most effective way. Essential reading if you have been thinking about launching your own business in this popular sector.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      Cryptocurrency Exchange with Leverage 
                        .produst_tabs__description A short summary about the cryptocurrency exchange market. How trading cryptocur-rencies with leverage has become so popular today on the back of FOREX margin trading.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      Cryptocurrency#[span(class="db")] Derivatives Trading
                        .produst_tabs__description Discover why cryptocurrency derivatives are growing in popularity and how they can help traders manage their risk. Equip yourself with everything you need to know about this interesting new trading instrument.  
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      Cryptocurrency#[span(class="db")] Exchange Development
                        .produst_tabs__description Get clued up on the stages of development involved in the set up of a crypto exchange. A useful summary of educational information and practical advice.
            
            .produst_tabs_content--js(data-id="8")
                .produst_tabs__title Start a Cryptocurrency Exchange
                .produst_tabs__subtitle Bitcoin and stablecoins are now a well-established part of modern-day life. With their increasing#[span(class="db")] popularity and demand for associated services, a cryptocurrency exchange business is the ideal#[span(class="db")] way to capitalise on this growing sector. 
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon1.svg", alt="icon")
                        .produst_tabs__link Crypto Exchange (Spot)
                        .produst_tabs__description Launch an exchange business with a spot matching engine for trading on popular cryptocurrencies. An ideal way to capitalise on today’s trends by offering your clients trading on crypto-crypto and crypto-fiat pairs.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon2.svg", alt="icon")
                        .produst_tabs__link      Instant Cryptocurrency Exchange
                        .produst_tabs__description A crypto converter is a simple, yet profitable business which you can easily gain entry to. Quickly build a successful business by offering your clients an instant cryptocur-rency exchange platform with the best rates.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs1/icon3.svg", alt="icon")
                        .produst_tabs__link Order Matching Engine
                        .produst_tabs__description B2Trader is B2Broker’s state-of-the art matching engine which delivers price-time priority matching algorithms, implied matching and quotes for exchanges and dark pools. A key component of our crypto exchange turnkey solution.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      Cryptocurrency exchange matching engine
                        .produst_tabs__description A long-read article that explores in detail how a matching engine works and the sophisticated technology behind it, exploring B2Trader’s multiple range of features and capabilities. 
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      Cryptocurrency Exchange: Spot vs Margin
                        .produst_tabs__description An easy and informative article that descri-bes the differences between spot and margin trading platforms. This is a great starting point to get familiarised with both both kinds of trading.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      How to start a cryptocurrency exchange
                        .produst_tabs__description Read about how to start a cryptocurrency exchange business in the most effective way. Essential reading if you have been thinking about launching your own business in this popular sector.
            
            .produst_tabs_content--js(data-id="9")
                .produst_tabs__title FOREX & Crypto Software
                .produst_tabs__subtitle B2Broker delivers financial and management software for brokerages, hedge funds and other financial institutions. A whole range of specialised products and services designed to kick-start your brokerage operations and boost your business potential.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs9/icon1.svg", alt="icon")
                        .produst_tabs__link      FOREX Back Office Software
                        .produst_tabs__description Our B2Core solution includes FOREX CRM, Back Office and Trader’s Room functions.A package based client cabinet designed to meet your specific needs according to the type of business you operate.

                    .produst_tabs__item.disabled
                        img(src="images/products_tabs/tabs9/icon2.svg", alt="icon")
                        .produst_tabs__link IB/Affiliate Software
                        .produst_tabs__description An effective marketing solution for brokers, and cryptocurrency exchanges that enables these kind of businesses to make a profit using an effective and proven business model. Used by the vast majority of the industry’s large brokerages.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs9/icon3.svg", alt="icon")
                        .produst_tabs__link      Copy Trading /#[span(class="db")] Social Trading Solution
                        .produst_tabs__description One of the most popular solutions for the retail market that is easy to use and under-stand. Popular with traders as it provides the opportunity to follow the strategies of good traders and become successful.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs9/icon4.svg", alt="icon")
                        .produst_tabs__link PAMM Software
                        .produst_tabs__description Portfolio management software will allow your traders to leverage their success by creating their own investment fund with investors' money within your brokerage. A popular solution that is offered by many brokerages.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs9/icon5.svg", alt="icon")
                        .produst_tabs__link MAM Software
                        .produst_tabs__description Highly popular multi account management software that helps you attract the best traders and money managers. An ideal way to boost your brokerage revenues by offering your clients a career in money management.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      FOREX CRM. How to Find the Best Solution
                        .produst_tabs__description Read our article about B2Core, a unique client cabinet software package solution that can be tailored to a brokerage’s require-ments. A must-read if you are looking for an efficient, multi-featured back-office solution. 
            
            .produst_tabs_content--js(data-id="10")
                .produst_tabs__title FOREX & Crypto Solutions
                .produst_tabs__subtitle A comprehensive range of add-on solutions for MT4/MT5 brokers, exchanges and financial websites.#[span(class="db")] B2Broker ensures your brokerage is fully equipped to maximise the performance of your business#[span(class="db")] operations backed by solid, long-standing expertise so you can run your operations with confidence.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs10/icon1.svg", alt="icon")
                        .produst_tabs__link      FOREX Solutions
                        .produst_tabs__description We provide a range of FOREX solutions that are geared towards all your technology and liquidity requirements including turnkey and white label solutions. Whatever your requirements, we’ll find the perfect solution for your exact requirements.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs10/icon2.svg", alt="icon")
                        .produst_tabs__link Cryptocurrency Solutions
                        .produst_tabs__description Our crypto solutions include the provision of liquidity, turnkey and cryptocurrency processing to facilitate your cryptocurrency business. If you are looking to enter a crypto market we are ready to give you the best options. 
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs10/icon3.svg", alt="icon")
                        .produst_tabs__link      MT4/MT5 Setup & Support
                        .produst_tabs__description We offer professional outsourcing services for MT4/MT5 trading platforms. If you need assistance in any way, we can step in and offer you a quick setup and ongoing competent support so you can run your operations effectively.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs10/icon4.svg", alt="icon")
                        .produst_tabs__link Live Currency Rates Widget
                        .produst_tabs__description Stay up-to-date and informed by uploading a widget with live currency rates to your website. Use it on your calculators and economic calendars to provide real-time data and financial information for your clients as and when required.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs10/icon5.svg", alt="icon")
                        .produst_tabs__link Web API MT4/MT5
                        .produst_tabs__description Connect any of your software with MT4/MT5 platforms with our API and expand all platform capabilities. No need to worry about complex installations.
                    
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs10/icon6.svg", alt="icon")
                        .produst_tabs__link Market Data Feed
                        .produst_tabs__description Through financial data distribution, individuals and corporations may obtain access to real-time quotations, together with trade and market summary data for the major markets. All the information you need is at your fingertips.
            
            .produst_tabs_content--js(data-id="11")
                .produst_tabs__title Cryptocurrency Processing
                .produst_tabs__subtitle Take your business to the next level with cryptocurrency processing. Send, store and exchange crypto and#[span(class="db")] fiat payments. B2Broker offers industry-leading technology so you can offer your clients fast and efficient crypto payments and watch your business grow.
                .produst_tabs__container
                    .produst_tabs__item
                        img(src="images/products_tabs/tabs11/icon1.svg", alt="icon")
                        .produst_tabs__link      Cryptocurrency Payment Gateway
                        .produst_tabs__description Offer your customers Bitcoin, Ether, Ripple’s XRP, Bitcoin Cash, Litecoin and more as a payment option! Capitalise on one of the fastest growing payment methods and attract new clients to your business.

                    .produst_tabs__item
                        img(src="images/products_tabs/tabs11/icon2.svg", alt="icon")
                        .produst_tabs__link Cryptocurrency Wallets
                        .produst_tabs__description A highly secure, reliable and scalable wallets solution for brokerages and exchanges via an industry-leading cryptocurrency payments provider. Receive, store and send virtual currencies such as Bitcoin, Ethereum, Ripple, Monero and more.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      Cryptocurrency Payments for FOREX Brokers
                        .produst_tabs__description Cryptocurrency payments are fast beco-ming the norm. Find out why more and more FOREX brokers are offering their customers cryptocurrencies as a payment method and how you can go about accepting them too.
                    
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link      How to accept cryptocurrency as a business
                        .produst_tabs__description Accepting cryptocurrencies is not as difficult as you might think. Read more about the increase in cryptocurrencies as a payment method today and how easy it is to incorporate it into your business.
                    
                    .produst_tabs__item.disabled
                        img(src="images/products_tabs/tabs11/icon3.svg", alt="icon")
                        .produst_tabs__link      White Label#[span(class="db")] Cryptocurrency Processor
                        .produst_tabs__description White label solutions are a smart way to sell your services. Offer your White Label Bitcoin payment processor to merchants or mer-chant acquirers to enhance their payment offerings.
                    
                    .produst_tabs__item.disabled
                        img(src="images/products_tabs/tabs11/icon4.svg", alt="icon")
                        .produst_tabs__link      Cryptocurrency Wallet Development
                        .produst_tabs__description Get your own multi-cryptocurrency wallet and experience a seamless and secure exchange of your virtual currencies.We have the know-how to deliver the best solution in a timely manner. Mobile app is available.
            
            .produst_tabs_content--js(data-id="12")
                .produst_tabs__title Corporate Services
                .produst_tabs__subtitle We help companies all over the world start their business quickly and in the most effective way that#[span(class="db")] is compliant with international standards. Entrust your start-up operations to B2Broker’s know-how#[span(class="db")] and expertise.
                .produst_tabs__container
                    .produst_tabs__item
                        .produst_tabs__article Article
                        .produst_tabs__link How to Get a FOREX License
                        .produst_tabs__description If you’re a new FOREX broker or looking to start a FOREX brokerage business, obtaining a FOREX license is one of the first things you will need to consider as most businesses prefer to work with a regulated entity for safety reasons.

                    .produst_tabs__item.disabled
                        img(src="images/products_tabs/tabs12/icon1.svg", alt="icon")
                        .produst_tabs__link FOREX Web Design
                        .produst_tabs__description An attractive design is not enough! FOREX and crypto businesses should portray a specialised look and logic to its audience so that your business gets the right message across and highlights your products in the most visually appealing way.
                    
                    .produst_tabs__item.disabled
                        img(src="images/products_tabs/tabs12/icon2.svg", alt="icon")
                        .produst_tabs__link      Forex License
                        .produst_tabs__description We will help you find the right jurisdiction‎ in accordance with your requirements and budget, with various options available that can be considered. Obtaining a FOREX broker license will give your brokerage credibility and attract more clients.
                    
                    .produst_tabs__item.disabled
                        img(src="images/products_tabs/tabs12/icon3.svg", alt="icon")
                        .produst_tabs__link      Cryptocurrency License
                        .produst_tabs__description B2Broker has deep knowledge on all crypto aspects including specific expertise in helping you obtain a crypto exchange license. Crypto is coming under increased scrutity and obtaining a licence is the best way to offer a legitimate service.

                    
                    .produst_tabs__item.disabled
                        img(src="images/products_tabs/tabs12/icon4.svg", alt="icon")
                        .produst_tabs__link FOREX Company Registration
                        .produst_tabs__description B2Broker offers a company registration service so you can benefit from our long-term experience in this area. We take care of all the legal aspects including the complete package of documents, together with apostilles.
                    
                    .produst_tabs__item.disabled
                        img(src="images/products_tabs/tabs12/icon5.svg", alt="icon")
                        .produst_tabs__link Banking Solutions
                        .produst_tabs__description We will help you select the most suitable banks and EMIs for your FOREX or crypto business as we have many established relationships in the business. No need whatsoever to worry about lengthy administrative procedures.