.section.section__watch_us.b2_frame
    .container
        .watch_us
            img.watch_us__icon(src="images/watch_us_icon.svg", alt="icon")
            .watch_us__title #[span(class="extrabold") Watch] Us
        .video_block
            .video_block--preview
                img(src="images/watch_us1.png", alt="video_previw").image_preview
                img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
                .video--time 2:04
            <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .video_description B2Broker - Liquidity & Technology Provider
        .video_subdescription B2Broker is a liquidity and technology provider for the Crypto and Forex industry. Our clients include brokers, crypto exchanges, crypto brokers, forex #[span(class="db")] brokers, hedge and crypto funds and professional managers.
    .container.container--flex
        .video_wrapper
            .video_block
                .video_block--preview
                    img(src="images/watch_us2.png", alt="video_previw").image_preview
                    img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
                    .video--time 1:44
                <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .video_description Official Opening of New B2Prime Office, Minsk
            .video_subdescription The company recently announced the set up operations in Minsk, Belarus after securing a license from the National Bank of the Republic of Belarus...
        .video_wrapper
            .video_block
                .video_block--preview
                    img(src="images/watch_us3.png", alt="video_previw").image_preview
                    img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
                    .video--time 4:07
                <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .video_description B2Broker Employees Descend on St Petersburg
            .video_subdescription B2Broker embarked on a full day’s intensive training course for its#[span(class="db")] employees who all arrived at Yasnaya Polyana, a hi-tech St Petersburg#[span(class="db")] co-working space... 
    a.new_more_btn(href="#") More videos