.section.webinars_schedule.dark_style
    .future__wrapper.future__wrapper--active.goanim.an
        .future
            .future__description
                p.future__month April
                p.future__date 30 Апр. четверг
                p.future__time 12:00 (GMT+3)
                p.future__comming Webinar is coming
                a.future__btn.desabled(href="#") Exhibition
            .future__schedule
                .future__schedule_title Start a forex broker in Asia
                .future__schedule_description If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                .future__schedule_leading
                    img(src="images/future/lead.png", alt="icon")
                    p Alex #[span(class="db")] Kukhtikov
                .future__schedule_add
                    .future__schedule_add__icon
                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                            <path d="M18.0034 0.0118866C17.9837 0.0102921 17.967 0 17.9464 0H9.43604C8.12663 0 7.06104 1.06559 7.06104 2.375V3.16662C7.06104 3.60367 7.4156 3.95838 7.85265 3.95838C8.2897 3.95838 8.64427 3.60367 8.64427 3.16662V2.375C8.64427 1.93882 8.99971 1.58338 9.43604 1.58338H13.1244L12.8829 1.66412C12.2417 1.88577 11.811 2.48981 11.811 3.16662V15.0416H9.43604C8.99971 15.0416 8.64427 14.6862 8.64427 14.25V12.6666C8.64427 12.2297 8.2897 11.875 7.85265 11.875C7.4156 11.875 7.06104 12.2297 7.06104 12.6666V14.25C7.06104 15.5594 8.12663 16.625 9.43604 16.625H11.811V17.4166C11.811 18.2898 12.521 19 13.3943 19C13.5637 19 13.7245 18.9755 13.8986 18.9216L18.655 17.3359C19.297 17.1142 19.7277 16.5102 19.7277 15.8334V1.58338C19.7277 0.660286 18.932 -0.0633469 18.0034 0.0118866Z" fill="white"/>
                            <path d="M9.20262 7.35676L6.036 4.19014C5.80958 3.96371 5.46922 3.89558 5.17307 4.01836C4.87778 4.141 4.6847 4.43004 4.6847 4.74982V7.12482H1.51794C1.08103 7.12482 0.726318 7.47954 0.726318 7.91644C0.726318 8.35349 1.08103 8.70821 1.51794 8.70821H4.6847V11.0832C4.6847 11.403 4.87778 11.6919 5.17307 11.8147C5.46922 11.9373 5.80958 11.8693 6.036 11.6429L9.20262 8.47613C9.51225 8.16664 9.51225 7.66639 9.20262 7.35676Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                            <rect x="0.726318" width="19" height="19" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>

                    a(href="#").future__schedule_add__text Join a webinar
    .future__wrapper
        .future
            .future__description
                p.future__month May
                p.future__date 30 Апр. четверг
                p.future__time 12:00 (GMT+3)
                a.future__btn.desabled(href="#") Liquidity
            .future__schedule
                .future__schedule_title Start a forex broker in Asia
                .future__schedule_description If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                .future__schedule_leading
                    img(src="images/future/lead.png", alt="icon")
                    p Alex #[span(class="db")] Kukhtikov
                .future__schedule_add
                    .future__schedule_add__icon
                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.3604 13.0625C18.7703 13.0625 19.1025 12.7302 19.1025 12.3203V4.45312C19.1025 2.81616 17.7708 1.48438 16.1338 1.48438H15.1689V0.742188C15.1689 0.332277 14.8367 0 14.4268 0C14.0168 0 13.6846 0.332277 13.6846 0.742188V1.48438H10.3076V0.742188C10.3076 0.332277 9.97534 0 9.56543 0C9.15552 0 8.82324 0.332277 8.82324 0.742188V1.48438H5.4834V0.742188C5.4834 0.332277 5.15112 0 4.74121 0C4.3313 0 3.99902 0.332277 3.99902 0.742188V1.48438H3.07129C1.43432 1.48438 0.102539 2.81616 0.102539 4.45312V16.0312C0.102539 17.6682 1.43432 19 3.07129 19H16.1338C17.7708 19 19.1025 17.6682 19.1025 16.0312C19.1025 15.6213 18.7703 15.2891 18.3604 15.2891C17.9504 15.2891 17.6182 15.6213 17.6182 16.0312C17.6182 16.8497 16.9523 17.5156 16.1338 17.5156H3.07129C2.2528 17.5156 1.58691 16.8497 1.58691 16.0312V4.45312C1.58691 3.63464 2.2528 2.96875 3.07129 2.96875H3.99902V3.71094C3.99902 4.12085 4.3313 4.45312 4.74121 4.45312C5.15112 4.45312 5.4834 4.12085 5.4834 3.71094V2.96875H8.82324V3.71094C8.82324 4.12085 9.15552 4.45312 9.56543 4.45312C9.97534 4.45312 10.3076 4.12085 10.3076 3.71094V2.96875H13.6846V3.71094C13.6846 4.12085 14.0168 4.45312 14.4268 4.45312C14.8367 4.45312 15.1689 4.12085 15.1689 3.71094V2.96875H16.1338C16.9523 2.96875 17.6182 3.63464 17.6182 4.45312V12.3203C17.6182 12.7302 17.9504 13.0625 18.3604 13.0625Z" fill="white"/>
                            <path d="M9.56543 14.5098C9.97534 14.5098 10.3076 14.1775 10.3076 13.7676V11.7266H12.3486C12.7585 11.7266 13.0908 11.3943 13.0908 10.9844C13.0908 10.5745 12.7585 10.2422 12.3486 10.2422H10.3076V8.20117C10.3076 7.79126 9.97534 7.45898 9.56543 7.45898C9.15552 7.45898 8.82324 7.79126 8.82324 8.20117V10.2422H6.78223C6.37232 10.2422 6.04004 10.5745 6.04004 10.9844C6.04004 11.3943 6.37232 11.7266 6.78223 11.7266H8.82324V13.7676C8.82324 14.1775 9.15552 14.5098 9.56543 14.5098Z" fill="white"/>
                        </svg>
                    a(href="#").future__schedule_add__text add to calendar
    .future__wrapper
        .future
            .future__description
                //- p.future__month June
                p.future__date 30 Апр. четверг
                p.future__time 12:00 (GMT+3)
                a.future__btn.desabled(href="#") Liquidity
            .future__schedule
                .future__schedule_title Start a forex broker in Asia
                .future__schedule_description If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                .future__schedule_leading
                    img(src="images/future/lead.png", alt="icon")
                    p Alex #[span(class="db")] Kukhtikov
                .future__schedule_add
                    .future__schedule_add__icon
                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.3604 13.0625C18.7703 13.0625 19.1025 12.7302 19.1025 12.3203V4.45312C19.1025 2.81616 17.7708 1.48438 16.1338 1.48438H15.1689V0.742188C15.1689 0.332277 14.8367 0 14.4268 0C14.0168 0 13.6846 0.332277 13.6846 0.742188V1.48438H10.3076V0.742188C10.3076 0.332277 9.97534 0 9.56543 0C9.15552 0 8.82324 0.332277 8.82324 0.742188V1.48438H5.4834V0.742188C5.4834 0.332277 5.15112 0 4.74121 0C4.3313 0 3.99902 0.332277 3.99902 0.742188V1.48438H3.07129C1.43432 1.48438 0.102539 2.81616 0.102539 4.45312V16.0312C0.102539 17.6682 1.43432 19 3.07129 19H16.1338C17.7708 19 19.1025 17.6682 19.1025 16.0312C19.1025 15.6213 18.7703 15.2891 18.3604 15.2891C17.9504 15.2891 17.6182 15.6213 17.6182 16.0312C17.6182 16.8497 16.9523 17.5156 16.1338 17.5156H3.07129C2.2528 17.5156 1.58691 16.8497 1.58691 16.0312V4.45312C1.58691 3.63464 2.2528 2.96875 3.07129 2.96875H3.99902V3.71094C3.99902 4.12085 4.3313 4.45312 4.74121 4.45312C5.15112 4.45312 5.4834 4.12085 5.4834 3.71094V2.96875H8.82324V3.71094C8.82324 4.12085 9.15552 4.45312 9.56543 4.45312C9.97534 4.45312 10.3076 4.12085 10.3076 3.71094V2.96875H13.6846V3.71094C13.6846 4.12085 14.0168 4.45312 14.4268 4.45312C14.8367 4.45312 15.1689 4.12085 15.1689 3.71094V2.96875H16.1338C16.9523 2.96875 17.6182 3.63464 17.6182 4.45312V12.3203C17.6182 12.7302 17.9504 13.0625 18.3604 13.0625Z" fill="white"/>
                            <path d="M9.56543 14.5098C9.97534 14.5098 10.3076 14.1775 10.3076 13.7676V11.7266H12.3486C12.7585 11.7266 13.0908 11.3943 13.0908 10.9844C13.0908 10.5745 12.7585 10.2422 12.3486 10.2422H10.3076V8.20117C10.3076 7.79126 9.97534 7.45898 9.56543 7.45898C9.15552 7.45898 8.82324 7.79126 8.82324 8.20117V10.2422H6.78223C6.37232 10.2422 6.04004 10.5745 6.04004 10.9844C6.04004 11.3943 6.37232 11.7266 6.78223 11.7266H8.82324V13.7676C8.82324 14.1775 9.15552 14.5098 9.56543 14.5098Z" fill="white"/>
                        </svg>
                    a(href="#").future__schedule_add__text add to calendar
    a(href="#").future__green_border_btn More webinars