.section.section__webinars.dark_style
    .container.goanim.an
        .section__title Online #[span(class="section__title--bold") Webinars]
        .live_webinars.signal_button
            .red_signal
            span Live webinars

    .join(style="background-image: url(images/join.png);")
        .join__inner
            .join__title How to start a Crypto Exchange in 2020
            .join__who
                .join__icon
                    img(src="images/join_name.png", alt="name")
                .join__name Alex #[span(class="db")]Kukhtikov
            .join__description If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. 
            .join__timer
                .join__timer_title 30 Apr. 12:00 (GMT+3)
                .timer(data-finish="1690148096000")
                    //- .timer_section
                    //-     .days_1 0
                    //-     .days_2 0
                    //-     .timer_section_desc дней
                    //- .timer_delimetr :
                    .timer_section
                        .hours_1 0
                        .hours_2 0
                        //- .timer_section_desc часов
                    .timer_delimetr :
                    .timer_section
                        .minutes_1 0
                        .minutes_2 0
                        //- .timer_section_desc минут
                    .timer_delimetr :
                    .timer_section
                        .seconds_1 0
                        .seconds_2 0
                    //- .timer_section_desc секунд
            a(href="#").new_green_btn Join a webinar