.section.webinars_schedule.dark_style
    .container
        .future
            .future__description
                p.future__month May
                p.future__date 18 May
                p.future__time 12:00 (GMT+3)
                p.future__comming Webinar is coming
                a.future__btn.desabled(href="#") FOREX 
                <svg class="future__line" width="24" height=" calc(100% + 30px)" viewBox="0 0 24  calc(100% + 30px)" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                    <g filter="url(#filter0_d)">
                    <circle cx="12" cy="50.4492" r="7.5" fill="#191F24"/>
                    <circle cx="12" cy="50.4492" r="5.5" stroke="#00E8B6" stroke-width="4"/>
                    </g>
                    <defs>
                    <filter id="filter0_d" x="0.5" y="42.9492" width="23" height="23" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                    </filter>
                    </defs>
                </svg>


            .future__schedule
                a(href="#").future__schedule_title Start Crypto Exchange#[span(class="db")] in 2020
                .future__schedule_description If you’ve followed along with the leaks in recent weeks, none of the new#[span(class="db")] features will surprise you.
                .future__schedule_leading
                    img(src="images/future/lead.png", alt="icon")
                    p Alex #[span(class="db")] Kukhtikov

                .future__bot_flex

                    .future_btns
                        a(href="#").new_green_btn Join a webinar
                        a(href="#").new_more_btn Read more
                    
                    .timer__wrapper
                            span.timer__title Webinar starts in
                            .timer(data-finish="1690148096000")
                                //- .timer_section
                                //-     .days_1 0
                                //-     .days_2 0
                                //-     .timer_section_desc дней
                                //- .timer_delimetr :
                                .timer_section
                                    .hours_1 0
                                    .hours_2 0
                                    //- .timer_section_desc часов
                                .timer_delimetr :
                                .timer_section
                                    .minutes_1 0
                                    .minutes_2 0
                                    //- .timer_section_desc минут
                                .timer_delimetr :
                                .timer_section
                                    .seconds_1 0
                                    .seconds_2 0
                                //- .timer_section_desc секунд

        .future
            .future__description
                p.future__date 21 May
                p.future__time 12:00 (GMT+3)
                p.future__comming Webinar is coming
                a.future__btn.desabled(href="#") FOREX 
                <svg class="future__line" width="24" height=" 100%" viewBox="0 0 24  100%" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                    <g filter="url(#filter0_d)">
                    <circle cx="12" cy="50.4492" r="7.5" fill="#191F24"/>
                    <circle cx="12" cy="50.4492" r="5.5" stroke="#00E8B6" stroke-width="4"/>
                    </g>
                    <defs>
                    <filter id="filter0_d" x="0.5" y="42.9492" width="23" height="23" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                    </filter>
                    </defs>
                </svg>

            .future__schedule
                a(href="#").future__schedule_title Trading with Leverage
                .future__schedule_description If you’ve followed along with the leaks in recent weeks, none of the new#[span(class="db")] features will surprise you.
                .future__schedule_leading
                    img(src="images/future/lead.png", alt="icon")
                    p Alex #[span(class="db")] Kukhtikov

                .future__bot_flex

                    .future_btns
                        a(href="#").new_green_btn Join a webinar
                        a(href="#").new_more_btn Read more
                    
                    .timer__wrapper
                            span.timer__title Webinar starts in
                            .timer(data-finish="1690148096000")
                                //- .timer_section
                                //-     .days_1 0
                                //-     .days_2 0
                                //-     .timer_section_desc дней
                                //- .timer_delimetr :
                                .timer_section
                                    .hours_1 0
                                    .hours_2 0
                                    //- .timer_section_desc часов
                                .timer_delimetr :
                                .timer_section
                                    .minutes_1 0
                                    .minutes_2 0
                                    //- .timer_section_desc минут
                                .timer_delimetr :
                                .timer_section
                                    .seconds_1 0
                                    .seconds_2 0
                                //- .timer_section_desc секунд
    .container

        .future
            .future__description
                p.future__month June
                p.future__date 1 June
                p.future__time 12:00 (GMT+3)
                p.future__comming Webinar is coming
                a.future__btn.desabled(href="#") Blockchain
                <svg class="future__line" width="24" height=" 100%" viewBox="0 0 24  100%" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                    <g filter="url(#filter0_d)">
                    <circle cx="12" cy="50.4492" r="7.5" fill="#191F24"/>
                    <circle cx="12" cy="50.4492" r="5.5" stroke="#00E8B6" stroke-width="4"/>
                    </g>
                    <defs>
                    <filter id="filter0_d" x="0.5" y="42.9492" width="23" height="23" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                    </filter>
                    </defs>
                </svg>

            .future__schedule
                a(href="#").future__schedule_title Cryptocurrency Future
                .future__schedule_description If you’ve followed along with the leaks in recent weeks, none of the new#[span(class="db")] features will surprise you.
                .future__schedule_leading
                    img(src="images/future/lead.png", alt="icon")
                    p Alex #[span(class="db")] Kukhtikov

                .future__bot_flex

                    .future_btns
                        a(href="#").new_green_btn Join a webinar
                        a(href="#").new_more_btn Read more
                    
                    .timer__wrapper
                            span.timer__title Webinar starts in
                            .timer.disabled
                                //- .timer_section
                                //-     .days_1 0
                                //-     .days_2 0
                                //-     .timer_section_desc дней
                                //- .timer_delimetr :
                                .timer_section
                                    .hours_1 7
                                    .hours_2 2
                                    //- .timer_section_desc часов
                                .timer_delimetr :
                                .timer_section
                                    .minutes_1 0
                                    .minutes_2 0
                                    //- .timer_section_desc минут
                                .timer_delimetr :
                                .timer_section
                                    .seconds_1 0
                                    .seconds_2 0
                                //- .timer_section_desc секунд

        a(href="#").new_green_bord_btn View all webinars