.forex_liquidity__new__b2_core {
  padding-bottom: 250px;
  .forex_liquidity__content {
    max-width: 445px;
  }
}

.section {
  padding-top: 125px;
  padding-bottom: 125px;
  @media screen and (max-width: 580px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section__title {
    text-align: center;
    margin-bottom: 50px;
    @media screen and (max-width: 580px) {
      margin-bottom: 20px;
    }
  }
  .section__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */
    text-align: center;
    letter-spacing: 0px;
    color: #63636e;
  }
}

.section.dark_style {
  background: #1f2832;
  .section__title {
    color: #fff;
  }
  .section__subtitle {
    color: #fff;
  }
}

.what_is_section {
  .banner {
    margin-top: 80px;
    @media screen and (max-width: 580px) {
      margin-top: 0px;
    }
  }
}

.b2_frame {
  background: #fff;
}
