.forex_liquidity__new__b2_core {
  padding-top: 280px;
  position: relative;
  padding-bottom: 150px;
  overflow: hidden;

  video::-webkit-media-controls {
    display: none !important;
  }

  .new_form__capch {
    object-fit: cover;
  }

  .forex_liquidity--overlay {
    background: rgba(27, 27, 27, 0.65);
  }

  .new_form__label_capch .new_form__capch {
    background: #e0e0e0;
  }

  .forex_liquidity__content {
    margin-top: auto;
    max-width: 445px;
    margin-bottom: auto;
  }

  @media screen and (max-width: 920px) {
    .container {
      display: block;
    }
  }
}

.section {
  padding-top: 150px;
  padding-bottom: 150px;
  @media screen and (max-width: 580px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section__title {
    text-align: center;
    margin-bottom: 50px;

    @media screen and (max-width: 580px) {
      margin-bottom: 20px;
    }
  }
  .section__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */
    text-align: center;
    letter-spacing: 0px;
    color: $gray;
    @media screen and (max-width: 980px) {
      span.db {
        display: none;
      }
    }
  }
}

.section.dark_style {
  background: $darkbg;
  .section__title {
    color: $white;
  }
  .section__subtitle {
    color: $white;
  }
}

.what_is_section {
  .banner {
    margin-top: 80px;
    @media screen and (max-width: 580px) {
      margin-top: 0px;
    }
  }
}

.b2_frame {
  background: $white;
}

.b2_form_5 {
  .section__subtitle {
    max-width: 500px;
  }
}

.b2_form_7 {
  .section__subtitle {
    max-width: 550px;
  }
}

.section__b2_best {
  .best_with {
    align-items: stretch;
    &--right {
      padding-top: 90px;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .check_block.castom {
        &:last-child {
          margin-bottom: 0;
        }
        .check_block__text {
          margin-right: 0;
        }
      }
    }
  }
  .section__subtitle {
    margin: 0 auto;
  }
}

.what_is_section {
  padding: 150px 0;
  @media screen and (max-width: 580px) {
    padding: 50px 0;
  }
}

.section__many {
  .section__title {
    margin-bottom: 80px;
  }
}

.b2_core__title_video {
  position: absolute;
  left: 50%;
  top: 0;
  width: 132vw;
  height: 100%;
  margin-left: -66vw;
  display: block;
  object-fit: cover;
  object-position: center;

  @media screen and (max-width: 1300px) {
    left: 0;
    width: 100%;
    margin-left: 0;
  }
}

.modal-form-1.modal-form-2 {
  .fancybox-button.fancybox-close-small {
    top: 32px;
    right: 35px;
    background: center / cover url(../images/close.svg) no-repeat;
    opacity: 0.3;
    svg {
      display: none;
    }
  }
  background: rgba(24, 32, 41, 0.9);
  box-shadow: 0px 0px 40px rgba(32, 41, 51, 0.2);
  border-radius: 20px;
  .forex_liquidity__form-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    /* or 122% */

    text-align: center;

    color: $white;
  }

  .section__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    /* or 179% */

    text-align: center;
    letter-spacing: -0.5px;

    color: $white;
  }
}

.forex_liquidity__new {
  .new_form__label {
    margin-bottom: 12px;
  }

  .new_form__sabmit {
    margin-top: 25px;
  }

  .b2_form.light_theme .new_form__label,
  .b2_form.light_theme .new_form__select {
    background: rgba(26, 26, 26, 0.1);
    border: 1px solid rgba(209, 219, 227, 0.7);
    box-sizing: border-box;
    border-radius: 5px;

    .new_form__star {
      color: $white;
    }

    .new_form__placeholder {
      color: rgba(255, 255, 255, 0.7);
    }

    &:hover {
      .new_form__placeholder {
        color: $white;
      }
    }
  }
  .b2_form.light_theme .new_form__label.active {
    background: rgba(13, 13, 13, 0.4);
    .new_form__label__lang_select_wrapper {
      background: rgba(13, 13, 13, 0.4);
    }
  }

  .b2_form.light_theme .new_form__label:hover {
    background: rgba(13, 13, 13, 0.4);
  }

  .b2_form.light_theme .new_form__label__lang_select_wrapper {
    background: rgba(26, 26, 26, 0.1);
  }

  .b2_form.light_theme .new_form__select {
    color: $white;
  }

  .b2_form.light_theme .new_form__label__lang_select_wrapper .new_form__select {
    border: none;
    background-position: calc(100% - 30px) center;
  }

  .b2_form.light_theme .new_form__select {
    background-image: url(../images/triangl.svg);
    background-repeat: no-repeat;
    background-size: auto;
  }

  .b2_form.light_theme .new_form__select.new_form__select_phone {
    background-position: calc(100% - 14px) center;
    border: none;
    border-right: 1px solid rgba(209, 219, 227, 0.7);
  }
}

.forex_liquidity__new {
  .b2_form.light_theme .new_form__input,
  .b2_form.light_theme .new_form__star {
    color: $white !important;
  }
}
