.forex_liquidity__new__b2_core {
  padding-top: 280px;
  position: relative;
  padding-bottom: 267px;
  overflow: hidden;

  video::-webkit-media-controls {
    display: none !important;
  }

  .new_form__capch {
    object-fit: cover;
  }

  .forex_liquidity--overlay {
    background: rgba(27, 27, 27, 0.65);
  }

  .new_form__label_capch .new_form__capch {
    background: #e0e0e0;
  }

  .forex_liquidity__content {
    margin-top: auto;
    max-width: 445px;
    margin-bottom: auto;
  }

  @media screen and (max-width: 920px) {
    .container {
      display: block;
    }
  }
}

.section {
  padding-top: 150px;
  padding-bottom: 150px;
  @media screen and (max-width: 580px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section__title {
    text-align: center;
    margin-bottom: 50px;
    @media screen and (max-width: 580px) {
      margin-bottom: 20px;
    }
  }
  .section__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */
    text-align: center;
    letter-spacing: 0px;
    color: #63636e;
  }
}

.section.dark_style {
  background: #1f2832;
  .section__title {
    color: #fff;
  }
  .section__subtitle {
    color: #fff;
  }
}

.what_is_section {
  .banner {
    margin-top: 80px;
    @media screen and (max-width: 580px) {
      margin-top: 0px;
    }
  }
}

.b2_frame {
  background: #fff;
}

.b2_form_5 {
  .section__subtitle {
    max-width: 500px;
  }
}

.b2_form_7 {
  .section__subtitle {
    max-width: 550px;
  }
}

.section__b2_best {
  .best_with {
    align-items: stretch;
    &--right {
      padding-top: 90px;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .check_block.castom {
        &:last-child {
          margin-bottom: 0;
        }
        .check_block__text {
          margin-right: 0;
        }
      }
    }
  }
  .section__subtitle {
    max-width: 630px;
    margin: 0 auto;
  }
}

.what_is_section {
  padding: 150px 0;
  @media screen and (max-width: 580px) {
    padding: 50px 0;
  }
}

.section__many {
  .section__title {
    margin-bottom: 80px;
  }
}

.b2_core__title_video {
  position: absolute;
  left: 50%;
  top: 0;
  width: 132vw;
  height: 100%;
  margin-left: -66vw;
  display: block;
  object-fit: cover;
  object-position: center;

  @media screen and (max-width: 1300px) {
    left: 0;
    width: 100%;
    margin-left: 0;
  }
}

.modal-form-1.modal-form-2 {
  .fancybox-button.fancybox-close-small {
    top: 32px;
    right: 35px;
    background: center / cover url(../images/close.svg) no-repeat;
    opacity: 0.3;
    svg {
      display: none;
    }
  }
  background: rgba(24, 32, 41, 0.9);
  box-shadow: 0px 0px 40px rgba(32, 41, 51, 0.2);
  border-radius: 20px;
  .forex_liquidity__form-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    /* or 122% */

    text-align: center;

    color: #ffffff;
  }

  .section__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    /* or 179% */

    text-align: center;
    letter-spacing: -0.5px;

    color: #ffffff;
  }
}
