.b2_frame {
  @media screen and (max-width: 580px) {
    padding: 50px 0;
  }
  .video_description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 27px;
    color: #3c3c3c;
    margin: 15px 0px 5px;
  }
  .video_subdescription {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */
    color: #827c7c;
  }
}

.video_block--youtube_btn {
  width: 72px;
  position: absolute;
  display: block;
  cursor: pointer;
}
.video--time {
  padding-top: 2px;
  position: absolute;
  right: 23px;
  bottom: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  color: $white;
  width: 50px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(27, 27, 27, 0.5);
  border: 1px solid $white;
  box-sizing: border-box;
  border-radius: 3.37677px;
}
