.section__packages {
  background: #eff4f6;
  padding: 150px 0;
  @media screen and (max-width: 580px) {
    padding: 50px 0;
  }
  .section__subtitle {
    max-width: 575px;
    margin: 0 auto;
  }
  .packages_table {
    margin-top: 80px;
  }
}

.packages_table {
  .packages_table__row_wrapper {
    box-sizing: border-box;
    padding: 0 2px;
  }
  overflow-x: auto;
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
  /* Small_shadow */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border-bottom: 1px solid #efefef;
    height: 56px;
    &--shadow {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-bottom: none;
    }
    &_wrapper {
    }
    &:not(.packages_table__heading_row) {
      .packages_table__col:not(:nth-child(1)) {
        font-weight: 400;
      }
      .packages_table__col {
        border-right: 0;
      }
    }
  }
  &__subheading_row {
    border-bottom: none;
    .packages_table__col {
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 36px;
      /* identical to box height, or 225% */
      letter-spacing: 0px;
      text-transform: uppercase;
      color: #3f3f3f;
    }
  }
  &__heading_row {
    height: 40px;
    border-bottom: 0px;
    .packages_table__col {
      background: #e8edf0;
      justify-content: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 13.9611px;
      line-height: 20px;
      /* identical to box height, or 143% */
      text-align: center;
      color: #000000;
      &:nth-child(1) {
        justify-content: center;
        width: 416px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &__col,
  a {
    height: 100%;
    border-right: 3px solid #fff;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 225% */
    letter-spacing: 0px;
    color: #3f3f3f;
    text-decoration: none;

    &_vip {
      svg.svg-sprite-icon {
        margin-right: 10px;
        margin-left: 0;
      }
    }
    &:last-child {
      border-right: none;
    }
    &:nth-child(1) {
      justify-content: flex-start;
      width: 360px;
      padding-left: 35px;
      padding-right: 21px;
    }

    &:nth-child(2) {
      width: 185px;
    }
    &:nth-child(3) {
      width: 185px;
    }
    &:nth-child(4) {
      width: 185px;
    }
    .icon-bold_check {
      width: 15px;
      height: 15px;
      margin: 0 auto;
      pointer-events: none;
      user-select: none;
    }
    .icon-close {
      width: 11px;
      height: 11px;
      margin: 0 auto;
      pointer-events: none;
      user-select: none;
    }
  }
}
.packages_more_table_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 44px;
  cursor: pointer;
  margin: 0 auto;
  text-decoration: none;
  margin-top: 70px;
  background: #0aab88;
  border: 2px solid #01bd95;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.2s;
  color: #ffffff;

  &:hover {
    background: #02b991;
    border: 2px solid #00c89d;
    box-sizing: border-box;
    border-radius: 5px;
  }

  &.active {
    display: none;
  }
}

.packages_hide_table_btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #9dafbd;
  border: 2px solid #9dafbd;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 44px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 70px;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    background: #a7bac8;
    border: 2px solid #a7bac8;
    box-sizing: border-box;
    border-radius: 5px;
  }

  &.active {
    display: flex;
  }
}
.packages_table__wrapper-js-1 {
  display: block;

  // &.active {
  //   display: none;
  // }
}
// .packages_table__wrapper-js-2 {
//   display: none;

//   &.active {
//     display: block;
//   }
// }
