.b2_works {
  background: $white;
  .tabs_slider .item {
    margin: 0px 5px 20px 5px;
    height: 97px;
    width: 300px;
    padding-left: 30px;
    padding-right: 0;
    flex-wrap: wrap;

    span:nth-child(2) {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: $grayblue-text;
    }

    &.active {
      margin-top: 0;

      span:nth-child(2) {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: $darkgray;
      }
    }
  }
  .main_tabs_slider {
    .item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      img {
        width: auto;
        height: 500px;
        margin: 0 auto;
      }
    }

    .tabs__title {
      width: 100%;
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 44px;
      /* identical to box height, or 122% */
      text-align: center;
      color: $darkgray;
      margin-top: 60px;
      margin-bottom: 30px;
    }

    .tabs__subtitle {
      width: 100%;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */
      text-align: center;
      color: $darkgray;
    }
  }
}
