.gray_block__container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -20px;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
  .gray__block {
    margin-bottom: 20px;
    width: calc(50% - 10px);
    padding: 48px 55px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }
}
.benefits_section {
  .gray__block {
    &--title {
      text-align: left;
    }
    &--subtitle {
      text-align: left;
      color: #637786;
      margin-bottom: 0;
    }
  }
}
