.connect_section {
  padding-top: 96px;
  padding-bottom: 96px;
  .little_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.318182px;

    color: #637786;
  }

  .section__title {
    max-width: 824px;
  }
  .main-text {
    max-width: 562px;
  }
  .mac_slider {
    .mac_slider--slick-item {
      height: 580px;
      background: #eff4f6;

      &--sup {
        img {
          mix-blend-mode: multiply;
        }
      }
    }
    .flickity-button {
      display: none;

      @media screen and (max-width: 600px) {
        display: flex;
      }
    }
  }
  .branding_block {
    &__item {
      img {
        mix-blend-mode: multiply;
      }
    }
  }
}

.branding_block {
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1055px;
  width: 98%;
  margin: 0 auto;
  &__item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 33px;
    box-sizing: border-box;
    mix-blend-mode: multiply;
    img {
      display: block;
      width: 100%;
    }
    @media screen and (max-width: 700px) {
      padding: 10px;
    }
    @media screen and (max-width: 600px) {
      width: 50%;
    }
  }
}
