.connect_section {
  .section__title {
    max-width: 824px;
  }
  .main-text {
    max-width: 562px;
  }
  .mac_slider {
    .mac_slider--slick-item {
      height: 580px;
    }
    .flickity-button {
      display: none;

      @media screen and (max-width: 600px) {
        display: flex;
      }
    }
  }
  .branding_block {
    &__item {
      img {
        mix-blend-mode: multiply;
      }
    }
  }
}

.branding_block {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1055px;
  width: 98%;
  margin: 0 auto;
  background: #eff4f6;
  /* Small_shadow */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  &__item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 36px 20px 36px;
    box-sizing: border-box;
    img {
      display: block;
      width: 100%;
    }
    @media screen and (max-width: 700px) {
      padding: 10px;
    }
    @media screen and (max-width: 600px) {
      width: 50%;
    }
  }
}
