.section__integrated {
  padding: 130px 0;
  @media screen and (max-width: 580px) {
    padding: 50px 0;
  }
  background: linear-gradient(180deg, $bluebg 0%, $bluebg 100%);
  .section__subtitle {
    max-width: 636px;
    margin: 0 auto;
  }
  .casher__title {
    font-family: Roboto;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -1.0135px;

    color: $darkgray;
  }
  .branding_block {
    width: 100%;
    padding: 62px 0;
    margin-top: 60px;
    margin-bottom: 60px;
    @media screen and (max-width: 600px) {
      padding: 20px;
    }
    &__item {
      width: 33.333%;
      padding: 26px 70px;

      @media screen and (max-width: 800px) {
        padding: 10px 30px;
      }

      @media screen and (max-width: 600px) {
        width: 50%;
      }
    }
    &--litle {
      padding: 20px;
      justify-content: center;
      margin-bottom: 0;
      .branding_block__item {
        padding: 10px 57px;
        @media screen and (max-width: 800px) {
          padding: 10px 30px;
        }
        @media screen and (max-width: 600px) {
          width: 50%;
        }
      }
    }
  }
  .big_text {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    /* identical to box height, or 175% */
    color: #5c5c5c;
    margin-bottom: 20px;
  }
  .gray__more_btn {
    margin-bottom: 72px;
  }
}

.gray__more_btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0;
  color: $grayblue-text;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    flex-shrink: 0;
    margin-left: 10px;
  }
}
