.section__registration {
  .section__subtitle {
    max-width: 557px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .office_slider {
    padding-top: 0;
  }
  .office_slider__item {
    background: #eff4f6;
    .office_slider__heading {
      color: #000;
    }
    .check_block--mam_platform-item--text {
      color: #555;
    }
  }
  .flickity_castom_arrow .flickity-prev-next-button.next {
    svg {
      path {
        fill: #fff;
      }
    }
  }
}

.types {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #eff4f6;
  /* Small_shadow */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 72px 75px;
  box-sizing: border-box;
  @media screen and (max-width: 870px) {
    flex-direction: column;
    padding: 20px;
    &__column {
      margin-bottom: 20px;
    }
  }
  &__heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 119% */
    color: #383838;
    margin-bottom: 35px;
  }
  .check_block--mam_platform-item {
    margin-bottom: 16px;
    padding-left: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .check_block--mam_platform-item--text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #555555;
    img {
      display: block;
      width: 99px;
    }
  }
}
