.section__sacurity {
  background: #eff4f6;
  .section__subtitle {
    max-width: 719px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .banner {
    margin-bottom: 50px;
  }
  .gray__block {
    padding: 38px 55px;
    padding-right: 60px;
    justify-content: flex-start;
    @media screen and (max-width: 580px) {
      padding: 10px;
    }

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    /* Small_shadow */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    &--title,
    &--subtitle {
      text-align: left;
    }
  }
}
