.section__translate {
  .section__subtitle {
    max-width: 588px;
    margin: 0 auto;
  }
  .advanced_slider_b2_core {
    margin-top: 80px;
    margin-bottom: 120px;
    .advanced_slider--wrapper .item {
      height: 28.1vw;
    }
    .advanced_slider--wrapper .item img {
      margin-left: -1px;
      width: 100%;
      height: 100%;
      @media screen and (min-width: 1800px) {
      }
    }
    @media screen and (min-width: 1800px) {
      .advanced_slider--wrapper .item {
        padding-top: 40px;
        height: 453px;
      }
    }
  }
  .gray_block__container {
    user-select: none;
    .gray__block {
      &--title,
      &--subtitle {
        text-align: left;
      }
      &--subtitle {
        margin-bottom: 0;
      }
      color: #637786;
    }
  }
  @media screen and (min-width: 1800px) {
    .advanced_slider--wrapper .advanced_slider--slick-2 {
      width: 728px;
    }
  }
}

.advanced_slider_b2_core {
  .advanced_slider--wrapper {
    position: relative;
    overflow: hidden;
  }
  .advanced_slick--prev,
  .advanced_slick--next,
  .advanced_slick--prev-2,
  .advanced_slick--next-2 {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 39.58px;
    height: 38.68px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #01b68f;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s;
    .svg-sprite-icon {
      width: 9px;
      height: 15px;
    }
    &:hover {
      background: #01b68f;
      svg {
        path {
          fill: white;
        }
      }
    }
  }
  .advanced_slick--prev,
  .advanced_slick--prev-2 {
    left: 0;
    svg {
      transform: rotate(180deg);
      margin-right: 3px;
    }
  }
  .advanced_slick--next,
  .advanced_slick--next-2 {
    right: 0;

    svg {
      margin-left: 3px;
    }
  }
}
