$roboto: 'Roboto',
sans-serif;
body {
    position: relative;
    color: #63636E;
    font-family: $roboto;
    font-size: 14px;
    line-height: 16px;
    background: #FBFBFB;
}

body,
p,
ul,
h2 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

input:focus,
input:visited,
select:focus,
select:visited {
    outline: none;
}

.container {
    width: 98%;
    max-width: 980px;
    margin: 0 auto;
}

.section__title {
    font-size: 80px;
    line-height: 84px;
    font-weight: 300;
    color: #383838;
    &--bold {
        font-weight: 900;
    }
}

.section__subtitle {
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.btn {
    text-decoration: none;
    font-family: $roboto;
    color: #fff;
    border-radius: 5px;
    transition-duration: .5s;
    cursor: pointer;
    &--green {
        background: linear-gradient(180deg, #00D0A4 0%, #00B890 100%);
    }
    &--dark_green {
        background: linear-gradient(180deg, #00C69B 0%, #00AE89 100%);
    }
    &--box_shadow {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }
    &--gray {
        background: rgba(0, 0, 0, 0.2);
    }
    &--border {
        border: 1px solid #01C198;
    }
    &:hover {
        opacity: .8;
    }
}

.form__input {
    background: #FFFFFF;
    border: 1px solid #D1DBE3;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: $roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.318182px;
    color: #9DAFBD;
    height: 51px;
    padding: 0 20px;
    &::placeholder {
        font-family: $roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.318182px;
        color: #9DAFBD;
        transition: color .5s ease;
    }
    &:focus::placeholder {
        color: #fff;
    }
}

.form__phone {
    display: flex;
    &__select {
        padding-left: 17px;
        margin-right: -3px;
        border-radius: 5px;
        z-index: 1;
    }
    .form__input {
        border-radius: 0px 5px 5px 0px;
    }
}

.check_block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &__icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #01B68F;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 18px;
        flex-shrink: 0;
        .icon-check {
            width: 18px;
            height: 12px;
        }
    }
}

.slider_arrow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #01B68F;
    cursor: pointer;
    .svg-sprite-icon {
        width: 9px;
        height: 15px;
    }
    &--prev {
        .svg-sprite-icon {
            transform: rotate(180deg);
        }
    }
    &--green {
        background: #01B68F;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-item {
        a {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            letter-spacing: -0.5px;
            text-decoration: none;
            color: #E3E3E3;
            &:hover {
                color: #fff;
                font-weight: bold;
            }
        }
        &.disabled{
            opacity: 0.2;
            pointer-events: none;
        }
    }
}

.language {
    img {
        display: block;
        width: 100%;
    }
}

.number_block {
    display: flex;
    &--text {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.318182px;
        text-transform: capitalize;
        color: #F2F2F2;
    }
    &--number {
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        color: #FFFFFF;
        &-text {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
        }
    }
}

.link {
    position: relative;
    text-decoration: none;
    padding-bottom: 4px;
    color: #C4C4C4;
    transition-duration: .5s;
    &--dotted {
        border-bottom: 2px dotted #C4C4C4;
    }
    &:hover {
        opacity: .8;
    }
}

.tabs {
    &>input[type="radio"] {
        display: none;
    }
    &>div {
        display: none;
    }
    #tabs-btn-1:checked~#tabs-content-1,
    #tabs-btn-2:checked~#tabs-content-2,
    #tabs-btn-3:checked~#tabs-content-3,
    #tabs-btn-4:checked~#tabs-content-4,
    #tabs-btn-5:checked~#tabs-content-5,
    #tabs-btn-6:checked~#tabs-content-6 {
        display: block;
    }
}

.table {
    width: 100%;
}

* {
    &.bold {
        font-weight: 600;
    }
    &.red {
        color: #EE0064;
    }
    &.green {
        color: #01B68F;
    }
    &.upp {
        text-transform: uppercase;
    }
}

.more_button {
    position: relative;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.318182px;
    color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    &--arrow:after {
        content: '';
        display: block;
        width: 10px;
        height: 12px;
        background: center / cover url(../images/more_arrow.svg) no-repeat;
        margin-left: 8px;
    }
}

.hide {
    display: none;
}

.main-text {
    font-weight: normal;
    letter-spacing: -0.5px;
    color: #63636E;
}

.green--gradient {
    background: linear-gradient(90deg, rgba(0, 232, 182, 0.8) 1.59%, rgba(1, 189, 149, 0.8) 93.04%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.flex_block {
    display: flex;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    &_item {
        background: #FFFFFF;
        box-shadow: 0px 1.83691px 3.67383px rgba(0, 0, 0, 0.15);
        border-radius: 3.67383px;
        padding: 3px 14px;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: -0.292236px;
        color: #63636E;
    }
}

.arrow_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-item {
        width: 33.333%;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-gray_arrow {
            width: 14px;
            height: 9px;
        }
    }
}

.small_boxSh {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.extrabold {
    font-weight: 900;
}

.trade_mark {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    &-item {
        width: calc(100% / 3 - 14px);
        box-sizing: border-box;
        .mark {
            text-align: center;
        }
        .main_image {
            img {
                display: block;
            }
        }
        .description {
            font-size: 14px;
            line-height: 19px;
            /* or 136% */
            text-align: center;
            color: #9DAFBD;
        }
    }
}

.db {
    display: block;
}

.another_trades {
    .description {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: -0.318182px;
        color: #999999;
        margin-top: -14px;
    }
    .flex_block {
        margin: 0;
        margin-top: 33px;
    }
    &--right,
    &--left {
        box-sizing: border-box;
        padding: 52px 27px 42px 50px;
    }
    &--right {
        max-width: 317px;
        margin-left: 14px;
        flex-shrink: 0;
    }
    &--left {
        display: flex;
        &>div {
            box-sizing: border-box;
            width: 50%;
            &:nth-child(1) {
                padding-left: 10px;
                padding-right: 20px;
                .another_trades--title {
                    margin-top: -10px;
                }
            }
            &:nth-child(2) {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 12px;
                padding-bottom: 12px;
            }
        }
    }
    &--title {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height, or 150% */
        color: #383838;
        margin-bottom: 15px;
    }
    &--text {
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        color: #9DAFBD;
    }
}