.join_webinar_content.section
    .container
        .jwc__title Agenda
        p.jwc__text Amet dolore Lorem velit minim nisi nisi consectetur labore Lorem excepteur. Veniam duis in ullamco dolor sint esse nulla sit dolor do ipsum adipisicing proident. Et proident amet id voluptate laboris do duis veniam proident non. Ex Lorem laboris consequat irure adipisicing. Deserunt eu Lorem commodo fugiat ut duis velit ad in irure dolore quis excepteur aliquip.Non adipisicing eu pariatur occaecat et et irure esse in. Minim duis dolor officia irure eu. 

        ul.jwc_list
            li
                +icon('circle')
                p General overview of the money management platform
            
            li
                +icon('circle')
                p Major differences between account types
            
            li
                +icon('circle')
                p Growth hacking tricks with copy trading and PAMM offers
            
            li
                +icon('circle')
                p Fees sharing - a new instrument for IB sales
            
            li
                +icon('circle')
                p Content marketing ideas for better retention and conversion
        
        p.jwc__text Amid the current crisis, the potential for attracting more business has never been more evident and many major brokers now have at least one money management product as a part of their offer. There’s a good reason why!

        .jwc__title Speaker
        p.jwc__text Deserunt commodo ullamco incididunt laborum labore reprehenderit ipsum deserunt eu incididunt excepteur sint eu pariatur. Nostrud magna ullamco nisi ipsum mollit proident dolor ex enim do aliqua laboris. Est quis adipisicing tempor occaecat sunt eiusmod sint consectetur duis cupidatat ex. Reprehenderit incididunt proident quis aute ut sint culpa veniam sit. Minim mollit irure ut esse culpa est labore veniam. Elit et eiusmod minim sit reprehenderit ex. Adipisicing in irure laboris exercitation. Labore non ipsum in deserunt ad incididunt sit ea occaecat est irure non do. 
    
    