.join.webinars__join(style="background-image: url(images/join.png);")
        .container
            .alert
                .alert__left
                    span Next webinar
                    span.alert__line |

                .alert__right
                        .timer(data-finish="1690148096000")
                            //- .timer_section
                            //-     .days_1 0
                            //-     .days_2 0
                            //-     .timer_section_desc дней
                            //- .timer_delimetr :
                            .timer_section
                                .hours_1 0
                                .hours_2 0
                                //- .timer_section_desc часов
                            .timer_delimetr :
                            .timer_section
                                .minutes_1 0
                                .minutes_2 0
                                //- .timer_section_desc минут
                            .timer_delimetr :
                            .timer_section
                                .seconds_1 0
                                .seconds_2 0
                            //- .timer_section_desc секунд

            .join__title Start Crypto #[span(class="db")] Exchange in 2020
            .join__subtitle  If you’ve followed along with the leaks in recent weeks, none of the new features#[span(class="db")] will surprise you. It’s also not a huge surprise that Google is bringing some#[span(class="db")] features from Inbox over to Gmail. 
            .join__wrapper
                .join__who
                    .join__icon
                        img(src="images/join_name.png", alt="name")
                    div
                        .join__name Alex  Kukhtikov
                        .join__discription Business Development Teamlead

                .join__date 30 Apr. 12:00 (GMT+3)

            .blockshow__btn_wrapper
                a.new_green_btn(href="#") Join a webinar
                a.new_read_more_btn(href="#") Read more