.section.about__grid
    .container
        .b2_grid
            .b2_grid__item
                img(src="images/careers/b2_item1.png", alt="img")

            .b2_grid__item
                img(src="images/about/img2.jpg", alt="img")
                img(src="images/about/img3.png", alt="img")
                    
            .b2_grid__item
                img(src="images/careers/b2_item4.png", alt="img")
                    
            .b2_grid__item
                img(src="images/careers/b2_item5.png", alt="img")
                    
            .b2_grid__item
                img(src="images/careers/b2_item6.png", alt="img")
    .container
        .section__title What #[span(class="section__title--bold") we do?]
        p We offer solutions for established companies to increase and optimize their workflows and help new brokers build their businesses.

        p Brokerage businesses do not stand still. Strong competition forces companies to move ahead and offer their clients new solutions and better conditions. If you are already on the market, we’ll show you how to expand your product range and increase conversion rates. We can help you also pinpoint any flaws and fix the errors. 

        p Our advanced base of technical solutions help clients save time and money on consuming infrastructure projects so they can focus on selling and enlarging their client base while eliminating the need to commit to expensive, long-term and labour-consuming processes of building and supporting the technical infrastructure of a brokerage business. 

        p As one of the leading liquidity and technology providers of solutions for the crypto and foreign exchange industry, our specialist area is in the sphere of B2B services and products, catering for a wide range of brokerage businesses, institutional and other corporate clients.
