.section.animation_brand#animation_brand
    #info 0
    .section__title.section__title--bold Our Brand
    .ab__content#ab__content
        .ab__logo.disabled
            <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25.9199" r="21.5" transform="rotate(-180 25 25.9199)" fill="#0ABE98" stroke="#0ABE98" stroke-width="7"/>
            </svg>

            <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25.9199" r="21.5" fill="#28F3C8" stroke="#28F3C8" stroke-width="7"/>
            </svg>

            <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25.9199" r="21.5" transform="rotate(90 25 25.9199)" fill="#7DFFE0" stroke="#7DFFE0" stroke-width="7"/>
            </svg>

            <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25.9199" r="21.5" transform="rotate(-180 25 25.9199)" fill="#079270" stroke="#079270" stroke-width="7"/>
            </svg>

            <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25.9199" r="21.5" fill="#0ABE98" stroke="#0ABE98" stroke-width="7"/>
            </svg>

            <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25.9199" r="21.5" fill="#28F3C8" stroke="#28F3C8" stroke-width="7"/>
            </svg>

            <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25.9199" r="21.5" transform="rotate(-180 25 25.9199)" fill="#046A51" stroke="#046A51" stroke-width="7"/>
            </svg>

            <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25.9199" r="21.5" fill="#079270" stroke="#079270" stroke-width="7"/>
            </svg>

            <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25.9199" r="21.5" fill="#0ABE98" stroke="#0ABE98" stroke-width="7"/>
            </svg>
        
        .ab__text
            .ab__text__item(data-id="1")
                .ab__text__title 9 circles
                .ab__text__subtitle Repesent 9 groups#[span(class="db") ] of our products
            
            .ab__text__item(data-id="2")
                .ab__text__title Circles
                .ab__text__subtitle Our products are perfectly#[span(class="db") ] formed like circles
            
            .ab__text__item(data-id="3")
                .ab__text__title Jigsaw puzzle 
                .ab__text__subtitle Build your business like#[span(class="db") ] a jigsaw with our products 
            
            .ab__text__item(data-id="4")
                .ab__text__title Green colour 
                .ab__text__subtitle Represents profitability#[span(class="db") ] and margin
            
            .ab__text__item(data-id="5")
                .ab__text__title Shades of green
                .ab__text__subtitle Symbols of market growth#[span(class="db") ] and vitality
            
            .ab__text__item(data-id="6")
                .ab__text__title Square
                .ab__text__subtitle Security and stability

        <svg class="ab__circle" width="558" height="558" viewBox="0 0 558 558" fill="none" xmlns="http://www.w3.org/2000/svg">
            
            <circle class="circle" cx="279" cy="279" r="277" stroke="url(#paint)" stroke-width="2px"  /> 

            <defs>
                <linearGradient id="paint" x2="189.672" y2="21.1423" x1="99.0878" y1="161.635" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#716464"/>
                    <stop offset="1" stop-color="white"/>
                </linearGradient>
            </defs>
        </svg>

        .ab__core
            .ab__core__item(data-id="1")
                .ab__core__icon
                    .gradient
                    img(src="images/about/st1.png", alt="icon")
                .ab__core__text Our #[span(class="extrabold") core products] comprise of #[span(class="extrabold") MetaTrader 4] and#[span(class="extrabold") MetaTrader 5 White Label,]  #[span(class="db")]  #[span(class="extrabold") B2Trader] (Matching Engine), #[span(class="extrabold") B2Margin] (Margin Exchange) and #[span(class="extrabold") B2Core] (Trader's#[span(class="db")] Room). A new generation of professional products that helps brokers and exchanges.
            
            .ab__core__item(data-id="2")
                .ab__core__icon
                    .gradient
                    img(src="images/about/st2.png", alt="icon")
                .ab__core__text Our #[span(class="extrabold") liquidity] pool combines #[span(class="extrabold") FOREX, Crypto Derivatives/CFD, Metals, Indices, Energy,] #[span(class="db")] #[span(class="extrabold")  Equities CFD, ETFs CFD.]  We have the deepest and most diverse liquidity pool#[span(class="db")] available in the industry to match every requirement.
            
            .ab__core__item(data-id="3")
                .ab__core__icon
                    .gradient
                    img(src="images/about/st3.png", alt="icon")
                .ab__core__text Our FOREX and Crypto turnkey solutions are ready-to-use. An all-in-one package of#[span(class="db")] services and software solutions that helps entrepreneurs launch their new brokerage#[span(class="db")] in minimal time and with lower financial outlay.
            
            .ab__core__item(data-id="4")
                .ab__core__icon
                    .gradient
                    img(src="images/about/st4.png", alt="icon")
                .ab__core__text #[span(class="extrabold") Boost your revenue-potential with our Money Management] solutions and offer Copy #[span(class="db")] Trading, MAM and PAMM via our Investment Platform. Designed to help you attract #[span(class="db")] the best traders and money managers and assist beginners with copying successful#[span(class="db")] positions from the professionals.
            
            .ab__core__item(data-id="5")
                .ab__core__icon
                    .gradient
                    img(src="images/about/st5.png", alt="icon")
                .ab__core__text Accept Cryptocurrency payments and offer a service to your customers quickly and#[span(class="db")] easily. Our #[span(class="extrabold") Crypto Processing range of solutions]  include #[span(class="extrabold") Merchant]  and #[span(class="extrabold") Enterprise] #[span(class="db")]  #[span(class="extrabold") Wallets solutions for every type of business need.]
            
            .ab__core__item(data-id="6")
                .ab__core__icon
                    .gradient
                    img(src="images/about/st6.png", alt="icon")
                .ab__core__text Our #[span(class="extrabold") Turnkey Crypto Spot Exchange allows you to launch your own Cryptocurrency] #[span(class="db")] #[span(class="extrabold") Excahnge in 1 month with 24/7 support, comprehensive training and a vast range of] #[span(class="db")]  #[span(class="extrabold") other features. Benefit from a proven business model.]
            
            .ab__core__item(data-id="7")
                .ab__core__icon
                    .gradient
                    img(src="images/about/st7.png", alt="icon")
                .ab__core__text Our #[span(class="extrabold") Software Solutions] are developed so our clients reap the beneftis of seamless#[span(class="db")]  procedures and a smooth operation of all applications.
            
            .ab__core__item(data-id="8")
                .ab__core__icon
                    .gradient
                    img(src="images/about/st8.png", alt="icon")
                .ab__core__text We provide a range of #[span(class="extrabold") Corporate Services] associated with legal and IT support. As#[span(class="db")] experts in our field, we have accumulated a minefield of knowledge so that you can#[span(class="db")] swiftly get started with your brokerage operations.
            
            .ab__core__item(data-id="9")
                .ab__core__icon
                    .gradient
                    img(src="images/about/st9.png", alt="icon")
                .ab__core__text We develop #[span(class="extrabold") Business Models] for our clients to help with optimisation of their#[span(class="db")] business. We have the know how to implement appropriate techniques that are the#[span(class="db")] perfect fit for your business and help you achieve your goals. 

        .ab__title_block
            <svg class="ab__title_block__heading" width="423" height="71" viewBox="0 0 423 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.3011 69.4707C41.2059 69.4707 50.8006 62.428 50.8006 50.9611C50.8006 42.4737 43.6438 36.1534 34.8856 35.3408V34.5281C41.4317 33.4898 47.5952 27.4403 47.5952 20.5782C47.5952 10.5559 39.0389 4.32582 26.6691 4.32582H0V69.4707H27.3011ZM12.2012 13.4001H23.8249C30.8676 13.4001 35.5295 16.786 35.5295 22.6097C35.5295 28.5689 30.5967 31.7743 22.3351 31.7743H12.2012V13.4001ZM12.2012 60.3965V40.0359H24.1861C33.0797 40.0359 38.3285 43.5121 38.3285 50.1485C38.3285 56.83 33.2152 60.3965 24.6375 60.3965H12.2012Z" fill="white"/>
                <path d="M56.8299 24.1566H68.3087C68.3087 17.2945 72.2696 12.0457 79.3575 12.0457C86.1744 12.0457 90.2375 16.6054 90.2375 22.5194C90.2375 27.4854 88.2511 30.6005 80.0347 38.9072L57.4619 61.6154V69.4707H103.251V59.8096H73.2628V59.0421L87.8116 45.2728C99.0076 34.3024 102.303 29.0204 102.303 21.436C102.303 10.601 92.9463 2.70059 79.9895 2.70059C66.4007 2.70059 56.8299 11.8319 56.8299 24.1566Z" fill="white"/>
                <path d="M141.075 69.4707C154.98 69.4707 164.574 62.428 164.574 50.9611C164.574 42.4737 157.418 36.1534 148.659 35.3408V34.5281C155.205 33.4898 161.369 27.4403 161.369 20.5782C161.369 10.5559 152.813 4.32582 140.443 4.32582H113.774V69.4707H141.075ZM125.975 13.4001H137.599C144.641 13.4001 149.303 16.786 149.303 22.6097C149.303 28.5689 144.371 31.7743 136.109 31.7743H125.975V13.4001ZM125.975 60.3965V40.0359H137.96C146.854 40.0359 152.102 43.5121 152.102 50.1485C152.102 56.83 146.989 60.3965 138.411 60.3965H125.975Z" fill="white"/>
                <path d="M171.835 69.4707H183.031V40.8034C183.031 33.851 187.533 29.89 194.802 29.89C196.698 29.89 199.677 30.2061 200.535 30.5221L202.75 19.7656C201.711 19.4947 197.51 19.3141 195.885 19.3141C189.52 19.3141 184.192 22.9258 182.838 27.8015H182.624V19.5731H171.835V69.4707Z" fill="white"/>
                <path d="M226.091 70.4639C240.854 70.4639 250.391 60.8028 250.391 44.7762C250.391 28.8398 240.809 19.1787 226.091 19.1787C211.419 19.1787 201.791 28.885 201.791 44.7762C201.791 60.8028 211.283 70.4639 226.091 70.4639ZM226.091 60.7458C218.281 60.7458 213.258 55.2499 213.258 44.8213C213.258 34.3927 218.281 28.8969 226.091 28.8969C233.856 28.8969 238.879 34.3927 238.879 44.8213C238.879 55.2499 233.901 60.7458 226.091 60.7458Z" fill="white"/>
                <path d="M269.841 40.3519H269.627V0.476562H258.431V69.4707H269.627V52.1349L273.046 48.7157L288.338 69.4707H302.989L281.952 41.3L301.635 20.1267H288.633L269.841 40.3519Z" fill="white"/>
                <path d="M336.84 54.865C335.215 58.5669 331.378 61.7509 325.825 61.7509C318.466 61.7509 314.279 56.514 314.008 48.1621L313.455 47.5752H348.5V44.0087C348.5 28.5238 339.504 19.1787 325.418 19.1787C311.107 19.1787 301.66 29.1558 301.66 45.0019C301.66 60.8028 310.972 70.4639 325.509 70.4639C337.156 70.4639 345.971 64.3123 348.003 55.4186L336.84 54.865ZM325.373 27.8918C332.1 27.8918 336.524 32.632 336.75 40.1262H314.054C314.55 32.7223 318.692 27.8918 325.373 27.8918Z" fill="white"/>
                <path d="M356.042 69.4707H367.239V40.8034C367.239 33.851 371.741 29.89 379.01 29.89C380.906 29.89 383.885 30.2061 384.743 30.5221L386.958 19.7656C385.919 19.4947 381.718 19.3141 380.093 19.3141C373.728 19.3141 368.4 22.9258 367.046 27.8015H366.832V19.5731H356.042V69.4707Z" fill="white"/>
                <path d="M405.938 14.5028H406.238V14.2028V6.6916H409.168H409.468V6.3916V5.18555V4.88555H409.168H401.301H401.001V5.18555V6.3916V6.6916H401.301H403.838V14.2028V14.5028H404.138H405.938ZM421.729 14.5028H422.029V14.2028V5.18555V4.88555H421.729H419.729H419.521L419.448 5.08073L417.044 11.5281L414.611 5.07964L414.537 4.8836L414.327 4.88556L412.328 4.90431L412.031 4.90709V5.20429V14.2028V14.5028H412.331H413.787H414.087V14.2028V8.83203L416.242 13.7606L416.321 13.9404H416.517H417.58H417.776L417.855 13.7606L420.01 8.83203V14.2028V14.5028H420.31H421.729Z" fill="white" stroke="white" stroke-width="0.6"/>
            </svg>
            <svg class="ab__title_block__subtitle" width="307" height="31" viewBox="0 0 307 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.33173 21.6126H13.7628V23.986H0.414062V1.97502H3.33173V21.6126Z" fill="white"/>
                <path d="M20.4477 23.986H17.651V7.62894H20.4477V23.986ZM17.4242 3.29024C17.4242 2.83671 17.5602 2.45374 17.8324 2.14131C18.1146 1.82888 18.5278 1.67267 19.072 1.67267C19.6162 1.67267 20.0294 1.82888 20.3116 2.14131C20.5938 2.45374 20.7349 2.83671 20.7349 3.29024C20.7349 3.74376 20.5938 4.12169 20.3116 4.42404C20.0294 4.72639 19.6162 4.87757 19.072 4.87757C18.5278 4.87757 18.1146 4.72639 17.8324 4.42404C17.5602 4.12169 17.4242 3.74376 17.4242 3.29024Z" fill="white"/>
                <path d="M25.0313 15.6714C25.0313 13.1014 25.6209 11.0707 26.8 9.57909C27.9792 8.07742 29.5615 7.32659 31.5469 7.32659C33.4819 7.32659 35.0088 7.97664 36.1275 9.27674L36.2484 7.62894H38.8184V30.2748H36.0217V22.4743C34.8929 23.6836 33.3912 24.2883 31.5167 24.2883C29.5413 24.2883 27.9641 23.5224 26.7849 21.9905C25.6158 20.4485 25.0313 18.4077 25.0313 15.8679V15.6714ZM27.828 15.9889C27.828 17.8634 28.2211 19.3349 29.0072 20.4032C29.8034 21.4715 30.8717 22.0056 32.2121 22.0056C33.875 22.0056 35.1448 21.2699 36.0217 19.7985V11.7862C35.1348 10.345 33.875 9.62444 32.2423 9.62444C30.8918 9.62444 29.8185 10.1636 29.0223 11.242C28.2261 12.3103 27.828 13.8926 27.828 15.9889Z" fill="white"/>
                <path d="M54.1807 22.3684C53.0923 23.6484 51.4948 24.2883 49.3885 24.2883C47.6449 24.2883 46.3146 23.7844 45.3975 22.7766C44.4904 21.7587 44.0319 20.257 44.0218 18.2716V7.62894H46.8185V18.196C46.8185 20.6753 47.8264 21.9149 49.842 21.9149C51.9786 21.9149 53.3996 21.1187 54.1051 19.5264V7.62894H56.9018V23.986H54.2412L54.1807 22.3684Z" fill="white"/>
                <path d="M64.9776 23.986H62.1809V7.62894H64.9776V23.986ZM61.9541 3.29024C61.9541 2.83671 62.0901 2.45374 62.3623 2.14131C62.6445 1.82888 63.0577 1.67267 63.6019 1.67267C64.1461 1.67267 64.5593 1.82888 64.8415 2.14131C65.1237 2.45374 65.2648 2.83671 65.2648 3.29024C65.2648 3.74376 65.1237 4.12169 64.8415 4.42404C64.5593 4.72639 64.1461 4.87757 63.6019 4.87757C63.0577 4.87757 62.6445 4.72639 62.3623 4.42404C62.0901 4.12169 61.9541 3.74376 61.9541 3.29024Z" fill="white"/>
                <path d="M69.5612 15.6714C69.5612 13.1619 70.1558 11.1463 71.345 9.62444C72.5343 8.09254 74.0914 7.32659 76.0163 7.32659C77.9312 7.32659 79.448 7.98168 80.5667 9.29185V0.765625H83.3634V23.986H80.7934L80.6574 22.2324C79.5387 23.603 77.9816 24.2883 75.9861 24.2883C74.0914 24.2883 72.5443 23.5123 71.345 21.9603C70.1558 20.4082 69.5612 18.3825 69.5612 15.8831V15.6714ZM72.3579 15.9889C72.3579 17.8433 72.7409 19.2946 73.5068 20.3427C74.2728 21.3908 75.331 21.9149 76.6815 21.9149C78.4553 21.9149 79.7503 21.1187 80.5667 19.5264V12.013C79.7302 10.471 78.4452 9.70003 76.7117 9.70003C75.3411 9.70003 74.2728 10.2291 73.5068 11.2874C72.7409 12.3456 72.3579 13.9127 72.3579 15.9889Z" fill="white"/>
                <path d="M91.5298 23.986H88.7331V7.62894H91.5298V23.986ZM88.5063 3.29024C88.5063 2.83671 88.6424 2.45374 88.9145 2.14131C89.1967 1.82888 89.6099 1.67267 90.1541 1.67267C90.6984 1.67267 91.1116 1.82888 91.3938 2.14131C91.676 2.45374 91.8171 2.83671 91.8171 3.29024C91.8171 3.74376 91.676 4.12169 91.3938 4.42404C91.1116 4.72639 90.6984 4.87757 90.1541 4.87757C89.6099 4.87757 89.1967 4.72639 88.9145 4.42404C88.6424 4.12169 88.5063 3.74376 88.5063 3.29024Z" fill="white"/>
                <path d="M100.588 3.66817V7.62894H103.642V9.79073H100.588V19.9345C100.588 20.5896 100.724 21.0834 100.996 21.416C101.268 21.7385 101.732 21.8998 102.387 21.8998C102.71 21.8998 103.153 21.8393 103.717 21.7184V23.986C102.982 24.1876 102.266 24.2883 101.571 24.2883C100.321 24.2883 99.3788 23.9104 98.7439 23.1545C98.1089 22.3987 97.7915 21.3253 97.7915 19.9345V9.79073H94.8133V7.62894H97.7915V3.66817H100.588Z" fill="white"/>
                <path d="M113.048 19.8892L116.858 7.62894H119.851L113.275 26.5106C112.257 29.2317 110.639 30.5923 108.422 30.5923L107.893 30.547L106.85 30.3504V28.0828L107.606 28.1433C108.553 28.1433 109.289 27.9518 109.813 27.5688C110.347 27.1859 110.785 26.4854 111.128 25.4675L111.748 23.8046L105.913 7.62894H108.966L113.048 19.8892Z" fill="white"/>
                <path d="M121.562 22.5196C121.562 22.0358 121.703 21.6327 121.985 21.3102C122.278 20.9877 122.711 20.8265 123.286 20.8265C123.86 20.8265 124.293 20.9877 124.586 21.3102C124.888 21.6327 125.039 22.0358 125.039 22.5196C125.039 22.9832 124.888 23.3712 124.586 23.6836C124.293 23.9961 123.86 24.1523 123.286 24.1523C122.711 24.1523 122.278 23.9961 121.985 23.6836C121.703 23.3712 121.562 22.9832 121.562 22.5196Z" fill="white"/>
                <path d="M153.935 4.36357H146.86V23.986H143.972V4.36357H136.912V1.97502H153.935V4.36357Z" fill="white"/>
                <path d="M162.812 24.2883C160.594 24.2883 158.79 23.5627 157.399 22.1114C156.009 20.6501 155.313 18.6999 155.313 16.261V15.747C155.313 14.1244 155.621 12.6782 156.235 11.4083C156.86 10.1284 157.727 9.1306 158.836 8.41504C159.954 7.68941 161.164 7.32659 162.464 7.32659C164.59 7.32659 166.243 8.02703 167.422 9.42791C168.601 10.8288 169.191 12.8344 169.191 15.4446V16.6087H158.11C158.15 18.2212 158.619 19.5264 159.516 20.5241C160.423 21.5118 161.572 22.0056 162.963 22.0056C163.95 22.0056 164.787 21.804 165.472 21.4009C166.158 20.9978 166.757 20.4636 167.271 19.7985L168.979 21.1288C167.609 23.2352 165.553 24.2883 162.812 24.2883ZM162.464 9.62444C161.335 9.62444 160.388 10.0376 159.622 10.8641C158.856 11.6804 158.382 12.8293 158.201 14.3108H166.394V14.0992C166.314 12.6782 165.931 11.5796 165.245 10.8036C164.56 10.0175 163.633 9.62444 162.464 9.62444Z" fill="white"/>
                <path d="M179.776 22.0056C180.774 22.0056 181.646 21.7033 182.392 21.0986C183.137 20.4939 183.551 19.738 183.631 18.831H186.277C186.226 19.7682 185.904 20.6602 185.309 21.5067C184.715 22.3533 183.918 23.0286 182.921 23.5325C181.933 24.0364 180.885 24.2883 179.776 24.2883C177.549 24.2883 175.775 23.5476 174.455 22.0661C173.145 20.5745 172.49 18.5387 172.49 15.9586V15.49C172.49 13.8976 172.782 12.4816 173.367 11.242C173.951 10.0024 174.788 9.0399 175.876 8.35457C176.975 7.66925 178.27 7.32659 179.761 7.32659C181.595 7.32659 183.117 7.87586 184.327 8.97439C185.546 10.0729 186.196 11.499 186.277 13.2526H183.631C183.551 12.1944 183.147 11.3277 182.422 10.6524C181.706 9.9671 180.819 9.62444 179.761 9.62444C178.34 9.62444 177.237 10.1384 176.45 11.1664C175.674 12.1843 175.286 13.6608 175.286 15.5958V16.1249C175.286 18.0096 175.674 19.4608 176.45 20.4788C177.227 21.4967 178.335 22.0056 179.776 22.0056Z" fill="white"/>
                <path d="M192.992 9.60932C194.232 8.0875 195.844 7.32659 197.83 7.32659C201.286 7.32659 203.03 9.27674 203.06 13.177V23.986H200.263V13.1619C200.253 11.9828 199.981 11.111 199.447 10.5466C198.923 9.98222 198.102 9.70003 196.983 9.70003C196.076 9.70003 195.28 9.94191 194.594 10.4257C193.909 10.9094 193.375 11.5444 192.992 12.3305V23.986H190.195V0.765625H192.992V9.60932Z" fill="white"/>
                <path d="M210.667 7.62894L210.758 9.68491C212.008 8.1127 213.64 7.32659 215.656 7.32659C219.113 7.32659 220.856 9.27674 220.887 13.177V23.986H218.09V13.1619C218.08 11.9828 217.808 11.111 217.274 10.5466C216.749 9.98222 215.928 9.70003 214.809 9.70003C213.902 9.70003 213.106 9.94191 212.421 10.4257C211.736 10.9094 211.201 11.5444 210.818 12.3305V23.986H208.022V7.62894H210.667Z" fill="white"/>
                <path d="M225.138 15.6563C225.138 14.0538 225.45 12.6127 226.075 11.3327C226.71 10.0528 227.587 9.06509 228.705 8.36969C229.834 7.67429 231.119 7.32659 232.56 7.32659C234.788 7.32659 236.587 8.09758 237.957 9.63956C239.338 11.1815 240.028 13.2325 240.028 15.7924V15.9889C240.028 17.5812 239.721 19.0124 239.106 20.2822C238.501 21.542 237.63 22.5246 236.491 23.2301C235.362 23.9356 234.062 24.2883 232.591 24.2883C230.373 24.2883 228.574 23.5174 227.194 21.9754C225.823 20.4334 225.138 18.3925 225.138 15.8528V15.6563ZM227.95 15.9889C227.95 17.803 228.368 19.2593 229.204 20.3578C230.051 21.4563 231.18 22.0056 232.591 22.0056C234.012 22.0056 235.14 21.4513 235.977 20.3427C236.813 19.224 237.232 17.6619 237.232 15.6563C237.232 13.8624 236.803 12.4111 235.947 11.3025C235.1 10.1838 233.971 9.62444 232.56 9.62444C231.18 9.62444 230.066 10.1737 229.219 11.2722C228.373 12.3708 227.95 13.943 227.95 15.9889Z" fill="white"/>
                <path d="M247.348 23.986H244.551V0.765625H247.348V23.986Z" fill="white"/>
                <path d="M251.871 15.6563C251.871 14.0538 252.184 12.6127 252.809 11.3327C253.444 10.0528 254.32 9.06509 255.439 8.36969C256.568 7.67429 257.853 7.32659 259.294 7.32659C261.521 7.32659 263.32 8.09758 264.691 9.63956C266.072 11.1815 266.762 13.2325 266.762 15.7924V15.9889C266.762 17.5812 266.455 19.0124 265.84 20.2822C265.235 21.542 264.363 22.5246 263.225 23.2301C262.096 23.9356 260.796 24.2883 259.324 24.2883C257.107 24.2883 255.308 23.5174 253.927 21.9754C252.557 20.4334 251.871 18.3925 251.871 15.8528V15.6563ZM254.683 15.9889C254.683 17.803 255.101 19.2593 255.938 20.3578C256.785 21.4563 257.913 22.0056 259.324 22.0056C260.745 22.0056 261.874 21.4513 262.711 20.3427C263.547 19.224 263.965 17.6619 263.965 15.6563C263.965 13.8624 263.537 12.4111 262.68 11.3025C261.834 10.1838 260.705 9.62444 259.294 9.62444C257.913 9.62444 256.8 10.1737 255.953 11.2722C255.106 12.3708 254.683 13.943 254.683 15.9889Z" fill="white"/>
                <path d="M270.378 15.6714C270.378 13.1216 270.968 11.0959 272.147 9.5942C273.326 8.08246 274.888 7.32659 276.833 7.32659C278.829 7.32659 280.386 8.03207 281.505 9.44303L281.641 7.62894H284.195V23.5929C284.195 25.7094 283.566 27.3773 282.306 28.5968C281.056 29.8163 279.373 30.426 277.257 30.426C276.077 30.426 274.923 30.1741 273.795 29.6701C272.666 29.1662 271.804 28.4759 271.21 27.5991L272.661 25.921C273.86 27.4025 275.327 28.1433 277.06 28.1433C278.421 28.1433 279.479 27.7603 280.235 26.9944C281.001 26.2284 281.384 25.15 281.384 23.7592V22.3533C280.265 23.6433 278.738 24.2883 276.803 24.2883C274.888 24.2883 273.336 23.5174 272.147 21.9754C270.968 20.4334 270.378 18.3321 270.378 15.6714ZM273.19 15.9889C273.19 17.8332 273.568 19.2845 274.324 20.3427C275.08 21.3908 276.138 21.9149 277.498 21.9149C279.262 21.9149 280.557 21.1137 281.384 19.5112V12.0432C280.527 10.4811 279.242 9.70003 277.529 9.70003C276.168 9.70003 275.105 10.2291 274.339 11.2874C273.573 12.3456 273.19 13.9127 273.19 15.9889Z" fill="white"/>
                <path d="M294.554 19.8892L298.363 7.62894H301.357L294.781 26.5106C293.763 29.2317 292.145 30.5923 289.928 30.5923L289.399 30.547L288.356 30.3504V28.0828L289.112 28.1433C290.059 28.1433 290.795 27.9518 291.319 27.5688C291.853 27.1859 292.291 26.4854 292.634 25.4675L293.254 23.8046L287.418 7.62894H290.472L294.554 19.8892Z" fill="white"/>
                <path d="M303.068 22.5196C303.068 22.0358 303.209 21.6327 303.491 21.3102C303.784 20.9877 304.217 20.8265 304.791 20.8265C305.366 20.8265 305.799 20.9877 306.091 21.3102C306.394 21.6327 306.545 22.0358 306.545 22.5196C306.545 22.9832 306.394 23.3712 306.091 23.6836C305.799 23.9961 305.366 24.1523 304.791 24.1523C304.217 24.1523 303.784 23.9961 303.491 23.6836C303.209 23.3712 303.068 22.9832 303.068 22.5196Z" fill="white"/>
            </svg>
            .reanim_btn
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="25" fill="#202830"/>
                    <g opacity="0.6">
                    <path d="M19.2893 35.7443L19.8409 34.9102L19.7877 34.875L19.7305 34.8469L19.2893 35.7443ZM15.7319 29.5996C15.6233 29.0581 15.0962 28.7072 14.5548 28.8158C14.0133 28.9244 13.6623 29.4515 13.771 29.993L15.7319 29.5996ZM31.038 17.9782C35.7136 21.0702 36.9974 27.3671 33.9054 32.0428L35.5736 33.146C39.2749 27.549 37.7381 20.0113 32.1412 16.31L31.038 17.9782ZM33.9054 32.0428C30.8134 36.7184 24.5165 38.0022 19.8409 34.9102L18.7377 36.5784C24.3346 40.2797 31.8723 38.7429 35.5736 33.146L33.9054 32.0428ZM17.2317 20.4731C20.4049 16.1038 26.489 14.97 31.038 17.9782L32.1412 16.31C26.6954 12.7087 19.4129 14.0662 15.6135 19.2978L17.2317 20.4731ZM19.7305 34.8469C19.1794 34.576 18.2615 33.7498 17.3943 32.6474C16.531 31.5499 15.8923 30.399 15.7319 29.5996L13.771 29.993C14.0248 31.2583 14.8985 32.7095 15.8224 33.8839C16.7423 35.0533 17.8862 36.1688 18.8481 36.6417L19.7305 34.8469Z" fill="#C4C4C4"/>
                    <path d="M15.3594 20.2692C15.3588 20.6834 15.6942 21.0196 16.1084 21.0202L22.8584 21.0292C23.2726 21.0298 23.6088 20.6944 23.6094 20.2802C23.6099 19.866 23.2746 19.5298 22.8604 19.5292L16.8604 19.5212L16.8684 13.5212C16.8689 13.107 16.5336 12.7708 16.1194 12.7702C15.7052 12.7697 15.3689 13.105 15.3684 13.5192L15.3594 20.2692ZM16.639 20.8012C16.7199 20.7206 16.8017 20.6416 16.8844 20.5642L15.8599 19.4686C15.7654 19.557 15.672 19.6472 15.5798 19.7392L16.639 20.8012Z" fill="#C4C4C4"/>
                    </g>
                </svg>




.section.mobile__animation_brand
    .container
        img(src="images/about/mobile_brand.png", alt="logo")