.section.section__hiring

    .container.goanim.an
        .says
            .says__title
                img(src="images/says.svg", alt="icon")
                span What the media says
            .says__flickity--js

                .item
                    .says__subtitle B2Broker has undergone a strong growth phase recently#[span(class="db")] eyeing expansion in Russia, Belarus and London. New#[span(class="db")] products and services and further regulation are planned#[span(class="db")] for the year ahead.
                    .says__discription 15th June 2020

                .item
                    .says__subtitle B2Broker receives approval from the National Forex Center#[span(class="db")] (NFC) of the Belarusian Currency and Stock Exchange and#[span(class="db")] is the first prime broker to be able to offer clients in Belarus#[span(class="db")] MT5 and oneZero platform technology.
                    .says__discription 12th May 2020
                
                .item
                    .says__subtitle B2Broker has laid out plans for further expansion to offer its#[span(class="db")] products and services to industry participants in the Gulf#[span(class="db")] region which offers infinite business opportunities and#[span(class="db")] untapped markets.
                    .says__discription 5th May 2020
                
                .item
                    .says__subtitle B2Core is a major upgrade to the company’s client cabinet#[span(class="db")] solution Trader’s Room which has undergone a major#[span(class="db")] overhaul with the introduction of an innovative#[span(class="db")] package-based solution.
                    .says__discription 18th Febrary 2020
                
                .item
                    .says__subtitle The partnership will enable Genesis’ clients to receive#[span(class="db")] aggregated liquidity for cryptocurrencies through#[span(class="db")] B2Broker’s MarksMan aggregator and will open up#[span(class="db")] margin trading on crypto CFDs.
                    .says__discription 17th September 2019
            
                
        .family

            .family__block(data-target="0")
                .family__line
                img(src="images/family/logo1.png", alt="img", style="height:56px;").family__logo
            
            .family__block(data-target="1")
                .family__line
                img(src="images/family/logo4.png", alt="img", style="height:62px;").family__logo

            .family__block(data-target="2")
                .family__line
                img(src="images/family/new_logo3.png", alt="img", style="height:41px;").family__logo
            
            .family__block(data-target="3")
                .family__line
                img(src="images/family/new_logo4.png", alt="img", style="height:28px;").family__logo

            .family__block(data-target="4")
                .family__line
                img(src="images/family/new_logo5.png", alt="img", style="height:22px;").family__logo
            
            
                
    a(href="#").new_more_btn Check more


