.section.mission__section
    .section__title.section__title--bold Our Mission
    .section__subtitle We don't tell you now to build your#[span(class="db")] business. Our mission is to work with you#[span(class="db")] to make it better.