.section.mission__section
    .mission__overlay
    .section__title.section__title--bold Our Mission
    .section__subtitle Our employees' views
    .container
        .mission__item.goanim.an
            .mission__icon
                img(src="images/our_m1.png", alt="img")
            .mission__text
                .mission__title  Alex Kukhtikov 
                .mission__subtitle Business Development Teamlead
                .mission__discription To create trading systems with a goal and become a market standard, especially in crypto. Popularisation of blockchain technology with people and governments to speed up changes in the global financial system.
        
        .mission__item.goanim.an
            .mission__icon
                img(src="images/our_m2.png", alt="img")
            .mission__text
                .mission__title Ievgen Yugrinov
                .mission__subtitle Product Manager of B2BinPay
                .mission__discription Our mission is to make B2Broker your preferred one-stop destination by delivering outstanding brokerage technologies and an exceptional user experience for your clients by consistently fulfilling your business needs and customer expectations.
        
        .mission__item.goanim.an
            .mission__icon
                img(src="images/our_m3.png", alt="img")
            .mission__text
                .mission__title Ivan Navodniy
                .mission__subtitle Product Manager of B2Core
                .mission__discription To elevate the fintech industry with our company’s solutions.
        
        .mission__item.goanim.an
            .mission__icon
                img(src="images/our_m4.png", alt="img")
            .mission__text
                .mission__title Steve Chow
                .mission__subtitle Head of Business Development for Asian region and Director for Hong Kong office
                .mission__discription Our mission is to develop continuous improvement technology to serve forex and crypto trading in the most accurate, efficient, transparent and convenient way for investors.