.section.section__review
    .container
        p.p__review Our knowledge in the financial markets has#[span(class="db")] positioned us as #[span(class="extrabold") one of the most experienced] #[span(class="db")] #[span(class="extrabold") and trusted providers in the FinTech industry]
        .review__block
            img.review__image(src="images/about/review.png", alt="img")
            .review__content
                .review__name Arthur Azizov
                .review__position Founder and CEO
