.section.section__review
    .container
        p.p__review New technologies have penetrated all areas of our life. The FINTECH industry is highly sensitive to every change in virtually all areas of business. #[span(class="extrabold") We work around the clock to improve all our products, constantly investing in people, technology, customer support and infrastructure.] Thus, we are always at the peak of technological innovation, enabling our customers to receive the best service in the industry at the lowest cost.
        .review__block
            img.review__image(src="images/about/review.png", alt="img")
            .review__content
                .review__name Arthur Azizov
                .review__position Founder and CEO
