.u_can
        .container
            .section__title With us #[span(class='section__title--bold') you can]

            .u_can__container
                .u_can__item
                    img.u_can__icon(src="images/u_icon1.svg", alt="icon")
                    .u_can__text
                        .u_can__title Start
                        .u_can__discription new business or empower your existing one
                
                .u_can__item
                    img.u_can__icon(src="images/u_icon2.svg", alt="icon")
                    .u_can__text
                        .u_can__title Ask
                        .u_can__discription for suggestions and get constructive advice
                    
                .u_can__item
                    img.u_can__icon(src="images/u_icon3.svg", alt="icon")
                    .u_can__text
                        .u_can__title Learn
                        .u_can__discription about new industry features or ask#[span(class="db")] us to implement them into your business model
                
                .u_can__item
                    img.u_can__icon(src="images/u_icon4.svg", alt="icon")
                    .u_can__text
                        .u_can__title Trade
                        .u_can__discription and manage your risks or allow others to trade#[span(class="db")] by providing them with access to as many markets as possible.