.section.about_values
    .container
        .section__title.section__title--bold Our Values

        .ab_values__container
            .ab_values__item
                .ab_values__icon_wrapper
                    img.ab_values__icon(src="images/about/icon1.svg", alt="icon")
                .ab_values__title Clarity & Integrity 
                .ab_values__description We pride ourselves on our integrity and clarity in the#[span(class="db")] way we do business. We always adopt an honest#[span(class="db")] and sincrere approach.
            
            .ab_values__item
                .ab_values__icon_wrapper
                    img.ab_values__icon(src="images/about/icon2.svg", alt="icon")
                .ab_values__title Working together
                .ab_values__description Everything we do is a result of team effort. Our#[span(class="db")] priority is to make sure all our teams are full of vitality and#[span(class="db")] that they align their focus towards our common goal.
            
            .ab_values__item
                .ab_values__icon_wrapper
                    img.ab_values__icon(src="images/about/icon3.svg", alt="icon")
                .ab_values__title Empowering others
                .ab_values__description We specialise in helping people build more#[span(class="db")] efficient businesses. We are always available#[span(class="db")] to support those who are in need. 
            
            .ab_values__item
                .ab_values__icon_wrapper
                    img.ab_values__icon(src="images/about/icon4.svg", alt="icon")
                .ab_values__title Orientation on results
                .ab_values__description We exert boundless energy into our #[span(class="db")] products so you can save time. We get#[span(class="db")] things done quickly and efficiently.
            
            .ab_values__item
                .ab_values__icon_wrapper
                    img.ab_values__icon(src="images/about/icon5.svg", alt="icon")
                .ab_values__title Constant improvement
                .ab_values__description We are constantly evolving and innovating our products#[span(class="db")] and services so that we can provide you with a range of#[span(class="db")] innovative and practical solutions.
            
            .ab_values__item
                .ab_values__icon_wrapper
                    img.ab_values__icon(src="images/about/icon6.svg", alt="icon")
                .ab_values__title Working with passion
                .ab_values__description We care about the end results of our work and deliver the#[span(class="db")] best solutions possible wtih a sense of passion and#[span(class="db")] purpose. 