.we_are_a_company
        .container
            .section__title We are #[span(class='section__title--bold') a company that:]
            .we_are_a_company__container
                .we_are_a_company__item #[span(class="bold") Provide] advanced client service from the time of contract-signing
                .we_are_a_company__item #[span(class="bold") Care] for your success
                .we_are_a_company__item #[span(class="bold") Understand] responsibility for both our own #[span(class="db")] corporate clients and their end users
                .we_are_a_company__item #[span(class="bold") Share] expertise and industry insights in every #[span(class="db")] aspect of your business and guide you along the way
                .we_are_a_company__item No difference in service for big or small clients. We #[span(class="bold") serve] #[span(class="db")] #[span(class="bold") everyone] on an equal footing with utmost professionalism#[span(class="db")]  and deep involvement in all the details
                .we_are_a_company__item #[span(class="bold") Never stop] our growth and expansion. We #[span(class="db")] produce innovative solutions and add additional #[span(class="db")] features to existing products every month
                .we_are_a_company__item #[span(class="bold") Grow] faster than others
                .we_are_a_company__item  #[span(class="bold") Hire] industry professionals or those who have big ambitions