.we_offer
        .container
            .section__title What #[span(class='section__title--bold') we offer]
            .we_offer__container
                .we_offer__item
                    .we_offer__title Integrations with all the most popular solutions
                    .we_offer__subtitle in the market so our clients are able to get everything in one place
                
                .we_offer__item
                    .we_offer__title 24/7 technical support 
                    .we_offer__subtitle We offer institutional-grade tools and technology and complement those capabilities with bespoke attention when it come to problem solving
                
                .we_offer__item
                    .we_offer__title A personal account manager
                    .we_offer__subtitle from the time of contract-signing is available in your native language and is on hand to serve you all way towards your success 
                
                .we_offer__item
                    .we_offer__title Professional access to FX, CFD and Crypto liquidity
                    .we_offer__subtitle via multiple connection methods is available for all our clients.
                
                .we_offer__item
                    .we_offer__title A full range of services
                    .we_offer__subtitle to start your own brokerage or exchange with minimum cost and maximum levels of technology and professionalism 