.where_we_work
        .container
            .section__title Where #[span(class='section__title--bold') we work]
            .section__subtitle  B2Broker currently have corporate clients from over 40 countries.#[span(class="db")] We work across the globe.
            img.banner(src="images/where_we.png", alt="map")