.who_we_serve
        .container
            .section__title Who #[span(class='section__title--bold') we serve]
            .who_we_serve__container
                .who_we_serve__item Established 
                    img.who_we_serve__img(src="images/left_ar.svg", alt="icon")
                .who_we_serve__item Beginners
                    img.who_we_serve__img(src="images/right_ar.svg", alt="icon")
        
            .who_we_serve__catalog
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    .check_block--mam_platform-item--text Investment firms
                
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    .check_block--mam_platform-item--text FOREX & Crypto Brokerage firms
                
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    .check_block--mam_platform-item--text Family offices
                
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    .check_block--mam_platform-item--text Hedge funds