.events_screen.section.section__dosnt_filter(style=" background-image: url(images/b2b_bg.png);" )
    .container
        .section__title.section__title--bold About Us  
        .section__subtitle B2Broker is committed as a partner of choice for its clients by providing#[span(class="db")] cutting edge solutions. Our goal is to help brokerage and exchange firms#[span(class="db")] empower their businesses through building a successful, transparent#[span(class="db")] and ethical environment.