.events_screen.section.section__dosnt_filter.rectangle(style="background-image: url(images/about/screen.png);")
    .container
        .section__title.section__title--bold About B2Broker 
        .section__subtitle B2Broker is a large multinational team located in several countries spanning#[span(class="db")] different geographical regions. We specialise in IT and software#[span(class="db")] development in the FinTech industry.