@import "header/header.scss";
@import "header/big_header.scss";
@import "footer/footer.scss";
@import "template/template.scss";
@import "template/jquery.mCustomScrollbar.scss";
@import "template/slick.scss";
@import "template/flickity.scss";
@import "template/fancybox.scss";
@import "template/nice-select.scss";
@import "black_page/footer-menu-section.scss";
@import "black_page/form-block-section.scss";
@import "black_page/section-1.scss";
@import "black_page/section-2.scss";
@import "black_page/section-3.scss";
@import "black_page/section-4.scss";
@import "black_page/section-5.scss";
@import "black_page/section-6.scss";
@import "black_page/section-7.scss";
@import "black_page/section-8.scss";
@import "black_page/section-9.scss";
@import "black_page/section-10.scss";
@import "black_page/section-11.scss";
@import "black_page/section-12.scss";
@import "black_page/section-13.scss";
@import "black_page/section-14.scss";
@import "black_page/section-15.scss";
@import "black_page/section-16.scss";
@import "black_page/section-17.scss";
@import "black_page/section-18.scss";
@import "black_page/section-19.scss";
@import "black_page/section-20.scss";
@import "black_page/section-21.scss";
@import "black_page/section-22.scss";
@import "black_page/section-23.scss";
@import "black_page/section-24.scss";
@import "black_page/forex.scss";
@import "black_page/genuine.scss";
@import "black_page/flow.scss";
@import "black_page/reduce.scss";
@import "black_page/products.scss";
@import "black_page/main_faq.scss";
// MAM_platform
@import "mam_platform/section-1.scss";
@import "mam_platform/b2_form.scss";
@import "mam_platform/what_is.scss";
@import "mam_platform/features.scss";
@import "mam_platform/actions.scss";
@import "mam_platform/mam_form.scss";
@import "mam_platform/opportunities.scss";
@import "mam_platform/state_of_art.scss";
@import "mam_platform/strategies.scss";
@import "mam_platform/four_types.scss";
@import "mam_platform/mam_frame.scss";
@import "mam_platform/money_managers.scss";
@import "mam_platform/make_money.scss";
@import "mam_platform/comparison.scss";
@import "mam_platform/rest.scss";
@import "mam_platform/or_features.scss";
@import "mam_platform/color_scheme.scss";
@import "mam_platform/faq.scss";
@import "mam_platform/best.scss";
@import "mam_platform/subscribe_form.scss";
@import "mam_platform/footer-menu-section-2.scss";
@import "footer/newFooter.scss";
@import "header/header_mam.scss";

//Copy_trading
@import "copy_trading/what_is.scss";
@import "copy_trading/investment.scss";
@import "copy_trading/chance.scss";
@import "copy_trading/make_traders.scss";
@import "copy_trading/ct_works.scss";

//pamm
@import "pamm/section-1.scss";
@import "pamm/what_is.scss";
@import "pamm/accounts.scss";
@import "pamm/make_pamm.scss";
@import "pamm/chance.scss";
@import "pamm/pamm_platform_works.scss";
@import "pamm/pamm_video.scss";
@import "pamm/pamm_types.scss";

//b2_core
@import "b2_core/b2_core.scss";
@import "b2_core/who_uses_block.scss";
@import "b2_core/b2_packages.scss";
@import "b2_core/who_is_it_for.scss";
@import "b2_core/connect.scss";
@import "b2_core/features.scss";
@import "b2_core/benefits.scss";
@import "b2_core/demo.scss";
@import "b2_core/cutting.scss";
@import "b2_core/translate.scss";
@import "b2_core/back_office.scss";
@import "b2_core/registration.scss";
@import "b2_core/exchanger.scss";
@import "b2_core/integrated.scss";
@import "b2_core/catalog_section.scss";
@import "b2_core/kyc.scss";
@import "b2_core/sacurity.scss";
@import "b2_core/anty_fraud.scss";
@import "b2_core/integrations.scss";
@import "b2_core/mobile_app.scss";
@import "b2_core/external.scss";
@import "b2_core/cloud.scss";
@import "b2_core/education.scss";
@import "b2_core/section__staging.scss";
@import "b2_core/many.scss";
@import "b2_core/technical.scss";
@import "b2_core/b2_works.scss";
@import "b2_core/b2_frame.scss";
@import "b2_core/faq.scss";
@import "b2_core/notification.scss";
@import "b2_core/popup_table.scss";
@import "b2_core/best.scss";

//main_page
@import "main_page/main_section.scss";
@import "main_page/watch_us.scss";
@import "main_page/news.scss";
@import "main_page/future.scss";
@import "main_page/webinars.scss";
@import "main_page/schedule.scss";
@import "main_page/hear.scss";
@import "main_page/hiring.scss";
@import "main_page/also.scss";
@import "main_page/product_tabs.scss";
@import "main_page/webinars_schedule.scss";

// crypto
@import "crypto/crypto.scss";

// b2 trading

@import "trading/b2_trading.scss";
@import "trading/enguine.scss";
@import "trading/architecture.scss";
@import "trading/balances.scss";
@import "trading/gui.scss";
@import "trading/watchlist.scss";
@import "trading/mode.scss";
@import "trading/commission.scss";
@import "trading/liq.scss";
@import "trading/different.scss";
@import "trading/powerful.scss";

//enterprise

@import "enterprise/main_section.scss";
@import "enterprise/section-3__enterprise.scss";
@import "enterprise/how_ex.scss";
@import "enterprise/reinvent.scss";
@import "enterprise/technology.scss";
@import "enterprise/flow.scss";
@import "enterprise/invoiced.scss";
@import "enterprise/lang.scss";
@import "enterprise/aveible.scss";
@import "enterprise/envairoment.scss";

//merchants
@import "merchants/merchants.scss";

// Events
@import "previous_events/events_screen.scss";
@import "previous_events/events_content.scss";
@import "previous_events/announcement_events.scss";
@import "previous_events/news_feed.scss";
@import "previous_events/webinars_previous.scss";
@import "previous_events/join_content.scss";
@import "previous_events/join_form_section.scss";
@import "previous_events/product_update.scss";
@import "previous_events/corporate_news.scss";
@import "previous_events/article_content.scss";
@import "previous_events/publication_page.scss";
@import "previous_events/videos.scss";
@import "previous_events/media.scss";
@import "previous_events/partners_section.scss";
@import "previous_events/publication_page.scss";
@import "previous_events/report.scss";

//wl_mt5
@import "wl_mt5/main_section.scss";
@import "wl_mt5/sec4_wl_mt5.scss";
@import "wl_mt5/enguine__wl_mt5.scss";
@import "wl_mt5/infrastructure.scss";
@import "wl_mt5/proxy.scss";
@import "wl_mt5/benefits.scss";
@import "wl_mt5/branding_wl_mt.scss";
@import "wl_mt5/or_features.scss";
@import "wl_mt5/structure_wl_mt.scss";
@import "wl_mt5/commission.scss";
@import "wl_mt5/conectivity.scss";
@import "wl_mt5/section__pool_wl_mt.scss";
@import "wl_mt5/genuine_wl_mt5.scss";
@import "wl_mt5/platforms.scss";
@import "wl_mt5/comparison.scss";
@import "wl_mt5/pricing.scss";
@import "wl_mt5/dif_types_wl.scss";
@import "wl_mt5/lang.scss";
@import "wl_mt5/paty.scss";
@import "wl_mt5/manager.scss";
@import "wl_mt5/plugins.scss";
@import "wl_mt5/watch_wl.scss";
@import "wl_mt5/migration_wl.scss";
@import "wl_mt5/best.scss";

//Contacts
@import "contacts/lema.scss";
@import "contacts/hiring.scss";

// team
@import "team/includes.scss";
@import "team/watch.scss";
@import "team/generation.scss";
@import "team/enginirs.scss";

// careers
@import "careers/events_screen.scss";
@import "careers/careers_content.scss";
@import "careers/careers__video.scss";
@import "careers/greed.scss";

// preloader
@import "preloader/preloader.scss";

// about
@import "about/about_grid.scss";
@import "about/rewiew.scss";
@import "about/mission.scss";
@import "about/values.scss";
@import "about/resault.scss";
@import "about/hiring.scss";
@import "about/brand.scss";

// b2margin
@import "b2margin/main_screen.scss";
@import "b2margin/section3.scss";
@import "b2margin/enguine.scss";
@import "b2margin/b2_form.scss";
@import "b2margin/gui.scss";
@import "b2margin/dyno.scss";
@import "b2margin/leverage.scss";
@import "b2margin/b2m_custom.scss";
@import "b2margin/b2m_set.scss";
@import "b2margin/adm_panel.scss";
@import "b2margin/b2m_dif-t.scss";
