.animation_brand {
  overflow: hidden;
  background: #1a2129;
  position: relative;
  transition: padding 0.5s;
  padding: 0;
  min-height: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .new_logo {
    max-width: 200px;
    padding-bottom: 50px;
    max-height: 84px;
    transition: padding 0.5s, max-height 0.5s;

    &.height0-anim {
      max-height: 0;
      padding: 0;
    }

    &.disabled {
      opacity: 0;
    }
  }

  #animationTrigger {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 1px;
    opacity: 0;
  }

  .ab__content {
    margin-bottom: auto;
  }

  @media screen and (max-width: 800px) {
    display: none;
  }

  &.full {
    .section__title {
      display: none;
    }
  }

  #info {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  .section__title {
    padding-bottom: 30px;
    color: #fff;
    max-height: 84px;
    transition: padding 0.5s, max-height 0.5s;
    margin-bottom: 0;

    &.height0-anim {
      max-height: 0;
      padding: 0;
    }

    &.disabled {
      opacity: 0;
    }
  }

  .ab {
    &__title_block {
      z-index: 30;
      position: absolute;
      transform: translateY(400%);
      box-sizing: border-box;
      padding-left: 35px;
      transition: opacity 1s, transform 1.5s;
      opacity: 0;

      &.active {
        opacity: 1;
        transform: translateY(53%);

        .ab__title_block__heading,
        .ab__title_block__subtitle,
        .reanim_btn svg {
          transform: scale(1);
        }
      }

      .reanim_btn {
        margin-top: 38px;

        svg {
          display: block;
          margin: 0 auto;
          margin-left: 40%;
          opacity: 0.6;
          cursor: pointer;
          transition: all 1.3s;
          transform: scale(1.3);
        }

        &:hover {
          svg {
            opacity: 1;
          }
        }
      }

      &__heading {
        will-change: auto;
        transition: all 1.9s;

        transform: scale(1.9);
      }

      &__subtitle {
        transition: all 1.3s;
        display: block;
        margin: 0 auto;
        margin-left: 40px;
        margin-top: 20px;
        will-change: auto;

        transform: scale(1.9);
      }
    }
    &__content {
      width: 98%;
      max-width: 980px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      min-height: 553px;
      transition: max-height 1s, min-height 1s, transform 0.5s;

      &.height800-anim {
        min-height: 800px;
      }
    }

    &__logo {
      position: relative;
      display: block;
      flex-wrap: wrap;
      width: 184px;
      height: 184px;
      padding: 16px;
      box-sizing: border-box;
      border: 1px solid rgba(255, 255, 255, 0);
      box-sizing: border-box;
      transition: all 0.7s;
      z-index: 1;
      transform-origin: center;

      will-change: auto;

      svg {
        will-change: auto;
      }

      &.opacity0-anim {
        opacity: 0;
      }

      &.lastStep-anim {
        position: absolute;
        top: 0;
        border: none;
        background: transparent;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        max-width: 620px;
        max-height: 620px;
        min-width: 620px;
        min-height: 620px;
        left: 50%;
        margin-left: -310px;
        padding: 0;
        z-index: 21;
        transition: all 1s;

        svg {
          display: block;
          max-width: 163px;
          max-height: none;
          height: auto;
          position: relative;
          top: auto !important;
          left: auto !important;
          bottom: auto !important;
          right: auto !important;
          transition: all 0.5s;

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            align-self: flex-start;
          }

          &:nth-child(7),
          &:nth-child(8),
          &:nth-child(9) {
            align-self: flex-end;
          }

          &:nth-child(3n-1) {
            justify-self: center;
          }
          &:nth-child(3n) {
            justify-self: end;
          }
        }

        &.logoAnim {
          max-width: 166px;
          max-height: 166px;
          min-width: 166px;
          min-height: 166px;
          margin-left: -83px;
          top: 210px;

          svg {
            justify-content: center;
            align-items: center;
            margin: 0;
          }
        }
      }

      &.disabled {
        opacity: 0;
      }

      &.new_disabled {
        background: transparent !important;
        border: none !important;
      }

      svg {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 50px;
        transition: max-width 0.5s, max-height 0.5s;
        z-index: 9;
        will-change: auto;

        &.active {
          max-width: 0;
          max-height: 0;
        }

        position: absolute;
        &:nth-child(1) {
          top: 16px;
          left: 16px;
          z-index: 10;

          &.active {
            top: 10px;
            left: 10px;
            max-width: calc(100% - 20px);
            max-height: calc(100% - 20px);
          }
        }

        &:nth-child(2) {
          top: 16px;
          left: 67px;
        }

        &:nth-child(3) {
          top: 16px;
          left: 118px;
        }

        &:nth-child(4) {
          left: 16px;
          top: 67px;
        }

        &:nth-child(5) {
          top: 67px;
          left: 67px;
        }

        &:nth-child(6) {
          top: 67px;
          left: 118px;
        }

        &:nth-child(7) {
          left: 16px;
          bottom: 14px;
        }

        &:nth-child(8) {
          bottom: 14px;
          left: 67px;
        }

        &:nth-child(9) {
          bottom: 14px;
          left: 118px;
        }
      }

      &.active {
        background: rgba(10, 190, 152, 0.1);
        border-color: rgba(255, 255, 255, 0.1);
      }
    }

    &__text {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: opacity 0.5s;

      &.disabled {
        opacity: 0;
      }

      &__item {
        width: 240px;

        position: absolute;
        background: #1a2129;
        padding: 2px;
        opacity: 0;
        transition: opacity 0.5s;

        &.active {
          opacity: 1;
        }

        &:nth-child(1) {
          text-align: right;
          left: 17%;
          top: 5px;
        }

        &:nth-child(2) {
          text-align: left;
          right: 17%;
          top: 5px;
        }

        &:nth-child(3) {
          text-align: left;
          right: 23px;
          top: 50%;
          margin-top: -41px;
        }

        &:nth-child(4) {
          text-align: left;
          right: 17%;
          bottom: 26px;
        }

        &:nth-child(5) {
          text-align: right;
          left: 17%;
          bottom: 26px;
        }

        &:nth-child(6) {
          text-align: right;
          left: 23px;
          top: 50%;
          margin-top: -41px;
        }
      }

      &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #ffffff;
        margin-bottom: 5px;
      }

      &__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
      }
    }

    &__circle {
      position: absolute;
      z-index: 0;
      transition: opacity 0.5s;
      opacity: 0;

      &.active {
        opacity: 1;
      }

      .circle {
        stroke-dasharray: none;
        stroke-dashoffset: 0;
        transform-origin: center;
        transform: rotate(-135deg);
        transition: transform 0.5s, all 3s;
        will-change: auto;
      }

      &.disabled {
        opacity: 0;
      }
    }

    &__core {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 20;
      opacity: 1;
      transition: opacity 0.5s;

      &.lastStepOpacity0 {
        opacity: 0;
      }

      &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 31px;
        /* or 172% */
        text-align: center;
        color: #ffffff;
        opacity: 0;
        max-width: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.5s, padding 0.5s;
        padding-top: 90px;

        &.active {
          opacity: 1;
          max-width: 100%;
          max-height: 100%;
        }
      }

      &__icon {
        width: 100%;
        height: 100%;
        max-width: 163px;
        max-height: 163px;
        border-radius: 50%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #313a44;
        margin: 0 auto;
        opacity: 0;
        transition: opacity 0.5s, transform 0.5s, max-width 0.5s,
          max-height 0.5s;
        position: relative;
        will-change: auto;
        img {
          width: auto;
          max-width: 21px;
        }

        .core_title {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          /* identical to box height */
          text-align: center;
          letter-spacing: -0.318182px;
          color: #ececec;
          display: block;
          margin-top: 10px;
        }

        &.opacity1-anim {
          opacity: 1 !important;
        }
        &.for_move {
          max-width: 120px;
          max-height: 120px;
        }

        &.five_move {
          max-width: 65px;
          max-height: 65px;
        }

        &.six_move {
          max-width: 50px;
          max-height: 50px;
        }

        .gradient {
          position: absolute;
          left: -7px;
          top: -7px;
          display: block;
          width: calc(100% + 14px);
          height: calc(100% + 14px);
          z-index: 11;
          border-radius: 50%;
          opacity: 0;
          transition: opacity 1s;
          will-change: auto;
        }

        &.gradient {
          img {
            display: none;
          }

          .gradient {
            opacity: 1;
          }
        }

        &.active {
          opacity: 1;
        }

        &.disabled {
          opacity: 0.3;
        }

        img {
          display: block;
          width: 100%;
        }
      }
      &__item {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        transition: padding 0.5s;
        z-index: 8;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          padding-top: 195px;

          &.p0-anim {
            padding-top: 0;
          }
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          padding-top: 230px;
        }

        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
          padding-top: 460px;
        }

        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(8) {
          z-index: 10;
        }
      }

      &__item[data-id="1"] {
        .ab__core__icon {
          border: 7px solid #0abe98;

          .gradient {
            background: #0abe98;
          }

          &.disabled {
            transform: translateX(-140%);
          }

          &.three_move {
            transform: translate(-100%, 40%);
          }

          &.for_move {
            transform: translate(-100%, 90%);
          }

          &.five_move {
            transform: translate(-100%, 255%);
          }

          &.six_move {
            transform: translate(-100%, 355%);
          }
        }
        .ab__core__text {
          padding-top: 0;

          &.active {
            padding-top: 90px;
          }
        }
      }

      &__item[data-id="2"] {
        .ab__core__icon {
          .gradient {
            background: #28f3c8;
          }

          border: 7px solid #28f3c8;

          &.three_move {
            transform: translate(0, 40%);
          }

          &.for_move {
            transform: translate(0, 90%);
          }

          &.five_move {
            transform: translate(0, 255%);
          }

          &.six_move {
            transform: translate(0, 355%);
          }
        }
      }

      &__item[data-id="3"] {
        .ab__core__icon {
          border: 7px solid #7dffe0;

          .gradient {
            background: #7dffe0;
          }

          &.active {
            transform: translateX(140%);
          }

          &.three_move {
            transform: translate(100%, 40%);
          }

          &.for_move {
            transform: translate(100%, 90%);
          }

          &.five_move {
            transform: translate(100%, 255%);
          }
          &.six_move {
            transform: translate(100%, 355%);
          }
        }
      }

      &__item[data-id="4"] {
        .ab__core__icon {
          border: 7px solid #079270;

          .gradient {
            background: #079270;
          }

          &.disabled {
            transform: translateX(-140%);
          }

          &.three_move {
            transform: translateX(-100%);
          }

          &.for_move {
            transform: translate(-100%, 0);
          }

          &.five_move {
            transform: translate(-100%, 0);
          }

          &.six_move {
            transform: translate(-100%, 0);
          }
        }
      }

      &__item[data-id="5"] {
        .ab__core__icon {
          border: 7px solid #0abe98;

          .gradient {
            background: #0abe98;
          }
        }
      }

      &__item[data-id="6"] {
        .ab__core__icon {
          border: 7px solid #28f3c8;

          .gradient {
            background: #28f3c8;
          }

          &.active {
            transform: translateX(140%);
          }

          &.three_move {
            transform: translateX(100%);
          }

          &.for_move {
            transform: translate(100%, 0);
          }

          &.five_move {
            transform: translate(100%, 0);
          }

          &.six_move {
            transform: translate(100%, 0);
          }
        }
      }

      &__item[data-id="7"] {
        .ab__core__icon {
          border: 7px solid #046a51;

          .gradient {
            background: #046a51;
          }

          &.disabled {
            transform: translateX(-140%);
          }

          &.three_move {
            transform: translate(-100%, -40%);
          }

          &.for_move {
            transform: translate(-100%, -90%);
          }

          &.five_move {
            transform: translate(-100%, -255%);
          }

          &.six_move {
            transform: translate(-100%, -355%);
          }
        }
      }

      &__item[data-id="8"] {
        .ab__core__icon {
          border: 7px solid #079270;

          .gradient {
            background: #079270;
          }

          &.three_move {
            transform: translate(0, -40%);
          }

          &.for_move {
            transform: translate(0, -90%);
          }

          &.five_move {
            transform: translate(0, -255%);
          }

          &.six_move {
            transform: translate(0, -355%);
          }
        }
      }

      &__item[data-id="9"] {
        .ab__core__icon {
          border: 7px solid #0abe98;

          .gradient {
            background: #0abe98;
          }

          &.active {
            transform: translateX(140%);
          }

          &.three_move {
            transform: translate(100%, -40%);
          }

          &.for_move {
            transform: translate(100%, -90%);
          }

          &.five_move {
            transform: translate(100%, -255%);
          }

          &.six_move {
            transform: translate(100%, -355%);
          }
        }
      }
    }
  }
}

.mobile__animation_brand {
  justify-content: center;
  align-items: center;
  background: #1a2129;
  display: none;

  @media screen and (max-width: 800px) {
    display: flex;
  }

  img {
    display: block;
    width: 98%;
    margin: 0 auto;
    max-width: 465px;
  }
}

.skip__anim_btn {
  opacity: 0;
  transition: opacity 0.5s;
  padding-bottom: 20px;
  cursor: pointer;
  position: relative;
  z-index: 40;

  &.active {
    opacity: 1;
  }
}

.skip__anim_btn {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;

  span {
    margin: 0 4px;
  }
}
