.about_hiring {
  .hiring_block__wrapper:nth-child(1) {
    .new_hiring_block {
      border-bottom: 0;

      &:nth-child(2) {
        background-position: top;
      }
    }
  }

  .hiring_block__wrapper:nth-child(2) {
    .new_hiring_block {
      border-bottom: 0;
    }
  }
}

.hiring_block__wrapper .new_hiring_block {
  background-size: 101% auto;
  transition: all 0.5s;

  &:hover {
    background-size: 106%;
  }

  @media screen and (max-width: 1000px) {
    background-size: cover;

    &:hover {
      background-size: cover;
    }
  }
}

@media screen and (max-width: 1650px) {
  .hiring_block__wrapper .little_hiring_block {
    min-height: 300px;
  }
}
