.mission__section {
  min-height: 556px;
  box-sizing: border-box;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;

  .section__title {
    margin-bottom: 20px;
  }

  .section__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 80px;
    color: #383838;
  }
}

.mission__overlay {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
}

.mission {
  &__icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
    }
  }

  &__text {
    padding: 20px 46px;
    padding-right: 50px;
    background: #f6f6f6;
    border-radius: 20px;
    box-sizing: border-box;
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #383838;
  }

  &__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #383838;
    margin-bottom: 20px;
  }

  &__discription {
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 130.7%;
    /* or 31px */

    color: #383838;
  }
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 851px;
    margin: 0 auto;

    &:nth-child(2n) {
      .mission {
        &__icon {
          order: 1;
          margin-right: 0;
          margin-left: 20px;
        }

        &__title,
        &__subtitle {
          text-align: right;
        }
      }
    }

    & + .mission__item {
      margin-top: 80px;
    }

    @media screen and (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .mission__icon {
        order: 0;
        margin: 0;
        margin-bottom: 20px;
      }

      &:nth-child(2n) {
        .mission__icon {
          order: 0;
          margin: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}
