.mission__section {
  background: #fdfdfd;

  .section__title {
    margin-bottom: 80px;
  }

  .section__subtitle {
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 130.7%;
    /* or 47px */
    text-align: center;
    color: #383838;
  }
}
