.ab_resault {
  background: #fdfdfd;
  position: relative;

  .section__title {
    margin-bottom: 80px;
  }

  .container {
    max-width: 1600px;
  }

  .number_block {
    justify-content: space-between;

    &-content {
      min-width: 121px;
    }

    @media screen and (max-width: 700px) {
      display: block;
    }

    &--number {
      color: #383838;
      text-align: center;
    }

    &--text {
      color: #383838;
      letter-spacing: 0;
      text-align: center;
    }
  }

  .number__trigger {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
  }
}
