.section__review {
  background: #f7f7f7;
}
.p__review {
  margin: 0 auto;
  max-width: 680px;
  border-top: 3px solid #c9c9c9;
  border-bottom: 3px solid #c9c9c9;
  padding: 65px 0;
  position: relative;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 43px;
  /* or 145% */
  color: #383838;
  text-align: center;

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -45px;
    bottom: -32px;
    display: block;
    width: 90px;
    height: 33px;
    background: #f7f7f7 center / auto url(../images/Line.svg) no-repeat;
  }
}

.review {
  &__content {
    min-width: 150px;
  }
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }

  &__image {
    display: block;
    flex-shrink: 0;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #383838;
  }

  &__position {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #383838;
  }

  &__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #383838;
  }
}
