.section.comparison_tk.section__blue
    .section__title Comparison #[span(class="section__title--bold") table]
    .container.goanim.an
        .comparison_tk__catalog
            .comparison_tk__item
                .comparison_tk__title Forex Broker
                .comparison_tk__desc Broker that offers trading services on different financial markets: Forex, Metals, Indices and CFDs on different assets.
            
            .comparison_tk__item
                .comparison_tk__title Crypto Broker
                .comparison_tk__desc Crypto Broker is advanced business model including all functionality from Forex Broker with opportunities to denominate trading accounts in cryptocurrencies, and open long and short positions on crypto derivatives.
            
            .comparison_tk__item
                .comparison_tk__title Multi-Asset Broker
                .comparison_tk__desc Licenced broker that offers its clients opportunity to trade not only on OTC Markets (FX & Crypto) but also access to securities assets (Cash equities, futures, bonds, options).

    .container.container__table.goanim.an
        .enguine_table
            .row
                .col Features
                .col FOREX Broker
                .col Crypto Broker
                .col Multi-Asset  Broker
                .col Comment
            
            .row
                .col Support of MetaTrader 4
                .col 
                    +icon('bold_check')
                .col optional
                .col optional
                .col Crypto- and Multi-asset brokers must buy MetaTrader5 Trading platform as it is not possible to denominate trading accounts in cryptocurrencies in MetaTrader4 due to currency digit limitation. Also, due to limitation of maximal precision in price (up to 5th decimal point) not all cryptocurrency instruments are supported.
            
            .row
                .col Support of MetaTrader 5
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col Any business model can be realized based on MetaTrader5 trading platform
            
            .row
                .col Support of Cash trading platforms
                
                .col
                    +icon('close')
                .col
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col B2Trader, B2Margin, DxTrade platforms for spot exchange
            
            .row
                .col Forex instruments
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 78 currency pairs are available
            
            .row
                .col Indices
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 12 CFDs on indices, including UK FTSE100, DAX30 and S&P 500
            
            .row
                .col Metals
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 13 Metals including XPTUSD
            
            .row
                .col ETFs
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 7 ETFs
            
            .row
                .col Spot Energies
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check') 
                .col 3 CFDs on energies including WTIUSD and NGCUSD
            
            .row
                .col CFD Equities
                .col optional
                .col optional
                .col 
                    +icon('bold_check') 
                .col 400 CFD on equities including Apple, Amazon, Facebook and Telsa
            
            .row
                .col Cash Equities
                .col
                    +icon('close')
                .col
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col more than 5000
            
            .row
                .col Crypto CFD & derivatives
                .col Partially
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col MetaTrader 4 is not able to support some cryptocurrency instruments since price accuracy is limited to 5 decimal places

            .row
                .col Support of Spot/Cash Crypto liquidity
                .col
                    +icon('close')
                .col optional
                .col 
                    +icon('bold_check')
                .col It is mandatory to use cash trading platforms like B2Trader or B2Margin for offering spot trading services. Metatrader does not support cash trading
            
            .row
                .col 24/7 Trading
                .col
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 24/7 only for cryptocurrency instruments
            
            .row
                .col Leverage
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col As a broker, you can offer any amount of leverage to your clients
            
            .row
                .col Support of Money Management platform
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col  Partially
                .col Includes Copy Trading, PAMM and MAM. MetaTrader 4/5 are supported.
            
            .row
                .col Denomination of accounts in cryptocurrencies
                .col
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col Trading accounts can be denominated in cryptocurrencies
            
            .row
                .col Acceptance of deposits and withdrawals in cryptocurrencies
                .col optional
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col A convenient and easy way of deposit/withdrawal. No chargebacks.
            
            .row
                .col Cryptocurrency wallets in Trader’s room
                .col
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col If permitted by regulation, a multi-asset broker can denominate wallets in cryptocurrencies
            
            .row
                .col Crypto Converter
                .col
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col Offer your clients a simple converter inside your Trader’s Room
            
            .row
                .col Multi-Level IB
                
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col Partially
                .col Available only for MetaTrader 4/5      
                