.section-22.faq.section__white
  .container.goanim.an
    .section__title.section__title--bold FAQs
    .question

      .question-item.faq_btn_js(data-id="1")
        span How to accept cryptocurrencies
        .question__plus
          span
          span
        .question-item_content(data-id="1") Receive, store and send virtual currencies such as Bitcoin, Ethereum, Ripple, Monero, etc.

      .question-item.faq_btn_js(data-id="2")
        span Does your Crypto gateway accept Visa/MasterCard? 
        .question__plus
          span
          span
        .question-item_content(data-id="2") No, we offer a cryptocurrency payment gateway which is capable of accepting any crypto but not fiat currency.

      .question-item.faq_btn_js(data-id="3")
        span Could you tell me which Brokers are your clients? 
        .question__plus
          span
          span
        .question-item_content(data-id="3") We do not reveal any names. We sign a NDA with our clients and therefore do not disclose their details.

      .question-item.faq_btn_js(data-id="4")
        span Do you provide any assistance or support? 
        .question__plus
          span
          span
        .question-item_content(data-id="4") Yes we do. As soon as you acquire our services we will provide you with an Account Manager for general questions and 24/7 technical support. We also run training sessions for our customer's teams with our product managers.

      .question-item.faq_btn_js(data-id="5")
        span Do you provide Islamic Accounts? 
        .question__plus
          span
          span
        .question-item_content(data-id="5") Yes, a broker can create an Islamic account type with storage for his clients.

      .question-item.faq_btn_js(data-id="6")
        span Can I brand my Broker?
        .question__plus
          span
          span
        .question-item_content(data-id="6") Yes you can. No one will see the B2Broker logo on your TR or MetaTrader terminals.

      .question-item.faq_btn_js(data-id="7")
        span Do you provide futures and cash equities? 
        .question__plus
          span
          span
        .question-item_content(data-id="7") To offer these types of assets to clients you will need to have a securities license and be a member of a regulated exchange.
      
      .question-item.faq_btn_js(data-id="8")
        span Can the trading account be denominated in crypto and fiat?
        .question__plus
          span
          span
        .question-item_content(data-id="8") Yes, denomination of trading accounts in any fiat and cryptocurrencies is the main differentiation feature of a crypto broker.
      
      .question-item.faq_btn_js(data-id="9")
        span How do I accept payments from my clients?
        .question__plus
          span
          span
        .question-item_content(data-id="9") It depends on which payment system is integrated into your Traders' room. B2Core is already integrated with more than 40 PSPs and EMIs and all you need to do is sign an agreement with one of them and connect them in a few clicks.
      
      .question-item.faq_btn_js(data-id="10")
        span How do I accept payments from my clients?
        .question__plus
          span
          span
        .question-item_content(data-id="10") It depends on which payment system is integrated into your Traders' room. B2Core is already integrated with more than 40 PSPs and EMIs and all you need to do is sign an agreement with one of them and connect them in a few clicks.
      
      .question-item.faq_btn_js(data-id="11")
        span I am a MetaTrader White Label of another service provider. Can I connect B2broker liquidity? 
        .question__plus
          span
          span
        .question-item_content(data-id="11") Yes, but as you are white label, you will need to ask your service provider’s permission to integrate B2Broker liquidity. If they agree, we will provide you a bridge or FIX API for integration.
      
      .question-item.faq_btn_js(data-id="12")
        span Do I need to buy my own PrimeXM Core or OneZero Hub? How much does it cost?  
        .question__plus
          span
          span
        .question-item_content(data-id="12") No, as soon as you are our White Label, you will not need to buy your own PrimeXM Core or OneZero Hub. We provide it free of charge.
      
      .question-item.faq_btn_js(data-id="13")
        span I have my own MetaTrader trading server. How can I connect B2Broker Liquidity?
        .question__plus
          span
          span
        .question-item_content(data-id="13") If you have your own PrimeXM Core or OneZero Hub we can connect you directly via X-Core-to-X-Core or Hub-to-Hub. Otherwise, we provide you with a bridge for MT4 and gateway for MT5 free of charge.
      
      .question-item.faq_btn_js(data-id="14")
        span Do you charge any transactional fees or do I set my own ?
        .question__plus
          span
          span
        .question-item_content(data-id="14") As a White Label you get a raw price stream with a low commission for volume. You can set your own commissions for end users for any group of clients and choose one of our streams with different markups on spreads.
      
      .question-item.faq_btn_js(data-id="15")
        span What are your swap rates?
        .question__plus
          span
          span
        .question-item_content(data-id="15") It depends on the bank rates and varies from time to time. Current SWAP rates can be found in our contract specification. Please contact our sales manager for a link.
      
      .question-item.faq_btn_js(data-id="16")
        span Can I create a B-book broker with you? 
        .question__plus
          span
          span
        .question-item_content(data-id="16") No. We do not provide White Labels for pure B-book brokers. We allow the use of B-book groups, but you still need to be connected to the A-book liquidity pool.
      
      .question-item.faq_btn_js(data-id="17")
        span Do you provide White Label MetaTrader without liquidity? 
        .question__plus
          span
          span
        .question-item_content(data-id="17") No, we provide White Label MetaTrader only with our liquidity service.
      
      .question-item.faq_btn_js(data-id="18")
        span Can I host your solutions on my own servers?
        .question__plus
          span
          span
        .question-item_content(data-id="18") No, the White Label of MetaTrader and B2Core is hosted only on B2Broker's servers and is offered only as SaaS. However, you can host the investment platform on your servers.
      
      .question-item.faq_btn_js(data-id="19")
        span Do you help with opening bank accounts?
        .question__plus
          span
          span
        .question-item_content(data-id="19") It is not easy to open a bank account for a cryptocurrency exchange, but once you become our client we can help you with opening an account in different EMIs in conjunction with our consulting services.
      
      .question-item.faq_btn_js(data-id="20")
        span Do you help with obtaining a Forex license? 
        .question__plus
          span
          span
        .question-item_content(data-id="20") Yes, we can help you choose jurisdiction in conjunction with our consulting services and advise you how to get a license once you acquire our services.
      
      .question-item.faq_btn_js(data-id="22")
        span Which payment systems are integrated into B2Core (Traders' room)?
        .question__plus
          span
          span
        .question-item_content(data-id="22") B2Core is already integrated with more than 40 PSPs and EMIs. All you need to do is sign an agreement with one of them and connect in a few clicks.
      
      .question-item.faq_btn_js(data-id="23")
        span Do you provide 1:1000 leverage? 
        .question__plus
          span
          span
        .question-item_content(data-id="23") You can make any leverage available for your clients in MetaTrader groups, although our liquidity service is provided with institutional leverage of 1:100.
      
      .question-item.faq_btn_js(data-id="21")
        span Can I take your White Label of MetaTrader and connect it to other liquidity providers? 
        .question__plus
          span
          span
        .question-item_content(data-id="21") No, we provide a White Label only with B2Broker Prime-of-Prime Liquidity service.
      
      .another_question.another_question__for_btn
        div
          .another_question--heading Have another question?
          .another_question--link We are on hand to answer all your questions. Get in touch.
        a(href="#").btn.btn--green.js-modal2-btn Ask us now