.section.tk_guide__section
    .container.goanim.an
        .section__title.section__title--bold Marketing Guide
        .section__subtitle This marketing guide is based on the best practices in the industry. Our Product and#[span(class="db")] Marketing managers have worked on this guide for 3 months to provide you with a useful#[span(class="db")] tool for creating an efficient marketing strategy.

    .tk_guide.goanim.an
        .container
            .tk_guide__flex
                img.tk_guide__left(src="images/tk_guide.png", alt="img")

                .tk_guide__right
                    .tk_guide__title You’ll learn from this guide:
                    ul.tk_guide__ul
                        li.tk_guide__li An overview of marketing channels
                        li.tk_guide__li SEO basics and recommendations
                        li.tk_guide__li How to create and analyze PPC advertising
                        li.tk_guide__li How to maintain your brand reputation
                        li.tk_guide__li What instruments are needed for efficient email marketing?
                        li.tk_guide__li What specialists are needed with ready-to-use text for job offerings
                    
                    .tk_guide__green Our 39-page guide will help you save#[span(class="db")] a considerable amount of time and hundreds of thousands of dollars on testing.
            
            .tk_guide__form_title Hundreds of companies are already using this guide#[span(class="db")] to improve their marketing strategy.
            form.tk_guide__form
                input.tk_guide__input(type="text", placeholder="Your Email")
                button.tk_guide__button Get the Guide
            .tk_guide__form_subtitle B2Broker uses the information you provide to us to contact you about our relevant content, products and services.#[span(class="db")] For more information, check out our Privacy Policy.

