.section.dark_style.pac_ad__section(style="background: #1A2129;")
    .container.goanim.an
        .section__title  Turnkey Package #[span(class="section__title--bold") Advantages]
        .section__subtitle(style="margin-bottom:125px;") A Turnkey Broker is a great choice for getting started. Simplicity of maintenance and#[span(class="db")] assistance along with cost-effectiveness are just a few of the many benefits available.

        .pac_ad__wrapper#grove1
            .pac_ad__trigeer
            .pac_ad__title A super cost-effective solution
            .pac_ad__subtitle #[span() A Turnkey Broker is a super cost-effective and time-saving solution as it is a based on a White Label of MetaTrader. You can save more than] #[span(class="bold") $90,000 ] #[span() on setup costs and around] #[span(class="bold")  $10,000] #[span() ongoing monthly costs for full licensing, servers and a technical support team.]
            .pac_ad__subtitle #[span(class="bold db") This is not a compromise solution in any way] #[span() It is a fully branded solution and clients will never know whether you are using a White Label or Main Label license.]

            .new_speed__wrapper
                div.new_speed__wrapper_left
                    .new_speed__title Setup Price
                    .new_speed__content
                        .new_speed.new_speed--gray
                        .new_speed__price $100 000 
                    .new_speed__subtitle Main Label MT4 Server License

                    .new_speed__content
                        .new_speed.new_speed--blue(style="max-width:58px;")
                        .new_speed__price(style="color: #52ACFF;") $6 000 
                    .new_speed__subtitle White Label setup price
                
                div.new_speed__wrapper_right
                    .new_speed__wrapper_right_border
                    <svg width="99" height="48" viewBox="0 0 99 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.7422 46.4492H11.1797V9.91797L0.0234375 13.7305V7.32422L17.7734 0.792969H18.7422V46.4492ZM36.5859 23.8867L39.0547 0.949219H63.4922V7.51172H45.3672L44.1172 18.3867C46.2214 17.1784 48.5964 16.5742 51.2422 16.5742C55.5755 16.5742 58.9401 17.9596 61.3359 20.7305C63.7526 23.5013 64.9609 27.2305 64.9609 31.918C64.9609 36.543 63.6276 40.2305 60.9609 42.9805C58.2943 45.7096 54.638 47.0742 49.9922 47.0742C45.8255 47.0742 42.3672 45.8971 39.6172 43.543C36.888 41.168 35.4089 38.043 35.1797 34.168H42.5234C42.8151 36.3763 43.6068 38.0742 44.8984 39.2617C46.1901 40.4284 47.8776 41.0117 49.9609 41.0117C52.2943 41.0117 54.1068 40.1784 55.3984 38.5117C56.7109 36.8451 57.3672 34.5742 57.3672 31.6992C57.3672 28.9284 56.6484 26.7409 55.2109 25.1367C53.7734 23.5117 51.7943 22.6992 49.2734 22.6992C47.8984 22.6992 46.7318 22.8867 45.7734 23.2617C44.8151 23.6159 43.7734 24.3242 42.6484 25.3867L36.5859 23.8867ZM83.5547 23.7617L89.9922 12.6367H98.4297L88.0859 29.293L98.7734 46.4492H90.3984L83.6484 34.8867L76.9297 46.4492H68.4922L79.1797 29.293L68.8672 12.6367H77.2422L83.5547 23.7617Z" fill="url(#blue)"/>
                        <defs>
                        <linearGradient id="blue" x1="-3.14739" y1="24.9492" x2="121.974" y2="24.9492" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#0272D9"/>
                        <stop offset="0.953125" stop-color="#42A3FD"/>
                        </linearGradient>
                        </defs>
                    </svg>
                    .new_speed__big_price__subtitle Cheaper than Main Label
            
            .new_speed__wrapper
                div.new_speed__wrapper_left
                    .new_speed__title Monthly payments to MetaQuotes
                    .new_speed__content
                        .new_speed.new_speed--gray
                        .new_speed__price $2 000 
                    .new_speed__subtitle Main Label Server technical support

                    .new_speed__content
                        .new_speed.new_speed--green(style="max-width:302px;")
                        .new_speed__price(style="color: #16F1C2;") $1 000 
                    .new_speed__subtitle White Label Technical support
                
                div.new_speed__wrapper_right
                    .new_speed__wrapper_right_border
                    <svg width="66" height="47" viewBox="0 0 66 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32.0898 46.6836H1.49609V41.4648L16.6523 24.9336C18.8398 22.4961 20.3919 20.4648 21.3086 18.8398C22.2461 17.194 22.7148 15.5482 22.7148 13.9023C22.7148 11.7357 22.1003 9.98568 20.8711 8.65234C19.6628 7.31901 18.0273 6.65234 15.9648 6.65234C13.5065 6.65234 11.6003 7.40234 10.2461 8.90234C8.89193 10.4023 8.21484 12.4544 8.21484 15.0586H0.621094C0.621094 12.2878 1.24609 9.79818 2.49609 7.58984C3.76693 5.36068 5.56901 3.63151 7.90234 2.40234C10.2565 1.17318 12.9648 0.558594 16.0273 0.558594C20.444 0.558594 23.9232 1.67318 26.4648 3.90234C29.0273 6.11068 30.3086 9.17318 30.3086 13.0898C30.3086 15.3607 29.6628 17.7461 28.3711 20.2461C27.1003 22.7253 25.0065 25.5482 22.0898 28.7148L10.9648 40.6211H32.0898V46.6836ZM50.4961 23.9961L56.9336 12.8711H65.3711L55.0273 29.5273L65.7148 46.6836H57.3398L50.5898 35.1211L43.8711 46.6836H35.4336L46.1211 29.5273L35.8086 12.8711H44.1836L50.4961 23.9961Z" fill="url(#green)"/>
                        <defs>
                        <linearGradient id="green" x1="88.913" y1="10.0621" x2="-1.95897" y2="10.3264" gradientUnits="userSpaceOnUse">
                        <stop offset="0.244792" stop-color="#16F1C2"/>
                        <stop offset="1" stop-color="#00B68F"/>
                        </linearGradient>
                        </defs>
                    </svg>

                    .new_speed__big_price__subtitle Cheaper than Main Label

        .pac_ad__flex
            .pac_ad__wrapper#grove2(style="width:calc(50% - 20px / 2);")
                .pac_ad__trigeer
                .new_speed__wrapper
                    div.new_speed__wrapper_left
                        .new_speed__title Time for IT infrastructure setup 
                        .new_speed__content
                            .new_speed.new_speed--gray
                        .new_speed__subtitle Setup of components from different vendors

                        .new_speed__content
                            .new_speed.new_speed--blue-green(style="max-width:140px;")
                        .new_speed__subtitle Turnkey Setup from B2Broker 
                    
                    div.new_speed__wrapper_right.new_speed__wrapper_right--abs
                        .new_speed__wrapper_right_border
                        <svg width="32" height="47" viewBox="0 0 32 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M31.5 46.6777H0.90625V41.459L16.0625 24.9277C18.25 22.4902 19.8021 20.459 20.7188 18.834C21.6562 17.1882 22.125 15.5423 22.125 13.8965C22.125 11.7298 21.5104 9.97982 20.2812 8.64648C19.0729 7.31315 17.4375 6.64648 15.375 6.64648C12.9167 6.64648 11.0104 7.39648 9.65625 8.89648C8.30208 10.3965 7.625 12.4486 7.625 15.0527H0.03125C0.03125 12.2819 0.65625 9.79232 1.90625 7.58398C3.17708 5.35482 4.97917 3.62565 7.3125 2.39648C9.66667 1.16732 12.375 0.552734 15.4375 0.552734C19.8542 0.552734 23.3333 1.66732 25.875 3.89648C28.4375 6.10482 29.7188 9.16732 29.7188 13.084C29.7188 15.3548 29.0729 17.7402 27.7812 20.2402C26.5104 22.7194 24.4167 25.5423 21.5 28.709L10.375 40.6152H31.5V46.6777Z" fill="url(#blueGreen)"/>
                            <defs>
                            <linearGradient id="blueGreen" x1="35.5673" y1="10.0563" x2="-2.52073" y2="10.1027" gradientUnits="userSpaceOnUse">
                            <stop offset="0.244792" stop-color="#16F1C2"/>
                            <stop offset="1" stop-color="#00B68F"/>
                            </linearGradient>
                            </defs>
                        </svg>
                        .new_speed__big_price__subtitle Weeks Faster
                .pac_ad__little_title Launch 2 weeks faster
                .pac_ad__subtitle
                    span Our legal department helps with the registration of your new company. Our Trading server administrators handle setup of#[span(class='db')] the trading platform while our team of engineers take charge#[span(class='db')] of all other components.
                .pac_ad__subtitle
                    span As we control the entire software package, we ensure the perfect timing for all steps during technology setup, without having to wait for information from other companies, access#[span(class='db')] or other details. This means we can proceed without any delays. 
            
            .pac_ad__wrapper(style="width:calc(50% - 20px / 2);")
                img.banner(src="images/pac_ad_ban.png", alt="imc", style="margin-bottom:35px;")
                .pac_ad__little_title All products are built to#[span(class="db")] work together
                .pac_ad__subtitle
                    span Our engineers work closely to deliver products that are thoroughly tested and work well together. All our products#[span(class='db')] are already integrated with each other and are ready to go live.
                .pac_ad__subtitle
                    span We have a proven deployment process and conduct tests#[span(class='db')] firstly during the development of any software, secondly,#[span(class='db')] prior to all updates of the live environment and additionally#[span(class='db')] before any updates of the MetaTrader trading servers.

        .pac_ad__wrapper.map
            img(src="images/pac_map.png", alt="img")

            div
                .pac_ad__little_title State-of-the-Art#[span(class="db")] Infrastructure
                .pac_ad__subtitle
                    span The infrastructure on which trades are executed is crucially important in obtaining the fastest trade execution possible. 
                .pac_ad__subtitle
                    span Physical proximity to all central trаde servers of major ехchаngеs, liquiditу providers, bаnks and other finаnciаl institutions, allows us to minimize trаde requests up to a hundredth of a millisecond.
                .pac_ad__subtitle
                    span With a White Label from B2Broker you only need to be concerned with marketing and operations. We take care#[span(class='db')] of the technical side of business.

        .pac_ad__wrapper
            img.banner(src="images/tk_book.png", alt="image", style="max-width:835px; margin:0 auto 35px;")
            .pac_ad__little_title(style="text-align:center;") Many products – Single support team 24/7
            .pac_ad__subtitle(style="text-align:center;")
                span If something happens and you need help, we will never say , “Sorry, it is not our duty” and refer you on to someone else.#[span(class="db")] Our technical support team logs everything, including all details and comments from developers across our entire#[span(class="db")] product range and will help you without asking you numerous questions.
        
        .pac_ad__flex
            .pac_ad__wrapper(style="width:calc(50% - 20px / 2)")
                .pac_ad__little_title Tutorials and Materials
                .pac_ad__subtitle
                    span B2Broker is committed to working alongside its clients#[span(class="db")] to ensure ultimate user satisfaction. An extensive range#[span(class="db")] of tutorials and materials is available to assist with all#[span(class="db")] technical aspects.
            
            .pac_ad__wrapper(style="width:calc(50% - 20px / 2)")
                .pac_ad__little_title Education 
                .pac_ad__subtitle
                    span Education is an all-important part of our service. We offer#[span(class="db")] a variety of training materials including videos and demos#[span(class="db")] to help our clients understand the business.
        
        .pac_ad__wrapper.flex
            div
                .pac_ad__little_title Major Languages Supported
                .pac_ad__subtitle
                    span Our knowledgeable and friendly customer service team can assist you in 8 languages including English, Russian, Chinese, Farsi, Hindi, Spanish, Arabic and Urdu.
            
            div
                img(src="images/more_lang.png", alt="lang")
        
        .pac_ad__flex
            .pac_ad__wrapper(style="width:calc(50% - 20px / 2); margin-bottom:0;")
                img.banner(src="images/tk_man1.png", alt="img", style="margin-bottom:30px;")
                .pac_ad__little_title Account Manager
                .pac_ad__subtitle
                    span All our clients are assigned a personal account manager who#[span(class='db')] is always on hand to answer questions and deal with all their requirements.
            .pac_ad__wrapper(style="width:calc(50% - 20px / 2); margin-bottom:0;")
                img.banner(src="images/tk_man2.png", alt="img", style="margin-bottom:30px;")
                .pac_ad__little_title Product Manager
                .pac_ad__subtitle
                    span Our product managers are deeply knowledgeable about our technical solutions and are there to assist our clients with any specific enquiries.