.section.dark_style.tex_flow
    .container
        .section__title Forex Broker #[span(class="section__title--bold db") Technology Flow]
        .section__subtitle Technologies required for running a successful brokerage can be divided into 5 main#[span(class="db")] components: Trading platform, B2Core (Trader’s Room), Payment solutions, Money#[span(class="db")] Management platform and Liquidity.

        .tex_flow__banner_heading 7 Main Brokerage #[span(class="db")] IT Infrastructure Components

        img.banner(src="images/tex_flow.png", alt="img")
        .tex_flow__banner_desc There is no need for a start-up company to develop any of these components as B2Broker has a full-package of products which are built to work together.
    
    .container
        .tex_flow_catalog
            .tex_flow_catalog__heading_block
                .tex_flow_catalog__heading_item Links
                .tex_flow_catalog__heading_item Components
                .tex_flow_catalog__heading_item How your clients use it
            .tex_flow_catalog__content
                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_flow_img1.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Trader’s Room / CRM
                        .tex_flow__text__subtitle B2Core is a broad and multifunctional#[span(class="db")] cabinet solution suitable for every type#[span(class="db")] of financial business.
                        .tex_flow__text__desc The solution is based on cutting-edge technology and a thorough analysis of#[span(class="db")] market needs. It is now acknowledged#[span(class="db")] as the industry’s leading trader’s room software.
                        .tex_flow__text__desc Everything you need falls under one roof with B2Core, including many integrations: payment services, platforms, support systems, KYC providers and marketing tools. 
                        .tex_flow__text__desc In addition, the solution features a high level of homemade functionality, such as Banners, Announcement System, IB Room and#[span(class="db")] Anti-fraud to provide you with the widest range of features available that you can#[span(class="db")] utilise to maximize your business operations.
                
                <svg class="long_arow goanim.an" width="16" height="55" viewBox="0 0 16 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.96387 1.26066C8.57712 0.866401 7.94399 0.860313 7.54972 1.24706L1.12487 7.54954C0.730608 7.93629 0.72452 8.56943 1.11127 8.96369C1.49802 9.35795 2.13116 9.36404 2.52542 8.97729L8.2364 3.37509L13.8386 9.08607C14.2254 9.48033 14.8585 9.48642 15.2528 9.09967C15.647 8.71291 15.6531 8.07978 15.2664 7.68552L8.96387 1.26066ZM7.03613 54.6612C7.42288 55.0555 8.05601 55.0616 8.45028 54.6748L14.8751 48.3723C15.2694 47.9856 15.2755 47.3524 14.8887 46.9582C14.502 46.5639 13.8688 46.5578 13.4746 46.9446L7.7636 52.5468L2.1614 46.8358C1.77464 46.4415 1.14151 46.4355 0.747247 46.8222C0.352986 47.209 0.346898 47.8421 0.73365 48.2364L7.03613 54.6612ZM7.25005 1.95132L6.75005 53.9513L8.74995 53.9706L9.24995 1.97055L7.25005 1.95132Z" fill="#798E9E" fill-opacity="0.5"/>
                </svg>

                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_flow_img2.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Trading Platform
                        .tex_flow__text__subtitle MetaTrader 4/5 is an electronic trading platform widely used by the online retail FOREX industry. 
                        .tex_flow__text__desc This is an industry standard trading platform for the FOREX market with a huge community of traders and developers around it. 
                        .tex_flow__text__desc Your clients can trade from any device: Desktop App, Web Terminal or mobile apps.  
                        .tex_flow__text__desc There is also a wide choice of expert advisors, custom indicators and trading signals within the MetaTrader ecosystem.
                
                <svg class="long_arow goanim.an" width="16" height="55" viewBox="0 0 16 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.96387 1.26066C8.57712 0.866401 7.94399 0.860313 7.54972 1.24706L1.12487 7.54954C0.730608 7.93629 0.72452 8.56943 1.11127 8.96369C1.49802 9.35795 2.13116 9.36404 2.52542 8.97729L8.2364 3.37509L13.8386 9.08607C14.2254 9.48033 14.8585 9.48642 15.2528 9.09967C15.647 8.71291 15.6531 8.07978 15.2664 7.68552L8.96387 1.26066ZM7.03613 54.6612C7.42288 55.0555 8.05601 55.0616 8.45028 54.6748L14.8751 48.3723C15.2694 47.9856 15.2755 47.3524 14.8887 46.9582C14.502 46.5639 13.8688 46.5578 13.4746 46.9446L7.7636 52.5468L2.1614 46.8358C1.77464 46.4415 1.14151 46.4355 0.747247 46.8222C0.352986 47.209 0.346898 47.8421 0.73365 48.2364L7.03613 54.6612ZM7.25005 1.95132L6.75005 53.9513L8.74995 53.9706L9.24995 1.97055L7.25005 1.95132Z" fill="#798E9E" fill-opacity="0.5"/>
                </svg>

                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_flow_img3.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Prime of Prime Liquidity
                        .tex_flow__text__subtitle A flow of quotes and buy/sell orders from multiple liquidity providers for more than#[span(class="db")] 800 intruments from 7 asset classes.
                        .tex_flow__text__desc Liquidity is one of the core components#[span(class="db")] of a brokerage company. 
                        .tex_flow__text__desc Direct Access to Tier-1 FX liquidity venues empowers you with technologies that#[span(class="db")] provide many competitive advantages: raw spreads, a deep liquidity pool and better execution speed for executing any strategy including HFT and news trading. All this is possible for all 800 instruments from 7#[span(class="db")] asset classes.
                        .tex_flow__text__desc Better institutional pricing for instruments#[span(class="db")] can either allow you to provide your IBs with bigger rewards or to set lower commissions and tighter spreads.
                
                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_flow_img4.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Platform for creation#[span(class="db")] of investment products
                        .tex_flow__text__subtitle A tool that allows the launch of Copy#[span(class="db")] Trading, PAMM or MAM accounts in your company and offer investment products#[span(class="db")] for those people who don’t want to trade#[span(class="db")] on their own.
                        .tex_flow__text__desc About 3/4 of traders cannot make a profit when they trade on their own. 
                        .tex_flow__text__desc Good news: Copy Trading and PAMM/MAM accounts can give them an alternative way#[span(class="db")] to earn money on the financial markets by following the trades of successful traders#[span(class="db")] and earning alongside them.
                        .tex_flow__text__desc For already profitable traders, you can#[span(class="db")] provide them with the opportunity to#[span(class="db")] become a signal provider and scale their success so that they earn not only their own money but also a % of profit from all subscribers.
                    
                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_flow_img5.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Cryptocurrency payments
                        .tex_flow__text__subtitle You don’t need to open a bank account. Let your clients make deposits and withdrawals in cryptocurrencies. 
                        .tex_flow__text__desc In many cases, this can be the cheapest and easiest way for clients to transfer money#[span(class="db")] to you. 
                        .tex_flow__text__desc This payment method is indispensable#[span(class="db")] for brokerages in offshore jurisdictions.
                        .tex_flow__text__desc Another huge benefit for the brokerage#[span(class="db")] is that you can avoid fraud and chargebacks.
                
                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_flow_img6.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title B2B Creative Studio can create a new website#[span(class="db")] for your company
                        .tex_flow__text__subtitle with content and promotional pages.
                        .tex_flow__text__desc A website is the showcase of a company#[span(class="db")] to its clients and the most important#[span(class="db")] marketing tool.
                        .tex_flow__text__desc If you don’t have enough time and staff#[span(class="db")] to create a website, B2B Creative Studio#[span(class="db")] can do it for you.
                
                <svg class="long_arow goanim.an" width="16" height="55" viewBox="0 0 16 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.96387 1.26066C8.57712 0.866401 7.94399 0.860313 7.54972 1.24706L1.12487 7.54954C0.730608 7.93629 0.72452 8.56943 1.11127 8.96369C1.49802 9.35795 2.13116 9.36404 2.52542 8.97729L8.2364 3.37509L13.8386 9.08607C14.2254 9.48033 14.8585 9.48642 15.2528 9.09967C15.647 8.71291 15.6531 8.07978 15.2664 7.68552L8.96387 1.26066ZM7.03613 54.6612C7.42288 55.0555 8.05601 55.0616 8.45028 54.6748L14.8751 48.3723C15.2694 47.9856 15.2755 47.3524 14.8887 46.9582C14.502 46.5639 13.8688 46.5578 13.4746 46.9446L7.7636 52.5468L2.1614 46.8358C1.77464 46.4415 1.14151 46.4355 0.747247 46.8222C0.352986 47.209 0.346898 47.8421 0.73365 48.2364L7.03613 54.6612ZM7.25005 1.95132L6.75005 53.9513L8.74995 53.9706L9.24995 1.97055L7.25005 1.95132Z" fill="#798E9E" fill-opacity="0.5"/>
                </svg>

                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_flow_img7.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Ticker Widget
                        .tex_flow__text__subtitle Fast and convenient
                        .tex_flow__text__desc Get the ultimate marketing tool for#[span(class="db")] monitoring market data with the widest#[span(class="db")] range of instruments available (FOREX,#[span(class="db")] Metals, Indices, Energies, Crypto CFD#[span(class="db")] and Shares CFD). Everything is in one#[span(class="db")] place so you can keep an eye on liquidity directly from the website, choose one#[span(class="db")] of the examples, or create your own.
    
    .container
        .section__title.goanim.an(style="margin:150px auto 100px;") #[span(class="section__title--bold db") 8 main features] of each component

        .feat_tk__block
            .feat_tk__heading
                .feat_tk__title #[span(class="extrabold") B2Core] / CRM / Trader’s Room
                a(href="#").feat_tk__btn Go to Product Page
            .feat_tk__slider_wrapper.feat_tk__slider_wrapper1
                .feat_tk__arrow.feat_tk__arrow__prev
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__arrow.feat_tk__arrow__next
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__slider.feat_tk__slider1
                    .item
                        img(src="images/tk_slide1.png", alt="image")
                    .item
                        img(src="images/tk_slide1-2.png", alt="image")
            .feat_tk__text_block__wrapper
                    .feat_tk__text_block(style="width:calc(50% - 10px / 2);")
                        .feat_tk__text_block__title Integrations
                        .feat_tk__text_block__desc #[span(class="feat_tk__text_block__number") 25+ ] Payment Systems
                        .feat_tk__text_block__desc #[span(class="feat_tk__text_block__number") 5+ ] Trading Platforms
                        .feat_tk__text_block__desc and many more integrated tools that make our solution even more efficient.
                    
                    .feat_tk__text_block(style="width:calc(50% - 10px / 2);")
                        .feat_tk__text_block__title Multi-Level IB module
                        .feat_tk__text_block__desc Benefit from our multi-level IB system and build a tree of rewards offering an unlimited level-based partners program that rewards more than just direct IBs with commission. Offer your partners dynamic rebates with an adjustable formula calculation. 
                    
                    .feat_tk__acard(style="width:calc(50% - 60px / 2);")
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Advanced Frontend
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Developed specifically to be an easy-to-use product with no excessive animations or data. Everything is on point.
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span KYC Module
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Go through the verification process as smoothly as possible with the in-built Know Your Customer system and UI. Adjust your users to complete as many levels as needed so that they can increase withdrawal limits/open advanced accounts. Bring automation to the process by connecting such solutions as SumSub or Identity Mind in order to avoid human labor in checking the documents.
                            
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Wallets
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Store, exchange, transfer, withdraw, trade with your funds in various denominations in the safe space of B2Core.
                    
                    .feat_tk__acard(style="width:calc(50% - 60px / 2);")
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Momentary Transfers
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Instantly send funds to trading platforms to avoid margin calls and stop outs thanks to our deep integrations with the Trading Platforms Flagmans.
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Advanced Security
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Homemade Antifraud system allows for tracking of vulnerabilities from your end-users’ actions. You can limit access to the admin panel from certain whitelisted IPs.
                            
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Trading Analytics
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Give your clients the opportunity to check their trading activity and analyze the key metrics inside the B2Core cabinet.
        
        .feat_tk__block
            .feat_tk__heading
                .feat_tk__title #[span(class="extrabold") White Label MetaTrader 4/5]
                a(href="#").feat_tk__btn Go to Product Page
            .feat_tk__slider_wrapper.feat_tk__slider_wrapper2
                .feat_tk__arrow.feat_tk__arrow__prev
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__arrow.feat_tk__arrow__next
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__slider.feat_tk__slider2
                    .item
                        img(src="images/tk_slide2.png", alt="image")
                    .item
                        img(src="images/tk_slide2-2.png", alt="image")
            .feat_tk__text_block__wrapper
                    .feat_tk__acard(style="width:calc(50% - 60px / 2);")
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Virtual Hosting
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p With Virtual Hosting, the MetaTrader platform can operate even when the computer is turned off. Your clients can virtualize their platform in just a few clicks and run it on a remote server (Forex VPS). Their robots' trades and signal subscriptions will be executed at any time with minimum delay! 
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Freelance Developers
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p  Your clients don't have to be developers to start using the full power of MQL programming language. On the MQL5.com website, your clients can find many developers that are ready to create a trading robot or custom indicator for them. 
                                
                            
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Vibrant Community
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p MetaTrader has become very popular because it is very user friendly and it is widely used by millions of traders worldwide with a vast infrastructure around it. There is a forum on the MQL5.com website where everybody, including traders, developers, and investors can find answers to their questions. You can also find a lot of different information, videos, tutorials and tools on the internet. 
                                
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Programming language for custom trading robots & indicators
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p    MetaTrader has built-in programming language MQL4/5, which is very useful and allows developers to create different custom tools for technical analysis and their trading robots. You can optimize parameters and their performance on historical data with a strategy tester. 
                                
                    
                    .feat_tk__acard(style="width:calc(50% - 60px / 2);")
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Native Mobile Applications
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p "Metaquotes created native apps for iOS and Android devices. Your clients can trade on the go and do technical analysis directly from their phones or tablets. 
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Web Terminal
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p WebTerminal Your clients can log into the web terminal from any device with Web browser support. No installation is required which is essential when a client is limited with rights on his PC.
                            
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span MQL Trading Signals
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p A trading service that allows the automatic real-time copying of orders from one account of a successful trader to the follower's account. Many successful traders provide public access to the deals they execute on financial markets free of charge or for a reasonable fee.  
                                
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Powerful Technical Analysis
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p  Technical analysis is one of the core elements of success in the financial markets. Various indicators, oscillators and tools can help traders identify the trend direction and choose the right moment for opening and closing a position.  
        
        .feat_tk__block
            .feat_tk__heading
                .feat_tk__title #[span(class="extrabold") Prime of Prime Liquidity] 
                a(href="#").feat_tk__btn Go to Product Page
            .feat_tk__slider_wrapper.feat_tk__slider_wrapper3
                .feat_tk__arrow.feat_tk__arrow__prev
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__arrow.feat_tk__arrow__next
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__slider.feat_tk__slider3
                    .item
                        img(src="images/tk_slide3.png", alt="image")
                    .item
                        img(src="images/tk_slide3-2.png", alt="image")
            .feat_tk__text_block__wrapper
                    .feat_tk__text_block(style="width:100%; margin-bottom:10px;  padding:40px 47px; padding-right:50px;")
                        .feat_tk__text_block__title 7 asset classes
                        .feat_tk__text_block__desc Beat your competitors with an exceptional offering to clients with wide range of more than 800 instruments across 7 main asset classes. With B2Broker's DMA liquidity your clients can trade all assets from one account.
                    
                    .feat_tk__text_block(style="width:100%; padding:40px 47px; padding-right:20px;")
                        .feat_tk__text_block__title A multicurrency denominated margin account
                        .feat_tk__text_block__desc Multi-currency based margin accounts allow brokers to minimize volatile risks between clients’ equity and brokers’ equity.  Margin accounts can be denominated in any currency from B2Broker’s liquidity, including cryptocurrencies. Client accounts in different currencies which are correlated to each other can be connected to one margin account. BNB and BTC based accounts can easily work with a BTC based margin account with minimal risk on volatility differences between the two currencies, for example.
                    
                    .feat_tk__acard(style="width:calc(50% - 60px / 2);")
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Ultra Fast Execution
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p  Your clients can trade any strategy they want, even HFT. Physical proximity to all central trаde servers of major ехchаngеs, liquiditу providers, bаnks and other finаnciаl institutions allows us to minimize trаde requests execution time up to a hundredth of a millisecond.
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Deep Prime of Prime Liquidity
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Market liquidity impacts everything from the bid-offer spread to trade execution and is crucial since it affects how quickly you can open and close positions. As a broker, you need to have access to the deepest liquidity pool available to handle all the needs of your traders.
                            
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Advanced Reporting Systems
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Take control of your business with our advanced reporting capabilities. Create numerous comprehensive reports such as detailed account statements and scheduled reports by email with parameters configured to your specifications. Utilize real-time and historical data to plan and maximize your business potential.
                    
                    .feat_tk__acard(style="width:calc(50% - 60px / 2);")
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Single Margin Account
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p B2Broker offers exceptional levels of technology and speed of execution facilitated by a single liquidity contract and single margin account. No need to enter into a separate agreement with an exchange, bank, prime broker, or liquidity provider.
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span NET Open Positions
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Netting is a method of reducing risks in financial contracts by combining or aggregating multiple financial obligations to arrive at a net obligation amount.
                            
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Customized Streams
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p We work closely with our clients offering ready-made or customized streams of liquidity to facilitate trading. This enables brokers to benefit from best execution and competitive spreads, together with raw, small, medium and big mark-ups and get rebates.
        
        .feat_tk__block
            .feat_tk__heading
                .feat_tk__title #[span(class="extrabold") CopyTrading / PAMM / MAM]
                a(href="#").feat_tk__btn Go to Product Page
            .feat_tk__slider_wrapper.feat_tk__slider_wrapper4
                .feat_tk__arrow.feat_tk__arrow__prev
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__arrow.feat_tk__arrow__next
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__slider.feat_tk__slider4
                    .item
                        img(src="images/tk_slide4.png", alt="image", style="margin-left:-12%;")
                    .item
                        img(src="images/tk_slide4-2.png", alt="image")
            .feat_tk__text_block__wrapper
                    .feat_tk__acard(style="width:calc(50% - 60px / 2);")
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Widget with leaderboard for website
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Place a widget with leaderboard of traders with detailed statistics on your website and improve your marketing. No development is required.
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span History Uploader
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p  With the history uploader you can convert your clients’ past historical trades into charts and extensive statistics for the leaderboard in a few clicks. This can save you 6-9 months on creating a leaderboard attractive for investors.
                            
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Copy Trading and PAMM/MAM
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p With an investment platform you can offer investment products to all kind of traders and investors. For amateurs and beginners you can offer copy trading as the most simple, yet effective product. For experienced traders you can offer PAMM/MAM which is perfect for private money management.
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Risk limits for investors
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p    	Investors can set a risk limit for each trader they choose to follow. This helps them limit their risks and makes them feel safe and secure. This feeling of safety converts into bigger deposits.
                                
                    
                    .feat_tk__acard(style="width:calc(50% - 60px / 2);")
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Customizable layouts
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p We have more than 100 different settings that can be customized during setup. You can turn on/off in a few clicks in the admin panel the account types that will be available to clients, the fees they can set, what UI elements in the web interfaces they can see, in what groups their accounts can be opened and many more features.
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Integration with IB module
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Your IBs can earn money - not just standard IB rewards like $/lots but also receive a % of fees that investors pay to masters. Available for single and multi-level IB schemas.
                            
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Reverse copy
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p In every brokerage there are not many profitable traders. However, you can offer your clients the chance to follow not only the best ones but also the worst ones using the reverse copy mode. When the signal povider makes a BUY trade, a SELL trade is copied to the investment account.
                                
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span All fiat and cryptocurrencies are supported
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p  Your clients can use an account denominated in any fiat and cryptocurrency: USD, JPY, BTC, USDT, EUR, etc. The platform supports any combination imaginable. All fees are calculated and paid respectively. 
        
        .feat_tk__block
            .feat_tk__heading
                .feat_tk__title #[span(class="extrabold") Crypto Merchant Solution]
                a(href="#").feat_tk__btn Go to Product Page
            
            .feat_tk__block__flex_wrapper
                img.feat_tk__block__img(src="images/tk_slide5.png", alt="img", style="width:477px; margin-left:-80px;")
                .feat_tk__block__right
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Settlements
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p We have more than 100 different settings that can be customized during setup. You can turn on/off in a few clicks in the admin panel the account types that will be available to clients, the fees they can set, what UI elements in the web interfaces they can see, in what groups their accounts can be opened and many more features.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Advanced Reports
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p We have more than 100 different settings that can be customized during setup. You can turn on/off in a few clicks in the admin panel the account types that will be available to clients, the fees they can set, what UI elements in the web interfaces they can see, in what groups their accounts can be opened and many more features.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span No chargebacks
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p We have more than 100 different settings that can be customized during setup. You can turn on/off in a few clicks in the admin panel the account types that will be available to clients, the fees they can set, what UI elements in the web interfaces they can see, in what groups their accounts can be opened and many more features.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Advanced security
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p We have more than 100 different settings that can be customized during setup. You can turn on/off in a few clicks in the admin panel the account types that will be available to clients, the fees they can set, what UI elements in the web interfaces they can see, in what groups their accounts can be opened and many more features.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Lowest fees
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p We have more than 100 different settings that can be customized during setup. You can turn on/off in a few clicks in the admin panel the account types that will be available to clients, the fees they can set, what UI elements in the web interfaces they can see, in what groups their accounts can be opened and many more features.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Coins & Stablecoins
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p We have more than 100 different settings that can be customized during setup. You can turn on/off in a few clicks in the admin panel the account types that will be available to clients, the fees they can set, what UI elements in the web interfaces they can see, in what groups their accounts can be opened and many more features.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Regulated by a European entity
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p We have more than 100 different settings that can be customized during setup. You can turn on/off in a few clicks in the admin panel the account types that will be available to clients, the fees they can set, what UI elements in the web interfaces they can see, in what groups their accounts can be opened and many more features.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Real-time exchange rates
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p We have more than 100 different settings that can be customized during setup. You can turn on/off in a few clicks in the admin panel the account types that will be available to clients, the fees they can set, what UI elements in the web interfaces they can see, in what groups their accounts can be opened and many more features.
        
        .feat_tk__block
            .feat_tk__heading
                .feat_tk__title #[span(class="extrabold") Website]
                a(href="#").feat_tk__btn Go to Product Page
            
            .feat_tk__block__flex_wrapper
                .feat_tk__block__right
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Best Practice
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Brokerages amd Exchanges are the main areas of our focus. Over the years we have accumulated a FinTech knowledge base that helps us better understand our client’s needs and background. We help solve their probems in the most convenient way.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Web-Design
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p A good name is one of the aspects required to start your business. A catchy and attractive business name will be available for you.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span User Interfaces
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p There is no need to spend time researching web studios that will create high-quality design for you. We can help you to create a highly-effective design. Hundreds of clients are happy to use our interfaces for their business. 
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Branding
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p A well-built brand is a powerful sales tool that can be measured in financial terms. We offer a customizable solution that includes both company name creation and logo design. Our studio will develop a unique colour scheme for you, while taking your suggestions on-board.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Logo 
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p A logo is an important element of a brand's corporate identity. A special combination of colors, graphics and word elements make the company outstanding.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Copywriting
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Write unique articles and fill your site with quality content.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Front-End 
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Our specialists are equipped with the necessary technologies to work with Front-end: PHP, JavaScript, Python.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Back-End 
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Easy and quick integration into your new website of any “Turnkey” product from B2Broker, with widgets and a link at the back-end.
                
                img.feat_tk__block__img(src="images/tk_slide6.png", alt="img")
        
        .feat_tk__block
            .feat_tk__heading
                .feat_tk__title #[span(class="extrabold") Widgets]
                a(href="#").feat_tk__btn Go to Product Page
            
            .feat_tk__block__flex_wrapper
                img.feat_tk__block__img(src="images/tk_slide7.png", alt="img")
                .feat_tk__block__right
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Feed
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p A live price feed of the best liquidity offer on the market
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Streams
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Different price streams are available. Choose which price stream will be displayed
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Platforms
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Compatible with all trading platforms
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Market information
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Access the latest market activity across various sectors
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Instruments
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p An adjustable list of instruments that can be added (choose from over 650 instruments and from 10 symbols groups)
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Settings
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Multiple parameters can be adjusted ( volume levels , market depth and custom fields, etc)
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Appearance
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p A customisable appearance including table, chart, ticker bar with no limitations
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Design
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.08008 3.33691H6.85547V4.5332H4.08008V7.67773H2.80859V4.5332H0.0332031V3.33691H2.80859V0.431641H4.08008V3.33691Z" fill="#E3E4E6"/>
                                </svg>
                            .feat_tk__acard__content
                                p Create your own or choose the most suitable from our library