.section.dark_style.tex_flow
    .container
        .section__title Forex Broker #[span(class="section__title--bold db") Technology Flow]
        .section__subtitle Technologies required for running a successful brokerage can be divided into 7 main#[span(class="db")] components: Trading platform, B2Core (Trader’s Room), Payment solutions, Money#[span(class="db")] Management platform and Liquidity.

        .tex_flow__banner_heading 7 Main Brokerage #[span(class="db")] IT Infrastructure Components

        img.banner(src="images/tex_flow.png", alt="img")
        .tex_flow__banner_desc There is no need for a start-up company to develop any of these components as B2Broker has a full-package of products which are built to work together.
    
    .container
        .tex_flow_catalog
            .tex_flow_catalog__heading_block
                .tex_flow_catalog__heading_item Links
                .tex_flow_catalog__heading_item Components
                .tex_flow_catalog__heading_item How your clients use it
            .tex_flow_catalog__content
                .tex_flow__item
                    .tex_flow__img
                        img(src="images/tex_flow_img1.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Trader’s Room / CRM
                        .tex_flow__text__subtitle B2Core is a broad and multifunctional#[span(class="db")] cabinet solution suitable for every type#[span(class="db")] of financial business.
                        .tex_flow__text__desc The solution is based on cutting-edge technology and a thorough analysis of#[span(class="db")] market needs. It is now acknowledged#[span(class="db")] as the industry’s leading trader’s room software.
                        .tex_flow__text__desc Everything you need falls under one roof with B2Core, including many integrations: payment services, platforms, support systems, KYC providers and marketing tools. 
                        .tex_flow__text__desc In addition, the solution features a high level of homemade functionality, such as Banners, Announcement System, IB Room and#[span(class="db")] Anti-fraud to provide you with the widest range of features available that you can#[span(class="db")] utilise to maximize your business operations.
                
                <svg class="long_arow" width="16" height="55" viewBox="0 0 16 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.96387 1.26066C8.57712 0.866401 7.94399 0.860313 7.54972 1.24706L1.12487 7.54954C0.730608 7.93629 0.72452 8.56943 1.11127 8.96369C1.49802 9.35795 2.13116 9.36404 2.52542 8.97729L8.2364 3.37509L13.8386 9.08607C14.2254 9.48033 14.8585 9.48642 15.2528 9.09967C15.647 8.71291 15.6531 8.07978 15.2664 7.68552L8.96387 1.26066ZM7.03613 54.6612C7.42288 55.0555 8.05601 55.0616 8.45028 54.6748L14.8751 48.3723C15.2694 47.9856 15.2755 47.3524 14.8887 46.9582C14.502 46.5639 13.8688 46.5578 13.4746 46.9446L7.7636 52.5468L2.1614 46.8358C1.77464 46.4415 1.14151 46.4355 0.747247 46.8222C0.352986 47.209 0.346898 47.8421 0.73365 48.2364L7.03613 54.6612ZM7.25005 1.95132L6.75005 53.9513L8.74995 53.9706L9.24995 1.97055L7.25005 1.95132Z" fill="#798E9E" fill-opacity="0.5"/>
                </svg>

                .tex_flow__item
                    .tex_flow__img
                        img(src="images/tex_flow_img1.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Trader’s Room / CRM
                        .tex_flow__text__subtitle B2Core is a broad and multifunctional#[span(class="db")] cabinet solution suitable for every type#[span(class="db")] of financial business.
                        .tex_flow__text__desc The solution is based on cutting-edge technology and a thorough analysis of#[span(class="db")] market needs. It is now acknowledged#[span(class="db")] as the industry’s leading trader’s room software.
                        .tex_flow__text__desc Everything you need falls under one roof with B2Core, including many integrations: payment services, platforms, support systems, KYC providers and marketing tools. 
                        .tex_flow__text__desc In addition, the solution features a high level of homemade functionality, such as Banners, Announcement System, IB Room and#[span(class="db")] Anti-fraud to provide you with the widest range of features available that you can#[span(class="db")] utilise to maximize your business operations.
                
                <svg class="long_arow" width="16" height="55" viewBox="0 0 16 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.96387 1.26066C8.57712 0.866401 7.94399 0.860313 7.54972 1.24706L1.12487 7.54954C0.730608 7.93629 0.72452 8.56943 1.11127 8.96369C1.49802 9.35795 2.13116 9.36404 2.52542 8.97729L8.2364 3.37509L13.8386 9.08607C14.2254 9.48033 14.8585 9.48642 15.2528 9.09967C15.647 8.71291 15.6531 8.07978 15.2664 7.68552L8.96387 1.26066ZM7.03613 54.6612C7.42288 55.0555 8.05601 55.0616 8.45028 54.6748L14.8751 48.3723C15.2694 47.9856 15.2755 47.3524 14.8887 46.9582C14.502 46.5639 13.8688 46.5578 13.4746 46.9446L7.7636 52.5468L2.1614 46.8358C1.77464 46.4415 1.14151 46.4355 0.747247 46.8222C0.352986 47.209 0.346898 47.8421 0.73365 48.2364L7.03613 54.6612ZM7.25005 1.95132L6.75005 53.9513L8.74995 53.9706L9.24995 1.97055L7.25005 1.95132Z" fill="#798E9E" fill-opacity="0.5"/>
                </svg>

                .tex_flow__item
                    .tex_flow__img
                        img(src="images/tex_flow_img1.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Trader’s Room / CRM
                        .tex_flow__text__subtitle B2Core is a broad and multifunctional#[span(class="db")] cabinet solution suitable for every type#[span(class="db")] of financial business.
                        .tex_flow__text__desc The solution is based on cutting-edge technology and a thorough analysis of#[span(class="db")] market needs. It is now acknowledged#[span(class="db")] as the industry’s leading trader’s room software.
                        .tex_flow__text__desc Everything you need falls under one roof with B2Core, including many integrations: payment services, platforms, support systems, KYC providers and marketing tools. 
                        .tex_flow__text__desc In addition, the solution features a high level of homemade functionality, such as Banners, Announcement System, IB Room and#[span(class="db")] Anti-fraud to provide you with the widest range of features available that you can#[span(class="db")] utilise to maximize your business operations.
