.section.section__wacth_wl.b2_frame.tk_frame
    .section__title.section__title--bold Interested in a#[span(class="db")] Turnkey Brokerage?
    .section__subtitle Watch the video and get in touch with our sales departament.

    .container.goanim.an
        .video_form.forex_liquidity__new
            .video_form__left
                .video_block
                    .video_block--preview.popup.video_modal--js(data-id="20")
                        img(src="images/tk_video_rev.png", alt="video_previw").image_preview
                        img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
                        .video--time 2:04

            .video_form__right
                form.new_form.new_form__flex.b2_form.light_theme
                    label.new_form__label
                        span.new_form__placeholder Your Name
                        span.new_form__star *
                        input.new_form__input(type="text")
                    label.new_form__label
                        span.new_form__placeholder Your Email
                        span.new_form__star *
                        input.new_form__input(type="text")
                    label.new_form__label.new_form__label__phone_select
                        span.new_form__placeholder Phone
                        span.new_form__star *
                        input.new_form__input(type="text")
                        select.new_form__select.new_form__select_phone
                            option(value="+7") +7
                            option(value="+7") +7
                            option(value="+7") +7
                    label.new_form__label.new_form__label_capch
                        span.new_form__placeholder Enter symbols
                        span.new_form__star *
                        img.new_form__capch(src="images/capch_text_white.png")
                        input.new_form__input(type="text")

                    label.new_form__label.new_form__label__lang_select
                        .new_form__label__lang_select_wrapper
                            img(src="images/en.png",class="new_form__label__lang_select_icon")
                            select.new_form__select
                                option(value="English") English
                                option(value="English") English
                                option(value="English") English
                    
                    label.new_form__label
                        span.new_form__placeholder Comments
                        input.new_form__input(type="text")
                    
                    

                    button.new_form__sabmit Schedule a Call
                    label.consent_block
                        p B2Broker uses the information you provide to us to contact you about our relevant content, products and services. For more information, check out our #[a(href="#") Privacy Policy.]
