.section.what_tk
    .container.goanim.an
        .section__title  What is a #[span(class="section__title--bold") FOREX Broker?]

        .what_tk__text A FOREX broker is an intermediary that operates as a middleman between a trader and the market. By using a broker, retail clients are able to gain access to the financial markets which would not otherwise be possible. The majority of FOREX brokers provide traders with the opportunity to trade not just currency pairs, but other asset classes including indices, metals and energies. 
        
        .what_tk__text Additional value that a brokerage can bring to clients are client focused services including tutorials, bonuses, contests and offering investment services such as Copy Trading, PAMM/MAM, Liquidity, IB Module, etc.

        .what_tk__text A brokerage is much more than just technology alone. It comprises of several parts and a variety of aspects that each business owner needs to take into consideration when getting started with this type of operation i.e. Legal, Marketing, Sales, Operations, Finance, Liquidity and Technology. 

        img.banner(src="images/what_tk.png", alt="image", style="max-width:913px; margin-bottom:120px;")

        .what_tk__title Position yourself in a huge and growing market
        .what_tk__subtitle The FOREX market is huge and continues to grow considerably. Our estimates show that around 3,000 FX brokers are in operation around the world, serving more than 10 million clients.

        img.banner(src="images/what_tk2.png", alt="image")

        .what_tk__heading
            p Being a highly competitive industry, there is #[span(class="bold")  always plenty of capacity] in the market#[span(class="bold")  for new companies.] With this proposition good startups can expect virtually#[span(class="bold")  unlimited growth possibilities.]

