.announcement_events.section {
  .section__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    /* or 279% */
    text-align: center;
    color: #ffffff;
  }

  .section__title {
    margin-bottom: 40px;
  }

  .section__discription {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 35px;
    /* or 167% */
    text-align: center;
    color: #ffffff;
    margin-top: 50px;

    @media screen and (max-width: 980px) {
      span.db {
        display: none;
      }
    }
  }

  .bot_disc {
    margin-top: 100px;
  }
}

.bot_disc {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 580px) {
    display: block;
  }

  &__item {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height, or 178% */
    color: #ffffff;
  }
}
