.events {
  background: #edeff5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.section.events {
  padding-top: 257px;
}

.section.events.none_pad {
  padding-top: 150px;

  .events_content {
    max-width: 700px;

    @media screen and (max-width: 980px) {
      padding: 0 20px;
    }
  }

  .events_sidebar {
    margin-right: 50px;
  }
}

.events_sidebar {
  width: 180px;
  margin-right: 29px;
  flex-shrink: 0;

  position: sticky;

  top: 68px;

  @media screen and (max-width: 580px) {
    display: none;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #edeff5;

    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    &.active {
      display: flex;
    }
  }

  &__ul {
    width: 100%;
  }

  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-left: 25px;
    height: 47px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 203% */
    text-decoration: none;
    color: #525252;
    border-right: 5px solid;
    cursor: pointer;
    transition: all 0.1s;
  }

  &__li {
    margin-bottom: 1px;
    background: #fff;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      .events_sidebar__link {
        border-width: 35px;
        font-weight: bold;
      }

      &.video {
        .events_sidebar__link {
          position: relative;
          &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            width: 16px;
            height: 11px;
            background: center / cover url(../images/white_youtube.svg)
              no-repeat;
            z-index: 2;
            margin-top: -5.5px;
            margin-right: -25.5px;
          }
        }
      }
    }

    &:not(.active):hover {
      .events_sidebar__link {
        border-width: 15px;
      }
    }

    &:nth-child(1) {
      .events_sidebar__link {
        border-color: #6ccf53;
      }
    }

    &:nth-child(2) {
      .events_sidebar__link {
        border-color: #0ad7ab;
      }
    }

    &:nth-child(3) {
      .events_sidebar__link {
        border-color: #1484db;
      }
    }

    &:nth-child(4) {
      .events_sidebar__link {
        border-color: #ffee58;
      }
    }

    &:nth-child(5) {
      .events_sidebar__link {
        border-color: #ffb422;
      }
    }

    &:nth-child(6) {
      .events_sidebar__link {
        border-color: #d567e7;
      }
    }

    &:nth-child(7) {
      .events_sidebar__link {
        border-color: #f84040;
      }
    }

    &:nth-child(8) {
      .events_sidebar__link {
        border-color: #4bbaf9;
      }
    }
  }
}

.events_form {
  margin-top: 15px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 26px 19px 26px;

  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    /* or 203% */
    text-align: center;
    color: #494949;
    margin-bottom: 7px;
    white-space: nowrap;

    @media screen and (max-width: 580px) {
      text-align: left;
    }
  }

  input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #767676;
    border-radius: 0;
    margin: 0 auto 20px;
    max-width: 137px;
    font-size: 12px;

    @media screen and (max-width: 580px) {
      max-width: none;
    }
  }

  button {
    display: block;
    width: 100%;
    height: 39px;
    font-size: 11px;
    font-weight: bold;
  }
}

.events_content {
  width: 100%;
  max-width: 770px;

  .b2_form.light_theme.section {
    padding: 150px 0;
    background: transparent;
    .section__title {
      letter-spacing: 0;
      line-height: 62px;
    }

    .section__subtitle {
      color: #8d8d8d;
    }

    .new_form__sabmit {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }

    @media screen and (max-width: 980px) {
      .new_form__label {
        width: 100%;
      }
    }
  }

  p.paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    /* or 172% */
    color: #333333;
    padding-left: 38px;

    a {
      font-weight: bold;
      color: #333333;
    }

    & + p.paragraph {
      margin-top: 84px;
    }

    @media screen and (max-width: 580px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .anounc {
    margin: 50px auto 80px;
  }

  @media screen and (max-width: 980px) {
    padding-right: 20px;
  }

  .container {
    max-width: none;
    width: 100%;
  }

  .future {
    &:nth-child(1) {
      padding-top: 0;
      margin-bottom: 80px;
    }
  }

  .future + .future {
    margin-bottom: 80px;
  }

  .future:last-child {
    margin-bottom: 167px;
  }

  .future {
    &__date,
    &__location,
    &__time {
      color: #3a3a3a;
      line-height: 23px;
    }

    .future__description {
      padding-top: 3px;
    }

    &__month {
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 44px;
      /* identical to box height, or 111% */
      color: #5e5f60;
    }

    &__booth {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 27px;
      /* identical to box height, or 193% */
      /* Booth */
      color: #9a9a9a;

      &.active {
        color: #0ad7ab;
      }
    }

    &__btn {
      color: #6c6c6c;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 8px;
    }

    &__date:before {
      background: center/cover url(../images/black_date.svg) no-repeat;
    }

    &__location:before {
      background: center/cover url(../images/black_loc.svg) no-repeat;
    }

    &__time:before {
      background: center/cover url(../images/black_time.svg) no-repeat;
    }

    &__description {
      width: 197px;
      margin-right: 0;
      flex-shrink: 0;
      padding-top: 7px;

      @media screen and (max-width: 1000px) {
        width: 100%;
      }
    }

    &__content {
      width: 100%;
      max-width: 565px;
      padding-right: 16%;
      transition: all 0.5s;
    }

    .future__line {
      ellipse {
        fill: #caccd2;
      }
    }

    &__overlay {
      display: none;
      &:before {
        margin-top: 40px;
      }
    }

    &__banner {
      width: 100%;
    }

    &:hover {
      .future__content {
        filter: brightness(0.5);
      }
    }
  }

  .hear_flickity--js {
    margin-top: 50px;

    img {
      height: 378px;

      @media screen and (max-width: 580px) {
        height: 50vw;
      }
    }
  }

  .hear_flickity_small--js {
    margin-bottom: 88px;

    .item {
      min-height: 49px;
      margin: 0 5px;
      width: calc(100% / 7 - 10px * 6 / 7);
    }
  }

  .video_block {
    height: 350px;

    @media screen and (max-width: 580px) {
      height: 50vw;
    }
  }

  .b2_frame {
    background: transparent;
    margin: 50px auto 84px;
  }
}

.ev_pag {
  margin-top: 81px;
  max-width: 565px;
  width: 100%;
  margin-left: auto;
  margin-top: -87px;

  &__discription {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0;
    color: #343434;
    text-align: center;
    margin-bottom: 14px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  &__item {
    a {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */
      text-decoration: none;
      letter-spacing: 0;
      color: #343434;
      margin-right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;

      @media screen and (max-width: 580px) {
        width: 20px;
        height: 20px;
        font-size: 14px;
        line-height: 29px;
      }

      &:hover {
        font-weight: 500;
      }
    }
  }

  &__next {
    a {
      background: #edeff5;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
    }
  }

  &__active {
    a {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
    }
  }
}

.aside_burger--js {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  right: 13px;
  top: 10px;
  box-sizing: border-box;
  padding: 5px;
  z-index: 103;
  display: none;

  @media screen and (max-width: 580px) {
    display: block;
  }

  cursor: pointer;

  span {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -1px;
    margin-left: -10px;

    &:before,
    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background: #000;
      position: absolute;
    }

    &:before {
      top: -6px;
    }

    &:after {
      bottom: -6px;
    }
  }

  &.active {
    span {
      background: transparent;

      &:before {
        transform: rotate(45deg);
        top: 0;
      }

      &:after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }
}

.event_heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #46464b;
  position: relative;
  padding-left: 38px;
  margin-bottom: 38px;

  @media screen and (max-width: 580px) {
    font-size: 24px;
    line-height: 27px;
  }

  &:before {
    content: "";
    display: block;
    width: 8px;
    height: 76px;
    background: linear-gradient(180deg, #00deaf 8.76%, #01bd95 95.31%);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -38px;
  }
}
.assessment {
  padding-left: 38px;

  .social_block {
    a {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }

    .linkedin:not(:hover) svg circle {
      fill: #a6a6a6;
    }

    .twitter:not(:hover) svg {
      path:nth-child(1) {
        fill: #a6a6a6;
      }
    }

    .facebook:not(:hover) svg path:nth-child(1) {
      fill: #a6a6a6;
    }

    .vk:hover svg path:nth-child(1) {
      fill: #3a589e;
    }

    .weibo:not(:hover) svg circle {
      fill: #a6a6a6;
    }

    .wechat:not(:hover) svg circle {
      fill: #a6a6a6;
    }
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 55px;

    @media screen and (max-width: 800px) {
      display: block;

      .stars {
        margin-bottom: 20px;
      }
    }
  }
}

.tag_block {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin: 85px 0;

  a {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: block;
    letter-spacing: 0;
    color: #818181;
    padding: 10px 15px;
    margin-right: 10px;
    border: 1px solid rgba(81, 81, 81, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    text-decoration: none;

    &:hover {
      color: #515151;
    }

    @media screen and (max-width: 800px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 800px) {
    display: block;
  }
}

.stars {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  li {
    margin-right: 14px;
    width: 23px;

    img {
      display: block;
      width: 100%;
    }
  }
}

.back_btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  /* identical to box height, or 87% */
  text-decoration: none;
  color: #9e9e9e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  svg {
    display: block;
    margin-right: 8px;
  }

  padding-bottom: 16px;
  border-bottom: 1px solid #d6d6d6;
}

.section__report_also {
  border-bottom: 1px solid #575757;
  padding-left: 210px;

  @media screen and (max-width: 980px) {
    padding-left: 0;
  }
}
