.join_webinar_content {
  background: #fff;

  .video_block {
    height: 485px;
    margin-top: 150px;

    @media screen and (max-width: 980px) {
      height: 50vw;
      margin-top: 50px;
    }
  }

  .back_btn {
    margin-top: 50px;
  }
}

.jwc__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 84px;
  /* or 175% */
  color: #393939;
}

.jwc__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  /* or 172% */
  margin-top: 38px;
  color: #333333;
}

.jwc_list {
  margin-top: 50px;

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      height: 8px;
      width: 8px;
      margin-right: 18px;
      display: block;
    }

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      /* identical to box height, or 144% */
      color: #333333;

      & p {
        margin-top: 10px;
      }
    }
  }
}
