.product_update_content {
  .also {
    &__description {
      @media screen and (max-width: 980px) {
        span.db {
          display: none;
        }
      }
    }
  }

  .also__flex:nth-child(6n + 1),
  .also__flex:nth-child(6n) {
    .also {
      &:nth-child(1) {
        width: 100%;
      }

      &:nth-child(2) {
        width: 100%;
        max-width: 242px;

        @media screen and (max-width: 1000px) {
          max-width: none;
        }
      }
    }
  }

  .also__flex:nth-child(6n) {
    .also:nth-child(1) {
      &:before {
        content: "";
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 60%;
        mix-blend-mode: multiply;
        z-index: 0;
        transform: rotate(0);
        background: linear-gradient(
          180.22deg,
          rgba(46, 55, 64, 0) 0.63%,
          rgba(46, 55, 64, 0.760417) 66.46%,
          rgba(46, 55, 64, 0.880208) 75.2%,
          rgba(46, 55, 64, 0.905696) 75.21%,
          #2e3740 90.63%,
          #2b3238 99.37%
        );
      }
    }
  }

  .also__flex:nth-child(6n + 3) {
    .also {
      width: calc(50% - 10px);

      @media screen and (max-width: 1000px) {
        width: 100%;
      }
    }
  }

  .also__flex:nth-child(6n + 4) {
    .also {
      width: calc(33.333% - 40px / 3) !important;

      @media screen and (max-width: 1000px) {
        width: 100% !important;
      }
    }
  }

  .also__flex:nth-child(6n - 1) {
    .also {
      width: 100%;
    }
  }

  .also:before {
    display: none;
  }

  .also__btn {
    padding-left: 0;
    justify-content: center;
  }
}
