.publication_page__content {
  .b2_frame {
    margin: 50px 0 84px;

    .video_block--preview {
      overflow: hidden;

      .image_preview {
        width: 140%;
        height: 140%;
      }
    }
  }

  .assessment .flex {
    padding-top: 20px;

    border-top: 1px solid #d6d6d6;
  }

  .back_btn {
    border: none;
  }
}
