.webinars__join {
  margin-top: 130px;
  max-width: none;
  padding: 150px 0;
}

.events_content__schedule {
  .future:last-child {
    margin-bottom: 207px;
  }

  .future__month {
    margin-top: -124px;
  }

  .container:nth-child(1) {
    .future__month {
      margin-top: -104px;
    }
  }

  .future__bot_flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    @media screen and (max-width: 580px) {
      display: block;
    }
  }

  .future_btns {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 26px;

    @media screen and (max-width: 580px) {
      margin-top: 20px;
    }
  }
  .new_green_btn {
    box-sizing: border-box;
    width: 160px;
    height: 40px;
    margin-right: 10px;
    background: #01bc94;
    border: 1px solid #01bd95;

    &:hover {
      background: #00cb9f;
      border: 1px solid #01bd95;
    }
  }
  .new_more_btn {
    height: 40px;
    box-sizing: border-box;
    width: 118px;
    color: #9e9e9e;
    border: 1px solid #d7d7d7;

    &:hover {
      color: #606060;
      border: 1px solid #b8b8b8;
    }
  }

  .timer__wrapper {
    margin-left: auto;
  }

  .future__description {
    margin-right: 15px;
  }

  .future:hover {
    .future__line g circle:nth-child(2) {
      stroke: #515151;
    }
  }

  .new_green_btn {
    background: #01bc94;
    border: 1px solid #01bd95;
  }
}

.watch_now_btn {
  margin-right: 0;
  width: 160px;

  svg {
    display: block;
    margin-right: 10px;
  }
}

// .timer.disabled.finish {
//   color: #646464;
// }
