//- accounts
.opportunities.pamm-opportunities
    .container
      .section__title.center.goanim.an Fully-Featured  #[span(class="section__title--bold") PAMM Accounts]
      .main_text.center.goanim.an Our platform provides all the basic and advanced functions for these type of products:
    .container.catalog.goanim.an
      .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Manual and scheduled execution #[span(class="db")]of deposit & withdrawal requests
      .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text No need to close masters’ positions during deposits and withdrawals
      .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Fees for investors can be set individually
      .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Automated subscription and unsubscription of investors via#[span(class="db")] the leaderboard
      .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Several execution options including autocorrection on withdrawals or without realloation on deposits
    .container.flex.allocation
      img(src="images/pamm/pamm1.png", alt="image")
      .text.left
        .title Allocation with maximum precision
        p.margin All your clients can become investors in PAMM accounts regardless of how much money they have.
        p It works in the same way with as little at $30 or as much as $300,000. Either way, the platform will calculate their share in positions and distribute the PnL to their accounts.
        .flow_block
          .flow_block--heading For positions up to
          .flow_block--text
            span.flow_block--big 0.00000001
            span.flow_block--little lot
        .flow_block.margin
          .flow_block--heading For PnL allocation of fiat currencies up to
          .flow_block--text
            span.flow_block--big 0.01
            span.flow_block--little USD
    .container.flex.positions
      .text.right
        .green__title no need to close positions
        .title Manual and scheduled execution of deposit & withdrawal requests
        p.margin A PAMM Master account is combined from the balances of all slave accounts. All deposits and withdrawals by investors affect the balance of the master account as well as the free margin. 
        p.margin In our PAMM platform, when an investor makes a deposit or withdrawal it is not executed immediately - he makes a deposit/withdrawal request that will be executed manually or by scheduling it. 
        p.margin So the money manager always has full control over the time of execution of deposit/withdrawal requests and can prepare his account for this event while adjusting the position sizes without any danger of accidental stop outs.
      img(src="images/pamm/pamm2.png", alt="image")
    .container.flex.supported
      img(src="images/MAM_platform/gif3.gif", alt="image")
      .text.left
        .title сс
        p.margin Your clients can use an account nominated in any currency. The platform supports any combination imaginable. All fees will be calculated and paid respectively. 
        p.margin-2 Accounts can be opened in fiat and cryptos: USD, JPY, BTC, USDT, EUR, etc.
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Master and Slave must have the same currency
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Master in USD and Slave in USD
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Master in BTC and Slave in BTC