.section-23.best.pamm_best
  .container
    .section__title.goanim.an It comes #[span(class="section__title--bold") best with]
    .main-text.goanim.an Our liquidity is best combined with the leading industry trading platforms to provide the ultimate in performance and user satisfaction.
    .best_with.goanim.an
      .best_with--left
        .best_with--heading MT4 White Label
        .best_with--text The best and most professional MT4/5 Forex White Label solution tailored specifically to your brand.
        .best_with--img
          img(src="images/best/item6.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Cutting-edge MT4/5 platforms
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Fully-customized solutions
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Professional 24/7/365 support
        .check_block.castom
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Mobile, web and desktop version
    .best_with
      .best_with--left
        .best_with--heading MT5 White Label
        .best_with--text A platform combining the features of margin and spot trading in one system. Powered by B2Broker.
        .best_with--img
          img(src="images/best/item7.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Choose the leverage for each order
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Market depth of 40 levels availible
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Supports FIX API connection
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Favourite markets, grouping, watchlist, trading activity and history modules
    .best_with
      .best_with--left
        .best_with--heading Crypto CFD Liquidity 
        .best_with--text A matching engine platform for exchanges developed by B2Broker that powers up the world's best known exchanges.
        .best_with--img
          img(src="images/MAM_platform/best.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Cutting-edge technology
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text List unlimited tradable assets 
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Include 3 level security system
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Used by the world's best-known exchanges
