.section-16.mam_frame.pamm_video.section
  .container.goanim.an
    .section__title Watch a #[span(class="section__title--bold") video about product]
    .video_block
      .video_block--preview
        img(src="images/video_previw.jpg", alt="video_previw").image_preview
        img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
        .video--time 1:34
      <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>