.pamm_platform_works.goanim.an
  .container
    .section__title.center How a #[span(class="section__title--bold") PAMM-platform works]
    .main-text A PAMM platform combines slave accounts into one big master account. All investors receive P&L for master’s positions in proportion to their investments. At the end of the period they pay fees.
  .container.tabs_slider_container
    .tabs_slider
      .active.item(data-id="1")
        span.icon
          span.icon-text 1
        span Money manager opens PAMM account, starts trading with his own money and statistics are collected for his account.
      .item(data-id="2")
        span.icon
          span.icon-text 2
        span Investor deposits $1000 into PAMM
      .item(data-id="3")
        span.icon
          span.icon-text 3
        span Money manager continues trading and earns $2,000
      .item(data-id="4")
        span.icon
          span.icon-text 4
        span Investor pay fees from profits made on his account
  .container
    .main_tabs_slider
      .item.active(data-id="1")
        img(src="images/pamm_slider1.png", alt="image")
      .item(data-id="2")
        img(src="images/pamm_slider2.png", alt="image")
      .item(data-id="3")
        img(src="images/pamm_slider3.png", alt="image")
      .item(data-id="4")
        img(src="images/pamm_slider4.png", alt="image")
        