.forex_liquidity.pamm.forex_liquidity__new
  .forex_liquidity--overlay
  .container
    .forex_liquidity__content
      h2.section__title #[span(class="section__title--bold") PAMM ]account Platform
      span.section__subtitle A PAMM platform will allow your traders to leverage their success by creating their own investment fund with investors' money within your brokerage and get paid for volumes or profit made on investors' accounts. 
      .check_block--mam_platform
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Fully compliant for regulated brokers
      .supported_platforms
        .supported_platforms-title Supported platforms
        .supported_platforms-items
          img(src="images/MAM_platform/sup_pl-1.png", alt="sup_pl-1" class="supported_platforms-item")
          img(src="images/MAM_platform/sup_pl-2.png", alt="sup_pl-2" class="supported_platforms-item")
    form.new_form.new_form__flex.b2_form.light_theme
      h2.new_form__title Launch PAMM Platform
      label.new_form__label
        span.new_form__placeholder Your Name
        span.new_form__star *
        input.new_form__input(type="text")
      label.new_form__label
        span.new_form__placeholder Your Email
        span.new_form__star *
        input.new_form__input(type="text")
      label.new_form__label.new_form__label__phone_select
        span.new_form__placeholder Phone
        span.new_form__star *
        input.new_form__input(type="text")
        select.new_form__select.new_form__select_phone
            option(value="+7") +7
            option(value="+7") +7
            option(value="+7") +7
      label.new_form__label.new_form__label_capch
        span.new_form__placeholder Enter symbols
        span.new_form__star *
        img.new_form__capch(src="images/capch_text.png")
        input.new_form__input(type="text")

      label.new_form__label.new_form__label__lang_select
        .new_form__label__lang_select_wrapper
          img(src="images/new_en.png",class="new_form__label__lang_select_icon")
          select.new_form__select
            option(value="English") English
            option(value="English") English
            option(value="English") English
      button.new_form__sabmit Request a Callback
      label.consent_block
        p B2Broker uses the information you provide to us to contact you about our relevant content, products and services. For more information, check out our #[a(href="#") Privacy Policy.]