.what_is.what_is_trading.what_is_pamm.section
  .container.goanim.an
    .section__title #[span(class="section__title--bold") What is ] a PAMM Platform?
    .main__text A PAMM platform allows clients/traders to create their own investment fund and scale their success with fee payments from investors for profits made on their accounts or volumes. All investors' accounts are combined into one big trading account where the money manager opens positions. Investors cannot trade - they simply receive profits & losses in proportion to their investments. 
    .main__text The platform can be used with a leaderboard of strategies for retail clients as well as privately with custom allocation settings. 
    .main__text PAMM is widely used by licensed money managers using strategies that can be traded only on big accounts.
  .container.flex
    .segment
      .segment-text
        .segment-text--title New client segment
        .segment-text--subtitle Attract money managers with #[span(class="db")] a feature-rich MAM platform.
    .segment
      .segment-text
        .segment-text--title No plugins
        .segment-text--subtitle Hassle-free integration. We #[span(class="db")] handle all the technical aspects.
    .segment
      .segment-text
        .segment-text--title Improves lifetime value
        .segment-text--subtitle Traders are more motivated to trade.#[span(class="db")] Others have an alternative to trading.
    .segment
      .segment-text
        .segment-text--title Setup in 7 days
        .segment-text--subtitle Launch the platform #[span(class="db")] within a week.
