footer.footer
    .footer__container
        .footer__container-left
            .footer__container-block-show_mob
                .footer__row
                    a(href="")
                        img(src="./images/icons/appstore.png").footer__icon-app
            .footer__container-block
                .footer__row
                    .footer__column
                        a(href="").footer__text-bold Trading
                        a(href="").footer__text Trading Conditions
                        a(href="").footer__text Fee Schedule
                        a(href="").footer__text Trading Pairs
                        a(href="").footer__text Payment Methods
                        a(href="").footer__text API
                    .footer__column
                        a(href="").footer__text-bold Support
                        a(href="").footer__text Support center
                        a(href="").footer__text Guides
                        a(href="").footer__text Bug Bounty
            .footer__container-block
                .footer__row
                    .footer__column
                        a(href="").footer__text-bold B2B Services
                        a(href="").footer__text White Label
                    .footer__column
                        a(href="").footer__text-bold B2BX Exchange
                        a(href="").footer__text About us
                        a(href="").footer__text News
                        a(href="").footer__text B2BX Token
                        a(href="").footer__text Documents
                        a(href="").footer__text Partners
                        a(href="").footer__text Security
            .footer__container-block-hidden_mob
                .footer__row
                    a(href="")
                        img(src="./images/icons/appstore.png").footer__icon-app
            .footer__container-block-hidden_mob
                .footer__row
                    a(href="index.html")
                        +icon('logo-white', '')
        .footer__container-right
            .footer__container-block
                .footer__row.footer__row-mob
                    .footer__column
                        a(href="").footer__text-bold Contact Us
                        a(href="mailto:contact@b2bx.exchange").footer__href contact@b2bx.exchange
                        a(href="mailto:support@b2bx.exchange").footer__href support@b2bx.exchange
                        a(href="mailto:security@b2bx.exchange").footer__href security@b2bx.exchange
                    .footer__column
                        a(href="").footer__text-bold Follow us
                        .footer__column-follow
                            a(href="").footer__column-icon
                                +icon('telegram', '')
                            a(href="").footer__column-icon
                                +icon('twitter', '')
                            a(href="").footer__column-icon
                                +icon('facebook', '')
                            a(href="").footer__column-icon
                                +icon('youtube', '')
                            a(href="").footer__column-icon
                                +icon('reddit', '')
            .footer__container-block
                .footer__row
                    .footer__column.footer__column-rules
                        p 2BX Digital Exchange OÜ, address: C.R. Jakobsoni tn 3-7, 10128, Tallin, Estonia.
                            |License NoFVR000514, dated 08.11.2018. License NoFRK000558, dated 18.01.2019
                            br
                            br
                        p(style="font-weight: 600; color: #4CAE89;") Risk disclaimer
                            br
                            br
                        p
                            |Trading at the B2BX exchange may lead to the loss of invested funds.
                            |If you continue using our website, you confirm that you have read all information
                            |provided within the relevant&nbsp;
                            a(href="").footer__a documents
                            |&nbsp;and understand all risks associated with trading
                            |at the B2BX exchange.
                            br
                            br
                            |We draw your attention to the fact that we do not perform trading for and on behalf
                            |of clients, at the B2BX exchange, we do not promise any profit and do not give any
                            |investment advice. We only provide the access to trade, however, the decision to
                            |trade or not is your own, deliberate decision.
                            br
                            br
                            |We do not offer services of B2BX exchange to citizens of jurisdictions where the right
                            |to trade is limited or prohibited by the rules of current legislation. By registering at
                            |the B2BX exchange, you confirm that you have reached the required age and are fully
                            |capable, and also you have all necessary rights to use the services of the B2BX exchange,
                            |according to the jurisdiction or the country of which you are a citizen or resident.
                            br
                            br
                            |Also, you have read all&nbsp;
                            a(href="").footer__a documents
                            |&nbsp;posted on the website, including the &nbsp;
                            a(href="").footer__a Customer Agreement
                            |&nbsp;, the&nbsp;
                            a(href="").footer__a Risk Warning
                            |&nbsp;, the&nbsp;
                            a(href="").footer__a Privacy Policy
                            |&nbsp;and the&nbsp;
                            a(href="").footer__a Cookie Policy
                            |&nbsp;, as well as all other documents
                            |provided by the B2BX exchange, and completely agree with them.
                            br
                            br
                            |Documents posted at the website are available only in English. You acknowledge possessing
                            |a sufficient knowledge of the English language, at level necessary to understand the
                            |information included with the documents, and you fully understand the legal consequences
                            |of the documents.
                            br
                            br
                            |In case you do not understand or understand the English language poorly, you acknowledge
                            |that you shall use the services of a professional interpreter, prior to agreeing to the
                            |relevant terms included within the documents.
                            br
                            br
                            |If you do not agree with any of the above statements and/or documents,
                            |please leave this website immediately.
                            br
                            br
                            |Continuation of your usage of our website confirms your agreement with the above statements
                            |and documents.
                            br
                            br
                            |Wallets in FIAT currencies (as USD, EUR or other) can be used only for short-term storage
                            |of funds for cryptocurrencies purchase.
                            br
                            br
                            br
                            br
                            br
                            br
                            p(style="color:#ffffff;") B2BX Exchange © 2017-2019 All rights reserved.
            .footer__container-block-show_mob
                .footer__row.footer__logo-height
                    a(href="index.html")
                        +icon('logo-white', '')
