footer.footer
    .container
        .footer-top-row
            .footer-top-row__copy B2Broker© 2014-2020
            .footer-top-row-social
                a.
            .footer-top-row-search
                input.footer-top-row-search__input
                button.footer-top-row-search__button