footer.footer
    .container
        .footer-top-row.goanim.an
            .footer-top-row__copy B2Broker© 2014-2020
            .footer-top-row-social
                a.vk(href='#')
                    img(src="images/web_icon/vk.svg", alt="vk")
                a.vk(href='#')
                    img(src="images/web_icon/p.svg", alt="p")
                a.vk(href='#')
                    img(src="images/web_icon/insta.svg", alt="instagram")
                a.vk(href='#')
                    img(src="images/web_icon/twitter.svg", alt="twitter")
                a.vk(href='#')
                    img(src="images/web_icon/facebook.svg", alt="facebook")
            .footer-top-row-search
                input.footer-top-row-search__input(placeholder='Search')
                button.footer-top-row-search__button
                    img(src="images/icons/search.svg", alt="search")
        .footer-menu.goanim.an
            +menu(['Media','Events','Team','Partners','News','Contacts','Legal','Blog','Articles','Careers','Partnership', 'B2Capital'])
        .footer-text
            p The ownership for word and logo trademarks “B2Broker” belongs to B2Broker LTD, a company incorporated in the United Kingdom of Great Britain and Ireland, company number 10562809; Word and logo trademarks B2Broker are used as a trading name of group of companies that have presence in different countries.
            p Please pay attention that we don’t provide financial services on behalf of B2Broker LTD. We provide financial services on behalf of companies that have relevant licenses. Please carefully study our documents posted at this website: Legal information and Disclaimers, Privacy Policy and Cookie Policy. These documents are available only in English. You acknowledge that you know the English language at a sufficient level to understand the text of these documents, and you fully understand the legal consequences of these documents. In case you do not understand or understand the English language poorly, you acknowledge that you have used the services of a professional interpreter. If you don’t agree with this statement or information provided in our documents, please leave this website immediately. #[span(class="db")]Continuation of your use of our website confirms your agreement with the above statements and documents.
        .footer-bottom-menu
            +menu(['Client\'s area','Privacy Policy','Cokie Policy','Legal Information and Disclaimers'])