footer.footer.newFooter
    .top-line.line
    .container_wrapper
      .container
          .footer-top-row
              .footer-top-row__copy B2Broker © 2014 - 2020
              .footer-top-row-social
                  a.vk(href='#')
                      img(src="images/web_icon/vk.svg", alt="vk")
                  a.vk(href='#')
                      img(src="images/web_icon/p.svg", alt="p")
                  a.vk(href='#')
                      img(src="images/web_icon/insta.svg", alt="instagram")
                  a.vk(href='#')
                      img(src="images/web_icon/twitter.svg", alt="twitter")
                  a.vk(href='#')
                      img(src="images/web_icon/facebook.svg", alt="facebook")
              .footer-top-row-search
                  input.footer-top-row-search__input(placeholder='Search')
                  button.footer-top-row-search__button
                      img(src="images/icons/search.svg", alt="search")
    .top-line.line
    .container-wrapper-2
      .container
          .footer-menu
            .footer-menu_left-block
              .footer-menu_left-block--heading About B2Broker
              .footer-menu_left-block--description Incididunt aute ullamco ea non laboris occaecat id dolore eu pariatur.Incididunt aute ullamco ea non laboris occaecat id dolore eu pariatur.
            .footer-menu-row.footer-menu-row-1
              .footer-menu-row--heading
                img.icon(src="images/MAM_platform/icon10.svg", alt="icon")
                span Publications
              ul.menu
                li.menu-item
                  a(href="#") News
                li.menu-item
                  a(href="#") Media
                li.menu-item
                  a(href="#") Events
                li.menu-item
                  a(href="#") Blog
                li.menu-item
                  a(href="#") Articles
            .footer-menu-row.footer-menu-row-2
              .footer-menu-row--heading
                img.icon(src="images/MAM_platform/icon11.svg", alt="icon")
                span Community
              ul.menu
                li.menu-item
                  a(href="#") Partners
                li.menu-item.disabled
                  a(href="#") Partnership
                li.menu-item.disabled
                  a(href="#") Case-study
            .footer-menu-row
              .footer-menu-row--heading
                img.icon(src="images/MAM_platform/icon12.svg", alt="icon")
                span Company
              ul.menu
                li.menu-item
                  a(href="#") About us
                li.menu-item
                  a(href="#") Contacts
                li.menu-item
                  a(href="#") Careers
                li.menu-item
                  a(href="#") Legal
                li.menu-item.disabled
                  a(href="#") B2Capital
    .top-line.line
    .container-wrapper-3
      .container
          .footer-bottom--logo
              img(src="images/chblogo.png", alt="logo")
          .footer-text
              p B2broker is not a legal entity, and this website serves as a common showcase for marketing services of different companies that work in the frames of their local legislations and have respective licenses and permissions for provided services. If you are interested in particular services please contact sales team for more information about servicing company; 
              p “B2Broker” is a trademark, that is registered in different European countries according to Madrid protocol.
              p The ownership for word and logo trademarks “B2Broker” (international registration numbers are 1383640 and 1388708) belongs to B2broker ltd., a company registered in the United Kingdom of Great Britain and Ireland with company number 10562809. B2Broker LTD does not provide any financial or other services advertised on this website.
              p Please carefully study documents posted at this website: Legal information and Disclaimers, Privacy Policy and Cookie Policy. These documents are available only in English. You acknowledge that you know the English language at a sufficient level to understand the text of these documents, and you fully understand the legal consequences of these documents. In case you do not understand or understand the English language poorly, you acknowledge that you have used the services of a professional interpreter. If you don’t agree with this statement or information provided within documents, please leave this website immediately.
              p By continuing using the website, you confirm your agreement with the above-mentioned statements and documents.agreement with the above statements and documents.
          .footer-bottom-menu
              +menu(['Client\'s area','Privacy Policy','Cokie Policy','Legal Information and Disclaimers'])