.chance {
  .opportunities {
    padding-top: 125px;
    padding-bottom: 125px;
    background: #ffffff;
  }
  .main-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */
    text-align: center;
    letter-spacing: 0px;
    color: #63636e;
    max-width: 651px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 109px;
  }
  .section__title {
    letter-spacing: 0;
    margin-bottom: 0;
  }
  .container.flex.diversified {
    .text.left {
      p {
        padding-right: 40px;
      }
    }
  }
  .container.flex.traders {
    margin-bottom: 125px;
    .text.left {
      margin-top: -23px;
    }
    .title {
      padding-right: 25px;
      margin-top: 16px;
    }
    p {
      padding-right: 40px;
    }
  }
  .container.flex.clients {
    margin-bottom: 125px;
    .text.right {
      margin-left: 3px;
      .title {
        padding-right: 70px;
        letter-spacing: -0.8px;
        margin-top: 16px;
      }
      .check_block--mam_platform-item--text {
        margin-left: 16px;
      }
    }
  }
  .container.flex.marketing {
    margin-bottom: 0;
  }
}
