.what_is_trading {
  background: $white;
  .container.flex {
    margin-top: 121px;
  }
  .main__text {
    padding-right: 10px;
  }
  .segment-text {
    margin-left: 0;
  }
  .segment {
    flex-shrink: 0;
    width: 100%;
    &:nth-child(1) {
      max-width: 277px;
    }
    &:nth-child(2) {
      max-width: 229px;
    }
    &:nth-child(3) {
      max-width: 307px;
    }
  }
}

@media screen and (max-width: 1350px) {
  .what_is_trading {
    .container.flex {
      margin-top: 30px;
      flex-wrap: wrap;
      .segment {
        margin-top: 20px;
      }
    }
  }
}
