.preloader__wrapper
    .preloader#preloader1
        .preloader__item(data-id="1")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.8146" cy="12.5295" r="12.5295" fill="#0ABE98"/>
            </svg>

        .preloader__item(data-id="2")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.7873" cy="12.7189" r="12.5295" fill="#28F3C8"/>
            </svg>

        .preloader__item(data-id="3")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.756" cy="12.9064" r="12.5295" fill="#7DFFE0"/>
            </svg>

        .preloader__item(data-id="4")
            <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.8146" cy="13.5119" r="12.5295" fill="#079270"/>
            </svg>

        .preloader__item(data-id="5")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.7873" cy="12.6994" r="12.5295" fill="#0ABE98"/>
            </svg>

        .preloader__item(data-id="6")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.756" cy="12.8888" r="12.5295" fill="#28F3C8"/>
            </svg>

        .preloader__item(data-id="7")
            <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.8146" cy="13.4943" r="12.5295" fill="#046A51"/>
            </svg>

        .preloader__item(data-id="8")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.7873" cy="12.6818" r="12.5295" fill="#079270"/>
            </svg>

        .preloader__item(data-id="9")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.756" cy="12.8713" r="12.5295" fill="#0ABE98"/>
            </svg>


.preloader__wrapper
    .preloader#preloader2
        .preloader__item(data-id="1")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.8146" cy="12.5295" r="12.5295" fill="#0ABE98"/>
            </svg>

        .preloader__item(data-id="2")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.7873" cy="12.7189" r="12.5295" fill="#28F3C8"/>
            </svg>

        .preloader__item(data-id="3")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.756" cy="12.9064" r="12.5295" fill="#7DFFE0"/>
            </svg>

        .preloader__item(data-id="4")
            <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.8146" cy="13.5119" r="12.5295" fill="#079270"/>
            </svg>

        .preloader__item(data-id="5")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.7873" cy="12.6994" r="12.5295" fill="#0ABE98"/>
            </svg>

        .preloader__item(data-id="6")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.756" cy="12.8888" r="12.5295" fill="#28F3C8"/>
            </svg>

        .preloader__item(data-id="7")
            <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.8146" cy="13.4943" r="12.5295" fill="#046A51"/>
            </svg>

        .preloader__item(data-id="8")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.7873" cy="12.6818" r="12.5295" fill="#079270"/>
            </svg>

        .preloader__item(data-id="9")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.756" cy="12.8713" r="12.5295" fill="#0ABE98"/>
            </svg>

.preloader__wrapper
    .preloader#preloader3
        .preloader__item(data-id="1")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.8146" cy="12.5295" r="12.5295" fill="#0ABE98"/>
            </svg>

        .preloader__item(data-id="2")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.7873" cy="12.7189" r="12.5295" fill="#28F3C8"/>
            </svg>

        .preloader__item(data-id="3")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.756" cy="12.9064" r="12.5295" fill="#7DFFE0"/>
            </svg>

        .preloader__item(data-id="4")
            <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.8146" cy="13.5119" r="12.5295" fill="#079270"/>
            </svg>

        .preloader__item(data-id="5")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.7873" cy="12.6994" r="12.5295" fill="#0ABE98"/>
            </svg>

        .preloader__item(data-id="6")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.756" cy="12.8888" r="12.5295" fill="#28F3C8"/>
            </svg>

        .preloader__item(data-id="7")
            <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.8146" cy="13.4943" r="12.5295" fill="#046A51"/>
            </svg>

        .preloader__item(data-id="8")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.7873" cy="12.6818" r="12.5295" fill="#079270"/>
            </svg>

        .preloader__item(data-id="9")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.756" cy="12.8713" r="12.5295" fill="#0ABE98"/>
            </svg>

.preloader__wrapper
    .preloader#preloader4
        .preloader__item(data-id="1")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.8146" cy="12.5295" r="12.5295" fill="#0ABE98"/>
            </svg>

        .preloader__item(data-id="2")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.7873" cy="12.7189" r="12.5295" fill="#28F3C8"/>
            </svg>

        .preloader__item(data-id="3")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.756" cy="12.9064" r="12.5295" fill="#7DFFE0"/>
            </svg>

        .preloader__item(data-id="4")
            <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.8146" cy="13.5119" r="12.5295" fill="#079270"/>
            </svg>

        .preloader__item(data-id="5")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.7873" cy="12.6994" r="12.5295" fill="#0ABE98"/>
            </svg>

        .preloader__item(data-id="6")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.756" cy="12.8888" r="12.5295" fill="#28F3C8"/>
            </svg>

        .preloader__item(data-id="7")
            <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.8146" cy="13.4943" r="12.5295" fill="#046A51"/>
            </svg>

        .preloader__item(data-id="8")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.7873" cy="12.6818" r="12.5295" fill="#079270"/>
            </svg>

        .preloader__item(data-id="9")
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.756" cy="12.8713" r="12.5295" fill="#0ABE98"/>
            </svg>