.partners {
    &__content {
        max-width: $content-size;
        margin: 0 auto;
        padding-bottom: 5%;

        &-title {
            max-width: $content-size;
            font-size: $big-font;
            margin: 0 auto;
            font-weight: 600;
            padding-top: 9.3%;
            color: $text-black;

            @include respond-to('tablet') {
                color: $black;
                width: 100%;
                font-size: $big-font-mobile;
            }

            @include respond-to('phone-wide') {
                width: 100%;
                font-size: 40px;
                padding-top: 17%;
                padding-bottom: 10%;
            }

            &_sub {
                padding-top: 2%;
                color: $text-black;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;

                &-mob {
                    color: $text-black;
                    display: none;

                    @include respond-to('phone-wide') {
                        display: block;
                        font-size: 16px;
                        line-height: 19px;
                        padding-bottom: 5%;
                    }
                }

                @include respond-to('phone-wide') {
                    display: none;
                }
            }

            @include respond-to-min('desktop-max') {
                max-width: $content-max-size;
            }
        }

        &-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 5%;
            padding-bottom: 3%;

            &_logo {
                display: flex;
                flex: 0 0 30%;
                justify-content: space-between;

                img {
                    max-width: 223px;
                }
            }

            &_text {

                &-title {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 21px;
                    padding-bottom: 3%;
                    padding-top: 0;
                    color: $text-black;

                    @include respond-to('phone-wide') {
                        padding-top: 4%;
                    }
                }

                &-sub {
                    font-size: 15px;
                    line-height: 18px;
                    padding-bottom: 0;
                    color: $text-black;

                    @include respond-to('phone-wide') {
                        font-size: 90%;
                        padding-bottom: 10%;
                    }
                }
            }

            @include respond-to('phone-wide') {
                flex-direction: column;
                align-items: flex-start;
                padding-top: 10%;
            }
        }

        @include respond-to('tablet') {
            width: 100%;
            padding: 0 25px;
            margin: 0;
        }

        @include respond-to-min('desktop-max') {
            max-width: $content-max-size;
        }
    }
}
