.section-3.section.section-3__forex
  .container.goanim.an
    .section__title #[span(class="section__title--bold") Spot Energy] Liquidity
    span.main-text Liquidity occurs when an asset has a high level of trading activity and ensures that market participants have the ability to buy and sell easily. In the case of energies, liquidity is an important concern for traders and investors as they tend to be more volatile than other asset classes. B2Broker offers deep depth of liquidity with superior execution while lowering the cost of your trading.

    span.main-text As the level of liquidity for commodities is significantly lower than other investments, commodities trading and the futures market are both heavily leveraged. B2Broker understands the unique characteristics of this asset class and with its solid know-how of the commodities markets, is able to offer the greatest depth of liquidity combined with the fastest speed in execution and the lowest trading costs.

    .number_block.energy.goanim.an
      .number_block-content
        .number_block--text Spread from
        .number_block--number 0,01
          span.number_block--number-text $

      .number_block-content
        .number_block--text Margin Requirements
        .number_block--number.center 2
          span.number_block--number-text %

      .number_block-content
        .number_block--text Trading hours
        .number_block--number 23/5

      .number_block-content
        .number_block--text Liquidity venues
        .number_block--number.center 7
        
      .number_block-content
        .number_block--text technical Support
        .number_block--number 24/7