.engineers_team.section {
  padding-top: 0;
}

.gen__section.section {
  padding-bottom: 170px;
}

.engineers_team {
  position: relative;

  .engineers__trigger {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 10px;
    height: 10px;
  }

  .section__title {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 84px;
    /* or 210% */
    margin-bottom: 60px;
    text-align: center;
    color: #383838;
  }

  .images_catalog {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: -15px;

    &__item {
      width: 80px;
      height: 80px;
      margin-bottom: 15px;
      margin-right: 15px;
      transition: opacity 1s;
      opacity: 0;

      &:nth-child(7n) {
        margin-right: 0;
      }
    }

    &.active {
      .images_catalog__item {
        opacity: 1;
      }
    }

    &__more {
      margin-top: 60px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 42px;
      /* identical to box height, or 233% */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 42px;
      color: #5c5c5c;
    }
  }
}
