.includes_team {
  .section__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #7b7b7b;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 552px;
  }

  .hear_flickity--js {
    pointer-events: none;
  }

  .hear_flickity_small--js {
    .item {
      img {
        height: 60px;

        @media screen and (max-width: 1000px) {
          object-fit: cover;
        }

        @media screen and (max-width: 580px) {
          height: 20px;
        }
      }
    }
  }
}
