.includes_team {
  .section__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #7b7b7b;
    margin-bottom: 50px;
  }
}
