.events_screen.section.news_feed.section__dosnt_filter(style="background-image: url(images/news_feed_bg.png);")
    .container
        .section__title.section__title--bold News Feed 
        .section__subtitle Our frequently updated news hub consolidates all our latest news, #[span(class='db')]  media coverage, events and videos that reflect our corporate#[span(class='db')] activities and far-reaching presence across the globe. 