.events_screen.section.news_feed(style="background-image: url(images/news_feed_bg.png);")
    .container
        .section__title.section__title--bold News Feed 
        .section__subtitle Our frequently updated news hub consolidates all our latest#[span(class='db')] news, media coverage, events and videos that reflect our#[span(class='db')] corporate activities and far-reaching presence across the#[span(class='db')] globe. 