.section__commission_wl_mt {
  .section__title {
    margin-bottom: 80px;
  }

  .box_block {
    padding-right: 33px;

    &--text {
      color: $grayblue-text;
      padding-right: 14px;
    }
  }
}
