.section__conectivity_wl_mt {
  .banner {
    margin: 138px auto 88px;
  }

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    /* or 145% */
    letter-spacing: 0;
    color: #0f0f0f;
  }
}
