.lasnguage__wl_mt {
  .section__subtitle {
    margin-bottom: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    text-align: center;
    letter-spacing: 0;
    color: #757575;
  }
}
