.forex_liquidity__new__wl_mt5 {
  .forex_liquidity__content {
    .section__description {
      padding-right: 0;
      max-width: 517px;
      margin: 36px 0;
      min-height: 150px;
    }
  }

  .little_description {
    padding-right: 20px;
  }
}

.little_description {
  max-width: 225px;
  box-sizing: border-box;

  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 158% */
    color: #ffffff;
    margin-bottom: 17px;
  }

  &__description {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    /* or 146% */
    color: #ffffff;
  }
}
