.section__party__wl_mt {
  .section__title {
    margin-bottom: 50px;
  }

  .section__subtitle {
    margin-bottom: 80px;
  }

  .it_for__item:nth-child(2) .it_for__text .it_for__heading {
    flex-basis: auto;
  }
}
