.section-4__wl_mt5 {
  background: #fff;

  .main-text {
    font-size: 21px;

    @media screen and (max-width: 580px) {
      font-size: 14px;
    }
  }

  .little_description {
    max-width: 495px;
    margin-top: 50px;

    &__title {
      color: #5c5c5c;
    }

    &__description {
      font-size: 14px;
      color: #686868;
    }
  }
}
