.events_screen.section.news_feed(style="background-image: url(images/videos_screen.png);")
    .container
        .section__title.section__title--bold Videos
        .section__subtitle An archive of visual media including our corporate events,#[span(class="db")] expo attendance and product presentations. View all the#[span(class="db")] latest happenings on our dedicated channel.

.filter
    .container
        .filter__wrapper
            select.filter__item
                option.filter__content_item(value="1", selected) All Videos
                option.filter__content_item(value="2") Product Presentation
                option.filter__content_item(value="3") Corporate Videos
                option.filter__content_item(value="4") Business Tips
                option.filter__content_item(value="5") Event Highlights
                option.filter__content_item(value="6") Corporate Videos
                option.filter__content_item(value="7") Corporate Videos
            
            select.filter__item
                option.filter__content_item(value="1", selected) All Years
                option.filter__content_item(value="2") 2020
                option.filter__content_item(value="3") 2019
                option.filter__content_item(value="4") 2018
                option.filter__content_item(value="5") 2017
                option.filter__content_item(value="6") 2016
                option.filter__content_item(value="7") 2015