.section.events.news_feed_events
    .aside_burger--js
        span

    aside.events_sidebar
        ul.events_sidebar__ul
            li.events_sidebar__li
                a.events_sidebar__link(href="#") News Feed
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Сorporate news
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Product Updates
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Webinars
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Events
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Media
            
            li.events_sidebar__li.video.active
                a.events_sidebar__link(href="#") Videos
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Articles
        
        form.events_form
            .events_form__title Join to our newsletter
            input(type="email" placeholder="Enter your Email")
            button.new_green_btn Subscribe

    .events_content.videos_content.b2_frame
        .video_block
            .video_block--preview
                img(src="images/videos_page/item1.png", alt="video_previw").image_preview
                img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
                .video--time 2:04
            <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .video_description Blockchain Life 2019 – Евгения Микуляк | B2Broker - Провайдер ликвидности и технологий
        .video_subdescription How to start cryptocurrency exchange? - watch our video from another successful Blockchain Life expo, COO, Evgeniya Mykulyak steps out briefly to be interviewed by Pro Blockchain Media...

        .container.container--flex
            .video_wrapper
                .video_block
                    .video_block--preview
                        img(src="images/videos_page/item2.png", alt="video_previw").image_preview
                        img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
                        .video--time 1:44
                    <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                .video_description Official Opening of New B2Prime Office, Minsk
                .video_subdescription The company recently announced the set up operations in Minsk, Belarus after securing a license from...

            .video_wrapper
                .video_block
                    .video_block--preview
                        img(src="images/videos_page/item3.png", alt="video_previw").image_preview
                        img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
                        .video--time 4:07
                    <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                .video_description Blockchain Life 2019 Afterparty – Arthur Azizov
                .video_subdescription Watch our Blockchain Life 2019 video presented by B2Broker CEO, Arthur Azizov, who introduces...
        
        .video_block
            .video_block--preview
                img(src="images/videos_page/item4.png", alt="video_previw").image_preview
                img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
                .video--time 2:04
            <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .video_description B2Broker - Liquidity & Technology Provider
        .video_subdescription B2Broker is a liquidity and technology provider for the Crypto and Forex industry. Our clients include brokers, crypto exchanges, crypto brokers, forex #[span(class="db")] brokers, hedge and crypto funds and professional managers.

        .container.container--flex
            .video_wrapper
                .video_block
                    .video_block--preview
                        img(src="images/videos_page/item5.png", alt="video_previw").image_preview
                        img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
                        .video--time 1:44
                    <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                .video_description Barcelona Trading Conference Highlights
                .video_subdescription The company recently announced the set up operations in Minsk, Belarus after securing a license...

            .video_wrapper
                .video_block
                    .video_block--preview
                        img(src="images/videos_page/item6.png", alt="video_previw").image_preview
                        img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
                        .video--time 4:07
                    <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                .video_description Opening of New B2Prime Office, Minsk
                .video_subdescription The company recently announced the set up operations in Minsk, Belarus after securing a license...

        .container
            .ev_pag
                .ev_pag__discription 6 of 165
                ul.ev_pag__container
                    li.ev_pag__item.ev_pag__active
                        a(href="#") 1
                    
                    li.ev_pag__item
                        a(href="#") 2
                    
                    li.ev_pag__item
                        a(href="#") 3
                    
                    li.ev_pag__item
                        a(href="#") ...
                    
                    li.ev_pag__item
                        a(href="#") 15
                    
                    li.ev_pag__item.ev_pag__next
                        a(href="#")
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.96601 13.9982C1.73432 13.9987 1.50978 13.9175 1.33138 13.7687C1.23097 13.6849 1.14797 13.5821 1.08713 13.466C1.0263 13.3499 0.988819 13.2229 0.976844 13.0922C0.96487 12.9615 0.978635 12.8297 1.01735 12.7044C1.05607 12.5791 1.11898 12.4626 1.20247 12.3618L5.64487 7.01368L1.36113 1.65557C1.27876 1.5535 1.21725 1.43607 1.18013 1.31001C1.14301 1.18395 1.13102 1.05175 1.14484 0.921013C1.15867 0.790274 1.19803 0.663573 1.26067 0.548193C1.32332 0.432812 1.408 0.331026 1.50987 0.248686C1.61247 0.157851 1.73262 0.0893352 1.86278 0.0474391C1.99294 0.00554297 2.1303 -0.00882886 2.26624 0.00522486C2.40218 0.0192786 2.53377 0.0614548 2.65275 0.129107C2.77172 0.196758 2.87552 0.288425 2.95762 0.398354L7.74708 6.38508C7.89293 6.56362 7.97266 6.78756 7.97266 7.01867C7.97266 7.24979 7.89293 7.47373 7.74708 7.65227L2.78904 13.639C2.68957 13.7597 2.5632 13.8552 2.4202 13.9176C2.2772 13.98 2.1216 14.0076 1.96601 13.9982Z" fill="#343434"/>
                            </svg>