.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.show {
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1;}
}

.popup__container{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(76, 174, 137, 0.7), rgba(0,0,0,0.8));

    @include respond-to('tablet-wide') {
        background-image: linear-gradient(to bottom, rgba(76, 174, 137, 0.9), rgba(0,0,0,0.9));
    }
}

.popup__container{
    form{
        width: 35%;
        margin: 7% auto;
        padding-top: 3%;
        padding-bottom: 3%;
        background-color: $grey;
        border-radius: 5px;

        input, textarea{
            outline: none !important;
            width: 70%;
            padding: 3%;
            border: 1px solid #EBEBEB;
            box-sizing: border-box;
            margin-bottom: 2%;
            transition: all .3s ease-in;
            border-radius: 4px;

            &:focus::placeholder {
                color: #D3D3D3;
            }

            @include respond-to('tablet-wide') {
                width: 80%;
                margin-bottom: 3%;
            }
        }
        textarea{
            height: 110px;
        }

        @include respond-to('phone-wide') {
            width: 90%;
            margin: 20% auto;
            padding-bottom: 5%;
        }
        @include respond-to('tablet-wide') {
            width: 90%;
            margin: 15% auto;
            padding-bottom: 5%;
        }
    }
    &-close_btn{
        display: block;
        margin-left: 90%;
        margin-bottom: 7%;
        outline: none !important;
        border: none;
        padding: 0;
        cursor: pointer;

        span{
            font-size: 150%;
            font-weight: 700;
            line-height: 1;
            color: #000;
            outline: none !important;
            border: none;
            background-color: $grey;
        }

        @include respond-to('tablet-wide') {
            margin-left: 95%;
        }
        @include respond-to('phone-wide') {
            margin-left: 90%;
        }
    }
}

.white__button-popup{
    background: $white;
    border: 1px solid $main;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    padding: 3%;
    margin: 0 auto;
    width: 70%;

    svg{
        width: 10%;
        height: 18px;
        margin-left: -5%;
    }

    @include respond-to('tablet-wide') {
        width: 80%;
    }
}

.green__button-popup{
    background: $main;
    border-radius: 4px;
    justify-content: center;
    padding: 3%;
    width: 70%;
    margin: 2% auto;
    cursor: pointer;

    @include respond-to('tablet-wide') {
        width: 80%;
        margin: 3% auto;
    }
}
