.towns {
  background: #1c222b;
  border-bottom: 1px solid #393b3e;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
    }

    li {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
      /* identical to box height, or 203% */
      color: rgba(255, 255, 255, 0.81);
      margin: 0 20px;
      height: 84px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      box-sizing: border-box;
      border-bottom: 3px solid transparent;
      transition: all 0.5s;

      &:nth-child(1) {
        cursor: auto;
      }

      @media screen and (max-width: 1000px) {
        height: 40px;
      }

      &.active {
        border-color: #03e2b2;
      }

      &:hover:not(:nth-child(1)) {
        color: #fff;
      }

      &.disabled {
        pointer-events: none;
      }

      &:nth-child(1) {
        font-weight: bold;
      }

      &.remote {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:before {
          content: "";
          display: block;
          width: 12px;
          height: 10px;
          background: center / auto url(../images/home.svg) no-repeat;
          margin-right: 5px;
        }
      }
    }
  }
}
