.b2_grid {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    &:nth-child(1) {
      a {
        height: 100%;

        img {
          height: 100%;
        }
      }
    }

    a {
      display: block;

      &:focus {
        outline: none;
      }
    }

    width: calc(33.333% - 40px / 3);

    @media screen and (max-width: 1000px) {
      width: 100%;

      align-items: center;

      & + .b2_grid__item {
        margin-top: 20px;
      }
    }

    img {
      display: block;
      width: 100%;
    }

    &:nth-child(6n + 1) {
      width: 100%;
      max-width: 648px;
      margin-bottom: 20px;

      @media screen and (max-width: 1000px) {
        max-width: none;
      }
    }

    &:nth-child(6n + 2) {
      width: 100%;
      max-width: 314px;
      margin-bottom: 20px;

      @media screen and (max-width: 1000px) {
        max-width: none;
      }

      a + a {
        margin-top: 20px;
      }
    }
  }
}

.b2grid__section {
  .section__title {
    margin-bottom: 80px;
  }

  .section__subtitle {
    margin-bottom: 80px;
  }

  .paragraf__wrapper {
    max-width: 755px;
    margin-top: 80px;

    .paragraf {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 31px;
      /* or 172% */
      letter-spacing: 0;
      color: #636363;
      padding-left: 38px;
    }

    .event_heading {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: -0.9px;
      color: #383838;
    }
  }
}

.careers_hiring {
  .new_hiring_block {
    border-bottom: 0;
  }
}

.fancybox-thumbs {
  top: auto;
  width: auto;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 80px;
  background: transparent;
}

.fancybox-inner {
  width: 100%;
}

.fancybox-thumbs__list {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    &:before {
      border: none;
    }
  }
}

.fancybox-thumbs > ul > li {
  border-color: transparent;
}

.fancybox-container--thumbs .fancybox-caption-wrap,
.fancybox-container--thumbs .fancybox-controls,
.fancybox-container--thumbs .fancybox-slider-wrap {
  right: 0;
  bottom: 0;
}

@media all and (max-width: 800px) {
  .fancybox-thumbs {
    display: none !important;
  }

  .fancybox-container--thumbs .fancybox-controls,
  .fancybox-container--thumbs .fancybox-slider-wrap,
  .fancybox-container--thumbs .fancybox-caption-wrap {
    bottom: 0;
  }
}

.fancybox-container.fancybox-show-thumbs.fancybox-show-toolbar.fancybox-show-infobar.fancybox-show-nav.fancybox-is-open.fancybox-is-zoomable.fancybox-can-swipe {
  .fancybox-bg {
    background: #1a2837 !important;
    opacity: 0.85 !important;
  }
}
