.hiring_block.new_hiring_block.goanim.an(style="background-image: url(images/hiring.png);")
    .section__title We are #[span(class="section__title--bold") hiring]
    .section__subtitle We are looking for the talents permanently
    a.new_green_bord_btn(href="#") All vacancies

.hiring_block__wrapper
    .hiring_block.new_hiring_block.little_hiring_block.goanim.an(style="background-image: url(images/contacts/hir1.png);")
        .section__title Our  #[span(class="section__title--bold") Team]
        .section__subtitle We appreciate everyone who works with us and inspires#[span(class="db")] us towards achieving our success
        a.new_green_bord_btn(href="#") Meet our team
    
    .hiring_block.new_hiring_block.little_hiring_block.goanim.an(style="background-image: url(images/contacts/hir2.png);")
        .section__title #[span(class="section__title--bold") About us]
        .section__subtitle We are experts in IT and software development#[span(class="db")] in the FinTech industry, offering a range of#[span(class="db")] market-leading solutions.
        a.new_green_bord_btn(href="#") Learn more 