.section.lema_section
    .container
        aside.lema__sidebar
            ul
                li.lema__sidebar__item I Limassol
                li.lema__sidebar__item I Moscow
                li.lema__sidebar__item I Hong-Kong
                li.lema__sidebar__item I Minsk
            
            .lema__soc_block

        .lema__content
            .lema__slider
                .hear_flickity--js
                    .item
                        img(src="images/here/item6.jpg", alt="image", class="banner")
                    .item
                        img(src="images/here/item8.jpg", alt="image", class="banner")
                    .item
                        img(src="images/here/item9.jpg", alt="image", class="banner")
                    .item
                        img(src="images/here/item10.jpg", alt="image", class="banner")
                    .item
                        img(src="images/here/item5.jpg", alt="image", class="banner")
                    .item
                        img(src="images/here/item4.jpg", alt="image", class="banner")

                .hear_flickity_small--js
                    .item
                        img(src="images/here/item6.jpg", alt="image", class="banner")
                    .item
                        img(src="images/here/item8.jpg", alt="image", class="banner")
                    .item
                        img(src="images/here/item9.jpg", alt="image", class="banner")
                    .item
                        img(src="images/here/item10.jpg", alt="image", class="banner")
                    .item
                        img(src="images/here/item5.jpg", alt="image", class="banner")
                    .item
                        img(src="images/here/item4.jpg", alt="image", class="banner")
            
            aside.lema__sidebar__right
                .lema__adress 
                    span.extrabold Limassol 
                    span Georgiou Kaningos 1,
                    span Office 104 -105
                    span Pamelva court, 3105.
                
                a(href="tel: + 44 208 068 86 36 ").lema__phone + 44 208 068 86 36

                .lema__link_block
                    span #[span(class="extrabold") Sales ] department
                    a.lema__link(href="#") sales@b2broker.net
                
                .lema__link_block
                    span #[span(class="extrabold") HR ]  department
                    a.lema__link(href="#") hr@b2broker.net
                
                .lema__link_block
                    span General issues
                    a.lema__link(href="#") mail@b2broker.net
                
                a.show_on_map_btn(href="#") Show on map