.separator-black
.advantages
    .advantages__item.container.container-max
        .advantages__description
            .advantages__title.title-main Wallets, processing systems, trading
            .advantages__text
                ul
                    li Wallets for all types of assets
                    li Trading any fiat and cryptocurrency of any blockchain
                    li A lot of processing systems, bank transfers (SWIFT, SEPA)
        .advantages__image(style="background-image:url(images/wl/img1.png);")
    .relative
        .curve(style="background-image:url(images/main/adv4.png);")
    .advantages__item.reverse.relative.container
        .advantages__description
            .advantages__title.title-main Liquidity
            .advantages__text Aggregated liquidity for any type of asset. Liquidity is collected from several sources,
                | which provides greater depth. Any user can buy and sell anything at any time.
        .advantages__image
    .advantages__slider-1
        .slider__wrapper
            .advantages__item.container.slider__item(id="slid1")
                .advantages__description
                    .advantages__title.title-main Professional tools
                    .advantages__text
                        ul
                            li 3 order types (market, limit, stop)
                            li Professional charting tools. Advanced visual analytics
                            li Ease of connection: Socket API, REST API, FIX API
                    .slider__points
                        a(href="#" role="button" data-step="1").slider__control.container__points-active.right__margin-2
                        a(href="#" role="button" data-step="2").slider__control.slider__control_right
                        a(href="#" role="button" data-step="3").slider__control.slider__control_right
                .advantages__image(style="background-image:url(images/wl/img2.png);")
            .advantages__item.container.slider__item(id="slid2")
                .advantages__description
                    .advantages__title.title-main Professional tools
                    .advantages__text
                        ul
                            li 3 order types (market, limit, stop)
                            li Professional charting tools. Advanced visual analytics
                            li Ease of connection: Socket API, REST API, FIX API
                    .slider__points
                        a(href="#" role="button" data-step="1").slider__control.slider__control_left
                        a(href="#" role="button" data-step="2").slider__control.container__points-active.right__margin-1
                        a(href="#" role="button" data-step="3").slider__control.slider__control_right
                .advantages__image(style="background-image:url(images/wl/img2.png);")
            .advantages__item.container.slider__item(id="slid3")
                .advantages__description
                    .advantages__title.title-main Professional tools
                    .advantages__text
                        ul
                            li 3 order types (market, limit, stop)
                            li Professional charting tools. Advanced visual analytics
                            li Ease of connection: Socket API, REST API, FIX API
                    .slider__points
                        a(href="#" role="button" data-step="1").slider__control.slider__control_left
                        a(href="#" role="button" data-step="2").slider__control.slider__control_left
                        a(href="#" role="button" data-step="3").slider__control.container__points-active
                .advantages__image(style="background-image:url(images/wl/img2.png);")
    .advantages__slider-2
        .slider__wrapper
            .advantages__item.reverse.container.container-max.slider__item(id="slid4")
                .advantages__description
                    .advantages__title.title-main Full UI customization
                    .advantages__text
                        ul
                            li several languages by default, plus the ability to add any new languages from the admin panel
                            li any content management from the admin panel
                            li custom quotes widget for website
                            li we can give the entire frontend to the client so that he can manage
                    .slider__points
                        a(href="#" role="button" data-step="4").slider__control.container__points-active.right__margin-2
                        a(href="#" role="button" data-step="5").slider__control.slider__control_right
                        a(href="#" role="button" data-step="6").slider__control.slider__control_right
                .advantages__image(style="background-image:url(images/wl/img3.png);")
            .advantages__item.reverse.container.container-max.slider__item(id="slid5")
                .advantages__description
                    .advantages__title.title-main Full UI customization
                    .advantages__text
                        ul
                            li several languages by default, plus the ability to add any new languages from the admin panel
                            li any content management from the admin panel
                            li custom quotes widget for website
                            li we can give the entire frontend to the client so that he can manage
                    .slider__points
                        a(href="#" role="button" data-step="4").slider__control.slider__control_left
                        a(href="#" role="button" data-step="5").slider__control.container__points-active.right__margin-1
                        a(href="#" role="button" data-step="6").slider__control.slider__control_right
                .advantages__image(style="background-image:url(images/wl/img3.png);")
            .advantages__item.reverse.container-max.container.slider__item(id="slid6")
                .advantages__description
                    .advantages__title.title-main Full UI customization
                    .advantages__text
                        ul
                            li several languages by default, plus the ability to add any new languages from the admin panel
                            li any content management from the admin panel
                            li custom quotes widget for website
                            li we can give the entire frontend to the client so that he can manage
                    .slider__points
                        a(href="#" role="button" data-step="4").slider__control.slider__control_left
                        a(href="#" role="button" data-step="5").slider__control.slider__control_left
                        a(href="#" role="button" data-step="6").slider__control.container__points-active
                .advantages__image(style="background-image:url(images/wl/img3.png);")
    .advantages__item.container
        .advantages__description
            .advantages__title.title-main Deep referral program
            .advantages__text Referral program up to 30 levels deep with real-time reward calculation
        .advantages__image.advantages__cover-smallest(style="background-image:url(images/wl/img4.png);")
    .advantages__item.reverse.container
        .advantages__description
            .advantages__title.title-main
                img(src="images/wl/b2bx.png")
                br
                br
                | Trade on the go
            .advantages__text Customizable mobile app
        .advantages__image(style="background-image:url(images/wl/img5.png);")
    .advantages__item.container
        .advantages__description
            .advantages__title.title-main We take care of stability
            .advantages__text We put everything on good Amazon servers, uptime leaders
        .advantages__image.advantages__cover-smallest(style="background-image:url(images/wl/img6.png);")

