.business-includes
    .separator
    .container
        .business-includes__content
            .advantages__title.title-main.center Any typical trading business includes:
            .business-includes__items
                .business-includes__item
                    .business-includes__image
                        +icon('icon1-wl', '')
                    .business-includes__title IT-technology
                    .business-includes__text Software & infrastructure
                .business-includes__item
                    .business-includes__image
                        +icon('icon5-wl', '')
                    .business-includes__title Legal
                    .business-includes__text Lawyers & advisors
                .business-includes__item
                    .business-includes__image
                        +icon('icon3-wl', '')
                    .business-includes__title Marketing / Sales
                    .business-includes__text Lawyers & advisors
                .business-includes__item
                    .business-includes__image
                        +icon('icon4-wl', '')
                    .business-includes__title Operational management
                    .business-includes__text A daily based duty activity
                .business-includes__item
                    .business-includes__image
                        +icon('icon2-wl', '')
                    .business-includes__title Finance
                    .business-includes__text Accounting, taxes & Risk Management
                .business-includes__item
                    .business-includes__image
                        +icon('icon6-wl', '')
                    .business-includes__title 24/7 customer support
                    .business-includes__text Highly qualified multiple language technical support 24/7
        .vertical-line.center-block
        .offer-bckg
            +icon('star', '')
        .offer
            .advantages__title.title-main.center What do we offer
            .offer__text Good financial model.
                br
                span.bold-text No revenu share and do not charge for the number of users
            .offer__text 24/7 support and personal manager and consultations
            .offer__text Full training of the team on working with the exchange on legal issues, user support, marketing