.integrations
    .separator.bckg-reverse
    .container
        .title-main Integrations:
        .integrations__items
            .integrations__item
                .integrations__title KYC module
                .integrations__text
                    ul
                        li Instant integration with 3 default providers
                        li Any custom provider
                        li Automatic or manual procedure
                        li Single-level or multi-level
                .integrations__background-text KYC
            .integrations__item
                .integrations__title Ticket system integration
                .integrations__text
                    ul
                        li 1 default, (supportpal)
                        li Any custom
                .integrations__background-text Ticket
            .integrations__item
                .integrations__title Outer CRM integration
                .integrations__text
                    ul
                        li 1 by default
                        li Any custom
                .integrations__background-text CRM
            .integrations__item
                .integrations__title Email marketing services integration
                .integrations__text
                    ul
                        li 4 default email services
                        li Any custom integration
                .integrations__background-text Email

