.open-account(style="background-image:url(images/wl/back2.png);")
    .container.text-centered
        .open-account__text Start your own exchange today
        .open-account__subtext Have you found an offer which is more beneficial?
            br
            | Let us know and we will discuss it individually!
        a(href="#" data-popup="popup").open-account__btn.btn.popup Check all benefits
        include ../../modules/popup/_popup
