.jumbotron(style="background-image:url(images/wl/back1.png);")
    .container
        .top-screen
            .page-title White Label
            .top-screen__text Turnkey solution to launch cryptocurrency exchange in 1 month
            .top-screen__subtext Launching a cryptocurrency exchange (digital asset exchange) is a complex process.
                | Based on our experiences, building an exchange from scratch requires:
                ul
                    li at least 1 year of development and testing
                    li at least $500,000 for the development team alone
            .top-screen__subtext This amount excludes other departments and tasks associated with the project.
                | We offer the best technology on the market and an integrated approach tailored to individual and specific requests at a reasonable price.