.unity-token
    .container
        .advantages__item.container
            .advantages__description
                .advantages__title.title-main Utility Token
                .advantages__text The ability to issue your utility token and give it any functions. For example, a token may give a discount on a trading commission.
                    ul
                        li Attractive to users
                        li Increases the capitalization of the exchange with the correct | development of the token
            .advantages__image.avantages__cover-btn(style="background-image:url(images/wl/img8.png);")
        .advantages__item.reverse.container
            .advantages__description
                .advantages__title.title-main Any activity and financial reports
                .advantages__text
                    ul
                        li Reports for traders - statistics of deposits and withdrawals; trading statistics
                        li Statistics for the broker
                            br
                            | - deposit, trading, withdrawal, activity reports
                            br
                            | - any custom reports
                            br
                            |- automatic sending to email  or sending reports by API
            .advantages__image(style="background-image:url(images/wl/img9.png);")
        .advantages__slider-3
            .slider__wrapper
                .advantages__item.reverse.container.slider__item(id="slid7")
                    .advantages__description
                        .advantages__title.title-main Any activity and financial reports
                        .advantages__text
                            ul
                                li Reports for traders - statistics of deposits and withdrawals; trading statistics
                                li Statistics for the broker
                                    br
                                    | - deposit, trading, withdrawal, activity reports
                                    br
                                    | - any custom reports
                                    br
                                    | - automatic sending to email  or sending reports by API
                        .slider__points
                            a(href="#" role="button" data-step="7").slider__control.container__points-active.right__margin-2
                            a(href="#" role="button" data-step="8").slider__control.slider__control_right
                            a(href="#" role="button" data-step="9").slider__control.slider__control_right
                    .advantages__image(style="background-image:url(images/wl/img9.png);")
                .advantages__item.reverse.container.slider__item(id="slid8")
                    .advantages__description
                        .advantages__title.title-main Any activity and financial reports
                        .advantages__text
                            ul
                                li Reports for traders - statistics of deposits and withdrawals; trading statistics
                                li Statistics for the broker
                                    br
                                    | - deposit, trading, withdrawal, activity reports
                                    br
                                    | - any custom reports
                                    br
                                    | - automatic sending to email  or sending reports by API
                        .slider__points
                            a(href="#" role="button" data-step="7").slider__control.slider__control_left
                            a(href="#" role="button" data-step="8").slider__control.container__points-active.right__margin-1
                            a(href="#" role="button" data-step="9").slider__control.slider__control_right
                    .advantages__image(style="background-image:url(images/wl/img9.png);")
                .advantages__item.reverse.container.slider__item(id="slid9")
                    .advantages__description
                        .advantages__title.title-main Any activity and financial reports
                        .advantages__text
                            ul
                                li Reports for traders - statistics of deposits and withdrawals; trading statistics
                                li Statistics for the broker
                                    br
                                    | - deposit, trading, withdrawal, activity reports
                                    br
                                    | - any custom reports
                                    br
                                    | - automatic sending to email  or sending reports by API
                        .slider__points
                            a(href="#" role="button" data-step="7").slider__control.slider__control_left
                            a(href="#" role="button" data-step="8").slider__control.slider__control_left
                            a(href="#" role="button" data-step="9").slider__control.container__points-active
                    .advantages__image(style="background-image:url(images/wl/img9.png);")
