.best {
  background: #eff4f6;
  padding-top: 125px;
  padding-bottom: 125px;
  &.pamm_best {
    .best_with--right {
      max-width: 293px;
    }
  }
  .best_with {
    margin-top: 78px;
    justify-content: space-between;
    align-items: flex-start;
    &:nth-child(3) {
      .best_with--right {
        margin-top: 187px;
      }
    }
    &:nth-child(4) {
      .best_with--right {
        margin-top: 145px;
      }
    }
    &:nth-child(5) {
      margin-top: 64px;
      .best_with--right {
        margin-top: 150px;
      }
    }
    .check_block {
      margin-bottom: 27px;
      &.castom {
        margin-top: -6px;
        .check_block__text {
          margin-right: 10px;
        }
        .check_block__icon {
          margin-top: -6px;
        }
        &-2 {
          .check_block__icon {
            margin-top: -31px;
          }
        }
      }
    }
    .check_block__icon {
      background: transparent;
      height: auto;
      width: auto;
      margin-right: 27px;
      .icon-new_land-green_check {
        height: 15px;
        width: 15px;
      }
      svg {
        width: 8px;
        height: 8px;
      }
    }
    .check_block__text {
      font-weight: bold;
      font-size: 16px;
      line-height: 23px;
      /* identical to box height, or 128% */
      letter-spacing: 0px;
      color: #63636e;
    }
    &--right {
      max-width: 316px;
      width: 100%;
    }
  }
  .best_with:nth-child(4) .best_with--right .check_block:nth-child(1) {
    padding-right: 40px;
  }
  .best_with:nth-child(5) .best_with--right .check_block:nth-child(2) {
    padding-right: 0;
  }
  .best_with:nth-child(5) .best_with--right .check_block:nth-child(4) {
    .check_block__icon {
      margin-top: -14px;
    }
  }
  .best_with--right {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    align-self: flex-end;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .check_block {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}
@media screen and (max-width: 1030px) {
  .best {
    .best_with {
      align-items: center;
      margin-top: 50px;
      &:nth-child(3) .best_with--right {
        margin-top: 0;
        margin-bottom: 0;
      }
      &:nth-child(4) .best_with--right {
        margin-top: 0;
        margin-bottom: 0;
        .check_block:nth-child(1) {
          padding-right: 0px;
        }
      }
      &:nth-child(5) {
        margin-top: 50px;
        .best_with--right {
          margin-top: 0;
          margin-bottom: 0;
          .check_block:nth-child(4) {
            padding-right: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .best {
    padding-top: 50px;
    padding-bottom: 50px;
    .best_with--text {
      padding-right: 0;
    }
  }
}

.section.section__b2_best__litle_ex {
  .check_block__text {
    font-size: 16px;
  }
}
