.best{
  background: #EFF4F6;
  padding-top: 150px;
  padding-bottom: 150px;
  .best_with{
    margin-top: 78px;
    justify-content: space-between;
    align-items: flex-start;
    &:nth-child(3){
      .best_with--right{
        margin-top: 187px;
      }
    }
    &:nth-child(4){
      .best_with--right{
        margin-top: 145px;
      }
    }
    &:nth-child(5){
      margin-top: 64px;
      .best_with--right{
        margin-top: 186px;
      }
    }
    .check_block{
      margin-bottom: 27px;
      &.castom{
        margin-top: -6px;
        .check_block__text{
          margin-right: 10px;
        }
        .check_block__icon{
          margin-top: -6px;
        }
        &-2{
          .check_block__icon{
            margin-top: -31px;
          }
        }
      }
    }
    .check_block__icon{
      background: transparent;
      height: auto;
      width: auto;
      margin-right:27px;
      .icon-new_land-green_check{
        height: 15px;
        width: 15px;
      }
    }
    .check_block__text{
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      /* identical to box height, or 128% */
      letter-spacing: -0.5px;
      color: #63636E;
    }
    &--right{
      max-width: 292px;
      width: 100%;
    }
  }
  .best_with:nth-child(4) .best_with--right .check_block:nth-child(1){
    padding-right: 40px;
  }
  .best_with:nth-child(5) .best_with--right .check_block:nth-child(2){
    padding-right: 0;
  }
  .best_with:nth-child(5) .best_with--right .check_block:nth-child(4){
    padding-right:73px;
    .check_block__icon{
      margin-top: -14px;
    }
  }
}
@media screen and (max-width:1030px){
.best{
    .best_with{
      align-items: center;
      margin-top: 50px;
      &:nth-child(3) .best_with--right{
        margin-top: 0;
        margin-bottom: 0;
      }
      &:nth-child(4) .best_with--right{
        margin-top: 0;
        margin-bottom: 0;
        .check_block:nth-child(1){
          padding-right: 0px;
        }
      }
      &:nth-child(5){
        margin-top: 50px;
        .best_with--right{
          margin-top: 0;
          margin-bottom: 0;
          .check_block:nth-child(4){
            padding-right: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width:580px){
  .best{
    padding-top: 50px;
    padding-bottom: 50px;
    .best_with--text{
      padding-right: 0;
    }
  }
}