.faq{
  padding-top: 150px;
  padding-bottom: 150px;
  background: #EFF4F6;
  .question-item{
    transition: padding .5s;
    &.active{
      padding-top: 46px;
    }
  }
  .another_question{padding-right: 140px;}
}

@media screen and (max-width:580px){
  .faq{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}