.features{
  padding-top: 125px;
  padding-bottom: 125px;
  &__subtitle{
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */
    text-align: center;
    color: #383838;
    margin-top: 80px;
    margin-bottom: 20px;
    &--little{
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */
      text-align: center;
      color: #383838;
      max-width: 450px;
      margin: 0 auto;
    }
  }
  .container.flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 83px;
    img{
      max-width: 540px;
    }
    .right{
      margin-right: 7.5%;
      margin-top: 2px;
    }
  }
  .check_block--mam_platform-item{
    margin-bottom: 20px;
    &--text{
      font-weight: bold;
      font-size: 16px;
      line-height: 26px;
      /* identical to box height, or 162% */
      letter-spacing: -0.5px;
      color: #555555;
      margin-left: 30px;
    }
  }
}

@media screen and(max-width:970px){
  .features{
    padding-top: 50px;
    padding-bottom: 50px;
    .container.flex {
      justify-content: center;
      align-items: center;
      img{
        max-width: 300px;
        width: 100%;
      }
      .right{
        margin: 0;
        margin-left: 20px;
      }
      .check_block--mam_platform-item{
        margin-bottom: 10px;
        &--text{
          font-size: 14px;
          margin-left: 10px;
        }
      }
    }
  }
}

@media screen and(max-width:640px){
  .features{
    .container.flex {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      img{
        margin-bottom: 30px;
      }
    }
  }
}