.features{
  padding-top: 120px;
  padding-bottom: 120px;
  &__subtitle{
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */
    text-align: center;
    color: #383838;
    margin-top: 80px;
    margin-bottom: 20px;
    &--little{
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */
      text-align: center;
      color: #383838;
      max-width: 450px;
      margin: 0 auto;
    }
  }
  .container.flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 83px;
    img{
      max-width: 540px;
    }
    .right{
      margin-right: 7.5%;
      margin-top: 2px;
    }
  }
  .check_block--mam_platform-item{
    margin-bottom: 20px;
    &--text{
      font-weight: bold;
      font-size: 16px;
      line-height: 26px;
      /* identical to box height, or 162% */
      letter-spacing: -0.5px;
      color: #555555;
      margin-left: 30px;
    }
  }
}