.footer-menu-section-2 {
  @include respond-to("tablet-middle") {
    display: none;
  }
  .footer-menu-section-flex__item .menu li a {
    letter-spacing: 0;

    &:hover {
      color: $white;
      font-weight: 700;
    }
  }
  .footer-menu-section-flex__title span {
    letter-spacing: 0;
  }
  padding-top: 150px;
  padding-bottom: 10px;
  background: #16191c;
  .footer-menu-section-flex__item .menu {
    margin-bottom: 52px;
  }
  .footer-menu-section-flex {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: stretch;
  }
  .footer-menu-section-flex__item .menu li {
    margin-bottom: 0;
  }
  .footer-menu-section-flex__item .menu li,
  .footer-menu-section-flex__item .menu li a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 29px;
    /* or 223% */

    color: #e3e3e3;
  }
  .footer-menu-section-flex__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 22px;
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      /* identical to box height */
      letter-spacing: -0.318182px;
      color: #ececec;
    }
    .icon-title {
      margin-right: 12px;
      flex-shrink: 0;
    }
  }
  .footer-menu-section-flex__item {
    &:nth-child(3n-1) {
      padding-left: 90px;
    }
    &:nth-child(3n) {
      padding-left: 115px;
    }
    padding-right: 0;
    &.center_block {
      padding-left: 90px;
    }
    &.right_block {
      // padding-left: 86px;
      padding-left: 119px;
    }
  }
}
@media screen and (max-width: 1080px) {
  .newFooter {
    .footer-menu .menu {
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
    }
  }
}
@media screen and (max-width: 1000px) {
  .footer-menu-section-2 {
    padding-top: 50px;
    .footer-menu-section-flex__item {
      box-sizing: border-box;
    }
    .footer-menu-section-flex__item:nth-child(3n),
    .footer-menu-section-flex__item:nth-child(3n-1) {
      padding-left: 0;
    }
  }
}
