.opportunities{
  padding-top: 125px;
  padding-bottom: 125px;
  background: #EFF4F6;
  .green__title.big{
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    /* or 183% */
    text-align: center;
    text-transform: uppercase;
    color: #01BD95;
    margin-bottom: 12px;
  }
  .section__title{
    max-width: 950px;
    margin: 0 auto;
    letter-spacing: -.5px;
    margin-bottom: 104px;
  }
  .container.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 125px;
    &.margin-bottom-0{
      margin-bottom: 0;
    }
    &:nth-child(7){
      .title{
        margin-top: 14px;
        margin-bottom: 32px;
      }
    }
    &:nth-child(8){
      .title{
        margin-top: 0px;
        margin-bottom: 35px;
      }
    }
    &:nth-child(9){
      .title{letter-spacing: -.9px;}
      .check_block--mam_platform-item{
        margin-bottom: 14px;
        margin-top: 40px;
        &--text{
          margin-left: 17px;
        }
      }
    }
    &.castom_margin{
      margin-bottom: 125px;
    }
    img{
      max-width: 540px;
      &.castom-width{
        max-width: 560px;
      }
      &.shadow{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &-2{
          background: #1A2337;
          /* card shadow */
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          margin-right: 5px;
        }
      }
    }
    .text.left{
      margin-left: 58px;
      &-2{
        margin-left: 38px;
        .title{
          margin-top: 18px;
          margin-bottom: 30px;
        }
        p{margin-bottom: 16px;}
      }
    }
    .text.right{
      margin-right: 90px;
    }
    .padding{
      padding-right: 20px;
      &-2{
        padding-right: 25px;
      }
    }
  }
  .check_block--mam_platform-item{
    margin-bottom: 20px;
    &--text{
      font-weight: bold;
      font-size: 16px;
      line-height: 26px;
      /* identical to box height, or 162% */
      letter-spacing: -0.5px;
      color: #555555;
      margin-left: 30px;
    }
  }
  .title{
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    /* or 122% */
    color: #383838;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  p{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #383838;
    &.margin{
      margin-bottom: 20px;
      &-2{
        margin-bottom: 40px;
      }
    }
  }
  .banner_text{
    margin-top: 67px;
    margin-bottom: 125px;
    .title{
      margin-top: 15px;
      padding-right: 40%;
    }
    p{
      padding-right: 40%;
    }
    .flex{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 47px;
      .check_block--mam_platform-item{
        margin-bottom: 0;
        margin-right: 75px;
        &:nth-child(2){
          margin-right: 0;
        }
      }
    }
  }
}  
@media screen and (max-width:970px){
  .opportunities {
    padding-top: 50px;
    padding-bottom: 50px;
    .container.flex {
      margin-bottom: 40px;
      &.castom_margin{
        margin-bottom: 40px;
      }
      img{
        max-width: 300px;
        &.castom-width{
          max-width: 300px;
          width: 100%;
        }
      }
      .text.right{
        margin-right: 20px;
      }
      .text.left{
        margin-left: 20px;
      }
      .green__title{
        font-size: 14px;
        line-height: 17px;
      }
      .title{
        font-size: 24px;
        line-height: 28px;
      }
      p{
        font-size: 12px;
        line-height: 15px;
      }
    }
    .banner_text{
      margin-bottom: 40px;
      .title{
        padding-right: 0;
        font-size: 24px;
        line-height: 28px;
      }
      p{
        padding-right: 0;
        font-size: 12px;
        line-height: 15px;
      }
      .green__title{
        font-size: 14px;
        line-height: 17px;
      }
      .flex{
        flex-direction: column;
        .check_block--mam_platform-item{
          margin-right: 0;
        }
      }
    }
  }
}
@media screen and (max-width:640px){
  .opportunities{
    .container.flex{
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 30px;
      .text{
        &.right,&.left{
          margin-right: 0;
          margin-left: 0;
          margin-bottom: 20px;
        }
        &.left{
          order: -1;
          margin-bottom: 20px;
          &-2{
            order: -1;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
@media screen and (max-width:580px){
  .opportunities {
    .green__title.big{
      font-size: 18px;
      line-height: 21px;
    }
    .container.flex img{
      max-width: 300px;
      width: 100%;
    }
  }
}