.subscribe_form{
  background: transparent;
  margin-top: -1px;
  .form-wrapper{
    .form-wrapper-left{
      background: #EEF3F5;
      padding-bottom: 424px;
    }
    .form-wrapper-right{
      background: rgba(238, 243, 245, 0.6);
      padding-bottom: 175px;
    }
    .form--heading{
      margin-bottom: 34px;
    }
    .right-form .form-content--description{
      margin-bottom: 35px;
    }
    .capcha_block{
      margin-top: 28px;
    }
  }
  .form-wrapper .left-form .form-content{
    padding: 31px 47px 47px 47px;
    input{
      height: 51px;
      margin-bottom: 18px;
    }
  }
}

@media screen and (max-width:580px){
  .subscribe_form{
    padding-top: 0;
    padding-bottom: 0;
    .form-wrapper .form-wrapper-right{
      padding-bottom: 0px;
    }
  }
}