.what_is {
  padding-top: 125px;
  padding-bottom: 125px;
  background: $bluebg;
  .main__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    /* or 145% */
    letter-spacing: 0px;
    color: $gray;
    margin-top: 50px;
  }
  .container.flex {
    margin-top: 94px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .segment {
    max-width: 293px;
  }
}

@media screen and (max-width: 880px) {
  .what_is {
    padding-top: 50px;
    padding-bottom: 50px;
    .container.flex {
      flex-direction: column;
      .segment {
        margin-bottom: 30px;
      }
    }
  }
}
