
.guides__content {
    max-width: $content-size;
    margin: 0 auto;

    &-title {
        font-size: $big-font;
        font-weight: 600;
        padding-top: 9.1%;

        @include respond-to('tablet') {
            color: $black;
            font-size: $big-font-mobile;
        }

        @include respond-to('phone-wide') {
            padding: 18% 0;
        }
    }

    &-absolute {
        position: absolute;
        left: 8%;
        bottom: 8%;

        a {
            font-size: 16px;
            line-height: 19px;

            @include respond-to('phone-wide') {
                font-size: 13px;
                line-height: 15px;
            }
        }

        @include respond-to('phone-wide') {
            left: 10%;
            bottom: 10%;
        }
    }

    &-flexbox {
        display: flex;
        flex-wrap: wrap;
        margin: 5% 0;
        justify-content: space-between;

        &_row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 2%;

            @include respond-to('phone-wide') {
                flex-direction: column;
            }
        }

        &_block {
            height: 309px;
            width: 100%;
            flex: 0 0 49%;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: 15px 15px 56px rgba(0, 0, 0, 0.115057);
            border-radius: 34.0593px;
            margin-bottom: 2%;
            font-weight: 600;

            &-title {
                margin: 7%;
                font-size: 33.3642px;
                line-height: 39px;
                color: $text-black;

                @include respond-to('phone-wide') {
                    font-size: 23.8316px;
                    line-height: 28px;
                    margin: 10%;
                }
            }

            &-hrefs {
                display: flex;
                flex-direction: column;
                padding-left: 8%;
                font-size: 16px;
                line-height: 29px;
                color: $text-black;

                a:hover {
                    color: $main;
                }

                
                @include respond-to('phone-wide') {
                    font-size: 11.4286px;
                    line-height: 21px;
                    padding-left: 10%;
                }
            }

            &-content {
                padding: $normal-indent;
            }

            @include respond-to('phone-wide') {
                min-height: 221px;
                width: 100%;
                margin-bottom: 10%;
                padding-bottom: 30px;
            }
        }

        @include respond-to('phone-wide') {
            flex-direction: column;
        }
    }

    @include respond-to('phone-wide') {
        max-width: 100%;
        padding: 0 25px;
        margin: 0;
    }

    @include respond-to('tablet-wide') {
        max-width: 100%;
        padding: 0 25px;
        margin: 0;
    }

    @include respond-to-min('desktop-max') {
        max-width: $content-max-size;
    }
}

.indent-1 {
    margin-top: 35%;

    @include respond-to('tablet') {
        margin-top: 50%;
    }
    @include respond-to('phone-wide') {
        margin-top: 35%;
    }
}

.indent-2 {
    margin-top: 12%;

    @include respond-to('phone-wide') {
        margin-top: 12%;
    }
}

.guides__item {
    position: relative;
    box-shadow: 0 4px 21px rgba(212, 212, 212, 0.34);
}

.indent-3 {

    @include respond-to('tablet') {
        margin-top: 8%;
    }
    @include respond-to('phone-wide') {
        margin-top: 20%;
    }
}

.video-single,
.video-single iframe {
    min-height: 400px;
}

.indent-4 {
    @include respond-to('tablet') {
        margin-top: 20%;
    }
}
