.section.section__anty_fraud.section__anty_fraud_ex
    .container
        .section__title.goanim.an High-performance #[span(class="section__title--bold db") IT Infrastructure] 
        .section__subtitle.goanim.an Our infrastructure runs on multiple servers across several data centres to ensure the fastest data#[span(class="db")] delivery and the lowest latency possible. We have redundant hosting and load-balanced#[span(class="db")] environments for maximum reliability.
        img.banner(src="images/it.png", alt="banner")
        .gray_block__container.goanim.an
            .gray__block
                .gray__block--title Anti-DDoS, IP whitelists
                .gray__block--subtitle Protect your business against malicious attacks with our anti-DDoS solutions. A whitelist function enables users to specify their chosen, trusted wallets for withdrawal.
            .gray__block
                .gray__block--title Security Patches & Updates
                .gray__block--subtitle We manage security patches and upgrades, server storage space saving whilst saving on development costs.
            .gray__block
                .gray__block--title 24/7 server support and monitoring
                .gray__block--subtitle A 24/7 dedicated support line is available for your users#[span(class="db")] with an average response time of 3 minutes for a support request. Technical support is also available for developers.
            .gray__block
                .gray__block--title 2FA
                .gray__block--subtitle Secure your merchant account with two-factor authentication granting the user access only after successfully presenting two pieces of evidence. 
            .gray__block
                .gray__block--title Secure access
                .gray__block--subtitle Our API endpoints are encrypted through SSL so user traffic is secured when requesting data. For maximum security, we require that our clients sign the API callback requests.
            .gray__block
                .gray__block--title Scalable and secure servers
                .gray__block--subtitle Our infrastructure has different layers of security and scalability with loadbalancers across several data centres to ensure the stability of the entire system and the lowest latency possible. 