.section.section__blue.section__anywhere
    .section__title Accept #[span(class="section__title--bold") Crypto Anywhere]
    .section__subtitle Accept cryptocurrency payments any time, anywhere on different platforms and receive#[span(class="db")] crypto or fiat directly into your bank account.

    .container
        .any_info__block
            .any_info__item
                img(src="images/anywhere1.svg", alt="icon")
                .any_info__title Website
                .any_info__subtitle Accept crypto payments from#[span(class="db")] your online customers.
            
            .any_info__item
                img(src="images/anywhere2.svg", alt="icon")
                .any_info__title Email and Messenger
                .any_info__subtitle Send invoices to clients quickly and#[span(class="db")] easily by email or Messenger.
            
            .any_info__item
                img(src="images/anywhere3.svg", alt="icon")
                .any_info__title In App and Dapp
                .any_info__subtitle Send crypto to app users#[span(class="db")] instantly with low fees.