.section.benefits_section
    .container.goanim.an
        .section__title Crypto Wallets #[span(class="section__title--bold db") benefits]

        .gray_block__container
            .gray__block
                .gray__block--title Easy, hassle free integration
                .gray__block--subtitle Integrating cryptocurrency payments into your system is easy and hassle-free. Let the experts handle the technology aspects while you get ready to start accepting crypto!  

            .gray__block
                .gray__block--title Instant exchange, no crypto price risk
                .gray__block--subtitle The fastest and most secure way to exchange cryptocurrencies with the lowest rates on the#[span(class="db")] market and zero risk volatility.

            .gray__block
                .gray__block--title Settlements in USD, EUR or GBP
                .gray__block--subtitle Fiat settlements are fast and convenient in USD, EUR#[span(class="db")] or GBP via Swift, Faster Payments and SEPA payment methods.

            .gray__block
                .gray__block--title Premium support from our team
                .gray__block--subtitle Our team of experts is on hand 24/7 to assist with#[span(class="db")] any technical queries and offer practical assistance#[span(class="db")] and guidance whenever you need it.
            
            .gray__block
                .gray__block--title Become part of a growing community
                .gray__block--subtitle The world of crypto is booming and its presence is greater than ever in the world of e-commerce. Join the growing community and enjoy the instant benefits!
            
            .gray__block
                .gray__block--title Security and Reliability
                .gray__block--subtitle Security is always of paramount importance with no room for compromise. We are experts in our field and offer our clients a safe, secure and reliable environment at all times.
            
            .gray__block
                .gray__block--title Access to a growing crypto market
                .gray__block--subtitle Get access to a growing market and see your revenue-levels rise. The potential is too big to ignore. Integrate a lucrative new payment method today!
            
            .gray__block
                .gray__block--title Integrate as part of your#[span(class="db")] e-commerce solution
                .gray__block--subtitle If your business is in e-commerce, accepting cryptocurrencies is the best way to secure a new#[span(class="db")] set of customers and boost your business.