.section.section__catalog.section__catalog_ex.section__catalog_merch
    
    .container.goanim.an
        .section__title Features

        .cutting_catalog
            .cutting_catalog__item
                .cutting_catalog__heading Global
                .cutting_catalog__subheading Send, store, exchange and accept cryptocurrency payments anytime,#[span(class="db")] virtually anywhere in the world.

            .cutting_catalog__item
                .cutting_catalog__heading No Chargebacks
                .cutting_catalog__subheading Blockchain transactions are irreversible#[span(class="db")] with no chargebacks and no recurring#[span(class="db")] fees or hidden charges. A straightfoward#[span(class="db")] and transparent service.

            .cutting_catalog__item
                .cutting_catalog__heading Independent
                .cutting_catalog__subheading There are no third parties involved in  transactions so there is no need to depend#[span(class="db")] on any bank or goverment.

            .cutting_catalog__item
                .cutting_catalog__heading Secure
                .cutting_catalog__subheading Protection against DDoS attacks,#[span(class="db")] full data encryption and blockchain transparency, together with secure checkout.

            .cutting_catalog__item
                .cutting_catalog__heading Unlimited
                .cutting_catalog__subheading Any amount can be transfered as per#[span(class="db")] your requirements. There are no#[span(class="db")] upper-limit restrictions.

            .cutting_catalog__item
                .cutting_catalog__heading Lightning fast
                .cutting_catalog__subheading Benefit from faster, worldwide transactions, which are not possible with regular bank payments.
            
            .cutting_catalog__item
                .cutting_catalog__heading Volatility free
                .cutting_catalog__subheading Quickly exchange an inherently volatile#[span(class="db")] crypto-asset into your chosen StableCoins and avoid any volatility risks.
            
            .cutting_catalog__item
                .cutting_catalog__heading No rolling reserve
                .cutting_catalog__subheading With no rolling reserve, there is no need to freeze a percentage of your money as there#[span(class="db")] is no central authority or chargebacks.
            
            .cutting_catalog__item
                .cutting_catalog__heading KYT
                .cutting_catalog__subheading Integration of KYT cryptocurrency#[span(class="db")] compliance service to prevent money laundering and other illicit activities.