.section.section__blue.section__commission
    .container.goanim.an
        .section__title #[span(class="section__title--bold") EU Regulated Crypto] Payment Service #[span(class="section__title--bold") Provider]
        .section__subtitle Send, Receive, Store, Exchange and Accept cryptocurrencies as easily as#[span(class="db")] possible in just minutes with an established and regulated payments#[span(class="db")] provider.

    .container
        .new_box-catalog
            .box_block
                .box_block--title Wallets
                .box_block--text A highly secure, reliable and scalable wallets solution for your convenience and  peace of mind.
            
            .box_block
                .box_block--title Gateway
                .box_block--text Accept cryptocurrency payments easily#[span(class="db")] and securely via an industry-leading cryptocurrency gateway.
            
            .box_block
                .box_block--title Merchants
                .box_block--text The quickest and safest integration#[span(class="db")] process is ensured, whatever type#[span(class="db")] of business you’re in.
            
            .box_block
                .box_block--title Exchange
                .box_block--text Risk-free crypto exchange services with#[span(class="db")] low fees, high exchange limits and quick exchange times.
            
            .box_block
                .box_block--title Fiat
                .box_block--text Conveniently turn your cryptocurrency#[span(class="db")] into cash by receiving Fiat settlements directly to your bank account.
            
            .box_block
                .box_block--title Know Your Transaction 
                .box_block--text Integration of KYT Cryptocurrency compliance service to prevent money laundering and other illicit activities.