.section.section__blue.section__config
    .section__title Advanced Wallets #[span(class="section__title--bold db") Configuration]
    .section__subtitle  Multi-functionality and flexible wallet settings at your fingertips. A cutting-edge solution #[span(class="db")]that gives you the power to configure things your way.
    .container
        .trading__flex
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Custom  labels
                
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Access rights per each wallet
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Notfications
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Flexible tracking 
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Custom callbacks/webhooks
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Wallet activity monitoring 
