.section.dark_style.demo_section.section__black
    .container.goanim.an
        .section__title Start accepting #[span(class="section__title--bold db") Crypto Now] 
        .section__subtitle Offer your clients an exciting new payment method and watch#[span(class="db")] your business grow!
        a(href="#").btn.btn--green.btn--box_shadow.js-modal2-btn Get Started!