.section.dark_style.section__exch
    .container
        .section__title #[span(class="section__title--bold ") Exchange] when you#[span(class="db")] need to make #[span(class="section__title--bold ") Payouts]#[span(class="db")] in another currency

        img.banner(src="images/exchange.png", alt="banner")
        .section__extitle No Slippage - More than #[span(class="extrabold") 100 BTC on the top 20 levels]
        .trading__flex
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Deep orderbook
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Fast execution
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text High limits
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Real-time rates
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Lowest spreads
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Institutional grade volumes
