.section.dark_style.feature.section__ex_features
    .container
        .section__title.goanim.an #[span(class="section__title--bold db") A Back Office] for your team
        .feature__block
            .feature__image
                img(src="images/ex_features1.png", alt="image")
            .feature__text
                .feature__heading Bills 
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Status of invoices
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Time issued  and expiration
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Number of transaction
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Currency and predefined amount
        .feature__block
            .feature__text
                .feature__heading Transactions
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Transaction hash
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Related invoice 
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Status: pending/approved
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Confirmation time
            .feature__image
                img(src="images/ex_features2.png", alt="image")
        .feature__block
            .feature__image
                img(src="images/ex_features3.png", alt="image")
            .feature__text
                .feature__heading Wallets
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Real-time balance
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Fast withdrawals
        .feature__block
            .feature__text
                .feature__heading Withdrawals
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Withdrawal list
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Status of withdrawals
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Status of withdrawals
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Amount, currency and  tracking ID
            .feature__image
                img(src="images/ex_features4.png", alt="image")
        .feature__block
            .feature__image
                img(src="images/ex_features5.png", alt="image")
            .feature__text
                .feature__heading Transfers
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Transfers list
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Transfer types
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Amount, currency, date and more
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Smart search
           
            
            

