.section.section__flow_crypto
    .container
        .section__title Crypto Payments #[span(class="section__title--bold") Flow]
        .section__subtitle We handle the whole crypto payments flow from checkout to settlement,#[span(class="db")] enabling businesses to benefit from this payment method without the need#[span(class="db")] for any technical expertise.
    
    .flow__slider--js.flickity_castom_arrow
        .item
            .flow__left
                img(src="images/flow_item1.png", alt="images")
            .flow__right
                .flow__icon
                    .flow__icon--number 1
                .flow__title Invoice
                .flow__subtitle Invoice for your customer
        
        .item
            .flow__left
                img(src="images/flow_merg1.png", alt="images")
            .flow__right
                .flow__icon
                    .flow__icon--number 2
                .flow__title Payment
                .flow__subtitle Your customer pays the invoice 
            
        .item
            .flow__left
                img(src="images/flow_merg2.png", alt="images")
            .flow__right
                .flow__icon
                    .flow__icon--number 3
                .flow__title Conversion
                .flow__subtitle B2BinPay converts the customer’s payment into your chosen currency after blockchain confirmation
        
        .item
            .flow__left
                img(src="images/flow_merg3.png", alt="images")
            .flow__right
                .flow__icon
                    .flow__icon--number 3
                .flow__title Crypto / FIAT
                .flow__subtitle Balance deducted and ready to be withdrawn.#[span(class="db")] B2BinPay initiates a bank settlement to you the next business day
