.section.section__fully
    .container
        .section__title Crypto#[span(class="section__title--bold db")  Payment Gateway]
        .section__subtitle Cryptocurrency payment gateways are borderless payment networks that allow for the smooth transfer of#[span(class="db")] cryptocurrencies. They allow merchants and other users to make transactions in Bitcoin and other cryptocurrencies.
    
    .container
        .trading__flex
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Supports all major#[span(class="db")] coins and StableCoins
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text 24-hour customer#[span(class="db")] support system
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Instant deposits
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Supports all major#[span(class="db")] fiat currencies
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Global exchange trading#[span(class="db")] platform
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Instant withdrawals
        
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text A two-factor authenti-#[span(class="db")]cation system
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Plugins for eCommerce#[span(class="db")] platforms
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Easy exchange of funds