.section.section__blue.section__how_ex
    .container
        .section__title How does it #[span(class="section__title--bold") work?]
        .section__subtitle Offering your customers crypto payments as a payment option is easy. That’s#[span(class="db")] a promise! A quick 3-step process is all it takes and you’re on your way!
        img.banner(src="images/merg.png", alt="banner")