.section.section__blue.section__invoiced
    .container
        .section__title Feature-Rich #[span(class="section__title--bold") Invoices]
        .section__subtitle  A super-responsive payment page with real-time data provides you with everything you need to#[span(class="db")] generate and send detailed invoices to your customers.
        .invoiced__slider--js.flickity_castom_arrow
            .item
                img.banner(src="images/invoiced1.png", alt="banner")
            
            .item
                img.banner(src="images/invoiced2.png", alt="banner")
            
            .item.invoiced_scroll
                img.banner(src="images/invoiced3.png", alt="banner")
                .invoiced_scroll__wrapper
                    .item
                        img.invoiced_scroll__img(src="images/scrol_slider_img.png", alt="img")
                    
                    .item
                        img.invoiced_scroll__img(src="images/scrol_slider_img.png", alt="img")


        .gray_block__container
            .gray__block 
                .gray__block--title Payment Statuses
                .gray__block--subtitle Check your transaction status in real-time. Use your transaction ID to check for confirmations.
            
            .gray__block
                .gray__block--title Explorer
                .gray__block--subtitle Detailed information on your transactions are just one click away with blockchain explorer.
            
            .gray__block
                .gray__block--title Transaction History
                .gray__block--subtitle A full cryptocurrency report with detailed transactions history is available at your fingertips.
            
            .gray__block
                .gray__block--title QR Code & Address
                .gray__block--subtitle A QR code is available to enable fast and hassle-free transfers with ease.
