.section.section__lang
    .container
        .section__title Payments Page Available in #[span(class="section__title--bold") 20+ Languages]
    
    .container.lang__container
        .lang__item
            img.lang__icon(src="images/lang/icon1.svg", alt="icon")
            .lang__text English
        
        .lang__item
            img.lang__icon(src="images/lang/icon2.png", alt="icon")
            .lang__text Chinese
        
        .lang__item
            img.lang__icon(src="images/lang/icon3.svg", alt="icon")
            .lang__text Russian
        
        .lang__item
            img.lang__icon(src="images/lang/icon4.png", alt="icon")
            .lang__text Japanese
        
        .lang__item
            img.lang__icon(src="images/lang/icon5.png", alt="icon")
            .lang__text Spanish
        
        .lang__item
            img.lang__icon(src="images/lang/icon6.png", alt="icon")
            .lang__text German
        
        .lang__item
            img.lang__icon(src="images/lang/icon7.png", alt="icon")
            .lang__text French
        
        .lang__item
            img.lang__icon(src="images/lang/icon8.png", alt="icon")
            .lang__text Italian
        
        .lang__item
            img.lang__icon(src="images/lang/icon9.png", alt="icon")
            .lang__text Portuguese
        
        .lang__item
            img.lang__icon(src="images/lang/icon10.png", alt="icon")
            .lang__text Dutch
        
        .lang__item
            img.lang__icon(src="images/lang/icon11.png", alt="icon")
            .lang__text Turkish
        
        .lang__item
            img.lang__icon(src="images/lang/icon12.png", alt="icon")
            .lang__text Hindi
        
        .lang__item
            img.lang__icon(src="images/lang/icon13.png", alt="icon")
            .lang__text Arabic
        
        .lang__item
            img.lang__icon(src="images/lang/icon14.png", alt="icon")
            .lang__text Urdu
        
        .lang__item
            img.lang__icon(src="images/lang/icon15.png", alt="icon")
            .lang__text Persian
        
        .lang__item
            img.lang__icon(src="images/lang/icon16.png", alt="icon")
            .lang__text Korean
        
        .lang__item
            img.lang__icon(src="images/lang/icon17.png", alt="icon")
            .lang__text Malay
        
        .lang__item
            img.lang__icon(src="images/lang/icon18.png", alt="icon")
            .lang__text Thai
        
        .lang__item
            img.lang__icon(src="images/lang/icon19.png", alt="icon")
            .lang__text Indonesian
        
        .lang__item
            img.lang__icon(src="images/lang/icon20.png", alt="icon")
            .lang__text Vietnamese
