.section.mam_frame.b2_frame.ex_frame
  .container.goanim.an
    .section__title  #[span(class="section__title--bold db") EU Regulated] Cryptocurrency Processing  
    .section__subtitle The European Union and its member countries are regulating crypto assets.#[span(class='db')] With full regulatory approval.
    .video_block
      .video_block--preview
        img(src="images/ex_preview.png", alt="video_previw").image_preview
        img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
        .video--time 2:04
      <iframe  src="https://www.youtube.com/embed/DDhqR2pm9LQ" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    .video_description Accept Bitcoin Payments with B2BinPay
    .video_subdescription B2BinPay is a global cryptocurrency payment provider for Merchants and Enterprise clients.#[span(class="db")] It allows businesses to Send, Receive, Store, Exchange and Accept cryptocurrency payments online, safely, securely and cost-effectively across the world#[span(class="db")] in a matter of minutes. 
    a(href="#").watch_more #[img(src="images/youtube.png")] Watch more
    .ex_frame__title Easy to set up. #[span(class="db")] Easy to use.
    .section__subtitle Our aim is to ensure that all our customers have access#[span(class="db")] to the most advanced, transparent and reliable crypto#[span(class="db")] payment services in the industry.