.section.section__sacurity.section__sacurity_ex.section__sacurity_merch
    .container
        .section__title.goanim.an What #[span(class="section__title--bold") can you do]   with#[span(class="db")] your Crypto?
    .container.new_box-catalog__wrapper
        .new_box-catalog
            .box_block
                .box_block--title Send
                .box_block--text Unlike sending money abroad, you can send Bitcoin or any other cryptocurrency#[span(class="db")] to anyone, virtually anywhere in the world. 

            .box_block
                .box_block--title Accept
                .box_block--text Offer your customers Bitcoin, Ether, Ripple`s XRP, Bitcoin Cash, Litecoin and lots more as a payment option!

            .box_block
                .box_block--title Hodl  
                .box_block--text Many customers hold onto their Bitcoin in the hope its value will rise. Store your Bitcoin in your B2BinPay account or transfer it to a private wallet.

            .box_block
                .box_block--title Transfer
                .box_block--text If you want to send crypto to your own wallet, you can do so whenever you need to, easily and quickly.
            
            .box_block
                .box_block--title Convert
                .box_block--text Conversion of Bitcoin is simple. Convert any portion of your Bitcoin balance to another crypto whenever you want.