.section-3.section.section__blue.section-3__enterprise.section-3__merch
  .container
    .section__title #[span(class="section__title--bold")  What is a ] Merchant#[span(class="db")] Solution?

    span.main-text.bold Our Merchant Solution allows businesses to accept crypto payments in all major coins and exchange#[span(class="db")] everything into one currency: Fiat, Coin or StableCoin.
    
    span.main-text Offer your customers Bitcoin(BTC), Ether(ETH),  Ripple (XRP), Bitcoin Cash (BCH), Litecoin(LTC) and many#[span(class="db")] more as a payment option! 

    span.main-text Attract new customers to your business with an attractive payment method that will make you stand out#[span(class="db")] against your competitors by using our popular crypto gateway for your business.

     
    .number_block
      .number_block-content
        .number_block--number.center 7
        .number_block--text StableCoins

      .number_block-content
        .number_block--number 14
        .number_block--text.center Coins

      .number_block-content
        .number_block--number T+1
        .number_block--text.center Settlement

      .number_block-content
        .number_block--number 24/7
        .number_block--text.center Availability