.section-20.section.section_tex_ex
  .section__title.goanim.an Technical #[span(class="section__title--bold") Support]   and#[span(class="db")] Availability 
  .section_subtitle.goanim.an 24/7/365
  .main-text Our professional customer service team is available round the clock to assist you with#[span(class="db")] any queries. Please do not hesitate to get in touch.