.section.dark_style.section__segment
    .container
        .section__title Settlements
        .section__subtitle We offer a variety of secure settlement options. Wire transfers in USD, EUR  and GBP#[span(class="db")] are available via SWIFT, SEPA and Faster Payments together with settlements in major#[span(class="db")] Cryptos and StableCoins. 
        img.banner(src="images/merchants_settlement.png", alt="img")
    
        .merchants__flex
            .merchants__block
                .merchants__subtitle Settlement
                .merchants__title T+1
            
            .merchants__block
                .merchants__subtitle Settlement
                .merchants__title Immediately
            
            .merchants__block
                .merchants__subtitle Settlement
                .merchants__title Immediately