.section.section__solushen
    .container
        .section__title The Ultimate #[span(class='section__title--bold') API] Solution
        .section__subtitle Quick and easy integration is possible via Rest API. Our state-of-the art technology allows you#[span(class="db")] to integrate invoicing and deal with acquiring and transfers exactly in the way you need it.#[span(class="db")] You can use our payment page or integrate it on your side using feature-reach API.
        img.banner(src="images/solution.png", alt="banner")
        .solushen Single Unified API for Multiple#[span(class="db")] Blockchains
        .trading__flex
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Secure
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Reliable
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Scalable