.section.merch_tools__section
    .section__title  Merchant #[span(class="section__title--bold") Tools]
    .container.merch_tools__container
        .merch_tools
            .merch_tools__block
                .merch_tools__title #[span(class="extrabold db") Plug in] your Shop
                .merch_tools__subtitle Ecommerce is rapidly growing worldwide with millions of websites using merchant tools to facilitate their online operations. Merchant Tools provide the quickest and safest integration for your business.
            .merch_tools__block
                img(src="images/tools_icon1.png", alt="icon")
                img(src="images/tools_icon2.png", alt="icon")
                img(src="images/tools_icon3.png", alt="icon")
