.section.section__volatility
    .container
        .section__title Zero Risk #[span(class="section__title--bold") Volatility!]
        .section__main_heading Accept crypto and get paid in USDT,#[span(class='db')] GUSD, TUSD, BUSD, PAX and USDC
        .section__subtitle StableCoins allow you to avoid volitility risks. Get your payments easily, while#[span(class="db")] protecting yourself from market volatility!
        img.banner(src="images/ex_real.gif", alt="banner")
        