.section.who_is_it_for.who_is_it_for__ex
  .container
    .section__title.goanim.an Tokens  #[span(class="section__title--bold") Supported]
    .section__subtitle.goanim.an ETH, NEO, NEM and Omni Based
  .container
    .it_for__block
      .it_for__item
        .it_for__icon
          img(src="images/omni/icon1.svg", alt="icon")
        .it_for__text
          .it_for__heading Automatic Token Collection
          .it_for__description An automatic token collection bot gathers tokens from multiple addresses and accumulates them into one single address.
      .it_for__item
        .it_for__icon
          img(src="images/omni/icon2.svg", alt="icon")
        .it_for__text
          .it_for__heading Automatic Withdrawals
          .it_for__description Automatic withdrawals can be made by using secure API or manually. A fast and simple procedure at the touch of a button.
      .it_for__item
        .it_for__icon
          img(src="images/omni/icon3.svg", alt="icon")
        .it_for__text
          .it_for__heading Liquid and Non-Liquid Tokens
          .it_for__description All types of tokens are suppported, both liquid tokens that are listed on top exchanges as well as only issued tokens.
      .it_for__item
        .it_for__icon
          img(src="images/omni/icon4.svg", alt="icon")
        .it_for__text
          .it_for__heading Stable Crypto Gateway
          .it_for__description A highly secure, reliable and scalable wallets solution from a reputable, industry-leading cryptocurrency payments provider.
      .it_for__item
        .it_for__icon
          img(src="images/omni/icon5.svg", alt="icon")
        .it_for__text
          .it_for__heading Custom Addresses 
          .it_for__description A scalable and secure solution for processing tokens with the possibility to customise addresses for deposits and withdrawals.
      .it_for__item
        .it_for__icon
          img(src="images/omni/icon6.svg", alt="icon")
        .it_for__text
          .it_for__heading Custom Token Integration
          .it_for__description A quick and straightforward process for integrating your own NEO, NEM, ETH#[span(class="db")] and Omni-based tokens.
      