.section.who_is_it_for.who_is_it_for__businesses
  .container
    .section__title.goanim.an Crypto Processing tailored#[span(class="db")] for all #[span(class="section__title--bold") Business] models
    .section__subtitle.goanim.an Crypto processing fits any business model and can be easily integrated into your existing operations or set up#[span(class="db")] as  a new service. From Forex and Crypto brokers to gaming and dating, we have it all covered!
  .container
    .it_for__block
      .it_for__item
        .it_for__icon
          img(src="images/businass/icon1.svg", alt="icon")
        .it_for__text
          .it_for__heading Forex and Crypto Brokers
          .it_for__description The crypto market is booming. Offer your clients the possibility to trade and deposit#[span(class="db")] funds in different kinds of crypto.
      .it_for__item
        .it_for__icon
          img(src="images/businass/merch_icon2.svg", alt="icon")
        .it_for__text
          .it_for__heading E-commerce
          .it_for__description The world of e-commerce has experienced massive growth. Reap the benefits of the huge online market by accepting crypto payments. 
      .it_for__item
        .it_for__icon
          img(src="images/businass/icon3.svg", alt="icon")
        .it_for__text
          .it_for__heading Exchanges
          .it_for__description The core mechanism behind every exchange. Our gateway provides the technology to handle all your crypto transactions.
      .it_for__item
        .it_for__icon
          img(src="images/businass/merch_icon4.svg", alt="icon")
        .it_for__text
          .it_for__heading Gambling Industry
          .it_for__description The global online gambling industry is worth billions of dollars. Crypto payments are par#[span(class="db")] for the course.
      .it_for__item
        .it_for__icon
          img(src="images/businass/merch_icon5.svg", alt="icon")
        .it_for__text
          .it_for__heading Gaming
          .it_for__description Online gaming is massively popular. Payment systems for the gaming industry should ideally offer users the chance to play using crypto.
      .it_for__item
        .it_for__icon
          img(src="images/businass/merch_icon6.svg", alt="icon")
        .it_for__text
          .it_for__heading Marketplaces
          .it_for__description There are many platforms used by businesses#[span(class="db")] to sell their products or services. Offering customers crypto payments is now the norm.
      .it_for__item
        .it_for__icon
          img(src="images/businass/merch_icon7.svg", alt="icon")
        .it_for__text
          .it_for__heading Travel industry
          .it_for__description The travel industry is growing sector. With increasing bookings now made online, it makes financial sense to accept crypto payments.
      .it_for__item
        .it_for__icon
          img(src="images/businass/icon8.svg", alt="icon")
        .it_for__text
          .it_for__heading Dating
          .it_for__description Online dating has never been more popular. Offering cryptocurrency payments will help capture a wider market and boost your profits!
      .it_for__item
        .it_for__icon
          img(src="images/businass/icon7.svg", alt="icon")
        .it_for__text
          .it_for__heading Hedge Funds
          .it_for__description Hedge funds can generate hundreds of millions of dollars in management and performance fees. Crypto payments are an obvious choice. 
      .it_for__item
        .it_for__icon
          img(src="images/businass/merch_icon10.svg", alt="icon")
        .it_for__text
          .it_for__heading PSP, EMIs
          .it_for__description PSPs and EMIs can increase their client base with crypto processing facilities. More and more providers are now offering this service.
      