#popup.popup__container
    form(method='POST')
        button(data-popup="popup").popup__container-close_btn
            span ×
        input(placeholder="Code injection" type="text")
        input(placeholder="Name" type="text")
        input(placeholder="E-mail" type="email")
        textarea(placeholder="Message")
        //.bug_bounty-content_buttons
        label.bug_bounty-content_buttons-button.white__button-popup
            +icon('clip', '')
            p Select files
            | #[input(type="file")]
        button(type="submit").bug_bounty-content_buttons-button.green__button-popup.color-white
            p Send
