extends template/main

block variables
    - var title = 'About'
    - var pageClass = 'about white-page'

block content
    .banner__about(style="background-image: url(images/general/aboutus.png);")
        .title__about.color-white About Us
    .container__about
        .container__text-center We carefully monitor global trends in the development of society so we are
            |proud to announce our
            |main goal. We are striving to combine well established currencies with
            |modern financial technologies in order to bring the onset of a new model of global financial environment.
        .container__text-bold And these are not empty words.
    .slider-1
        .slider__wrapper
            .container__background.slider__item(id="slid1")
                .container__background-col.container__block-img(style="background-image: url(images/about/1-about.png);")
                .container__background-col.container__block-text
                    p 1/3
                    .slider__points
                        a(href="#" role="button" data-step="1").slider__control.container__points-active.right__margin-2
                        a(href="#" role="button" data-step="2").slider__control.slider__control_right
                        a(href="#" role="button" data-step="3").slider__control.slider__control_right
                    .block__text Our exchange is fully regulated and operates in accordance with
                        | all the norms and laws of the European Union.
            .container__background.slider__item(id="slid2")
                .container__background-col.container__block-img(style="background-image: url(images/about/2-about.png);")
                .container__background-col.container__block-text
                    p 2/3
                    .slider__points
                        a(href="#" role="button" data-step="1").slider__control.slider__control_left
                        a(href="#" role="button" data-step="2").slider__control.container__points-active.right__margin-1
                        a(href="#" role="button" data-step="3").slider__control.slider__control_right
                    .block__text Our platform combines easy entry conditions, both simple and professional trading tools,
                        | as well as other things, so our services are suitable for individuals,
                        | corporate, and institutional clients
            .container__background.slider__item(id="slid3")
                .container__background-col.container__block-img(style="background-image: url(images/about/3-about.png);")
                .container__background-col.container__block-text
                    p 3/3
                    .slider__points
                        a(href="#" role="button" data-step="1").slider__control.slider__control_left
                        a(href="#" role="button" data-step="2").slider__control.slider__control_left
                        a(href="#" role="button" data-step="3").slider__control.container__points-active
                    .block__text We operate in 95% of all existing jurisdictions and we are working to connect
                        | the citizens of absolutely all countries on our platform.
    .slider-2
        .slider__wrapper
            .container__background.slider__item(id="slid4").reverse
                .container__background-col.container__block-img(style="background-image: url(images/about/1-about.png);")
                .container__background-col.container__block-text(style="height: 468px;")
                    p 1/3
                    .slider__points
                        a(href="#" role="button" data-step="4").slider__control.container__points-active.right__margin-2
                        a(href="#" role="button" data-step="5").slider__control.slider__control_right
                        a(href="#" role="button" data-step="6").slider__control.slider__control_right
                    .block__text Our exchange is fully regulated and operates in accordance with
                        | all the norms and laws of the European Union.
            .container__background.slider__item(id="slid5").reverse
                .container__background-col.container__block-img(style="background-image: url(images/about/2-about.png);")
                .container__background-col.container__block-text(style="height: 468px;")
                    p 2/3
                    .slider__points
                        a(href="#" role="button" data-step="4").slider__control.slider__control_left
                        a(href="#" role="button" data-step="5").slider__control.container__points-active.right__margin-1
                        a(href="#" role="button" data-step="6").slider__control.slider__control_right
                    .block__text Our platform combines easy entry conditions, both simple and professional trading tools,
                        | as well as other things, so our services are suitable for individuals,
                        | corporate, and institutional clients
            .container__background.slider__item(id="slid6").reverse
                .container__background-col.container__block-img(style="background-image: url(images/about/3-about.png);")
                .container__background-col.container__block-text(style="height: 468px;")
                    p 3/3
                    .slider__points
                        a(href="#" role="button" data-step="4").slider__control.slider__control_left
                        a(href="#" role="button" data-step="5").slider__control.slider__control_left
                        a(href="#" role="button" data-step="6").slider__control.container__points-active
                    .block__text We operate in 95% of all existing jurisdictions and we are working to connect
                        | the citizens of absolutely all countries on our platform.
    .slider-3
        .slider__wrapper
            .container__background.slider__item(id="slid7")
                .container__background-col.container__block-img(style="background-image: url(images/about/1-about.png);")
                .container__background-col.container__block-text.last__slide
                    p 1/3
                    .slider__points
                        a(href="#" role="button" data-step="7").slider__control.container__points-active.right__margin-2
                        a(href="#" role="button" data-step="8").slider__control.slider__control_right
                        a(href="#" role="button" data-step="9").slider__control.slider__control_right
                    .block__text Our exchange is fully regulated and operates in accordance with
                        | all the norms and laws of the European Union.
            .container__background.slider__item(id="slid8")
                .container__background-col.container__block-img(style="background-image: url(images/about/2-about.png);")
                .container__background-col.container__block-text.last__slide
                    p 2/3
                    .slider__points
                        a(href="#" role="button" data-step="7").slider__control.slider__control_left
                        a(href="#" role="button" data-step="8").slider__control.container__points-active.right__margin-1
                        a(href="#" role="button" data-step="9").slider__control.slider__control_right
                    .block__text Our platform combines easy entry conditions, both simple and professional trading tools,
                        | as well as other things, so our services are suitable for individuals,
                        | corporate, and institutional clients
            .container__background.slider__item(id="slid9")
                .container__background-col.container__block-img(style="background-image: url(images/about/3-about.png);")
                .container__background-col.container__block-text.last__slide
                    p 3/3
                    .slider__points
                        a(href="#" role="button" data-step="7").slider__control.slider__control_left
                        a(href="#" role="button" data-step="8").slider__control.slider__control_left
                        a(href="#" role="button" data-step="9").slider__control.container__points-active
                    .block__text We operate in 95% of all existing jurisdictions and we are working to connect
                        | the citizens of absolutely all countries on our platform.
    .container__background
        .container__contact
            .container__contact-title We welcome any comments and are open to any suggestions
            p General:&nbsp;
                a(href="mailto:contact@b2bx.exchange") contact@b2bx.exchange
            p Support:&nbsp;
                a(href="mailto:support@b2bx.exchange") support@b2bx.exchange
            p Security department:&nbsp;
                a(href="mailto:security@b2bx.exchange") security@b2bx.exchange
            p(style="margin-top: 40px;") B2BX Digital Exchange OÜ, address: C.R. Jakobsoni tn 3-7, 10128, Tallin,
                |Estonia. License NoFVR000514, dated 08.11.2018. License NoFRK000558, dated 18.01.2019
            p Official information regarding license can be found on the state website of Estonian Ministry of Economics
        div(id="map" style="height:600px; overflow: visible;")
            script(src="js/map.js")
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcfh54wGqRENaFnhNKNf1izYF2bf3Texg&callback=initMap"
                async defer)
