extends template/main

block variables
    -var title = 'About B2Broker'
    - var pageClass = 'bigAnimation'
    -var newFooter = true

block content
    include modules/about/events_screen
    include modules/about/_about_grid
    include modules/about/_review
    include modules/about/_brand
    include modules/about/_mission
    include modules/about/_values
    include modules/about/_resault
    include modules/about/_hiring
    include modules/about/_hiring_slider
    include modules/about/_contact_form
    include modules/mam_platform/_footer-menu-section-2