extends template/main

block variables
    - var title = 'b2_core'
    -var newFooter = true

block content
    include modules/b2_core/_b2_core
    include modules/b2_core/_what_is_block
    include modules/b2_core/_who_uses_block
    include modules/b2_core/_b2_packages
    include modules/b2_core/_b2_form
    include modules/b2_core/_who_is_it_for
    include modules/b2_core/_connect
    include modules/b2_core/_features
    include modules/b2_core/_benefits
    include modules/b2_core/_demo
    include modules/b2_core/_cutting
    include modules/b2_core/_mam_frame
    include modules/b2_core/_b2_form_2
    include modules/b2_core/_translate
    include modules/b2_core/_notification
    include modules/b2_core/_back_office
    include modules/b2_core/_registration
    include modules/b2_core/_b2_form_3
    include modules/b2_core/_exchanger
    include modules/b2_core/_integrated
    include modules/b2_core/_b2_form_4
    include modules/b2_core/_registration_2
    include modules/b2_core/_catalog_section
    include modules/b2_core/_kyc
    include modules/b2_core/_sacurity
    include modules/b2_core/_anty_fraud
    include modules/b2_core/_b2_form
    include modules/b2_core/_integrations
    include modules/b2_core/_mobile_app
    include modules/b2_core/_external
    include modules/b2_core/_b2_form_5
    include modules/b2_core/_cloud
    include modules/b2_core/_education
    include modules/b2_core/_staging
    include modules/b2_core/_many
    include modules/b2_core/_b2_form_6
    include modules/b2_core/_technical
    include modules/b2_core/_b2_works
    include modules/b2_core/_faq
    include modules/b2_core/_b2_form_7
    include modules/b2_core/_best
    include modules/mam_platform/_footer-menu-section-2