extends template/main

block variables
    - var title = 'b2_core'
    -var newFooter = true

block content
    include modules/b2_core/_b2_core
    include modules/b2_core/_what_is_block
    include modules/b2_core/_who_uses_block
    include modules/b2_core/_b2_packages
    include modules/b2_core/_b2_form
    include modules/b2_core/_who_is_it_for
    include modules/b2_core/_connect
    include modules/b2_core/_features
    include modules/b2_core/_benefits
    include modules/b2_core/_demo
    include modules/b2_core/_cutting
    include modules/b2_core/_mam_frame
    include modules/b2_core/_b2_form_2
    include modules/b2_core/_translate
    include modules/b2_core/_back_office
    include modules/b2_core/_registration
    include modules/mam_platform/_footer-menu-section-2