extends template/main

block variables
	- var title = 'B2 Margin'
	- var pageClass = 'black-page'

block content
	include modules/b2margin/_main_forex
	include modules/b2margin/_section-3
	include modules/b2margin/_enguine
	include modules/b2margin/_infrastructure
	include modules/b2margin/_b2_form
	include modules/b2margin/_gui
	include modules/b2margin/_dyno
	include modules/b2margin/_leverage
	include modules/b2margin/_benefits
	include modules/b2margin/_customization
	include modules/b2margin/_settings
	include modules/b2margin/_adm_panel
	include modules/b2margin/_dif_types
	include modules/b2margin/_arch
	include modules/b2margin/_risk
	include modules/b2margin/_reduce
	include modules/b2margin/_education
	include modules/b2margin/_technical
	include modules/b2margin/_watch_videos
	include modules/b2margin/_faq
	include modules/b2margin/_b2_form2
	include modules/b2margin/_best
	include modules/mam_platform/_footer-menu-section-2