extends template/main

block variables
    - var title = 'Contacts'
    -var newFooter = true

block content
    include modules/contacts/events_screen
    include modules/contacts/_lema
    include modules/contacts/_contact_form
    include modules/contacts/_hiring
    include modules/mam_platform/_footer-menu-section-2