extends template/main

block variables
    - var title = 'Copy trading'
    - var pageClass = 'MAM_platform'
    -var newFooter = true

block content
    include modules/copy_trading/_section-1
    include modules/copy_trading/_what_is
    include modules/copy_trading/_investment
    include modules/copy_trading/_mam_form
    include modules/mam_platform/_state_of_art
    include modules/mam_platform/_strategies
    include modules/copy_trading/_chance
    include modules/copy_trading/_mam_form
    include modules/copy_trading/_make_traders
    include modules/mam_platform/_four_types
    include modules/copy_trading/ct_works
    include modules/mam_platform/_mam_frame
    include modules/copy_trading/_mam_form
    include modules/copy_trading/_money_managers
    include modules/mam_platform/_make_money
    include modules/copy_trading/_mam_form
    include modules/mam_platform/_comparison
    include modules/copy_trading/_rest
    include modules/mam_platform/_or_features
    include modules/mam_platform/_color_scheme
    include modules/mam_platform/_faq
    include modules/copy_trading/_mam_form
    include modules/mam_platform/_best
    include modules/mam_platform/_subscribe_form
    include modules/mam_platform/_footer-menu-section-2