extends template/main

block variables
	- var title = 'Crypto Exchange Software'
	- var pageClass = 'crypto_software small_header_page small_footer_page'
	- var smallPage = true

block content
	include modules/crypto_software/main_screen