extends template/main

block variables
    - var title = 'Documents'
    - var pageClass = 'documents black-page'

block content
    .documents__container
        .documents__container-block
            .documents__container-block_text
                .documents__container-block_text-title Documents
                .documents__container-block_img-mob
                    img(src="./images/content/document.png")
                .documents__container-block_text-sub
                    p B2BX Digital Exchange OÜ, address: C.R. Jakobsoni tn 3-7, 10128, Tallin, Estonia.
                        |#[br] License NoFVR000514, dated 08.11.2018
                        |#[br] License NoFRK000558, dated 18.01.2019
                    p Official information regarding license can be found on the
                        |&nbsp;
                        a(href="" style="text-decoration: underline; font-weight: 400;") state website of Estonia.
                    p B2BX exchange doesn’t provide leverage trading or CFD trading with cryptocurrency.
                    p For any questions, please
                        |&nbsp;
                        a(href="" style="text-decoration: underline; font-weight: 400;") contact us!
            .documents__container-block_img
                img(src="./images/content/document.png")
        .documents__container-docs
            .documents__container-docs_col
                .documents__container-docs_item
                    +icon('doc', '')
                    a(href="") Customer Agreement
                .documents__container-docs_item
                    +icon('doc', '')
                    a(href="") Privacy Policy
                .documents__container-docs_item
                    +icon('doc', '')
                    a(href="") AML & KYC Policy
            .documents__container-docs_col
                .documents__container-docs_item
                    +icon('doc', '')
                    a(href="") Cookie Policy
                .documents__container-docs_item
                    +icon('doc', '')
                    a(href="") Risk Disclosure
                .documents__container-docs_item
                    +icon('doc', '')
                    a(href="") API Agreement
            .documents__container-docs_col
                .documents__container-docs_item
                    +icon('doc', '')
                    a(href="") Complaints Policy
                .documents__container-docs_item
                    +icon('doc', '')
                    a(href="") Order Execution Policy
                .documents__container-docs_item
                    +icon('doc', '')
                    a(href="") Summary of Conflicts
