extends template/main

block variables
    - var title = 'enterprise'
    -var newFooter = true

block content
    include modules/enterprise/_main_section
    include modules/enterprise/_section-3
    include modules/enterprise/_enguine
    include modules/enterprise/_how_block
    include modules/enterprise/_new_form
    include modules/enterprise/_reinvent
    include modules/enterprise/_technology
    include modules/enterprise/_flow
    include modules/enterprise/_invoiced
    include modules/enterprise/_lang
    include modules/enterprise/_new_form2
    include modules/enterprise/_who_is_it_for
    include modules/enterprise/_transaction
    include modules/enterprise/_demo
    include modules/enterprise/_who_is_it_for2
    include modules/enterprise/_fully
    include modules/enterprise/_aml
    include modules/enterprise/_sacurity
    include modules/enterprise/_exchange
    include modules/enterprise/_new_form3
    include modules/enterprise/_mam_frame
    include modules/enterprise/_aveible
    include modules/enterprise/_features
    include modules/enterprise/_new_form3
    include modules/enterprise/_who_is_it_for3
    include modules/enterprise/_benefits
    include modules/enterprise/_new_form2
    include modules/enterprise/_solushen
    include modules/enterprise/_configuration
    include modules/enterprise/_envairoment
    include modules/enterprise/_anty_fraud
    include modules/enterprise/_reporting
    include modules/enterprise/_new_form3
    include modules/enterprise/_catalog_section
    include modules/enterprise/_section-20
    include modules/enterprise/_faq
    include modules/enterprise/_new_form4
    include modules/enterprise/_best
    include modules/mam_platform/_footer-menu-section-2