extends template/main

block variables
    - var title = 'Fee Schedule'
    - var pageClass = 'fee_schedule black-page'

block content
    .title__fee(style="background-image: url(images/general/fee-schedule.png);")
        .title__text.color-white Fee
            |#[br] Schedule
    .container__content
        .container__title Trading Fees
        .container__block
            .container__row
                .container__column.container__column-grey
                    .container__column-title Basic Fee
                        |#[br]
                        |for Crypto/Crypto Pairs
                    .container__block-row
                        .container__block-column
                            .column__text.text__main Maker Fee
                            .column__number.text__black 0.24%
                        +icon('line-grey', '')
                        .container__block-column.margin__left-10
                            .column__text.text__main Taker Fee
                            .column__number.text__black 0.24%
                .container__column.container__column-grey
                    .container__column-soon Coming Soon
                    .container__column-title Basic Fee
                        |#[br]
                        |for Fiat-Crypto Pairs
                    .container__block-row
                        .container__block-column
                            .column__text.text__main Maker Fee
                            .column__number.text__black 0.39%
                        +icon('line-grey', '')
                        .container__block-column.margin__left-10
                            .column__text.text__main Taker Fee
                            .column__number.text__black 0.43%
        .container__block
            .container__row
                .container__column.container__column-main.column_background(style="background-image: url(../../../images/general/trading-back.png);")
                    .container__column-title.text__white Basic Fee
                        |#[br]
                        |for Crypto/Crypto Pairs
                    .container__block-row
                        .container__block-column
                            .column__text.text__black Maker Fee
                            .column__number.text__white 0.14%
                        +icon('line', '')
                        .container__block-column.margin__left-10
                            .column__text.text__black Taker Fee
                            .column__number.text__white 0.14%
                .container__column.container__column-main.column_background(style="background-image: url(../../../images/general/trading-back.png);")
                    .container__column-title.text__white Basic Fee
                        |#[br]
                        |for Fiat-Crypto Pairs
                    .container__block-row
                        .container__block-column
                            .column__text.text__black Maker Fee
                            .column__number.text__white 0.24%
                        +icon('line', '')
                        .container__block-column.margin__left-10
                            .column__text.text__black Taker Fee
                            .column__number.text__white 0.24%
    .container__content
        .container__title Deposit Fees
        .container__title-sub Fiat currency deposits conditions
        .container__tableCurrent
            .container__buttons
                button(type="button" onclick="openTable(event, 'table-1')").button_style.tablinks.container__button-left.button_active.btn-stop for corporate clients
                button(type="button " onclick="openTable(event, 'table-2')").button_style.tablinks.btn-stop for individuals
            .container__table(id="table-1")
                table
                    tr
                        th(style="width: 23%;") Deposit Way
                        th Conditions
                    tr
                        td SWIFT (USD)
                        td the deposit fee is 1.5% (but not less than USD 100) the minimum deposit amount is USD 1,000
                            |per transaction
                    tr
                        td SWIFT (EUR)
                        td the deposit fee is 1.5% (but not less than EUR 100) the minimum deposit amount is EUR 1,000
                            |per transaction
                    tr
                        td SWIFT (EUR)
                        td the minimum deposit amount is EUR 1,000 per transaction, the deposit fee is 0.5%
                            |(but not less than EUR 10)
                    tr
                        td EPay (EUR, USD)
                        td 0.5% + providers fee
                    tr
                        td Mistertango
                        td 0% + providers fee
            .container__table(id="table-2")
                table(style="background: grey;")
                    tr
                        th(style="width: 23%;") Deposit Way
                        th Conditions
                    tr
                        td SWIFT (USD)
                        td the deposit fee is 1.5% (but not less than USD 100) the minimum deposit amount is USD
                            |1,000 per transaction
                    tr
                        td SWIFT (EUR)
                        td the deposit fee is 1.5% (but not less than EUR 100) the minimum deposit amount is EUR
                            |1,000 per transaction
                    tr
                        td SWIFT (EUR)
                        td the minimum deposit amount is EUR 1,000 per transaction, the deposit fee is
                            |0.5% (but not less than EUR 10)
                    tr
                        td EPay (EUR, USD)
                        td 0.5% + providers fee
                    tr
                        td Mistertango
                        td 0% + providers fee
        .container__title-sub Cryptocurrency deposits
        .container__text We do not charge any fees on deposits made with cryptocurrencies; all blockchain
            |commissions are on the client side
        .container__title Withdrawal Fees
        .container__title-sub Fiat currency deposits conditions
        .container__tableCurrent
            .container__buttons
                button(type="button" onclick="openTable(event, 'table-3')").button_style.tablinks.container__button-left.button_active.btn-stop for corporate clients
                button(type="button " onclick="openTable(event, 'table-4')").button_style.tablinks.btn-stop for individuals
            .container__table(id="table-3")
                table
                    tr
                        th(style="width: 23%;") Deposit Way
                        th Conditions
                    tr
                        td SWIFT (USD)
                        td the deposit fee is 1.5% (but not less than USD 100) the minimum deposit amount is USD 1,000
                            | per transaction
                    tr
                        td SWIFT (EUR)
                        td the deposit fee is 1.5% (but not less than EUR 100) the minimum deposit amount is EUR 1,000
                            | per transaction
                    tr
                        td SWIFT (EUR)
                        td the minimum deposit amount is EUR 1,000 per transaction, the deposit fee is 0.5%
                            | (but not less than EUR 10)
                    tr
                        td EPay (EUR, USD)
                        td 0.5% + providers fee
                    tr
                        td Mistertango
                        td 0% + providers fee
            .container__table(id="table-4")
                table(style="background: grey;")
                    tr
                        th(style="width: 23%;") Deposit Way
                        th Conditions
                    tr
                        td SWIFT (USD)
                        td the deposit fee is 1.5% (but not less than USD 100) the minimum deposit amount is USD
                            | 1,000 per transaction
                    tr
                        td SWIFT (EUR)
                        td the deposit fee is 1.5% (but not less than EUR 100) the minimum deposit amount is EUR
                            | 1,000 per transaction
                    tr
                        td SWIFT (EUR)
                        td the minimum deposit amount is EUR 1,000 per transaction, the deposit fee is
                            | 0.5% (but not less than EUR 10)
                    tr
                        td EPay (EUR, USD)
                        td 0.5% + providers fee
                    tr
                        td Mistertango
                        td 0% + providers fee
        .container__title-sub Cryptocurrency deposits
        .container__text We do not charge any fees on deposits made with cryptocurrencies; all blockchain
                | commissions are on the client side
        .container__tableCurrent
            .container__table
                table
                    tr
                        th(style="width: 23%;") Cryptocurrency
                        th Fee
                    tr
                        td
                            +icon('ADA', '')
                            |ADA (Cardano)
                        td the deposit fee is 1.5% (but not less than USD 100) the minimum deposit amount is USD
                            |1,000 per transaction
                    tr
                        td
                            +icon('BCH', '')
                            |BCH (Bitcoin Cash)
                        td the deposit fee is 1.5% (but not less than EUR 100) the minimum deposit amount is EUR
                            |1,000 per transaction
                    tr
                        td
                            +icon('LTC', '')
                            |LTC (Litecoin)
                        td the minimum deposit amount is EUR 1,000 per transaction, the deposit fee is 0.5%
                            |(but not less than EUR 10)
                    tr
                        td
                            +icon('DASH', '')
                            |DASH (DASH)
                        td 0.5% + providers fee
                    tr
                        td
                            +icon('ETH', '')
                            |ETH (Ether)
                        td 0% + providers fee
