extends template/main

block variables
	- var title = 'Forex Broker TK'
	- var pageClass = 'forex_tk'

block content
	include modules/forex_tk/_main_screen
	include modules/forex_tk/_what_tk_section
	include modules/forex_tk/_comparison
	include modules/forex_tk/_tex_flow
	include modules/forex_tk/_form
	include modules/forex_tk/_pac_ad
	include modules/forex_tk/_watch_videos
	include modules/forex_tk/_steps
	include modules/forex_tk/_strategy
	include modules/forex_tk/_guide
	include modules/forex_tk/_b_modal
	include modules/forex_tk/_form2
	include modules/forex_tk/_faq
	include modules/forex_tk/_best
	include modules/mam_platform/_footer-menu-section-2

block script
	script(src="js/jquery.drawsvg.js")
	script(src="js/svgline.js")
