extends template/main

block variables
    -var title = 'Future Events'
    - var pageClass = 'navbar_animation'
    -var newFooter = true

block content
    include modules/future_events/events_screen
    include modules/future_events/events_content
    include modules/mam_platform/_footer-menu-section-2