extends template/main

block variables
    - var title = 'Guides'
    - var pageClass = 'guides black-page'

block content
    .guides__content
        .guides__content-title.color-black Guides
        .guides__content-flexbox
            .guides__content-flexbox_row
                .guides__content-flexbox_block(style="background-image: url(images/guides/guide-1.png);")
                    .guides__content-flexbox_block-title Cryptocurrencies
                    .guides__content-flexbox_block-hrefs
                        a(href="").indent-1.color-green Read
                .guides__content-flexbox_block(style="background-image: url(images/guides/guide-2.png);")
                    .guides__content-flexbox_block-title Exchange video guides
                    .guides__content-flexbox_block-hrefs
                        a(href="").color-black ORDER TYPES
                        a(href="").color-black TRADER’S ROOM
                        a(href="").color-black WEBSITE NAVIGATIO
                        a(href="").indent-2.indent-3.color-green Read
            .guides__content-flexbox_row
                .guides__content-flexbox_block(style="background-image: url(images/guides/guide-3.png);")
                    .guides__content-flexbox_block-title Trading basics
                    .guides__content-flexbox_block-hrefs
                        a(href="").color-black  OPINION
                        a(href="").color-black  FUNDAMENTAL ANALYSIS
                        a(href="").color-black  TECHNICAL ANALYSIS
                        a(href="").indent-2.indent-4.color-green Read
                .guides__content-flexbox_block(style="background-image: url(images/guides/guide-4.png);")
                    .guides__content-flexbox_block-title Trading tips
                    .guides__content-flexbox_block-hrefs
                        a(href="").indent-1.color-green Read




