extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'black-page'

block content
	include modules/main/_section-1
	include modules/main/_advantages
	include modules/main/_latest-news
