extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'black-page'

block content
	include modules/main/_section-1
	include modules/main/_section-2
	include modules/main/_section-3
	include modules/main/_section-4
	include modules/main/_section-5
	include modules/main/_section-6
	include modules/main/_section-8white
	include modules/main/_section-7
	include modules/main/_section-9
	include modules/main/_section-10
	include modules/main/_section-11
	include modules/main/_section-12
	include modules/main/_section-13
	include modules/main/_section-8white
	include modules/main/_section-14
	include modules/main/_section-15
	include modules/main/_section-16
	include modules/main/_section-17
	include modules/main/_section-18
	include modules/main/_section-8white
	include modules/main/_section-19
	include modules/main/_section-20
	include modules/main/_section-21
	include modules/main/_section-22
	include modules/main/_section-8
	include modules/main/_section-23
	include modules/main/_section-24
	include modules/main/_footer-menu-section