extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'black-page'

block content
	include modules/main/_top-screen
	.liquidity-widget(style="background-image:url(images/main/bckg1.png);")
		include modules/main/_widget-currencies
		include modules/main/_widget-screen
	include modules/main/_advantages
	include modules/main/_open-account
	include modules/main/_latest-news
