extends template/main

block variables
    -var title = 'Join webinar'
    - var pageClass = 'navbar_animation'
    -var newFooter = true

block content
    include modules/join_webinar/_webinars
    include modules/join_webinar/_join_content
    include modules/join_webinar/_join_form_block
    include modules/mam_platform/_footer-menu-section-2