extends template/main

block variables
    -var title = 'Join webinar 2'
    - var pageClass = 'navbar_animation circle_anim'
    -var newFooter = true

block content
    include modules/join_webinar/_webinars
    include modules/join_webinar/_join_content2
    include modules/mam_platform/_footer-menu-section-2