extends template/main

block variables
    -var title = 'LEGAL INFORMATION AND DISCLAIMERS'
    -var newFooter = true

block content
    include modules/legal/_legal_iad__content
    include modules/legal/_hiring_iad
    include modules/mam_platform/_footer-menu-section-2