extends template/main

block variables
    -var title = 'COOKIE POLICY'
    -var newFooter = true

block content
    include modules/legal/_legal__cookie
    include modules/legal/_hiring_cookie
    include modules/mam_platform/_footer-menu-section-2