extends template/main

block variables
    - var title = 'main_page'
    -var pageClass = 'circle_anim'
    -var newFooter = true

block content
    include modules/main_page/_main_section
    //- include modules/main_page/_main_section-test
    include modules/main_page/_watch_us
    include modules/main_page/_product_tabs
    include modules/main_page/_news
    include modules/main_page/_future
    include modules/main_page/_webinars
    include modules/main_page/_webinars_schedule
    include modules/main_page/_hear
    include modules/main_page/_hiring
    include modules/main_page/_also
    include modules/main_page/_white_form
    include modules/mam_platform/_footer-menu-section-2