extends template/main

block variables
    - var title = 'main_page'
    -var newFooter = true

block content
    include modules/main_page/_main_section
    include modules/main_page/_watch_us
    include modules/mam_platform/_footer-menu-section-2