extends template/main

block variables
    - var title = 'MAM platform'
    - var pageClass = 'MAM_platform'
    - var newFooter = true
    - var newHeader = true

block content
    include modules/mam_platform/_section-1
    include modules/mam_platform/_what_is
    include modules/mam_platform/_features
    include modules/mam_platform/_actions
    include modules/mam_platform/_mam_form
    include modules/mam_platform/_opportunities
    include modules/mam_platform/_state_of_art
    include modules/mam_platform/_strategies
    include modules/mam_platform/_four_types
    include modules/mam_platform/_mam_frame
    include modules/mam_platform/_mam_form
    include modules/mam_platform/_money_managers
    include modules/mam_platform/_make_money
    include modules/mam_platform/_mam_form
    include modules/mam_platform/_comparison
    include modules/mam_platform/_rest
    include modules/mam_platform/_or_features
    include modules/mam_platform/_color_scheme
    include modules/mam_platform/_faq
    include modules/mam_platform/_mam_form
    include modules/mam_platform/_best
    include modules/mam_platform/_subscribe_form
    include modules/mam_platform/_footer-menu-section-2