extends template/main

block variables
    - var title = 'MAM platform'
    - var pageClass = 'MAM_platform'

block content
    include modules/mam_platform/_section-1
    include modules/mam_platform/_what_is
    include modules/mam_platform/_features
    include modules/mam_platform/_actions
    include modules/mam_platform/_mam_form
    include modules/mam_platform/_opportunities