extends template/main

block variables
    - var title = 'merchants'
    -var newFooter = true

block content
    include modules/merchants/_main_section
    include modules/merchants/_section-3
    include modules/merchants/_enguine
    include modules/merchants/_how_block
    include modules/merchants/_new_form
    include modules/merchants/_flow
    include modules/merchants/_invoiced
    include modules/merchants/_lang
    include modules/merchants/_commission
    include modules/merchants/_volatility
    include modules/merchants/_segment
    include modules/merchants/_new_form3
    include modules/merchants/_who_is_it_for2
    include modules/merchants/_fully
    include modules/merchants/_aml
    include modules/merchants/_sacurity
    include modules/merchants/_exchange
    include modules/merchants/_new_form3
    include modules/merchants/_mam_frame
    include modules/merchants/_aveible
    include modules/merchants/_fully2
    include modules/merchants/_features
    include modules/merchants/_demo
    include modules/merchants/_who_is_it_for3
    include modules/merchants/_benefits
    include modules/merchants/_new_form2
    include modules/merchants/_solushen
    include modules/merchants/_configuration
    include modules/merchants/_envairoment
    include modules/merchants/_anty_fraud
    include modules/merchants/_reporting
    include modules/merchants/_new_form3
    include modules/merchants/_tools
    include modules/merchants/_anywhere
    include modules/merchants/_catalog_section
    include modules/merchants/_section-20
    include modules/merchants/_faq
    include modules/merchants/_new_form4
    include modules/merchants/_best
    include modules/mam_platform/_footer-menu-section-2