extends template/main

block variables
    -var title = 'Partners'
    - var pageClass = 'navbar_animation'
    -var newFooter = true

block content
    include modules/partners/_webinars
    include modules/partners/_partners_content
    include modules/mam_platform/_footer-menu-section-2