extends template/main

block variables
    - var title = 'Partners'
    - var pageClass = 'partners black-page'

block content
    .partners__content
        .partners__content-title Partners
        .partners__content-title_sub On this page, you will find information about our business partners, each of
            |them is a
            |#[br]
            |well-known and respected name in the industry
        .partners__content-title_sub-mob On this page, you will find information about our business partners, each of
            | them is a well-known and respected name in the industry
        .partners__content-block
            .partners__content-block_logo
                img(src="./images/partners/1-part.png")
            .partners__content-block_text
                .partners__content-block_text-title Technology provider
                .partners__content-block_text-sub
                    a(href="") B2Broker
                    |&nbsp;
                    |is a technology provider of trading infrastructure,
                    |transaction security and system stability. Global Cryptocurrency, Forex, CFD’s liquidity provider
                    |and technology solutions for FOREX and CRYPTO industries. B2Broker offers a wide range of products
                    |including turnkey solutions for crypto and forex brokers, crypto exchanges.
        .partners__content-block
            .partners__content-block_logo
                img(src="./images/partners/2-part.png")
            .partners__content-block_text
                .partners__content-block_text-title Cryptocurrency wallets solution
                .partners__content-block_text-sub
                    a(href="") B2BinPAY
                    |&nbsp;
                    |offers advanced infrastructure solutions for cryptocurrency
                    |wallets to crypto Exchanges and crypto Brokers. The system has a multi-level solution for hot,
                    |warm and cold wallets, as well as provides security and reliability of the crypto exchange and
                    |safety of client’s funds.
        .partners__content-block
            .partners__content-block_logo
                img(src="./images/partners/3-part.png")
            .partners__content-block_text
                .partners__content-block_text-title Identity Verification System (KYC) provider
                .partners__content-block_text-sub The ldentityMind platform provides with an automated customer
                    |onboarding process supported by a global online identity verification service that allows
                    |us to verify customer data using risk score digital identities to ensure anti-money laundering
                    |(AML) compliance, combined with new account fraud prevention.
        .partners__content-block
            .partners__content-block_logo
                img(src="./images/partners/4-part.png")
            .partners__content-block_text
                .partners__content-block_text-title Charting service by TradingView
                .partners__content-block_text-sub «TradingView is the best, most powerful and easy to use charting
                    |service. As a bonus, you can share ideas and learn from others in real time.» TradingView is
                    |a place where stock charts are front-and-center. TradingView combines stock, cryprto & forex
                    |charts with a community of investors who share their trading ideas.
        .partners__content-block
            .partners__content-block_logo
                img(src="./images/partners/5-part.png")
            .partners__content-block_text
                .partners__content-block_text-title BiShiJie
                .partners__content-block_text-sub A leading blockchain and cryptocurrency news platform In China
                    |and Korea. BiShiJie is a reputed platform for listing top tokens and exchanges as well as
                    |a media and community service platform, helping to build a community of cryptocurrency investors
                    |in China and Korea. As a hub for one of the most influential blockchain media & crypto communities
                    |in the region, the platform features well-connected projects, traders and exchanges.
                    |The platform also boasts excellent media exposure with the app having been downloaded over
                    |1 million times and daily active users numbering around 350,000.
        .partners__content-block
            .partners__content-block_logo
                img(src="./images/partners/6-part.png")
            .partners__content-block_text
                .partners__content-block_text-title Feixiaohao
                .partners__content-block_text-sub Established in Shenzhen in August 2017, Feixiaohao is one of the
                    |earliest digital currency market analysis platforms in China’s blockchain industry with a
                    |mission to “build a neutral, authoritative blockchain integrated information platform while
                    |providing users with high-quality blockchain information sharing services”.
        .partners__content-block
            .partners__content-block_logo
                img(src="./images/partners/7-part.png")
            .partners__content-block_text
                .partners__content-block_text-title CoinMarketCap
                .partners__content-block_text-sub Coinmarketcap is used to get an overview of the cryptocurrency
                    |market. Coinmarketcap contains important information about cryptocurrency. For example: market
                    |capitalization, market price, daily volume, circulating supply and change for 24h
        .partners__content-block
            .partners__content-block_logo
                img(src="./images/partners/8-part.png")
            .partners__content-block_text
                .partners__content-block_text-title Gemini Dollar
                .partners__content-block_text-sub The Gemini dollar is a cryptographic token that is issued by
                    |a New York trust company, strictly pegged 1:1 to the U.S. dollar, and built on the Ethereum
                    |network according to the ERC20 standard for tokens. The Gemini dollar is a stable value coin
                    |that combines the creditworthiness and price stability of the U.S. dollar with the technological
                    |advantages of a cryptocurrency and the oversight of U.S. regulators.


