extends template/main

block variables
    - var title = 'Payment Methods'
    - var pageClass = 'payment black-page'

block content
    .payment__content
        .payment__content-title Payment Methods
        .payment__content-block
            .payment__content-block_logo
                img(src="./images/payment/1-pay.png")
            .payment__content-block_text
                .payment__content-block_text-title UPayCard
                .payment__content-block_text-sub
                    ol
                        li USD, EUR, GBP deposit conditions: no minimum deposit amount, the deposit fee is 3%
                        li USD, EUR, GBP withdrawal conditions: the withdrawal fee is 1%
                    p Instant transfer
                    a(href="") Instruction
        .payment__content-block
            .payment__content-block_logo
                img(src="./images/payment/2-pay.png")
            .payment__content-block_text
                .payment__content-block_text-title Epay
                .payment__content-block_text-sub
                    ol
                        li USD, EUR deposit conditions: no minimum deposit amount, the deposit fee is 6%
                        li USD, EUR withdrawal conditions: the withdrawal fee is 2%
                    p Instant transfer
                    a(href="") Instruction
        .payment__content-block
            .payment__content-block_logo
                img(src="./images/payment/3-pay.png")
            .payment__content-block_text
                .payment__content-block_text-title Mistertango e-wallet
                .payment__content-block_text-sub
                    ol
                        li EUR deposit: no minimum deposit amount, no fee
                        li EUR withdrawal: no minimum withdrawal amount, no fee
                    p Instant transfer
                    a(href="") Instruction
        .payment__content-block
            .payment__content-block_logo
                img(src="./images/payment/4-pay.png")
            .payment__content-block_text
                .payment__content-block_text-title SEPA bank transfer
                .payment__content-block_text-sub
                    ol
                        li EUR deposit: the minimum deposit amount is EUR 1,000.00 per transaction, the deposit fee is
                            |&nbsp;0.5% (but not less than EUR 10)
                        li EUR withdrawal: the minimum withdrawal amount is EUR 1,000.00 per transaction, the maximum
                            |withdrawal amount is EUR 250,000.00 per transaction, the withdrawal fee is 0.5% (but not
                            |less than EUR 10)
                    p It usually takes 2 to 3 days to transfer funds
                    a(href="") Instruction
        .payment__content-block
            .payment__content-block_logo(style="align-self: baseline;")
                img(src="./images/payment/5-pay.png")
            .payment__content-block_text
                .payment__content-block_text-title SWIFT bank transfer
                .payment__content-block_text-sub
                    ol
                        li USD deposit for individuals: the minimum deposit amount is USD 50,000.00 per transaction,
                            |the deposit fee is 1.5% (but not less than USD 100.00)
                        li USD deposit for corporate clients: the minimum deposit amount is USD 1,000.00 per
                            |transaction, the deposit fee is 1.5% (but not less than USD 100.00)
                        li USD withdrawal for individuals: the minimum withdrawal amount is USD 50,000.00 per
                            |transaction,the withdrawal fee is 2% (but not less than USD 100.00)
                        li USD withdrawal for corporate clients: the minimum withdrawal amount is USD 1,000.00 per
                            |transaction, the withdrawal fee is 2% (but not less than USD 100.00)
                        li EUR deposit: the minimum deposit amount is EUR 1,000.00 per transaction, the deposit fee is
                            |1.5%(but not less than EUR 100.00)
                        li EUR withdrawal: the minimum withdrawal amount is EUR 1,000.00 per transaction, the maximum
                            |withdrawal amount is EUR 250,000.00 per transaction, the withdrawal fee is 2% (but not less
                            |than EUR 100.00)
                    p It usually takes 2 to 3 days to transfer funds
                    a(href="") Instruction
        .payment__content-block
            .payment__content-block_logo
                img(src="./images/payment/6-pay.png")
            .payment__content-block_text
                .payment__content-block_text-title Bilderlings Pay (SEPA)
                .payment__content-block_text-sub
                    ol
                        li EUR deposit: the minimum deposit amount is EUR 1,000.00 per transaction, the deposit
                            |fee is 1.5%
                        li EUR withdrawal: the minimum withdrawal amount is EUR 1,000.00 per transaction,
                            |the withdrawal fee is 0.5%
                    p It usually takes 2 to 3 days to transfer funds
                    a(href="") Instruction
