extends template/main

block variables
	- var title = 'Spot Metals'
	- var pageClass = 'black-page'

block content
	include modules/spot_metals/_main_forex
	include modules/spot_metals/_section-3
	include modules/main/_genuine
	include modules/main/_section-4
	include modules/main/_flow
	include modules/main/_section-6
	include modules/main/_section-7
	include modules/main/_segment
	include modules/main/_reduce
	include modules/main/_products
	include modules/main/_section-9
	include modules/main/_new_form
	include modules/main/_section-18
	include modules/main/_section-11
	include modules/main/_section-10
	include modules/main/_section-12
	include modules/main/_section-13
	include modules/main/_new_form
	include modules/spot_metals/_section-14
	include modules/main/_section-15
	include modules/main/_mam_frame
	include modules/main/_section-17
	include modules/main/_new_form
	include modules/main/_section-19
	include modules/main/_section-20
	include modules/main/_faq
	include modules/main/_best
	include modules/main/_new_form
	include modules/mam_platform/_footer-menu-section-2