extends template/main

block variables
    - var title = 'Team'
    -var newFooter = true

block content
    include modules/team/events_screen
    include modules/team/_includes
    include modules/team/_click_to_watch
    include modules/team/_generation
    include modules/team/_engineers
    include modules/team/_hiring