extends template/main

block variables
    - var title = 'Тестовая страница'
    - var pageClass = 'test-page'

block content
    include modules/test_lp/_section-1
    include modules/test_lp/_section-2
    include modules/test_lp/_section-3