extends template/main

block variables
    - var title = 'Text'
    - var pageClass = 'text black-page'

block content
    .text__content
        .text__banner(style="background-image: url(images/general/text.png);")
        .text__container.view__desktop
            .text__container-left_button
                a(role="button")
                    +icon('prev', '')
            .text__container-slider
                .text__container-date March 23 | 2019
                .text__container-title SAFETY AND LEGALITY ARE PARAMOUNT
                .text__container-article
                    p A crash course on all you really need to know to start trading on the
                        |cryptocurrency exchange
                        |#[br]
                    p Right before we dive into this concise tutorial on the nitty-gritty of trading on the cryptocurrency
                        |exchange, let’s look at what the cryptocurrency is and how it started.
                        |#[br]
                    p Cryptocurrencies are basically digital currencies which are used to carry out online transactions
                        |on the blockchain platform. There are various types of cryptocurrencies out there in the market;
                        |the most noticeable of them are bitcoin, litecoin, Ethereum, Ripple, etc.
                        |#[br]
                    p The blockchain is the digital ledger that stores the verified transactions that occur.
                        |This is an immutable ledger which is stored on the peer-to-peer computer network.
                        |#[br]
                    p So how did it all begin? Well, for the longest time, the thirst for a decentralized system
                        |has been in demand. A system that is not controlled by any central authority and could run on a
                        |trustless but at the same time transparent platform. Then Satoshi Nakamoto, in 2009, invented the
                        |most popularly known cryptocurrency on the blockchain, Bitcoin.
                        |#[br]
                    p Since then the growth and development of the cryptocurrency and blockchain platform have been
                        |increasing as the day drags by. It is also interesting to point out to you that the key feature
                        |of these cryptocurrencies and the blockchain is the impressive feature they provide. These features
                        |include security, anonymity, globalization of transaction, instantaneous transaction, transparency, etc.
                        |#[br]
                    p So now you can be rest assured of the security and transparency this platform provides. Now, we
                        |graduate to what is described as the cryptocurrency wallet and the cryptocurrency exchange.
                        |Well if you know what you are doing and understand more than one platform for trading.
                        |Then you could manage multiple exchanges just like the traditional exchange.
            .text__container-right_button
                a(role="button")
                    +icon('next', '')
        .text__container.view__mobile
            .view__mobile-column
                .text__container-left_button.view__mobile-column_left-button
                    a(role="button")
                        +icon('prev', '')
                .text__container-date.view__mobile-column_date March 23 | 2019
                .text__container-right_button.view__mobile-column_right-button
                    a(role="button")
                        +icon('next', '')
            .view__mobile-column
                .text__container-slider
                    .text__container-title SAFETY AND LEGALITY ARE PARAMOUNT
                    .text__container-article
                        p A crash course on all you really need to know to start trading on the
                            | cryptocurrency exchange
                        p Right before we dive into this concise tutorial on the nitty-gritty of trading on the cryptocurrency
                            | exchange, let’s look at what the cryptocurrency is and how it started.
                        p Cryptocurrencies are basically digital currencies which are used to carry out online transactions
                            | on the blockchain platform. There are various types of cryptocurrencies out there in the market;
                            | the most noticeable of them are bitcoin, litecoin, Ethereum, Ripple, etc.
                        p The blockchain is the digital ledger that stores the verified transactions that occur.
                            | This is an immutable ledger which is stored on the peer-to-peer computer network.
                        p So how did it all begin? Well, for the longest time, the thirst for a decentralized system
                            | has been in demand. A system that is not controlled by any central authority and could run on a
                            | trustless but at the same time transparent platform. Then Satoshi Nakamoto, in 2009, invented the
                            | most popularly known cryptocurrency on the blockchain, Bitcoin.
                        p Since then the growth and development of the cryptocurrency and blockchain platform have been
                            | increasing as the day drags by. It is also interesting to point out to you that the key feature
                            | of these cryptocurrencies and the blockchain is the impressive feature they provide. These features
                            | include security, anonymity, globalization of transaction, instantaneous transaction, transparency, etc.
                        p So now you can be rest assured of the security and transparency this platform provides. Now, we
                            | graduate to what is described as the cryptocurrency wallet and the cryptocurrency exchange.
                            | Well if you know what you are doing and understand more than one platform for trading.
                            | Then you could manage multiple exchanges just like the traditional exchange.
