extends template/main

block variables
    - var title = 'Token'
    - var pageClass = 'token white-page'

block content
    .banner__token(style="background-image: url(images/general/token.png);")
        .container__token.color-white
            .title__token-main B2BX Token
            .title__token-sub B2BX Token is a native token for B2BX Exchange,
                |the only function of its is to reduce trading fee
                |for 35%. This is a flat discount,
                |which cover all users regardless of their experience
                |or the amount of tokens in their wallets.
            button(type="button").button__explorer.color-white.btn Explorer
    .token__block
        include modules/main/_widget-screen
        img(src="images/content/token-icon.png")
        button(type="button").button__buy.color-white.btn Buy B2BX Token
