extends template/main

block variables
    - var title = 'Trading Conditions'
    - var pageClass = 'trading_conditions black-page'

block content
    .container
        .title__text-trading.color-black.bold-text Trading Conditions
        .trading__vertical-line
    .title.trading__background(style="background-image: url(images/general/trading-conditions.png);")
    .title__sub.color-white Feauters & KYC
        |#[br]requirements
    .container__content-trading
        .content__text For legal reasons, the features available depend on the Verification Level.
        .content__roles.bold-text The main roles of Verification Levels are
            ol
                li to unlock exchange features, including fiat withdrawals
                li to increase user’s withdrawal limits
                li to increase the number of deposit/withdrawal methods
        .container__table-levels
            table
                tr
                    th.color-green Features
                    th Verification Level 0
                    th Verification Level 1
                    th Verification Level 2
                    th Verification Level 3
                tr
                    td.column__text-left Crypto Deposit
                    td
                    td No limits
                    td No limits
                    td No limits
                tr
                    td.column__text-left Fiat Deposit
                    td
                    td
                    td No limits
                    td No limits
                tr
                    td.column__text-left Crypto-to-Crypto Trading
                    td
                    td
                        +icon('check', '')
                    td
                        +icon('check', '')
                    td
                        +icon('check', '')
                tr
                    td.column__text-left Fiat Withdrawal
                    td
                    td
                    td
                        +icon('check', '')
                    td
                        +icon('check', '')
                tr
                    td.column__text-left Daily Withdrawal Limit (fiat and crypto total)
                    td
                    td  Equivalent to USD 100,000.00
                    td  Equivalent to USD 200,000.00
                    td  Equivalent to USD 300,000.00
                tr
                    td.column__text-left Monthly Crypto Withdrawal Limit
                    td
                    td  No limits
                    td  No limits
                    td  No limits
                tr
                    td.column__text-left Monthly Fiat Withdrawal Limit
                    td
                    td
                    td  Equivalent to USD 3,000,000.00
                    td  Equivalent to USD 5,000,000.00
        .container__table-levels
            table
                tr
                    th.color-green KYC requirements
                    th Verification Level 0
                    th Verification Level 1
                    th Verification Level 2
                    th Verification Level 3
                tr
                    td.column__text-left E-mail verification
                    td Requiered
                    td Requiered
                    td Requiered
                    td Requiered
                tr
                    td.column__text-left Phone number verification
                    td
                    td Requiered
                    td Requiered
                    td Requiered
                tr
                    td.column__text-left Basic information (Full name, date of birth, country, adress)
                    td
                    td Requiered
                    td Requiered
                    td Requiered
                tr
                    td.column__text-left Valid ID
                    td
                    td Requiered
                    td Requiered
                    td Requiered
                tr
                    td.column__text-left Additional Valid ID
                    td
                    td
                    td Requiered
                    td Requiered
                tr
                    td.column__text-left Proof of residence
                    td
                    td
                    td Requiered
                    td Requiered
                tr
                    td.column__text-left Source of funds
                    td
                    td
                    td
                    td Requiered
        .content__text To use the exchange, corporate clients and merchants have to achieve Verification Level 3
        .content__roles.bold-text Accepted types of documents:
        .content__text-types
            p Additional Valid ID: National ID, Passport (that was not provided for Level 1 verification,
                |i.e. if national was already provided, then attach the international one), Driving Licence
                |#[br]
            p Proof of residence: Utility Bill or Official governmental documents (letter,
                | certificate, etc.). Documents should be not older than 3 months.
