extends template/main

block variables
	- var title = 'White label'
	- var pageClass = 'white-page white-label'

block content
	include modules/wl/_top-screen
	include modules/wl/_business-includes
	include modules/wl/_advantages
	include modules/wl/_integrations
	include modules/wl/_unity_token
	include modules/wl/_open-account
