extends template/main

block variables
	- var title = 'White Label MetaTrader 4'
	- var pageClass = 'black-page'

block content
	include modules/wl_mt4/_main_forex
	include modules/wl_mt4/_section-4
	include modules/wl_mt4/_enguine
	include modules/wl_mt4/_infrastructure
	include modules/wl_mt5/_proxy
	include modules/wl_mt4/_benefits
	include modules/wl_mt4/_b2_form
	include modules/wl_mt4/_branding
	include modules/wl_mt4/_or_features
	include modules/wl_mt4/_structure
	include modules/wl_mt4/_commission
	include modules/wl_mt4/_b2_form
	include modules/wl_mt4/_conectivity
	include modules/wl_mt4/_reduce
	include modules/wl_mt4/_pool
	include modules/wl_mt4/_genuine
	include modules/wl_mt4/_b2_form
	include modules/wl_mt4/_platforms
	include modules/wl_mt4/_comparison
	include modules/wl_mt4/_dif_types
	include modules/wl_mt4/_lang
	include modules/wl_mt4/_party
	include modules/wl_mt4/_manager
	include modules/wl_mt4/_b2_form2
	include modules/wl_mt4/_plugins
	include modules/wl_mt5/_watch_videos
	include modules/wl_mt5/_section-12
	include modules/wl_mt4/_faq
	include modules/wl_mt4/_b2_form3
	include modules/wl_mt4/_best
	include modules/mam_platform/_footer-menu-section-2