extends template/main

block variables
	- var title = 'White Label MetaTrader 5'
	- var pageClass = 'black-page'

block content
	include modules/wl_mt5/_main_forex
	include modules/wl_mt5/_section-4
	include modules/wl_mt5/_enguine
	include modules/wl_mt5/_infrastructure
	include modules/wl_mt5/_proxy
	include modules/wl_mt5/_benefits
	include modules/wl_mt5/_b2_form
	include modules/wl_mt5/_branding
	include modules/wl_mt5/_or_features
	include modules/wl_mt5/_structure
	include modules/wl_mt5/_commission
	include modules/wl_mt5/_b2_form
	include modules/wl_mt5/_conectivity
	include modules/wl_mt5/_reduce
	include modules/wl_mt5/_pool
	include modules/wl_mt5/_genuine
	include modules/wl_mt5/_b2_form
	include modules/wl_mt5/_platforms
	include modules/wl_mt5/_comparison
	include modules/wl_mt5/_pricing
	include modules/wl_mt5/_dif_types
	include modules/wl_mt5/_lang
	include modules/wl_mt5/_party

	include modules/crypto/_flow
	include modules/crypto/_section-6
	include modules/main/_section-7
	include modules/main/_segment
	include modules/main/_reduce
	include modules/crypto/_products
	include modules/main/_section-9
	include modules/crypto/_advantages
	include modules/crypto/_new_form
	include modules/main/_section-18
	include modules/crypto/_section-11
	include modules/main/_section-10
	include modules/main/_section-12
	include modules/main/_section-13
	include modules/main/_new_form
	include modules/crypto/_section-14
	include modules/main/_section-15
	include modules/main/_mam_frame
	include modules/crypto/_section-17
	include modules/main/_new_form
	include modules/main/_section-19
	include modules/main/_section-20
	include modules/main/_faq
	include modules/crypto/_best
	include modules/main/_new_form
	include modules/mam_platform/_footer-menu-section-2