.hiring_block__wrapper.careers_hiring
    .hiring_block.new_hiring_block.little_hiring_block.goanim.an(style="background-image: url(images/contacts/hir2.png); border-bottom:2px solid #fff;")
            .section__title Our  #[span(class="section__title--bold") Team]
            .section__subtitle We appreciate everyone who works with us and inspires#[span(class="db")] us towards achieving our success.
            a.new_green_bord_btn(href="#") Learn more
    
    .hiring_block.new_hiring_block.little_hiring_block.goanim.an(style="background-image: url(images/about/hir2.png); border-bottom:2px solid #fff;")
            .section__title We are #[span(class="section__title--bold")  hiring]
            .section__subtitle We are always on the lookout for talent!
            a.new_green_bord_btn(href="#") Vacancies