.legal_content.legal_content__iad.legal_content__cookie
    .container
        .legal__heading Cookie policy
        .legal__text_block
            span.legal__text_block__title General
            span.legal__text_block__description This Cookie policy governs the use of cookies on the website www.b2broker.com (hereinafter – the “Website”). By visiting our Website, and any subdomains of this Website, you are accepting and consenting to the practices described in this Cookie policy.
        
        .legal__text_block
            span.legal__text_block__title What are cookies?
            span.legal__text_block__description Cookies are small data files that are downloaded to a user's computer, phone or tablet when you visit a website. Most web browsers automatically accept cookies. They help website operators to, for example, recognize a user that has visited a website previously and to analyze behavior in order to improve the user experience. Further details on the cookies used on our Website and their purposes are set out below.
        
        .legal__text_block
            span.legal__text_block__title What cookies will be used and for what purpose?
            span.legal__text_block__subtitle Performance cookies
            span.legal__text_block__description In order to improve user experience on our Website, evaluate the performance of our content and fix technical issues or errors on pages or web forms we use performance and analytics tools, including from third parties, such as Google Analytics. These cookies collect information such as the number of user visits or returning visitors to a website. These cookies cannot however be used to identify a user and are only used to generate aggregate data.

            span.legal__text_block__subtitle Targeting or Marketing cookies
            span.legal__text_block__description As part of our marketing initiatives these cookies collect information about your browsing habits (e.g. which source a particular visit is coming from) and inferred interests in order to make advertising more relevant to you. They are also used to limit the number of times you see an advert, as well as to measure the effectiveness and performance of an advertising campaign.  Some of these cookies are placed by our third-party advertising networks. They remember the other websites that you visit and this information is shared with third-party organizations, for example advertisers.

            span.legal__text_block__subtitle Functionality cookies
            span.legal__text_block__description These cookies enable our Website to remember choices you make and your personal preferences such as log in details in order to improve the user experience, for example by avoiding you having to re-enter these details on each visit to our Website.
        
        .legal__text_block
            span.legal__text_block__title How long will the cookies remain?
            span.legal__text_block__description The single session cookie is a temporary cookie which remains in the cookie file of your browser until you close the browser. The other cookies will remain in the cookie file of your browser after the closing of the browser, and will become active again when you reopen the Website. These cookies have different expiration dates. Following expiry of a cookie, a new version of that cookie will be downloaded when you next visit the Website, unless you have withdrawn your consent in the meantime.
        
        .legal__text_block
            span.legal__text_block__title Third party cookies
            span.legal__text_block__description Some cookies are provided on our behalf by trusted third party service providers to aid with user experience, reporting of user behavior, market research, providing advertisements according to user's interests and improving the Website functionality for example. This user behavior is analyzed in order to provide an improved user experience.
        
        .legal__text_block
            span.legal__text_block__title How do I turn cookies off?
            span.legal__text_block__description You do not have to accept cookies, but if you opt to turn off or delete cookies generated via our Website, it may not perform as it has been designed to, possibly reducing the functionality on our Website, the options available to you, as well as the performance of our Website during your visit. All modern browsers allow you to change your cookie settings. These settings will typically be found in the 'options' or 'preferences' menu of your browser.

        .legal__text_block
            span.legal__text_block__title Useful links
            span.legal__text_block__description If you would like to find out more information about the usage of cookies on the Internet, please see the following links: www.allaboutcookies.org or www.youronlinechoices.eu which gives information about privacy issues around internet advertising.
        
        .legal__text_block
            span.legal__text_block__title Updates to this cookie policy
            span.legal__text_block__description This Cookie policy may be revised, modified, updated and/or supplemented at any time, without prior notice, at our sole discretion. When we make changes to this Cookie policy, we will notify all users on our Website, and make the amended Cookie policy available on our Website.
        
        .legal__text_block
            span.legal__text_block__title Contact
            span.legal__text_block__description If you have any questions regarding our Cookie policy, please contact us at #[a(href="#", сlass="legal__text_block__description__link") info@b2broker.com]
            
    .container
        .legal_content__title Legal Information & Disclaimers

        .disclamers
            .disclamers__flex
                .disclamers__items
                    .disclamers__item
                        a(href="#") Who is B2Broker?
                    .disclamers__item
                        a(href="#") What kind of services does B2Broker provide?
                    .disclamers__item
                        a(href="#") No investment advice
                
                .disclamers__items
                    .disclamers__item
                        a(href="#") No public offer
                    .disclamers__item
                        a(href="#") No offering to buy a cryptocurrency or any financial instrument
                    .disclamers__item
                        a(href="#") Limitation of liability regarding content on the Website
            
            .disclamers__flex.disclamers__ul_wrapper
                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") Privacy policy
                    li.disclamers__li
                        a(href="#") General
                    li.disclamers__li
                        a(href="#") Collection and use of personal information
                    li.disclamers__li
                        a(href="#") Disclosing and transferring personal information
                    li.disclamers__li
                        a(href="#") External websites
                    li.disclamers__li
                        a(href="#") Your rights regarding your personal information
                    li.disclamers__li
                        a(href="#") Security of personal information
                    li.disclamers__li
                        a(href="#") Retention of personal information
                    li.disclamers__li
                        a(href="#") Updates to this privacy policy
                    li.disclamers__li
                        a(href="#") Data protection officer
                
                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") Fraud prevention policy
                    li.disclamers__li
                        a(href="#") General
                    li.disclamers__li
                        a(href="#") Financial misstatement
                    li.disclamers__li
                        a(href="#") Misappropriation of assets
                    li.disclamers__li
                        a(href="#") Misconduct
                    li.disclamers__li
                        a(href="#") Staff awareness
                    li.disclamers__li
                        a(href="#") Fraud RED FLAGS and mitigation options
                    li.disclamers__li
                        a(href="#") Reporting and complaint “Whistle Blower” procedures
                    li.disclamers__li
                        a(href="#") Fraud prevention mechanisms
                    li.disclamers__li
                        a(href="#") Card Fraud Prevention Mechanisms
                
                .disclamers__flex_right_wrapper
                
                    ul.disclamers__ul
                        li.disclamers__li
                            a(href="#") Complaints policy 
                        li.disclamers__li
                            a(href="#") General
                        li.disclamers__li
                            a(href="#") How to file a complaint
                    
                    ul.disclamers__ul
                        li.disclamers__li
                            a(href="#") AML & KYC policy
                        li.disclamers__li
                            a(href="#") General
                        li.disclamers__li
                            a(href="#") AML / KYC rules
                    
                    ul.disclamers__ul
                        li.disclamers__li
                            a(href="#") Sample conditions of introducer agreement
                        li.disclamers__li 
                            a.disclamers__link(href="https://docs.google.com/document/d/1U2qhHrdAfJvEucW6q3ZW9nhP5_vDdss2kjCNkR6ibk8/edit")
                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.0579 6.39391C10.0073 6.24474 9.89601 6.14974 9.77351 6.14974H8.5235V0.733073C8.5235 0.503073 8.3835 0.316406 8.211 0.316406H6.96099C6.78849 0.316406 6.64849 0.503073 6.64849 0.733073V6.14974H5.39848C5.27598 6.14974 5.16473 6.24557 5.1141 6.39391C5.06285 6.54307 5.08285 6.71724 5.16348 6.84057L7.35099 10.1739C7.41037 10.2647 7.49599 10.3164 7.58599 10.3164C7.67599 10.3164 7.76162 10.2639 7.821 10.1739L10.0085 6.84057C10.0898 6.71807 10.1085 6.54307 10.0579 6.39391Z" fill="#333333"/>
                                    <path d="M13.0859 9.31641V12.3164H2.08594V9.31641H0.0859375V13.3164C0.0859375 13.8694 0.533938 14.3164 1.08594 14.3164H14.0859C14.6389 14.3164 15.0859 13.8694 15.0859 13.3164V9.31641H13.0859Z" fill="#333333"/>
                                </svg>
                                span Sample conditions of introducer agreement