.legal_content.legal_content__iad.legal_content__cookie
    .container
        .legal__heading AML & KYC policy
        .legal__text_block
            span.legal__text_block__title General
            span.legal__text_block__description In order to ensure the compliance with international trade standards we operate exclusively in accordance with the legislation on combating illicit money laundering and countering the terrorism financing. To monitor the accordance with legal requirements and recommendations of FATF, we have established a Compliance department developing Anti-money laundering and Know your customer (AML / KYC) procedures, obligatory for all employees and customers and determining the policy of engagement with any person who intend to become out customer.

            span.legal__text_block__description Compliance Department is intended to ensure that all the operations of the Company are consistent with the international standards to combat money laundering and all the documents provided by the Customer are up-to-date and comply with relevant legal requirements. 
        
        .legal__text_block
            span.legal__text_block__title AML / KYC rules
            span.legal__text_block__description As our client you are irrevocably agree with the following rules and undertake to observe them:
            ul.legal__text_block__ul
                li.legal__text_block__li You are obliged to follow our AML and KYC requirements while you are our client. Upon the request of the Company the additional documents and information should be provided by you. Filling of respective KYC questionnaire may also be an obligatory requirement under Company’s sole decision. You agree with such requirements of the Company and undertake to follow them;
                li.legal__text_block__li The withdrawal of any assets is carried out only to the account that belongs to you. The withdrawal of Assets to third parties is prohibited. Internal transfers between the Company’s customers are also forbidden;
                li.legal__text_block__li The Company is obliged and has the right without obtaining prior consent to share with financial institutions and law enforcement agencies any information about you, as required by applicable law, and you give the Company you consent to these actions. In order to comply with this paragraph, the Company holds a records about your transactions during five years at least;
                li.legal__text_block__li You undertake to follow the legislation, including international one, aiming to combat illicit trafficking, financial fraud, money laundering and legalization of funds obtained by illegal means. You should use your best effort to avoid direct or indirect participation in illegal financial activities and any illegal transactions using the Company’s Website and Services;
                li.legal__text_block__li You guarantee the legal origin, legal ownership and the right to use the assets transferred to your account. In case of the evidence of suspicious transactions your account, cash replenishments from untrusted sources (for example, the data of assets’ sender and Traders Room’s owner is different) and / or any actions with attributes of fraud (including any refunds or cancellation of payments), the Company reserves the right to conduct an internal investigation, to block or close your Traders Room or any account, cancel any payment or trading order and to suspend operations on the accounts before the end of the official investigation. When making the decision the Company is guided by the provisions of the applicable law, FATF recommendations or by common practice;
                li.legal__text_block__li The Company has the right to request additional information about you if the method of withdrawal is different from the depositing method. The Company also reserves the right to block your Traders Room or any account during the investigation if you refused to provide the additional information requested by the Company;

                li.legal__text_block__li In the course of investigation, the Company has the right to request additional copies of documents confirming your identity or identity of other individuals in corporate structure, as well documents confirming place of living and lawful possession and legal origin of funds. The Company also has the right to demand the provision of original documents for review in case of any doubts from Company’s side;

                li.legal__text_block__li The Company does not provide Services to the persons and legal entities who located at the jurisdictions that are “blacklisted” by FATF. Also the Company doesn’t provide services to citizens and residents of U.S.A;

                li.legal__text_block__li The Company’s refuse to perform the operations that from Company’s point of view are considered to be a suspicious. Using of preventive measures (such as blocking or closing of a customer’s Traders Room or any account) is not the reason for civil liability of the Company for failure to fulfill obligations to you;

                li.legal__text_block__li The Company is not obliged to inform you or other persons about the measures taken to fulfil the AML/CFT legislation. Also the Company is not obliged to inform you or other persons about any suspicions, about the reasons of refuse of execution of your trading order, of refuse to open the account, need for providing any documents, etc;

                li.legal__text_block__li This anti-money laundering and know your customer policy is an integral part of the any agreement concluded between you and the Company. Non-compliance with this policy can be a ground for termination of the agreement on Company’s sole discretion.
                
    .container
        .legal_content__title Legal Information & Disclaimers

        .disclamers
            .disclamers__flex
                .disclamers__items
                    .disclamers__item What is B2Broker?
                    .disclamers__item What kind of services does B2Broker provide?
                    .disclamers__item No investment advice
                
                .disclamers__items
                    .disclamers__item No public offer
                    .disclamers__item No offering to buy a cryptocurrency or any financial instrument
                    .disclamers__item Limitation of liability regarding content on the Website
            
            .disclamers__flex.disclamers__ul_wrapper
                ul.disclamers__ul
                    li.disclamers__li Privacy policy
                    li.disclamers__li General
                    li.disclamers__li Collection and use of personal information
                    li.disclamers__li Disclosing and transferring personal information
                    li.disclamers__li External websites
                    li.disclamers__li Your rights regarding your personal information
                    li.disclamers__li Security of personal information
                    li.disclamers__li Retention of personal information
                    li.disclamers__li Updates to this privacy policy
                    li.disclamers__li Data protection officer

                ul.disclamers__ul
                    li.disclamers__li Cookie policy
                    li.disclamers__li General
                    li.disclamers__li What are cookies?
                    li.disclamers__li What cookies will be used and for what purpose?
                    li.disclamers__li How long will the cookies remain?
                    li.disclamers__li Third party cookies
                    li.disclamers__li How do I turn cookies off?
                    li.disclamers__li Useful links
                    li.disclamers__li Updates to this cookie policy
                    li.disclamers__li Contact
                
                ul.disclamers__ul
                    li.disclamers__li Fraud prevention policy
                    li.disclamers__li General
                    li.disclamers__li Financial misstatement
                    li.disclamers__li Misappropriation of assets
                    li.disclamers__li Misconduct
                    li.disclamers__li Staff awareness
                    li.disclamers__li Fraud RED FLAGS and mitigation options
                    li.disclamers__li Reporting and complaint “Whistle Blower” procedures
                    li.disclamers__li Fraud prevention mechanisms
                    li.disclamers__li Card Fraud Prevention Mechanisms
                
                ul.disclamers__ul
                    li.disclamers__li Complaints policy 
                    li.disclamers__li General
                    li.disclamers__li How to file a complaint

                ul.disclamers__ul
                    li.disclamers__li Sample conditions of introducer agreement
                    li.disclamers__li 
                        a.disclamers__link(href="https://docs.google.com/document/d/1U2qhHrdAfJvEucW6q3ZW9nhP5_vDdss2kjCNkR6ibk8/edit")
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0579 6.39391C10.0073 6.24474 9.89601 6.14974 9.77351 6.14974H8.5235V0.733073C8.5235 0.503073 8.3835 0.316406 8.211 0.316406H6.96099C6.78849 0.316406 6.64849 0.503073 6.64849 0.733073V6.14974H5.39848C5.27598 6.14974 5.16473 6.24557 5.1141 6.39391C5.06285 6.54307 5.08285 6.71724 5.16348 6.84057L7.35099 10.1739C7.41037 10.2647 7.49599 10.3164 7.58599 10.3164C7.67599 10.3164 7.76162 10.2639 7.821 10.1739L10.0085 6.84057C10.0898 6.71807 10.1085 6.54307 10.0579 6.39391Z" fill="#333333"/>
                                <path d="M13.0859 9.31641V12.3164H2.08594V9.31641H0.0859375V13.3164C0.0859375 13.8694 0.533938 14.3164 1.08594 14.3164H14.0859C14.6389 14.3164 15.0859 13.8694 15.0859 13.3164V9.31641H13.0859Z" fill="#333333"/>
                            </svg>
                            span Sample conditions of introducer agreement
                
                ul.disclamers__ul
                    li.disclamers__li