.legal_content.legal_content__iad.legal_content__cookie
    .container
        .legal__heading Complaints policy 
        .legal__text_block
            span.legal__text_block__title General
            span.legal__text_block__description We are committed to providing a high standard of service to all our customers on every occasion. We do recognize however, that occasionally there may be circumstances where you are dissatisfied with the service you may have received.
        
        .legal__text_block
            span.legal__text_block__title How to file a complaint
            span.legal__text_block__subtitle A. Where should I send my complaint
            span.legal__text_block__description If you have a complaint about any aspect of our service, then we would like to hear from you. You can contact us by e-mail #[a(href="#", сlass="legal__text_block__description__link") info@b2broker.com.]
            span.legal__text_block__description Please send your message from the e-mail which was used by you for registration of your Trading Room. If you send message from another e-mail we reserve the right not to provide you any advice in case if such our action, on our opinion, will lead to disclosure of client’s confidential information.
            span.legal__text_block__subtitle B. Required documentation
            span.legal__text_block__description To help us investigate and resolve the complaint as quickly as possible, please make sure you provide the following information:

            ul.legal__text_block__ul
                li.legal__text_block__li Your name and e-mail which was used during registration of your Trading Room;
                li.legal__text_block__li A clear description of your concern or complaint;
                li.legal__text_block__li Details of what you would like us to do to put it right;
                li.legal__text_block__li Copies of any relevant correspondence, such as e-mails.
            
            span.legal__text_block__subtitle C. Details on settling your complaint 
            span.legal__text_block__description We will try to resolve your complaint as quickly as possible and with minimum inconvenience to you. However, you irrevocably agree with the following:

            ul.legal__text_block__ul
                li.legal__text_block__li You have to complain as soon as possible, but not later than within one day after the grievance has arisen. If you delay, it can lead to a situation when the time necessary for resolve has passed. In such a case, we are not responsible for the inability to satisfy your request;
                li.legal__text_block__li We will reply on the complaint during 2 weeks. For avoidance of doubt, we have a right to ignore any complaints or messages from the customers who behave incorrectly, impolite, engaged in trolling, or repeatedly apply to us with the same question, etc;
                li.legal__text_block__li You are liable for all charges/costs/expenses/fees incurred by us regarding your requests, claims or complaints if such requests could not be comprehensively satisfied without involving of third parties. We will inform you in advance if such involvement of third parties is needed;
                li.legal__text_block__li We keep records of all your messages for compliance and training purposes;

    .container
        .legal_content__title Legal Information & Disclaimers

        .disclamers
            .disclamers__flex
                .disclamers__items
                    .disclamers__item
                        a(href="#") Who is B2Broker?
                    .disclamers__item
                        a(href="#") What kind of services does B2Broker provide?
                    .disclamers__item
                        a(href="#") No investment advice
                
                .disclamers__items
                    .disclamers__item
                        a(href="#") No public offer
                    .disclamers__item
                        a(href="#") No offering to buy a cryptocurrency or any financial instrument
                    .disclamers__item
                        a(href="#") Limitation of liability regarding content on the Website
            
            .disclamers__flex.disclamers__ul_wrapper
                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") Privacy policy
                    li.disclamers__li
                        a(href="#") General
                    li.disclamers__li
                        a(href="#") Collection and use of personal information
                    li.disclamers__li
                        a(href="#") Disclosing and transferring personal information
                    li.disclamers__li
                        a(href="#") External websites
                    li.disclamers__li
                        a(href="#") Your rights regarding your personal information
                    li.disclamers__li
                        a(href="#") Security of personal information
                    li.disclamers__li
                        a(href="#") Retention of personal information
                    li.disclamers__li
                        a(href="#") Updates to this privacy policy
                    li.disclamers__li
                        a(href="#") Data protection officer

                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") Cookie policy
                    li.disclamers__li
                        a(href="#") General
                    li.disclamers__li
                        a(href="#") What are cookies?
                    li.disclamers__li
                        a(href="#") What cookies will be used and for what purpose?
                    li.disclamers__li
                        a(href="#") How long will the cookies remain?
                    li.disclamers__li
                        a(href="#") Third party cookies
                    li.disclamers__li
                        a(href="#") How do I turn cookies off?
                    li.disclamers__li
                        a(href="#") Useful links
                    li.disclamers__li
                        a(href="#") Updates to this cookie policy
                    li.disclamers__li
                        a(href="#") Contact
                
                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") Fraud prevention policy
                    li.disclamers__li
                        a(href="#") General
                    li.disclamers__li
                        a(href="#") Financial misstatement
                    li.disclamers__li
                        a(href="#") Misappropriation of assets
                    li.disclamers__li
                        a(href="#") Misconduct
                    li.disclamers__li
                        a(href="#") Staff awareness
                    li.disclamers__li
                        a(href="#") Fraud RED FLAGS and mitigation options
                    li.disclamers__li
                        a(href="#") Reporting and complaint “Whistle Blower” procedures
                    li.disclamers__li
                        a(href="#") Fraud prevention mechanisms
                    li.disclamers__li
                        a(href="#") Card Fraud Prevention Mechanisms
                
                ul.disclamers__ul
                        li.disclamers__li
                            a(href="#") AML & KYC policy
                        li.disclamers__li
                            a(href="#") General
                        li.disclamers__li
                            a(href="#") AML / KYC rules

                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") Sample conditions of introducer agreement
                    li.disclamers__li 
                        a.disclamers__link(href="https://docs.google.com/document/d/1U2qhHrdAfJvEucW6q3ZW9nhP5_vDdss2kjCNkR6ibk8/edit")
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0579 6.39391C10.0073 6.24474 9.89601 6.14974 9.77351 6.14974H8.5235V0.733073C8.5235 0.503073 8.3835 0.316406 8.211 0.316406H6.96099C6.78849 0.316406 6.64849 0.503073 6.64849 0.733073V6.14974H5.39848C5.27598 6.14974 5.16473 6.24557 5.1141 6.39391C5.06285 6.54307 5.08285 6.71724 5.16348 6.84057L7.35099 10.1739C7.41037 10.2647 7.49599 10.3164 7.58599 10.3164C7.67599 10.3164 7.76162 10.2639 7.821 10.1739L10.0085 6.84057C10.0898 6.71807 10.1085 6.54307 10.0579 6.39391Z" fill="#333333"/>
                                <path d="M13.0859 9.31641V12.3164H2.08594V9.31641H0.0859375V13.3164C0.0859375 13.8694 0.533938 14.3164 1.08594 14.3164H14.0859C14.6389 14.3164 15.0859 13.8694 15.0859 13.3164V9.31641H13.0859Z" fill="#333333"/>
                            </svg>
                            span Sample conditions of introducer agreement
                
                ul.disclamers__ul
                    li.disclamers__li