.legal_content.legal_content__iad.legal_content__cookie
    .container
        .legal__heading Privacy policy
        .legal__text_block
            span.legal__text_block__title General
            span.legal__text_block__description Cookies are small data files that are downloaded to a user's computer, phone or tablet when you visit a website. Most web browsers automatically accept cookies. They help website operators to, for example, recognize a user that has visited a website previously and to analyze behavior in order to improve the user experience. Further details on the cookies used on our Website and their purposes are set out below.

            span.legal__text_block__description "Personal Information" refers to information that identifies an individual, such as name, address, e-mail address, financial information, and banking details. “Personal Information” does not include anonymized and/or aggregated data that does not identify a specific user. We are committed to protecting and respecting your privacy. The purpose of this Privacy policy is to describe:

            ul.legal__text_block__ul
                li.legal__text_block__li The types of Personal Information we collect and how it may be used;
                li.legal__text_block__li How and why we may disclose your Personal Information to third parties;
                li.legal__text_block__li The transfer of your Personal Information;
                li.legal__text_block__li Your right to access, correct, update, and delete your Personal Information;
                li.legal__text_block__li The security measures we use to protect and prevent the loss, misuse, or alteration of Personal Information;
                li.legal__text_block__li Our retention of your Personal Information;
                li.legal__text_block__li This Privacy policy also covers some basics of our use of cookies, however, for more details please see also our Cookie policy.

            span.legal__text_block__description We control the ways of collecting your Personal Information, and determine goals for which We use Personal Information. We are a “data controller” within the meaning of the General Data Protection Regulation (EU) 2016/679 (hereinafter referred to as “GDPR”) and other applicable European laws pertaining to data protection.
        
        .legal__text_block
            span.legal__text_block__title Collection and use of personal information
            span.legal__text_block__subtitle A. Personal information we collect
            span.legal__text_block__description We collect the next Personal Information:
            ul.legal__text_block__ul
                li.legal__text_block__li Contact information, such as name, home address, and e-mail address;
                li.legal__text_block__li Account information, such as username and password;
                li.legal__text_block__li Financial information, such as bank account numbers, bank statement, trading activity and history, commissions charged, etc;
                li.legal__text_block__li Identity verification information, such as images of your government issued ID, passport, national ID card, driving license or other documents requested by our compliance department;
                li.legal__text_block__li Residence verification information, such as Utility bill details or similar information;
                li.legal__text_block__li Other information, obtained during our KYC procedures, such as information about your financial state and source of funds.
            span.legal__text_block__description We also automatically collect certain computer, device, and browsing information when you access the Website or use of Services. This information is aggregated to provide statistical data about our users' browsing actions and patterns, and does not personally identify individuals. This information may include:
            ul.legal__text_block__ul
                li.legal__text_block__li The information about the computer or mobile device you use to access our Website, including the hardware model, operating system and version, the web browser you use, IP addresses and other device identifiers;
                li.legal__text_block__li Website usage information, the server log information, which may include (but is not limited to) your login details, the date and time of visits, the pages viewed, your IP address, time spent at our Website and the websites you visit just before and just after our Website;
                li.legal__text_block__li The bandwidth upload and download speeds, the amount of free and used storage space on your device and other statistics about your device;
                li.legal__text_block__li We may automatically capture, store and otherwise process information about you even if you abandon the completion of an online application or registration form.
            span.legal__text_block__description We may automatically capture, store and otherwise process information about you even if you abandon the completion of an online application or registration form.

            span.legal__text_block__subtitle B. Use of cookies and similar technology
            span.legal__text_block__description The Website is using cookies. Cookies are small text files that are placed on your computer by websites that you visit. They are widely used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site. Cookies are typically stored on your computer's hard drive.

            span.legal__text_block__description Our Website uses cookies to enable you to use the Website, the Services we offer and the materials on the Website. Cookies are also used to distinguish you from other users of our Website. This helps us to provide you with a good experience when you browse our Website and also allows us to improve our Website.

            span.legal__text_block__description For detailed information on the cookies we use and the purposes for which we use them see our Cookie policy.

            span.legal__text_block__subtitle C. How we use your personal information

            span.legal__text_block__description We may use your Personal Information to:

            ul.legal__text_block__ul
                li.legal__text_block__li Process your transactions. We will process your Personal Information only for the purpose(s) for which it has been provided to us;
                li.legal__text_block__li Fulfill our legal or regulatory requirements;
                li.legal__text_block__li Verify your identity in accordance with the applicable legislation and the our Anti Money Laundering policy, as well as address other law enforcement needs. We also may share your information with other financial institutions and with tax authorities if such actions are required from us due to any applicable legislation;
                li.legal__text_block__li Detect, investigate and prevent fraudulent transactions or unauthorized or illegal activities;
                li.legal__text_block__li Protect of our rights and property;
                li.legal__text_block__li Personalize your Services experience;
                li.legal__text_block__li Analyze Website usage, and improve our Website and Website offerings. Analyzing and tracking data to determine the usefulness or popularity of certain content and to better understand the online activity of our Website users;
                li.legal__text_block__li Help us respond to your customer service requests and support needs, answer your inquiry or respond to a communication from you;
                li.legal__text_block__li Contact you about Services. The email address you provide may be used to communicate information and updates related to your use of the Services. We may also occasionally communicate technical notices, support or administrative notifications, company news, updates, promotions, and related information relating to similar products and Services provided by us;
                li.legal__text_block__li Administer a contest, promotion, survey or other features as will be more explained on the Website;
                li.legal__text_block__li Link, connect or combine Personal Information we collect from or about you with other Personal Information;
                li.legal__text_block__li Carry out any other purpose or reason for which the Information was collected.
            
            span.legal__text_block__description We do not perform behavioral tracking of a customer's activities on our Website or across different Websites, nor do we allow third-party data collection through our services. If you wish to stop receiving marketing communications from us, please contact us at #[a(href="#", сlass="legal__text_block__description__link") info@b2broker.com] to opt-out.

        .legal__text_block
            span.legal__text_block__title Disclosing and transferring personal information
            span.legal__text_block__description We may disclose your Personal Information to third parties and legal and regulatory authorities, and transfer your Personal Information as described below:

            span.legal__text_block__subtitle A. Disclosures to third parties
            span.legal__text_block__description In processing your transactions, we may share some of your Personal Information with our third party service providers who help with our business operations. Your information will not be sold, exchanged, or shared with any third parties without your consent, except to provide Services or as required by law. By using Website or Services you consent to the disclosure of your Personal Information as described in this Privacy policy. Non-personally identifiable visitor information may be provided to third parties for marketing, advertising, or other uses. Our third party service providers are contractually bound to protect and use such information only for the purposes for which it was disclosed, except as otherwise required or permitted by law. We ensure that such third parties will be bound by terms no less protective those described in this Privacy policy, or those we are subject to under applicable data protection laws.

            span.legal__text_block__subtitle B. Disclosures to legal authorities
            span.legal__text_block__description We may share your Personal Information with law enforcement, data protection authorities, government officials, and other authorities when:

            ul.legal__text_block__ul
                li.legal__text_block__li Compelled by subpoena, court order, or other legal procedure;
                li.legal__text_block__li We believe that the disclosure is necessary to prevent physical harm or financial loss;
                li.legal__text_block__li Disclosure is necessary to report suspected illegal activity;
                li.legal__text_block__li Detect, investigate and prevent fraudulent transactions or unauthorized or illegal activities;
                li.legal__text_block__li Disclosure is necessary to investigate violations of this Privacy policy or any our agreement with you.
            
            span.legal__text_block__subtitle C. International transfers of personal informatoon
            span.legal__text_block__description We store and process your Personal Information in data centers around the world, wherever our facilities or service providers are located. As such, we may transfer your Personal Information between such data centers. Such transfers are undertaken in accordance with our legal and regulatory obligations and are performed only via protected channels.

            span.legal__text_block__subtitle D. Other circumstancer for disclosure of personal information
            span.legal__text_block__description We also can disclose your Personal Information in the following circumstances:
            ul.legal__text_block__ul
                li.legal__text_block__li With your consent or at your instruction. Certain information you may choose to share may be displayed publicly, such as your username and any content you post when you use interactive areas of our Website like our online forums;
                li.legal__text_block__li With our current or future parent companies, affiliates, subsidiaries and with other companies under common control or ownership with us or our offices internationally. We ensure that listed parties will be bound by terms not less protective those described in this Privacy policy, or those we are subject to under applicable data protection laws;
                li.legal__text_block__li If the sharing of Personal Information is necessary for protection of our rights and property, or rights and property of the above listed current or future parent companies, affiliates, subsidiaries and with other companies under common control or ownership with us or our offices;
                li.legal__text_block__li Detect, investigate and prevent fraudulent transactions or unauthorized or illegal activities;
                li.legal__text_block__li Disclosure is necessary to investigate violations of this Privacy policy or any our agreement with you.
        
        .legal__text_block
            span.legal__text_block__title External websites
            span.legal__text_block__description Occasionally, the Website may provide references or links to other websites ("External websites"). We do not control these External websites third party sites or any of the content contained therein. You agree that we are in no way responsible or liable for External websites referenced or linked from our Website, including, but not limited to, website content, policies, failures, promotions, products, services or actions and/or any damages, losses, failures or problems caused by, related to, or arising from those sites. External websites have separate and independent privacy policies. We encourage you to review the policies, rules, terms, and regulations of each site that you visit. We seek to protect the integrity of our site and welcome any feedback about External website information provided on our Website.

        .legal__text_block
            span.legal__text_block__title Your rights regarding your personal information
            span.legal__text_block__description You are able to exercise all the right foreseen by legislation, if this does not contradict the legal requirements in relation to the prevention of money laundering and terrorist financing laws, our record keeping obligations, etc.
            span.legal__text_block__description You have the following rights:

            ul.legal__text_block__ul
                li.legal__text_block__li the right to be informed about the fact that we're processing your Personal Information and which data exactly we are processing;
                li.legal__text_block__li the right to data portability. In certain circumstances, you have the right to obtain all your Personal Information we store in a machine readable format;
                li.legal__text_block__li the right to object the processing of your Personal Information;
                li.legal__text_block__li the right not to be subject to automated decision-making including profiling if it doesn't intervene in performing the contract between you and us;
                li.legal__text_block__li the right to access your Personal Information, to correct, update, and block inaccurate and/or incorrect data;
                li.legal__text_block__li the right to withdraw your consent of Personal Information processing;
                li.legal__text_block__li the right to erase your Personal Information from our servers upon your justified request (a right to be forgotten).
            
            .legal__text_block__description To exercise these rights, contact us at #[a(href="#", сlass="legal__text_block__description__link") info@b2broker.com]
            .legal__text_block__description Within 40 days of receipt of your written request we will provide you with your Personal Information, including the purposes for which it was used and to whom it was disclosed to in accordance with applicable legislation. We reserve the right to request additional information from you, that may be necessary in order to provide the duly respond to your request in accordance with applicable legislation and you agree with such our right. Also, if you wish to correct, update, and block inaccurate and/or incorrect data, we have a right to request a confirmation of correct data from you, for example, official documents containing such data.
            .legal__text_block__description Please note that if we are unable to verify your identity by e-mail messages or at your application to the call center, or in the case of reasonable doubts concerning your identity, we may ask you to provide a proof of identity, including by personal appearance in our office. This is the only way we can avoid disclosing your Personal Information to a person who can perpetrate your identity.
            .legal__text_block__description In some cases, we will not be able to change your Personal Information. In particular, such case can include the event when your personal information has already been used during the execution of any agreement or transaction, or is specified in any official document, etc.
            .legal__text_block__description You have the right of withdrawal of consent to personal data processing. You may also exercise your right to be forgotten and erase your Personal information from our servers. In cases stipulated in Article 17 of GDPR, we will delete your Personal Information we process, except for those Personal Information which we are obliged to store in accordance with the requirements set forth by the applicable legislation.
            .legal__text_block__description Please be advised, that in case of realization of your right of withdrawal of consent to personal data processing or right to be forgotten, we will may not be able to provide you our products or services, and we have a special right to terminate all our current agreements with you with the application of legal consequences of such termination, and you irrevocably acknowledge such our right.
            .legal__text_block__description In order to withdraw the consent to personal data processing and/or exercise your rights to be forgotten please contact us at #[a(href="#", сlass="legal__text_block__description__link") info@b2broker.com]. Furthermore, in this case, for the purposes of safety, we may request you to present your ID document, including directly at our office.
        
        .legal__text_block
            span.legal__text_block__title Security of personal information
            span.legal__text_block__description We use a variety of security measures to ensure the confidentiality of your Personal Information, and to protect your Personal Information from loss, theft, unauthorized access, misuse, alteration or destruction. These security measures include, but are not limited to: Password protected directories and databases.
            span.legal__text_block__description Secure Sockets Layered (SSL) technology to ensure that your information is fully encrypted and sent across the Internet securely.
            span.legal__text_block__description Limited access to hosting servers using 2FA and traffic encryption.
            span.legal__text_block__description All financially sensitive and/or credit information is transmitted via SSL technology and encrypted in our database. Only authorized personnel are permitted access to your Personal Information, and these personnel are required to treat the information as highly confidential. The security measures will be reviewed regularly in light of new and relevant legal and technical developments.
        
        .legal__text_block
            span.legal__text_block__title Retention of personal information
            span.legal__text_block__description We retain Personal Information for as long as necessary to fulfil purposes described in this Privacy policy, subject to our own legal and regulatory obligations. In accordance with our record keeping obligations, we will retain account and other Personal Information for at least five years after termination of respective agreement.
        
        .legal__text_block
            span.legal__text_block__title Updates to this privacy policy
            span.legal__text_block__description This Privacy policy may be revised, modified, updated and/or supplemented at any time, without prior notice, at our sole discretion. When we make changes to this Privacy policy, we will notify all users on our Website, and make the amended Privacy policy available on our Website.
        
        .legal__text_block
            span.legal__text_block__title Data protection officer
            span.legal__text_block__description To exercise all relevant rights, queries or complaints to any data protection matter between you and us, please in the first instance contact our Data Protection Officer at #[a(href="#", сlass="legal__text_block__description__link") info@b2broker.com.]
            
    .container
        .legal_content__title Legal Information & Disclaimers

        .disclamers
            .disclamers__flex
                .disclamers__items
                    .disclamers__item What is B2Broker?
                    .disclamers__item What kind of services does B2Broker provide?
                    .disclamers__item No investment advice
                
                .disclamers__items
                    .disclamers__item No public offer
                    .disclamers__item No offering to buy a cryptocurrency or any financial instrument
                    .disclamers__item Limitation of liability regarding content on the Website
            
            .disclamers__flex.disclamers__ul_wrapper
                ul.disclamers__ul
                    li.disclamers__li Cookie policy
                    li.disclamers__li General
                    li.disclamers__li What are cookies?
                    li.disclamers__li What cookies will be used and for what purpose?
                    li.disclamers__li How long will the cookies remain?
                    li.disclamers__li Third party cookies
                    li.disclamers__li How do I turn cookies off?
                    li.disclamers__li Useful links
                    li.disclamers__li Updates to this cookie policy
                    li.disclamers__li Contact
                
                ul.disclamers__ul
                    li.disclamers__li Fraud prevention policy
                    li.disclamers__li General
                    li.disclamers__li Financial misstatement
                    li.disclamers__li Misappropriation of assets
                    li.disclamers__li Misconduct
                    li.disclamers__li Staff awareness
                    li.disclamers__li Fraud RED FLAGS and mitigation options
                    li.disclamers__li Reporting and complaint “Whistle Blower” procedures
                    li.disclamers__li Fraud prevention mechanisms
                    li.disclamers__li Card Fraud Prevention Mechanisms
                
                .disclamers__flex_right_wrapper
                
                    ul.disclamers__ul
                        li.disclamers__li Complaints policy 
                        li.disclamers__li General
                        li.disclamers__li How to file a complaint
                    
                    ul.disclamers__ul
                        li.disclamers__li AML & KYC policy
                        li.disclamers__li General
                        li.disclamers__li AML / KYC rules
                    
                    ul.disclamers__ul
                        li.disclamers__li Sample conditions of introducer agreement
                        li.disclamers__li 
                            a.disclamers__link(href="https://docs.google.com/document/d/1U2qhHrdAfJvEucW6q3ZW9nhP5_vDdss2kjCNkR6ibk8/edit")
                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.0579 6.39391C10.0073 6.24474 9.89601 6.14974 9.77351 6.14974H8.5235V0.733073C8.5235 0.503073 8.3835 0.316406 8.211 0.316406H6.96099C6.78849 0.316406 6.64849 0.503073 6.64849 0.733073V6.14974H5.39848C5.27598 6.14974 5.16473 6.24557 5.1141 6.39391C5.06285 6.54307 5.08285 6.71724 5.16348 6.84057L7.35099 10.1739C7.41037 10.2647 7.49599 10.3164 7.58599 10.3164C7.67599 10.3164 7.76162 10.2639 7.821 10.1739L10.0085 6.84057C10.0898 6.71807 10.1085 6.54307 10.0579 6.39391Z" fill="#333333"/>
                                    <path d="M13.0859 9.31641V12.3164H2.08594V9.31641H0.0859375V13.3164C0.0859375 13.8694 0.533938 14.3164 1.08594 14.3164H14.0859C14.6389 14.3164 15.0859 13.8694 15.0859 13.3164V9.31641H13.0859Z" fill="#333333"/>
                                </svg>
                                span Sample conditions of introducer agreement