.legal_content.legal_content__iad.legal_content__cookie
    .container
        .legal__heading Fraud prevention policy
        .legal__text_block
            span.legal__text_block__title General
            span.legal__text_block__description This fraud and whistleblower policy is established to outline the controls in place to educate, prevent, detect, and report any form of fraudulent behavior. 
            span.legal__text_block__description By definition, “Fraud is any intentional act or omission designed to deceive others, resulting in the victim suffering a loss and/or the perpetrator achieving a gain.” We (hereinafter – “We” or the “Company”) have a strong commitment to fraud risk management. Examples of fraud can include but are not limited to these three categories.
        
        .legal__text_block
            span.legal__text_block__title Financial misstatement
            ul.legal__text_block__ul
                li.legal__text_block__li Forgery or alteration of any financial document;
                li.legal__text_block__li Improper revenue recognition;
                li.legal__text_block__li Misappropriation of funds, securities, supplies, or other assets;
                li.legal__text_block__li Understatement of liabilities;
                li.legal__text_block__li Management override;
                li.legal__text_block__li Deviation from full and fair reporting of the financial condition.
        
        .legal__text_block
            span.legal__text_block__title Misappropriation of assets
            ul.legal__text_block__ul
                li.legal__text_block__li Misappropriation of funds, supplies or other assets;
                li.legal__text_block__li Impropriety in the handling or reporting of money or financial transactions;
                li.legal__text_block__li Use Сompany-owned assets for personal use;
                li.legal__text_block__li Loss or misuse of Company’s resources by not following system controls.
        
        .legal__text_block
            span.legal__text_block__title Misconduct
            ul.legal__text_block__ul
                li.legal__text_block__li Theft of a payment or other financial asset;
                li.legal__text_block__li Profiting as a result of insider knowledge;
                li.legal__text_block__li Impropriety in the handling or reporting of money or financial;
                li.legal__text_block__li Confidential information used in the conduct of outside business;
                li.legal__text_block__li Disclosing information that should be secure;
                li.legal__text_block__li Non-compliance with internal controls.
        
        .legal__text_block
            span.legal__text_block__title Staff awareness
            span.legal__text_block__description Each employee shall have a basic understanding of fraud and be aware of the red flags and know their role within the internal control framework. Fraud involves not just monetary issues, but also is significant to an organization’s financial reporting, operations, reputation, legal, and regulatory compliance. Staff have an awareness of how their job procedures are designed to help mitigate fraud risks and when noncompliance may open up the opportunity for fraud to occur. Each member of the management team will be familiar with the types of improprieties that might occur within their area of responsibility and will be alert for any indication of possible irregularity.

        .legal__text_block
            span.legal__text_block__title Fraud RED FLAGS and mitigation options
            span.legal__text_block__subtitle Frequent “red flags” indicating fraud opportunities include:
            ul.legal__text_block__ul
                li.legal__text_block__li Poorly written or poorly enforced internal controls, procedures, policies or security;
                li.legal__text_block__li Irregular or unexplained variances in financial reporting;
                li.legal__text_block__li Failure to take action on audit findings;
                li.legal__text_block__li Unusually high expenses or purchases;
                li.legal__text_block__li Frequent complaints from customers;
                li.legal__text_block__li Missing or incomplete files, records, and documentation;
                li.legal__text_block__li Employee comments concerning possible fraud;
                li.legal__text_block__li Complex business arrangements not widely understood and appear to serve little or no purpose;
                li.legal__text_block__li Financial results that seem “too good to be true”;
                li.legal__text_block__li A consistently close match between reported results and planned results;
                li.legal__text_block__li Changes to employee’s behavior.
            
            span.legal__text_block__description Prior to employment, background checks are used in employment screening with the specific objective of assuring that persons with inappropriate records or inconsistency are identified and eliminated from the hiring process. Every employee is required to read and understand policies and procedures upon employment with the Company. 
            span.legal__text_block__description Ongoing monitoring procedures are built into normal recurring operating activities. Certifications and self-assessments create strong controls that help prevent occurrences of fraud. Segregation of duties exists and is tested routinely. The annual fraud risk assessment, which is a part of the annual Company’s risk assessment process, helps to identify potential schemes and events.

            span.legal__text_block__subtitle Other internal controls help prevent fraud as follows:
            ul.legal__text_block__ul
                li.legal__text_block__li Adherence to documentation and authorization limits;
                li.legal__text_block__li Physical security and restricted access;
                li.legal__text_block__li Independent review;
                li.legal__text_block__li Clear lines of authority;
                li.legal__text_block__li Enforcement of conflict of interest;
                li.legal__text_block__li Internal control walkthroughs;
                li.legal__text_block__li Regular vacation breaks;
                li.legal__text_block__li Board oversight;
                li.legal__text_block__li Anonymous reporting “Whistleblower” procedures.
            span.legal__text_block__description These controls help to create an environment where employees, vendors, and other parties believe that dishonest acts will be detected, reported, and dealt with appropriately.
        

        .legal__text_block
            span.legal__text_block__title Reporting and complaint “Whistle Blower” procedures
            .legal__text_block__description Employees, vendors or other parties with concerns of fraud or suspected fraud may report the responsible employee. Any fraud that is detected or suspected must be reported immediately.
            .legal__text_block__description Upon receipt of a complaint, the responsible employee will take appropriate action for investigation, tracking and confidentiality. 
            .legal__text_block__description Any investigative activity required will be conducted without regard to the suspected wrongdoer’s length of service, position/title, or relationship to the Company. It is important to provide as much information regarding the facts and circumstances surrounding the complaint as possible in order to facilitate a full and complete investigation.
            .legal__text_block__description Upon receipt of a complaint, the responsible employee will determine whether the complaint actually pertains to accounting or auditing matters and, as possible, acknowledge receipt of the complaint to the sender. Complaints relating to accounting or auditing matters will be forwarded for investigation to such person or persons as responsible employee determines to be appropriate. Confidentiality will be maintained to the fullest extent possible, consistent with the need to conduct an adequate review. 
            .legal__text_block__description The Company is committed to achieving compliance with all applicable securities laws, regulations, accounting standards, accounting controls, and audit practices. 
            .legal__text_block__description Any employee, vendor, or other party may file a good faith complaint without the fear of dismissal or retaliation of any kind. The Company will not discharge, demote, suspend, threaten, harass or in any manner discriminate against anyone because of any lawful actions in providing information or other assistance in investigation of fraud or the commission. This will be true even in the event that it is concluded from the investigation that no violation occurred. 
        
        .legal__text_block
            span.legal__text_block__title Fraud prevention mechanisms
            .legal__text_block__description Here is the list of prevention mechanisms which the Company is using to mitigate fraud:
            ul.legal__text_block__ul
                li.legal__text_block__li Establish clear and easy to understand standards from the top-down. Maintain employee manual that clearly outlines these standards and keeps the rules from becoming arbitrary;
                li.legal__text_block__li Always check references and perform background checks that include employment, credit, licensing and criminal history for all new hires;
                li.legal__text_block__li Secure physical assets, access to data, and money at all levels including monitoring and using pre-numbered checks. Keep checks locked up, have a “voided check” procedure and never sign blank checks. Review all disbursements regularly;
                li.legal__text_block__li Segregation of duties for employees. Divide activities so one employee doesn’t have too much control over an area or duty. Separate important accounting and account payable functions. Small business owners and managers should review every payroll check personally. The person who has custody of the checks should never have check signing authority. The person opening the mail should not record the receivables and reconcile the accounts;
                li.legal__text_block__li Proper authorisation of transactions, ensuring that employees aren’t exceeding their authority;
                li.legal__text_block__li Independent checks on performance by using audits, surprise check-ups, inventory counts or other procedures to verify compliance with policies and procedures, as well as accuracy;
                li.legal__text_block__li Instilled anonymous reporting mechanism such as an employee fraud hotline;
                li.legal__text_block__li Small-business owners should control who first receives the bank statements and other sensitive documents. Consider a separate post office box for the purpose of receiving bank statements, customer receipts or any other sensitive documents;
                li.legal__text_block__li All account reconciliations and general ledger balances should have an independent review by a person outside the responsibility area such as an outside accountant. This allows for reviews, better ensuring nothing is amiss and providing a deterrent for fraudulent activities;
                li.legal__text_block__li Conduct annual audits to motivate all bookkeeping-related staff to keep things honest because they can never be sure what questions an auditor is going to ask or what documents an auditor may request to review.

        .legal_table__wrapper(style="margin-bottom:70px;")
            .legal_table
                .legal_table__row
                    .legal_table__col Possible threats
                    .legal_table__col Check / measures

                .legal_table__row
                    .legal_table__col Fictitious vendors
                    .legal_table__col
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Run checks] to uncover post office boxes used as addresses and to find any matches between vendor and employee addresses and/or phone numbers
                        
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Be alert] for vendors with similar sounding names or more than one vendor with the same address and phone number
                
                .legal_table__row
                    .legal_table__col Altered invoices
                    .legal_table__col
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Search for duplicates]
                        
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Check for invoice]  amounts not matching contracts or purchase order amounts
                
                .legal_table__row
                    .legal_table__col Fixed bidding
                    .legal_table__col
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Summarize contract]  amount by vendor and compare vendor summaries for several years to determine if a single vendor is winning most bids
                        
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Calculate]   days between close for bids and contract submission date by vendor to see if the last bidder consistently wins the contract
                
                .legal_table__row
                    .legal_table__col Goods not received
                    .legal_table__col
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Search for purchase quantities]   that do not agree with contract quantities
                        
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Check if inventory levels]    are changing appropriate to supposed delivery of goods
                
                .legal_table__row
                    .legal_table__col Duplicate invoices
                    .legal_table__col
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Review for duplicate]   invoice numbers, duplicate date, and invoice amounts
                
                .legal_table__row
                    .legal_table__col Inflated prices
                    .legal_table__col
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Compare prices]     across vendors to see if prices from a particular vendor are unreasonably high
                
                .legal_table__row
                    .legal_table__col Excess quantities purchased
                    .legal_table__col
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Review for unexplained increases in inventory]
                        
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Determine if purchase quantities]  of raw materials are appropriate for production level
                        
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Check to see if increases]   in quantities ordered compare similarly to previous contracts or years or when compared to other plants
                
                .legal_table__row
                    .legal_table__col Duplicate payments
                    .legal_table__col
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Search for identical invoice]  numbers and payments amounts
                        
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Check for repeated requests]   for refunds for invoices paid twice
                
                .legal_table__row
                    .legal_table__col Carbon copies
                    .legal_table__col
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Search for duplicates]   within all company checks cashed; conduct a second search for gaps in check numbers
                
                .legal_table__row
                    .legal_table__col Duplicate serial numbers
                    .legal_table__col
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Determine]    if high value equipment a company already owns is being repurchased by checking serial numbers for duplicates and involvement of same personnel in purchasing and shipping processes
                
                .legal_table__row
                    .legal_table__col Payroll fraud
                    .legal_table__col
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Find out]  if a terminated employee is still on payroll by comparing the date of termination with the pay period covered by the pay check and extract all pay transactions for departure date less than date of current pay period
                
                .legal_table__row
                    .legal_table__col Accounts payable
                    .legal_table__col
                        .circle__item
                            img(src="images/little_circle.svg", alt="circle")
                            span #[span(class="bold") Reveal transactions]   not matching contract amounts by linking accounts payable files to contract and inventory files and examining contract date, price, ordered quantity, inventory receipt quantity, invoice quantity, and payment amount by contract
        
        .legal__text_block
            span.legal__text_block__title Card Fraud Prevention Mechanisms
            .legal__text_block__description The Company will be using third party card issuing vendor. This means it will not be able to implement custom solutions. The vendor who will be working with us should have at least:
            ul.legal__text_block__ul
                li.legal__text_block__li 3D secure transactions;
                li.legal__text_block__li Fraud prevention system;
                li.legal__text_block__li Fraud prevention checks:
        
        .legal_table__wrapper
            .legal_table.second_legal_table
                .legal_table__row
                    .legal_table__col Possible threats
                    .legal_table__col Check / measures

                .legal_table__row
                    .legal_table__col Fraudsters try to find out the expiry date and possibly also the CVV for the card number known to them
                    .legal_table__col Reduction of the maximum number of authorisation interrogations per card number and a free choice of time period (0-1440 mins.).
                
                .legal_table__row
                    .legal_table__col Fraudsters try, through series testing of various card numbers, to check their validity
                    .legal_table__col Reduction of the maximum number of authorisation interrogations per client IP address and a free choice of time period (0-1440 mins.).
                
                .legal_table__row
                    .legal_table__col Damage to the merchant through high-value improper purchases.
                    .legal_table__col Reduction of the maximum amount per credit card and a free choice of time period (0-1440 mins.).
                
                .legal_table__row
                    .legal_table__col Repeated improper use of a card number.
                    .legal_table__col Blacklist – exclusion of individual card numbers or whole card number fields (BIN). Once card numbers are reported as blocked, they are filed on our blacklist. Before each transaction is transmitted to the finance company, it is matched to our blacklist. If the system finds a corresponding entry, the transaction is immediately rejected.
                
                .legal_table__row
                    .legal_table__col Improper use of fraud-susceptible BIN ranges (card number fields).
                    .legal_table__col White list with selection of countries (on the basis of the BIN). Via the Web interface from Data trans the merchant can include or exclude countries. Customers from regions at risk – from experience, orders from crisis regions have an increased risk. Data trans Allows you to reduce this risk by not accepting orders from customers from such regions (IP addresses, card number).
                
                .legal_table__row
                    .legal_table__col Use of stolen or self-generated card numbers, whose actual country of origin is not known to the fraudster.
                    .legal_table__col Validation of the country of origin of the card on the basis of the ISO Country Code. The customer also states the country of origin of the card. The transaction is the only authorised if the country was correctly stated. For Visa, Mastercard and American Express.
    .container
        .legal_content__title Legal Information & Disclaimers

        .disclamers
            .disclamers__flex
                .disclamers__items
                    .disclamers__item
                        a(href="#") Who is B2Broker?
                    .disclamers__item
                        a(href="#") What kind of services does B2Broker provide?
                    .disclamers__item
                        a(href="#") No investment advice
                
                .disclamers__items
                    .disclamers__item
                        a(href="#") No public offer
                    .disclamers__item
                        a(href="#") No offering to buy a cryptocurrency or any financial instrument
                    .disclamers__item
                        a(href="#") Limitation of liability regarding content on the Website
            
            .disclamers__flex.disclamers__ul_wrapper
                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") Privacy policy
                    li.disclamers__li
                        a(href="#") General
                    li.disclamers__li
                        a(href="#") Collection and use of personal information
                    li.disclamers__li
                        a(href="#") Disclosing and transferring personal information
                    li.disclamers__li
                        a(href="#") External websites
                    li.disclamers__li
                        a(href="#") Your rights regarding your personal information
                    li.disclamers__li
                        a(href="#") Security of personal information
                    li.disclamers__li
                        a(href="#") Retention of personal information
                    li.disclamers__li
                        a(href="#") Updates to this privacy policy
                    li.disclamers__li
                        a(href="#") Data protection officer

                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") Cookie policy
                    li.disclamers__li
                        a(href="#") General
                    li.disclamers__li
                        a(href="#") What are cookies?
                    li.disclamers__li
                        a(href="#") What cookies will be used and for what purpose?
                    li.disclamers__li
                        a(href="#") How long will the cookies remain?
                    li.disclamers__li
                        a(href="#") Third party cookies
                    li.disclamers__li
                        a(href="#") How do I turn cookies off?
                    li.disclamers__li
                        a(href="#") Useful links
                    li.disclamers__li
                        a(href="#") Updates to this cookie policy
                    li.disclamers__li
                        a(href="#") Contact
                
                .disclamers__flex_right_wrapper
                
                    ul.disclamers__ul
                        li.disclamers__li
                            a(href="#") Complaints policy 
                        li.disclamers__li
                            a(href="#") General
                        li.disclamers__li
                            a(href="#") How to file a complaint
                    
                    ul.disclamers__ul
                        li.disclamers__li
                            a(href="#") AML & KYC policy
                        li.disclamers__li
                            a(href="#") General
                        li.disclamers__li
                            a(href="#") AML / KYC rules
                    
                    ul.disclamers__ul
                        li.disclamers__li
                            a(href="#") Sample conditions of introducer agreement
                        li.disclamers__li 
                            a.disclamers__link(href="https://docs.google.com/document/d/1U2qhHrdAfJvEucW6q3ZW9nhP5_vDdss2kjCNkR6ibk8/edit")
                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.0579 6.39391C10.0073 6.24474 9.89601 6.14974 9.77351 6.14974H8.5235V0.733073C8.5235 0.503073 8.3835 0.316406 8.211 0.316406H6.96099C6.78849 0.316406 6.64849 0.503073 6.64849 0.733073V6.14974H5.39848C5.27598 6.14974 5.16473 6.24557 5.1141 6.39391C5.06285 6.54307 5.08285 6.71724 5.16348 6.84057L7.35099 10.1739C7.41037 10.2647 7.49599 10.3164 7.58599 10.3164C7.67599 10.3164 7.76162 10.2639 7.821 10.1739L10.0085 6.84057C10.0898 6.71807 10.1085 6.54307 10.0579 6.39391Z" fill="#333333"/>
                                    <path d="M13.0859 9.31641V12.3164H2.08594V9.31641H0.0859375V13.3164C0.0859375 13.8694 0.533938 14.3164 1.08594 14.3164H14.0859C14.6389 14.3164 15.0859 13.8694 15.0859 13.3164V9.31641H13.0859Z" fill="#333333"/>
                                </svg>
                                span Sample conditions of introducer agreement