.legal_content.legal_content__iad
    .container
        .legal__heading Legal information#[span(class="db")] & disclaimers
        .legal__subheading The purpose of this document is to specify legal grounds of our work and to clarify limits of our responsibility. This#[span(class="db")] document applies to this website www.b2broker.com (hereinafter – the “Website”) and all our products and services#[span(class="db")] offered at the Website.
        .legal__text_block
            span.legal__text_block__title What is B2Broker?
            span.legal__text_block__description B2Broker is a trademark, that is registered in different European countries according to Madrid protocol. B2Broker is not a legal entity, and in every country where we have presence we have separate legal entity that works in the frames of local legislation. From this point of view, we can designate B2Broker as a group of companies united under the trade mark “B2Broker”.
            span.legal__text_block__description The ownership for word and logo trademarks “B2Broker” (international registration numbers are 1383640 and 1388708) belongs to B2Broker ltd., a company registered in the United Kingdom of Great Britain and Northern Ireland.
        
        .legal__text_block
            span.legal__text_block__title What kind of services does B2Broker provide?
            span.legal__text_block__description The exact list of our products and services is specified on our Website, however we want to affirm that we provide our products and services for corporate and institutional customers only. We do not provide products and services for individuals. Please be advised that we provide financial services only on behalf of our companies that have relevant licenses for provision of financial services.
        
        .legal__text_block
            span.legal__text_block__title No public offer
            span.legal__text_block__description All information provided on this Website in any case should not be understood as a public offer or any kind of agreement between you and any of companies working under trademark B2Broker. If you want to buy any product or receive any service from us, we should conclude a separate agreement specifying terms and conditions of our relationships.
        
        .legal__text_block
            span.legal__text_block__title No investment advice
            span.legal__text_block__description The information provided on Website does not constitute investment advice, financial advice, trading advice, or any other sort of advice, and you should not treat any of the Website's content as such. We do not recommend that any cryptocurrency should be bought, sold, or held by you. Do conduct your own due diligence and consult your financial advisory before making any investment decision. We are not responsible for the investment decisions you make based on the information provided on the Website. We do not raise funds at interest and do not recommend you to take participation in any cryptocurrency or FOREX trading.
        
        .legal__text_block
            span.legal__text_block__title No offering to buy a cryptocurrency or any financial instrument
            span.legal__text_block__description We don’t propose to buy a cryptocurrency, fiat currency, or any CFD contract, any kind of securities, options, and nothing on this Website should be taken as an offer to buy, sell or hold a cryptocurrency or any other financial instrument.
        
        .legal__text_block
            span.legal__text_block__title Limitation of liability regarding content on the Website
            span.legal__text_block__description The Website may include advertisements and links to external sites and co-branded pages or promote websites or services from other companies or offer you the ability to download software or content from other companies in order to provide you with access to information and services which you may find useful or interesting. We do not endorse such sites nor approve any content, information, legal or illegal emails (whether spam emails or not), goods or services provided by them. We are not responsible for and does not control those websites, services, emails, content and software and cannot accept any responsibility or liability for any loss or damage suffered by you as a result of your use of its website and services or of such external and/or co-branded sites.
            span.legal__text_block__description We are unable to exercise control over the security or content of information passing over the network, and we hereby exclude all liability of any kind for the transmission or reception of infringing or unlawful information of whatever nature.
            span.legal__text_block__description We accept no liability for loss or damage suffered by you as a result of accessing the website and/or its services which contains any virus or which has been maliciously corrupted.
            
    .container
        .legal_content__title Legal Information & Disclaimers

        .disclamers
            .disclamers__flex
                .disclamers__items
                    .disclamers__item What is B2Broker?
                    .disclamers__item What kind of services does B2Broker provide?
                    .disclamers__item No investment advice
                
                .disclamers__items
                    .disclamers__item No public offer
                    .disclamers__item No offering to buy a cryptocurrency or any financial instrument
                    .disclamers__item Limitation of liability regarding content on the Website
            
            .disclamers__flex.disclamers__ul_wrapper
                ul.disclamers__ul
                    li.disclamers__li Privacy policy
                    li.disclamers__li General
                    li.disclamers__li Collection and use of personal information
                    li.disclamers__li Disclosing and transferring personal information
                    li.disclamers__li External websites
                    li.disclamers__li Your rights regarding your personal information
                    li.disclamers__li Security of personal information
                    li.disclamers__li Retention of personal information
                    li.disclamers__li Updates to this privacy policy
                    li.disclamers__li Data protection officer
                
                ul.disclamers__ul
                    li.disclamers__li Cookie policy
                    li.disclamers__li General
                    li.disclamers__li What are cookies?
                    li.disclamers__li What cookies will be used and for what purpose?
                    li.disclamers__li How long will the cookies remain?
                    li.disclamers__li Third party cookies
                    li.disclamers__li How do I turn cookies off?
                    li.disclamers__li Useful links
                    li.disclamers__li Updates to this cookie policy
                    li.disclamers__li Contact
                
                ul.disclamers__ul
                    li.disclamers__li Fraud prevention policy
                    li.disclamers__li General
                    li.disclamers__li Financial misstatement
                    li.disclamers__li Misappropriation of assets
                    li.disclamers__li Misconduct
                    li.disclamers__li Staff awareness
                    li.disclamers__li Fraud RED FLAGS and mitigation options
                    li.disclamers__li Reporting and complaint “Whistle Blower” procedures
                    li.disclamers__li Fraud prevention mechanisms
                    li.disclamers__li Card Fraud Prevention Mechanisms
                
                ul.disclamers__ul
                    li.disclamers__li Complaints policy 
                    li.disclamers__li General
                    li.disclamers__li How to file a complaint
                
                ul.disclamers__ul
                    li.disclamers__li AML & KYC policy
                    li.disclamers__li General
                    li.disclamers__li AML / KYC rules
                
                ul.disclamers__ul
                    li.disclamers__li Sample conditions of introducer agreement
                    li.disclamers__li 
                        a.disclamers__link(href="https://docs.google.com/document/d/1U2qhHrdAfJvEucW6q3ZW9nhP5_vDdss2kjCNkR6ibk8/edit")
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0579 6.39391C10.0073 6.24474 9.89601 6.14974 9.77351 6.14974H8.5235V0.733073C8.5235 0.503073 8.3835 0.316406 8.211 0.316406H6.96099C6.78849 0.316406 6.64849 0.503073 6.64849 0.733073V6.14974H5.39848C5.27598 6.14974 5.16473 6.24557 5.1141 6.39391C5.06285 6.54307 5.08285 6.71724 5.16348 6.84057L7.35099 10.1739C7.41037 10.2647 7.49599 10.3164 7.58599 10.3164C7.67599 10.3164 7.76162 10.2639 7.821 10.1739L10.0085 6.84057C10.0898 6.71807 10.1085 6.54307 10.0579 6.39391Z" fill="#333333"/>
                                <path d="M13.0859 9.31641V12.3164H2.08594V9.31641H0.0859375V13.3164C0.0859375 13.8694 0.533938 14.3164 1.08594 14.3164H14.0859C14.6389 14.3164 15.0859 13.8694 15.0859 13.3164V9.31641H13.0859Z" fill="#333333"/>
                            </svg>
                            span Sample conditions of introducer agreement