.legal_content
    .container
        .legal_content__title Trademark Certificates

        .trademark
            img.trademark__left(src="images/trademark.svg", alt="img")
            .trademark__right
                a.trademark__link(href="https://drive.google.com/file/d/1xNlCwZy0Aw2N_VyWEgu8LlBiH7c0YBGg/view?usp=sharing")
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path d="M17.0067 0.632812H1.79703C1.30316 0.632812 0.902344 1.03363 0.902344 1.5275V16.7372C0.902344 17.2311 1.30316 17.6319 1.79703 17.6319H17.0067C17.5006 17.6319 17.9014 17.2311 17.9014 16.7372V1.5275C17.9014 1.03363 17.5006 0.632812 17.0067 0.632812ZM16.112 15.8425H2.69172V2.42219H16.112V15.8425Z" fill="#333333"/>
                        <path d="M21.4828 18.9727V21.2094H19.2461V22.9987H22.3775C22.8714 22.9987 23.2722 22.5979 23.2722 22.1041V18.9727H21.4828Z" fill="#333333"/>
                        <path d="M17.1767 21.2109H12.3633V23.0003H17.1767V21.2109Z" fill="#333333"/>
                        <path d="M8.05891 21.2094V18.9727H6.26953V22.1041C6.26953 22.5979 6.67035 22.9987 7.16422 22.9987H10.2956V21.2094H8.05891Z" fill="#333333"/>
                        <path d="M22.3775 6H19.2461V7.78937H21.4828V10.0261H23.2722V6.89469C23.2722 6.40082 22.8714 6 22.3775 6Z" fill="#333333"/>
                        <path d="M23.2698 12.0938H21.4805V16.9072H23.2698V12.0938Z" fill="#333333"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="22.3672" height="22.3672" fill="white" transform="translate(0.902344 0.632812)"/>
                        </clipPath>
                        </defs>
                    </svg>
                    span  WIPO base registration certificate 17436 (PDF)
                
                a.trademark__link(href="https://drive.google.com/file/d/1pKxBtUJSEBc3NxxZf9y169BCo2R1w9eu/view?usp=sharing")
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path d="M17.0067 0.632812H1.79703C1.30316 0.632812 0.902344 1.03363 0.902344 1.5275V16.7372C0.902344 17.2311 1.30316 17.6319 1.79703 17.6319H17.0067C17.5006 17.6319 17.9014 17.2311 17.9014 16.7372V1.5275C17.9014 1.03363 17.5006 0.632812 17.0067 0.632812ZM16.112 15.8425H2.69172V2.42219H16.112V15.8425Z" fill="#333333"/>
                        <path d="M21.4828 18.9727V21.2094H19.2461V22.9987H22.3775C22.8714 22.9987 23.2722 22.5979 23.2722 22.1041V18.9727H21.4828Z" fill="#333333"/>
                        <path d="M17.1767 21.2109H12.3633V23.0003H17.1767V21.2109Z" fill="#333333"/>
                        <path d="M8.05891 21.2094V18.9727H6.26953V22.1041C6.26953 22.5979 6.67035 22.9987 7.16422 22.9987H10.2956V21.2094H8.05891Z" fill="#333333"/>
                        <path d="M22.3775 6H19.2461V7.78937H21.4828V10.0261H23.2722V6.89469C23.2722 6.40082 22.8714 6 22.3775 6Z" fill="#333333"/>
                        <path d="M23.2698 12.0938H21.4805V16.9072H23.2698V12.0938Z" fill="#333333"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="22.3672" height="22.3672" fill="white" transform="translate(0.902344 0.632812)"/>
                        </clipPath>
                        </defs>
                    </svg>
                    span  WIPO base registration certificate 17437 (PDF)
    
    .container
        .legal_content__title Legal Information & Disclaimers

        .disclamers
            .disclamers__flex
                .disclamers__items
                    .disclamers__item
                        a(href="#") Who is B2Broker?
                    .disclamers__item
                        a(href="#") What kind of services does B2Broker provide?
                    .disclamers__item
                        a(href="#") No investment advice
                
                .disclamers__items
                    .disclamers__item
                        a(href="#") No public offer
                    .disclamers__item
                        a(href="#") No offering to buy a cryptocurrency or any financial instrument
                    .disclamers__item
                        a(href="#") Limitation of liability regarding content on the Website
            
            .disclamers__flex.disclamers__ul_wrapper
                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") Privacy policy
                    li.disclamers__li
                        a(href="#") General
                    li.disclamers__li
                        a(href="#") Collection and use of personal information
                    li.disclamers__li
                        a(href="#") Disclosing and transferring personal information
                    li.disclamers__li
                        a(href="#") External websites
                    li.disclamers__li
                        a(href="#") Your rights regarding your personal information
                    li.disclamers__li
                        a(href="#") Security of personal information
                    li.disclamers__li
                        a(href="#") Retention of personal information
                    li.disclamers__li
                        a(href="#") Updates to this privacy policy
                    li.disclamers__li
                        a(href="#") Data protection officer
                
                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") Cookie policy
                    li.disclamers__li
                        a(href="#") General
                    li.disclamers__li
                        a(href="#") What are cookies?
                    li.disclamers__li
                        a(href="#") What cookies will be used and for what purpose?
                    li.disclamers__li
                        a(href="#") How long will the cookies remain?
                    li.disclamers__li
                        a(href="#") Third party cookies
                    li.disclamers__li
                        a(href="#") How do I turn cookies off?
                    li.disclamers__li
                        a(href="#") Useful links
                    li.disclamers__li
                        a(href="#") Updates to this cookie policy
                    li.disclamers__li
                        a(href="#") Contact
                
                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") Fraud prevention policy
                    li.disclamers__li
                        a(href="#") General
                    li.disclamers__li
                        a(href="#") Financial misstatement
                    li.disclamers__li
                        a(href="#") Misappropriation of assets
                    li.disclamers__li
                        a(href="#") Misconduct
                    li.disclamers__li
                        a(href="#") Staff awareness
                    li.disclamers__li
                        a(href="#") Fraud RED FLAGS and mitigation options
                    li.disclamers__li
                        a(href="#") Reporting and complaint “Whistle Blower” procedures
                    li.disclamers__li
                        a(href="#") Fraud prevention mechanisms
                    li.disclamers__li
                        a(href="#") Card Fraud Prevention Mechanisms
                
                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") Complaints policy 
                    li.disclamers__li
                        a(href="#") General
                    li.disclamers__li
                        a(href="#") How to file a complaint
                
                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") AML & KYC policy
                    li.disclamers__li
                        a(href="#") General
                    li.disclamers__li
                        a(href="#") AML / KYC rules
                
                ul.disclamers__ul
                    li.disclamers__li
                        a(href="#") Sample conditions of introducer agreement
                    li.disclamers__li 
                        a.disclamers__link(href="https://docs.google.com/document/d/1U2qhHrdAfJvEucW6q3ZW9nhP5_vDdss2kjCNkR6ibk8/edit")
                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0579 6.39391C10.0073 6.24474 9.89601 6.14974 9.77351 6.14974H8.5235V0.733073C8.5235 0.503073 8.3835 0.316406 8.211 0.316406H6.96099C6.78849 0.316406 6.64849 0.503073 6.64849 0.733073V6.14974H5.39848C5.27598 6.14974 5.16473 6.24557 5.1141 6.39391C5.06285 6.54307 5.08285 6.71724 5.16348 6.84057L7.35099 10.1739C7.41037 10.2647 7.49599 10.3164 7.58599 10.3164C7.67599 10.3164 7.76162 10.2639 7.821 10.1739L10.0085 6.84057C10.0898 6.71807 10.1085 6.54307 10.0579 6.39391Z" fill="#333333"/>
                                <path d="M13.0859 9.31641V12.3164H2.08594V9.31641H0.0859375V13.3164C0.0859375 13.8694 0.533938 14.3164 1.08594 14.3164H14.0859C14.6389 14.3164 15.0859 13.8694 15.0859 13.3164V9.31641H13.0859Z" fill="#333333"/>
                            </svg>
                            span Sample conditions of introducer agreement