.events_screen.section.section__dosnt_filter(style=" background-image: url(images/legal.png);" )
    .container
        .section__title.section__title--bold Legal Part
        .section__subtitle B2Broker fosters a professional legal environment at all times in order to#[span(class="db")] protect both the company and its clients. Find legal information governing#[span(class="db")] our business relationships and operational aspects below.