.actions.goanim.an
  .container.flex
    .left
      .green__title let your clients skip trades
      .title Activation-Deactivation
      p.margin Money managers sometimes work with clients who have different risk tolerances. In this case, MAM masters can deactivate investors and allow them to skip some positions without unsubscribing them.
      p Activation and deactivation does not close opened positions.
    img(src="images/MAM_platform/actions.png", alt="image")