.color_scheme.goanim.an
  .container
    .section__title.center #[span(class="section__title--bold") Color scheme, text and logo] customization
    .subtitle Two default color schemes are available by default: white and dark. You can add your logo, choose a main color and replace all text free of charge. Most functions and buttons are also customizable from the admin panel. Request a demo for more details.
    img.banner(src="images/MAM_platform/scheme.png", alt="image")
    .subtitle-2 A complete change of all colors is available on request subject to an additional charge.