.comparison.goanim.an
  .container
    .section__title.center General #[span(class='section__title--bold') comparison] of account types
    .banner_wrapper
      img.banner(src="images/MAM_platform/table.png", alt="table")