.section-22.faq.goanim.an
  .container
    .section__title.section__title--bold FAQs
    .main-text Have a question? A source of useful information about our products and services.
    .question
      .question-item.faq_btn_js(data-id="1")
        span What if i want to migrate? 
        .question__plus
          span
          span
        .question-item_content(data-id="1") Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.faq_btn_js(data-id="2")
        span Quis est occaecat officia ex id cillum commodo sint esse in.
        .question__plus
          span
          span
        .question-item_content(data-id="2") Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.faq_btn_js(data-id="3")
        span Aute officia dolore voluptate esse eiusmod laborum eiusmod proident.
        .question__plus
          span
          span
        .question-item_content(data-id="3") Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.faq_btn_js(data-id="4")
        span Laborum id cupidatat qui elit.
        .question__plus
          span
          span
        .question-item_content(data-id="4") Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.faq_btn_js(data-id="5")
        span Aute aliquip reprehenderit aliquip velit dolore.
        .question__plus
          span
          span
        .question-item_content(data-id="5") Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.faq_btn_js(data-id="6")
        span Pariatur eiusmod mollit sunt consequat adipisicing eu fugiat do.
        .question__plus
          span
          span
        .question-item_content(data-id="6") Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.faq_btn_js(data-id="7")
        span Exercitation velit anim officia labore aute qui ea aute Lorem velit ut. 
        .question__plus
          span
          span
        .question-item_content(data-id="7") Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.faq_btn_js(data-id="8")
        span Sunt sint cupidatat nostrud deserunt.
        .question__plus
          span
          span
        .question-item_content(data-id="8") Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .another_question
        .another_question--heading Have another question?
        .another_question--link Standard protocol, using to allow communication between a client, trader, investment fund, or broker and our platforms. FIX API is used by numerous banks, prime brokers, and hedge funds to operate in real-time mode.

      
          
        
