.section-22.faq.goanim.an
  .container
    .section__title.section__title--bold FAQs
    .main-text Have a question? A source of useful information about our products and services.
    .question
      .question-item.faq_btn_js(data-id="1")
        span Can I use a platform if I don’t have my own MT4/5 server but just a White Label?
        .question__plus
          span
          span
        .question-item_content(data-id="1") Yes, the platform is connected to the MetaTrader server via MT manager’s API and requires no admin rights. Main Label owners allow our clients to use the platform as it is safe and secure and does not require the installation of plug-ins.
      .question-item.faq_btn_js(data-id="2")
        span Is the execution price the same on master and slave accounts?
        .question__plus
          span
          span
        .question-item_content(data-id="2") Execution prices can be different in MAM as it is based on the copy trading principle where master and slave accounts are separate from each other and positions are independent.#[b(class="br")] Many clients refer to MAM when they actually mean PAMM. PAMM is where all slave accounts are combined in one big account known as an investment fund. In PAMM there is no slippage and execution prices are the same on both slaves and master.#[b(class="br")] You can learn more about PAMM features on our dedicated page.
      .question-item.faq_btn_js(data-id="3")
        span Can an investor trade on his investment account? 
        .question__plus
          span
          span
        .question-item_content(data-id="3") No, all MAM slave investment accounts are in read-only mode. Investors can only unsubscribe from a master but cannot trade on their own.
      .question-item.faq_btn_js(data-id="4")
        span How fast does risk limit work?
        .question__plus
          span
          span
        .question-item_content(data-id="4") Risk limit starts closing positions approximately 1 minute after reaching the signal level of equity. Please take care when making promises to your clients regarding speed of work and ensure you notify them that slippage is possible and that real losses can exceed any risk limit they set. Clients never should invest more than they are willing to lose.
      .question-item.faq_btn_js(data-id="5")
        span I don’t need all 3 or 4 types of fees and leaderboard. Can I get a discount?
        .question__plus
          span
          span
        .question-item_content(data-id="5") No, we do not offer packages based on feature use. No one is likely to use all the features but each broker will create its own product using features and options in the same way as children do with brick constructors. We are constantly developing our platform and the quantity of features is contantly expanding, giving you an opportunity to make a tailor-made product for your clients according to your own vision.
      .question-item.faq_btn_js(data-id="6")
        span I have my own MT4/5 server and several White Labels. If I buy a system for my company, will my White Labels be able to launch this product? 
        .question__plus
          span
          span
        .question-item_content(data-id="6") A license is issued for one company brand on one MT4/5 server. If you are a MetaTrader server Main Label owner and you want to buy several licenses for your White Labels, please contact us for volume discounts.
      .question-item.faq_btn_js(data-id="7")
        span I have several MT4/5 servers. Do I need to buy pay x2 or x3 to provide a service for my clients on other servers? 
        .question__plus
          span
          span
        .question-item_content(data-id="7") We offer a 75% discount for each new MT4/5 server for companies who have several servers. This means you pay just $500 more for your minimum monthly payments for each additionally connected server. 
      .question-item.faq_btn_js(data-id="8")
        span Can I use a platform with cTrader, B2Margin, DxTrade, xStation or ProTrader? 
        .question__plus
          span
          span
        .question-item_content(data-id="8") No, the platform currently works only with MetaTrader 4/5 servers and doesn’t support other platforms or have any integrations with crypto-exchanges. We have plans in our long-term roadmap to integrate the platform with B2Margin and DxTrade.
      .question-item.faq_btn_js(data-id="9")
        span We have a strict security policy. Can we setup a platform on our server and provide you no access to it?  
        .question__plus
          span
          span
        .question-item_content(data-id="9") Yes, you can provide your own server that meets our technical requirements and we will do the setup there. We will point all alerts from the monitoring system to devices of your server administrators. #[b(class="br")]You can limit the access of your support team to this server and provide it via TeamViewer or Anydesk when you need assistance.
      .question-item.faq_btn_js(data-id="10")
        span Can we restrict access to personal data of clients?
        .question__plus
          span
          span
        .question-item_content(data-id="10") You can restrict access to personal data for a platform by limiting the rights of the MT manager. However, it will impact on user experience: 
          p - The platform can copy the name, email, city and other data from the user record from the payment account. 
          p - The platform sends emails with credentials after the creation of new accounts. This will not be possible without rights of the MT manager to personal details.
      .question-item.faq_btn_js(data-id="11")
        span Who is responsible for maintenance of the platform?
        .question__plus
          span
          span
        .question-item_content(data-id="11") If setup is made on a server provided by B2Broker, the system administrators and technical support team are responsible for the maintenance of servers. #[b(class="br")]If you request doing your own setup on your server,  your staff will be responsible for maintenance and software updates. However, you can request help from our tech support team when needed, especially if you provide RDP access to a server. Please contact us to discuss your specific case.
      .question-item.faq_btn_js(data-id="12")
        span Can I integrate a platform with my in-house Trader’s room and create a mobile app? 
        .question__plus
          span
          span
        .question-item_content(data-id="12") Yes, we have a API in our platform and you can easily integrate it with your trader’s room or create a mobile app.
      .another_question
        .another_question--heading Any another questions?
        .another_question--link Don’t hesitate to contact us using the form below if you have any questions not covered by our product page and FAQs section.

      
          
        
