.features.section
  .container.goanim.an
    .section__title.center #[span(class="section__title--bold") Features] your money managers #[span(class="section__title--bold") are used to]
    .features__subtitle.center 10 Allocation methods
    .features__subtitle--little.center Let your traders allocate positions to clients’ accounts with the formulas they are used to
  .container.flex
    img(src="images/MAM_platform/allocation_methods.png", alt="image")
    .right
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Proportionally by free margin
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Proportionally by equity
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Lot allocation (ratio multiplier)
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Proportionally by balance
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Fixed lot allocation
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text PAMM (without reallocation)
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text PAMM (with autocorrection)
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text PAMM (with reallocation  of positions)
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Proportionally by equity x multiplier
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Proportionally by balance x multiplier