.footer-menu-section.footer-menu-section-2
            .container.goanim.an
                .footer-menu-section-flex
                    .footer-menu-section-flex__item
                        .footer-menu-section-flex__title
                            img.icon-title(src="images/MAM_platform/icon1.svg", alt="icon")
                            span Core products
                        ul.menu
                            li.menu-item
                                a(href="#") MetaTrader 4 White Label
                            li.menu-item
                                a(href="#") MetaTrader 5 White Label
                            li.menu-item
                                a(href="#") B2Trader (Matching Engine)
                            li.menu-item
                                a(href="#") B2Margin (Margin Exchange)
                            li.menu-item
                                a(href="#") B2Core (Trader's Room)
                            li.menu-item.disabled
                                a(href="#") MarksMan Hub (Crypto Spot Aggregator)
                            li.menu-item.disabled
                                a(href="#") DxTrade White Label (Devexperts)
                    .footer-menu-section-flex__item
                        .footer-menu-section-flex__title
                            img.icon-title(src="images/MAM_platform/icon2.svg", alt="icon")
                            span Liquidity
                        ul.menu
                            li.menu-item 
                                a(href="#") FOREX
                            li.menu-item 
                                a(href="#") Crypto Derivatives/CFD
                            li.menu-item 
                                a(href="#") Metals
                            li.menu-item 
                                a(href="#") Indices
                            li.menu-item 
                                a(href="#") Energy 
                            li.menu-item 
                                a(href="#") Equities CFD
                            li.menu-item 
                                a(href="#") ETFs CFD
                            li.menu-item.disabled 
                                a(href="#") Crypto Spot
                            li.menu-item.disabled 
                                a(href="#") Commodities
                    .footer-menu-section-flex__item
                        .footer-menu-section-flex__title 
                            img.icon-title(src="images/MAM_platform/icon-3.svg", alt="icon")
                            span Turnkey Brokerage
                        ul.menu
                            li.menu-item
                                a(href="#") Forex Broker
                            li.menu-item
                                a(href="#") Crypto Broker (MetaTrader 5)
                            li.menu-item.disabled
                                a(href="#") Multi Asset Broker
                            li.menu-item.disabled
                                a(href="#") Crypto Derivatives Margin Broker
                            li.menu-item.disabled
                                a(href="#") Crypto Spot Broker
                            li.menu-item.disabled
                                a(href="#") Securities Broker
                    .footer-menu-section-flex__item
                        .footer-menu-section-flex__title
                            img.icon-title(src="images/MAM_platform/icon7.svg", alt="icon")
                            span Money Management
                        ul.menu
                            li.menu-item 
                                a(href="#") Social Trading platform
                            li.menu-item 
                                a(href="#") MAM platform 
                            li.menu-item 
                                a(href="#") PAMM platform
                    .footer-menu-section-flex__item
                        .footer-menu-section-flex__title 
                            img.icon-title(src="images/MAM_platform/icon-5.svg", alt="icon")
                            span Crypto Processing
                        ul.menu
                            li.menu-item 
                                 a(href="#") Merchant Solutions
                            li.menu-item 
                                a(href="#") Enterprise Wallets Solutions
                            li.menu-item.disabled 
                                a(href="#") WhiteLabel Crypto 
                            li.menu-item.disabled 
                                a(href="#") Processing
                    .footer-menu-section-flex__item
                        .footer-menu-section-flex__title 
                            img.icon-title(src="images/MAM_platform/icon6.svg", alt="icon")
                            span Turnkey Exchange
                        ul.menu
                            li.menu-item
                                a(href="#") Crypto Spot Exchange
                            li.menu-item.disabled
                                a(href="#") Crypto Margin Exchange 
                            li.menu-item.disabled
                                a(href="#") Instant Exchange (Converter)
                    .footer-menu-section-flex__item
                        .footer-menu-section-flex__title
                            img.icon-title(src="images/MAM_platform/icon-4.svg", alt="icon")
                            span Softwsre Solutions
                        ul.menu
                            li.menu-item.disabled
                                a( href="#") Market Data Feed
                            li.menu-item.disabled
                                a( href="#") Currency Rates Widget
                            li.menu-item.disabled
                                a( href="#") IB/Affiliate Software
                            li.menu-item.disabled
                                a( href="#") WEB API MT4/MT5
                            li.menu-item.disabled
                                a( href="#") Setup/Support MT4/5
                    .footer-menu-section-flex__item
                        .footer-menu-section-flex__title 
                            img.icon-title(src="images/MAM_platform/icon20.svg", alt="icon")
                            span Corporate Services 
                        ul.menu
                            li.menu-item.disabled
                                a(href="#") Licenses
                            li.menu-item.disabled
                                a(href="#") Incorporation
                            li.menu-item.disabled
                                a(href="#") Banking Solutions 
                            li.menu-item.disabled
                                a(href="#") Web Design 
                    .footer-menu-section-flex__item
                        .footer-menu-section-flex__title 
                            img.icon-title(src="images/MAM_platform/icon8.svg", alt="icon")
                            span Business Models
                        ul.menu
                            li.menu-item.disabled 
                                a(href="#") Hedge Fund (PAMM Broker)
                            li.menu-item.disabled 
                                a(href="#") Copy Trading Broker  (Social Trading)
                            li.menu-item.disabled 
                                a(href="#") IB / Affilate Broker
                            li.menu-item.disabled 
                                a(href="#") Crypto Wallets
        









 






 












