.four_types.goanim.an
  .container
    .section__title.center Four types of fees #[span(class="section__title--bold") all paid automatically]
    .subtitle Four types of fees are available within the investment platform. Each are designed to pay money managers for their efforts and are transferred from the investment account to a trader's wallet.
  .container.flex
    .gray__block
      .gray__block--title Subscription fee
      .gray__block--subtitle The simplest type of fee. Just one flat fee regardless of account size, trading frequency or profit. USD only.
      .gray__block--description Can be paid daily / weekly / monthly
    .gray__block
      .gray__block--title Performance fee
      .gray__block--subtitle Industry-standard fee type. Calculated as X percent of net profit. Based on high watermark.
      .gray__block--description Can be paid daily / weekly / monthly
    .gray__block
      .gray__block--title Management fee
      .gray__block--subtitle Type of fee that is paid independently from trading activity or profit made. Set in a percentage per year of assets.
      .gray__block--description Can be paid as a percentage of equity or as a percentage of balance.
    .gray__block
      .gray__block--title Volume fee
      .gray__block--subtitle Second most popular fee type. Calculated as a USD/lot. 
      .gray__block--description Paid immediately after closing a position.
