.make_money
  .opportunities
    .container
      .green__title.big.center.goanim.an growth hacking tools
      .section__title.center.goanim.an #[span(class="section__title--bold") Make money] from the first month
      .subtitle.goanim.an Tools that will allow you to onboard new clients on an investment product immediately after launch without having to wait several months, including website content for and knowledge base.
    .container.flex.goanim.an
      .text.right
        .green__title 2 roles at THE same time
        .title Automate master accounts with trades from retail clients
        p.margin It is always hard to attract good traders and managers until you have large number of investors and vice versa.
        p.margin However,  in our investment platform you can create a master account for the leaderboard and make it a slave to any other client privately in the admin panel.
        p.margin.margin-2 You can copy signals from all your retail clients without them knowing their accounts are being used somewhere.
        .check_block--mam_platform-item.padding.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Each master can be a signal receiver to other accounts
        .check_block--mam_platform-item.padding.m0.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Unlimited source of signals from client base
      img(src="images/MAM_platform/make-1.png", alt="image")
    .container.flex.reverse
      img(src="images/MAM_platform/make-2.png", alt="image")
      .text.left
        .green__title Copy good traders as well as losers
        .title Reverse-copy masters
        p.margin-2.padding You can copy on master accounts positions from good traders as well as those from losing clients, but in reverse mode. Copy sell position when they trade, buy and vice versa.
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Copy positions from good traders
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Reverese copy from losing traders
        .check_block--mam_platform-item.padding.padding-2.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Combine signals from many private-masters on one public master account
    .container.flex.macbook_container
      .text.left
        .green__title Free giveaway #1 for new clients
        .title Free ready-to-use website content
        p.margin.padding-2 We have created not only the technology but all the basic website content that is required for the launch of a product for retail clients.
        p.margin-2.padding-2 It consists of several website pages and content for a support center. All you need to do is replace the screenshots and copy all the text as is.
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Content for main page
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Content for page for investors
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Content for page for money managers
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Content for support center
      img(src="images/MAM_platform/make-3.png", alt="image", class="abs_macbook")
    .container.flex.iphone_container
      img(src="images/MAM_platform/make-4.png", alt="image")
      .text.left
        .green__title Free giveaway #2 for new clients
        .title Free content for promo emails
        p.margin.padding Almost nothing can beat email marketing in terms of efficiency. It is the cheapest way to promote services and offers to your clients with instant impact.
        p.margin.padding We have created a set of emails which you can copy and send to your client base. 
        p.margin-2.padding Available in 3 languages: EN, RU and CN.
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text E-mail about launch of Service
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text E-mail for investors and losing traders
        .check_block--mam_platform-item.top_margin.circle
          +icon('circle')
          span.check_block--mam_platform-item--text E-mail for hunting money managers