.section-16.mam_frame.goanim.an
  .container
    .section__title Watch a #[span(class="section__title--bold") video about product]
    .video_block
      .video_block--preview
        img(src="images/video_previw.jpg", alt="video_previw").image_preview
        .video_block--play
          +icon('play')
      <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>