.money_managers
  .container
    .section__title.center Your money #[span(class="section__title--bold") managers] can #[span(class="section__title--bold") work with IBs] and gather in teams
    .subtitle.center All fees paid by our investment platform can be shared between a money manager and his partners.
    .tabs.mam_tabs
      input(type="radio" name="tabs_mam" id="tabs_mam-big-1" value="" checked)
      label.mam_tabs-btn(for="tabs_mam-big-1") IBs
        span Fees from one investor are shared between the money manager and IB.
      input(type="radio" name="tabs_mam" id="tabs_mam-big-2" value="" checked)
      label.mam_tabs-btn.margin(for="tabs_mam-big-2") Teams
        span Fees from all clients are shared between the trader and his team.
      #mam_tabs-content--manage-1
        img.banner(src="images/MAM_platform/manage_banner-1.png", alt="images")
      #mam_tabs-content--manage-2
        img.banner(src="images/MAM_platform/manage_banner-2.png", alt="images")