.money_managers.goanim.an
  .container
    .section__title.center Your money #[span(class="section__title--bold") managers] can #[span(class="section__title--bold") work with IBs] and gather in teams
    .subtitle.center All fees paid by our investment platform can be shared between a money manager and his partners.
    .tabs.mam_tabs
      div.mam_tabs-btn.mam_tabs-btn-1.active(data-id="1") IBs
        span Fees from one investor are shared between the money manager and IB.
      div.mam_tabs-btn.mam_tabs-btn-1.margin(data-id="2") Teams
        span Fees from all clients are shared between the trader and his team.
      .mam_tabs-content.mam_tabs-content-1.active(data-id="1")
        img.banner(src="images/MAM_platform/manage_banner-1.png", alt="images")
      .mam_tabs-content.mam_tabs-content-1(data-id="2")
        img.banner(src="images/MAM_platform/manage_banner-2.png", alt="images")