.opportunities
  .container
    .green__title.big.center.goanim.an Unique features for money managers
    .section__title.center.goanim.an Open #[span(class="section__title--bold") new opportunities] for your money managers
  .container.flex
    img(src="images/MAM_platform/opportunities-1.png", alt="image")
    .text.left
      .green__title Hybrid MAM
      .title Several master accounts for managing a pool of investors
      p.margin Allow your clients to divide different trading strategies amongst several accounts. Making manual trades in MetaTrader when you have 30-100 and more opened positions is not easy!
      p.padding Allow your clients to use one account for EAs and a second account for personal trading.
  .container.flex
    .text.right
      .title All Fiat and Crypto currencies are supported
      p.margin Your clients can use an account nominated in any currency. The platform supports any combination imaginable. All fees will be calculated and paid respectively. 
      p.margin-2 Accounts can be opened in fiat and cryptos: USD, JPY, BTC, USDT, EUR, etc.
      .check_block--mam_platform-item
        +icon('new_land-green_check')
        span.check_block--mam_platform-item--text Master in BTC and Slave in ETH
      .check_block--mam_platform-item
        +icon('new_land-green_check')
        span.check_block--mam_platform-item--text Master in USD and Slave in Ripple
      .check_block--mam_platform-item
        +icon('new_land-green_check')
        span.check_block--mam_platform-item--text Master in USDT and Slave in GBP
    img(src="images/MAM_platform/opportunities-2.png", alt="image")
  .container.flex
    img(src="images/MAM_platform/opportunities-3.png", alt="image")
    .text.left
      .title Manual and automatic mapping of symbols
      p.margin-2.padding-2 Your clients can be placed in different groups with different symbol names for one instrument where you can set different price streams and other symbol settings.
      .check_block--mam_platform-item
        +icon('new_land-green_check')
        span.check_block--mam_platform-item--text Manual mapping for other symbols
      .check_block--mam_platform-item
        +icon('new_land-green_check')
        span.check_block--mam_platform-item--text Auto-mapping of symbols for FX and Metals
      .check_block--mam_platform-item
        +icon('new_land-green_check')
        span.check_block--mam_platform-item--text Different price streams for Master and Slaves
  .container
    img.banner(src="images/MAM_platform/gif2.gif", alt="banner")
    .text.banner_text
      .green__title Two roles for each account
      .title Create tailor-made MAM solutions for your clients
      p Each account can be both slave and master at the same time. This opens up almost unlimited opportunities for managing a pool of investors.
      .flex
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Large individual accounts can receive positions with copy trading
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Small investors' accounts can be gathered
  .container.flex.castom_margin
    img(src="images/MAM_platform/opportunities-4.png", alt="image", class="castom-width")
    .text.left-2
      .green__title А new marketing opportunity
      .title Private and public accounts
      p.padding-2 Our platform by default has a leaderboard of master accounts. However, your money managers have the option to show or hide accounts from the leaderboard,
  .container.flex
    .text.right
      .green__title Unique options ror the biggest clients
      .title Separate web interfaces for IBs
      p Allow your biggest IBs to run their pool of clients in a separate web-interface. In this way, they will be able to have multiple master accounts and promote them without interfering with other clients' accounts that are not under their IB schema.
    img(src="images/MAM_platform/opportunities-5.png", alt="image")
  .container.flex
    img(src="images/MAM_platform/opportunities-6.png", alt="image")
    .text.left
      .title A personal risk manager for every trader
      p.margin Bad days can happen with every trader. The aim is to avoid leaving all money on the table due to a single mistake. Offer your clients a daily risk limit - a tool widely used by all investment funds.
      p It's simple - all the trader needs to do is set the percentage to equity at the beginning of the day. If the trader reaches it, the platform blocks all trading until the next day.
  .container.flex.margin-bottom-0
    .text.right
      .title Offer your clients investments, not a hobby
      p.margin Risk control is what makes the difference between active and passive investments.
      p With our platform, your clients can set a risk limit for their investments and feels safe and calm. A less stressful experience will earn the trust of your clients.
      .check_block--mam_platform-item
        +icon('new_land-green_check')
        span.check_block--mam_platform-item--text Less stress, more trust
    img(src="images/MAM_platform/opportunities-7.png", alt="image", class="shadow-2")