.or_features.goanim.an
  .container
    .section__title.center Other #[span(class="section__title--bold") features]
    .subtitle.center Our platform capabilities reach way beyond simple copy trading. Most functionality is customizable for a broker's specific needs.
  .container.text_catalog
    .text_catalog-item
      .text_catalog-item--heading Support all types of trading instruments
      .text_catalog-item--description Your clients can trade Forex, Metals, Indices, Stocks, Cryptos and all other groups of instruments on offer.
    .text_catalog-item
      .text_catalog-item--heading Sharing fees between master and partners
      .text_catalog-item--description The money manager can share fees between himself and his agents for a specific investor, or all of them.
    .text_catalog-item
      .text_catalog-item--heading Over 100 customizable functions
      .text_catalog-item--description Almost all functions are customizable in a few clicks from the admin panel.
    .text_catalog-item
      .text_catalog-item--heading Email for new accounts
      .text_catalog-item--description Your clients will receive an email with login details and a password every time a new account is created.
    .text_catalog-item
      .text_catalog-item--heading White label support
      .text_catalog-item--description White label architecture is the same as for WLs in the MetaTrader server. Each WL has access to their account via the manager's applications.
    .text_catalog-item
      .text_catalog-item--heading Support EA trading
      .text_catalog-item--description Your clients can trade manually or with EAs with no limitations regarding trading style or instruments.
    .text_catalog-item
      .text_catalog-item--heading Different currencies for investor and master
      .text_catalog-item--description A signal provider and his followers are able to have different account currencies, including cryptos.
    .text_catalog-item
      .text_catalog-item--heading Range for logins of new accounts
      .text_catalog-item--description You can specify a range for new master and slave accounts which are opened by a platform individually, e.g. new slaves will be opened in 100000-200000 and new masters in 400000-500000 ranges.
    .text_catalog-item
      .text_catalog-item--heading Logging of all events and actions
      .text_catalog-item--description Each client action, data from the MT server or calculation is logged by a platform. When you have a query about why something may have happened, it can be found in the log files.
    .text_catalog-item
      .text_catalog-item--heading Full support of #[span(class="db")] Crypto-Currencies
      .text_catalog-item--description Trading Accounts can be nominated in any fiat or crypto-currency such as BTC, ETH, Ripple and others.
    .text_catalog-item
      .text_catalog-item--heading Limit for maximum amount of accounts
      .text_catalog-item--description You can allow clients to open as many accounts as they want or just 5-7, for example.
    .text_catalog-item
      .text_catalog-item--heading Maximum number of subscriptions for slave
      .text_catalog-item--description It is hard to manage risks between A- and B-books if the slave is subscribed to 3 or 5 masters. You can limit the number of active subscriptions for 1 slave.
    .text_catalog-item
      .text_catalog-item--heading Setting default groups for new accounts
      .text_catalog-item--description There is a table in setttigs where you can specify in which group the account type that should be opened by default. Also, the platform can copy a group from a payment account.
    .text_catalog-item
      .text_catalog-item--heading Maximum number of active subscriptions for one master
      .text_catalog-item--description You can limit the number of active subscriptions for 1 master and make his offer limited for new investors.
    .text_catalog-item
      .text_catalog-item--heading Auto-archiving of inactive accounts
      .text_catalog-item--description The system can automatically archive  inactive accounts after they are deleted or archived in the MT4/5 server.
