.rest.goanim.an
  .container
    .section__title.center #[span(class="section__title--bold") JSON REST API] for further development
    .subtitle.center With built-in JSON REST API, our platform offers you many opportunities for the further development of widgets for your website's web interface which can be integrated into your client area. You also have the opportunity to create investment mobile apps.
    .shadow_wrapper
      img.banner(src="images/MAM_platform/rest.png", alt="image")
      .abs_shadow