.strategies.section
  .container
    .green__title.big.center.goanim.an Charts & statistics
    .section__title.center.goanim.an #[span(class="section__title--bold") Successful strategies] deserve to be presented in the best possible way
    .subtitle.center.goanim.an Collect, share and present your trading history with minimal effort.
  .container.grafic
    .green__title.center Showcase of traders
    .title.center All the best traders in one place
    .subtitle.center All master accounts opened in your company are visible in the leaderboard and sorted by return. Investors use filters and compare them all on one page and choosing several for deeper analysis.
    <iframe src="https://invest5.b2broker.net/#/iframe-leaderboard?limit=20&lang=en" style="width: 100%; height: 780px; border: none"></iframe>
    img.banner(src="images/MAM_platform/macbook.png", alt="macbook", class="macbook")
    .title.title-2 A statistics page for every account
    .subtitle.subtitle-2 Each account in copy trading has its own statistics page featuring a big chart and a multitude of other parameters to help investors better analyze the strategy of a trader before investing.
    .num-wrapper
      .num 17
      .num-text Statistical parameters for each account and counting...
  .opportunities
    .container.flex
      .shadow_wrapper
        .shadow
        img.banner(src="images/MAM_platform/opportunities-8.png", alt="img")
      .text.left
        .green__title create charts in seconds
        .title History uploader
        p History uploader allows you to create, save and edit public statistics performance. With this tool you have full control over your leaderboard and can launch sales and marketing  to investors straight after launch.
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Create your own  statistics
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Upload history from existing accounts
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Onboard experienced money managers
    