.what_is.goanim.an
  .container
    .section__title #[span(class="section__title--bold") What is a] MAM platform?
    .main__text MAM managers are the most valuable asset your brokerage can have as they always have their own pool of investors. Our platform can help you meet the needs and requirements of the most sophisticated money managers. Once they come to you, they will bring all their investors to your company!
  .container.flex
    .segment
      img(src="images/MAM_platform/segment.png", alt="segment")
      .segment-text
        .segment-text--title New client segment
        .segment-text--subtitle Attract money managers with  a feature-rich MAM platform
    .segment
      img(src="images/MAM_platform/segment.png", alt="segment")
      .segment-text
        .segment-text--title New marketing offer
        .segment-text--subtitle Offer your clients the opportunity to create unique setups for money management
    .segment
      img(src="images/MAM_platform/segment.png", alt="segment")
      .segment-text
        .segment-text--title Upload history
        .segment-text--subtitle Attract clients from other brokers and upload their history
