.join.webinars__join(style="background-image: url(images/join.png);")
        .container
            .alert
                .alert__left
                    span Next webinar
                    span.alert__line |

                .alert__right
                        .timer#timer5(data-time="07/29/2020 00:00")
                            .timer_section

            .join__title Start Crypto #[span(class="db")] Exchange in 2020
            .join__subtitle  If you’ve followed along with the leaks in recent weeks, none of the new features#[span(class="db")] will surprise you. It’s also not a huge surprise that Google is bringing some#[span(class="db")] features from Inbox over to Gmail. 
            .join__wrapper
                .join__who
                    .join__icon
                        img(src="images/join_name.png", alt="name")
                        <svg class='anim_circle_bar'  height="100%" width="100%">
                            <circle cx="28" cy="28" r="28" stroke="#00e8b6" stroke-width="2"  stroke-dasharray=" 400%,1000px;" />
                        </svg>
                    div
                        .join__name Alex  Kukhtikov
                        .join__discription Business Development Teamlead

                .join__date 30 Apr. 12:00 (GMT+3)

            .blockshow__btn_wrapper
                a.new_green_btn(href="#") Join our webinar
                a.new_read_more_btn(href="#") Read more

.filter
    .container
        .filter__wrapper
            select.filter__item
                option.filter__content_item(value="1") All Webinars
                option.filter__content_item(value="2", selected) Future Webinars
                option.filter__content_item(value="3") Previous Webinars
            
            select.filter__item.scroll__list
                option.filter__content_item(value="1", selected) All Languages
                option.filter__content_item(value="2") English 
                option.filter__content_item(value="3") Arabic
                option.filter__content_item(value="3") Russian
                option.filter__content_item(value="3") Russian
                option.filter__content_item(value="3") Russian
                option.filter__content_item(value="3") Russian
            
            select.filter__item.scroll__list
                option.filter__content_item(value="1", selected) All Topics
                option.filter__content_item(value="2") Blockchain 
                option.filter__content_item(value="3") FOREX
                option.filter__content_item(value="4") Payments
            
            select.filter__item.scroll__list
                option.filter__content_item(value="1", selected) All Months
                option.filter__content_item(value="2") April
                option.filter__content_item(value="3") May
                option.filter__content_item(value="4") June
                option.filter__content_item(value="5") June
                option.filter__content_item(value="6") June
                option.filter__content_item(value="7") June
                option.filter__content_item(value="8") June
                option.filter__content_item(value="9") June
            
            select.filter__item.scroll__list
                option.filter__content_item(value="1", selected) All Years
                option.filter__content_item(value="2") 2020
                option.filter__content_item(value="3") 2019
                option.filter__content_item(value="4") 2018
                option.filter__content_item(value="5") 2017
                option.filter__content_item(value="6") 2016
                option.filter__content_item(value="7") 2015
                option.filter__content_item(value="8") 2014
                option.filter__content_item(value="9") 2013