$roboto: 'Roboto',
sans-serif;
body {
    color: #63636E;
    font-family: $roboto;
    font-size: 14px;
    line-height: 16px;
    background: #FBFBFB;
}

body,
p,
ul,
h2 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

input:focus,
input:visited,
select:focus,
select:visited,
button:focus,
button:visited {
    outline: none;
}

.container {
    width: 98%;
    max-width: 980px;
    margin: 0 auto;
}

.section__title {
    font-size: 80px;
    line-height: 84px;
    font-weight: 300;
    color: #383838;
    &--bold {
        font-weight: 900;
    }
}

.btn {
    text-decoration: none;
    font-family: $roboto;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    &--green {
        background: linear-gradient(180deg, #00D0A4 0%, #00B890 100%);
    }
    &--dark_green {
        background: linear-gradient(180deg, #00C69B 0%, #00AE89 100%);
    }
    &--box_shadow {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }
    &--gray {
        background: rgba(0, 0, 0, 0.2);
    }
    &--border {
        border: 1px solid #01C198;
    }
}

.form__input {
    background: #FFFFFF;
    border: 1px solid #D1DBE3;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: $roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.318182px;
    color: #9DAFBD;
    height: 51px;
    padding: 0 20px;
    &::placeholder {
        font-family: $roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.318182px;
        color: #9DAFBD;
        transition: color .5s ease;
    }
    &:focus::placeholder {
        color: #fff;
    }
}

.form__phone {
    display: flex;
    &__select {
        padding-left: 17px;
        margin-right: -3px;
        border-radius: 5px;
        z-index: 1;
        border-radius: 5px;
    }
    .form__input {
        border-radius: 0px 5px 5px 0px;
    }
    select.form__input {
        border-radius: 5px;
    }
}

.check_block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &__icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #01B68F;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 18px;
        .icon-check {
            width: 18px;
            height: 12px;
        }
    }
}

.slider_arrow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #01B68F;
    cursor: pointer;
    .svg-sprite-icon {
        width: 9px;
        height: 15px;
    }
    &--prev {
        .svg-sprite-icon {
            transform: rotate(180deg);
        }
    }
    &--green {
        background: #01B68F;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-item {
        a {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            letter-spacing: -0.5px;
            text-decoration: none;
            color: #E3E3E3;
        }
        &:hover {
            a {
                color: #fff;
                font-weight: bold;
            }
        }
    }
}

.language {
    img {
        display: block;
        width: 100%;
    }
}