.section-3.section.section-3__forex
  .container.goanim.an
    .section__title #[span(class="section__title--bold") Spot Metals] Liquidity
    span.main-text  Spot metals  have varying amounts of liquidity. Gold is the most liquid precious metal as it has the greatest degree #[span(class="db")] of trading activity, trading both in the physical as well as OTC futures markets. B2Broker aggregates liquidity from#[span(class="db")] top Tier-1 liquidity providers to provide the deepest liquidity on gold and a variety of other spot metals at competitive prices. Tight spreads, long or short positions

    span.main-text In today’s increasingly competitive and volatile precious metals markets, we are pleased to offer our solid expertise, allowing us to provide the best liquidity solution in accordance with the specific needs of our diverse customer base. Our focus on outstanding customer service makes us one of the industry’s most sought-after liquidity providers for precious metals.
    .number_block
      .number_block-content
        .number_block--text Spreads from
        .number_block--number 0

      .number_block-content
        .number_block--text Margin Requirements
        .number_block--number 1
          span.number_block--number-text %

      .number_block-content
        .number_block--text Trading hours
        .number_block--number 23/5

      .number_block-content
        .number_block--text Execution from
        .number_block--number 49
          span.number_block--number-text ms
        
      .number_block-content
        .number_block--text technical Support
        .number_block--number 24/7