.events_screen.section.news_feed(style="background-image: url(images/corporate_news.png);")
    .container
        .section__title.section__title--bold Corporate News
        .section__subtitle All our latest news in one place. From corporate events and#[span(class="db")] employee announcements to company meetings and new#[span(class="db")] office openings, read about it here.  
    