.section.events.news_feed_events
    .aside_burger--js
        span

    aside.events_sidebar
        ul.events_sidebar__ul
            li.events_sidebar__li
                a.events_sidebar__link(href="#") News Feed
            
            li.events_sidebar__li.active
                a.events_sidebar__link(href="#") Сorporate news
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Product Updates
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Webinars
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Events
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Media
            
            li.events_sidebar__li.video
                a.events_sidebar__link(href="#") Videos
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Articles
        
        form.events_form
            .events_form__title Join to our newsletter
            input(type="email" placeholder="Enter your Email")
            button.new_green_btn Subscribe

    .events_content.news_feed_content.product_update_content.corporate_news_content
        .also__flex
            .also.green__style(style="background-image: url(images/cn/item1.png);")
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__content
                    .also__date 21.04.2020
                    .also__description Shanghai International Money Fair Concludes#[span(class="db")] as B2Broker Wraps Up 2019 Expo Attendance
                    .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features
                    
            
            .also.green__style(style="background-image: url(images/cn/item2.png);")
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__content
                    .also__date 21.04.2020
                    .also__description B2Broker – Diamond Sponsor of Blockchain Life
                    .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features
        
        .also__flex
            .also.green__style(style="background-image: url(images/cn/item3.png);")
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__content
                    .also__date 21.04.2020
                    .also__description B2Broker Becomes First Prime Broker to offer OneZero#[span(class="db")] Platform Technology in Belarus After NFC Approval
                    .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features

        .also__flex
            .also.green__style(style="background-image: url(images/cn/item4.png);")
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__content
                    .also__date 21.04.2020
                    .also__description B2Broker Launches Educational Workshop Series 
                    .also__subdescription B2Broker has announced that it will be commencing an online educational program.
            
            .also.green__style(style="background-image: url(images/cn/item5.png);")
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__content
                    .also__date 21.04.2020
                    .also__description B2Broker Secures its Position as a PoP Liquidity Provider
                    .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features
        
        .also__flex
            .also.green__style(style="background-image: url(images/cn/item6.png);")
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__content
                    .also__date 21.04.2020
                    .also__description iFX EXPO Asia 2020
                    .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features
            
            .also.green__style(style="background-image: url(images/cn/item7.png);")
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__content
                    .also__date 21.04.2020
                    .also__description Blockchain Life 2019 Overview
                    .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features
            
            .also.green__style(style="background-image: url(images/cn/item8.png);")
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__content
                    .also__date 21.04.2020
                    .also__description B2Broker Confirms Participation at Blockshow Asia 2020
                    .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features
        
        .also__flex
            
            
            .also.green__style(style="background-image: url(images/cn/item9.png);")
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__content
                    .also__date 21.04.2020
                    .also__description B2BinPay Completes Successful iGB Affiliate London#[span(class="db")] 2020 Expo
                    .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features

        .also__flex
            .also.green__style(style="background-image: url(images/cn/item10.png);")
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__content
                    .also__date 21.04.2020
                    .also__description B2Broker Sees in 2020 with Simultaneous#[span(class="db")] Office New Year Parties
                    .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features

            .also.green__style(style="background-image: url(images/cn/item11.png);")
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__content
                    .also__date 21.04.2020
                    .also__description UK for Finance Magnates London Summit 2019
                    .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features

        .container
            .ev_pag
                .ev_pag__discription 11 of 165
                ul.ev_pag__container
                    li.ev_pag__item.ev_pag__active
                        a(href="#") 1
                    
                    li.ev_pag__item
                        a(href="#") 2
                    
                    li.ev_pag__item
                        a(href="#") 3
                    
                    li.ev_pag__item
                        a(href="#") ...
                    
                    li.ev_pag__item
                        a(href="#") 15
                    
                    li.ev_pag__item.ev_pag__next
                        a(href="#")
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.96601 13.9982C1.73432 13.9987 1.50978 13.9175 1.33138 13.7687C1.23097 13.6849 1.14797 13.5821 1.08713 13.466C1.0263 13.3499 0.988819 13.2229 0.976844 13.0922C0.96487 12.9615 0.978635 12.8297 1.01735 12.7044C1.05607 12.5791 1.11898 12.4626 1.20247 12.3618L5.64487 7.01368L1.36113 1.65557C1.27876 1.5535 1.21725 1.43607 1.18013 1.31001C1.14301 1.18395 1.13102 1.05175 1.14484 0.921013C1.15867 0.790274 1.19803 0.663573 1.26067 0.548193C1.32332 0.432812 1.408 0.331026 1.50987 0.248686C1.61247 0.157851 1.73262 0.0893352 1.86278 0.0474391C1.99294 0.00554297 2.1303 -0.00882886 2.26624 0.00522486C2.40218 0.0192786 2.53377 0.0614548 2.65275 0.129107C2.77172 0.196758 2.87552 0.288425 2.95762 0.398354L7.74708 6.38508C7.89293 6.56362 7.97266 6.78756 7.97266 7.01867C7.97266 7.24979 7.89293 7.47373 7.74708 7.65227L2.78904 13.639C2.68957 13.7597 2.5632 13.8552 2.4202 13.9176C2.2772 13.98 2.1216 14.0076 1.96601 13.9982Z" fill="#343434"/>
                            </svg>