.section.section-23.best.section__b2_best.section__b2_best__litle_ex.section__b2_best__wl_mt
  .container
    .section__title.goanim.an It comes #[span(class="section__title--bold") best with]
    .section__subtitle.goanim.an Our liquidity is best combined with the leading industry#[span(class="db")] trading platforms to provide the ultimate in performance#[span(class="db")] and user satisfaction.

    .best_with.goanim.an
      .best_with--left
        .best_with--heading B2Core (Trader's Room)
        .best_with--text A new generation of professional software that helps brokers and exchanges manage their customers, admins and IB-partners in one place.
        .best_with--img
          img(src="images/wl_mt/best1.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Flagship User Interface
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Solution for Multiple Business#[span(class="db")] Types
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Deep Customizations & Adjustments
        .check_block.castom
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Widest Range of External#[span(class="db")] Integrations

    .best_with
      .best_with--left
        .best_with--heading Crypto CFD Margin Broker 
        .best_with--text Turnkey solution based on crypto currencies. Cashflow, trading accounts and instruments and much more features are fully compliant with new financial market.
        .best_with--img
          img(src="images/wl_mt/best2.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Trading account nominated in cryptocurrencies
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Crypto deposits and withdrawals
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text 100 crypto CFDs available for#[span(class="db")] trading
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Margin account nominated in#[span(class="db")] crypto to exclude volatility risk

    .best_with
      .best_with--left
        .best_with--heading Crypto Derivatives/CFD Liquidity
        .best_with--text Get an access to a pool of top cryptos available for trading any time. 
        .best_with--img
          img(src="images/wl_mt/best3.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text 100 crypto pairs available
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Aggregated volumes and ultra low spreads
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Major cryptos to major fiat#[span(class="db")] currencies
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text 24/7 availability