.section.section__branding_wl_mt
    .container
        .section__title White Label #[span(class="section__title--bold") Branding]
        .section__subtitle MetaTrader 5 White Label allows you to get a highly customized solution to suit your#[span(class="db")]  own branding and trading conditions.
        img.banner(src="images/wl_mt/mac.png", alt="banner")
        .branding_wl_mt__title  Fully branded and customized platform
        
        .trading__flex
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Сustom platform name
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Сustom logos, banners and icons
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Label owner contact details
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Customized UI settings
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Сustom name trading servers
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Technical analysis indicators,#[span(class="db")] trading experts and scripts.