.section.section__enguine.section__enguine__wl_mt5.section__comparison__wl_mt5
    .container.goanim.an
        .section__title Comparison #[span(class="section__title--bold db") MT5 vs MT4]
    
    .container.container__table.goanim.an
        .enguine_table
            .row
                .col Features
                .col Metatrader 5
                .col Metatrader 4
            
            .row
                .col Partial Order Filling Policies
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Order Fill Policy
                .col 
                    span Fill or Kill
                    span Immediate or Cancel Return
                .col
                    span Fill or Kill
            
            .row
                .col Pending Order Types
                .col 
                    span 6
                .col
                    span 4
            
            .row
                .col Depth of Market
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Time & Sales (Exchange data)
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Technical Indicators
                .col 
                    span 38
                .col
                    span 30
            
            .row
                .col Graphical Objects
                .col 
                    span 44
                .col
                    span 31
            
            .row
                .col Timeframes
                .col 
                    span 21
                .col
                    span 9
            
            .row
                .col Economic Calendar
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Email System
                .col 
                    +icon('bold_check')
                    span with attachments
                .col
                    +icon('bold_check')
                    span no attachments
            
            .row
                .col Transfer funds between accounts
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Embedded MQL5.community chat
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')

            .row
                .col Strategy Tester
                .col 
                    span Multi-threaded
                    span + Multi-currency
                    span + Real ticks
                .col
                    span Single thread
            
            .row
                .col Multilingual Unicode
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Netting
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Hedging
                .col 
                    +icon('bold_check')
                .col
                    +icon('bold_check')
            
            .row
                .col Symbols
                .col 
                    span Unlimited
                .col
                    span 1024
            
            .row
                .col Supported Markets
                .col 
                    span FOREX / Futures /
                    span Options / Stocks / Bonds
                .col
                    span FOREX
            
            .row
                .col Exchange Trading
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
                    