.section.section__conectivity_wl_mt
    .container
        .section__title Liquidity #[span(class='section__title--bold') Connectivity]
        .section__subtitle Our White Label MT5 is connected through reliable gateways that provide the fastest,#[span(class="db")] highest quality processing, execution of trade orders and uninterrupted price flow.
        img.banner(src="images/wl_mt/conect.png", alt="banner")
        
        .section__conectivity_wl_mt__title Margin accounts that provide liquidity for trading groups of White Label clients and can be located either in OneZero Hub Liquidity Aggregator, PrimeXM XCore or directly to our MetaTrader 4/5 Prime Trading accounts. B2Broker can provide White Label clients with all types of liquidity. Our aggregators of liquidity are connected to MetaTrader 5 through ServerAPI which allows you to get the fastest and highest quality processing and execution of trade orders.