.section.section__enguine.section__enguine__wl_mt5
    .container.goanim.an
        .section__title #[span(class="section__title--bold") White Label ] vs #[span(class="section__title--bold") Full License ] MT5
        .section__subtitle Get an overview of all the differences between buying#[span(class="db")] a full license and a WL license
    
    .container.container__table.goanim.an
        .enguine_table
            .row
                .col Features
                .col White Label MetaTrader 5
                .col Own Server MetaTrader 5
            
            .row
                .col Low purchase cost
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Ready-made server infrastructure
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col No server maintenance costs
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col 24/7 technical support
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Reliable reservation system
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Ready-made deep liquidity pool
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Ready-made server extensions
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Ready-made integration solutions
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Highly cost-effective
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Fast set-up
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')
            
            .row
                .col Construction of broker package solution
                .col 
                    +icon('bold_check')
                .col
                    +icon('close')

    .container
        .enguine_desc
            .enguine_desc__title Purchasing a ready-made White Label solution saves at least $250,000

            .enguine_desc__description As well as buying a trading server, you will need to hire at least 10 specialists to service them and handle other aspects including#[span(class="db")] hosting, plug-ins, infrastructure, liquidity providers and round-the-clock technical support in several languages. All this requires#[span(class="db")] substantial time as well as human and technical resources, which can prove expensive. The savings are clear to identify! 

            a(href="#").enguine_desc__btn Try it now