.section.manager_wl_mt.dark_style
    .container
        .section__title  #[span(class="section__title--bold") MetaTrader] 5 Manager
        .section__subtitle  MT Manager - A back-office application designed to handle trade#[span(class="db")] enquiries and manage customer accounts.
    
        .manager_wl_mt__title A Basic Product Management Tool
        .manager_wl_mt__subtitle The main tool for managing the Metatrader 5 White Label is Metatrader 5 Manager program.#[span(class="db")] Metatrader 5 Manager allows you to:
    
    .container.manager_wl_mt__container
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Customize display and export data
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Create, modify and delete accounts
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Work with customer analytics
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Create reports and report profiles,#[span(class="db")] export data
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Create, open, modify, close and delete#[span(class="db")] trading orders
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Work with risk management

    .trading
        .trading__title Online Users
        .trading__subtitle Tools for analysis of online user connections. Detailed information is available#[span(class="db")] with Ping and Tracert commands available via the MT Manager application.

        .trading__slider.flickity_castom_arrow
            .item
                img.banner(src="images/wl_mt/slide1.png", alt="banner")
            
            .item
                img.banner(src="images/wl_mt/slide2.png", alt="banner")
            
            .item
                img.banner(src="images/wl_mt/slide3.png", alt="banner")
            
            .item
                img.banner(src="images/wl_mt/slide4.png", alt="banner")
            
            .item
                img.banner(src="images/wl_mt/slide5.png", alt="banner")
    
    .trading
        .trading__title Multi-account operations
        .trading__subtitleThe possibility to make changes on multiple accounts simultaneously#[span(class="db")] including balance and trade operations.

        .trading__slider.flickity_castom_arrow
            .item
                img.banner(src="images/wl_mt/item1.png", alt="banner")
            
            .item
                img.banner(src="images/wl_mt/item2.png", alt="banner")
            
            .item
                img.banner(src="images/wl_mt/item3.png", alt="banner")
            
            .item
                img.banner(src="images/wl_mt/item4.png", alt="banner")
            
            .item
                img.banner(src="images/wl_mt/item5.png", alt="banner")

.section.or_features.or_features__wl_mt.or_features__wl_mt_pricing
    .container.text_catalog
        .text_catalog-item
            .text_catalog-item--heading Multiple reports#[span(class="db")] on MT5 Manager
            .text_catalog-item--description Default reports are available to cover any needs regarding trading activities and account analysis.

        .text_catalog-item
            .text_catalog-item--heading Automation
            .text_catalog-item--description Any management operation can be automated by Manager API including trade operations.

        .text_catalog-item
            .text_catalog-item--heading Business Target
            .text_catalog-item--description Give rebates based on trading, exchanges, spot trading, etc.

        .text_catalog-item
            .text_catalog-item--heading IP-whitelist
            .text_catalog-item--description A security option with an unlimited count of IP addresses in the whitelist for each MT5 Manager account.

        .text_catalog-item
            .text_catalog-item--heading Denomination
            .text_catalog-item--description IB accounts can be denominated in any fiat/crypto currency.

        .text_catalog-item
            .text_catalog-item--heading Reporting
            .text_catalog-item--description Reporting system on#[span(class="db")] rewards and transactions.
