.or_features.section.or_features__wl_mt
  .container.goanim.an
    .section__title Customization
  .container.text_catalog
    .text_catalog-item
      .text_catalog-item--heading Flexible trading conditions customization
      .text_catalog-item--description The possibility to create your own trading conditions with commissions, markups, swaps, margin and risk settings.

    .text_catalog-item
      .text_catalog-item--heading Various denominations for accounts
      .text_catalog-item--description Accounts based on any currency from the liquidity list with up to 8 decimals precision.

    .text_catalog-item
      .text_catalog-item--heading Predefined markup plans
      .text_catalog-item--description Well balanced, tested by businesses and ready-to-use price streams for markups.

    .text_catalog-item
      .text_catalog-item--heading Extra precision for pricing
      .text_catalog-item--description Account details on MT5. Up to 8 digits decimal for account details and trading instrument pricing. Suitable for Cryptocurrencies, Crypto-denominated accounts and Crypto Brokers.

    .text_catalog-item
      .text_catalog-item--heading Branding customization
      .text_catalog-item--description A fully branded and customized platform, with custom logos, banners, icons, names, profiles, statements, instruments, color schemes, etc.

    .text_catalog-item
      .text_catalog-item--heading Management rights
      .text_catalog-item--description Customized management rights from "full access" to "view only" for any purpose.

    .text_catalog-item
      .text_catalog-item--heading Risk management 
      .text_catalog-item--description The simplest and most effective risk manage-ment, using A/B-book strategies, NOP controls, Report DataBase and WebAPI/ManAPI solutions.

    .text_catalog-item
      .text_catalog-item--heading Various leverage settings
      .text_catalog-item--description Leverage from 1:1 to 1:10000 is available to use. Changes can be applied immediately.

    .text_catalog-item
      .text_catalog-item--heading Group settings
      .text_catalog-item--description Swaps, commissions and Margin requirements can be changed on the fly.
    
  .container.denominated
    .denominated__content
      .text_catalog-item--heading Denominated accounts
      .text_catalog-item--description Trading accounts can be denominated in any of the currencies presented in the liquidity list, metals (41 names), including cryptocurrencies, with an expanded accuracy of up to 8 decimal places.
      img.banner(src="images/wl_mt/denomination.png", alt="img")
    
