.section.plugins_wl
    .container
        .section__title.section__title--bold.section__title__plugins Plugins
        .section__subtitle Our White Label MetaTrader 5 solution offers the following platform extensions.

        .gray_block__container
            .gray__block
                .gray__block--title Drawdown Manager
                .gray__block--subtitle Limits a trade when a certain drawdown limit is reached for an open position. The limit is set as a percentage of the account balance. Upon reaching the limit, all open positions are closed automatically and account trading operations are prohibited.
            
            .gray__block
                .gray__block--title Dynamic Leverage
                .gray__block--subtitle Allows you to configure a dynamically changing leverage (leverage multiplier), depending on the volume of open positions in the market.
