.section.dark_style.section__pool_wl_mt
    .container
        .section__title.section__title--bold Prime of Prime #[span(class="db")] Liquidity Pool
        .section__subtitle.section__subtitle__pool 7 asset classes with the most popular instruments from Tier 1 Liquidity. More than 700 trading instruments are available for FOREX, Metals, Commodities, Indices, Cryptocurrencies, Equities and ETFs.

        .trading__flex
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text FOREX
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Metals
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Crypto CFDs
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Indices
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Equity CFDs
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Energy
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text ETF CFDs

        .section__subtitle With a strong reputation, solid financial markets expertise and access to the best solutions, B2Broker is one of the most#[span(class="db")] sought-after liquidity providers in the industry.