.section-12.section.migration_wl
  .section__title.goanim.an #[span(class="section__title--bold") Migration ] from another #[span(class="section__title--bold db") MT Server ] 
  .main-text.goanim.an We offer a service for fast, high-quality migration of trading accounts,#[span(class="db")] history of trading operations and open positions from any MetaTrader 4#[span(class="db")] or MetaTrader 5 server. 
  .migration__title  Migration is fully automated 
  .main-text  Migration to the client’s personal account is a straightforward process.#[span(class="db")] All you need to do is...

  .container.goanim.an
    .arch__catalog
      .arch__item
        .arch__icon
          span 1
        .arch__text Alert your clients about the technical work and that the account and order numbers will be changed.
      
      .arch__item
        .arch__icon
          span 2
        .arch__text Inform your clients that the server will be unavailable for a short time.
      
      .arch__item
        .arch__icon
          span 3
        .arch__text Ask your clients to download the new trading platform structure from your website or inform them of the new IP address of the server.
      
      .arch__item
        .arch__icon
          span 4
        .arch__text Ask your clients to change the password of their trading accounts via the platform.

  .container-2.goanim.an
    .migration__title Migration Benefits
    .box-catalog
      .box_block
        .box_block--title Accounts Import
        .box_block--text Automated import of accounts and trading history from any MT server for migration purposes.
          
      .box_block
        .box_block--title Users Import
        .box_block--text Import of users and trade operations from MT servers.
    .main-text For migration, only a valid MetaTrader 4 or MetaTrader 5 manager account is required with access to the list of accounts and trading operations that need to be migrated. There is no need to access the server administrator, making it easy to migrate the White Label from third-party MetaTrader 4 or MetaTrader 5 servers.

  .speed_form.goanim.an
      .speed_form--left
        .speed_block
          .speed_block--heading Migration takes up to 
          .speed_block--main
            img(src="images/speed.svg", alt="speed")
            span.big 1#[span(class="little") Day]
        .speed__flex
          .speed__flex__left
            .speed_form--left-text Time needed to migrate  
            .speed_form--gray_gr
            .speed_form--left__subtext Competitors’ Solutions
            .speed_form--green_gr
            .speed_form--left__subtext B2Broker’s Solution
          
          .speed__flex__right
            .speed__exstra_text
              span 80
              span %
            .speed_form--left__subtext Faster

      .speed_form--right
        .speed_form--heading The time required for migration is proportional to the amount of data migrated.
        .speed_form--description Migration will take no more than one day, with all associated preparatory and verification operations. The process can be carried out during weekends and the least active trading periods.


