.section.section__wacth_wl.b2_frame
    .section__title.section__title--bold Watch the video
    .section__subtitle If you’re looking to set up your own brоkеrage business, should you choose Fоrеx or#[span(class="db")] Crуptо? Find out more about what each sоlution offers and what is the best chоice for you.

    .container
        .video_form.forex_liquidity__new
            .video_form__left
                .video_block
                    .video_block--preview.popup.video_modal--js(data-id="7")
                        img(src="images/watch_man.png", alt="video_previw").image_preview
                        img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn.video_modal--js
                        .video--time 1:27
                    <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                .video_description__wrapper
                    .video_description  White Label MT4/MT5 :: B2Broker 📈 Liquidity and Forex Tech Provider
                    .video_subdescription A White Label is a great opportunity to start your own brokerage from scratch with minimal cost. There’s no need to invest in an expensive trading platform or spend time and money on maintenance and infrastructure - B2Broker takes care of it all!

            .video_form__right
                form.new_form.new_form__flex.b2_form.light_theme
                    label.new_form__label
                        span.new_form__placeholder Your Name
                        span.new_form__star *
                        input.new_form__input(type="text")
                    label.new_form__label
                        span.new_form__placeholder Your Email
                        span.new_form__star *
                        input.new_form__input(type="text")
                    label.new_form__label.new_form__label__phone_select
                        span.new_form__placeholder Phone
                        span.new_form__star *
                        input.new_form__input(type="text")
                        select.new_form__select.new_form__select_phone
                            option(value="+7") +7
                            option(value="+7") +7
                            option(value="+7") +7

                    label.new_form__label.new_form__label__lang_select
                        .new_form__label__lang_select_wrapper
                            img(src="images/en.png",class="new_form__label__lang_select_icon")
                            select.new_form__select
                                option(value="English") English
                                option(value="English") English
                                option(value="English") English
                    
                    label.new_form__label
                        span.new_form__placeholder Comments
                        input.new_form__input(type="text")
                    
                    label.new_form__label.new_form__label_capch
                        span.new_form__placeholder Enter symbols
                        span.new_form__star *
                        img.new_form__capch(src="images/capch_text_white.png")
                        input.new_form__input(type="text")

                    button.new_form__sabmit Schedule a Call
                    label.consent_block
                        input(type="checkbox")
                        b
                        p I agree to the #[a(href="#") Terms of Service] and #[a(href="#") Privacy Policy]
