.section.section__blue.b_modal__section
    .container.goanim.an
        .section__title 1-Page  #[span(class="section__title--bold") Business Model]
        .section__subtitle This is an example business model of a FOREX Brokerage company.#[span(class="db")] You can start by using the blocks below and adapt it according to your vision. 
    
    .b_modal__wrapper
        .b_modal
            .b_modal__heading
                .b_modal__heading_block
                    .b_modal__circle_item.blue
                    span Beginners
                
                .b_modal__heading_block
                    .b_modal__circle_item.red
                    span Professional Traders
                
                .b_modal__heading_block
                    .b_modal__circle_item.green
                    span Investors
                
                .b_modal__heading_block
                    .b_modal__circle_item.yellow
                    span Enterpreneurs / Crypto Enthusiasts
                
                .b_modal__heading_block
                    .b_modal__circle_item.wblue
                    span Algo Traders
            
            .b_modal__flex
                .b_modal__row
                    .b_modal__title Customer segment
                    .b_modal__subtitle Who are your clients?
                    .b_modal__col
                        span.gray Beginners
                        .b_modal__circle_item.blue

                    .b_modal__col
                        span.gray Professional Traders
                        .b_modal__circle_item.red
                    
                    .b_modal__col
                        span Investors
                        .b_modal__circle_item.green
                    
                    .b_modal__col
                        span.gray Enterpreneurs / Crypto Enthusiasts
                        .b_modal__circle_item.yellow
                    
                    .b_modal__col
                        span.gray Algo Traders
                        .b_modal__circle_item.wblue
                .b_modal__row__wrapper
                    .b_modal__row
                        .b_modal__title Client relationships
                        .b_modal__subtitle How and where will you communicate with your clients?
                        .b_modal__col
                            span Writing a blog / content on a website
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow

                        .b_modal__col
                            span Trading school
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Help desk
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.wblue
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Chats in messengers
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.wblue
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Phone calls / hot line
                            .b_modal__circle_item.red
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Email
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.wblue
                            .b_modal__circle_item.yellow
                    
                    .b_modal__row
                        .b_modal__title Distribution Channels
                        .b_modal__subtitle How will they learn about you?
                        .b_modal__col
                            span Influencers
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow

                        .b_modal__col
                            span Partnership programms (IBs, CPA)
                            .b_modal__circle_item.red
                            
                            .b_modal__circle_item.green
                            .b_modal__circle_item.wblue
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Offline events
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span SMM
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                .b_modal__row
                        .b_modal__title Value Proposition
                        .b_modal__subtitle What value will you bring to your clients? 
                        .b_modal__col
                            span Trading tutorials
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.yellow

                        .b_modal__col
                            span Feel of confidence and safety
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                            .b_modal__circle_item.wblue
                        
                        .b_modal__col
                            span Deep liquidity
                            .b_modal__circle_item.red
                            .b_modal__circle_item.wblue
                        
                        .b_modal__col
                            span Best trading terminal
                            .b_modal__circle_item.red
                            .b_modal__circle_item.wblue
                        
                        .b_modal__col
                            span Good trading conditions
                            .b_modal__circle_item.red
                            .b_modal__circle_item.yellow
                            .b_modal__circle_item.wblue
                        
                        .b_modal__col
                            span Wide Range of trading instruments
                            .b_modal__circle_item.red
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                            .b_modal__circle_item.wblue
                        
                        .b_modal__col
                            span Multiple payment options
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                            .b_modal__circle_item.wblue
                        
                        .b_modal__col
                            span Free VPS hosting for expert advisors
                            .b_modal__circle_item.wblue
                        
                        .b_modal__col
                            span Useful content
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Investment opportunities
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Easy conversion of fiat to crypto
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                            .b_modal__circle_item.wblue
                        
                        .b_modal__col
                            span Feature-rich API
                            .b_modal__circle_item.wblue
                
                .b_modal__row__wrapper
                    .b_modal__row
                        .b_modal__title Key Activities
                        .b_modal__subtitle What key acitvities need attention?
                        .b_modal__col
                            span Creation of trading courses
                        
                        .b_modal__col
                            span Creation of analytics
                        
                        .b_modal__col
                            span Sales & Marketing
                        
                        .b_modal__col
                            span Customer support
                        
                        .b_modal__col
                            span Organization / Participation at events
                        
                        .b_modal__col
                            span Partnership development (teaching and finding new partners)
                        
                        .b_modal__col
                            span Content creation for blogs, email marketing and other publications
                        
                        .b_modal__col
                            span Contests
                    
                    .b_modal__row
                        .b_modal__title Key Resources
                        .b_modal__subtitle What do you already have in-house?

                        .b_modal__col
                            span Website and online resources (Youtube channel etc)
                        
                        .b_modal__col
                            span Company and brand
                        
                        .b_modal__col
                            span Licenses, connected PSPs and Bank accounts
                        
                        .b_modal__col
                            span Client base
                        
                        .b_modal__col
                            span IB networks
                
                .b_modal__row
                        .b_modal__title Key Partners
                        .b_modal__subtitle Who will help you?

                        .b_modal__col
                            span Sales and Acquisition partners (IB & CPA partners)
                        
                        .b_modal__col
                            span Technology partners/vendors
                        
                        .b_modal__col
                            span Liquidity Partners
                        
                        .b_modal__col
                            span Fiat PSPs / EMIs (Payment service providers)
                        
                        .b_modal__col
                            span Crypto PSPs
                        
                        .b_modal__col
                            span Design Agencies
                        
                        .b_modal__col
                            span Marketing Agencies
                        
                        .b_modal__col
                            span Professional money managers
                        
                        .b_modal__col
                            span VC Partners / investors
                        
                        .b_modal__col
                            span Lawyers
                        
                        .b_modal__col
                            span Accountants / Auditors
                        
                        .b_modal__col
                            span Brand Ambassadors and influencers
                        .b_modal__col
                            span KYC & KYT providers

    .revenue__wrapper.revenue__wrapper__cryptocurrency
        .container.goanim.an
            .revenue__title Revenue Streams & Cost Structure
            .revenue__subtitle Average distribution of sources of income and costs in the financial plan of brokerage company.
            .revenue
                .revenue__heading Revenue streams
                .revenue__flex
                    img(src="images/rev_cur1.png", alt="img")
                    ul
                        li
                            .circle(style="background: #20457C;")
                            .prsnt 30% 
                            .text Commission from trading volume
                        li
                            .circle(style="background: #1A689A;")
                            .prsnt 20% 
                            .text Netting & PnL positions
                        li
                            .circle(style="background: #2F86BF;")
                            .prsnt 15% 
                            .text Spread markups
                        li
                            .circle(style="background: #0A9D7E;")
                            .prsnt 10% 
                            .text Markups on deposit / withdrawals via PSPs and Crypto
                        li
                            .circle(style="background: #2AB698;")
                            .prsnt 10% 
                            .text Markups on deposit / withdrawals via bank transfers
                        li
                            .circle(style="background: #40CDAB")
                            .prsnt 8% 
                            .text Listing fee
                        li
                            .circle(style="background: #2ED6CC;")
                            .prsnt 4% 
                            .text Education / Consulting
                        
                        li
                            .circle(style="background: #0CDAE8;")
                            .prsnt 3% 
                            .text Token Stacking
            
            .revenue
                .revenue__heading Costs structure
                .revenue__flex
                    img(src="images/rev_cur2.png", alt="img")
                    ul
                        li
                            .circle(style="background: #BF1351;")
                            .prsnt 20% 
                            .text Marketing costs
                        li
                            .circle(style="background: #D71667;")
                            .prsnt 18% 
                            .text Payments to affiliates
                        li
                            .circle(style="background:  #B62A8F;")
                            .prsnt 13% 
                            .text Staff costs
                        li
                            .circle(style="background:  #D34388;")
                            .prsnt 13% 
                            .text IT Infrastructure costs
                        li
                            .circle(style="background:  #E97A89;")
                            .prsnt 10% 
                            .text Payment to vendors
                        li
                            .circle(style="background:  #FF6645;")
                            .prsnt 8% 
                            .text AWS, AZURE, Google Cloud
                        
                        li
                            .circle(style="background:  #FF8845;")
                            .prsnt 8% 
                            .text Blockchain infrastructure
                        li
                            .circle(style="background: #FFAA2A;")
                            .prsnt 5% 
                            .text Fees for bank transfers, EMIs and PSPs
                        
                        li
                            .circle(style="background: #E1CB04;")
                            .prsnt 5% 
                            .text Legal + Accountants + Audits + Lawyers
    
    .revenue__wrapper.uniue.uniue_crypto
        .container.goanim.an
            .revenue__title Unique Selling Proposition Examples
            .revenue__subtitle There are many different USPs that you can offer your clients to differentiate yourself from your competitors, all of which are based on B2Broker products.
            .b_modal__heading
                .b_modal__heading_block
                    .b_modal__circle_item(style="background: #14459C;")
                    span Liquidity

                .b_modal__heading_block
                    .b_modal__circle_item(style="background: #3392D0;")
                    span Trader’s Room
                
                .b_modal__heading_block
                    .b_modal__circle_item(style="background: #1EBF9C;")
                    span B2Trader
                
                .b_modal__heading_block
                    .b_modal__circle_item(style="background: #E36B51;")
                    span Crypto Processing

            img.banner(src="images/circle_cur.png", alt="img", style="max-width:790px; margin:0 auto;")

    .evolution
        .container
            .evolution__title Customer Evolution Map
            .evolution__subtitle Each customer goes through several roles during his life-time and use different products. Clients usually start with simple trading account and then follow it with social trading or PAMM accounts.
            img.banner(src="images/cust_crypto.png", alt="img", style="max-width:952px; margin: 75px auto 113px;")
        
        .evol__table_wrapper
            .evol__table.evol_crypto_table
                .evol__table__row
                    .evol__table__col 
                        span Stage
                    .evol__table__col 
                        span Client’s action
                    .evol__table__col 
                        span Broker’s action
                    .evol__table__col 
                        span Opportunities
                
                .evol__table__row
                    .evol__table__col
                        p Lead
                    .evol__table__col 
                        p #[span(class="bold") Sees an advert] and gets#[span(class="bold") interested in cryptocurrencies.] This is a good opportunity to make some money from savings, become rich and look trendy in the eyes of friends.

                    .evol__table__col 
                        p #[span(class="bold") Initiate retargeting advertising and follow-up leads via phone and emails]
                        p Not too much can be done during this step. The main purpose is to get the client registered.
                    .evol__table__col 
                        p Use instruments that increase conversion and simplify the first step for getting clients’ contacts.
                
                .evol__table__row
                    .evol__table__col 
                        p Registered User
                    .evol__table__col 
                        p #[span(class="bold") Client goes though the registration process] and verifies his phone number and email.
                    .evol__table__col 
                        p #[span(class="bold") Guide a client through the registration process] and make the next steps clear so he knows how to pass KYC and how to make a deposit.
                    .evol__table__col 
                        p Offer him a free giveaway after registration such as a trading course, welcome bonus or a quide about the main features of the exchange.

                .evol__table__row
                    .evol__table__col 
                        p Client
                    .evol__table__col 
                        p Has passed KYC and is going to make a first deposit. He already knows what his next step is i.e. to be an active trader, investor or algorithmic trader using API.
                    .evol__table__col 
                        p Chat or call a registered user if he failed to complete KYC or the deposit process. He is now just few steps ahead of making a deposit so don’t lose him.
                    .evol__table__col 
                        p Send auto-emails for all registered, but not active clients. Launch e-mail marketing campaigns.
                
                .evol__table__row
                    .evol__table__col
                        p Day Trader
                    .evol__table__col
                        p The client has made a deposit, started using the trading platform and opens positions. He is trading actively and trying to predict short market moves.
                    .evol__table__col
                        p Communicate with a client thought email, write blog posts, develop new offers for active clients such as free VPS, reward programms for big commissions or contests. 
                    .evol__table__col
                        p Users can migrate between different client types, i.e. start as active traders but later on continue as investors or stick to algorithmic trading so some educational materials or articles about various trading styles could be created.
                
                .evol__table__row
                    .evol__table__col
                        p Investor
                    .evol__table__col
                        p The client acts conservatively. He made a deposit and doesn’t make many trades and prefers to hold. 
                    .evol__table__col
                        p #[span(class="bold") Each client can be an active trader and investor at the same time.] This situation can last for as long as he feels comfortable. The Exchange should promote the opportunity to become an investor via blogs, youtube videos and email to those clients who are willing to earn by long-term movements.
                    .evol__table__col
                        p Convert an upset trader who was unable to make any profit by active trading into a happy investor. Just call or email him. 
                
                .evol__table__row
                    .evol__table__col
                        p Algorithmic Trader
                    .evol__table__col
                        p Sometimes clients stop trading or exchange crypto assets. 
                        p That can happen due to multiple reasons like losing interest in cryptocurrencies or withdrawing money for buying a new car.
                    .evol__table__col
                        p Send clients emails with analytics and reviews of big market movements to maintain a high level of interest of available coins and tokens.
                    .evol__table__col
                        p Offer new approaches for trading cryptos: Be an investor for day traders and vice versa for those who perform only a few operations per month. 