.section.comparison_tk.section__blue.comparison_cryptocurrency
    .section__title  #[span(class="section__title--bold") Comparison ] table
    .container
        .tk_head
            .tk_head__heading
                p Crypto Spot Exchange
                img(src="images/black_trader.svg", alt="icon")
                
            ul.tk_head__content
                li.tk_head__item A Crypto Spot Exchange is a company where customers are able to trade without leverage and exchange crypto assets on stablecoins or fiat currencies and vice versa.
                li.tk_head__item Based on  #[a(href="#") B2Trader]

            .tk_head__heading
                p Crypto Broker
                img(src="images/crypto_pl1.png", alt="icon")
                img(src="images/crypto_pl3.svg", alt="icon")
                
            ul.tk_head__content
                li.tk_head__item A Crypto Broker offer its clients margin trading services with leverage on multiple markets: Forex, Cryptocurrencies, Metals, ETFs, Indices, Energies and CFDs on other instruments.
                li.tk_head__item One of the main differentiators of a Crypto Broker is that accounts are denominated in cryptocurrencies and the opportunity to trade long and short positions on crypto assets and receive profit in the currency of the account.
                li.tk_head__item The business model can be realised with two trading platforms: MetaTrader 5 and  #[a(href="#") B2Margin] .

            .tk_head__desc To maximise marketing results, we recommend the use of both platforms.


    .container.container__table
        .enguine_table.enguine_table__crypto_ck
            
            .row
                .col 
                .col(style="padding: 0 10px;")  Crypto Broker MT5
                .col  Crypto Broker B2Margin
                .col  Crypto Spot Exchange
                .col 
            
            .row
                .enguine_table__crypto_heading Trading features
            
            .row
                .col Order Book
                .col 
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col This is a fully functional DOM. Limit orders are shown in a widget.
            
            .row
                .col Market Depth
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col This is indicative L2 depth of market. Limit orders of clients are not shown in DOM.
            
            .row
                .col Order book grouping
                
                .col
                    +icon('close')
                .col
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col Summarizing volumes on each order book level
            
            .row
                .col Market Making
                .col 
                    +icon('close')
                .col 
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 78 currency pairs available
            
            .row
                .col Time and Sales
                .col 
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col List of all trades
            
            .row
                .col Custom Leverage per Order
                .col 
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('close')
                .col Clients can choose custom leverage not just for their whole account but for each position separately
            
            .row
                .col Advanced Order Tools
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
            
            .row
                .col Margin Trading
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('close') 
                .col Using borrowed funds to trade a financial asset
            
            .row
                .col 24/7 Trading
                .col 
                    +icon('bold_check') 
                .col 
                    +icon('bold_check') 
                .col 
                    +icon('bold_check') 
                .col Only for cryptocurrencies
            
            .row
                .col Leverage Trading
                .col
                    +icon('bold_check')
                .col
                    +icon('bold_check')
                .col 
                    +icon('close') 
                .col A broker can provide any leverage options to its clients
            
            .row
                .col Partial Order Fills
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col Execution of placed orders according to real available liquidity

            .row
                .col Short Positions
                .col
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('close')
                .col
            
            .row
                .enguine_table__crypto_heading Instruments
            
            .row
                .col Crypto CFD / Derivatives
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                    
                .col 
                    +icon('close')
                .col 100 Cryptocurrency pairs
            
            .row
                .col Crypto Spot / Cash
                .col 
                    +icon('close')
                .col 
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 18 major crypto assets against major FX
            
            .row
                .col FX Margin
                
                .col
                    +icon('bold_check')
                .col
                    +icon('bold_check')
                .col 
                    +icon('close')
                .col 78 currency pairs available
            
            .row
                .col FX Cash
                .col 
                    +icon('close')
                .col 
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col You can offer deliverable FX exchange
            
            .row
                .col Indices
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('close')
                .col 12 CFDs on indices, including UK FTSE100,   S&P 500 Index and Hong Kong 50 Index 
            
            .row
                .col Metals
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('close')
                .col 13 Metals, including XPTUSD
            
            .row
                .col CFD on ETFs
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('close')
                .col 7 ETFs
            
            .row
                .col Energies
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('close') 
                .col 3 CFDs on energies, including WTIUSD and NGCUSD
            
            .row
                .col CFD on Shares
                .col 
                    +icon('bold_check') 
                .col 
                    +icon('bold_check') 
                .col 
                    +icon('close') 
                .col 400 CFDs on equities, including Apple, Amazon, Facebook and Tesla
            
            .row
                .enguine_table__crypto_heading Interface
            
            .row
                .col Adaptive coloring
                .col 
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col Layouts can be coloured according to your brand guidelines
            
            .row
                .col Day/Night mode
                .col 
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col All end-users have optimal visual experience while using our product
            
            .row
                .col Customizable Layout
                
                .col
                    +icon('bold_check')
                .col
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col Your clients can drag & drop windows with charts and market watch, etc and create a workspace as required
            
            .row
                .col Multiple Workspaces
                .col 
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col Different workspaces can be used 
            
            .row
                .col Desktop Platform
                .col 
                    +icon('bold_check')
                .col 
                    +icon('close')
                .col 
                    +icon('close')
                .col Advanced functionality of MT5 such as strategy tester available only in desktop app
            
            .row
                .col Web-Based Platform
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col A convenient way to trade from any device
            
            .row
                .enguine_table__crypto_heading Other
            
            .row
                .col Highload Architecture
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col –
            
            .row
                .col FIX API
                .col 
                    +icon('close')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('close')
                .col Electronic communications protocol for financial information exchange
            
            .row
                .col Web Socket API
                
                .col
                    +icon('close')
                .col
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
            
            .row
                .col Support of Money Management Platform
                .col 
                    +icon('bold_check')
                .col 
                    +icon('close')
                .col 
                    +icon('close')
                .col Includes Copy Trading, PAMM and MAM. A tool for increasing the LTV of clients  
            
            .row
                .col Multi-level IB
                .col 
                    +icon('bold_check')
                .col Coming soon
                .col Coming soon
                .col Set up different levels of IB rebates and profit sharing.
            
            .row
                .col Denomination of accounts in cryptocurrencies
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('close')
                .col Includes Copy Trading, PAMM and MAM. MetaTrader 4 & 5 are supported.
            
            .row
                .col Acceptance of deposits and withdrawals in cryptocurrencies
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col A convenient and easy way for deposit/withdrawal. #[span(class="bold") No chargebacks.]
            
            .row
                .col Cryptocurrency wallets in Trader’s Room
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col Ability of end-users to keep funds in cryptocurrencies
            
            .row
                .col Compatibility with simple converter
                .col 
                    +icon('bold_check')
                .col 
                    +icon('bold_check')
                .col 
                    +icon('close')
                .col Offer your clients a spot cryptocurrency exchange inside your Trader’s Room