.section-22.faq.section__white
  .container.goanim.an
    .section__title.section__title--bold FAQs
    .question

      .question-item.faq_btn_js(data-id="1")
        span Can I host in on my own servers?
        .question__plus
          span
          span
        .question-item_content(data-id="1") Unfortunately for now the exchange environment is hosted on AWS cloud servers that are maintained by our system administrators. Est: Q4 2021 we are planning to release a new version that clients will be able to install on their own servers. 

      .question-item.faq_btn_js(data-id="2")
        span Is your solution centalized or decentralized?
        .question__plus
          span
          span
        .question-item_content(data-id="2") We offer a centralized solution but some modules will perfectly fit a decentralized exchange.

      .question-item.faq_btn_js(data-id="3")
        span Is your solution dedicated?
        .question__plus
          span
          span
        .question-item_content(data-id="3") Yes, we setup all components: wallets, frontend, admin side, Matching Engine on dedicated instances in AWS.

      .question-item.faq_btn_js(data-id="4")
        span Can I use a separate wallet provider with custodian service?
        .question__plus
          span
          span
        .question-item_content(data-id="4") Yes,  but it will require additional integration to B2Core.

      .question-item.faq_btn_js(data-id="5")
        span Do you have mobile apps? 
        .question__plus
          span
          span
        .question-item_content(data-id="5") At present, only for iOS.

      .question-item.faq_btn_js(data-id="6")
        span Do you help with obtaining a crypto license?
        .question__plus
          span
          span
        .question-item_content(data-id="6") Yes, our consulting services can help you choose a jurisdiction and advise you on how to get a license after you have acquired our services.

      .question-item.faq_btn_js(data-id="7")
        span Do you help with opening Bank Accounts? 
        .question__plus
          span
          span
        .question-item_content(data-id="7") It is very difficult to open a bank account for a cryptocurrency exchange, but once you become our client we can help you with opening accounts in different EMIs in conjunction with our consulting services.
      .question-item.faq_btn_js(data-id="30")
        span Can clients withdrawals be automatically confirmed?
        .question__plus
          span
          span
        .question-item_content(data-id="30") Yes, you can set daily/weekly/monthly limits on the amount and on the number of transactions.
      
      .question-item.faq_btn_js(data-id="8")
        span Can I verify my clients automatically?
        .question__plus
          span
          span
        .question-item_content(data-id="8") Yes of course, we are already integrated with major KYC providers, you just need to sign a contract with one of them.
      
      .question-item.faq_btn_js(data-id="9")
        span Can we offer leverage to our clients?
        .question__plus
          span
          span
        .question-item_content(data-id="9") No, B2Trader supports only spot trading without leverage. However, you can take our marginal exchange platform B2Margin along with your spot exchange which will give you 2 platforms with margin and spot trading in one trader's room.
      
      .question-item.faq_btn_js(data-id="10")
        span Can I list my ERC20 token?	
        .question__plus
          span
          span
        .question-item_content(data-id="10") Yes, you can. On B2Trader you can create any pairs and any instruments. The only exception is wallets for your token although B2BinPay supports more than 888 tokens based on the Ethereum blockchain.
      
      .question-item.faq_btn_js(data-id="11")
        span How quickly can you arrange setup?
        .question__plus
          span
          span
        .question-item_content(data-id="11") Setup will take up to 6 weeks from signing the contract, going through KYC and receiving payment.
      
      .question-item.faq_btn_js(data-id="12")
        span Can I have B2broker set up a crypto exchange but not take your crypto spot liquidity? 
        .question__plus
          span
          span
        .question-item_content(data-id="12") Yes, this is the client’s choice. You can develop your own bridge to another exchange, invite market makers, create your own liquidity or connect to B2BX Exchange.
      
      .question-item.faq_btn_js(data-id="13")
        span Can I buy the source code of the crypto exchange
        .question__plus
          span
          span
        .question-item_content(data-id="13") Unfortunately not. In the future we are planning to release a box solution so that we can give the installation files to clients.
      
      .question-item.faq_btn_js(data-id="14")
        span Which payment systems are already integrated to your Traders' room?
        .question__plus
          span
          span
        .question-item_content(data-id="14") Our Traders's room is integrated to many different PSPs and EMIs. Please ask a manager for an up-to-date list.
      
      .another_question.another_question__for_btn
        div
          .another_question--heading Have another question?
          .another_question--link We are on hand to answer all your questions. Get in touch.
        a(href="#").btn.btn--green.js-modal2-btn Ask us now