.section.dark_style.pac_ad__section(style="background: #1A2129;")
    .container.goanim.an
        .section__title  Turnkey Package #[span(class="section__title--bold") Advantages]
        .section__subtitle(style="margin-bottom:125px;") A Turnkey cryptocurrency exchange is a great choice for getting started. #[span(class="db")] Simplicity of maintenance and assistance along with cost-effectiveness#[span(class="db")]  are just a few of the many benefits available.

        .pac_ad__wrapper#grove1
            .pac_ad__trigeer
            .pac_ad__title A super cost-effective solution
            .pac_ad__subtitle A cryptocurrency exchange turnkey solution is a super cost-effective and time-saving solution as it is a based on a White Label of B2Core and B2Trader. You can save more than #[span(class="bold") $900,000]  on setup costs and around #[span(class="bold") $25,000] on ongoing monthly costs for development, extra office space and a technical support team. As well as huge cost-savings, you can launch more than one year faster which is crucial in today’s fast changing environment.

            .new_speed__wrapper
                div.new_speed__wrapper_left
                    .new_speed__title Initial investments
                    .new_speed__content
                        .new_speed.new_speed--gray
                        .new_speed__price >$1 000 000 
                    .new_speed__subtitle Cost of development of own platform

                    .new_speed__content
                        .new_speed.new_speed--blue(style="max-width:39px;")
                    .new_speed__subtitle Turnkey exchange setup price
                
                div.new_speed__wrapper_right
                    .new_speed__wrapper_right_border
                    <svg width="102" height="48" viewBox="0 0 102 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32 46.5117H1.40625V41.293L16.5625 24.7617C18.75 22.3242 20.3021 20.293 21.2188 18.668C22.1562 17.0221 22.625 15.3763 22.625 13.7305C22.625 11.5638 22.0104 9.8138 20.7812 8.48047C19.5729 7.14714 17.9375 6.48047 15.875 6.48047C13.4167 6.48047 11.5104 7.23047 10.1562 8.73047C8.80208 10.2305 8.125 12.2826 8.125 14.8867H0.53125C0.53125 12.1159 1.15625 9.6263 2.40625 7.41797C3.67708 5.1888 5.47917 3.45964 7.8125 2.23047C10.1667 1.0013 12.875 0.386719 15.9375 0.386719C20.3542 0.386719 23.8333 1.5013 26.375 3.73047C28.9375 5.9388 30.2188 9.0013 30.2188 12.918C30.2188 15.1888 29.5729 17.5742 28.2812 20.0742C27.0104 22.5534 24.9167 25.3763 22 28.543L10.875 40.4492H32V46.5117ZM67.4375 27.3555C67.4375 33.8971 66.2083 38.8346 63.75 42.168C61.3125 45.4805 57.5938 47.1367 52.5938 47.1367C47.6771 47.1367 43.9688 45.5221 41.4688 42.293C38.9896 39.043 37.7188 34.2409 37.6562 27.8867V20.0117C37.6562 13.4701 38.875 8.5638 41.3125 5.29297C43.7708 2.02214 47.5104 0.386719 52.5312 0.386719C57.5104 0.386719 61.2188 1.98047 63.6562 5.16797C66.1146 8.35547 67.375 13.1263 67.4375 19.4805V27.3555ZM59.8438 18.8555C59.8438 14.5846 59.2604 11.4596 58.0938 9.48047C56.9271 7.48047 55.0729 6.48047 52.5312 6.48047C50.0521 6.48047 48.2292 7.42839 47.0625 9.32422C45.8958 11.1992 45.2812 14.1367 45.2188 18.1367V28.4492C45.2188 32.6992 45.8125 35.8659 47 37.9492C48.1875 40.0326 50.0521 41.0742 52.5938 41.0742C55.0312 41.0742 56.8333 40.1159 58 38.1992C59.1667 36.2617 59.7812 33.2409 59.8438 29.1367V18.8555ZM86.7812 23.8242L93.2188 12.6992H101.656L91.3125 29.3555L102 46.5117H93.625L86.875 34.9492L80.1562 46.5117H71.7188L82.4062 29.3555L72.0938 12.6992H80.4688L86.7812 23.8242Z" fill="url(#paint1)"/>
                        <defs>
                        <linearGradient id="paint1" x1="0.0791691" y1="25.0117" x2="125.2" y2="25.0117" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#0272D9"/>
                        <stop offset="0.953125" stop-color="#42A3FD"/>
                        </linearGradient>
                        </defs>
                    </svg>
                    .new_speed__big_price__subtitle Cheaper
            
            .new_speed__wrapper
                div.new_speed__wrapper_left
                    .new_speed__title Monthly payments
                    .new_speed__content
                        .new_speed.new_speed--gray
                        .new_speed__price >$40 000
                    .new_speed__subtitle Burn rate of team of developers

                    .new_speed__content
                        .new_speed.new_speed--green(style="max-width:85px;")
                    .new_speed__subtitle Technical support monthly fee
                
                div.new_speed__wrapper_right
                    .new_speed__wrapper_right_border
                    <svg width="99" height="48" viewBox="0 0 99 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.9688 46.4824H11.4062V9.95117L0.25 13.7637V7.35742L18 0.826172H18.9688V46.4824ZM64.4375 27.3262C64.4375 33.8678 63.2083 38.8053 60.75 42.1387C58.3125 45.4512 54.5938 47.1074 49.5938 47.1074C44.6771 47.1074 40.9688 45.4928 38.4688 42.2637C35.9896 39.0137 34.7188 34.2116 34.6562 27.8574V19.9824C34.6562 13.4408 35.875 8.53451 38.3125 5.26367C40.7708 1.99284 44.5104 0.357422 49.5312 0.357422C54.5104 0.357422 58.2188 1.95117 60.6562 5.13867C63.1146 8.32617 64.375 13.097 64.4375 19.4512V27.3262ZM56.8438 18.8262C56.8438 14.5553 56.2604 11.4303 55.0938 9.45117C53.9271 7.45117 52.0729 6.45117 49.5312 6.45117C47.0521 6.45117 45.2292 7.39909 44.0625 9.29492C42.8958 11.1699 42.2812 14.1074 42.2188 18.1074V28.4199C42.2188 32.6699 42.8125 35.8366 44 37.9199C45.1875 40.0033 47.0521 41.0449 49.5938 41.0449C52.0312 41.0449 53.8333 40.0866 55 38.1699C56.1667 36.2324 56.7812 33.2116 56.8438 29.1074V18.8262ZM83.7812 23.7949L90.2188 12.6699H98.6562L88.3125 29.3262L99 46.4824H90.625L83.875 34.9199L77.1562 46.4824H68.7188L79.4062 29.3262L69.0938 12.6699H77.4688L83.7812 23.7949Z" fill="url(#paint2)"/>
                        <defs>
                        <linearGradient id="paint2" x1="125.663" y1="9.86095" x2="-5.06904" y2="10.408" gradientUnits="userSpaceOnUse">
                        <stop offset="0.244792" stop-color="#16F1C2"/>
                        <stop offset="1" stop-color="#00B68F"/>
                        </linearGradient>
                        </defs>
                    </svg>

                    .new_speed__big_price__subtitle More efficient
            
            .new_speed__wrapper
                div.new_speed__wrapper_left
                    .new_speed__title Time to launch
                    .new_speed__content
                        .new_speed.new_speed--gray
                        .new_speed__price >1.5 years
                    .new_speed__subtitle Development of a new platform

                    .new_speed__content
                        .new_speed.new_speed--yellow(style="max-width:38px;")
                        .new_speed__price 3 weeks
                    .new_speed__subtitle Setup of turnkey exchange
                
                div.new_speed__wrapper_right
                    .new_speed__wrapper_right_border
                    <svg width="102" height="48" viewBox="0 0 102 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32 46.4824H1.40625V41.2637L16.5625 24.7324C18.75 22.2949 20.3021 20.2637 21.2188 18.6387C22.1562 16.9928 22.625 15.347 22.625 13.7012C22.625 11.5345 22.0104 9.78451 20.7812 8.45117C19.5729 7.11784 17.9375 6.45117 15.875 6.45117C13.4167 6.45117 11.5104 7.20117 10.1562 8.70117C8.80208 10.2012 8.125 12.2533 8.125 14.8574H0.53125C0.53125 12.0866 1.15625 9.59701 2.40625 7.38867C3.67708 5.15951 5.47917 3.43034 7.8125 2.20117C10.1667 0.972005 12.875 0.357422 15.9375 0.357422C20.3542 0.357422 23.8333 1.47201 26.375 3.70117C28.9375 5.90951 30.2188 8.97201 30.2188 12.8887C30.2188 15.1595 29.5729 17.5449 28.2812 20.0449C27.0104 22.5241 24.9167 25.347 22 28.5137L10.875 40.4199H32V46.4824ZM39.8125 23.9199L42.2812 0.982422H66.7188V7.54492H48.5938L47.3438 18.4199C49.4479 17.2116 51.8229 16.6074 54.4688 16.6074C58.8021 16.6074 62.1667 17.9928 64.5625 20.7637C66.9792 23.5345 68.1875 27.2637 68.1875 31.9512C68.1875 36.5762 66.8542 40.2637 64.1875 43.0137C61.5208 45.7428 57.8646 47.1074 53.2188 47.1074C49.0521 47.1074 45.5938 45.9303 42.8438 43.5762C40.1146 41.2012 38.6354 38.0762 38.4062 34.2012H45.75C46.0417 36.4095 46.8333 38.1074 48.125 39.2949C49.4167 40.4616 51.1042 41.0449 53.1875 41.0449C55.5208 41.0449 57.3333 40.2116 58.625 38.5449C59.9375 36.8783 60.5938 34.6074 60.5938 31.7324C60.5938 28.9616 59.875 26.7741 58.4375 25.1699C57 23.5449 55.0208 22.7324 52.5 22.7324C51.125 22.7324 49.9583 22.9199 49 23.2949C48.0417 23.6491 47 24.3574 45.875 25.4199L39.8125 23.9199ZM86.7812 23.7949L93.2188 12.6699H101.656L91.3125 29.3262L102 46.4824H93.625L86.875 34.9199L80.1562 46.4824H71.7188L82.4062 29.3262L72.0938 12.6699H80.4688L86.7812 23.7949Z" fill="#FEB44B"/>
                    </svg>

                    .new_speed__big_price__subtitle Faster
            .new_speed__desc_cryptocurrency 

                <svg width="8" height="116" viewBox="0 0 8 116" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.511719" width="7" height="115" fill="#01B890"/>
                </svg>

                p #[span(class="bold") Don’t waste your time and huge budgets]  on the development of your own cryptocurrency exchange. Boost your chances of success by launching your business #[span(class="bold") more than 1 year faster] and spend the money you save on marketing and legal services. Remember, it’s never too late to start your own development once you have confirmed demand from real customers.

        .pac_ad__flex
            .pac_ad__wrapper(style="width:calc(50% - 20px / 2);")
                img.banner(src="images/pac_crypto2.png", alt="img", style="margin-bottom:35px;")
                .pac_ad__little_title No Banks and No Chargeback Fraud
                .pac_ad__subtitle
                    span Simplicity of acceptance and ease of international transfers#[span(class="db")] are two good reasons to integrate cryptocurrency payments.#[span(class="db")] No need to open a bank account which can be a lengthy process without having a respected licence.
                .pac_ad__subtitle
                    span Accepting deposits and making withdrawals via cryptocurrencies is many times cheaper than any other#[span(class="db")] fiat payment systems, giving you the opportunity to offer additional bonuses or benefits to your clients.
            
            .pac_ad__wrapper(style="width:calc(50% - 20px / 2);")
                img.banner(src="images/pac_crypto1.png", alt="img", style="margin-bottom:35px;")
                .pac_ad__little_title Get a higher ROI with faster#[span(class="db")] and cheaper money transfers
                .pac_ad__subtitle
                    span Cryptocurrency transfers are not just cheaper than bank#[span(class="db")] or card transfers, but much faster. Your clients’ money is#[span(class="db")] not held up in a bank payment system or similar for days#[span(class="db")] or weeks, but is available for them on their trading accounts#[span(class="db")] in as little as a few minutes.
                .pac_ad__subtitle
                    span This has the added benefit of greatly decreasing the time#[span(class="db")] period from when your client first saw your advert and the#[span(class="db")] time that he starts trading.
        
        .pac_ad__wrapper
            .feat_tk__slider_wrapper.feat_tk__slider_wrapper__cryptocurrency
                .feat_tk__arrow.feat_tk__arrow__prev
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__arrow.feat_tk__arrow__next
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__slider.feat_tk__slider__cryptocurrency
                    .item
                        .pac_ad__little_title Activity and financial reports for owners
                        .pac_ad__subtitle Customised reports including deposits, withdrawals and trading activity. Automated #[span(class="db")] delivery to your email or reports sent directly by API.
                        img(src="images/cryptocurrency_slide1.png", alt="image", style="max-width: 630px;")
                        .cryptocurrency__flex
                            .cryptocurrency__item Color visualization #[span(class="db")] of user status
                            .cryptocurrency__item Viewing user's role, status,#[span(class="db")] balance and last login in one place
                            .cryptocurrency__item Table and grid#[span(class="db")] displaying options
                    .item
                        .pac_ad__little_title Cryptocurrency Exchange Structure Diagram
                        .pac_ad__subtitle A cryptocurrency exchange is a complex IT solution combined from several components. The #[span(class="db")] frontend is integrated to the B2Core module which is connected to B2Trader via Web API.
                        img(src="images/cryptocurrency_slide2.png", alt="image")
                        .cryptocurrency__line
                        .cryptocurrency__flex
                            .cryptocurrency__item Secure connection#[span(class="db")] between components
                            .cryptocurrency__item All parts of the solution#[span(class="db")] are customizable
                            .cryptocurrency__item The matching engine can work#[span(class="db")] with intenal and external#[span(class="db")] liquidity
        
        .pac_ad__wrapper.multiple_cryptocurrency
            .pac_ad__little_title Multiple Security Layers
            .pac_ad__subtitle Security is all important for crypto exchanges and should never be compromised. We have developed an advanced security#[span(class="db")] system to help prevent losses as a result of fraudulent activities and attacks.

            .multiple_cryptocurrency__wrapper
                .pac_ad__little_title  Security of funds
                .pac_ad__subtitle
                    span Security is the most important concept in crypto trading and our exchange was designed with sophisticated safety measures as almost all tokens and coins are held in cold storage. Cold wallets are highly secure hardware wallets that are not connected to the internet. Programmed algorithms regularly transfer client funds into cold storages thus providing the necessary level of safety.
            
            .cryptocurrency_sec__wrapper
                .cryptocurrency_sec__items
                    .cryptocurrency_sec__heading
                        <svg width="62" height="52" viewBox="0 0 62 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.6086 1.79688C12.8572 3.67632 9.06841 9.26758 9.97565 14.5737C4.38361 15.7676 1.06855 19.7676 2.03327 28.0073" stroke="#B0C4D4" stroke-width="3.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M50.2438 12.9531C45.0918 8.83545 39.044 11.0931 37.0629 12.0543C35.27 6.87729 27.8132 4.20432 22.8747 6.08377C17.9362 7.96321 15.3864 13.684 17.1792 18.8606C12.8532 19.004 8.43601 22.7576 8.5007 27.2942C8.56578 31.8311 12.0891 35.4751 16.4175 35.4824H45.7726C50.5922 35.4824 56.4998 31.3865 56.4998 26.3337C56.4998 22.0976 55.8742 17.4531 50.2438 12.9531Z" fill="#2F3945" stroke="#01C89E" stroke-width="3.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <rect x="30.5" y="41.4824" width="30" height="6" rx="2" fill="#2B3541" stroke="#B0C4D4" stroke-width="3"/>
                            <rect x="30.5" y="29.4824" width="30" height="6" rx="2" fill="#2B3541" stroke="#B0C4D4" stroke-width="3"/>
                        </svg>
                        | Data Security
                    .cryptocurrency_sec__item
                        .cryptocurrency_sec__title 2 modes of data backup
                        .cryptocurrency_sec__subtitle Data backup takes place in two modes: Real-time replication and scheduled once a day with a snapshot#[span(class="db")] of the current state.
                    
                    .cryptocurrency_sec__item
                        .cryptocurrency_sec__title 2FA Authorization
                        .cryptocurrency_sec__subtitle To access the admin panel of both B2Core and B2Trader, 2FA is used which is implemented as a confirmation link and sent immediately to the user’s e-mail with a token so as  not allow entry to the back-end of the system by unauthorized persons.
                    
                    .cryptocurrency_sec__item
                        .cryptocurrency_sec__title Limited Access by IP
                        .cryptocurrency_sec__subtitle Wherever it is technically possible, a login-password (or key) to a specific IP-address can be incorporated. In this way, for example, B2Trader Exchange can get access to the payment system only from a pre-specified IP-address.
                    
                    .cryptocurrency_sec__item
                        .cryptocurrency_sec__title Encrypted Database
                        .cryptocurrency_sec__subtitle Client personal data is stored in a database located on an encrypted partition. Even direct access to the server does not give any access to client data.
                    
                    .cryptocurrency_sec__item
                        .cryptocurrency_sec__title Secure replication of database
                        .cryptocurrency_sec__subtitle Database replication proceeds over SSL to exclude MITM (man in the middle).

                .cryptocurrency_sec__items
                    .cryptocurrency_sec__heading
                        <svg width="51" height="54" viewBox="0 0 51 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.5 3.98242H29.5V0.982422H7.5V3.98242ZM30 4.48242V34.4824H33V4.48242H30ZM29.5 34.9824H7.5V37.9824H29.5V34.9824ZM7 34.4824V4.48242H4V34.4824H7ZM7.5 34.9824C7.22386 34.9824 7 34.7586 7 34.4824H4C4 36.4154 5.567 37.9824 7.5 37.9824V34.9824ZM30 34.4824C30 34.7586 29.7761 34.9824 29.5 34.9824V37.9824C31.433 37.9824 33 36.4154 33 34.4824H30ZM29.5 3.98242C29.7761 3.98242 30 4.20628 30 4.48242H33C33 2.54943 31.433 0.982422 29.5 0.982422V3.98242ZM7.5 0.982422C5.567 0.982422 4 2.54943 4 4.48242H7C7 4.20628 7.22386 3.98242 7.5 3.98242V0.982422Z" fill="#B0C4D4"/>
                            <path d="M21.5 20.9824C21.5 16.288 25.3056 12.4824 30 12.4824C34.6944 12.4824 38.5 16.288 38.5 20.9824V32.4824C38.5 33.587 37.6046 34.4824 36.5 34.4824H23.5C22.3954 34.4824 21.5 33.587 21.5 32.4824V20.9824Z" fill="#2F3945"/>
                            <path d="M37 20.9824V32.4824H40V20.9824H37ZM36.5 32.9824H23.5V35.9824H36.5V32.9824ZM23 32.4824V20.9824H20V32.4824H23ZM23.5 32.9824C23.2239 32.9824 23 32.7586 23 32.4824H20C20 34.4154 21.567 35.9824 23.5 35.9824V32.9824ZM37 32.4824C37 32.7586 36.7761 32.9824 36.5 32.9824V35.9824C38.433 35.9824 40 34.4154 40 32.4824H37ZM30 13.9824C33.866 13.9824 37 17.1164 37 20.9824H40C40 15.4596 35.5228 10.9824 30 10.9824V13.9824ZM30 10.9824C24.4772 10.9824 20 15.4596 20 20.9824H23C23 17.1164 26.134 13.9824 30 13.9824V10.9824Z" fill="#01C89E"/>
                            <path d="M42 22.9824C42 23.8108 42.6716 24.4824 43.5 24.4824C44.3284 24.4824 45 23.8108 45 22.9824H42ZM42 20.9824V22.9824H45V20.9824H42ZM30 8.98242C36.6274 8.98242 42 14.355 42 20.9824H45C45 12.6982 38.2843 5.98242 30 5.98242V8.98242Z" fill="#01C89E"/>
                            <path d="M18 22.9824C18 23.8108 17.3284 24.4824 16.5 24.4824C15.6716 24.4824 15 23.8108 15 22.9824H18ZM18 20.9824V22.9824H15V20.9824H18ZM30 8.98242C23.3726 8.98242 18 14.355 18 20.9824H15C15 12.6982 21.7157 5.98242 30 5.98242V8.98242Z" fill="#B0C4D4"/>
                            <rect x="14.5" y="29.4824" width="31" height="23" fill="#2F3945" stroke="#01C89E" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <circle cx="29.5" cy="40.4824" r="4" stroke="#B0C4D4" stroke-width="3"/>
                        </svg>
                        | Secure access
                    .cryptocurrency_sec__item
                        .cryptocurrency_sec__title Secure data exchange with external systems
                        .cryptocurrency_sec__subtitle Data exchange with all external systems (payment systems,etc.) proceeds over HTTPS using authentication key and verification of signature on each operation.
                    
                    .cryptocurrency_sec__item
                        .cryptocurrency_sec__title SSH Keys
                        .cryptocurrency_sec__subtitle To get access to the server B2Broker personnel use the SSH key. Access is limited to a number of persons, each#[span(class="db")] of them having a computer with an encrypted disk. For example, laptop theft as one of the threats of a data breach causes no data leakage.
                    
                    .cryptocurrency_sec__item
                        .cryptocurrency_sec__title Safety of documents
                        .cryptocurrency_sec__subtitle No client documents are stored in our database. B2Trader Exchange uses a third-party solution to handle data#[span(class="db")] in a cloud. Third-party KYC providers store all client documents on a contract basis.
                    
                    .cryptocurrency_sec__item
                        .cryptocurrency_sec__title Monitoring of changes
                        .cryptocurrency_sec__subtitle Monitoring of any changes in crucial data (i.e. a file with a password hash) takes place in real time with notifications over two different communications channels.
                    
                    .cryptocurrency_sec__item
                        .cryptocurrency_sec__title Logging of access
                        .cryptocurrency_sec__subtitle Each access to the database server is restricted and logged.
            
            .cryptocurrency_ddos
                .cryptocurrency_ddos__title DDoS Attack protection
                .cryptocurrency_ddos__subtitle Our servers are protected by a high-grade cloud-based DDoS mitigation solution.  This prevents disruptions caused by bad traffic, while allowing good traffic through, keeping websites, applications and APIs highly available and performant.
        
        .pac_ad__wrapper.antifraud
            .antifraud__title Anti-Fraud System
            .antifraud__flex
                .antifraud__texts
                    a(href="#").antifraud__text Excessive Deposits Sum
                    a(href="#").antifraud__text Multiple withdrawals with No Trading Activity
                    a(href="#").antifraud__text Identical Withdrawal Wallet Address used by Multiple Accounts
                    a(href="#").antifraud__text Identical Phone number Used by Multiple Accounts
                    a(href="#").antifraud__text Identical IP Used By Multiple Accounts
                    a(href="#").antifraud__text Excessive Trades Amount
                    a(href="#").antifraud__text Arbitrage Triangle
                    a(href="#").antifraud__text Identical Email Used by Multiple Accounts
                    a(href="#").antifraud__text Frequent Deposits

                .antifraud__slider

                    .item
                        img(src="images/pass.png", alt="img")
                        .antifraud__subtitle When a user logs into his Client Area with the same IP as another customer of the Exchange, the system sends an alert with the list of these users, their details, IP address, login dates and other info for further investigation
                    
                    .item
                        img(src="images/pass.png", alt="img")
                        .antifraud__subtitle When a user logs into his Client Area with the same IP as another customer of the Exchange, the system sends an alert with the list of these users, their details, IP address, login dates and other info for further investigation
                
                .antifraud__arrows
                        .feat_tk__arrow.feat_tk__arrow__prev
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                            </svg>

                        .feat_tk__arrow.feat_tk__arrow__next
                            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                            </svg>
        
        .pac_ad__wrapper.map
            img(src="images/pac_map.png", alt="img")

            div
                .pac_ad__little_title Reliable and Scalable Hosting#[span(class="db")] for Exchange in AWS
                .pac_ad__subtitle
                    span B2Trader uses hosting solutions that dynamically scale resources as the client base grows and supports the most demanding and highly loaded projects.
                     
                .pac_ad__subtitle
                    span We prefer Amazon Web Services (AWS) hosting because it offers high levels of availability, scalability and performance,  requiring higher amounts of management and administration that we organize entirely on our side.

        .pac_ad__flex
            .pac_ad__wrapper(style="width:calc(50% - 20px / 2);")
                img.banner(src="images/cryptocurrency_glass.png", alt="imc", style="margin-bottom:35px;")
                .pac_ad__little_title Utility (Loyalty) Token
                .pac_ad__subtitle
                    span The ability to issue a utulity token and give it functionality.#[span(class="db")] For example, a token may allow a discount on trading commission.
                .pac_ad__subtitle.pac_ad__subtitle--before
                    span A professional, correctly developed token increases#[span(class="db")] the capitalization of your exchange.
                
                .pac_ad__subtitle.pac_ad__subtitle--before
                    span Attractive to users.
            
            .pac_ad__wrapper(style="width:calc(50% - 20px / 2);")
                img.banner(src="images/pac_ad_ban.png", alt="imc", style="margin-bottom:35px;")
                .pac_ad__little_title All products are built to#[span(class="db")] work together
                .pac_ad__subtitle
                    span Our engineers work closely to deliver products that are thoroughly tested and work well together. All our products#[span(class="db")] are already integrated with each other and are ready to go#[span(class="db")] live.
                .pac_ad__subtitle
                    span We have a proven deployment process and conduct tests,#[span(class="db")] firstly during the development of any software, secondly,#[span(class="db")] prior to all updates of the live environment and also before#[span(class="db")] any updates of the trading servers.
        
        .pac_ad__wrapper
            img.banner(src="images/tk_book.png", alt="image", style="max-width:835px; margin:0 auto 35px;")
            .pac_ad__little_title(style="text-align:center;") Many products – Single support team 24/7
            .pac_ad__subtitle(style="text-align:center;")
                span If something happens and you need help, we will never say , “Sorry, it is not our duty” and refer you on to someone else.#[span(class="db")] Our technical support team logs everything, including all details and comments from developers across our entire#[span(class="db")] product range and will help you without asking you numerous questions.
        
        .pac_ad__flex
            .pac_ad__wrapper(style="width:calc(50% - 20px / 2)")
                .pac_ad__little_title Tutorials and Materials
                .pac_ad__subtitle
                    span B2Broker is committed to working alongside its clients#[span(class="db")] to ensure ultimate user satisfaction. An extensive range#[span(class="db")] of tutorials and materials is available to assist with all#[span(class="db")] technical aspects.
            
            .pac_ad__wrapper(style="width:calc(50% - 20px / 2)")
                .pac_ad__little_title Education 
                .pac_ad__subtitle
                    span Education is an all-important part of our service. We offer#[span(class="db")] a variety of training materials including videos and demos#[span(class="db")] to help our clients understand the business.
        
        .pac_ad__wrapper.flex
            div
                .pac_ad__little_title Major Languages Supported
                .pac_ad__subtitle
                    span Our knowledgeable and friendly customer service team can assist you in 8 languages including English, Russian, Chinese, Farsi, Hindi, Spanish, Arabic and Urdu.
            
            div
                img(src="images/more_lang.png", alt="lang")
        
        .pac_ad__flex
            .pac_ad__wrapper(style="width:calc(50% - 20px / 2); margin-bottom:0;")
                img.banner(src="images/tk_man1.png", alt="img", style="margin-bottom:30px;")
                .pac_ad__little_title Account Manager
                .pac_ad__subtitle
                    span All our clients are assigned a personal account manager who#[span(class='db')] is always on hand to answer questions and deal with all their requirements.
            .pac_ad__wrapper(style="width:calc(50% - 20px / 2); margin-bottom:0;")
                img.banner(src="images/tk_men_cr.png", alt="img", style="margin-bottom:30px;")
                .pac_ad__little_title Product Manager
                .pac_ad__subtitle
                    span Our product managers are deeply knowledgeable about our technical solutions and are there to assist our clients with any specific enquiries.