.section.tk_steps
    .container.goanim.an
        .section__title 10 steps of creation of #[span(class="db")]  #[span(class="section__title--bold")  a new Crypto Exchange]
        .section__subtitle The setup of a cryptocurrency exchange is divided into several steps that usually takes from 4 to #[span(class='db')] 8 weeks. It starts with KYC and agreements and ends with IT setup.
        img.banner(src="images/steps_current.png", alt="img", style="max-width:990px;")

        .tk_steps__content
            .tk_steps__title How long does it take to connect a new PSP to B2Core?
            .tk_steps__subtitle Connecting to a payment system can be done in two stages: sign a contract with the respective PSPs and then integrate them to B2Core. #[span(class="db")] #[span(class="bold") Your clients can now start using it.]

            ul.tk_steps__ul
                li The KYC process and signing a contract with a PSP can take different times according to the respective jurisdictions and licenses. #[span(class="db")] Your legal department will handle these aspects.
                li A PSP that is already integrated into B2Core takes #[span(class="bold") up to a week] to activate.
                li Integration of a new PSP can take up to #[span(class="bold") 3 weeks.]