.section.tk_strategy__section.section__blue.tk_cryptocurrency__strategy
    .container.goanim.an
        .section__title Turnkey Exchange #[span(class="section__title--bold db") Strategy Flow]
        .section__subtitle Answers that will help you to choose the appropriate technologies required #[span(class="db")] to turn your vision into an operational business.

        .tk_strategy__wrapper
            <svg id="svgline" class="tk_strategy__arrow"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.91 2361.47" width="72" height="1420" >
                <path class="ball01" d="M72.21,2552a1,1,0,0,1,0,1.41l-6.37,6.37a1,1,0,0,1-1.42-1.41h0l5.66-5.65-5.66-5.66a1,1,0,0,1,0-1.41,1,1,0,0,1,1.41,0Z" transform="translate(-0.59 -198.63)" fill="#20457c"/>
                <path class="ball02" d="M72.21,205.28a1,1,0,0,1,0,1.41l-6.37,6.37a1,1,0,0,1-1.42-1.41h0L70.09,206l-5.66-5.66a1,1,0,0,1,0-1.41h0a1,1,0,0,1,1.41,0Z" transform="translate(-0.59 -198.63)" fill="#20457c"/>
                <path class="theGreenLine" d="M70.83,205.94H13a13.51,13.51,0,0,0-4.37,1.28A13.67,13.67,0,0,0,4,211a9.32,9.32,0,0,0-2.39,4.8,7,7,0,0,0,0,1.12V2541.56a7.73,7.73,0,0,0,.08,1.08,11.56,11.56,0,0,0,7,8.84,26.49,26.49,0,0,0,4.75,1.31h0c3,.56,21.43.59,57.34,0" transform="translate(-0.59 -198.63)" fill="none" stroke="#20457c" stroke-miterlimit="10" stroke-width="2"/>
            </svg>
            .tk_strategy
                .tk_strategy__flex
                    .tk_strategy__main
                        img.tk_strategy__icon(src="images/tk_str1.svg", alt="icon")
                        .tk_strategy__title Legal Questions
                        .tk_strategy__subtitle Aspects requiring the involvement of the legal department
                        .tk_strategy__desc Legal aspects are very important for all companies. Choosing a jurisdiction for company registration, connecting payment systems and even deciding on marketing channels will fall under the remit of your legal team.
                    .tk_strategy__blocks
                        .tk_strategy__block.active
                            .tk_strategy__block__plus
                                span
                                span
                            .tk_strategy__block__title Counterparties
                            .tk_strategy__block__subtitle Who are your counterparties? Are you prepared in case of any operational issues or settlement failures?
                        
                        .tk_strategy__block 
                            .tk_strategy__block__plus
                                span
                                span
                            .tk_strategy__block__title Policies, Terms & Conditions etc
                            .tk_strategy__block__subtitle Have you covered all legal aspects relating to clients’s terms and conditions? Who will be responsible for the procedures and creating contracts?
                        
                        .tk_strategy__block 
                            .tk_strategy__block__plus
                                span
                                span
                            .tk_strategy__block__title Reports & Audit
                            .tk_strategy__block__subtitle Who will be responsible for business reporting and auditing? Will you source external consultants?
                        
                        .tk_strategy__block 
                            .tk_strategy__block__plus
                                span
                                span
                            .tk_strategy__block__title Bank Accounts
                            .tk_strategy__block__subtitle What EMIs and banks will be willing to work with you? Who will be the contact person for the communication?
                        
                        .tk_strategy__block 
                            .tk_strategy__block__plus
                                span
                                span
                            .tk_strategy__block__title KYC, KYB, KYT
                            .tk_strategy__block__subtitle Who will be your KYC provider? Who will conduct manual KYC checks if required, or KYB/KYT procedures?
                        
                        .tk_strategy__block 
                            .tk_strategy__block__plus
                                span
                                span
                            .tk_strategy__block__title Payment systems
                            .tk_strategy__block__subtitle What payment systems will you integrate? Who will oversee this procedure?
                        
                        .tk_strategy__block 
                            .tk_strategy__block__plus
                                span
                                span
                            .tk_strategy__block__title Compliance & AML
                            .tk_strategy__block__subtitle Who will oversee your AML processes to ensure full compliance? Do you have the appropriate staff in place?
                        
                        .tk_strategy__block 
                            .tk_strategy__block__plus
                                span
                                span
                            .tk_strategy__block__title Licenses & Regulations
                            .tk_strategy__block__subtitle Where will your exchange be incorporated and under which jurisdiction? Where will your headquarters be?
                        
                        .tk_strategy__block 
                            .tk_strategy__block__plus
                                span
                                span
                            .tk_strategy__block__title Internal Control
                            .tk_strategy__block__subtitle Who will be responsible for the overall internal control of your exchange? How will you ensure your staff adhere to the procedures?
            
            <svg class="tk_strategy__two-arrow" width="15" height="43" viewBox="0 0 15 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.40528 1.28605C8.01853 0.891792 7.38539 0.885704 6.99113 1.27246L0.566275 7.57493C0.172014 7.96168 0.165926 8.59482 0.552678 8.98908C0.939429 9.38334 1.57256 9.38943 1.96683 9.00268L7.67781 3.40048L13.28 9.11146C13.6668 9.50572 14.2999 9.51181 14.6942 9.12506C15.0884 8.73831 15.0945 8.10517 14.7078 7.71091L8.40528 1.28605ZM6.59294 42.6848C6.97969 43.079 7.61282 43.0851 8.00708 42.6984L14.4319 36.3959C14.8262 36.0091 14.8323 35.376 14.4455 34.9817C14.0588 34.5875 13.4257 34.5814 13.0314 34.9681L7.32041 40.5703L1.7182 34.8593C1.33145 34.4651 0.698317 34.459 0.304056 34.8457C-0.0902054 35.2325 -0.0962932 35.8656 0.290458 36.2599L6.59294 42.6848ZM6.69145 1.97671L6.30685 41.9749L8.30676 41.9941L8.69136 1.99594L6.69145 1.97671Z" fill="#20457C"/>
            </svg>
        
            .tk_strategy__border-wrapper
                .tk_strategy(style="border-radius: 20px 20px 0px 0px; padding-bottom:0;")
                    .tk_strategy__flex
                        .tk_strategy__main
                            img.tk_strategy__icon(src="images/tk_str2.svg", alt="icon")
                            .tk_strategy__title Marketing Strategy
                            .tk_strategy__subtitle Everything relating to the aquisition of new clients #[span(class="db")] and product management
                            .tk_strategy__desc Creating a marketing strategy will help you get a clear understanding of what products you should offer potential clients and how you will reach them. After gathering answers to these questions, you will begin to gain an understanding of what technologies you need.
                        .tk_strategy__blocks
                            .tk_strategy__block.active
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title E-Mail Marketing
                                .tk_strategy__block__subtitle What e-mail marketing software are you going to use? Do you plan to automate your email marketing?

                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Data Analytics
                                .tk_strategy__block__subtitle How will you analyze your performance? Do you have the appropriate tools and software to facilitate this process?

                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title PR
                                .tk_strategy__block__subtitle How will you promote your company and brand? Will you outsource your PR or drive it from within your company?

                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Community Management
                                .tk_strategy__block__subtitle Do you have experts on board to help manage your community? Are you clued up with all the available channels for this purpose?
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Events/Expos
                                .tk_strategy__block__subtitle Do you plan to have an event/expo schedule? What is your local and global strategy for meeting potential clients?
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Referral program
                                .tk_strategy__block__subtitle Are you planning to have a referral program for your exchange? How will you promote it?
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title CPL, CPA, CPC
                                .tk_strategy__block__subtitle What kind of partnership programs will you use? Any bonus schemes?

                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title CRM
                                .tk_strategy__block__subtitle How will you manage your customer relationships? Do you plan to install CRM software to facilitate this function? 
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Social Media
                                .tk_strategy__block__subtitle Do you know how to plan social media campaigns? Is anyone going to be responsble for managing your social media strategy?
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Community Development
                                .tk_strategy__block__subtitle What will be the content for your community? Are you going to collaborate with some existing community sources?
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Google, Yahoo Ads, etc.
                                .tk_strategy__block__subtitle How will you reach your clients? Do you know how to make effective use of search engines? Do you understand SEO, SEM?

                .tk_strategy(style="border-radius:0px 0px 20px 20px; ")
                    .tk_strategy__flex
                        .tk_strategy__main(style='padding-right:20px;')
                            img.tk_strategy__icon(src="images/tk_str3.svg", alt="icon")
                            .tk_strategy__title Website
                            .tk_strategy__subtitle Questions relating to the design, development #[span(class="db")] and running of a website
                            .tk_strategy__desc A website is a place where your clients find out information about your products and services and your company overall. It fosters credibility and helps drive the selling process. 
                        .tk_strategy__blocks
                            .tk_strategy__block.active 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Domain Name & Hosting
                                .tk_strategy__block__subtitle Do you already have a website for your exchange? Have you bought a domain that will be memorable?
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Product Page Creation
                                .tk_strategy__block__subtitle What services will you offer? Who will create landing pages to help promote your exchange?
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Optimization of Conversion
                                .tk_strategy__block__subtitle Who will be responsible for optimization of conversion? Are you familiar with the techniques involved?
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Logo & Corporate Style
                                .tk_strategy__block__subtitle Do you have a logo and branding in place? Will you outsource it to a design agency or generate it in-house?
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Staff & Contractors
                                .tk_strategy__block__subtitle Who will be responsible for your website? Will your staff handle the whole process or will you hire freelancers?
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Technical Support
                                .tk_strategy__block__subtitle Do you have a technical support team handling issues 24/7? What plans do you have to ensure full coverage?

                <svg class="tk_strategy__two-arrow" width="15" height="43" viewBox="0 0 15 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.40528 1.28605C8.01853 0.891792 7.38539 0.885704 6.99113 1.27246L0.566275 7.57493C0.172014 7.96168 0.165926 8.59482 0.552678 8.98908C0.939429 9.38334 1.57256 9.38943 1.96683 9.00268L7.67781 3.40048L13.28 9.11146C13.6668 9.50572 14.2999 9.51181 14.6942 9.12506C15.0884 8.73831 15.0945 8.10517 14.7078 7.71091L8.40528 1.28605ZM6.59294 42.6848C6.97969 43.079 7.61282 43.0851 8.00708 42.6984L14.4319 36.3959C14.8262 36.0091 14.8323 35.376 14.4455 34.9817C14.0588 34.5875 13.4257 34.5814 13.0314 34.9681L7.32041 40.5703L1.7182 34.8593C1.33145 34.4651 0.698317 34.459 0.304056 34.8457C-0.0902054 35.2325 -0.0962932 35.8656 0.290458 36.2599L6.59294 42.6848ZM6.69145 1.97671L6.30685 41.9749L8.30676 41.9941L8.69136 1.99594L6.69145 1.97671Z" fill="#20457C"/>
                </svg>

                .tk_strategy
                    .tk_strategy__flex
                        .tk_strategy__main
                            img.tk_strategy__icon(src="images/tk_str4.svg", alt="icon")
                            .tk_strategy__title Sales Strategy
                            .tk_strategy__subtitle Aspects related to the development of relationships #[span(class="db")] with new and existing clients
                            .tk_strategy__desc Your sales strategy will be closely related to your marke-ting strategy and vice versa. Any decisions you make in this part of your business model will have a significant influence on your operations overall, including marketing.
                        .tk_strategy__blocks
                            .tk_strategy__block.active
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title CRM
                                .tk_strategy__block__subtitle What CRM are you planning to use for sales? Will it overlap effectively with your marketing function?
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Customer Acquisition
                                .tk_strategy__block__subtitle Do you have a strategy for client acquistion? What will be your retention strategy? 
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Referral Program
                                .tk_strategy__block__subtitle Will you use a referral program? Who will be responsible for the implementation of conditions?
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Partnership
                                .tk_strategy__block__subtitle Will you partner with any crypto communities that already have  users? 
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Business Development
                                .tk_strategy__block__subtitle How will you drive your sales? What benefits of the exchange will you promote?
                            
                            .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Promotions
                                .tk_strategy__block__subtitle What sales promotions will you use to build your client base? How can you retain new clients?
            
            <svg class="tk_strategy__two-arrow" width="15" height="43" viewBox="0 0 15 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.40528 1.28605C8.01853 0.891792 7.38539 0.885704 6.99113 1.27246L0.566275 7.57493C0.172014 7.96168 0.165926 8.59482 0.552678 8.98908C0.939429 9.38334 1.57256 9.38943 1.96683 9.00268L7.67781 3.40048L13.28 9.11146C13.6668 9.50572 14.2999 9.51181 14.6942 9.12506C15.0884 8.73831 15.0945 8.10517 14.7078 7.71091L8.40528 1.28605ZM6.59294 42.6848C6.97969 43.079 7.61282 43.0851 8.00708 42.6984L14.4319 36.3959C14.8262 36.0091 14.8323 35.376 14.4455 34.9817C14.0588 34.5875 13.4257 34.5814 13.0314 34.9681L7.32041 40.5703L1.7182 34.8593C1.33145 34.4651 0.698317 34.459 0.304056 34.8457C-0.0902054 35.2325 -0.0962932 35.8656 0.290458 36.2599L6.59294 42.6848ZM6.69145 1.97671L6.30685 41.9749L8.30676 41.9941L8.69136 1.99594L6.69145 1.97671Z" fill="#20457C"/>
            </svg>

            .tk_strategy
                .tk_strategy__flex
                    .tk_strategy__main
                        img.tk_strategy__icon(src="images/tk_str5.svg", alt="icon")
                        .tk_strategy__title Operations
                        .tk_strategy__subtitle All your staff requirements for the hiring process
                        .tk_strategy__desc The core of every business is its people. In looking at your operational structure, you will need to figure out what staff you need, how they will work together and what tools they will need to effectively perform their duties.
                    .tk_strategy__blocks
                        .tk_strategy__block.active
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Technical Support
                                .tk_strategy__block__subtitle Who will be handling technical support 24/7? How will your clients contact you to ask questions: phone calls, email, tickets, chats?
                        
                        .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Project Managers
                                .tk_strategy__block__subtitle Do you have a project management team in place? Do they have relevant knowledge or will they need training?
                            
                        .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Account Managers
                                .tk_strategy__block__subtitle Do you have a team of account managers to handle your clients’ needs? 
                        
                        .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Product Management
                                .tk_strategy__block__subtitle Have you already approved a responsible person for maintaining existing products, defining the overall business strategy and commissions policy? 
                            
                        .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Risk Management
                                .tk_strategy__block__subtitle What risk management procedures do you have in place? Do you have trustworthy people to maintain it?
                        
                        .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Dealing Desk
                                .tk_strategy__block__subtitle Who will be monitoring the overall exposure on the exchange? Do you have enough staff to handle it 24/7?
            
            .tk_strategy(style="margin-top:20px;")
                .tk_strategy__flex
                    .tk_strategy__main
                        img.tk_strategy__icon(src="images/tk_str6.svg", alt="icon")
                        .tk_strategy__title Finance
                        .tk_strategy__subtitle Everything related to payments and budgeting
                        .tk_strategy__desc Financial matters relating to all parts of your company are of utmost importance and will raise a number of questions as to how they will be handled. Whether its related to payments and budgeting or tax issues and company revenues, there are a variety of points that need to be addressed.
                    .tk_strategy__blocks
                        .tk_strategy__block.active
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Banking Operations
                                .tk_strategy__block__subtitle What banks will you use? Who will be in charge of communications with banks and counter-agents?
                        
                        .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Hot/Cold Storage
                                .tk_strategy__block__subtitle Who will be responsible for the management of hot/cold storage in your exchange?
                        .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Deposits / Withdrawals
                                .tk_strategy__block__subtitle Who will handle the deposits/withdrwal process. Who will handle bank deposits that are not automated? Who will be in charge of withdrawals including anti-fraud checks?
                        
                        .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title PSPs / EMIs
                                .tk_strategy__block__subtitle What banks and payment systems will you use? Who will be responsible for communicating with them?

                        .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Audit
                                .tk_strategy__block__subtitle What are your plans for internal and external auditing? What about tax matters? 
                        
                        .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Financial Control
                                .tk_strategy__block__subtitle Who will be in charge of accounting and checking debit and credit? Who will handle the financial aspects relating to the operation of your exchange?
                        

                        .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Risk Management  
                                .tk_strategy__block__subtitle Who will control the AML checks or the deposits and withdrawals? Should it be a separate compliance officer or someone from the finance team?
                        
                        .tk_strategy__block 
                                .tk_strategy__block__plus
                                    span
                                    span
                                .tk_strategy__block__title Reports 
                                .tk_strategy__block__subtitle Who will be responsible for daily/weekly/monthly checks of reports? Will some reconciliation procedures be implemented? 