.section.dark_style.tex_flow
    .container
        .section__title Cryptocurrency Exchange #[span(class="section__title--bold db") Technology Flow]
        .section__subtitle Technologies required for running a successful brokerage #[span(class="db")] can be divided into #[span(class="bold") 7 main components]:

        img.banner(src="images/cryptocurrency_flow.png", alt="img")
    
    .container
        .tex_flow_catalog
            .tex_flow_catalog__heading_block
                .tex_flow_catalog__heading_item Links
                .tex_flow_catalog__heading_item Components
                .tex_flow_catalog__heading_item How your clients use it
            .tex_flow_catalog__content.tex_flow_catalog__crypto.tex_flow_catalog__cryptocurrency
                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_flow_img1.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Trader’s Room / CRM
                        .tex_flow__text__subtitle B2Core is a broad and multifunctional#[span(class="db")] cabinet solution suitable for every type#[span(class="db")] of financial business.
                        .tex_flow__text__desc The solution is based on cutting-edge technology and a thorough analysis of#[span(class="db")] market needs. It is now acknowledged#[span(class="db")] as the industry’s leading trader’s room software.
                        .tex_flow__text__desc Everything you need falls under one roof with B2Core, including many integrations: payment services, platforms, support systems, KYC providers and marketing tools. 
                        .tex_flow__text__desc In addition, the solution features a high level of homemade functionality, such as Banners, Announcement System, IB Room and#[span(class="db")] Anti-fraud to provide you with the widest range of features available that you can#[span(class="db")] utilise to maximize your business operations.
                
                <svg class="long_arow goanim.an" width="16" height="55" viewBox="0 0 16 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.96387 1.26066C8.57712 0.866401 7.94399 0.860313 7.54972 1.24706L1.12487 7.54954C0.730608 7.93629 0.72452 8.56943 1.11127 8.96369C1.49802 9.35795 2.13116 9.36404 2.52542 8.97729L8.2364 3.37509L13.8386 9.08607C14.2254 9.48033 14.8585 9.48642 15.2528 9.09967C15.647 8.71291 15.6531 8.07978 15.2664 7.68552L8.96387 1.26066ZM7.03613 54.6612C7.42288 55.0555 8.05601 55.0616 8.45028 54.6748L14.8751 48.3723C15.2694 47.9856 15.2755 47.3524 14.8887 46.9582C14.502 46.5639 13.8688 46.5578 13.4746 46.9446L7.7636 52.5468L2.1614 46.8358C1.77464 46.4415 1.14151 46.4355 0.747247 46.8222C0.352986 47.209 0.346898 47.8421 0.73365 48.2364L7.03613 54.6612ZM7.25005 1.95132L6.75005 53.9513L8.74995 53.9706L9.24995 1.97055L7.25005 1.95132Z" fill="#798E9E" fill-opacity="0.5"/>
                </svg>

                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_currency1.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Matching engine #[span(class="db")] with UI for trading
                        .tex_flow__text__subtitle B2Trader is the trading core #[span(class="db")] of  a cryptocurrency exchange
                        .tex_flow__text__desc A Matching Engine is the core mechanic of a digital exchange which matches up bids and offers to execute trades. The algorithm keeps a record of all open orders in a market and generates new trades if the two orders can be fulfilled by each other. 
                        .tex_flow__text__desc The advanced user interface can satisfy the needs of the most sophisticated traders and investors.
                
                <svg class="long_arow goanim.an" width="16" height="55" viewBox="0 0 16 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.96387 1.26066C8.57712 0.866401 7.94399 0.860313 7.54972 1.24706L1.12487 7.54954C0.730608 7.93629 0.72452 8.56943 1.11127 8.96369C1.49802 9.35795 2.13116 9.36404 2.52542 8.97729L8.2364 3.37509L13.8386 9.08607C14.2254 9.48033 14.8585 9.48642 15.2528 9.09967C15.647 8.71291 15.6531 8.07978 15.2664 7.68552L8.96387 1.26066ZM7.03613 54.6612C7.42288 55.0555 8.05601 55.0616 8.45028 54.6748L14.8751 48.3723C15.2694 47.9856 15.2755 47.3524 14.8887 46.9582C14.502 46.5639 13.8688 46.5578 13.4746 46.9446L7.7636 52.5468L2.1614 46.8358C1.77464 46.4415 1.14151 46.4355 0.747247 46.8222C0.352986 47.209 0.346898 47.8421 0.73365 48.2364L7.03613 54.6612ZM7.25005 1.95132L6.75005 53.9513L8.74995 53.9706L9.24995 1.97055L7.25005 1.95132Z" fill="#798E9E" fill-opacity="0.5"/>
                </svg>
                
                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_currency2.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Crypto Spot Liquidity
                        .tex_flow__text__subtitle If a trading terminal is the heart of trading, liquidity is the life-blood. You have multiple options on how to get a deep liquidity pool.
                        .tex_flow__text__desc It is virtually impossible to attract clients to an exchange without sufficient liquidity. With B2Broker this is not a concern. You can be connected to B2BX aggregated liquidity pool or other exchanges and liquidity providers.
                        .tex_flow__text__desc You can also attract market makers who can connect to your exchange via API that will create a sufficient amount of limit orders for comfortable trading.
                        .tex_flow__text__desc Above all, the best liquidity for your exchange is organic liquidity created by your clients’ orders in the order book. You will not be charged any fees for this.
                
                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_flow_cr8.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Enterprise blockchain#[span(class="db")]  wallets
                        .tex_flow__text__subtitle B2BinPay`s Wallets Solution is a highly secure, reliable and scalable multi cryptocurrency wallets solution for exchanges.
                        .tex_flow__text__desc Enterprise Wallets Solution allows#[span(class="db")]  businesses to Accept, Store and Withdraw digital currencies such as Bitcoin, Ether, Ripple’s XRP, Tether and many more automatically using API or manually.
                        .tex_flow__text__desc We offer 24/7 technical support, education and more. Everything is designed with your comfort in mind to maximise your#[span(class="db")]  experience with us.
                
                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_flow_cr4.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Cryptocurrency Converter inside Trader’s Room
                        .tex_flow__text__subtitle with wallets and real-time rates
                        .tex_flow__text__desc Offer clients a cabinet with instant deposits/withdrawals and the possibility#[span(class="db")]  to get one currency converted into another with no limits.
                        .tex_flow__text__desc A broker can set any markups on exchange rates.
                
                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_currency3.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title B2B Creative Studio can#[span(class="db")]  create a new website for your company
                        .tex_flow__text__subtitle with content and promotional pages.
                        .tex_flow__text__desc A website is the showcase of a company#[span(class="db")]  to its clients and the most important#[span(class="db")]  marketing tool.
                        .tex_flow__text__desc If you don’t have enough time and staff#[span(class="db")]  to create a website, #[a(href="#") B2B Creative Studio] #[span(class="db")]  can do it for you.
                
                <svg class="long_arow goanim.an" width="16" height="55" viewBox="0 0 16 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.96387 1.26066C8.57712 0.866401 7.94399 0.860313 7.54972 1.24706L1.12487 7.54954C0.730608 7.93629 0.72452 8.56943 1.11127 8.96369C1.49802 9.35795 2.13116 9.36404 2.52542 8.97729L8.2364 3.37509L13.8386 9.08607C14.2254 9.48033 14.8585 9.48642 15.2528 9.09967C15.647 8.71291 15.6531 8.07978 15.2664 7.68552L8.96387 1.26066ZM7.03613 54.6612C7.42288 55.0555 8.05601 55.0616 8.45028 54.6748L14.8751 48.3723C15.2694 47.9856 15.2755 47.3524 14.8887 46.9582C14.502 46.5639 13.8688 46.5578 13.4746 46.9446L7.7636 52.5468L2.1614 46.8358C1.77464 46.4415 1.14151 46.4355 0.747247 46.8222C0.352986 47.209 0.346898 47.8421 0.73365 48.2364L7.03613 54.6612ZM7.25005 1.95132L6.75005 53.9513L8.74995 53.9706L9.24995 1.97055L7.25005 1.95132Z" fill="#798E9E" fill-opacity="0.5"/>
                </svg>

                .tex_flow__item.goanim.an
                    .tex_flow__img
                        img(src="images/tex_flow_img7.png", alt="img")
                    .tex_flow__text
                        .tex_flow__text__title Ticker Widget
                        .tex_flow__text__subtitle Fast and convenient
                        .tex_flow__text__desc Get the ultimate marketing tool for#[span(class="db")] monitoring market data with the widest#[span(class="db")] range of instruments available (FOREX,#[span(class="db")] Metals, Indices, Energies, Crypto CFD#[span(class="db")] and Shares CFD). Everything is in one#[span(class="db")] place so you can keep an eye on liquidity directly from the website, choose one#[span(class="db")] of the examples, or create your own.
    
    .container
        .section__title.goanim.an(style="margin:150px auto 100px;") #[span(class="section__title--bold db") 8 main features] of each component

        .feat_tk__block.feat_tk_crypto__block
            .feat_tk__heading
                .feat_tk__title #[span(class="extrabold") B2Core] #[span(class="feat_tk__title__black") / CRM / Trader’s Room]
                a(href="#").feat_tk__btn Go to Product Page
            .feat_tk__slider_wrapper.feat_tk__slider_wrapper0
                .feat_tk__arrow.feat_tk__arrow__prev
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__arrow.feat_tk__arrow__next
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__slider.feat_tk__slider0
                    .item
                        img(src="images/item_current1.png", alt="image")
                    .item
                        img(src="images/item_current1-2.png", alt="image")
                    .item
                        img(src="images/item_current1-3.png", alt="image")
            .feat_tk__text_block__wrapper
                    .feat_tk__text_block(style="width:calc(50% - 10px / 2);")
                        .feat_tk__text_block__desc__wrapper
                            .feat_tk__text_block__desc #[span(class="feat_tk__text_block__number") 40 ] #[span(class="feat_tk__text_block__big_desc") Payment Systems]
                            .feat_tk__text_block__desc #[span(class="feat_tk__text_block__number") 5 ] #[span(class="feat_tk__text_block__big_desc") Trading Platforms]
                        .feat_tk__text_block__desc(style="color: rgba(255, 255, 255, 0.4);") and many more integrated tools that make#[span(class="db")] our solution even more efficient.
                    
                    .feat_tk__text_block(style="width:calc(50% - 10px / 2);")
                        .feat_tk__text_block__title Multi-Level IB module
                        .feat_tk__text_block__desc Benefit from our multi-level IB system and build a tree of rewards offering an unlimited level-based partners program that rewards more than just direct IBs with commission. Offer your partners dynamic rebates with an adjustable formula calculation. 
                    
                    .feat_tk__acard(style="width:calc(50% - 60px / 2);")
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Advanced Frontend
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Developed specifically to be an easy-to-use product with no excessive animations or data. Everything is on point.
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span KYC Module
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Go through the verification process as smoothly as possible with the in-built Know Your Customer system and UI. Adjust your users to complete as many levels as needed so that they can increase withdrawal limits/open advanced accounts. Bring automation to the process by connecting such solutions as SumSub or Identity Mind in order to avoid human labor in checking the documents.
                            
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Wallets
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Store, exchange, transfer, withdraw, trade with your funds in various denominations in the safe space of B2Core.
                    
                    .feat_tk__acard(style="width:calc(50% - 60px / 2);")
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Momentary Transfers
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Instantly send funds to trading platforms to avoid margin calls and stop outs thanks to our deep integrations with the Trading Platforms Flagmans.
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Advanced Security
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Homemade Antifraud system allows for tracking of vulnerabilities from your end-users’ actions. You can limit access to the admin panel from certain whitelisted IPs.
                            
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Trading Analytics
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Give your clients the opportunity to check their trading activity and analyze the key metrics inside the B2Core cabinet.
        
        .feat_tk__block
            .feat_tk__heading
                .feat_tk__title #[span(class="extrabold") BTrader] #[span(class="feat_tk__title__black") |  Matching engine]
                a(href="#").feat_tk__btn Go to Product Page
            .feat_tk__slider_wrapper.feat_tk__slider_wrapper2
                .feat_tk__arrow.feat_tk__arrow__prev
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__arrow.feat_tk__arrow__next
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.566313 7.09804L7.41903 0.420228C7.85495 -0.00478077 8.56171 -0.00478077 8.99741 0.420228C9.43315 0.844859 9.43315 1.53357 8.99741 1.95817L2.93382 7.86701L8.99724 13.7756C9.43298 14.2004 9.43298 14.8891 8.99724 15.3137C8.5615 15.7385 7.85477 15.7385 7.41886 15.3137L0.566137 8.63581C0.348268 8.42339 0.239456 8.14528 0.239456 7.86704C0.239456 7.58867 0.348478 7.31036 0.566313 7.09804Z" />
                    </svg>

                .feat_tk__slider.feat_tk__slider2
                    .item
                        img(src="images/item_current2.png", alt="image")
                    .item
                        img(src="images/item_current2-2.png", alt="image")
                    .item
                        img(src="images/item_current2-3.png", alt="image")
            .feat_tk__text_block__wrapper
                    .feat_tk__acard(style="width:calc(50% - 60px / 2);")
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Unlimited listing
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p It is possible to add any number of traded pairs to the Exchange without any limitations to fullfil the demands of traders worldwide.
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Wide range of commission types:
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p  Various commission settings including commissions ladder depending on volume, commissions for different client types, group commissions and others.
                                
                            
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Fully customizable platform:
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Totally adjustable and feature-rich trading platform with different widgets, unlimited workspaces, white/night mode and many more.
                                
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Types of orders:
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p   Multiple types of orders sufficient for implementation of the most sophisticated trading strategies. Including pending orders (limit and stop) and market orders (Fill-or-Kill and Immediate-or-Cancel).
                                
                    
                    .feat_tk__acard(style="width:calc(50% - 60px / 2);")
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Anti-fraud system:
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Anti-fraud system with multiple security real-time checks, including double accounting for phone and e-mail, excessive number of trades, trianglular arbitrage, money laundring and more
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span API for trading and integrations:
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p REST and WebSocket API for end-users with both Public and Private methods that is  fully ready for CoinMarketCap listing
                            
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Volume Trading bot
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p The tool to to ensure your exchange charts are carefully drawed for every market, as well as trades history vidget reflects the predeterminied volumes and user activities which coresponds the intire crypto market volatility. The administrator can set daily, weekly and monthly volume settings.
                                
                        
                        .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Mobile application:
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p  Mobile application with the ability to trade, make deposits and monitor charts on the go. 

        .feat_tk__block
            .feat_tk__heading
                .feat_tk__title #[span(class="extrabold") Crypto Spot Liquidity] 
                a(href="#").feat_tk__btn Go to Product Page
            .feat_tk__slider_wrapper
                img.banner(src="images/item_current3.png", alt="")
            .feat_tk__text_block__wrapper.feat__cryptocurrency
                    .feat_tk__text_block(style="width:calc(50% - 10px / 2);")
                        .feat_tk__text_block__title Market Making
                        .feat_tk__text_block__desc Through powerful REST and WebSocket API you will be able to attract reliable market makers in order to create a strong liquidity pool on your exchange.
                    
                    .feat_tk__text_block(style="width:calc(50% - 10px / 2);")
                        .feat_tk__text_block__title Internal Organic Liquidity
                        .feat_tk__text_block__desc B2Trader Matching Engine aggregates orders#[span(class="db")] of users in the order books on a specific platform on all available assets that do not incur extra fees for routing outside sources.
                    
                    .feat_tk__text_block(style="width:calc(50% - 10px / 2);")
                        .feat_tk__text_block__title Bridge to Another Exchange
                        .feat_tk__text_block__desc We offer connection through Marksman Hub to the majority of trusted and well-known spot exchanges with the highest liquidity and best reliability in the market, including B2BX Exchange and others.
                    
                    .feat_tk__text_block(style="width:calc(50% - 10px / 2);")
                        .feat_tk__text_block__title External Liquidity Provider
                        .feat_tk__text_block__desc Use FIX API to connect your exchange to aggregated liquidity pool or some external sources just for feeds.
                    
                    .feat_tk__text_block(style="width:100%;")
                        .feat_tk__text_block__title Deep order book of B2BX (External liquidity provider)
                        .feat_tk__text_block__desc Get a deep order book on your exchange from the first day after launch: just connect to B2BX exchange as an external #[span(class="db")] liquidity provider and offer your clients perfect liquidity with an avg. 50 bitcoins bid/ask with a spread around $4.

        .feat_tk__block
            .feat_tk__heading
                .feat_tk__title #[span(class="extrabold") Enterprise Blockchain Wallets]
                a(href="#").feat_tk__btn Go to Product Page
            
            .feat_tk__block__flex_wrapper
                img.feat_tk__block__img(src="images/tk_crypto_slide1.png", alt="img",style="width:477px; margin-left:-61px;")
                .feat_tk__block__right
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Coins, Stablecoins & Tokens
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p 15 major coins are available including Bitcoin, Bitcoin Cash, Ethereum, Litecoin, Dash, Ripple, NEO, NEM and Monero. A choice of 6 top stablecoins, including USDT, USDC, GUSD, PAX, TUSD, BUSD and 888+ tokens are available as a mode of payment.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Liquid and Non-Liquid Tokens
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p All types of tokens are supported, including both liquid tokens that are listed on top exchanges, as well as only issued tokens. Custom token integration ensures a quick and straightforward process for integrating your own NEO, NEM, ETH and Omni-based tokens.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span No Chargebacks 
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Blockchain transactions are irreversible with no chargebacks and no recurring fees or hidden charges. A straightforward and transparent service that is entirely independent. This means there are no third parties involved in transactions so there is no need to rely on any bank or government.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Advanced Security
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p  Security is not only of major importance but requires expert know-how to maintain. Reduce your risks and costs by allowing us to handle it. We handle all node patches and updates so there is no need to get involved in any of these aspects as they are all taken care of as part of our enterprise solution.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span AML/Compliance Check
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p KYT compliance technology ensures your business measures up in terms of anti-money laundering requirements. Complete data-centric information about transactions helps crypto businesses comply with local and global regulations.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Technical Support
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p We offer 24/7 technical support, education and more. Everything is designed with your comfort in mind to maximise your experience with us.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Real-Time Exchange Rates
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Risk-free crypto exchange services with low fees, high exchange limits and fast exchange times.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Lowest Fees
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Avoid high credit card fees and accept crypto payments for as low as 0.4%.
                                
        .feat_tk__block
            .feat_tk__heading
                .feat_tk__title #[span(class="extrabold") Website]
                a(href="#").feat_tk__btn Go to Product Page
            
            .feat_tk__block__flex_wrapper
                img.feat_tk__block__img(src="images/tk_slide6.png", alt="img",style="margin-left:-45px;")

                .feat_tk__block__right
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span rFinTech Expertise
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Brokerages and Exchanges are the main areas of our focus. Over the years we have accumulated a FinTech knowledge base that helps us better understand our client’s needs and background. We help solve their probems in the most convenient way.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Naming
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p A good name is one of the aspects required to start your business. A catchy and attractive business name will be available for you.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span User Interfaces
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p There is no need to spend time researching web studios that will create high-quality design for you. We can help you to create a highly-effective design. Hundreds of clients are happy to use our interfaces for their business. 
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Branding
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p A well-built brand is a powerful sales tool that can be measured in financial terms. We offer a customizable solution that includes both company name creation and logo design. Our studio will develop a unique colour scheme for you, while taking your suggestions on-board.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Logo 
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p A logo is an important element of a brand's corporate identity. A special combination of colors, graphics and word elements make the company outstanding.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Copywriting
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Write unique articles and fill your site with quality content.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Front-End 
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Our specialists are equipped with the necessary technologies to work with Front-end: PHP, JavaScript, Python.
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Back-End 
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Easy and quick integration into your new website of any “Turnkey” product from B2Broker, with widgets and a link at the back-end.
        
        .feat_tk__block
            .feat_tk__heading
                .feat_tk__title #[span(class="extrabold") Widgets]
                a(href="#").feat_tk__btn Go to Product Page
            
            .feat_tk__block__flex_wrapper
                
                .feat_tk__block__right
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Feed
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p A live price feed of the best liquidity offer on the market
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Streams
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Different price streams are available. Choose which price stream will be displayed
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Platforms
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Compatible with all trading platforms
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Market information
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Access the latest market activity across various sectors
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Instruments
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p An adjustable list of instruments that can be added (choose from over 650 instruments and from 10 symbols groups)
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Settings
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Multiple parameters can be adjusted ( volume levels , market depth and custom fields, etc)
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Appearance
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p A customisable appearance including table, chart, ticker bar with no limitations
                    
                    .feat_tk__acard__item
                            .feat_tk__acard__title 
                                span Design
                                span.feat_tk__acard__plus
                            .feat_tk__acard__content
                                p Create your own or choose the most suitable from our library
                
                img.feat_tk__block__img(src="images/item_current4.png", alt="img")