.section.what_tk.what_crypto_tk__section.what_cryptocurrency__section
    .container.goanim.an
        .section__title  What is a #[span(class="section__title--bold")  Cryptocurrency exchange?]
        .what_tk__text(style="letter-spacing:-0.5px") A cryptocurrency exchange or a digital currency exchange (DCE) is a business that allows customers to trade cryptocurrencies or digital currencies for other assets such as conventional fiat money or other digital currencies.

        .what_tk__title Benefits of a cryptocurrency exchange based on B2Broker technologies
        .what_tk__text This is a sophisticated cryptocurrency exchange solution with a focus on super-fast and stable matching engine performance and reliable crypto security. It offers a sophisticated user experience for traders and brokers, providing a technological edge for crypto trading and all necessary crypto activities.
    .what_tk_cat
            .what_tk_cat__block
                .what_tk_cat__title
                    <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.1481 5.85189L8.28586 0L2.42362 5.85189C0.807872 7.46763 0 9.62196 0 11.6934C0 13.7649 0.807872 15.9503 2.42362 17.566C4.03936 19.1818 6.16261 20 8.28586 20C10.4091 20 12.5324 19.1818 14.1481 17.566C15.7639 15.9503 16.5717 13.7649 16.5717 11.6934C16.5717 9.62196 15.7639 7.46763 14.1481 5.85189ZM2.07147 12.0663C2.08182 9.99482 2.71362 8.67944 3.89436 7.50906L8.28586 3.02434L12.6774 7.56085C13.8581 8.72087 14.4899 9.99482 14.5003 12.0663H2.07147Z" fill="#20457C"/>
                    </svg>
                    |  No matching fee. No hidden fees.
                
                .what_tk_cat__desc You only pay for technical support and hosting. No hidden payments or fees for trading volume.

            .what_tk_cat__block
                .what_tk_cat__title
                    <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 10H17.7778V13.3333H14.4444V15.5556H20V10ZM6.66667 6.66667H10V4.44444H4.44444V10H6.66667V6.66667ZM22.2222 0H2.22222C1 0 0 1 0 2.22222V17.7778C0 19 1 20 2.22222 20H22.2222C23.4444 20 24.4444 19 24.4444 17.7778V2.22222C24.4444 1 23.4444 0 22.2222 0ZM22.2222 17.7889H2.22222V2.21111H22.2222V17.7889V17.7889Z" fill="#20457C"/>
                    </svg>
                    |  Сustomizable user interface
                
                .what_tk_cat__desc 
                    p The whole user interface is built from widgets. An administrator is able to choose any combination of widgets that can be made available to clients and create a unique default workspace for them. Color schemes and all wordings inside the UI are also fully customizable. UI Day/Night modes are available.
                    p TradingView charts allow traders to perform detailed technical analysis. The advanced user interface will satisfy even traders with the most sophisticated strategies.

            .what_tk_cat__block
                .what_tk_cat__title
                    <svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.0004 2.22222H13.356C12.8893 0.933333 11.6671 0 10.2227 0C8.77821 0 7.55599 0.933333 7.08932 2.22222H2.44488C1.22266 2.22222 0.222656 3.22222 0.222656 4.44444V20C0.222656 21.2222 1.22266 22.2222 2.44488 22.2222H18.0004C19.2227 22.2222 20.2227 21.2222 20.2227 20V4.44444C20.2227 3.22222 19.2227 2.22222 18.0004 2.22222ZM10.2227 2.22222C10.8338 2.22222 11.3338 2.72222 11.3338 3.33333C11.3338 3.94444 10.8338 4.44444 10.2227 4.44444C9.61155 4.44444 9.11155 3.94444 9.11155 3.33333C9.11155 2.72222 9.61155 2.22222 10.2227 2.22222ZM8.00043 17.7778L3.55599 13.3333L5.12266 11.7667L8.00043 14.6333L15.3227 7.31111L16.8893 8.88889L8.00043 17.7778Z" fill="#20457C"/>
                    </svg>
                    |  Backoffice with a wide range #[span(class="db")] of functions
                
                .what_tk_cat__desc 
                    p We have created a backoffice interface to maintain the advanced functionality of the matching engine, check the balances in the context of currencies or in USD equivalent and see the list of users and their activity. 
                    p You can also monitor commissions paid by users, calculate PnL, check all order details and roles in one place, make an online trade and arbitrage monitoring.
            
            .what_tk_cat__block
                .what_tk_cat__title
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.8728 11.2888C17.9114 10.9674 17.9371 10.6331 17.9371 10.286C17.9371 9.9388 17.9114 9.60451 17.86 9.28308L20.0329 7.58589C20.2257 7.4316 20.2772 7.14874 20.1615 6.93016L18.1043 3.36865C17.9757 3.13722 17.7057 3.06007 17.4743 3.13722L14.9156 4.16581C14.3756 3.75437 13.8099 3.42008 13.1799 3.16293L12.7941 0.437153C12.7556 0.180004 12.537 0 12.2798 0H8.16547C7.90832 0 7.7026 0.180004 7.66403 0.437153L7.2783 3.16293C6.64829 3.42008 6.0697 3.76723 5.54255 4.16581L2.98392 3.13722C2.75248 3.04721 2.48248 3.13722 2.3539 3.36865L0.296709 6.93016C0.168135 7.1616 0.219565 7.4316 0.425284 7.58589L2.59819 9.28308C2.54676 9.60451 2.50819 9.95166 2.50819 10.286C2.50819 10.6202 2.5339 10.9674 2.58533 11.2888L0.412426 12.986C0.219564 13.1403 0.168135 13.4232 0.283852 13.6417L2.34104 17.2033C2.46962 17.4347 2.73962 17.5118 2.97106 17.4347L5.52969 16.4061C6.0697 16.8175 6.63543 17.1518 7.26544 17.409L7.65117 20.1348C7.7026 20.3919 7.90832 20.5719 8.16547 20.5719H12.2798C12.537 20.5719 12.7556 20.3919 12.7813 20.1348L13.167 17.409C13.797 17.1518 14.3756 16.8047 14.9028 16.4061L17.4614 17.4347C17.6928 17.5247 17.9628 17.4347 18.0914 17.2033L20.1486 13.6417C20.2772 13.4103 20.2258 13.1403 20.02 12.986L17.8728 11.2888V11.2888ZM10.2227 14.1432C8.10118 14.1432 6.36542 12.4074 6.36542 10.286C6.36542 8.16448 8.10118 6.42872 10.2227 6.42872C12.3441 6.42872 14.0799 8.16448 14.0799 10.286C14.0799 12.4074 12.3441 14.1432 10.2227 14.1432Z" fill="#20457C"/>
                    </svg>
                    |  Trading APIs
                
                .what_tk_cat__desc 
                    p The B2Broker digital asset exchange features multiple, full-featured trading APIs spanning key trading functions while providing familiar points of access for different trading styles and types of customers:
                    p.what_tk_cat__desc__item #[span(class="bold") REST] – Support for secure authentication, order entry, execution reports, market data queries

                    p.what_tk_cat__desc__item #[span(class="bold") WebSocket] – Support for secure authentication, order entry, execution reports, market data queries, market data feed subscriptions.

                    p For your clients or market makers. Connect price streams.
            
            .what_tk_cat__block
                .what_tk_cat__title
                    <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.2227 16.797L18.0207 20.9L16.2167 13.167L22.2227 7.964L14.3137 7.293L11.2227 0L8.13166 7.293L0.222656 7.964L6.22866 13.167L4.42466 20.9L11.2227 16.797Z" fill="#20457C"/>
                    </svg>
                    |  High Capacity Matching Engine
                
                .what_tk_cat__desc The Matching Engine can process #[span(class="bold") 30,000 requests] per second. It  #[span(class="bold") works 24/7] with extremely small maintenance intervals around the clock of the crypto markets without any breaks, including weekends.

            

            .what_tk_cat__block
                .what_tk_cat__title
                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.222656 2V16C0.222656 17.1 1.11266 18 2.22266 18H16.2227C17.3227 18 18.2227 17.1 18.2227 16V2C18.2227 0.9 17.3227 0 16.2227 0H2.22266C1.11266 0 0.222656 0.9 0.222656 2ZM12.2227 6C12.2227 7.66 10.8827 9 9.22266 9C7.56266 9 6.22266 7.66 6.22266 6C6.22266 4.34 7.56266 3 9.22266 3C10.8827 3 12.2227 4.34 12.2227 6ZM3.22266 14C3.22266 12 7.22266 10.9 9.22266 10.9C11.2227 10.9 15.2227 12 15.2227 14V15H3.22266V14Z" fill="#20457C"/>
                    </svg>
                    |  Integration with CoinMarketCap
                
                .what_tk_cat__desc You are provided with 5 required endpoints for listing at CoinMarketCap and most of the other listing websites: Summary, Trades History, Ticker, Assets, Order books.
    .container 

        .what_tk__title Components of a cryptocurrency exchange business
        .what_tk__subtitle A crypto exchange is much more than just technologies alone. It comprises several parts and different aspects that each#[span(class="db")] business owner needs to take into consideration when getting started with this type of operation i.e. Legal, Marketing,#[span(class="db")] Sales, Operations, Finance, Liquidity and Technology. 

        img.banner.banner1(src="images/what_cryptocurrency.png", alt="image")

        .what_tk__title Position yourself in a growing market
        .what_tk__subtitle Today more than 1,000 cryptocurrency exhanges are in operation according to tracking websites. Crypto-Fiat are the most popular and profitable for their owners but it is harder to launch them due to legal and payment questions. 
        .what_tk__subtitle There are also a fair number of crypto-crypto exchanges, but these are less popular nowadays due to the shrinking token markets. But the launch of such exchanges requires no serious investments of time and money in legal questions and amount of such exchanges is still growing.
        .what_tk__subtitle The main factor for the growth in number of exchanges from 2020-2025 is global digitalization and the acceptance of  cryptocurrencies, especially stablecoins by both individuals and governments. We are soon likely to see stablecoins issued by governments which will be traded on multiple exchanges. For this reason, we can expect an explosive growth in the number of exchanges in next 5 years of up to 10,000 worldwide.

        img.banner(src="images/what_cryptocurrency2.png", alt="image")

        .what_tk__heading
            p #[span(class="bold db") The best time to start a crypto exchange business is today.] This will allow you sufficient time to gain expertise, build your brand and have #[span(class="db")] an established business ahead of the full adoption of cryptocurrencies.
    
    .what_tk__covid
        .what_tk__title Build an antifragile company resistant to crises like COVID-19
        .what_tk__subtitle A brokerage business is resistant to most crises as it is a business that can be run with a fully-remote team and has been proven during the COVID-19 pandemic in 2020. Our clients reported growth compared with the months pre-COVID-19 as people started using their services more during the lockdown period.