.section.b2grid__section
    .container
        .section__title Why #[span(class="section__title--bold") B2Broker?]
        .section__subtitle Over the years, we have grown into a strong and recognized player in the market.#[span(class="db")] We are acknowledged as industry innovators and trendsetters. If there is a task that#[span(class="db")] requires the creation of new solutions based on related technologies or you are#[span(class="db")] thinking about trying something new, we very much welcome such opportunities.
    
        .b2_grid
            .b2_grid__item
                a.fancybox-thumb(rel="fancybox-thumb", data-caption="Corporate parties in the best restaurants", data-fancybox="gallery",href="images/careers/b2_item1.png")
                    img(src="images/careers/b2_item1.png", alt="img")
                    span.b2_grid_heading Corporate parties in the best restaurants
                    span.bg

            .b2_grid__item
                a.fancybox-thumb(rel="fancybox-thumb",data-fancybox="gallery", data-caption="Congratulations on all holidays", href="images/about/img2.jpg")
                    img(src="images/about/img2.jpg",  alt="img")
                    span.b2_grid_heading Recognition of all holidays
                    span.bg
                a.fancybox-thumb(rel="fancybox-thumb",data-caption="Cool gifts and lotteries",data-fancybox="gallery",href="images/about/img3.png")
                    img(src="images/about/img3.png", alt="img")
                    span.b2_grid_heading Cool prizes and lotteries
                    span.bg
                    
            .b2_grid__item
                a.fancybox-thumb(rel="fancybox-thumb",data-fancybox="gallery",data-caption="The most delicious corporate cakes",href="images/careers/b2_item4.png")
                    img(src="images/careers/b2_item4.png", alt="img")
                    span.b2_grid_heading Delicious corporate cakes
                    span.bg
                    
            .b2_grid__item
                a.fancybox-thumb(rel="fancybox-thumb",data-fancybox="gallery",data-caption="Join in the fun at the best clubs",href="images/careers/b2_item5.jpg")
                    img(src="images/careers/b2_item5.jpg", alt="img")
                    span.b2_grid_heading Join in the fun at the best clubs
                    span.bg
                    
            .b2_grid__item
                a.fancybox-thumb(rel="fancybox-thumb",data-fancybox="gallery",data-caption="Celebrating birthdays of our employees",href="images/careers/b2_item6.png")
                    img(src="images/careers/b2_item6.png", alt="img")
                    span.b2_grid_heading Birthday celebrations for all employees
                    span.bg
        
    .container.paragraf__wrapper
        .event_heading Our company is developing rapidly. We often initiate new projects.
        p.paragraf We offer you the opportunity to join our company and after spending some time with us, the chance to grow and acquire your own department. There are always possibilities to participate in other more interesting projects or to join another team with different tasks. We do not have a bureaucratic environment - instead each of us is responsible for our work and the end-result.