.section.noise.dark_style.careers_content
    .container
        .cc_heading
            .cc_heading__left We spend around  #[span(class="cc__persent") 30%] of our lifetime at work.
            .cc_heading__right That’s why we want our employees to #[span(class="bold") feel as comfortable and nurtured as possible.] #[span(class="db")] Our offices around the world #[span(class="bold") make employees feel at home. ]
    .container
        .careers_wrapper.active(data-id="0")

            .hear_flickity--js
                .item
                    img(src="images/msk1.jpg", alt="image", class="banner")
                .item
                    img(src="images/msk2.jpg", alt="image", class="banner")
                .item
                    img(src="images/msk3.jpg", alt="image", class="banner")
                .item
                    img(src="images/msk4.png", alt="image", class="banner")
                .item
                    img(src="images/msk5.jpg", alt="image", class="banner")

            .hear_flickity_small--js
                .item
                    img(src="images/msk1.jpg", alt="image", class="banner")
                .item
                    img(src="images/msk2.jpg", alt="image", class="banner")
                .item
                    img(src="images/msk3.jpg", alt="image", class="banner")
                .item
                    img(src="images/msk4.png", alt="image", class="banner")
                .item
                    img(src="images/msk5.jpg", alt="image", class="banner")
        
        .careers_wrapper(data-id="1")

            .hear_flickity--js
                .item
                    img(src="images/pit.png", alt="image", class="banner")
                
                .item
                    img(src="images/pit1.png", alt="image", class="banner")
                
                .item
                    img(src="images/pit2.png", alt="image", class="banner")
                
                .item
                    img(src="images/pit3.png", alt="image", class="banner")
                
                .item
                    img(src="images/pit4.png", alt="image", class="banner")
                
                .item
                    img(src="images/pit5.png", alt="image", class="banner")
            
            .hear_flickity_small--js
                .item
                    img(src="images/pit.png", alt="image", class="banner")
                
                .item
                    img(src="images/pit1.png", alt="image", class="banner")
                
                .item
                    img(src="images/pit2.png", alt="image", class="banner")
                
                .item
                    img(src="images/pit3.png", alt="image", class="banner")
                
                .item
                    img(src="images/pit4.png", alt="image", class="banner")
                
                .item
                    img(src="images/pit5.png", alt="image", class="banner")
        
        .careers_wrapper(data-id="2")

            .hear_flickity--js
                .item
                    img(src="images/minsk1.jpg", alt="image", class="banner")
                .item
                    img(src="images/minsk2.jpg", alt="image", class="banner")
                .item
                    img(src="images/minsk3.jpg", alt="image", class="banner")
                
            .hear_flickity_small--js
                .item
                    img(src="images/minsk1.jpg", alt="image", class="banner")
                .item
                    img(src="images/minsk2.jpg", alt="image", class="banner")
                .item
                    img(src="images/minsk3.jpg", alt="image", class="banner")
        
        .careers_wrapper(data-id="3")

            .hear_flickity--js
                .item
                    img(src="images/kiev.png", alt="image", class="banner")
        
        .careers_wrapper(data-id="4")
 
            .hear_flickity--js
                .item
                    img(src="images/land.jpg", alt="image", class="banner")
        
        .careers_wrapper(data-id="5")
       
            .hear_flickity--js
                .item
                    img(src="images/gon1.png", alt="image", class="banner")
                .item
                    img(src="images/gon2.jpg", alt="image", class="banner")
                .item
                    img(src="images/gon3.jpg", alt="image", class="banner")
                .item
                    img(src="images/gon4.png", alt="image", class="banner")
                .item
                    img(src="images/gon5.png", alt="image", class="banner")
                
            .hear_flickity_small--js
                .item
                    img(src="images/gon1.png", alt="image", class="banner")
                .item
                    img(src="images/gon2.jpg", alt="image", class="banner")
                .item
                    img(src="images/gon3.jpg", alt="image", class="banner")
                .item
                    img(src="images/gon4.png", alt="image", class="banner")
                .item
                    img(src="images/gon5.png", alt="image", class="banner")
        
        .careers_wrapper(data-id="6")
            
            .hear_flickity--js
                .item
                    img(src="images/lim1.png", alt="image", class="banner")
                .item
                    img(src="images/lim2.png", alt="image", class="banner")
                .item
                    img(src="images/lim3.png", alt="image", class="banner")
                
            .hear_flickity_small--js
                .item
                    img(src="images/lim1.png", alt="image", class="banner")
                .item
                    img(src="images/lim2.png", alt="image", class="banner")
                .item
                    img(src="images/lim3.png", alt="image", class="banner")
        
        .careers_wrapper(data-id="7")
            .hear_flickity--js
                .item
                    img(src="images/rem.jpg", alt="image", class="banner")
    
    .container
        .modern
            .modern__top_line We provide
            .modern__wrapper
                .modern__item
                    <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.3462 10.7232C14.3371 9.08449 15.0869 7.84766 16.6044 6.93678C15.7553 5.73567 14.4726 5.07483 12.7789 4.94535C11.1756 4.82032 9.42319 5.86962 8.78186 5.86962C8.10439 5.86962 6.55072 4.99 5.33127 4.99C2.81108 5.03018 0.132812 6.97697 0.132812 10.9375C0.132812 12.1074 0.349603 13.3159 0.783184 14.5632C1.36129 16.2019 3.4479 20.2204 5.62484 20.1535C6.76299 20.1267 7.56693 19.3542 9.04833 19.3542C10.4846 19.3542 11.2298 20.1535 12.4989 20.1535C14.6939 20.1222 16.5818 16.4698 17.1328 14.8266C14.1881 13.4558 14.3462 10.808 14.3462 10.7232ZM11.7898 3.39149C13.0228 1.9448 12.9099 0.627597 12.8738 0.154297C11.7853 0.216808 10.5252 0.886573 9.8071 1.71262C9.01671 2.59671 8.55152 3.69065 8.65088 4.92302C9.82968 5.01232 10.9046 4.414 11.7898 3.39149Z" fill="#01BD95"/>
                    </svg>
                    .modern__text Modern Apple Equipment
                
                .modern__item
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.0775 0.156479C15.365 0.281434 11.9611 0.736253 9.85986 2.38999C9.71485 2.5041 9.63266 2.707 9.63266 2.91914V17.5388C9.63266 18.0029 10.0274 18.2962 10.3602 18.0809C12.5221 16.6818 15.6487 16.3001 17.1947 16.1957C17.7225 16.1599 18.1328 15.6159 18.1328 14.9638V1.38995C18.1331 0.678396 17.6531 0.114693 17.0775 0.156479ZM8.40577 2.38999C6.3048 0.736253 2.90099 0.281835 1.18846 0.156479C0.612821 0.114693 0.132812 0.678396 0.132812 1.38995V14.9642C0.132812 15.6167 0.543132 16.1607 1.07095 16.1961C2.61754 16.3006 5.74572 16.6826 7.90764 18.0825C8.23952 18.2974 8.63296 18.0045 8.63296 17.5417V2.91191C8.63296 2.69937 8.55108 2.5045 8.40577 2.38999Z" fill="#01BD95"/>
                    </svg>
                    .modern__text Paid-for English tuition and encourage additional courses



    .careers_table__wrapper
        .careers_table
            .row.heading_row
                .col Active vacancies
                .col Department
                .col Contact us
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Operations  Manager
                .col
                    span Marketing 
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Web Developer
                .col
                    span Development 
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span IT Account Manager
                .col
                    span M&S
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Marketing  Manager
                .col
                    span Marketing
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Web Developer
                .col
                    span Development
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Operations  Manager
                .col
                    span  M&S
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Marketing  Manager
                .col
                    span Marketing
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Operations  Manager
                .col
                    span M&S
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020