.section.noise.dark_style.careers_content
    .container
        .hear_flickity--js.hover_flickity--js
            .item
                img(src="images/careers/item3.png", alt="image", class="banner")
            .item
                img(src="images/careers/item2.jpg", alt="image", class="banner")
            .item
                img(src="images/careers/item1.png", alt="image", class="banner")
            .item
                img(src="images/careers/item3.png", alt="image", class="banner")
            .item
                img(src="images/careers/item1.png", alt="image", class="banner")
            .item
                img(src="images/careers/item2.jpg", alt="image", class="banner")
                
            .item
                img(src="images/careers/item4.png", alt="image", class="banner")
            
            .item
                img(src="images/remote.jpg", alt="image", class="banner")

        .hear_flickity_small--js.hover_flickity--js
            .item
                img(src="images/careers/item3.png", alt="image", class="banner")
            .item
                img(src="images/careers/item2.jpg", alt="image", class="banner")
            .item
                img(src="images/careers/item1.png", alt="image", class="banner")
            .item
                img(src="images/careers/item3.png", alt="image", class="banner")
            .item
                img(src="images/careers/item1.png", alt="image", class="banner")
            .item
                img(src="images/careers/item2.jpg", alt="image", class="banner")
                
            .item
                img(src="images/careers/item4.png", alt="image", class="banner")
            
            .item
                img(src="images/remote.jpg", alt="image", class="banner")

    .careers_table__wrapper
        .careers_table
            .row.heading_row
                .col Active vacancies
                .col Department
                .col Contact us
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Operations  Manager
                .col
                    span Marketing 
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Web Developer
                .col
                    span Development 
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span IT Account Manager
                .col
                    span M&S
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Marketing  Manager
                .col
                    span Marketing
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Web Developer
                .col
                    span Development
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Operations  Manager
                .col
                    span  M&S
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Marketing  Manager
                .col
                    span Marketing
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020
            
            .row
                .col
                    img(src="images/careers/row.svg", alt="icon", class="ct--js")
                    span Operations  Manager
                .col
                    span M&S
                .col
                    a(href="#").read_more_careers_btn.read_more_careers_btn--js Read more
                    a(href="#").apply_now_careers_btn.apply_now_careers_btn--js Apply now
                .row_content
                    p Dutes
                    ul
                        li • Maintenance and support of existing clients, using e-mail, skype, on-line chats and phone calls.
                        li • Co-operation with Legal and Financial departments
                        li • Negotiations about the project, payment and contract conditions tracking.
                        li • Keeping good relationships and loyalty of clients to our company throught highly professional communication skills.
                        li • Weekly reports of client/project status to CEO/COO
                        li • IT Product Support
                        li • Upsales are possible
                    
                    p Requirements
                    ul
                        li • We are looking for bilingual Spanish/English speaker
                        li • Experience with computer programs or IT background or experience in support team is a must.
                        li • Deep knowledge in MetaTrader system will be your big plus!
                        li • Experience in Jira or Slack will be your advantage
                        li • Excelent experience in computer skills.
                        li • The experience of the client portfolio maintenance;
                        li • Independence, proactive and time-management skills.
                    
                    p Conditions
                    ul
                        li • Salary is starting from 60.000 rub on trial period and grows to stable 70 000 rub and higher after trial period.
                        li • Opportunity to earn additional money as commission for Upsales!
                        li • 2 weeks of paid training is provided to new employees before starting daily job.
                        li • Possibility to work with an innovative, intellectual product with no analogues on the market.
                        li • Possibility to be a key member of the team and to influence on the further development of the company.
                        li • A young, progressive and friendly team.
                        li • Timetable: 5/2 from 10-00 to 19-00, weekends on Saturday and Sunday. Rare off-hours calls are possible when working with international clients.
                    
                    p Location #[span(class="") Vistavochnaya, Delovoy Tsentr metro station, Moscow City business center.]
                    p Work experience #[span(class="") 1–3 years]
                    p Full-time work 5/2
                    span Publication June 12 2020