.section.section__blue.b2_frame.careers__video
    .container
        .section__title Watch the #[span(class='section__title--bold') video]

        .video_block
            .video_block--preview
                img(src="images/careers/video.png", alt="video_previw").image_preview
                img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
                .video--time 2:08
            <iframe src="" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .video_description B2Broker 📈 Employees Gather at Moscow Headquarters for Product Training
        .video_subdescription Last week, we embarked on a 2-day intensive training course for our employees who all descended on the group’s hi-tech Moscow offices in the capital’s financial district for a series of educational, technical and practical sessions.