.events_screen.section.section__have_filter.rectangle(style="background-image: url(images/careers/screen.png);")
    .container
        .section__title #[span(class="section__title--bold") Hunting] for treasures
        .section__subtitle If you are looking for a new role, relish difficult tasks, speak good English#[span(class="db")] and are prone to perfectionism, you could have what it takes#[span(class="db")] to join our ranks! Check our openings and apply today!
    
.towns
    .container
        ul 
            li Global Vacancies:
            li Moscow
            li Saint Petersburg
            li Minsk
            li Kiev
            li London
            li Hong-Kong
            li Limassol
            li Remote
    