.tex_flow_catalog__cryptocurrency {
  &:before {
    background: center/cover url(../images/arow_cryptocurrency.svg) no-repeat;
    height: 2069px;
  }
}

.feat__cryptocurrency {
  margin-bottom: -15px;

  .feat_tk__text_block {
    padding: 40px 39px;
    margin-bottom: 15px;
  }
}
