.tex_flow_catalog__cryptocurrency {
  &:before {
    background: center/cover url(../images/arow_cryptocurrency.svg) no-repeat;
    height: 2069px;
  }
}

.feat__cryptocurrency {
  margin-bottom: -15px;

  .feat_tk__text_block {
    padding: 40px 39px;
    margin-bottom: 15px;
  }
}

.pac_ad__cryptocurrency_section {
  #grove1 {
    .pac_ad__subtitle {
      margin-bottom: 100px;
    }

    .new_speed__wrapper + .new_speed__wrapper {
      margin-top: 50px;
    }
  }
}
