.section-3.section.section-3__forex
  .container.goanim.an
    .section__title #[span(class="section__title--bold") ETF CFDs] Liquidity
    span.main-text Exchange traded funds (ETFs) provide investors with access to a diversified portfolio of securities such as stocks or bonds and can be used in different ways to meet different investment objectives. ETF liquidity has two components;  the volume of units traded on an exchange and the liquidity of the individual securities in the ETF’s portfolio.

    span.main-text With our liquidity, you can trade ETFs from the biggest European, Asian and American exchanges. Our deep expertise makes us one of the industry’s most sought-after liquidity providers for ETF CFDs.
    .number_block.etf
      .number_block-content
        .number_block--text Spread from
        .number_block--number 0,01
          span.number_block--number-text $

      .number_block-content
        .number_block--text Margin Requirements
        .number_block--number 20%
          span.number_block--number-text 

      .number_block-content
        .number_block--text Trading session
        .number_block--number Full

      .number_block-content
        .number_block--text Liquidity venues
        .number_block--number.center 7
        
      .number_block-content
        .number_block--text technical Support
        .number_block--number 24/7