header.big_header
  .big_header__bg
    .container
      .big_header__top_row
        .text_flicky--js
          .item Leading Liquidity & Technology Provider
          .item Advanced White Label Solutions
        .big_header__top_row__right_row
          ul.menu
            li.margin_right
              a.signal_button(href="#") Webinars
                .signal
            li.margin_right
              a(href="#") Events
            li.margin_right#About_wrapper
              a#About--js.big_menu_btn--js(href="#",data-id="6") About us
            li
              a.Schedule_button(href="#") Schedule a call
            li
              a.client_button(href="#") Login
            li.language_button_wrapper
              select.language_button
                option(value="English") English
                option(value="English") English
                option(value="English") English
              img(src="images/en.png", alt="english")
  .big_header__bg--2
    .container
      .big_header__center_row
        a(href="#").header__logo
          img(src="images/icons/broker_logo.png", alt="broker_logo")
        nav
          ul.menu
            li.menu-item
              a#Core_Products--js.big_menu_btn--js(href="#",data-id="1") Core Products 
            li.menu-item
              a#Liquidity--js.big_menu_btn--js(href="#",data-id="2") Liquidity
            li.menu-item
              a#Turnkey_Solutions--js.big_menu_btn--js(href="#",data-id="3") Turnkey Solutions
            li.menu-item
              a#Crypto_Processing--js.big_menu_btn--js(href="#",data-id="4") Crypto Processing
            li.menu-item
              a#Money_Management--js.big_menu_btn--js(href="#",data-id="5") Money Management
        .burger--js
  .big_header__bg--3
    .container
      .big_header__bottom_row#Turnkey_Solutions__content--js.big_menu_content--js(data-id="3")
        .big_header__bottom_row__left_row
          .big_header__bottom_row__heading Turnkey Solutions
          .big_header__bottom_row__text Choose from our wide range of bespoke solutions designed for whatever type of financial business structure is required including brokerage, exchange and wallets.
          include _soc_block.pug
        .big_header__bottom_row__right_row
          .row
            .menu__heading
              img(src="images/MAM_platform/icon-3.svg", alt="icon")
              span Turnkey Brokerage 
            ul.menu
              li.menu-item
                a(href="#") Forex Broker
              li.menu-item
                a(href="#") Crypto CFD Margin Broker
              li.menu-item.disabled
                a(href="#") Crypto Derivatives Margin Broker
              li.menu-item.disabled
                a(href="#") Crypto Spot Broker 
              li.menu-item.disabled
                a(href="#") Multi Asset Broker
              li.menu-item.disabled
                a(href="#") Hedge Fund/PAMM Broker
              li.menu-item.disabled
                a(href="#") Copy/Social Trading Broker
          .row
            .menu__heading
              img(src="images/MAM_platform/icon6.svg", alt="icon")
              span Turnkey Exchange
            ul.menu
              li.menu-item
                a(href="#") Crypto Spot Exchange
              li.menu-item.disabled
                a(href="#") Crypto Derivatives Margin Exchange 
              li.menu-item.disabled
                a(href="#") FX Spot/Deliverable Exchange
              li.menu-item.disabled
                a(href="#") Crypto Converter
          .row
            .menu__heading
              img(src="images/MAM_platform/icon8.svg", alt="icon")
              span Turnkey Wallets
            ul.menu
              li.menu-item.disabled
                a(href="#") Crypto Wallets 
      .big_header__bottom_row#Core_Products__content--js.big_menu_content--js(data-id="1")
        .big_header__bottom_row__left_row
          .big_header__bottom_row__heading Core products
          .big_header__bottom_row__text.pr0 Our core products are spearheaded by our dedicated team of engineers delivering ground-breaking solutions to  FX/Crypto/Securities brokers and Spot/Margin exchanges.
          include _soc_block.pug
        .big_header__bottom_row__right_row
          .row
            .menu__heading
              img(src="images/MAM_platform/icon13.svg", alt="icon")
              span Trading Platforms 
            ul.menu
              li.menu-item
                a(href="#") MetaTrader 4 White Label
              li.menu-item
                a(href="#") MetaTrader 5 White Label
              li.menu-item
                a(href="#") B2Trader (Matching Engine)
              li.menu-item
                a(href="#") B2Margin (Margin Exchange)
          .row
            .menu__heading
              img(src="images/MAM_platform/icon11.svg", alt="icon")
              span Core 
            ul.menu
              li.menu-item
                a(href="#") B2Core (Trader's Room)
              li.menu-item.disabled
                a(href="#") MarksMan Hub 
          .row
            .menu__heading
              img(src="images/MAM_platform/icon-4.svg", alt="icon")
              span Extras
            ul.menu
              li.menu-item.disabled
                a(href="#") Market Data Feed
              li.menu-item.disabled
                a(href="#") IB/Affiliate Module 
              li.menu-item.disabled
                a(href="#") Currency Rates Widget
              li.menu-item.disabled
                a(href="#") WEB API MT4/MT5
      .big_header__bottom_row#Liquidity__content--js.big_menu_content--js(data-id="2")
        .big_header__bottom_row__left_row
          .big_header__bottom_row__heading Liquidity
          .big_header__bottom_row__text.pr0 We deliver one of the deepest liquidity pool for FX, Metals, Crypto and CFDs. Leading Crypto CFD liquidity provider according to market research with 100+ trading pairs.
          include _soc_block.pug
        .big_header__bottom_row__right_row
          .row
            .menu__heading
              img(src="images/MAM_platform/icon14.svg", alt="icon")
              span Margin
            ul.menu
              li.menu-item
                a(href="#") Forex
              li.menu-item
                a(href="#") Metals
              li.menu-item
                a(href="#") Indices
              li.menu-item
                a(href="#") Energy
          .row
            .menu__heading
              img(src="images/MAM_platform/icon15.svg", alt="icon")
              span CFDs
            ul.menu
              li.menu-item
                a(href="#") Crypto Derivatives
              li.menu-item
                a(href="#") Equities
              li.menu-item
                a(href="#") ETFs
          .row
            .menu__heading
              img(src="images/MAM_platform/icon16.svg", alt="icon")
              span Spot
            ul.menu
              li.menu-item.disabled
                a(href="#") Crypto Spot
      .big_header__bottom_row#Crypto_Processing__content--js.big_menu_content--js(data-id="4")
        .big_header__bottom_row__left_row
          .big_header__bottom_row__heading Crypto Processing
          .big_header__bottom_row__text We are experts in blockchain payments including white label crypto processing solutions and are recognised as one of the go-to providers in the industry.
          include _soc_block.pug
        .big_header__bottom_row__right_row
          .row.big_row
            .menu__heading
              img(src="images/MAM_platform/icon17.svg", alt="icon")
              span Blockchain Payments Solutions
            ul.menu
              li.menu-item
                a(href="#") Merchants 
              li.menu-item
                a(href="#") Enterprise Wallets 
          .row
            .menu__heading
              img(src="images/MAM_platform/icon18.svg", alt="icon")
              span White Label
            ul.menu
              li.menu-item.disabled
                a(href="#") WhiteLabel Crypto Processing
      .big_header__bottom_row#Money_Management__content--js.big_menu_content--js(data-id="5")
        .big_header__bottom_row__left_row
          .big_header__bottom_row__heading Money Management
          .big_header__bottom_row__text.pr0 We offer a range of products enabling you to offer your clients a choice of proven money management solutions for investment or trading purposes.
          include _soc_block.pug
        .big_header__bottom_row__right_row
          .row.big_row
            .menu__heading
              img(src="images/MAM_platform/icon-19.svg", alt="icon")
              span Investment Platforms
            ul.menu
              li.menu-item
                a(href="#") Copy/Social Trading  
              li.menu-item
                a(href="#") PAMM 
              li.menu-item
                a(href="#") MAM
      .big_header__bottom_row#About__content--js.big_menu_content--js(data-id="6")
        .big_header__bottom_row__left_row
          .big_header__bottom_row__heading About B2Broker
          .big_header__bottom_row__text.pr0
            span Leading Prime of Prime Multi-Asset Liquidity & Advanced White Label Solutions Provider.
            span Established in #[span(class="bold") 2014.] 
          include _soc_block.pug
        .big_header__bottom_row__right_row
          .row
            .menu__heading
              img(src="images/MAM_platform/icon10.svg", alt="icon")
              span Public
            ul.menu
                li.menu-item
                  a(href="#") News
                li.menu-item
                  a(href="#") Media
                li.menu-item
                  a(href="#") Events
                li.menu-item
                  a(href="#") Video
                li.menu-item
                  a(href="#") Blog
                li.menu-item
                  a(href="#") Product updates
                 
          .row
            .menu__heading
              img(src="images/MAM_platform/icon11.svg", alt="icon")
              span Education
            ul.menu
                li.menu-item
                  a(href="#") Webinars
                li.menu-item.disabled
                  a(href="#") Online School
                li.menu-item.disabled
                  a(href="#") e-Books
                li.menu-item.disabled
                  a(href="#") FAQs
          .row
            .menu__heading
              img(src="images/MAM_platform/icon11.svg", alt="icon")
              span Fellowship
            ul.menu
                li.menu-item
                  a(href="#") Partners
                li.menu-item.disabled
                  a(href="#") Partnership
                li.menu-item.disabled
                  a(href="#") Case Studies
                li.menu-item.disabled
                  a(href="#") B2Capital
          .row
            .menu__heading
              img(src="images/MAM_platform/icon12.svg", alt="icon")
              span Company
            ul.menu
                li.menu-item
                  a(href="#") About us
                li.menu-item
                  a(href="#") Contacts
                li.menu-item
                  a(href="#") Careers
                li.menu-item
                  a(href="#") Legal
                li.menu-item.disabled
                  a(href="#") Roadmap









 


            

        
