header.big_header
  .big_header__bg
    .container
      .big_header__top_row
        .text_flicky--js
          .item Leading Liquidity & Technology Provider
          .item Leading Liquidity & Technology Provider-2
        .big_header__top_row__right_row
          ul.menu
            li.margin_right
              a.signal_button(href="#") Webinars
                .signal
            li.margin_right
              a(href="#") Events
            li.margin_right
              a(href="#") About us
            li
              a.Schedule_button(href="#") Schedule a call
            li
              a.client_button(href="#") Our client?
            li
              a.language_button(href="#") English
                img(src="images/en.png", alt="english")
  .big_header__bg--2
    .container
      .big_header__center_row
        a(href="#").header__logo
          img(src="images/icons/broker_logo.png", alt="broker_logo")
        nav
          ul.menu
            li.menu-item
              a(href="#") Core
            li.menu-item
              a(href="#") Liquidity
            li.menu-item
              a(href="#") Crypto Processing
            li.menu-item
              a(href="#") Turnkey Solutions
            li.menu-item
              a(href="#") Money Management
  .big_header__bg--3
    .container
      .big_header__bottom_row
        .big_header__bottom_row__left_row
          .big_header__bottom_row__heading Turnkey Solutions
          .big_header__bottom_row__text Incididunt aute ullamco ea non laboris occaecat id dolore eu pariatur.Incididunt aute ullamco ea non laboris occaecat id dolore eu pariatur.
          .social_block
            a(href="#")
              img(src="images/web_icon/vk.svg", alt="vk")
            a(href="#")
              img(src="images/web_icon/p.svg", alt="p")
            a(href="#")
              img(src="images/web_icon/insta.svg", alt="insta")
            a(href="#")
              img(src="images/web_icon/twitter.svg", alt="twitter")
            a(href="#")
              img(src="images/web_icon/facebook.svg", alt="facebook")
              
            

        
