header.header.sticky.is-transparent
    .header__nav
        nav
            a(href="index.html").header__logo-white
                +icon('logo-white', 'header')
            a(href="index.html").header__logo-black
                +icon('logo-black', '')
            ul#top-menu.top-menu
                .dropdown
                    a(href="trading_conditions.html").header__item.drop Trading
                    .dropdown__content
                        a(href="about_us.html").dropdown__link About Us
                        a(href="bug_bounty.html").dropdown__link Bug bounty
                        a(href="guides.html").dropdown__link Guides
                        a(href="markets.html").dropdown__link Markets
                        a(href="news.html").dropdown__link News
                        a(href="security.html").dropdown__link Security
                        a(href="token.html").dropdown__link Token
                        a(href="text.html").dropdown__link Text
                        a(href="partners.html").dropdown__link Partners
                        a(href="documents.html").dropdown__link Documents
                        a(href="payment_methods.html").dropdown__link Payment Methods
                        a(href="white_label.html").dropdown__link White Label
                .dropdown
                    a(href="trading_conditions.html").header__item.drop b2bx
                    .dropdown__content
                        a(href="about_us.html").dropdown__link About Us
                        a(href="bug_bounty.html").dropdown__link Bug bounty
                        a(href="guides.html").dropdown__link Guides
                        a(href="markets.html").dropdown__link Markets
                        a(href="news.html").dropdown__link News
                        a(href="security.html").dropdown__link Security
                        a(href="token.html").dropdown__link Token
                        a(href="text.html").dropdown__link Text
                        a(href="partners.html").dropdown__link Partners
                        a(href="documents.html").dropdown__link Documents
                        a(href="payment_methods.html").dropdown__link Payment Methods
                        a(href="white_label.html").dropdown__link White Label
            a(href="").header__item.green__text Account
                img(src="./images/icons/key-green.png").key__green
                img(src="./images/icons/key-white.png").key__white
    .header__burger-menu
        a(href="").header__logo-white
            img(src="./images/icons/logo.png")
        a(href="").header__logo-black
            img(src="./images/icons/logo-black.png")
        a(href="#").header__burger-button
            span.header__burger-lines
            span.header__burger-lines-white
        nav.header__burger-nav
            a(href="trading_conditions.html").header__item.header__burger-link Trading Conditions
            a(href="fee_schedule.html").header__item.header__burger-link Fee Schedule
            a(href="" style="padding-right: 5%;").header__item.header__item-lang.header__burger-link Eng
                img(src="./images/icons/en.png").header__lang-icon
            a(href="").header__item.green__text.header__burger-link Account
                img(src="./images/icons/key-green.png").key__green
