header.header
    .header__top-row
      .container
        a(href="#").header__logo
          img(src="images/icons/broker_logo.png", alt="broker_logo")
        nav
          +menu(['Core','Liquidity','Crypto Processing','Turnkey Exchange','Turnkey Broker','Money Management'])
        a(href="#").btn.btn--gray.btn--box-shadow.btn--border Call me back
        .language
          a(href="#")
            img(src="images/en.png", alt="language")
        .burger.hide.js-burger
          .burger--content
          .burger--content
          .burger--content

    //- .header__bottom-row
    //-   .container
        //- nav
        //-   +menu(['Crypto Derivatives/CFD','Forex','Metals','Indices','Commodities','Shares CFD','ETF CFD','Crypto Spot'])

            
