header.small_header
    .big_container
        img.small_header__logo(src="images/small_logo.svg", alt="logo")
        ul.small_header__menu
            li.small_header__item
                a(href="#") Features
            li.small_header__item
                a(href="#") Why us?
            li.small_header__item
                a(href="#") FAQ
            li.small_header__item
                a.new_green_bord_btn(href="#") Try free demo