header.small_header.small_header_web
    .big_container
        img.small_header__logo(src="images/small_logo.svg", alt="logo")
        ul.small_header__menu
            li.small_header__item
                a(href="#") Agenda
            li.small_header__item
                a(href="#") About our webinars
            li.small_header__item
                a(href="#") Speaker
            li.small_header__item
                a.new_green_bord_btn(href="#") Request a callback 