.section.benefits_section.benefits_section__wl_mt
    .container.goanim.an
        .section__title #[span(class="section__title--bold") Benefits]
        .section__subtitle Our MetaTrader 4 White Label has a long list of benefits. 

        .gray_block__container
            .gray__block
                .gray__block--title Legal support at the preparation stage
                .gray__block--subtitle We take care of all the legal aspects involved during setup to ensure your brokerage operations are completely legitimate.

            .gray__block
                .gray__block--title No additional costs for the MT platform
                .gray__block--subtitle Prices for MT platform components come directly from MetaQuotes.

            .gray__block
                .gray__block--title Full environment integration
                .gray__block--subtitle The WL MT as a part of the complex solution includes Liquidity, Trading platform, Trader’s Room, Payment System, IB Program and PAMM/MAM/Copy trading solutions.

            .gray__block
                .gray__block--title Third-Party integrations
                .gray__block--subtitle B2Core TR, Payment systems, IB Software Solution and PAMM/MAM/Copy Trading Solutions are available.
            
            .gray__block
                .gray__block--title Training sessions for WL staff
                .gray__block--subtitle Comprehensive education for MT Manager and Trading Platform interfaces and functionalities.
            
            .gray__block
                .gray__block--title Technical support
                .gray__block--subtitle We provide 24/7 fast and reliable multilingual technical support through multiple channels.
            
            .gray__block
                .gray__block--title Demo environment
                .gray__block--subtitle A demo environment is available for training and testing purposes.
            
            .gray__block
                .gray__block--title Fast changes on request
                .gray__block--subtitle All necessary changes for the completed WL in 24 hours.