.section.section-23.best.section__b2_best.section__b2_best__litle_ex.section__b2_best__wl_mt.section__b2_best__wl_mt4
  .container
    .section__title.goanim.an It comes #[span(class="section__title--bold") best with]
    .section__subtitle.goanim.an Our liquidity is best combined with the leading industry#[span(class="db")] trading platforms to provide the ultimate in performance#[span(class="db")] and user satisfaction.

    .best_with.goanim.an
      .best_with--left
        .best_with--heading B2Core (Trader's Room)
        .best_with--text A new generation of professional software that helps brokers and exchanges manage their customers, admins and IB-partners in one place.
        .best_with--img
          img(src="images/wl_mt/best1.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Flagship User Interface
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Solution for Multiple Business#[span(class="db")] Types
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Deep Customizations & Adjustments
        .check_block.castom
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Widest Range of External#[span(class="db")] Integrations

    .best_with
      .best_with--left
        .best_with--heading Forex Broker Turnkey 
        .best_with--text A classic type of setup based on MetaTrader 4/5 terminal with wide range of available assets. Empower your brokerage with tools like IB system and Investment Platform to satisfy your clients and partners.
        .best_with--img
          img(src="images/wl_mt4/best2.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text MT4 or MT5 based FX broker
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Access to more than 800 trading instruments of 7 classes of assets
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Investment platform for#[span(class="db")] CopyTrading, PAMM and MAM
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Advanced features: bonus system#[span(class="db")] and multi level IB room

    .best_with
      .best_with--left
        .best_with--heading Crypto CFD Liquidity 
        .best_with--text A matching engine platform for exchanges developed by B2Broker that powers up the world's best known exchanges. 
        .best_with--img
          img(src="images/wl_mt4/best3.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Cutting-edge technology
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text List unlimited tradable assets 
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Includes 3 level security system
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Used by the world's#[span(class="db")] best-known exchanges