.section.section__enguine.section__enguine__wl_mt5.section__comparison__wl_mt5
    .container.goanim.an
        .section__title Comparison #[span(class="section__title--bold db") MT5 vs MT4]
    
    .container.container__table.goanim.an
        .enguine_table
            .row
                .col Features
                .col Metatrader 4
                .col Metatrader 5
            
            .row
                .col Partial Order Filling Policies
                .col 
                    +icon('close')
                .col
                    +icon('bold_check')    
            
            .row
                .col Order Fill Policy
                
                .col
                    span Fill or Kill
                
                .col 
                    span Fill or Kill
                    span Immediate or Cancel Return
            
            .row
                .col Pending Order Types
                
                .col
                    span 4
                
                .col 
                    span 6
            
            .row
                .col Depth of Market
                
                .col
                    +icon('close')
                
                .col 
                    +icon('bold_check')
            
            .row
                .col Time & Sales (Exchange data)
                
                .col
                    +icon('close')
                
                .col 
                    +icon('bold_check')
            
            .row
                .col Technical Indicators
                
                .col
                    span 30
                
                .col 
                    span 38
            
            .row
                .col Graphical Objects
                
                .col
                    span 31
                
                .col 
                    span 44
            
            .row
                .col Timeframes
                
                .col
                    span 9
                
                .col 
                    span 21
            
            .row
                .col Economic Calendar
                
                .col
                    +icon('close')
                
                .col 
                    +icon('bold_check')
            
            .row
                .col Email System
                
                .col
                    +icon('bold_check')
                    span no attachments
                
                .col 
                    +icon('bold_check')
                    span with attachments
            
            .row
                .col Transfer funds between accounts
                
                .col
                    +icon('close')
                
                .col 
                    +icon('bold_check')
            
            .row
                .col Embedded MQL5.community chat
                
                .col
                    +icon('close')
                
                .col 
                    +icon('bold_check')

            .row
                .col Strategy Tester
                
                .col
                    span Single thread
                
                .col 
                    span Multi-threaded
                    span + Multi-currency
                    span + Real ticks
            
            .row
                .col Multilingual Unicode
                
                .col
                    +icon('close')
                
                .col 
                    +icon('bold_check')
            
            .row
                .col Netting
                
                .col
                    +icon('close')
                
                .col 
                    +icon('bold_check')
            
            .row
                .col Hedging
                
                .col
                    +icon('bold_check')
                
                .col 
                    +icon('bold_check')
            
            .row
                .col Symbols
                
                .col
                    span 1024
                
                .col 
                    span Unlimited
            
            .row
                .col Supported Markets
                
                .col
                    span FOREX
                
                .col 
                    span FOREX / Futures /
                    span Options / Stocks / Bonds
            
            .row
                .col Exchange Trading
                
                .col
                    +icon('close')
                
                .col 
                    +icon('bold_check')
                    