.section.section__blue.section__commission.section__commission_wl_mt
    .container.goanim.an
        .section__title What is #[span(class="section__title--bold")  included]

    .container
        .new_box-catalog
            .box_block
                .box_block--title Organization and maintenance of a reliable backup system
                .box_block--text Organization and maintenance of trading servers while ensuring a reliable backup system is implemented.
            
            .box_block
                .box_block--title Configuration and support of the server structure 24/7
                .box_block--text We configure all systems and offer round-the-clock support for the entire server structure.
            
            .box_block
                .box_block--title Building a network of access servers around the world
                .box_block--text Access our global network coverage from the world's largest financial ecosystem within all Equinix centers worldwide.
            
            .box_block
                .box_block--title MT4, MT5, XCore and OneZero integration 
                .box_block--text MetaTrader 4 platform is already integrated with most popular trading servers and liquidity aggregators.
            
            .box_block
                .box_block--title PAMM/MAM and copy trading
                .box_block--text PAMM/MAM and copy trading. All 3 systems are integrated with MT and are available for the WL.
            
            .box_block
                .box_block--title Metatrader server licenses
                .box_block--text B2Broker takes care of all server licensing issues so there’s no need to get involved in all the legalities.
            
            .box_block
                .box_block--title Server hosting
                .box_block--text Physical proximity to all trade servers of major exchanges, liquidity providers, banks and other financial institutions.
            
            .box_block
                .box_block--title Transparent pricing
                .box_block--text Prices come straight from liquidity aggregators, without any market maker interference.
            
            .box_block
                .box_block--title STP
                .box_block--text Fast and reliable STP execution with ultra-low latency for A-book trades.