.section-22.faq.section__white
  .container.goanim.an
    .section__title.section__title--bold FAQs
    .main-text Have a question? A source of useful information about our products and services.
    .question

      .question-item.faq_btn_js(data-id="1")
        span How much does the MetaTrader 4 White Label platform cost?
        .question__plus
          span
          span
        .question-item_content(data-id="1") How much does the MetaTrader 4 White Label platform cost?	"We provide our clients with the same pricing as MetaQuotes with no hidden markups. The total price depends on the number of platforms requested: Desktop, Mobile & Web. Please contact us for accurate pricing."

      .question-item.faq_btn_js(data-id="2")
        span Is it possible to have a MetaTrader 4 Grey Label platform?
        .question__plus
          span
          span
        .question-item_content(data-id="2") Is it possible to have a MetaTrader 4 Grey Label platform?	No, we do not provide Grey Label solutions for MetaTrader platforms.

      .question-item.faq_btn_js(data-id="3")
        span How many price streams do you offer on MetaTrader 4?
        .question__plus
          span
          span
        .question-item_content(data-id="3") How many price streams do you offer on MetaTrader 4?	"We offer 4 price streams with predifined markups which are available for FX, Metals, Indices & Commodities instruments: Raw, Small, Medium and Large. For Crypto and Equities there is just one price stream with no markups."

      .question-item.faq_btn_js(data-id="4")
        span I noticed that MetaTrader 4 does not represent a full list of Crypto instruments. Why?
        .question__plus
          span
          span
        .question-item_content(data-id="4") Some Crypto pairs have extended price decimals of up to 8 digits. MetaTrader 4 can work with up to 5 decimals in prices which is why we are unable to provide a full list of Cryptos via MT4.

      .question-item.faq_btn_js(data-id="5")
        span "Is it possible to add one or more specific trading symbols which are not present in the current list of instruments?"
        .question__plus
          span
          span
        .question-item_content(data-id="5") "If we have 2 or more reliable counterparties to obtain a stable liquidity flow for the requested instruments, they can be added to our servers. Please contact us for details. "

      .question-item.faq_btn_js(data-id="6")
        span How can I earn a profit from commissions?
        .question__plus
          span
          span
        .question-item_content(data-id="6") "Commissions are set and defined from a White Label checklist. This amount is the difference between Margin account equity and MetaTrader account equity. For example, the White Label decides to set $6 per lot as commission for FX (keep in mind that on MetaTrader4, lots always represent round turn volume. This means that for both sides of the operation (open and close), commission will be charged as for one Lot). This is illustrated as follows: A client of the White Label makes $10,000 profit from 350 trades at 0.5 lot each. This means that the client paid 350 x 0.5 x $6 = $1050, so his total equity change is equal to $10,000 - $1,050 = $8,950. This amount is realized and fixed into the balance of the client's account and is available for withdrawal. The client decides to make a withdrawal for the full amount of his profit: $8,950 On the Margin account, the White Label gets $10,000 resulting from client trades. The White Label makes a transfer following the client request for $8,950 and has an extra $1,050 in the Margin account as profit earned from commissions."

      .question-item.faq_btn_js(data-id="7")
        span How can I check my current Net Open Position exposure in MetaTrader 4?
        .question__plus
          span
          span
        .question-item_content(data-id="7") "NOP monitoring is available from the MetaTrader 4 Manager application via the tab ""Summary"" on the bottom left-hand side of the window. NOP list contains a full list of trading symbols with total results at the bottom. It can be sorted by column e.g. ""Symbol"", ""Buy Volume"", ""Sell Volume"" ""Net Volume"", ""Profit"" etc."
      
      .question-item.faq_btn_js(data-id="8")
        span Is it possible to make some changes to prices in the current priceflow with MetaTrader 4 Manager?
        .question__plus
          span
          span
        .question-item_content(data-id="8") No, we do not provide these instruments to our White Labels. All clients on the MT4 server work with one set of symbols and nobody is able to manipulate prices as this will affect all clients on the server.
      
      .question-item.faq_btn_js(data-id="9")
        span I received an "Invalid Account" message in MetaTrader 4 platform. Why?
        .question__plus
          span
          span
        .question-item_content(data-id="9") "This message shows that the MT4 server cannot find the login/password that was used for authorization. This indicates the password was incorrect. Make sure that: a) the password or login does not contain any spaces before and after entering them. b) the password entered is with correct lowercase/uppercase symbols Change the password using the form in B2Core (Trader's Room) or contact our Support Team to change it. An MT4 account can be archived due to an inactive period and could be the reason for receiving this message. Our Support Team can assist in restoring the account if required."

      .question-item.faq_btn_js(data-id="10")
        span MetaTrader 4 platform shows an "Account is disabled" message. Why?
        .question__plus
          span
          span
        .question-item_content(data-id="10") "This message means that the MT4 account or account group is not active on the MetaTrader 4 server side. Reasons could be due to unfinished setup, technical maintenance, etc. Kindly contact our Support Team for details."
      
      .question-item.faq_btn_js(data-id="11")
        span "MetaTrader 4 platform cannot connect to the trading server and shows a "No connection message. What can I do?"
        .question__plus
          span
          span
        .question-item_content(data-id="11") "Check your connection with the Internet and whether ports 443, 444 are open. If the connection works fine and ports are not blocked, please contact our Support Team for assistance or further investigation."
      
      .another_question.another_question__for_btn
        div
          .another_question--heading Have another question?
          .another_question--link We are on hand to answer all your questions. Get in touch.
        a(href="#").btn.btn--green.js-modal2-btn Ask us now