.section.dark_style.section__infrastructure
    .container
        .section__title Bespoke IT #[span(class="section__title--bold db") Infrastructure]
        img.banner(src="images/wl_mt4/inf.png", alt="img")