.section.lasnguage__wl_mt
    .section__title.section__title--bold Multiple Languages
    .section__subtitle 40+ languages are supported by Trading Platform and Manager applications.

    .language_block
            .language_block__item
                img(src="images/b2_core/education/icon1.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon2.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon3.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon4.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon5.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon6.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon7.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon8.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon9.svg", alt="icon")
            .language_block__item
                img(src="images/b2_core/education/icon10.svg", alt="icon")