.forex_liquidity.forex_liquidity__new.forex_liquidity__new__forex.forex_liquidity__new__wl_mt5
  video.b2_core__title_video(autoplay,loop, pip="false" muted,src="images/WL_MT.mp4")
  .forex_liquidity--overlay
  .container
    .forex_liquidity__content
      h2.section__title #[span(class="section__title--bold") White Label ] MetaTrader 4
      span.section__description White Label MetaTrader 4 is a complete brokerage infrastructure used by multiple brokerages across the globe. Our white label solutions enable brokerages to launch quickly, incorporating a variety of options, complete with own-branding, to create a highly customized environment for their clients.

      .little_description
        .little_description__title Turnkey solution
        .little_description__description We offer a complete setup that requires no further development. 100% tested features.

    form.new_form.new_form__flex.b2_form.light_theme
      label.new_form__label
        span.new_form__placeholder Your Name
        span.new_form__star *
        input.new_form__input(type="text")
      label.new_form__label
        span.new_form__placeholder Your Email
        span.new_form__star *
        input.new_form__input(type="text")
      label.new_form__label.new_form__label__phone_select
        span.new_form__placeholder Phone
        span.new_form__star *
        input.new_form__input(type="text")
        select.new_form__select.new_form__select_phone
            option(value="+7") +7
            option(value="+7") +7
            option(value="+7") +7
      label.new_form__label.new_form__label_capch
        span.new_form__placeholder Enter symbols
        span.new_form__star *
        img.new_form__capch(src="images/capch_text_white.png")
        input.new_form__input(type="text")

      label.new_form__label.new_form__label__lang_select
        .new_form__label__lang_select_wrapper
          img(src="images/en.png",class="new_form__label__lang_select_icon")
          select.new_form__select
            option(value="English") English
            option(value="English") English
            option(value="English") English
      button.new_form__sabmit Request a Callback
      label.consent_block
        input(type="checkbox")
        b
        p I agree to the #[a(href="#") Terms of Service] and #[a(href="#") Privacy Policy]