.section.manager_wl_mt.dark_style
    .container
        .section__title  #[span(class="section__title--bold") MetaTrader] 4 Manager
        .section__subtitle  MT Manager   &#8212; A back-office application designed to handle trade#[span(class="db")] enquiries and manage customer accounts.
    
        .manager_wl_mt__title A Basic Product Management Tool
        .manager_wl_mt__subtitle The main tool for managing the Metatrader 4 White Label is Metatrader 4 Manager program.#[span(class="db")] It allows you to:
    
    .container.manager_wl_mt__container
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Customize display and export data
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Create, modify and delete accounts
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Manage internal mail systems
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Create reports and report profiles,#[span(class="db")] export data
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Create, open, modify, close and delete#[span(class="db")] trading orders
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Work with risk management

    .trading
        

        .trading__slider.flickity_castom_arrow
            .item
                .trading__title Data Export
                .trading__subtitle Data Export is available from Manager applications as HTML, CSV#[span(class="db")] or buffer-copying variants.
                img.banner(src="images/wl_mt4/item1.png", alt="banner")
            
            .item
                .trading__title Online Trading Statistics
                .trading__subtitle Online data for all opened transactions.
                img.banner(src="images/wl_mt4/item2.png", alt="banner")
            
            .item
                .trading__title Mail System
                .trading__subtitle The internal mail system is available to send and receive mails#[span(class="db")] between MT Manager and trading platform applications.
                img.banner(src="images/wl_mt4/item3.png", alt="banner")
    
    .trading
        

        .trading__slider.flickity_castom_arrow
            .item
                .trading__title Reports
                .trading__subtitle Available report structure for customized reports#[span(class="db")] on closed transactions.
                img.banner(src="images/wl_mt4/item4.png", alt="banner")
            
            .item
                .trading__title Risk Management
                .trading__subtitle The simplest and effective risk management, using A-/B-/C-book#[span(class="db")] strategies, NOP controls, Report DataBase, WebAPI/ManAPI solution.
                img.banner(src="images/wl_mt4/item5.png", alt="banner")
            
            .item
                .trading__title Trade operations
                .trading__subtitle MT Manager could make trade transactions for any#[span(class="db")] of the accounts.
                img.banner(src="images/wl_mt4/item6.png", alt="banner")

.section.or_features.or_features__wl_mt4
    .container.text_catalog
        .text_catalog-item
            .text_catalog-item--heading Multi-account operations
            .text_catalog-item--description The possibilty to make changes on multiple accounts simultaneously including balance and trade operations.

        .text_catalog-item
            .text_catalog-item--heading Security management
            .text_catalog-item--description Master, Read-only, API, OTP and phone passwords are available to manage security access.

        .text_catalog-item
            .text_catalog-item--heading Automation
            .text_catalog-item--description Any management operation can be automated by Manager API, including trade operations.

        .text_catalog-item
            .text_catalog-item--heading IP whitelist
            .text_catalog-item--description A security option with up to 5 IP addresses in the whitelist for each MT4 Manager account.
