.section.section__blue.section__party.section__party__wl_mt
    .section__title.section__title--bold.goanim.an  Technical trading#[span(class="db")] features
    .section__subtitle Technical trading features including Market, Limit, Stop, Protection, Trailing Stop orders are#[span(class="db")] available with chart analysis, indicators and scripts applicable to any trading strategy.

    .container.goanim.an
        .it_for__block
            .it_for__item
                .it_for__icon
                    img(src="images/wl_mt4/icon1.svg", alt="icon")
                .it_for__text
                    .it_for__heading MT Cloud Solution
                    .it_for__description Can help economize on MT4 and MT5 server costs, integration and administration expenses through MT Cloud Solution. The cloud can be used for a Strategy Backtest, for example.
            
            .it_for__item
                .it_for__icon
                    img(src="images/pat_fut2.svg", alt="icon")
                .it_for__text
                    .it_for__heading MQL Sources
                    .it_for__description Expert Advisors, Indicators & Scripts  &#8212; The many available solutions for automated trading, chart analyzing and automated actions from the MQL4/MQL5 community.
                
            .it_for__item
                .it_for__icon
                    img(src="images/pat_fut3.svg", alt="icon")
                .it_for__text
                    .it_for__heading Trading Signals
                    .it_for__description "Signals" is a convenient service for automatic copying of trading operations of professional traders directly to your account. All accounts registered in the service are provided with detailed statistics and full trading history.
            
            .it_for__item
                .it_for__icon
                    img(src="images/pat_fut4.svg", alt="icon")
                .it_for__text
                    .it_for__heading Strategy Tester
                    .it_for__description Special utility for testing and optimization of Expert Advisors. Backtest strategies are available on all market assets and intervals.