.section.section__platforms_wl_mt5
    .container
        .section__title MetaTrader 4 #[span(class="section__title--bold db") Trading Platforms]
        .section__subtitle(style="margin-bottom:39px;") Desktop, Mobile and Web terminal are available for the MT4 White Label 
        img.banner(src="images/wl_mt4/product.png", alt="images")
        .section__subtitle The trading platform can be installed on Windows, iOS,#[span(class="db")] Android and Linux based systems.

    .container.flex
        .platforms__block 
            .platforms__title For personal computers 
            .platforms__content
                img(src="images/platform1.svg", alt="img")
                img(src="images/platform2.svg", alt="img")
                img(src="images/platform3.svg", alt="img")

        .platforms__block 
            .platforms__title For smartphones
            .platforms__content
                img(src="images/platform4.svg", alt="img")
                img(src="images/platform5.svg", alt="img")


