.section.plugins_wl.plugins_wl4
    .container
        .section__title.section__title--bold.section__title__plugins Plugins
        .section__subtitle Our White Label MetaTrader 4 solution offers the following platform extensions.

        .gray_block__container
            .gray__block
                .gray__block--title Virtual Dealer
                .gray__block--subtitle A reliable virtual dealer for processing the B-book side risk management, fully simulating the performance in the real market. Risk management is included with the B-book and does not require additional settings from the broker.

            .gray__block
                .gray__block--title Storager
                .gray__block--subtitle A plugin for charging commission using the balance sheet method for transferring an open position to the next trading day. Allows you to configure swap-free products with swap replacement for commissions.
            
            .gray__block
                .gray__block--title Automated smart execution
                .gray__block--subtitle For B-book trades. Designed for maximum simulation of the execution of orders as with A-book.

            .gray__block
                .gray__block--title Ashira Dealer
                .gray__block--subtitle A virtual dealer with flexible execution configuration for the B-book side of risk management. Allows you full control of order execution scripts in real time.
            
            .gray__block
                .gray__block--title Dynamic Leverage
                .gray__block--subtitle Allows you to configure a dynamically changing leverage (leverage multiplier), depending on the volume of open positions in the market.

            .gray__block
                .gray__block--title Whitelist
                .gray__block--subtitle A configurable whitelist of IP access for manager and client accounts.

