.section.or_features.or_features__wl_mt.or_features__wl_mt_pricing
    .container.text_catalog
        .text_catalog-item
            .text_catalog-item--heading Extended pricing
            .text_catalog-item--description Extra precision for pricing and account details on MT5. Up to 8 decimal digits for account details and trading instrument pricing. Suitable for Cryptocurrencies, Crypto denomi-nated accounts and Crypto Brokers.

        .text_catalog-item
            .text_catalog-item--heading Predefined customized streams
            .text_catalog-item--description Well balanced, tested by businesses#[span(class="db")] and ready-to-use price streams with predefined markups.

        .text_catalog-item
            .text_catalog-item--heading Account Types
            .text_catalog-item--description Hedging and netting models supported on MT5. Both models of position management are available.

        .text_catalog-item
            .text_catalog-item--heading Transparent pricing
            .text_catalog-item--description Prices come straight from liquidity aggregators, without any Market Maker interference.

        .text_catalog-item
            .text_catalog-item--heading STP
            .text_catalog-item--description Fast and reliable STP execution with#[span(class="db")] ultra-low latency for A-book trades.

        .text_catalog-item
            .text_catalog-item--heading Trading conditions
            .text_catalog-item--description Flexible trading conditions by account groups.