.section.dark_style.section__proxy
    .container
        .section__title #[span(class="section__title--bold db") Proxy-Servers ] all around the world 
        .section__subtitle Stable connectivity with minimal latency #[span(class="db")] from every point of the world.
        img.banner(src="images/wl_mt/proxy.png", alt="img")