.section-4.section__crypto_number.section.section-4__forex.section-4__wl_mt5
  .container.goanim.an
    .section__title What is #[span(class="section__title--bold")  White Label MetaTrader 4?]  
    span.main-text  White Label MetaTrader 4 is a ready-made solution which enables you to launch a FOREX broker or Multi-Asset broker as quickly as possible.

    span.main-text With a White Label, there is no need to purchase a MetaTrader server license or get involved with other aspects such as hosting servers, organizing and maintaining a reliable backup system, building a network of access servers around the world or staff to configure and maintain the server structure 24/7. All this and much more is already included as part of the White Label MetaTrader 4 solution.

    .little_description
        .little_description__title The most popular platform
        .little_description__description MetaTrader is one of the world’s most popular trading platforms. It is stable and simple to use with many features for trading and technical analysis. 
    
    .little_description
        .little_description__title 100% tested features
        .little_description__description All features of the WL product environment are tested and ready to go.