.section.events
    .aside_burger--js
        span

    aside.events_sidebar
        ul.events_sidebar__ul
            li.events_sidebar__li
                a.events_sidebar__link(href="#") News Feed
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Сorporate news
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Product Updates
            
            li.events_sidebar__li.active
                a.events_sidebar__link(href="#") Webinars
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Events
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Media
            
            li.events_sidebar__li.video
                a.events_sidebar__link(href="#") Videos
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Articles
        
        form.events_form
            .events_form__title Join to our newsletter
            input(type="email" placeholder="Enter your Email")
            button.new_green_btn Subscribe

    .events_content.events_content__schedule
        .container
            .future
                .future__description
                    p.future__month 2021
                    p.future__date 10 May
                    p.future__time 12:00 (GMT+3)
                    p.future__comming Webinar is coming
                    a.future__btn(href="#") FOREX 
                    <svg class="future__line" width="24" height=" calc(100% + 81px)" viewBox="0 0 24  calc(100% + 81px)" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                        <g filter="url(#filter0_d)">
                        <circle cx="12" cy="50.4492" r="7.5" fill="#191F24"/>
                        <circle cx="12" cy="50.4492" r="5.5" stroke="#00E8B6" stroke-width="4"/>
                        </g>
                        <defs>
                        <filter id="filter0_d" x="0.5" y="42.9492" width="23" height="23" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                        <feOffset dy="4"/>
                        <feGaussianBlur stdDeviation="2"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        </defs>
                    </svg>
            
                .future__schedule
                    a(href="#").future__schedule_title Trading with Leverage
                    .future__schedule_description If you’ve followed along with the leaks in recent weeks, none of the new#[span(class="db")] features will surprise you.
                    .future__schedule_leading
                        img(src="images/future/lead.png", alt="icon")
                        p Alex #[span(class="db")] Kukhtikov

                    .future__bot_flex

                        .future_btns
                            a(href="#").new_green_btn Register to watch
                            a(href="#").new_more_btn Read more
                        
                        .timer__wrapper
                                span.timer__title Publication after
                                .timer.disabled(data-finish="1690148096000")
                                    //- .timer_section
                                    //-     .days_1 0
                                    //-     .days_2 0
                                    //-     .timer_section_desc дней
                                    //- .timer_delimetr :
                                    .timer_section
                                        .hours_1 7
                                        .hours_2 2
                                        //- .timer_section_desc часов
                                    .timer_delimetr :
                                    .timer_section
                                        .minutes_1 0
                                        .minutes_2 0
                                        //- .timer_section_desc минут
                                    .timer_delimetr :
                                    .timer_section
                                        .seconds_1 0
                                        .seconds_2 0
                                    //- .timer_section_desc секунд
            
            .future
                .future__description
                    p.future__date 1 January
                    p.future__time 12:00 (GMT+3)
                    p.future__comming Webinar is coming
                    a.future__btn(href="#") Blockchain
                    <svg class="future__line" width="24" height=" 100%" viewBox="0 0 24  100%" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                        <g filter="url(#filter0_d)">
                        <circle cx="12" cy="50.4492" r="7.5" fill="#191F24"/>
                        <circle cx="12" cy="50.4492" r="5.5" stroke="#00E8B6" stroke-width="4"/>
                        </g>
                        <defs>
                        <filter id="filter0_d" x="0.5" y="42.9492" width="23" height="23" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                        <feOffset dy="4"/>
                        <feGaussianBlur stdDeviation="2"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        </defs>
                    </svg>
            
                .future__schedule
                    a(href="#").future__schedule_title Cryptocurrency Future
                    .future__schedule_description If you’ve followed along with the leaks in recent weeks, none of the new#[span(class="db")] features will surprise you.
                    .future__schedule_leading
                        img(src="images/future/lead.png", alt="icon")
                        p Alex #[span(class="db")] Kukhtikov

                    .future__bot_flex

                        .future_btns
                            a(href="#").new_green_btn Register to watch
                            a(href="#").new_more_btn Read more
                        
                        .timer__wrapper
                                span.timer__title Publication after
                                .timer.disabled(data-finish="1690148096000")
                                    //- .timer_section
                                    //-     .days_1 0
                                    //-     .days_2 0
                                    //-     .timer_section_desc дней
                                    //- .timer_delimetr :
                                    .timer_section
                                        .hours_1 7
                                        .hours_2 2
                                        //- .timer_section_desc часов
                                    .timer_delimetr :
                                    .timer_section
                                        .minutes_1 0
                                        .minutes_2 0
                                        //- .timer_section_desc минут
                                    .timer_delimetr :
                                    .timer_section
                                        .seconds_1 0
                                        .seconds_2 0
                                    //- .timer_section_desc секунд
        .container
            .future
                .future__description
                    p.future__month 2020
                    p.future__date 16 September
                    p.future__time 12:00 (GMT+3)
                    p.future__comming Webinar is available
                    a.future__btn(href="#") Blockchain
                    <svg class="future__line" width="24" height=" calc(100% + 81px)" viewBox="0 0 24  calc(100% + 81px)" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                        <g filter="url(#filter0_d)">
                        <circle cx="12" cy="50.4492" r="7.5" fill="#191F24"/>
                        <circle cx="12" cy="50.4492" r="5.5" stroke="#00E8B6" stroke-width="4"/>
                        </g>
                        <defs>
                        <filter id="filter0_d" x="0.5" y="42.9492" width="23" height="23" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                        <feOffset dy="4"/>
                        <feGaussianBlur stdDeviation="2"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        </defs>
                    </svg>
            
                .future__schedule
                    a(href="#").future__schedule_title Start Crypto Exchange#[span(class="db")] in 2020
                    .future__schedule_description If you’ve followed along with the leaks in recent weeks, none of the new#[span(class="db")] features will surprise you.
                    .future__schedule_leading
                        img(src="images/future/lead.png", alt="icon")
                        p Alex #[span(class="db")] Kukhtikov

                    .future__bot_flex

                        .future_btns
                            a(href="#").new_green_btn Register to watch
                            a(href="#").new_more_btn Read more

                        .timer__wrapper
                                span.timer__title Publication after
                                .timer
                                    //- .timer_section
                                    //-     .days_1 0
                                    //-     .days_2 0
                                    //-     .timer_section_desc дней
                                    //- .timer_delimetr :
                                    .timer_section
                                        .hours_1 0
                                        .hours_2 0
                                        //- .timer_section_desc часов
                                    .timer_delimetr :
                                    .timer_section
                                        .minutes_1 0
                                        .minutes_2 0
                                        //- .timer_section_desc минут
                                    .timer_delimetr :
                                    .timer_section
                                        .seconds_1 0
                                        .seconds_2 0
                                    //- .timer_section_desc секунд
            
            .future
                .future__description
                    p.future__date 1 September
                    p.future__time 12:00 (GMT+3)
                    p.future__comming Webinar is available
                    a.future__btn(href="#") Payments
                    <svg class="future__line" width="24" height=" 100%" viewBox="0 0 24  100%" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                        <g filter="url(#filter0_d)">
                        <circle cx="12" cy="50.4492" r="7.5" fill="#191F24"/>
                        <circle cx="12" cy="50.4492" r="5.5" stroke="#00E8B6" stroke-width="4"/>
                        </g>
                        <defs>
                        <filter id="filter0_d" x="0.5" y="42.9492" width="23" height="23" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                        <feOffset dy="4"/>
                        <feGaussianBlur stdDeviation="2"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        </defs>
                    </svg>
            
                .future__schedule
                    a(href="#").future__schedule_title MetaTrader 4 Vs MetaTrader 5
                    .future__schedule_description If you’ve followed along with the leaks in recent weeks, none of the new#[span(class="db")] features will surprise you.
                    .future__schedule_leading
                        img(src="images/future/lead.png", alt="icon")
                        p Alex #[span(class="db")] Kukhtikov

                    .future__bot_flex

                        .future_btns
                            a(href="#").watch_now_btn.new_green_btn
                                <svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.0233 12.0357V5.29911L16.5054 8.6875L10.0233 12.0357ZM12.501 0.491071C7.45187 0.491071 4.10366 0.732142 4.10366 0.732142C3.63491 0.785714 2.60366 0.785714 1.69294 1.75C1.69294 1.75 0.956334 2.47321 0.742048 4.13393C0.487584 6.07589 0.500977 8.01786 0.500977 8.01786V9.83929C0.500977 9.83929 0.487584 11.7812 0.742048 13.7232C0.956334 15.3705 1.69294 16.1071 1.69294 16.1071C2.60366 17.058 3.80901 17.0312 4.34473 17.125C4.34473 17.125 6.25991 17.3125 12.501 17.3661C17.5501 17.3661 20.8983 17.1116 20.8983 17.1116C21.367 17.058 22.3983 17.058 23.309 16.1071C23.309 16.1071 24.0456 15.3705 24.2599 13.7232C24.5144 11.7812 24.501 9.83929 24.501 9.83929V8.01786C24.501 8.01786 24.5144 6.07589 24.2599 4.13393C24.0456 2.47321 23.309 1.75 23.309 1.75C22.3983 0.785714 21.367 0.785714 20.8983 0.732142C20.8983 0.732142 17.5501 0.491071 12.501 0.491071Z" fill="white"/>
                                </svg>
                                span Watch now
                        
                        .timer__wrapper
                                span.timer__title Publication after
                                .timer(data-finish="1690148096000")
                                    //- .timer_section
                                    //-     .days_1 0
                                    //-     .days_2 0
                                    //-     .timer_section_desc дней
                                    //- .timer_delimetr :
                                    .timer_section
                                        .hours_1 0
                                        .hours_2 0
                                        //- .timer_section_desc часов
                                    .timer_delimetr :
                                    .timer_section
                                        .minutes_1 0
                                        .minutes_2 0
                                        //- .timer_section_desc минут
                                    .timer_delimetr :
                                    .timer_section
                                        .seconds_1 0
                                        .seconds_2 0
                                    //- .timer_section_desc секунд


        
        .container
            .ev_pag
                .ev_pag__discription 4 of 165
                ul.ev_pag__container
                    li.ev_pag__item.ev_pag__active
                        a(href="#") 1
                    
                    li.ev_pag__item
                        a(href="#") 2
                    
                    li.ev_pag__item
                        a(href="#") 3
                    
                    li.ev_pag__item
                        a(href="#") ...
                    
                    li.ev_pag__item
                        a(href="#") 15
                    
                    li.ev_pag__item.ev_pag__next
                        a(href="#")
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.96601 13.9982C1.73432 13.9987 1.50978 13.9175 1.33138 13.7687C1.23097 13.6849 1.14797 13.5821 1.08713 13.466C1.0263 13.3499 0.988819 13.2229 0.976844 13.0922C0.96487 12.9615 0.978635 12.8297 1.01735 12.7044C1.05607 12.5791 1.11898 12.4626 1.20247 12.3618L5.64487 7.01368L1.36113 1.65557C1.27876 1.5535 1.21725 1.43607 1.18013 1.31001C1.14301 1.18395 1.13102 1.05175 1.14484 0.921013C1.15867 0.790274 1.19803 0.663573 1.26067 0.548193C1.32332 0.432812 1.408 0.331026 1.50987 0.248686C1.61247 0.157851 1.73262 0.0893352 1.86278 0.0474391C1.99294 0.00554297 2.1303 -0.00882886 2.26624 0.00522486C2.40218 0.0192786 2.53377 0.0614548 2.65275 0.129107C2.77172 0.196758 2.87552 0.288425 2.95762 0.398354L7.74708 6.38508C7.89293 6.56362 7.97266 6.78756 7.97266 7.01867C7.97266 7.24979 7.89293 7.47373 7.74708 7.65227L2.78904 13.639C2.68957 13.7597 2.5632 13.8552 2.4202 13.9176C2.2772 13.98 2.1216 14.0076 1.96601 13.9982Z" fill="#343434"/>
                            </svg>
            
