.section-3.goanim.an
  .container
    .section__title #[span(class="section__title--bold") Cash Indices] Liquidity
    span.main-text Liquidity enables you to execute your trade quickly at a price close to the last one quoted. Several factors contribute to indices liquidity, including stocks that are widely followed and traded continuously. With B2Broker you get access to liquidity on a wide range of global indices, allowing you to take advantage of tight spreads on the most popular instruments with the best possible prices, execution and market depth.

    span.main-text Our indices liquidity solutions combined with our expertise and technology enable us to provide specific liquidity requirements according to our clients needs. We make markets more liquid, more transparent and hassle-free for #[span(class="db")] our clients.
    .number_block.cash
      .number_block-content
        .number_block--text Spread from
        .number_block--number 0,1
          span.number_block--number-text $

      .number_block-content
        .number_block--text Margin Requirements
        .number_block--number 2
          span.number_block--number-text %

      .number_block-content
        .number_block--text Countries
        .number_block--number 10

      .number_block-content
        .number_block--text Liquidity venues
        .number_block--number 7
        
      .number_block-content
        .number_block--text technical Support
        .number_block--number 24/7