.section.lema_section {
  padding-bottom: 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: none;
    box-sizing: border-box;

    @media screen and (max-width: 1000px) {
      width: 98%;
    }

    @media screen and (max-width: 500px) {
      display: block;
    }
  }
}

.lema {
  &__sidebar {
    width: 136px;
    flex-shrink: 0;
    margin-right: 57px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 517px;

    @media screen and (max-width: 1000px) {
      margin: 0 10px;
    }

    @media screen and (max-width: 500px) {
      margin-bottom: 20px;
      width: auto;

      .lema__soc_block {
        width: auto;
      }
    }

    &__item {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 44px;
      color: #cbd0d3;
      cursor: pointer;
      transition: color 0.5s;

      & + .lema__sidebar__item {
        margin-top: 20px;
      }

      &.disabled {
        pointer-events: none;
      }

      &:hover {
        color: #01bd95;
      }

      &.active {
        color: #01bd95;
      }
    }
  }

  &__content {
    width: 100%;
    max-width: 781px;
    display: none;

    .lema__content__active {
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      padding-bottom: 717px;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }
    }

    &.active {
      display: block;
    }
  }

  &__content[data-id="3"],
  &__content[data-id="4"] {
    .lema__content__active {
      padding-bottom: 150px;
    }
  }
  &__slider {
    width: 100%;
    max-width: 583px;
    min-height: 517px;

    .hear_flickity--js .item img {
      height: 455px;
      object-position: top;
    }

    .hear_flickity_small--js .item {
      width: calc(100% / 6 - 8px * 5 / 6);

      img {
        height: 49px;
        display: block;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  &__sidebar__right {
    width: 194px;
    margin-left: 40px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 1000px) {
      margin-left: 0;
      margin-top: 20px;
      width: 100%;
    }

    span {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      /* or 150% */
      letter-spacing: 0;
      color: #63636e;

      &.extrabold {
        font-weight: 900;
      }
    }

    .show_on_map_btn {
      width: 100%;
      max-width: 145px;
      margin-top: auto;
    }
  }

  &__link {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    display: block;
    letter-spacing: 0;
    color: #01bd95;
    text-decoration: none;
  }

  &__adress {
    span {
      display: block;
    }
  }

  &__phone {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 31px;
    /* identical to box height, or 172% */
    color: #000000;
    display: block;
    margin: 40px 0;
    text-decoration: none;
  }

  &__link_block + .lema__link_block {
    margin-top: 25px;
  }

  &__soc_block {
    margin-top: auto;

    &__title {
      font-style: normal;
      font-weight: 900;
      font-size: 18px;
      line-height: 31px;
      /* identical to box height, or 172% */
      color: #a1a6a9;
      border-bottom: 1px solid #9dafbd;
      margin-bottom: 10px;
    }

    a {
      height: 20px;
      width: 20px;
      margin-right: 7px;
      display: block;
      margin-bottom: 7px;

      &.youtube:not(:hover) {
        svg circle {
          fill: #dbdee1;
        }
        svg path:nth-child(3) {
          fill: #dbdee1;
        }
      }

      &.linkedin:not(:hover) {
        svg circle {
          fill: #dbdee1;
        }
      }

      &.instagram:not(:hover) {
        svg circle {
          fill: #dbdee1;
        }
      }

      &.telegram:not(:hover) {
        svg circle {
          fill: #dbdee1;
        }
      }

      &.twitter:not(:hover) {
        svg path:nth-child(1) {
          fill: #dbdee1;
        }
      }

      &.wechat:not(:hover) {
        svg circle {
          fill: #dbdee1;
        }
      }

      &.facebook:not(:hover) {
        svg path:nth-child(1) {
          fill: #dbdee1;
        }
      }

      &.youku:not(:hover) {
        svg circle {
          fill: #dbdee1;
        }
      }

      &.weibo:not(:hover) {
        svg circle {
          fill: #dbdee1;
        }
      }
    }

    .social_block {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: -7px;
    }
  }

  &__map {
    width: 100vw;
    display: block;
    height: 567px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.show_on_map_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 146% */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  border: 1px solid #dbdee1;
  box-sizing: border-box;
  border-radius: 5px;
  color: #9e9e9e;

  text-decoration: none;
  cursor: pointer;

  &:hover {
    border: 1px solid #acb8c3;
    color: #8e8d8d;
  }
}

.contacts_form {
  background: #1a242e;
}
