.section.soft_business.dark_style
    .section__title The best solution #[span(class="section__title--bold") for your business]
    .section__subtitle Use our cost-effective solution to create your own#[span(class="db")] exchange in #[span(class="bold") 30 days.]

    .big_container
        .soft_business__catalog
            .soft_business__item
                .soft_business__icon
                    <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.60931 6.64514V34.6451H37.6093V6.64514H2.60931ZM35.276 19.4785H15.4426V8.97847H35.276V19.4785ZM15.4426 21.8118H24.1926V32.3118H15.4426V21.8118ZM4.94265 8.97847H13.1093V32.3118H4.94265V8.97847ZM26.526 32.3118V21.8118H35.276V32.3118H26.526Z" fill="#FAFAFA"/>
                        <path d="M14.2286 8.96814V20.7117M14.2286 32.3125V20.7117M14.2286 20.7117H25.3541H35.2714" stroke="#0ABE98" stroke-width="2.5"/>
                    </svg>
                .soft_business__title Web Trading UI
                .soft_business__desc Fully-customizable along with all necessary functionality#[span(class="db")] for both professional and novice traders.
            
            .soft_business__item
                .soft_business__icon
                    <svg width="38" height="34" viewBox="0 0 38 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.654 22.3467H12.8956C12.2646 22.3467 11.6594 22.5973 11.2132 23.0435C10.767 23.4897 10.5164 24.0949 10.5164 24.7259V26.312H12.1025V24.7259C12.1025 24.5156 12.1861 24.3138 12.3348 24.1651C12.4835 24.0164 12.6852 23.9328 12.8956 23.9328H17.654C17.8643 23.9328 18.0661 24.0164 18.2148 24.1651C18.3635 24.3138 18.4471 24.5156 18.4471 24.7259V26.312H20.0332V24.7259C20.0332 24.0949 19.7825 23.4897 19.3364 23.0435C18.8902 22.5973 18.285 22.3467 17.654 22.3467Z" fill="#0ABE98"/>
                        <path d="M12.1027 18.3816C12.1027 19.0091 12.2887 19.6224 12.6373 20.1441C12.9859 20.6657 13.4813 21.0723 14.061 21.3124C14.6406 21.5525 15.2785 21.6154 15.8938 21.493C16.5092 21.3706 17.0744 21.0684 17.5181 20.6248C17.9617 20.1811 18.2639 19.6159 18.3863 19.0005C18.5087 18.3852 18.4459 17.7473 18.2058 17.1677C17.9657 16.588 17.5591 16.0926 17.0374 15.744C16.5157 15.3954 15.9024 15.2094 15.2749 15.2094C14.4336 15.2094 13.6267 15.5436 13.0318 16.1385C12.4369 16.7334 12.1027 17.5403 12.1027 18.3816ZM16.8611 18.3816C16.8611 18.6953 16.7681 19.002 16.5938 19.2629C16.4195 19.5237 16.1718 19.727 15.8819 19.847C15.5921 19.9671 15.2732 19.9985 14.9655 19.9373C14.6578 19.8761 14.3752 19.725 14.1534 19.5032C13.9315 19.2814 13.7805 18.9988 13.7193 18.6911C13.6581 18.3834 13.6895 18.0645 13.8095 17.7746C13.9296 17.4848 14.1329 17.2371 14.3937 17.0628C14.6546 16.8885 14.9612 16.7955 15.2749 16.7955C15.6956 16.7955 16.0991 16.9626 16.3965 17.2601C16.694 17.5575 16.8611 17.961 16.8611 18.3816Z" fill="#0ABE98"/>
                        <path d="M3.4126 26.312V16.0272C3.4126 14.0759 4.99447 12.494 6.9458 12.494H18.3424" stroke="#FAFAFA" stroke-width="2"/>
                        <path d="M27.1575 16.3076V26.4843" stroke="#FAFAFA" stroke-width="2"/>
                        <path d="M11.2415 28.9709C10.0501 28.9709 1.7378 28.7129 1.77675 28.9709C1.8157 29.2288 3.33603 31.9148 4.03535 32.358C4.73471 32.8013 25.5865 32.8423 26.6217 32.358C26.8345 32.2585 28.5407 30.5205 28.7728 28.9709C28.7916 28.845 19.9716 28.658 18.9854 28.9709C18.6944 29.0632 18.3516 29.3245 18.1101 29.5326C17.9067 29.7079 17.651 29.8176 17.3824 29.8176H13.1549C12.8936 29.8176 12.6439 29.7134 12.4399 29.55C12.13 29.3019 11.6415 28.9709 11.2415 28.9709Z" stroke="#FAFAFA" stroke-width="2"/>
                        <path d="M23.9958 4.9569H29.166H34.3361M23.9958 9.51689H31.3496H34.3361M24.147 13.8601H36.3841C36.6009 13.8601 36.7767 13.6843 36.7767 13.4675V1.4718C36.7767 1.25499 36.6009 1.07922 36.3841 1.07922H21.0487C20.8319 1.07922 20.6561 1.25499 20.6561 1.4718V15.9946C20.6561 16.3349 21.0595 16.5141 21.3119 16.2859L23.8837 13.9614C23.9559 13.8962 24.0497 13.8601 24.147 13.8601Z" stroke="#FAFAFA" stroke-width="2"/>
                    </svg>
                .soft_business__title IT Outsource
                .soft_business__desc We take over the entire IT function, saving you $500,000 together with 9 months of your time.
            
            .soft_business__item
                .soft_business__icon
                    <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35.1093 32.991H35.3593V32.741V7.74097V7.49097H35.1093H13.1093H12.8593V7.74097V32.741V32.991H13.1093H35.1093ZM5.10931 5.49097H35.1093C35.7061 5.49097 36.2783 5.72802 36.7003 6.14998C37.1223 6.57193 37.3593 7.14423 37.3593 7.74097V32.741C37.3593 33.3377 37.1223 33.91 36.7003 34.332C36.2783 34.7539 35.7061 34.991 35.1093 34.991H5.10931C4.51258 34.991 3.94028 34.7539 3.51832 34.332C3.09637 33.91 2.85931 33.3377 2.85931 32.741V7.74097C2.85931 7.14423 3.09637 6.57193 3.51832 6.14998C3.94028 5.72802 4.51258 5.49097 5.10931 5.49097Z" fill="#FAFAFA" stroke="#FAFAFA" stroke-width="0.5"/>
                        <path d="M5.83331 8.25781H12.7105V32.2272H5.83331C5.28103 32.2272 4.83331 31.7795 4.83331 31.2272V9.25781C4.83331 8.70553 5.28103 8.25781 5.83331 8.25781Z" fill="#0ABE98" stroke="#0ABE98"/>
                    </svg>
                .soft_business__title Administrative Panel
                .soft_business__desc Manage your clients, affiliates, documents and cashflow. Get reports on all exchange transactions.
            
            .soft_business__item
                .soft_business__icon
                    <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.6094 18.4912C20.4769 18.4912 23.6094 15.3587 23.6094 11.4912C23.6094 7.62371 20.4769 4.49121 16.6094 4.49121C12.7419 4.49121 9.60938 7.62371 9.60938 11.4912C9.60938 15.3587 12.7419 18.4912 16.6094 18.4912ZM16.6094 7.99121C18.5344 7.99121 20.1094 9.56621 20.1094 11.4912C20.1094 13.4162 18.5344 14.9912 16.6094 14.9912C14.6844 14.9912 13.1094 13.4162 13.1094 11.4912C13.1094 9.56621 14.6844 7.99121 16.6094 7.99121ZM6.10938 28.9912C6.49437 27.7312 11.9019 25.4912 16.6094 25.4912C16.6094 24.2662 16.8369 23.0937 17.2219 22.0087C12.4444 21.8337 2.60938 24.2137 2.60938 28.9912V32.4912H19.3044C18.3944 31.4762 17.6769 30.3037 17.2219 28.9912H6.10938ZM33.1119 29.0262C33.7419 27.9937 34.1094 26.7862 34.1094 25.4912C34.1094 21.6237 30.9769 18.4912 27.1094 18.4912C23.2419 18.4912 20.1094 21.6237 20.1094 25.4912C20.1094 29.3587 23.2419 32.4912 27.1094 32.4912C28.4044 32.4912 29.6119 32.1062 30.6444 31.4937L35.1419 35.9912L37.6094 33.5237C34.9844 30.8987 36.2269 32.1237 33.1119 29.0262ZM27.1094 28.9912C25.1844 28.9912 23.6094 27.4162 23.6094 25.4912C23.6094 23.5662 25.1844 21.9912 27.1094 21.9912C29.0344 21.9912 30.6094 23.5662 30.6094 25.4912C30.6094 27.4162 29.0344 28.9912 27.1094 28.9912Z" fill="#0ABE98"/>
                        <path d="M16.6094 18.4912C20.4769 18.4912 23.6094 15.3587 23.6094 11.4912C23.6094 7.62371 20.4769 4.49121 16.6094 4.49121C12.7419 4.49121 9.60938 7.62371 9.60938 11.4912C9.60938 15.3587 12.7419 18.4912 16.6094 18.4912ZM16.6094 7.99121C18.5344 7.99121 20.1094 9.56621 20.1094 11.4912C20.1094 13.4162 18.5344 14.9912 16.6094 14.9912C14.6844 14.9912 13.1094 13.4162 13.1094 11.4912C13.1094 9.56621 14.6844 7.99121 16.6094 7.99121ZM6.10938 28.9912C6.49437 27.7312 11.9019 25.4912 16.6094 25.4912C16.6094 25.4912 16.8369 23.0937 17.2219 22.0087C12.4444 21.8337 2.60938 24.2137 2.60938 28.9912V32.4912H19.3044C18.3944 31.4762 17.6769 30.3037 17.2219 28.9912H6.10938Z" fill="#FAFAFA"/>
                    </svg>
                .soft_business__title KYC Module
                .soft_business__desc API integration with any external KYC provider. (IdentityMind, iSignthis, etc...).
            
            .soft_business__item
                .soft_business__icon
                    <svg width="36" height="41" viewBox="0 0 36 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.1927 21.0992L11.4156 17.3221L9.35938 19.3783L15.1927 25.2117L26.8594 13.545L24.8031 11.4888L15.1927 21.0992Z" fill="#0ABE98"/>
                        <path d="M18.1094 40.6553L9.10271 35.853C6.53507 34.487 4.38788 32.4476 2.89156 29.9537C1.39524 27.4597 0.606293 24.6054 0.609384 21.697V2.73869C0.610156 1.96538 0.917695 1.22396 1.46451 0.677146C2.01132 0.130332 2.75274 -0.177206 3.52605 -0.177979H32.6927C33.466 -0.177206 34.2074 0.130332 34.7542 0.677146C35.3011 1.22396 35.6086 1.96538 35.6094 2.73869V21.697C35.6125 24.6054 34.8235 27.4597 33.3272 29.9537C31.8309 32.4476 29.6837 34.487 27.116 35.853L18.1094 40.6553ZM3.52605 2.73869V21.697C3.52363 24.0767 4.16932 26.4122 5.39383 28.4527C6.61833 30.4932 8.37541 32.1617 10.4765 33.2791L18.1094 37.3493L25.7423 33.2805C27.8436 32.163 29.6008 30.4943 30.8253 28.4535C32.0498 26.4127 32.6954 24.077 32.6927 21.697V2.73869H3.52605Z" fill="#FAFAFA"/>
                    </svg>
                .soft_business__title Security
                .soft_business__desc Three level system of Cold, Warm and Hot wallets.#[span(class="db")] 2FA for users and DDoS mitigation. Anti-throttling system, Arbitrage protection, Anti-spoofing 
            
            .soft_business__item
                .soft_business__icon
                    <svg width="36" height="40" viewBox="0 0 36 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M31.8594 29.8369H24.3594C23.3648 29.8369 22.411 30.232 21.7077 30.9353C21.0045 31.6385 20.6094 32.5924 20.6094 33.5869V36.0869H23.1094V33.5869C23.1094 33.2554 23.2411 32.9375 23.4755 32.703C23.7099 32.4686 24.0279 32.3369 24.3594 32.3369H31.8594C32.1909 32.3369 32.5088 32.4686 32.7433 32.703C32.9777 32.9375 33.1094 33.2554 33.1094 33.5869V36.0869H35.6094V33.5869C35.6094 32.5924 35.2143 31.6385 34.511 30.9353C33.8078 30.232 32.8539 29.8369 31.8594 29.8369Z" fill="#0ABE98"/>
                        <path d="M23.1094 23.5869C23.1094 24.5758 23.4026 25.5425 23.952 26.3648C24.5014 27.187 25.2823 27.8279 26.196 28.2063C27.1096 28.5848 28.1149 28.6838 29.0848 28.4908C30.0547 28.2979 30.9456 27.8217 31.6449 27.1224C32.3442 26.4232 32.8204 25.5323 33.0133 24.5624C33.2062 23.5925 33.1072 22.5871 32.7288 21.6735C32.3503 20.7599 31.7095 19.979 30.8872 19.4296C30.065 18.8802 29.0983 18.5869 28.1094 18.5869C26.7833 18.5869 25.5115 19.1137 24.5738 20.0514C23.6362 20.9891 23.1094 22.2608 23.1094 23.5869ZM30.6094 23.5869C30.6094 24.0814 30.4628 24.5647 30.188 24.9758C29.9133 25.387 29.5229 25.7074 29.0661 25.8966C28.6093 26.0858 28.1066 26.1353 27.6216 26.0389C27.1367 25.9424 26.6912 25.7043 26.3416 25.3547C25.992 25.005 25.7539 24.5596 25.6574 24.0746C25.5609 23.5897 25.6105 23.087 25.7997 22.6302C25.9889 22.1734 26.3093 21.7829 26.7204 21.5082C27.1316 21.2335 27.6149 21.0869 28.1094 21.0869C28.7724 21.0869 29.4083 21.3503 29.8771 21.8191C30.346 22.288 30.6094 22.9239 30.6094 23.5869Z" fill="#0ABE98"/>
                        <path d="M29.3135 14.2119V15.4619H31.8135V14.2119C31.8135 11.8913 30.8916 9.66567 29.2507 8.02473C27.6097 6.38379 25.3841 5.46191 23.0635 5.46191H19.3135V7.96191H23.0635C24.7211 7.96191 26.3108 8.62039 27.4829 9.7925C28.655 10.9646 29.3135 12.5543 29.3135 14.2119Z" fill="white"/>
                        <path d="M11.8594 12.3369H4.35938C3.36481 12.3369 2.41099 12.732 1.70772 13.4353C1.00446 14.1385 0.609375 15.0924 0.609375 16.0869V18.5869H3.10938V16.0869C3.10938 15.7554 3.24107 15.4375 3.47549 15.203C3.70991 14.9686 4.02785 14.8369 4.35938 14.8369H11.8594C12.1909 14.8369 12.5088 14.9686 12.7433 15.203C12.9777 15.4375 13.1094 15.7554 13.1094 16.0869V18.5869H15.6094V16.0869C15.6094 15.0924 15.2143 14.1385 14.511 13.4353C13.8078 12.732 12.8539 12.3369 11.8594 12.3369Z" fill="#0ABE98"/>
                        <path d="M8.10938 11.0869C9.09828 11.0869 10.065 10.7937 10.8872 10.2443C11.7095 9.69486 12.3503 8.91396 12.7288 8.00033C13.1072 7.0867 13.2062 6.08137 13.0133 5.11146C12.8204 4.14156 12.3442 3.25064 11.6449 2.55138C10.9456 1.85212 10.0547 1.37592 9.08483 1.18299C8.11492 0.990064 7.10959 1.08908 6.19596 1.46752C5.28233 1.84596 4.50143 2.48682 3.95203 3.30906C3.40262 4.13131 3.10938 5.09801 3.10938 6.08692C3.10938 7.413 3.63616 8.68477 4.57384 9.62245C5.51152 10.5601 6.78329 11.0869 8.10938 11.0869ZM8.10938 3.58692C8.60383 3.58692 9.08718 3.73354 9.4983 4.00824C9.90942 4.28295 10.2299 4.67339 10.4191 5.13021C10.6083 5.58702 10.6578 6.08969 10.5613 6.57464C10.4649 7.05959 10.2268 7.50505 9.87714 7.85468C9.52751 8.20431 9.08205 8.44242 8.5971 8.53888C8.11215 8.63534 7.60948 8.58583 7.15267 8.39662C6.69585 8.2074 6.3054 7.88696 6.0307 7.47584C5.756 7.06472 5.60938 6.58137 5.60938 6.08692C5.60938 5.42388 5.87277 4.78799 6.34161 4.31915C6.81045 3.85031 7.44633 3.58692 8.10938 3.58692Z" fill="#0ABE98"/>
                        <line x1="2.34459" y1="38.8244" x2="34.5946" y2="3.57439" stroke="#323C47" stroke-width="3"/>
                        <line x1="2.01287" y1="36.2277" x2="34.6048" y2="1.31329" stroke="white" stroke-width="3"/>
                    </svg>
                .soft_business__title No Revenue Share Model
                .soft_business__desc We don't charge any commission for#[span(class="db")] trading volume.