.section.small__title.extra_form
    .big_container
        .extra_form__text
            .section__title Ready to start #[span(class="section__title--bold db") Your Exchange?]
            .section__subtitle Fill the form and schedule a live presentation #[span(class="db")] with our product manager
        form.buty__form
                label.buty__label
                    span.buty__placeholder Your name *
                    input.buty__input(type="text")
                
                label.buty__label
                    span.buty__placeholder E-mail *
                    input.buty__input(type="text")
                
                label.buty__label.buty__label__pich
                    img(src="images/buty_pich.png", alt="pic")
                    span.buty__placeholder Enter symbols
                    input.buty__input(type="text")
                
                label.buty__label.buty__label__phone
                    img(src="images/buty_lang.png", alt="lang")
                    select
                        option(value="+7") +7
                        option(value="8") 8
                        option(value="9") 9
                    input.buty__input(type="text" name="phone")
                    
                p.buty__police B2Broker uses the information you provide to us to contact you about our relevant content, products and services. For more information, check out our #[a(href="#") Privacy Policy.]

                button.buty__btn Request Prices