.section.flexible__section.small__title
    .section__title #[span(class="section__title--bold") Flexible] Trading UI
    .section__subtitle Our homemade platform has ideal#[span(class="db")] user interface for traders. 
    video.flexible__video(src="images/flexible.mp4",autoplay,loop, pip="false")

    .container
        .flexible__catalog
            .flexible__item 
                .flexible__title Colour & font customization
                .flexible__desc Choose any desired colour scheme and font for your end-users
            
            .flexible__item
                .flexible__title Default workspaces arrangement
                .flexible__desc Organise several workspaces#[span(class="db")] in your trading platform to suit#[span(class="db")] various trading styles
            
            .flexible__item
                .flexible__title Default widgets cutomization
                .flexible__desc Select predefined set of widgets#[span(class="db")] in your trading platform