.section.small__title
    .section__title.section__title--bold Liquidity
    .section__subtitle Multiple sources available for connection with B2Trader#[span(class="db")] to offer the best liquidity solution.

    .big_container
        .liq__catalog
            .liq__item
                <svg class="liq__icon" width="88" height="87" viewBox="0 0 88 87" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="44.1093" cy="43.4532" r="43.2979" fill="#FAFAFA"/>
                    <path d="M61.6093 43.4532H26.6093V60.9532H61.6093V43.4532Z" fill="#383838"/>
                    <mask id="liq1" mask-type="alpha" maskUnits="userSpaceOnUse" x="26" y="25" width="36" height="36">
                     <path d="M26.6093 25.9532H61.6093L54.3176 60.9532H33.901L26.6093 25.9532Z" fill="#C4C4C4"/>
                    </mask>
                    <g mask="url(#liq1)">
                        <path d="M61.5364 60.8802H27.776L26.6093 25.9532H61.5364V60.8802Z" fill="#0ABE98"/>
                        <path d="M61.6093 43.4532H26.6093V60.9532H61.6093V43.4532Z" fill="white"/>
                    </g>
                </svg>
                .liq__title Market Making
                .liq__desc Through powerful REST and WebSocket API you will be able to attract reliable market makers in order to create#[span(class="db")] a strong liquidity pool on your exchange.
            
            .liq__item
                <svg class="liq__icon" width="88" height="87" viewBox="0 0 88 87" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="44.1093" cy="43.4532" r="43.2979" fill="#FAFAFA"/>
                    <path d="M60.1095 31.7739H32.2109V59.4532H60.1095V31.7739Z" fill="#0ABE98"/>
                    <path d="M38.2253 24.4532H25.1094V37.0727H38.2253V24.4532Z" fill="#383838"/>
                    <path d="M51.2687 40.6982H40.9789V50.5986H51.2687V40.6982Z" fill="white"/>
                </svg>
                .liq__title External Liquidity Provider
                .liq__desc Use #[span(class="bold") FIX API] to connect your exchange to aggregated liquidity pool or some external sources#[span(class="db")] just for feeds.
            
            .liq__item
                <svg class="liq__icon" width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="44.1093" cy="44.0491" r="43.2979" fill="#FAFAFA"/>
                    <path d="M61.6093 26.5491H26.6093V61.5491H61.6093V26.5491Z" fill="#383838"/>
                    <path d="M45.0958 29.7442C47.2879 30.3251 48.6032 32.5035 48.0186 34.6819C47.434 36.8604 45.242 38.0948 43.0499 37.5865C40.8578 37.0782 39.5426 34.8272 40.1272 32.6487C40.7117 30.4703 42.9038 29.2359 45.0958 29.7442Z" fill="#0ABE98"/>
                    <path d="M33.7702 29.7442C35.9622 30.3251 37.2775 32.5035 36.6929 34.6819C36.1084 36.8604 33.9163 38.0948 31.7242 37.5865C29.5322 37.0782 28.2169 34.8272 28.8015 32.6487C29.313 30.4703 31.5781 29.2359 33.7702 29.7442Z" fill="#0ABE98"/>
                    <path d="M56.4946 29.7442C58.6867 30.3251 60.0019 32.5035 59.4174 34.6819C58.8328 36.8604 56.6408 38.0948 54.4487 37.5865C52.2566 37.0782 50.9414 34.8272 51.526 32.6487C52.0374 30.4703 54.3026 29.2359 56.4946 29.7442Z" fill="#0ABE98"/>
                    <path d="M58.5405 51.0927H29.6052V58.572H58.5405V51.0927Z" fill="white"/>
                    <path d="M33.7702 40.128C35.9622 40.7089 37.2775 42.8873 36.6929 45.0658C36.1084 47.2442 33.9163 48.4786 31.7242 47.9703C29.5322 47.3894 28.2169 45.211 28.8015 43.0326C29.313 40.8541 31.5781 39.5471 33.7702 40.128Z" fill="#0ABE98"/>
                    <path d="M56.4946 40.128C58.6867 40.7089 60.0019 42.8873 59.4174 45.0658C58.8328 47.2442 56.6408 48.4786 54.4487 47.9703C52.2566 47.3894 50.9414 45.211 51.526 43.0326C52.0374 40.8541 54.3026 39.5471 56.4946 40.128Z" fill="#0ABE98"/>
                    <path d="M45.0959 40.128C47.288 40.7089 48.6032 42.8873 48.0187 45.0658C47.4341 47.2442 45.242 48.4786 43.05 47.9703C40.8579 47.3894 39.5427 45.211 40.1272 43.0326C40.7118 40.8541 42.9038 39.5471 45.0959 40.128Z" fill="#0ABE98"/>
                </svg>
                .liq__title Internal Organic Liquidity
                .liq__desc B2Trader Matching Engine aggregates orders of users#[span(class="db")] in the order books on a specific platform on all#[span(class="db")]  available assets that don’t incur extra fees#[span(class="db")] for routing outside sources.
            
            .liq__item
                <svg class="liq__icon" width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="44.1093" cy="44.0491" r="43.2979" fill="#FAFAFA"/>
                    <g clip-path="url(#liq_clip1)">
                        <mask id="liq2" mask-type="alpha" maskUnits="userSpaceOnUse" x="26" y="26" width="36" height="36">
                            <path d="M61.6094 26.5491H26.6094V61.5491H61.6094V26.5491Z" fill="url(#liq_linear1)"/>
                        </mask>
                        <g mask="url(#liq2)">
                            <path d="M61.6094 26.5491H26.6094V61.5491H61.6094V26.5491Z" fill="#0ABE98"/>
                            <path d="M52.9141 61.4039H35.2314C35.2314 57.991 38.0081 55.3043 41.3692 55.3043H46.7033C50.2106 55.3043 52.9141 58.0637 52.9141 61.4039Z" fill="white"/>
                            <path d="M44.1093 79.5139C51.4539 79.5139 57.4079 73.597 57.4079 66.2981C57.4079 58.9992 51.4539 53.0823 44.1093 53.0823C36.7647 53.0823 30.8108 58.9992 30.8108 66.2981C30.8108 73.597 36.7647 79.5139 44.1093 79.5139Z" fill="white"/>
                            <path d="M54.7043 40.6219H33.5143V45.2692H54.7043V40.6219Z" fill="white"/>
                            <path d="M26.6093 52.2545C32.1379 52.2545 36.6198 47.8005 36.6198 42.3063C36.6198 36.8121 32.1379 32.3582 26.6093 32.3582C21.0807 32.3582 16.5989 36.8121 16.5989 42.3063C16.5989 47.8005 21.0807 52.2545 26.6093 52.2545Z" fill="#383838"/>
                            <path d="M61.6093 52.4665C67.1379 52.4665 71.6197 48.0126 71.6197 42.5184C71.6197 37.0242 67.1379 32.5703 61.6093 32.5703C56.0807 32.5703 51.5989 37.0242 51.5989 42.5184C51.5989 48.0126 56.0807 52.4665 61.6093 52.4665Z" fill="#383838"/>
                        </g>
                    </g>
                    <defs>
                    <linearGradient id="liq_linear1" x1="26.6247" y1="44.0555" x2="61.6065" y2="44.0555" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00E8B6"/>
                    <stop offset="1" stop-color="#01BD95"/>
                    </linearGradient>
                    <clipPath id="liq_clip1">
                    <rect width="35" height="35" fill="white" transform="translate(26.6094 26.5491)"/>
                    </clipPath>
                    </defs>
                </svg>
                .liq__title Bridge to Another Exchange
                .liq__desc We offer connection through Marksman Hub to the majority of trusted and well-known spot exchanges with the highest liquidity and best reliability in the market, including#[span(class="db")]  B2BX Exchange and others.
