.section.small__title.machins__section
    .big_container
        img.machins__left(src="images/machins1.png", alt="img")

        .machins__text
            .section__title #[span(class="section__title--bold") Matching] Engine
            .section__subtitle B2Trader is the world's fastest, most secure#[span(class="db")] and successful matching engine.
            a.machins__btn(href="#") Try Demo


.section.small__title.machins__section
    .big_container
        .machins__text(style="margin-top:-95px;")
            .section__title Web  #[span(class="section__title--bold") Wallet]
            .section__subtitle Integrate by API any E-wallet and PSP. Hundreds and even thousands, of coins and tokens#[span(class="db")] can be enabled.
            a.machins__btn(href="#") Get Access
        
        img.machins__left(src="images/machins2.png", alt="img")