.section.new_main_screen
    .big_container
        .buty__form__wrapper
            .section__title Crypto #[span(class="section__title--bold") Exchange Software]
            .section__subtitle Start your business with the World's Fastest  Matching Engine
            form.buty__form
                label.buty__label
                    span.buty__placeholder Your name *
                    input.buty__input(type="text")
                
                label.buty__label
                    span.buty__placeholder E-mail *
                    input.buty__input(type="text")
                
                label.buty__label.buty__label__phone
                    img(src="images/buty_lang.png", alt="lang")
                    select
                        option(value="+7") +7
                        option(value="8") 8
                        option(value="9") 9
                    input.buty__input(type="text" name="phone")
                
                label.buty__label.buty__label__pich
                    img(src="images/buty_pich.png", alt="pic")
                    span.buty__placeholder Enter symbols
                    input.buty__input(type="text")
                
                button.buty__btn Request Prices

                p.buty__police B2Broker uses the information you provide to us to contact you about our relevant content, products and services. For more information, check out our #[a(href="#") Privacy Policy.]
    

    .big_container
        .crypto_services
            .crypto_services__item
                .crypto_services__title White Label
                .crypto_services__desc Launch an exchange tailored to your brand with our White Label solution

            .crypto_services__item
                .crypto_services__title 10,000 / sec
                .crypto_services__desc Transactions troughput capacity
            
            .crypto_services__item
                .crypto_services__title Management Software
                .crypto_services__desc With CRM functionality, client’s cabinet and back office software
            
            .crypto_services__item
                .crypto_services__title Powerful #[span(class="db")] API
                .crypto_services__desc A new high-capacity API for robotic trading and public data access
