.section
    .soft_rew__block
        .soft_rew__text 
            <svg width="901" height="3" viewBox="0 0 901 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.109375" y1="1.13477" x2="900.109" y2="1.13477" stroke="#1F2832" stroke-opacity="0.1" stroke-width="2"/>
            </svg>

            span We offer software solutions for established companies to increase and optimize their workflows and help new entrepreneurs to build their businesses. You can launch your own crypto exchange with our ready-to-go platform in just couple of weeks.

            <svg width="901" height="33" viewBox="0 0 901 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M900.162 2.82056L834.327 2.83534L833.288 30.0494L802.428 2.8425L0.163519 1.13485" stroke="#1F2832" stroke-opacity="0.1" stroke-width="2"/>
            </svg>

        .soft_rew__artist
            .soft_rew__desc
                <svg width="39" height="13" viewBox="0 0 39 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="6.83122" cy="6.59881" rx="6.28605" ry="5.98919" fill="#0ABE98"/>
                    <ellipse cx="19.4028" cy="6.59881" rx="6.28605" ry="5.98919" fill="#28F3C8"/>
                    <ellipse cx="31.9749" cy="6.59881" rx="6.28605" ry="5.98919" fill="#7DFFE0"/>
                </svg>
                .soft_rew__title Conrad Simon
                .soft_rew__subtitle Business Development Manager 
            img(src="images/rew_icon.png", alt="img").soft_rew__icon