.advantages(style="background-image:url(images/main/mountains.svg);")
    .advantages__item.container
        .advantages__description
            .advantages__title.title-main All activities are carried out
            .advantages__text All activities are carried out in accordance with the legislation of the European Union
                br
                br
                br
                | B2BX Digital Exchange OÜ, Tallinn, Estonia
                | License NoFVR000514
                | License NoFRK000558
        .advantages__image.advantages__cover(style="background-image:url(images/main/advantages_1.png);")
    .advantages__item.reverse.container
        .advantages__description
            .coming-soon-main Coming Soon
            .advantages__title.title-main Prepaid card
                br
                | available
            .advantages__text We provide only major coins and trusty fiat to provide safest and strongest trading opportunity
            a.advantages__link.link.btn-white(href="#") Read more
        .advantages__image(style="background-image:url(images/main/advantages_2.png);")
    .advantages__item.container
        .advantages__description
            .advantages__title.title-main You can sit back
                br
                | and relax. It's reliably
            .advantages__text All fiat funds are placed in regulated bank, 98% crypto is placed in a cold storage.
            a.advantages__link.link.btn-white(href="#") Read more
        .advantages__image.advantages__cover.background-up(style="background-image:url(images/main/advantages_3.png);")
    .relative
        .sky-high
            .sky-high__icon
                img(src="images/main/sky-high.png")
            .sky-high__text Sky high withdrawal limits up to&nbsp;
                span.bold USD 250,000.00
        .curve(style="background-image:url(images/main/advantages_4.png);")
    .advantages__item.reverse.container.relative
        .advantages__description
            .advantages__title.title-main Institutional grade volumes
            .advantages__text Ocean Deep Liquidity — More than 400 BTC on&nbsp;
                span.bold first 50 levels&nbsp;
                | in USDBTC order book.
                br
                br
                | Sky high withdrawal limits — Up to&nbsp;
                span.bold USD 250,000.00&nbsp;
                | per transaction.
            a.advantages__link.btn(href="#") Watch trading platform
        .advantages__image
    .advantages__item.container
        .advantages__description
            .advantages__title.title-main Robust pairs only
            .advantages__text We provide only major coins and trusty fiat to provide safest and strongest trading opportunity
            a.advantages__link.link.btn-white(href="#") All trading pairs
        .advantages__image(style="background-image:url(images/main/advantages_5.png);")
        .currency-icons
            .currency-icon
                +icon('icon1', '')
            .currency-icon
                +icon('icon2', '')
            .currency-icon
                +icon('icon3', '')
            .currency-icon
                +icon('icon4', '')
            .currency-icon
                +icon('icon5', '')
            .currency-icon
                +icon('icon6', '')
            .currency-icon
                +icon('icon7', '')
            .currency-icon
                +icon('icon8', '')
            .currency-icon
                +icon('icon9', '')
    .advantages__item.reverse.container
        .advantages__description
            .advantages__title.title-main Easy and fast deposits
                br
                | and withdrawals
            .advantages__text We provide only major coins and trusty fiat to provide safest and strongest trading opportunity
            a.advantages__link.link.btn-white(href="#") Payment Methods
        .advantages__image(style="background-image:url(images/main/advantages_6.png);")
    .advantages__item.container
        .advantages__description
            .advantages__title.title-main Competitive trading fees
            .advantages__text Competitive trading fees and loyalty token campaign. Up to 50% discount for newcomers and 35% discount with B2BX Token.
            a.advantages__link.link.btn-white(href="#") Fee Schedule
        .advantages__image.advantages__cover(style="background-image:url(images/main/advantages_7.png);")
    .advantages__item.reverse.container
        .advantages__description
            .advantages__title.title-main Start faster than ever before
            .advantages__text The market is changing every minute, so it’s better not to waste time.
                | It tooks literally several minutes to register and pass automatical verification to start trading. Many users will not even have time to finish their tea. Powered by Identity Mind
            .advantages__icons
                img(src="images/main/identity-mind.svg")
        .advantages__image.advantages__cover-small(style="background-image:url(images/main/advantages_8.png);")
    .advantages__item.container
        .advantages__description
            .advantages__title.title-main Web & mobile platform
            .advantages__text Competitive trading fees and loyalty token campaign. Up to 50% discount for newcomers and 35% discount with B2BX Token
            a.advantages__link.link.btn-white(href="#") Watch trading platform
        .advantages__image.advantages__cover-smallest(style="background-image:url(images/main/advantages_9.png);")
