.advantages
  h2.section__title.goanim.an #[span(class="section__title--bold") Forex] Liquidity
  a(href="#").btn.btn--dark_green.btn--box_shadow Get Started!
  input(type="text" placeholder="Your Name").form__input 
  .form__phone
    select(name="number").form__phone__select.form__input
      option(value="+7") +7
      option(value="8") 8
    input(type="text" placeholder="Phone").form__input
  .check_block
    .check_block__icon
      +icon('check')
    span.check_block__text Direct access to both exchanges and OTC liquidity pools
  .slider_arrow
    +icon('slider-arrow-green')
  .slider_arrow.slider_arrow--prev.slider_arrow--green
    +icon('slider-arrow')
    