div(class="modal-fancy modal-form-1 modal-form-2" id="modal5" style="display:none")
    h3.forex_liquidity__form-title Please fill the form and send request.#[span(class="db")] We will contact your shortly!
    .section__subtitle We are happy to work with new talents. Looking forward to your reply!
    form.new_form.new_form__flex
      label.new_form__label.new_form__label__100
        span.new_form__placeholder Vacancy
        input.new_form__input(type="text", value="Operations Manager, Minsk", disabled)
      label.new_form__label.new_form__label__50
        span.new_form__placeholder Your Name
        span.new_form__star *
        input.new_form__input(type="text", required)
      label.new_form__label.new_form__label__50.new_form__label__lang_select
        span.new_form__placeholder Preffered language
        input.new_form__input(type="text")
        .new_form__label__lang_select_wrapper
          img(src="images/new_en.png",class="new_form__label__lang_select_icon")
          select.new_form__select
            option(value="English") English
            option(value="English") English
            option(value="English") English
      label.new_form__label.new_form__label__50
        span.new_form__placeholder Your Email
        span.new_form__star *
        input.new_form__input(type="email", required)
      label.new_form__label.new_form__label__50
        span.new_form__placeholder Comments
        input.new_form__input(type="text")
      label.new_form__label.new_form__label__50.new_form__label__phone_select
        span.new_form__placeholder Phone
        span.new_form__star *
        input.new_form__input(type="text", required)
        select.new_form__select.new_form__select_phone
            option(value="+7") +7
            option(value="+7") +7
            option(value="+7") +7
      label.new_form__label.new_form__label__50.new_form__label_capch
        span.new_form__placeholder Enter symbols
        span.new_form__star *
        img.new_form__capch(src="images/capch_text.png")
        input.new_form__input(type="text", required)
      label.new_form__label.new_form__label__50.new_form__label__web_select
        span.new_form__placeholder Nickname
        input.new_form__input(type="text")
        select.new_form__select.new_form__select_web
            option(value="Telegram") Telegram
            option(value="Telegram") Telegram
            option(value="Telegram") Telegram
      button.new_form__sabmit.new_form__sabmit__50(type="submit") Request a Callback
      //- .new_form__description.new_form__description__50 Based on your IP, you are in the Russian Federation. #[a(href="#") Change] Your data will be in US data center.
      .new_form__label__50.ap__file_wrapper
        div
          .ap.wrapper_more_file
            span.ap__file Attach files
            .ap__input_wrapper#file_input_wrapper1
              input.ap__input#file_input1(type="file")
              label.ap__dop_input(for="file_input1")
            
            .ap__input_wrapper#file_input_wrapper2
              input.ap__input#file_input2(type="file")
              label.ap__dop_input(for="file_input2")

          .ap__text_wrapper
            span.ap__discription Doc or PDF up to 5 Mb 
            span.ap__discription Up to 2 files

        .ap_images_wrapper#ap_images_wrapper2
          img.ap_images(src="images/file.svg")
          img.remove_file(src="images/remove_file.svg")
          img.add_file(src="images/add_file.svg")

        .ap_images_wrapper#ap_images_wrapper1
          img.ap_images(src="images/file.svg")
          img.remove_file(src="images/remove_file.svg")
          img.add_file(src="images/add_file.svg")
        
      label.consent_block
        p B2Broker uses the information you provide to us to contact you about our relevant content, products and services. For more information, check out our #[a(href="#") Privacy Policy.]