.section.section__flow.dark_style
    .container
        .section__title Prime of Prime #[span(class="section__title--bold") Flow ]
        .section__subtitle Our team is in regular contact with major banks and non-bank liquidity providers to discuss #[span(class="db")]all elements of the flow directed towards us. This ensures we receive the best aggregated #[span(class="db")]pricing available for our clients that is uniquely tailored for their business.
        img.banner(src="images/flow.png", alt="")
    
    .container
        .check_container
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Low spreads and commissions
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Single margin account
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Fast DMA execution
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Multiplie API and institutional GUIs
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text 24/7 technical support
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text 24/7 technical support
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Pure A-book  (riskless trading) model
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Big range of instruments
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Multiple venue distribution