.footer-menu-section
    .container
        .footer-menu-section-flex
            .footer-menu-section-flex__item.goanim.an
                .footer-menu-section-flex__title Core products
                +menu(['MetaTrader 4 WhiteLabel','MetaTrader 5 WhiteLabel','B2Trader Matching Engine','B2Margin (Margin Exchange)','B2Core (Traders room)','MarksMan Hub'])
                .footer-menu-section-flex__title Additional
                +menu(['Data Distribution Feed','IB/Affiliate Module','Widgets for the Quotes','WEB API MT4/MT5'])
                .footer-menu-section-flex__title Crypto Processing
                +menu(['Merchant Solutions', 'Enterprise Wallets Solutions'])
            .footer-menu-section-flex__item.goanim.an
                .footer-menu-section-flex__title Liquidity
                +menu(['Crypto Derivatives/CFD', 'Forex', 'Metals', 'Indices', 'Commodities ', 'Shares CFD','ETFs CFD','Crypto Spot'])
                .footer-menu-section-flex__title Turnkey Wallets
                +menu(['Crypto PSP White Label', 'Crypto Wallets '])
                .footer-menu-section-flex__title Money Management
                +menu(['Copy/Social Trading platform', 'MAM platform ', 'PAMM platform'])
            .footer-menu-section-flex__item.goanim.an
                .footer-menu-section-flex__title Turnkey Brokerage 
                +menu(['Forex Broker', 'Crypto CFD Margin Broker ', 'Crypto Derivatives Margin Broker','Crypto Spot Broker ','Multi Asset Broker','Hedge Fund/PAMM Broker','Copy/Social Trading Broker'])
                .footer-menu-section-flex__title Turnkey Exchange
                +menu(['Crypto Spot Exchange', 'Crypto Derivatives Margin Exchange', 'FX Spot/Deliverable Exchange', 'Crypto Converter'])
                .footer-menu-section-flex__title Corporate Services 
                +menu(['Licenses', 'Companies','Banking Solutions'])

        









 






 












