.footer-menu-section
    .container
        .footer-menu-section-flex
            .footer-menu-section-flex__item
                .footer-menu-section-flex__title Core products
                +menu(['Media','Events','Team','Partners','News','Contacts'])
                .footer-menu-section-flex__title Core products
                +menu(['Media','Events','Team','Partners'])
                .footer-menu-section-flex__title Core products
                +menu(['Media', 'Events'])
            .footer-menu-section-flex__item
                .footer-menu-section-flex__title Core products
                +menu(['Media', 'Events', 'Team', 'Partners', 'News', 'Contacts'])
                .footer-menu-section-flex__title Core products
                +menu(['Media', 'Events', 'Team', 'Partners'])
                .footer-menu-section-flex__title Core products
                +menu(['Media', 'Events'])
            .footer-menu-section-flex__item
                .footer-menu-section-flex__title Core products
                +menu(['Media', 'Events', 'Team', 'Partners', 'News', 'Contacts'])
                .footer-menu-section-flex__title Core products
                +menu(['Media', 'Events', 'Team', 'Partners'])
                .footer-menu-section-flex__title Core products
                +menu(['Media', 'Events'])