.section.section__genuine.dark_style
    .container
        .section__green_subtitle Liquidity tailored to run this market
        .section__title #[span(class="section__title--bold") Genuine] Prime of #[span(class="db")] Prime #[span(class="section__title--bold") Pricing]
        .section__subtitle Get competitive DMA pricing for Forex pairs as well as other trading #[span(class="db")] instruments and asset classes.
    
    .container
        .genuine__btn_container
            .mam_tabs-btn.genuine__btn.active Forex
            .mam_tabs-btn.genuine__btn Crypto
            .mam_tabs-btn.genuine__btn Metals
            .mam_tabs-btn.genuine__btn Indicies
            .mam_tabs-btn.genuine__btn Energy
            .mam_tabs-btn.genuine__btn Equities
            .mam_tabs-btn.genuine__btn ETFs
        .genuine__content_container
            .mam_tabs-content.genuine__content
                .genuine__filter
                    .genuine__filter__btn.active All
                    .genuine__filter__btn Majors
                    .genuine__filter__btn Minors
                    .genuine__filter__btn Exotic
                .genuine__row.genuine__row__heading_row
                    .genuine__col Instrument
                    .genuine__col Volume
                    .genuine__col Bid
                    .genuine__col Spread
                    .genuine__col Ask
                    .genuine__col Volume
                    .genuine__col Change
                .genuine__row
                    .genuine__col
                        span.genuine__title EUR/USD
                        span.genuine__subtitle Euro/US Dollar
                    .genuine__col 100.0K
                    .genuine__col 1.08590
                    .genuine__col 0.2
                    .genuine__col 1.08592
                    .genuine__col 100.0K
                    .genuine__col 10.4%

