.news(style="background-image:url(images/main/mountains.svg);").bckg-reverse
    .container.bckg-reverse
        .news__title.title-main Latest News
        a(href="#").news__all.link All news
        include ../../modules/news/_news