.section-16.mam_frame.b2_frame.section.section__video_main
  .container.goanim.an
    .section__title Where #[span(class="section__title--bold") vision ] #[span(class="db") ] becomes #[span(class="section__title--bold") reality]
    .section__subtitle Watch how our liquidity and technology solutions are trusted#[span(class="db") ]  throughout the industry.
    .video_block
      .video_block--preview
        img(src="images/video_previw.jpg", alt="video_previw").image_preview
        img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
        .video--time 6:27
      <iframe src="https://www.youtube.com/embed/i3HgFQNn5rQ" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    .video_description Forex, CFD, Cryptocurrency Liquidity Provider B2Broker – Liquidity & Technology Provider
    .video_subdescription B2Broker provides access to 800+ instruments and 7 asset classes on one single multicurrency marginal account.#[span(class="db")] Our liquidity pool is already integrated with MetaTrader 4, MetaTrader 5, B2Trader, xStation and cTrader.
  .you_button
    a(href="#").watch_more #[img(src="images/new_youtube.svg", alt="youtube" )]Watch more