.open-account(style="background-image:url(images/main/mountains-shadowed.png);")
    .container.text-centered
        a(href="#").open-account__btn.btn Open account
        .open-account__text And look forward to potential rewards from your trading!