.section.section__products.dark_style
    .container.goanim.an
        .section__title #[span(class="section__title--bold db") 700 trading products] 7 asset classes
        .section__subtitle 700+ financial instruments and 7 asset classes including indices, shares, precious metals, energy and#[span(class="db")] cryptocurrencies. With a strong reputation, solid financial markets expertise and access to the best solutions,#[span(class="db")] B2Broker is one of the most sought-after liquidity providers in the industry.
    
    .container.check_block--mam_platform--catalog.goanim.an
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Forex
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Metals
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Crypto CFDs
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Indices
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Equity CFDs
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Energy
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text ETF CFDs