.section.section__reduce.dark_style
    .container
        .section__title.goanim.an #[span(class="section__title--bold") Reduce] your #[span(class="section__title--bold") risk]
        .section__subtitle.goanim.an Nominate a margin account according to your needs#[span(class="db")] in any crypto or fiat based currency

    .container.reduce__container
        .mam_tabs-btn.reduce__btn.active(data-id="1") Multicurrency #[span(class="db")] nominated
        .mam_tabs-btn.reduce__btn(data-id="2") Single
        
        .mam_tabs-content.reduce__content.active(data-id="1") 
            img.banner(src="images/reduce1.png", alt="banner")
            .reduce__title Multicurrency nominated margin account
            .reduce__subtitle Multicurrency based Margin accounts allow Brokers to minimize volatile risks between clients’ equity and Brokers’ equity.#[span(class='db')]  Margin accounts could be nominated in any currency from the B2Broker liquidity, including cryptocurrencies. Client#[span(class='db')] accounts in different currencies, which are correlated to each other, could be connected to the one Margin account. BNB#[span(class='db')] and BTC based accounts can easily work with BTC based Margin account with minimal risk on volatility differences#[span(class='db')] between these two currencies, as an example.

            .plus__block
                .plus__icon
                    img(src="images/reduce_plus.svg", alt="banner")
                .plus__content 
                    .plus__title Without taking the risk
                    .plus__subtitle The example above contains complete diversification for the base currencies of customer groups, accordingto margin accounts based on the same base currencies. In this case, brokers will work with the same amount of capital as their clients, without risking volatility for each currency.
            
            .plus__block
                .plus__icon
                    img(src="images/reduce_minus.svg", alt="banner")
                .plus__content 
                    .plus__title Extended risk managment
                    .plus__subtitle In a multicurrency nominated margin account model the broker needs to control the equity on all his margin accounts,#[span(class="db")]  in order to provide execution for all his clients. This means the broker has to keep more funds, close to 100% of client funds, on his margin accounts to avoid rejections for client orders due to insufficient funds. 
        
        .mam_tabs-content.reduce__content(data-id="2") 
            img.banner(src="images/reduce2.png", alt="banner")
            .reduce__title Single Margin Accounts
            .reduce__subtitle The traditional scheme of brokerage with the use of a single margin account, based on the most popular#[span(class="db")] clients’ base currency. This scheme is works with small volatility risks on basic fiat currencies, but has a#[span(class="db")] huge volatility risk with crypto and exotic currencies.

            .plus__block
                .plus__icon
                    img(src="images/reduce_plus.svg", alt="banner")
                .plus__content 
                    .plus__title Full Netting Risk Managment
                    .plus__subtitle The example above contains one margin account based in US Dollars, and a lot of client groups based in different currencies. In this case, brokers will operate with the US Dollars only, but their clients have diversified portfolios which drive the broker to take a risk from the volatility of clients' base currencies.
            
            .plus__block
                .plus__icon
                    img(src="images/reduce_minus.svg", alt="banner")
                .plus__content 
                    .plus__title Volatility Risk
                    .plus__subtitle If one client deposits with 10 BTC, the broker will cover the equity of the client by the current rate of 5000 USD per BTC = 50000 USD on the brokers' margin account. If the client makes a profit equal to 1 BTC,  the broker will receive profit by the current rate of 7000 USD per BTC = 7000 USD. As a result, clients’ equity = 11 BTC by the rate of 7000 USD per BTC, equal to 77000 USD, and the broker has 57000 USD equity to cover the client. By the rate of 10000 USD per BTC and above, this difference will go up significantly. 
