.section-16.section
  .section__title.goanim.an Where vision becomes #[span(class="section__title--bold") reality]
  .main-text.goanim.an See how our liquidity and technology solutions are trusted throughout the industry.
  .video_block
    .video_block--preview
      img(src="images/video_previw.jpg", alt="video_previw").image_preview
      .video_block--play
        +icon('play')
    <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  .you_button
    a(href="#").btn.more_button.more_button--arrow #[img(src="images/youtube.png", alt="youtube" class="youtube")]Watch more on YouTube