.section-10.section
  .container.goanim.an
    .section__title  #[span(class="section__title--bold")   Execution ] with ease
    .main-text B2Broker offers incomparable levels of technology and speed of execution facilitated by a single liquidity contractual agreement and single margin account. No need to enter into a separate agreement with an exchange, bank, prime broker or liquidity provider.
  .grafic_slider
    //- .grafic_slider--arrow_block
    //-   .slider_arrow.slick--prev
    //-     +icon('slider-arrow-green')
    //-   .slider_arrow.slider_arrow--prev.slider_arrow--green.slick--next
    //-     +icon('slider-arrow')
    .grafic_slider--slick

      .grafic_slider--slick_item
        .grafic_slider--slick_item--heading Single Margin Account
        .grafic_slider--slick_item--description Simply sign a single agreement with B2Brоkеr who will#[span(class="db")] take care of all your needs by acting as both your#[span(class="db")] liquiditу and technology provider. 
        .grafic_slider--slick_item--image
          img(src="images/new_slick/item1.png", alt="grafic")

      .grafic_slider--slick_item
        .grafic_slider--slick_item--heading Advanced Reports  
        .grafic_slider--slick_item--description Take control of your business with our advanced reporting capabilities. Create numerous#[span(class="db")] comprehensive reports such as detailed account statements and scheduled reports by email#[span(class="db")] with parameters configured to your own personal specifications. Utilise real-time and historical#[span(class="db")] data to plan ahead and maximise your business potential.
        .grafic_slider--slick_item--image
          img(src="images/new_slick/item2.png", alt="grafic")

      .grafic_slider--slick_item
        .grafic_slider--slick_item--heading Professional Institutional GUI
        .grafic_slider--slick_item--description Cutting-edge trading UIs that allow#[span(class="db")] you to take full control of the market
        .grafic_slider--slick_item--image
          img(src="images/new_slick/item3.png", alt="grafic")

      .grafic_slider--slick_item
        .grafic_slider--slick_item--heading NET open positions  
        .grafic_slider--slick_item--description Netting is a method of reducing risks in financial contracts#[span(class="db")] by combining or aggregating multiple financial obligations#[span(class="db")] to arrive at a net obligation amount.
        .grafic_slider--slick_item--image
          img(src="images/new_slick/item4.png", alt="grafic")

      .grafic_slider--slick_item
        .grafic_slider--slick_item--heading Range of order of types 
        .grafic_slider--slick_item--description Market, Buy Stop, Sell Stop, Buy Limit, Sell Limit, Take Profit,#[span(class="db")] Stop Loss, Buy Stop Limit and Sell Stop Limit are all available.
        .grafic_slider--slick_item--image
          img(src="images/new_slick/item5.png", alt="grafic")
      


