.section-24
  .form-wrapper
    .left-form
      .form--heading Subscribe to our newsletter
      .form--description Join our email list and stay updated on all our latest developments and special offers.  
      form.form-content
        .input-wrapper
          span Email
          input(type="text" value="hello@gmail.com").form__input
        button.btn.btn--green.btn--box_shadow.upp Subscribe
    .right-form
      .form--heading Leave your reqest
      .form--description We are here to assist you with any queries about our products and services.   
      form.form-content
        input(type="text" placeholder="Email").form__input
        .form__phone
          select(name="number").form__phone__select.form__input
            option(value="+7") +7
            option(value="8") 8
          input(type="text" placeholder="Phone").form__input
        .form-content--description Based on your IP, you are in Russian Federation.Change Your data will be in US data center.
        input(type="text" placeholder="Email").form__input
        button.btn.btn--green.btn--box_shadow.upp Give me a call