.section-19.goanim.an
  .container
    .section__title Advanced #[span(class="section__title--bold") reporting]
    .main-text Create a multitude of comprehensive, highly detailed reports with parameters configured to personal specifications. From detailed account statements to volume trade reports, get complete control over your operations and maximise your business potential.
    .advanced_slider
      .advanced_slider--wrapper
        .advanced_slider--slick
          .item
            img(src="images/advanced-items/item1.png", alt="item")
          .item
            img(src="images/advanced-items/item2.png", alt="item")
          .item
            img(src="images/advanced-items/item3.png", alt="item")
          .item
            img(src="images/advanced-items/item4.png", alt="item")
    .advanced_slider--arrow_block.center_arrow-block
      .slider_arrow.advanced_slick--prev
        +icon('slider-arrow-green')
      .slider_arrow.slider_arrow--prev.slider_arrow--green.advanced_slick--next
        +icon('slider-arrow')
    .check_catalog
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text.unselectable Detailed Account Statements
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text.unselectable Positions State Report
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text.unselectable Account State Report
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text.unselectable Detailed Trades Report
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text.unselectable Scheduled Reports by email
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text.unselectable Volume Trader Report
      