.section-4.section.section-4__forex
  .container.goanim.an
    .section__title #[span(class="section__title--bold") What is] Prime of Prime?
    span.main-text  Prime of Prime (PoP) refers to a firm that has an account with leading global Prime Brokers that offers their#[span(class="db")] services to other market participants such as Forex Brokers, LPs, ECNs, etc. PoPs bridge the gap between the institutional and retail Forex markets and through a variety of mechanisms, enable brokerages to finance their trades with the backing necessary to support trading at big volumes. 

    span.main-text We have been providing our PoP services to brokerages, hedge and crypto funds, investment managers, professional traders and other financial institutions since 2014. We deliver our renowned PoP solutions using cutting edge technology coupled with outstanding customer service from our team of experts.

    .number_block
      .number_block-content
        .number_block--text Spreads from
        .number_block--number 0
          span.number_block--number-text pips
      .number_block-content
        .number_block--text More than
        .number_block--number 78
          span.number_block--number-text pairs
      .number_block-content
        .number_block--text Execution from
        .number_block--number 49
          span.number_block--number-text ms
      .number_block-content
        .number_block--text Support
        .number_block--number 24/7

      