.section-19.section
  .container.goanim.an
    .section__title Advanced #[span(class="section__title--bold") reporting]
    .main-text Create a multitude of comprehensive, highly detailed reports with parameters configured to personal specifications. From detailed account statements to volume trade reports, get complete control over your operations and maximise your business potential.
    .advanced_slider
      .advanced_slider--wrapper
        .advanced_slider--slick
          .item
            img(src="images/advanced-items/new_item1.png", alt="item")
          .item
            img(src="images/advanced-items/new_item2.png", alt="item")
          .item
            img(src="images/advanced-items/new_item3.png", alt="item")
          .item
            img(src="images/advanced-items/new_item4.png", alt="item")
    .advanced_slider--arrow_block.center_arrow-block
      .advanced_slick--prev
        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.79471 8.96104L1.96821 15.6389C1.53396 16.0639 0.829903 16.0639 0.395866 15.6389C-0.0382055 15.2142 -0.0382055 14.5255 0.395866 14.1009L6.43626 8.19207L0.396042 2.28343C-0.0380298 1.85863 -0.0380298 1.16999 0.396042 0.74536C0.830114 0.320557 1.53414 0.320557 1.96838 0.74536L8.79488 7.42328C9.01192 7.63569 9.12031 7.9138 9.12031 8.19204C9.12031 8.47042 9.01171 8.74873 8.79471 8.96104Z" fill="#01BD95"/>
        </svg>
      .advanced_slick--next
        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.79471 8.96104L1.96821 15.6389C1.53396 16.0639 0.829903 16.0639 0.395866 15.6389C-0.0382055 15.2142 -0.0382055 14.5255 0.395866 14.1009L6.43626 8.19207L0.396042 2.28343C-0.0380298 1.85863 -0.0380298 1.16999 0.396042 0.74536C0.830114 0.320557 1.53414 0.320557 1.96838 0.74536L8.79488 7.42328C9.01192 7.63569 9.12031 7.9138 9.12031 8.19204C9.12031 8.47042 9.01171 8.74873 8.79471 8.96104Z" fill="#01BD95"/>
        </svg>
    .check_catalog
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text.unselectable Detailed account statements

      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text.unselectable Positions state report

      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text.unselectable Account state report

      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text.unselectable Detailed trades report

      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text.unselectable Scheduled reports by email

      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text.unselectable Volume trade report
      