.section-7.section
  .container
    .section__title.goanim.an Aggregation and  #[span(class="section__title--bold") Distribution]
    .main-text.goanim.an Access the best technology from aggregated liquidity and multiple distribution venues to cater for your traders needs. B2Broker continues to expand its liquidity distribution, aggregating liquidity via several distribution systems. Brokers and white label partners can be connected to our liquidity pool via FIX API in just 5 minutes and gain access to the deepest institutional liquidity pools in the industry, super-tight spreads and more.
    .aggregation_image.goanim.an
      img(src="images/aggregation.png", alt="aggregation")
    //- .aggregation_block
    //-   .aggregation_item
    //-     .aggregation_item--heading Liquidity #[span(class="extrabold") Makers]
    //-     .aggregation_item--content
    //-       .aggregation_item--content-block
    //-         span Electronic Communication Network
    //-         .verticaly--green_gradient
    //-       .aggregation_item--content-block
    //-         span Liquidity Provider 1
    //-         .verticaly--green_gradient
    //-       .aggregation_item--content-block
    //-         span Liquidity Provider 2
    //-         .verticaly--green_gradient
    //-       .aggregation_item--content-block
    //-         span Prime Brokers
    //-         .verticaly--green_gradient
    //-       .aggregation_item--content-block
    //-         span Electronic Communication Network
    //-         .verticaly--green_gradient
    //-       .aggregation_item--content-block
    //-         span Exchanges
    //-         .verticaly--green_gradient
    //-       .aggregation_item--content-block
    //-         span OTCs
    //-         .verticaly--green_gradient
    //-       .aggregation_item--content-block
    //-         span Crypto Exchanges
    //-         .verticaly--green_gradient
    //-       .aggregation_item--content-block
    //-         span Liquidity Providers
    //-         .verticaly--green_gradient
    //-       .aggregation_item--content-block
    //-         span Market Makers
    //-         .verticaly--green_gradient
    //-   .aggregation_item
    //-     .aggregation_item--heading Liquidity #[span(class="extrabold") Aggregators]
    //-     .aggregation_item--content
    //-       .aggregation_item--content_mark-block
    //-         .mark
    //-           img(src="images/trade_mark/trade-8.png", alt="trade_mark")
    //-         span.name X-Core
    //-       .twink_arrow
    //-         +icon('twink_arrow')
    //-       .aggregation_item--content_mark-block
    //-         .mark
    //-           img(src="images/trade_mark/trade-5.png", alt="trade_mark")
    //-         span.name Hub
    //-       .twink_arrow
    //-         +icon('twink_arrow')
    //-       .aggregation_item--content_mark-block
    //-         .mark
    //-           img(src="images/trade_mark/trade-9.png", alt="trade_mark")
    //-         span.name Hub
    //-   .aggregation_item
    //-     .aggregation_item--heading Liquidity #[span(class="extrabold") Venues]
    //-     .aggregation_item--content
    //-       .aggregation_item--content_icon-block
    //-         .mark
    //-           img(src="images/trade_mark/venues/icon1.png", alt="trade_mark")
    //-       .aggregation_item--content_icon-block
    //-         .mark
    //-           img(src="images/trade_mark/venues/icon2.png", alt="trade_mark")
    //-       .aggregation_item--content_icon-block
    //-         .mark
    //-           span
              









