.section-24
  .form-wrapper
    .left-form
      .form--heading Subscribe to our newsletter
      .form--description Join our email list and stay updated on all our latest developments and special offers.  
      form.form-content
        input(type="text" placeholder="Email").form__input
        button.btn.btn--green.btn--box_shadow.upp Subscribe
    .right-form
      .form--heading Subscribe to our newsletter
      .form--description Join our email list and stay updated on all our latest developments and special offers.  
      form.form-content
        input(type="text" placeholder="Email").form__input
        .form__phone
          select(name="number").form__phone__select.form__input
            option(value="+7") +7
            option(value="8") 8
          input(type="text" placeholder="Phone").form__input
        .form-content--description
        input(type="text" placeholder="Email").form__input
        button.btn.btn--green.btn--box_shadow.upp Subscribe