.section-18
  .container
    .section__title.goanim.an Execution via #[span(class="section__title--bold") advanced trading platforms] and #[span(class="section__title--bold") APIs]
    .main-text.goanim.an Our access to liquidity allows us to ensure that trades can be executed quickly and efficiently. Connect to the markets via our trading platforms and APIs for web, mobile and tablet trading.
  .image_block
    img(src="images/content/grafic-2.png", alt="grafic")
  .container
    .trade_catalog
      .trade_catalog-item
        img(src="images/trade_mark-2/i1.png", alt="icon")
      .trade_catalog-item
        img(src="images/trade_mark-2/i2.png", alt="icon")
      .trade_catalog-item
        img(src="images/trade_mark-2/i3.png", alt="icon")
      .trade_catalog-item
        img(src="images/trade_mark-2/i4.png", alt="icon")
      .trade_catalog-item
        img(src="images/trade_mark-2/i5.png", alt="icon")
      .trade_catalog-item
        img(src="images/trade_mark-2/i6.png", alt="icon")
      .trade_catalog-item
        img(src="images/trade_mark-2/i7.png", alt="icon")
      .trade_catalog-item
        img(src="images/trade_mark-2/i8.png", alt="icon")
    .text_item
      .text_item--heading FIX API
      .text_item--description Standard protocol that allows communication between a client, trader, investment fund, or broker and our platforms.#[span(class="db")] FIX API is used by numerous banks, prime brokers, and hedge funds to operate in real-time mode.
    .text_item
      .text_item--heading REST API
      .text_item--description Traders, investors and brokers can create custom trading applications, integrate into our platforms and build algo trading systems. Calls can be made in any language that supports a standard HTTP REST API on request.
    .text_item
      .text_item--heading WebSocket API
      .text_item--description Includes live streaming and historical prices for live trade operations. It is scalable, light and robust and is compatible with any Java-compliant operating system.