.section-14
  .container
    .section__title Market #[span(class="section__title--bold") Depth] #[span(class="db")] and #[span(class="section__title--bold") Liquidity] pool
    .main-text Market liquidity impacts everything from the bid-offer spread to trade execution and is important since it affects how quickly you can open and close positions. As a broker, you need to have access to the deepest liquidity pool available to handle all the needs of your traders.
    .image_block
      img(src="images/table.png", alt="table")
    .catalog
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text Direct access to both exchanges and OTC liquidity pools
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text Advanced bridge technologies – fastest execution even during high activity on the market
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text Get benefits from deep depth and avoid big slippage
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text Co-location DCs across the world to ensure the lowest latency
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text Benefit from competitive spreads and margin requirements
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text Agregated volume into order book