.section-12.section
  .container.goanim.an
    .section__title.goanim.an Cutting-edge #[span(class="section__title--bold") infrastructure]
    .main-text.goanim.an The infrastructure upon which trades are executed is crucially important in getting the fastest trade execution possible. Gain access to our global network coverage from the world's largest finаnciаl ecosystem within all Equinix centers worldwide. Physical proximity to all central trаde servers of major ехchаngеs, liquiditу providers, bаnks and other finаnciаl institutions, allows us to minimize trаde requests up to a hundredth of a millisecond.
    .speed_form.goanim.an
      .speed_form--left
        .speed_block
          .speed_block--heading Execution Speed from 
          .speed_block--main
            img(src="images/speed.svg", alt="speed")
            span.big 49#[span(class="little") ms]
        .speed_form--green_gr
        .speed_form--gray_gr
        .speed_form--left-text up to 2 times faster than other LPs
      .speed_form--right
        .speed_form--heading Presence in major financial centers for low latency execution
        .speed_form--description Physical proximity to all central trade servers of major exchanges, liquidity providers, banks and other financial institutions, allows us to minimize trade requests.
    .connectivity_block.goanim.an
      .connectivity_block--heading Connectivity to major technology, bridge and platform providers
      .connectivity_block--description Our operational setup ensures swift API implementation. We offer FX prime of prime brokerage and#[span(class="db")] liquidity services via FIX API and multiple technology providers. T-1 hosting in LD4.
      .connectivity_block--image
        img(src="images/connectivity.png", alt="connectivity")
  .container-2.goanim.an
    .box-catalog
      .box_block
        .box_block--title Anti-DDOS
        .box_block--text For large brokers, it is recommended to deploy anti-DDOS high-defense servers to effectively target targeted DDOS attacks.
      .box_block
        .box_block--title Security
        .box_block--text All servers use strict security policies to protect against malicious attacks, intrusions, and cyber attacks.
      .box_block
        .box_block--title Hot backups
        .box_block--text A backup solution for multi-user systems with no downtime required to perform the backup. 
      .box_block
        .box_block--title Colocation
        .box_block--text Data centre facilities providing housing for servers with managed services to support our clients.
      .box_block
        .box_block--title Failover system
        .box_block--text A standby mode is ready to take over the load from a failing system or scheduled down time. 


