.section-19.goanim.an
  .container
    .section__title Advanced #[span(class="section__title--bold") reporting]
    .main-text There is now a stronger presence of Prime Brokers in the market to fulfil the industry's increasing demand for liquidity.
    .advanced_slider
      .advanced_slider--wrapper
        .advanced_slider--slick
          .item
            img(src="images/advanced-items/item1.png", alt="item")
          .item
            img(src="images/advanced-items/item2.png", alt="item")
    .advanced_slider--arrow_block.center_arrow-block
      .slider_arrow.advanced_slick--prev
        +icon('slider-arrow-green')
      .slider_arrow.slider_arrow--prev.slider_arrow--green.advanced_slick--next
        +icon('slider-arrow')
    .check_catalog
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text.unselectable Detailed Account Statements
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text.unselectable Positions state Report
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text.unselectable Account state Report
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text.unselectable Detailed Trades Report
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text.unselectable Scheduled Reports by email
      .check_block
        .check_block__icon
          +icon('check')
        span.check_block__text.unselectable Volume trade Report
      