.section-17
  .container
    .section__title Your #[span(class="section__title--bold") benefits]
    .box_catalog
      .box_block
        .box_block--title 24/7 Technical support
        .box_block--text Our professional and helpful technical support team is on hand 24/7 to deal with customer enquiries whenever the need arises.
      .box_block
        .box_block--title Tutorials and materials
        .box_block--text B2Broker is committed to working alongside its clients to ensure ultimate user satisfaction. An extensive range of tutorials and materials is available to assist with all technical aspects.
      .box_block
        .box_block--title 7 languages
        .box_block--text Our knowledgeable and friendly customer service can assist you in 7 languages including English, Russian, Chinese, Japanese, Spanish, Arabic and Urdu.
      .box_block
        .box_block--title Deposits & Withdrawals
        .box_block--text A wide variety of deposit and withdrawal methods are available including bank wire transfer and a range of popular credit/debit cards.
      .box_block
        .box_block--title Education 
        .box_block--text Education is an all-important part of our service. We offer a variety of training materials including videos and demos to help our clients understand the business.
      .box_block
        .box_block--title Product manager
        .box_block--text Our product managers are deeply knowledgeable about our technical solutions and are there to assist our clients with any specific enquiries.
      .box_block
        .box_block--title Multiple jurisdictions
        .box_block--text B2Broker (B2Prime) is a regulated entity and is a member of NBRB governing the Forex industry in Belarus. As a global liquidity provider, B2Broker is making steps towards having a presence in all significant jurisdictions.
      .box_block
        .box_block--title Account Manager
        .box_block--text All our clients are assigned a personal account manager who is always on hand to answer questions and take care of all their requirements.

      
