.section-5
  .container
    .section__description.goanim.an How it works
    .section__title.goanim.an Prime of Prime #[span(class="section__title--bold") flow] 
    .main-text.goanim.an Our team is in regular contact with major banks and non-bank liquidity providers to discuss all elements of the flow directed towards us. This ensures we receive the best aggregated pricing available for our clients that is uniquely tailored for their business.
    .flex_block.goanim.an
      .flex_block-item
        .flex_block-item--heading #[span(class="bold") Forex Liquidity] Providers
        .catalog
          span.catalog_item Tier 1 Banks
          span.catalog_item Forex PBs
          span.catalog_item ECNs
          span.catalog_item MTFs
          span.catalog_item Market Makers
          span.catalog_item Non-banks LPs
        .green--gradient
      .flex_block-item
        .flex_block-item--heading #[span(class="bold") Equity Liquidity]  Providers
        .catalog
          span.catalog_item Brokers
          span.catalog_item Exchanges
          span.catalog_item LPs
          span.catalog_item Derivatives
        .green--gradient
      .flex_block-item
        .flex_block-item--heading #[span(class="bold") Crypto] Prime
        .catalog
          span.catalog_item Exchange 1 
          span.catalog_item Exchange 2
          span.catalog_item Market Makers
          span.catalog_item LPs
        .green--gradient
    .arrow_block
      .arrow_block-item
        +icon('gray_arrow')
      .arrow_block-item
        +icon('gray_arrow')
      .arrow_block-item
        +icon('gray_arrow')
    .heading Execution
    .arrow_block.arrow_block--1
      .arrow_block-item
        +icon('gray_arrow')
      .arrow_block-item
        +icon('gray_arrow')
      .arrow_block-item
        +icon('gray_arrow')
    .heading.green--gradient--1 #[span(class="extrabold") Prime of Prime] Liquidity Provider
    .arrow_block.arrow_block--2
      .arrow_block-item
        +icon('gray_arrow')
      .arrow_block-item
        +icon('gray_arrow')
      .arrow_block-item
        +icon('gray_arrow')
    .heading.castom_padding Aggregation, Routing & Collateralization
    .arrow_block.arrow_block--3
      .arrow_block-item
        +icon('gray_arrow')
      .arrow_block-item
        +icon('gray_arrow')
      .arrow_block-item
        +icon('gray_arrow')
    .heading.green--gradient--2 #[span(class="extrabold") Single Margin] Account
    .arrow_block.arrow_block--4
      .arrow_block-item
        +icon('gray_arrow')
      .arrow_block-item
        +icon('gray_arrow')
      .arrow_block-item
        +icon('gray_arrow')
    .trade_mark.goanim.an
      .trade_mark-item.small_boxSh
        .mark
          img(src="images/trade_mark/trade-1.png", alt="icon-1")
        .main_image
          img(src="images/trade_mark/main-1.png", alt="mac-1")
        .description An electronic trading platform widely used by online retail Forex industry developed by MetaQuotes Software.
        .green--gradient
      .trade_mark-item.small_boxSh
        .mark
          img(src="images/trade_mark/trade-2.png", alt="icon-2")
        .main_image
          img(src="images/trade_mark/main-2.png", alt="mac-2")
        .description A multi-asset trading platform developed by DevExperts supporting trading equities, ETFs, futures, options, Forex, Commoditiies, CFDs and cryptocurrencies.
        .green--gradient
      .trade_mark-item.small_boxSh
        .mark
          img(src="images/trade_mark/trade-3.png", alt="icon-3")
        .main_image
          img(src="images/trade_mark/main-3.png", alt="mac-3")
        .description A matching engine platform for exchanges developed by B2Broker that powers up the world's best-known exchanges.
        .green--gradient
      .trade_mark-item.small_boxSh
        .mark
          img(src="images/trade_mark/trade-4.png", alt="icon-4")
        .main_image
          img(src="images/trade_mark/main-4.png", alt="mac-4")
        .description A platform combining the features of margin and spot trading in one system powered by B2Broker.
        .green--gradient
      .trade_mark-item.small_boxSh
        .mark
          img(src="images/trade_mark/trade-5.png", alt="icon-5")
        .main_image
          img(src="images/trade_mark/main-5.png", alt="mac-5")
        .description A provider of technology for multi-asset class execution, connectivity, aggregation, distribution and hub.
        .green--gradient
      .trade_mark-item.small_boxSh
        .mark
          img(src="images/trade_mark/trade-6.png", alt="icon-6")
        .main_image
          img(src="images/trade_mark/main-6.png", alt="mac-6")
        .description A financial technology provider with cutting-edge aggregation software, ultra-low-latency connectivity, institutional grade hosting solutions.
        .green--gradient
    .another_trades.goanim.an
      .description or use another type of delivery
      .flex_block
        .another_trades--left.small_boxSh
          div
            .another_trades--title FIX API
            .another_trades--text Receive tailored multi-asset liquidity #[span(class="db")] via an industry-standard API. It allows you to integrate any proprietary trading platform to our liquidity.
          div
            img(src="images/trade_mark/trade-7.png", alt="icon-7")
        .another_trades--right.small_boxSh
          .another_trades--title White Labels
          .another_trades--text Receive tailored multi-asset liquidity via an industry-standard API. It allows you to integrate any proprietary.
    .check_catalog.goanim.an
      .flex_block
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Single Margin Account
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Low Spreads & Commissions
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Fast DMA Execution
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Big range of instruments
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text 24/7 Technial Support
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Custom Report Solutions
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Mulitiplies venue distribution
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Pure A-book  (riskless trading) model
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Multiplie API and institu-tional GUIs



      

