.section-21.goanim.an
  .container 
    .section__title Trading #[span(class="section__title--bold") hours]
    .main-text Availability of 4 trading sessions: Sydney, Tokyo, London and New York provides 24 hour access to trade 5 days a week.
    .main_block.map_block
      img(src="images/Map.png", alt="map").map
      img(src="images/trade_session.png", alt="trade_session").session
    .button_block
      a(href="#").btn.btn-gray-2 GMT Time
      .text Please note that trading hours are subject to change. Liquidity providers may adjust trading schedule as necessary according to market conditions.