.section-11.goanim.an
  .box_block
    .box_block--title #[span(class="extrabold") Free bridges] for MT4/5
    .box_block--text We offer the most competitive aggregated liquidity and provide full flexibility in connecting to liquidity pools. We guarantee seamless connectivity to multiple liquidity providers with the use of our MT4/MT5 Bridges absolutely free of charge. #[span(class="db")] #[span(class="bold") No set-up fee. No volume fee.]
  .box_block
    .box_block--title #[span(class="extrabold") Customized] Streams
    .box_block--text We work closely with our clients offering ready-made or customised streams of liquidity to facilitate trading. This enables brokers to benefit from best execution and competitive spreads, together with raw, small, medium and big mark-ups and get rebates.