.section-20.section
  .section__title.goanim.an Customer #[span(class="section__title--bold") support]  
  .section_subtitle.goanim.an 24/7/365
  .main-text.goanim.an Our professional customer service team is available round the clock to assist you with any queries. Please do not hesitate to get in touch.