.section-15.goanim.an
  .container
    .section__title Liquidity tailored for all #[span(class="section__title--bold") business models]
    .main-text Our liquidity solutions provide you with access and connectivity to the deepest liquidity pool customized to your exact needs. Whatever your business model, B2Broker provides highly developed liquidity access  to take care of all your clients’ requirements, including those working with HFT, automated,algorithmic and API trading systems.
  .business--slick_slider
    .item
      .item--heading Brokerages
      .item--description Brokerages provide traders with access to platforms enabling them to trade the Forex markets. We support numerous brokers who approach us for our technology and liquidity know-how so they can service their clients in the most professional way.
      .item--box
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text The best prices from multiple global liquidity venues
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text World leader in online trading
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Fast data and execution through FIX API
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Index, commodity, forex and #[span(class="db")] equity CFDs
    .item
      .item--heading Family Offices 
      .item--description Wealthy individuals often take control of their finances through family offices. We provide access to cutting-edge trading and investment technology so your clients can trade and manage their portfolios with greater efficiency.
      .item--box
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text A personal account manager
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text DMA on equities and FX, with for one-to#[span(class="db")]-one service access to deep liquidity
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Fast data feeds and execution
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Powerful range of platforms#[span(class="db")] and reporting tools 
    .item
      .item--heading Financial Institutions
      .item--description Small to medium-sized banks need access to deep pools of liquidity and efficient global market access. An individual approach is required to provide a highly specialized solution that meets the needs of their many different clients.
      .item--box
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Customized approach
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text B2Core back office solution
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Anonymous and fully transparent liquidity 
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text 24/7365 professional#[span(class="db")] customer support 
    .item
      .item--heading Market Makers
      .item--description Market makers are required to continually quote prices and volumes they are willing to buy and sell at every second of the trading day at the market price to provide traders with the most professional service.
      .item--box
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Allow your traders to execute trades whenever they want
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Fulfill orders and execute transactions within seconds
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Powerful range of platforms and#[span(class="db")] market depth
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Partner with a leading global#[span(class="db")] prime of prime broker 
    .item
      .item--heading Hedge Funds
      .item--description Hedge funds invest in a variety of financial markets using pooled funds collected from investors and applying various trading strategies to boost their performance and returns for their investors. 
      .item--box
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Invest in a variety of financial markets#[span(class="db")]  using pooled funds
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Choose from 7 asset classes and over 800 trading instruments 
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Suitable for high-net-worth#[span(class="db")]  individuals and professional#[span(class="db")]  investors
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Personalised service with #[span(class="db")] individual account manager
    .item
      .item--heading HFT & Qantum Teams
      .item--description Quantum computing is the future of electronic trading, bringing about high-frequency trading (HFT) via the use of algorithms. To this end, our specialised HFT and Quantum teams continually work on the development of algorithms to automatically initiate trades according to predefined strategies.
      .item--box
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Expert technology-led solutions#[span(class="db")] developed by our specialists
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Algorithmic trading for executing orders#[span(class="db")] using automated trading instructions 
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text High speeds, high turnover rates#[span(class="db")] and high order-to-trade ratios
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Analyze multiple markets and execute#[span(class="db")] orders based on market conditions
    .item
      .item--heading Introducing Brokers
      .item--description Introducing Brokers (IBs) introduce new customers to a Forex brokerage and receive a commission in return for sending clients their way. IB programs can greatly reduce the costs involved in acquiring new customers for a brokerage.
      .item--box
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Multiple account management
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Full range of platforms and products
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Customisable reporting technology
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Revenue generation through introductions 
  .bottom_block
    .bottom_block--text Whatever type of financial business you're in, we're here to help.
    a(href="#").btn.btn--dark_green.btn--box_shadow Call me back