.section-22
  .container
    .section__title.section__title--bold FAQ
    .main-text Have a question? A source of useful information about our products and services.
    .question
      .question-item
        label What if i want to migrate? 
          input(type="checkbox")
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item
        label Quis est occaecat officia ex id cillum commodo sint esse in.
          input(type="checkbox")
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item
        label Aute officia dolore voluptate esse eiusmod laborum eiusmod proident.
          input(type="checkbox")
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item
        label Laborum id cupidatat qui elit.
          input(type="checkbox")
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item
        label Aute aliquip reprehenderit aliquip velit dolore.
          input(type="checkbox")
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item
        label Pariatur eiusmod mollit sunt consequat adipisicing eu fugiat do.
          input(type="checkbox")
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item
        label Exercitation velit anim officia labore aute qui ea aute Lorem velit ut. 
          input(type="checkbox")
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item
        label Sunt sint cupidatat nostrud deserunt.
          input(type="checkbox")
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .another_question
        .another_question--heading Have another question?
        .another_question--link We hope we have resolved any issues you may have. In the event you have any outstanding queries, please don’t hesitate to reach out. #[a(href="#") Ask a question here.]

      
          
        
