.section-15
  .container
    .section__title Liquidity tailored for all #[span(class="section__title--bold") business models]
    .main-text Our liquidity solutions provide you with access and connectivity to the deepest liquidity pool customized to your exact needs. Whatever your business model, B2Broker provides highly developed liquidity access  to take care of all your clients’ requirements, including those working with HFT, automated,algorithmic and API trading systems.
  .business_slider--arrow_block.center_arrow-block
      .slider_arrow.business_slick--prev
        +icon('slider-arrow-green')
      .slider_arrow.slider_arrow--prev.slider_arrow--green.business_slick--next
        +icon('slider-arrow')
  .business--slick_slider
    .item
      .item--heading Introducing Brokers
      .item--description Offer your clients a competitive package powered by the world’s No. 1 retail CFD and spread betting provider
      .item--box
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Multiple account management
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Full range of platforms and products
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Customisable reporting technology
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Revenue generation through introductions 
    .item
      .item--heading Brokerages
      .item--description Tap into the deep liquidity and unparalleled range of markets that a world leader like IG can offer
      .item--box
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text The best prices from multiple global liquidity venues
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text World leader in online trading
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Fast data and execution through FIX API
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Index, commodity, forex and equity CFDs
    .item
      .item--heading Family Offices 
      .item--description A bespoke brokerage service, customisable to your needs and powered by our advanced technology and robust balance sheet
      .item--box
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text A personal account manager
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text DMA on equities and FX, with for one-to-one service access to deep liquidity
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Fast data feeds and execution
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Powerful range of platforms and reporting tools 
    .item
      .item--heading Market Makers
      .item--description Market makers are required to continually quote prices and volumes they are willing to buy and sell at every second of the trading day at the market price to provide traders with the most professional service.
      .item--box
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Allow your traders to execute trades whenever they want
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Fulfill orders and execute transactions within seconds
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Powerful range of platforms and market depth
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Partner with a leading global prime of prime broker 
    .item
      .item--heading Hedge Funds
      .item--description Hedge funds invest in a variety of financial markets using pooled funds collected from investors and applying various trading strategies to boost their performance and returns for their investors. 
      .item--box
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Invest in a variety of financial markets using pooled funds
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Choose from 7 asset classes and over 800 trading instruments 
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Suitable for high-net-worth individuals and professional investors
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Personalised service with individual account manager
    .item
      .item--heading HFT & Qantum Teams
      .item--description Quantum computing is the future of electronic trading, bringing about high-frequency trading (HFT) via the use of algorithms. To this end, our specialised HFT and Quantum teams continually work on the development of algorithms to automatically initiate trades according to predefined strategies.
      .item--box
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Expert technology-led solutions developed by our specialists
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Algorithmic trading for executing orders using automated trading instructions 
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text High speeds, high turnover rates and high order-to-trade ratios
        .check_block
          .check_block__icon
            +icon('check')
          span.check_block__text Analyze multiple markets and execute orders based on market conditions
  .bottom_block
    .bottom_block--text Whatever type of financial business you're in, we're here to help.
    a(href="#").btn.btn--dark_green.btn--box_shadow Call me back