.forex_liquidity
  .forex_liquidity--overlay
  .container
    .forex_liquidity__content
      h2.section__title Prime of Prime #[span(class="section__title--bold") Forex] Liquidity
      span.section__subtitle The deepest liquidity pool for Forex market
      .number_block
        .number_block-content
          .number_block--text Trading Pairs
          .number_block--number 80
        .number_block-content
          .number_block--text Execution from
          .number_block--number 49#[span(class="number_block--number-text") ms]
        .number_block-content
          .number_block--text Technical Support
          .number_block--number 24/7
      
    form.forex_liquidity__form
      h3.forex_liquidity__form-title Get access to our liquidity
      label.form_label
        span Your Name
        input(type="text").form__input
      label.form_label
        span Your Email
        input(type="text").form__input
      .form__phone
        select(name="number").form__phone__select.form__input
          option(value="+7") +7
          option(value="8") 8
        label.form_label
          span Phone
          input(type="text").form__input
      p.forex_liquidity__form-description Based on your IP, you are in Russian Federation. #[a(href="#") Change] Your data will be in US data center.
      button(type="bytton").btn.btn--green.btn--box_shadow Get Started!
  .container.link_container
    a(href=".section-4").link.link--dotted.js-anchor What is prime of prime?

      