.section-10.goanim.an
  .container
    .section__title Execution #[span(class="section__title--bold") with ease]
    .main-text B2Broker offers incomparable levels of technology and speed of execution facilitated by a single liquidity contract and single margin account. No need to enter into a separate agreement with an exchange, bank, prime broker or liquidity provider.
  .grafic_slider
    .grafic_slider--arrow_block
      .slider_arrow.slick--prev
        +icon('slider-arrow-green')
      .slider_arrow.slider_arrow--prev.slider_arrow--green.slick--next
        +icon('slider-arrow')
    .grafic_slider--slick
      .grafic_slider--slick_item
        .grafic_slider--slick_item--heading NET open positions 
        .grafic_slider--slick_item--description Netting is a method of reducing risks in financial contracts by combining or aggregating multiple financial obligations to arrive at a net obligation amount
        .grafic_slider--slick_item--image
          img(src="images/slick_grafic/grafic-1.png", alt="grafic")
      .grafic_slider--slick_item
        .grafic_slider--slick_item--heading Advanced Reports  
        .grafic_slider--slick_item--description Take control of your business with our advanced reporting capabilities. Create numerous comprehensive reports such as detailed account statements and scheduled reports by email with parameters configured to your own personal specifications. Utilise real-time and historical data to plan ahead and maximise your business potential.
        .grafic_slider--slick_item--image.castom-width
          img(src="images/slick_grafic/grafic-2.png", alt="grafic")
      .grafic_slider--slick_item
        .grafic_slider--slick_item--heading 700 instruments
        .grafic_slider--slick_item--description Trade the Forex markets with 75 Forex pairs, 700+ financial instruments and 8 asset classes including indices, shares, precious metals, commodities and cryptocurrencies. With a strong reputation, solid financial markets expertise and access to the best lsolutions, B2Broker is one of the most sought-after liquidity providers in the industry.
        .grafic_slider--slick_item--image
          img(src="images/slick_grafic/grafic-3.png", alt="grafic")
      .grafic_slider--slick_item
        .grafic_slider--slick_item--heading Range of order of types 
        .grafic_slider--slick_item--description The value of physical shareholdings can be used as security for any leveraged trades executed through with our collateralized leverage service.
        .grafic_slider--slick_item--image.castom-width-2
          img(src="images/slick_grafic/grafic-5.png", alt="grafic")
      .grafic_slider--slick_item
        .grafic_slider--slick_item--heading Professional Institutional GUI
        .grafic_slider--slick_item--description Cutting-edge trading UIs that allow to take full control of the market
        .grafic_slider--slick_item--image
          img(src="images/slick_grafic/grafic-6.png", alt="grafic")
      


