.section-22.goanim.an
  .container
    .section__title.section__title--bold FAQ
    .main-text Have a question? A source of useful information about our products and services.
    .question
      .question-item.question-item-js
        span What if i want to migrate? 
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.question-item-js
        span Quis est occaecat officia ex id cillum commodo sint esse in.
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.question-item-js
        span Aute officia dolore voluptate esse eiusmod laborum eiusmod proident.
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.question-item-js
        span Laborum id cupidatat qui elit.
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.question-item-js
        span Aute aliquip reprehenderit aliquip velit dolore.
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.question-item-js
        span Pariatur eiusmod mollit sunt consequat adipisicing eu fugiat do.
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.question-item-js
        span Exercitation velit anim officia labore aute qui ea aute Lorem velit ut. 
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .question-item.question-item-js
        span Sunt sint cupidatat nostrud deserunt.
          .question-item_content Home is behind, the world ahead and there are many paths to tread through shadows to the edge.
      .another_question
        .another_question--heading Have another question?
        .another_question--link We hope we have resolved any issues you may have. In the event you have any outstanding queries, please don’t hesitate to reach out. #[a(href="#") Ask a question here.]

      
          
        
