.section-15.section
  .container.goanim.an
    .section__title Liquidity tailored for all #[span(class="section__title--bold") business models]
    .main-text Our liquidity solutions provide you with access and connectivity to the deepest liquidity pool customized to your exact needs. Whatever your business model, B2Broker provides highly developed liquidity access  to take care of all your clients’ requirements, including those working with HFT, automated, algorithmic and API trading systems.
  .business--slick_slider.flickity_castom_arrow

    .item
      .item--heading Brokerages
      .item--description Brokerages provide traders with access to platforms enabling them to trade different asset classes. We support numerous brokers who approach us for our technology and liquidity know-how so they can service their clients in the most professional way.
      .item--box
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text The best prices from multiple#[span(class="db")] global liquidity venues

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text World leader in online trading

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Fast data and execution through FIX API

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Index, Commodity,  FOREX and#[span(class="db")] Equity CFDs

    .item
      .item--heading Family Offices 
      .item--description Wealthy individuals often take control of their finances through family offices. We provide access to cutting-edge trading and investment technology so your clients can trade and manage their portfolios with greater efficiency.
      .item--box
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Powerful range of platforms#[span(class="db")] and reporting tools

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Personal account manager

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Fast data feeds and execution
          
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text DMA on equities and FX, with for one-to#[span(class="db")]-one service access to deep liquidity

    .item
      .item--heading Financial Institutions
      .item--description Small to medium-sized banks need access to deep liquidity pools. An individual approach is required to provide a highly specialized solution that meets the needs of their many different clients.
      .item--box
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Customized approach

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text B2Core back office solution

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Anonymous and fully transparent liquidity 
          
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text 24/7/365 professional customer#[span(class="db")] support

    .item
      .item--heading Market Makers
      .item--description A market maker is typically an entity that continuously buys and sells an asset class at an openly quoted price in the OTC market. By doing so, a market maker acts as a counter-party to most of the trades made by traders. Notably, a market maker invariably trades against the crowd.  
      .item--box
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Allow your traders to execute#[span(class="db")] trades whenever they want

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Fulfill orders and execute transactions within seconds

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Partner with a leading global#[span(class="db")] prime of prime broker 
          
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Powerful range of platforms and market depth

    .item
      .item--heading Hedge Funds
      .item--description Hedge funds invest in a variety of financial markets using pooled funds collected from investors and applying various trading strategies to boost their performance and returns for their investors. 
      .item--box
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Invest in a variety of financial markets using pooled funds

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Choose from 7 asset classes and over#[span(class="db")] 800 trading instruments 

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Suitable for high-net-worth individuals#[span(class="db")] and professional investors
          
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Personalised service with an individual#[span(class="db")] account manager

    .item
      .item--heading HFT & Quantum Teams
      .item--description Quantum computing is the future of electronic trading, bringing about high-frequency trading (HFT) via the use of algorithms.
      .item--box
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Expert technology-led solutions developed#[span(class="db")] by our specialists

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Algorithmic trading for executing orders#[span(class="db")] using automated trading instructions 

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text High speeds, high turnover rates and high#[span(class="db")] order-to-trade ratios
          
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Analyze multiple markets and execute#[span(class="db")] orders based on market conditions

    .item
      .item--heading Introducing Brokers
      .item--description Introducing Brokers (IBs) typically introduce new customers to a Forex brokerage and receive a commission in return for sending clients their way. IB programs can greatly reduce the costs involved in acquiring new customers for a brokerage.
      .item--box
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Multiple account management

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Full range of platforms and products

        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Customisable reporting technology
          
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Revenue generation through#[span(class="db")] introductions
          
  .bottom_block
    .bottom_block--text Whatever type of financial business you're in,#[span(class="db")] we're here to help.
    a(href="#").btn.btn--dark_green Call me back