.section-13.goanim.an
  .section__title Get connected in #[span(class="section__title--bold") 5 minutes]
  .main-text Gain access to the deepest institutional liquidity pools in the industry in just a few minutes! We're already integrated with multiple trading platforms and bridge providers.
  .mac_slider
    .mac_slider--slick

      .mac_slider--slick-item.castom
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/main-1.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/trade_mark/trade-1.png", alt="icon")
          span Most popular platform#[b(class="db")] for fx trading 

      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/main-6.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/trade_mark/trade-6.png", alt="icon")
          span A financial technology provider with cutting-edge aggregation software, ultra-low-latency connectivity, institutional grade hosting solutions.
      
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/new_item3.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/trade_mark/new_icon3.png", alt="icon")
          span A multi-functional trading platform for traders, hedge fund managers and social traders offering FX, Indices, Commodities, Bond, Stocks and Exchange Traded Funds.
      
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/main-5.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/new_trade/item1.png", alt="icon")
          span A provider of technology for multi-asset class execution, connectivity, aggregation, distribution and hub.  

      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/main-2.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/trade_mark/trade-2.svg", alt="icon")
          span A multi-asset trading platform developed by DevExperts supporting trading equities, ETFs, futures, options, Forex, Commoditiies, CFDs and cryptocurrencies. 
      
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/new_margin.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/trade_mark/trade-4.png", alt="icon")
          span A platform combining the features of margin and spot trading in one system powered by B2Broker.

      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/main-3.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/trade_mark/trade-3.svg", alt="icon").castom
          span A matching engine platform for exchanges developed by B2Broker that powers up the world's best-known exchanges.
      
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/ctrader.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/trade_mark/new_ctrader.png", alt="icon")
          span A complete trading platform solution packed with a full range of features to cater to each and every investment preference imaginable. 
      
      

  .container
    .flex_block
      div.item
        img(src="images/new_trade/item1.png", alt="icon", style="max-width:140px")
      div.item
        img(src="images/new_trade/item2.png", alt="icon", style="max-width:148px")
      div.item
        img(src="images/new_trade/item3.png", alt="icon", style="max-width:144px")
      div.item
        img(src="images/new_trade/item4.png", alt="icon", style="max-width:133px")
      div.item
        img(src="images/new_trade/item5.png", alt="icon", style="max-width:131px")
      div.item
        img(src="images/new_trade/item6.png", alt="icon", style="max-width:195px")
      div.item
        img(src="images/new_trade/item7.png", alt="icon", style="max-width:111px")
      div.item
        img(src="images/new_trade/item8.png", alt="icon", style="max-width:166px")
      div.item
        img(src="images/new_trade/item9.png", alt="icon", style="max-width:125px")
      div.item
        img(src="images/new_trade/item10.png", alt="icon", style="max-width:92px")
      div.item
        img(src="images/new_trade/item11.png", alt="icon", style="max-width:144px")
      div.item
        img(src="images/new_trade/item12.png", alt="icon", style="max-width:125px")
      div.item
        img(src="images/new_trade/item13.png", alt="icon", style="max-width:130px")
      div.item
        img(src="images/new_trade/item14.png", alt="icon", style="max-width:140px")
      div.item
        img(src="images/new_trade/item15.png", alt="icon", style="max-width:93px")
      div.item
        img(src="images/new_trade/item16.png", alt="icon", style="max-width:146px")
    .big_text and #[span(class="extrabold") any other trading platforms via FIX API]
    .little_text integration in just 14 days
        

      