.section-6.goanim.an
  .container
    .section__title #[span(class="section__title--bold") Compare] PoP Liquidity with others
    .main-text We have solid experience of working with the best liquidity providers and our effectiveness has stood the test of time, proven by multi-billion dollar turnovers. 
    .table_wrapper
      table.table
        thead
          tr
            td
              span
            td.dark_gray
              span Single LP
            td.gray
              span Several LPs
            td.dark_gray
              span Prime of Prime 
        tbody
          tr
            td
              span Single Margin Account Model
            td
              +icon('close')
            td
              +icon('close')
            td
              +icon('bold_check')
          tr
            td
              span Simple Risk Management System
            td
              +icon('bold_check')
            td
              +icon('close')
            td
              +icon('bold_check')
          tr
            td
              span Multiple types of liquidity
            td
              +icon('bold_check')
            td
              +icon('bold_check')
              span.line /
              +icon('close')
            td
              +icon('bold_check')
          tr
            td
              span Agregated liquidity in one stream
            td
              +icon('bold_check')
            td
              +icon('close')
            td
              +icon('bold_check')
          tr
            td
              span Full Netting System
            td
              +icon('bold_check')
            td
              +icon('close')
              span.line /
              +icon('bold_check')
            td
              +icon('bold_check')
          tr
            td
              span Single Margin Requirements
            td
              +icon('bold_check')
            td
              +icon('close')
            td
              +icon('bold_check')
          tr
            td
              span Single comission Structure payments
            td
              +icon('bold_check')
            td
              +icon('close')
              span.line /
              +icon('bold_check')
            td
              +icon('bold_check')
          tr
            td
              span Competitve Spreads and volumes
            td
              +icon('bold_check')
            td
              +icon('close')
            td
              +icon('bold_check')
          tr
            td
              span Realible liquidity stream with multiple backups
            td
              +icon('bold_check')
            td
              +icon('close')
            td
              +icon('bold_check')
          tr
            td
              span Protection against changes in trading conditions
            td
              +icon('bold_check')
            td
              +icon('close')
            td
              +icon('bold_check')
          tr
            td
              span Risk counterparty
            td
              span.upp HIGH
            td
              span.upp MEDIUM
            td
              span.upp LOW