.section-13.goanim.an
  .section__title Get connected in #[span(class="section__title--bold") 5 minutes]
  .main-text Gain access to the deepest institutional liquidity pools in the industry in just a few minutes! We're already integrated with multiple trading platforms and bridge providers.
  .mac_slider
    .mac_slider--slick
      .mac_slider--slick-item.castom
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/main-1.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/trade_mark/trade-1.png", alt="icon")
          span Most popular platform for fx trading 
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/main-2.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/trade_mark/trade-2.png", alt="icon")
          span A financial technology provider with cutting-edge aggregation software, ultra-low latency, connectivity and institutional grade hosting solutions. 
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/main-3.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/trade_mark/trade-3.png", alt="icon").castom
          span A multi-functional trading platform for traders, hedge fund managers and social traders offering FX, Indices, Commodities, Bond, Stocks and Exchange Traded Funds.
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/main-4.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/trade_mark/trade-4.png", alt="icon")
          span A complete trading platform solution packed with a full range of features to cater to each and every investment preference imaginable. 
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/main-5.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/trade_mark/trade-5.png", alt="icon")
          span A matching engine platform for exchanges developed by B2Broker that powers up the world's best-known exchanges.  
      .mac_slider--slick-item
        .mac_slider--slick-item--main_img
          img(src="images/trade_mark/main-6.png", alt="mac")
        .mac_slider--slick-item--sup
          img(src="images/trade_mark/trade-6.png", alt="icon")
          span Most popular platform for fx trading 
  .container
    .flex_block
      a(href="#")
        img(src="images/mark/icon-1.png", alt="icon")
      a(href="#")
        img(src="images/mark/icon-2.png", alt="icon")
      a(href="#")
        img(src="images/mark/icon-3.png", alt="icon")
      a(href="#")
        img(src="images/mark/icon-4.png", alt="icon")
      a(href="#")
        img(src="images/mark/icon-5.png", alt="icon")
      a(href="#")
        img(src="images/mark/icon-6.png", alt="icon")
      a(href="#")
        img(src="images/mark/icon-7.png", alt="icon")
      a(href="#")
        img(src="images/mark/icon-8.png", alt="icon")
      a(href="#")
        img(src="images/mark/icon-9.png", alt="icon")
      a(href="#")
        img(src="images/mark/icon-10.png", alt="icon")
      a(href="#")
        img(src="images/mark/icon-11.png", alt="icon")
      a(href="#")
        img(src="images/mark/icon-12.png", alt="icon")
      a(href="#")
        img(src="images/mark/icon-13.png", alt="icon")
      a(href="#")
        img(src="images/mark/icon-14.png", alt="icon")
    .big_text and #[span(class="extrabold") any other trading platforms]
    .little_text integration in just 14 days
        

      