.section-17.goanim.an
  .container
    .section__title Your #[span(class="section__title--bold") benefits]
    .box_catalog
      .box_block
        .box_block--title 24/7 Technical Support
        .box_block--text Our professional and helpful technical support team is on#[span(class="db")] hand 24/7 to deal with customer enquiries whenever the need arises.
      .box_block
        .box_block--title Tutorials and Materials
        .box_block--text B2Broker is committed to working alongside its clients to#[span(class="db")] ensure ultimate user satisfaction. An extensive range of#[span(class="db")] tutorials and materials is available to assist with all#[span(class="db")] technical aspects.
      .box_block
        .box_block--title Major Languages Supported
        .box_block--text Our knowledgeable and friendly customer service team#[span(class="db")]can assist you in 8 languages including English, Russian,#[span(class="db")] Chinese, Farsi, Hindi, Spanish, Arabic and Urdu.
      .box_block
        .box_block--title Deposits and Withdrawals
        .box_block--text A wide variety of deposit and withdrawal methods are available including bank wire transfer, a range of popular credit/debit cards, crypto payments and EMIs.
      .box_block
        .box_block--title Education  
        .box_block--text Education is an all-important part of our service. We offer a variety of training materials including videos and demos to#[span(class="db")] help our clients understand the business.
      .box_block
        .box_block--title Product Manager
        .box_block--text Our product managers are deeply knowledgeable about our technical solutions and are there to assist our clients with#[span(class="db")] any specific enquiries.
      .box_block
        .box_block--title Multiple Jurisdictions
        .box_block--text B2Prime project powered by B2Broker is multi-regulated. As#[span(class="db")] a global liquidity provider we making steps towards having#[span(class="db")] a presence in all significant jurisdications.
      .box_block
        .box_block--title Account Manager
        .box_block--text All our clients are assigned a personal account manager#[span(class="db")] who is always on hand to answer questions and deal  with#[span(class="db")] all their requirements.

      
