.section-3.section.section-3__forex
  .container.goanim.an
    .section__title #[span(class="section__title--bold") Forex] Liquidity
    span.main-text  B2Broker offers direct market access to major Tier-1 FX liquidity venues, empowering your business with incomparable levels of technology, the deepest liquidity pool, speed of execution and professional support with full transparency and trading anonymity at ultra-competitive trading costs. 

    span.main-text With our liquidity solutions, we are able to provide financial institutions highly developed liquidity access, infrastructure and connectivity choices necessary to handle even the most complex HFT systems. Using our expertise and technology, we deliver customized liquidity solutions tailored to our clients’ exact execution needs.
    .number_block
      .number_block-content
        .number_block--text Spreads from
        .number_block--number 0

      .number_block-content
        .number_block--text Margin Requirements
        .number_block--number 1
          span.number_block--number-text %

      .number_block-content
        .number_block--text Trading hours
        .number_block--number 24/5

      .number_block-content
        .number_block--text Liquidity venues
        .number_block--number 7
        
      .number_block-content
        .number_block--text technical Support
        .number_block--number 24/7