.section-6.goanim.an
  .container
    .section__title #[span(class="section__title--bold") Compare] Prime of Prime Liquidity #[span(class="section__title--bold") with others]
    .main-text We have solid experience of working with Tier-1 liquidity providers and our effectiveness has stood#[span(class="db")] the test of time, proven by multi-billion dollar turnovers. 
    .table_wrapper
      table.table
        thead
          tr
            td.gray
              span Features
            td.gray
              span Single LP
            td.gray
              span Prime of Prime 
            td.gray
              span Several LPs
        tbody
          tr
            td
              span Single margin account model
            td
              +icon('bold_check')
            td
              +icon('bold_check')
            td
              +icon('close')
          tr
            td
              span Simple risk management system
            td
              +icon('bold_check')
            td
              +icon('bold_check')
            td
              +icon('close')
          tr
            td
              span Multiple types of liquidity
            td
              +icon('close')
            td
              +icon('bold_check')
            td
              +icon('bold_check')
          tr
            td
              span Aggregated liquidity in one stream
            td
              +icon('close')
            td
              +icon('bold_check')
            td
              +icon('bold_check')
          tr
            td
              span Full netting system
            td
              +icon('bold_check')
            td
              +icon('bold_check')
            td
              +icon('close')
          tr
            td
              span Single margin requirements
            td
              +icon('bold_check')
            td
              +icon('bold_check')
            td
              +icon('close')
          tr
            td
              span Single commission structure payments
            td
              +icon('bold_check')
            td
              +icon('bold_check')
            td
              +icon('close')
          tr
            td
              span Competitive spreads and volumes
            td
              +icon('close')
            td
              +icon('bold_check')
            td
              +icon('bold_check')
          tr
            td
              span Reliable liquidity stream with multiple backups
            td
              +icon('close')
            td
              +icon('bold_check')
            td
              +icon('bold_check')
          tr
            td
              span Protection against changes in trading conditions
            td
              +icon('close')
            td
              +icon('bold_check')
            td
              +icon('bold_check')
          tr
            td
              span Risk counterparty
            td
              span.upp HIGH
            td
              span.upp LOW
            td
              span.upp MEDIUM