.section.dark_style
    .container
        .section__title Settlement
        .section__subtitle Wire transfers in USD, EUR, GBP is available via SWIFT, SEPA  and Faster Payments #[span(class="db")]together with settlements in major cryptos and stable coins.
        img.banner(src="images/settlement.png", alt="img")