div(class="modal-fancy" id="modal4" style="display:none")
    .snx__container
        .svg_container
            +icon('bold_check')
        .snx__title Thanks for request
        .snx__subtitle We will contact you shortly