.container
    .liquidity-widget__list
        .flex-row
            .liquidity-widget__item.list-active
                a(href="#")
                    .liquidity-widget__currency BTC / USD
                    .liquidity-widget__price 3,821.2
                    .liquidity-widget__percents.up +1.07%
            .liquidity-widget__item
                a(href="#")
                    .liquidity-widget__currency ETH/EUR
                    .liquidity-widget__price 111.24
                    .liquidity-widget__percents.up +6.07%
            .liquidity-widget__item
                a(href="#")
                    .liquidity-widget__currency XRP/USDT
                    .liquidity-widget__price 0.305724
                    .liquidity-widget__percents.up +2.34%
            .liquidity-widget__item
                a(href="#")
                    .liquidity-widget__currency LTC/B2BX
                    .liquidity-widget__price 239.9444
                    .liquidity-widget__percents.down -4.09%