/*footer*/

.footer {
    background-color: #1e1e1e;
    padding-bottom: 57px;
    &-top-row {
        display: flex;
        justify-content: space-between;
        padding-top: 35px;
        padding-bottom: 35px;
        &__copy {
            color: #9DAFBD;
        }
        &>div {
            width: 33.3333%;
        }
        &-social {
            display: flex;
            max-width: 150px;
            a {
                width: 21px;
                height: 21px;
                border-radius: 50%;
                background: #474747;
                margin-right: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &-search {
            margin-right: auto;
            &__input {
                background: transparent;
                color: #bbbbbb;
                border: 0;
                width: 240px;
                display: inline-block;
                vertical-align: middle;
            }
            &__button {
                display: inline-block;
                vertical-align: middle;
                width: 21px;
                height: 21px;
                background: transparent;
                cursor: pointer;
                border: 0;
                outline: none;
                padding: 0;
            }
        }
    }
    &-menu {
        margin-top: 40px;
        padding-bottom: 40px;
        .menu {
            flex-wrap: wrap;
            justify-content: flex-start;
            li {
                width: 25%;
                margin-bottom: 20px;
                padding-left: 10px;
                box-sizing: border-box;
                font-size: 14px;
                a {
                    color: #ECECEC;
                }
            }
        }
    }
    &-text {
        margin-top: 35px;
        p {
            margin-bottom: 15px;
            font-weight: 300;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: -0.318182px;
            color: rgba(157, 175, 189, 0.5);
        }
    }
    &-bottom-menu {
        margin-top: 78px;
        .menu {
            justify-content: flex-start;
            li {
                width: auto;
                min-width: 125px;
                padding-right: 20px;
                a {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 36px;
                    /* or 257% */
                    letter-spacing: -0.5px;
                    color: #FFFFFF;
                    opacity: 0.5;
                    text-decoration: underline;
                }
            }
        }
    }
    .footer-bottom--logo {
        max-width: 121px;
        margin-top: 41px;
        img {
            display: block;
            width: 100%;
        }
    }
}

@media screen and (max-width:1080px) {
    .footer-bottom--logo {
        margin: 0 auto;
        margin-top: 40px;
    }
    .footer-menu-section {
        padding-top: 50px;
    }
    .footer-top-row {
        flex-wrap: wrap;
        &>div {
            min-width: 300px;
            margin: 0 auto;
            margin-top: 10px;
            text-align: center;
            justify-content: center;
        }
    }
    .footer-menu {
        .menu {
            text-align: center;
            flex-wrap: wrap;
            justify-content: center;
            li {
                min-width: 120px;
                padding-left: 0;
            }
        }
    }
    .footer-menu-section-flex {
        flex-wrap: wrap;
    }
    .footer-menu-section-flex__item {
        min-width: 290px;
    }
    .footer-bottom-menu .menu {
        flex-wrap: wrap;
        li {
            margin-bottom: 10px;
            min-width: 210px;
        }
    }
    .footer-text p {
        text-align: center;
    }
}