/*footer*/
footer {
    font-size: 0;
    background: $background_black;
    padding-bottom: 40px;
    margin-top: 90px;
}
footer .content {
    position: relative;
}
footer .top {
    padding: 25px 0;
    margin-bottom: 30px;
    background: #1F232F;
}
footer .top .top-title {
    font-size: 18px;
    font-weight: 800;
    font-family: 'OpenSans-ExtraBold';
    line-height: 1;
    padding: 20px 10px;
    display: inline-block;
    vertical-align: middle;
}
footer .top img {
    padding: 20px 10px 20px 65px;
    display: inline-block;
    vertical-align: middle;
}
footer .clmn {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
}
footer .clmn.clmn-pad {
    padding-bottom: 100px;
}
footer .clmn .title {
    font-size: 15px;
    font-weight: bold;
    font-family: 'OpenSans-Bold';
    padding: 10px;
}
footer .clmn ul {
    padding: 5px 10px;
}
footer .clmn ul li {
}
footer .clmn ul li a {
    color: $white;
    font-size: 13px;
    position: relative;
    padding: 5px 0;
    display: inline-block;
    transition: 0.25s ease;
}
footer .clmn ul li a:hover {
    color: $main;
    transition: 0.15s;
}
footer .clmn ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: $main;
    transition: 0.25s ease;
}
footer .clmn ul li a:hover:before {
    width: 100%;
}
footer .clmn p {
    color: #666971;
    font-size: 12px;
    line-height: 1.1;
    padding: 10px;
}
footer .clmn p.p-uniq {
    padding: 42px 10px 15px;
}
footer .clmn p.cprt {
    color: $white;
    font-size: 12px;
    line-height: 1.1;
}
footer .clmn p span {
    color: $main;
}
footer .soc a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    z-index: 0;
}
footer .soc a:before {
    content: "";
    position: absolute;
    top: -100px;
    left: -100px;
    right: -100px;
    bottom: -100px;
    width: 60px;
    height: 60px;
    margin: auto auto;
    border-radius: 100%;
    border: 1px solid $main;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.25s ease;
}
footer .soc a:hover:before {
    opacity: 1;
    visibility: visible;
    width: 45px;
    height: 45px;
    transition: 0.05s;
}
footer .img {
    padding: 100px 10px;
}
footer .logo {
    position: absolute;
    left: 20px;
    bottom: 30px;
    display: inline-block;
}
/*adaptive*/
@media (max-width: 1450px) {
    .s1 h1 {
        font-size: 60px;
    }
}
@media (max-width: 1200px) {
    h2 {
        font-size: 30px;
    }
    .s2 {
        padding: 60px 0 0;
    }
    .s3:before {
        background-size: 100% 100%;
    }
    .s-boxes .content {
        padding: 0 10px;
    }
    .s-boxes .inner-block {
        padding: 10px;
    }
    .s-boxes .preicons-block {
        padding-bottom: 0;
    }
    .s-boxes .flex-inner-box {
        margin: 10px;
    }
    .s-boxes .inner h2 br,
    .s-boxes .inner p br {
        display: none;
    }
    .s-boxes .inner p.inline-block {
        display: block;
        padding: 10px 0;
    }
    .s-boxes .inner .over-info {
        font-size: $small-font;
        padding: 15px 25px;
        border-radius: 6px 0px 6px;
    }
    .s-boxes .bot-img img {
        top: 0;
        bottom: 0;
        max-height: 70%;
    }
    .s-boxes .bot-img img:first-child {
        left: -150px;
        bottom: 0;
        max-height: 55%;
    }
    .s-boxes .bot-img img:last-child {
        right: -150px;
        bottom: 0;
        max-height: 55%;
    }
    .s-boxes .inner {
        padding: 40px;
    }
    .s-boxes .inner-block .flex-inner-box .inner {
        padding: 40px;
    }
    .s-boxes .icons-block {
        padding: 0 10px 10px;
    }
    .s-boxes .icons-block:before {
        left: 10px;
        right: 10px;
    }
    .s-boxes .icons-block .inner {
        padding: 0 0 50px 10px;
    }
    .s-boxes .row {
        margin: 10px;
    }
    .s-news .flex-inner-box {
        padding: 10px;
    }
    .s-news .inner {
        min-height: 260px;
        padding: 40px 30px 70px 30px;
    }
    .s-news .inner .date {
        font-size: 16px;
    }
    .s-news .inner h4 {
        font-size: 18px;
    }
    .s-news .inner .rm {
        font-size: $small-font;
        right: 40px;
        bottom: 20px;
    }
    footer {
        margin-top: 60px;
    }
    footer .top img {
        padding: 20px 30px;
    }
}
@media (max-width: 1000px) {
    header nav li span,
    header nav li a {
        padding: 10px;
    }
    .s-boxes .row label {
        display: block;
        margin: 0 auto;
        max-width: 400px;
    }
    .s-news .inner {
        min-height: inherit;
    }
}
@media (max-width: 768px) {
    .s1:before {
        height: 84vh;
    }
    .s1 h1 {
        font-size: 40px;
        padding: 20px 10px;
    }
    .s1 .buttons {
        padding: 0 10px;
    }
    header .mob-header {
        display: block;
    }
    header .mob-header .logo {
        padding: 5px 10px;
        width: 130px;
    }
    header .header-block {
        border-top: 1px solid $main;
        top: auto;
        bottom: -100%;
        height: 100%;
        background: rgba(18,18,18,0.9);
        overflow: auto;
        transition: 0.5s ease;
    }
    header.active .header-block {
        bottom: 0;
    }
    header .header-block:after {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        max-width: 1920px;
        background: url(../images/s1-over.png) no-repeat bottom center;
        background-size: 100%;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        animation: pulse 4s infinite ease;
        transition: 0.25s ease;
    }
    header.active .header-block:after {
        opacity: 1;
        visibility: visible;
    }
    header .header-block nav {
        text-align: left;
        position: relative;
        padding: 20px 0;
    }
    header .header-block nav > ul {
        display: block;
    }
    header .header-block nav li {
        display: block;
    }
    header nav li span,
    header nav li a {
        padding: 20px 10px 10px;
    }
    header .header-block .rbox {
        right: 0;
    }
    header nav.rbox li ul {
        width: 100%;
    }
    header nav li ul,
    header nav li:hover ul {
        position: relative;
        top: 0;
        width: 100%;
        border-radius: 0;
        padding: 0;
        transform: none;
        background: rgba(69,69,79,0.7);
    }
    header nav li.active ul {
        padding: 10px 0;
        margin: 0 10px;
        width: auto;
        opacity: 1;
        visibility: visible;
    }
    header nav li ul a,
    header nav li:hover ul a {
        font-size: 0;
        padding: 0;
    }
    header nav li.active ul a {
        font-size: $small-font;
        padding: 10px 25px;
        width: 100%;
        display: block;
    }
    header nav li ul img {
        height: 0;
    }
    header nav li.active ul img {
        height: auto;
    }
    header .login {
        margin-top: 30px;
    }
    header .header-block .progress-line {
        display: none;
    }
    /*brgr*/
    header .brgr {
        position: fixed;
        top: 5px;
        right: 0;
        padding: 10px;
        width: 49px;
        height: 49px;
        margin: 0 10px;
        background: rgba(24,28,39,0.5);
        border-radius: 6px;
        cursor: pointer;
        opacity: 1;
        z-index: 11;
        transition: 0.35s ease;
    }
    header.active .brgr {
        padding: 20px 10px;
        width: 49px;
        height: 69px;
        background: none;
    }
    header .brgr .line {
        position: relative;
        height: 7px;
        width: 100%;
        margin: 4px auto;
        background: $main;
        border-radius: 15px;
        transition: 0.35s ease;
    }
    header.active .brgr .line {
        width: 0;
        background: $main;
    }
    header .brgr .line:first-child {
        top: 0;
        margin: 0;
        transform: rotateZ(0deg);
    }
    header.active .brgr .line:first-child {
        width: 100%;
        top: 11px;
        transform: rotateZ(-45deg);
    }
    header .brgr .line:last-child {
        bottom: 0;
        margin: 0;
        transform: rotateZ(0deg);
    }
    header.active .brgr .line:last-child {
        width: 100%;
        bottom: 11px;
        transform: rotateZ(45deg);
    }
    .flex {
        display: block;
    }
    .s-boxes .flex {
        padding: 0 10px;
    }
    .s-boxes .inner-block {
        padding: 0;
    }
    .s-boxes .flex-inner-box {
        min-height: inherit;
        display: inline-block;
        width: 100%;
        margin: 10px 0;
    }
    .s-boxes .inner-block .flex-inner-box {
        margin: 10px 0;
    }
    .s-boxes .inner {
        padding: 60px 40px;
    }
    .s-boxes .inner-block .flex-inner-box .inner {
        padding: 60px 40px;
    }
    .s-boxes .inner .over-info {
        font-size: 13px;
        padding: 10px 20px;
    }
    .s-boxes .icons-block {
        padding: 10px;
    }
    .s-boxes .icons-block .inner {
        text-align: center;
        padding: 20px;
    }
    .s-boxes .icons-block img {
        margin: 20px;
    }
    .s-boxes .icons-block .text {
        padding: 20px;
    }
    .s-boxes .row h3 {
        font-size: 24px;
    }
    .s-boxes .row form {
        padding: 0;
    }
    footer .top {
        text-align: center;
    }
    footer .content > .clmn {
        width: 100%;
    }
    footer .clmn.clmn-pad {
        padding-bottom: 10px;
    }
    footer .logo {
        position: relative;
        left: 0;
        bottom: 0;
        padding: 10px;
    }
    footer .img {
        padding: 40px 10px 10px;
        width: 300px;
    }
    h2 {
        font-size: 24px;
    }
    .s3 {
        padding: 30px 10px;
    }
    .s3 p br {
        display: none;
    }
    .s-boxes {
        padding: 20px 0;
    }
    .s-boxes .row form .done span {
        font-size: 36px;
    }
    .s-news .inner h4 br {
        display: none;
    }
}
@media (max-width: 480px) {
    footer {
        text-align: center;
    }
    footer .clmn {
        width: 100%;
    }
    footer .img {
        margin: 0 auto;
    }
    .s3 h2 {
        font-size: 20px;
    }
}
/*adaptive H*/
@media (max-height: 580px) {
    .s1 .content {
        padding: 90px 0;
    }
    .s1 h1 {
        font-size: 30px;
    }
    .s1 .btn {
        margin: 10px;
    }
}
/*preloader*/
.preloader {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $background_black;
    z-index: 100;
}
.preloader:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.preloader .img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 300px;
}
.preloader .cls-1 {
    opacity: 1;
    stroke: $white;
    fill: none;
    stroke-dasharray: 650;
    animation: logo 2.7s linear infinite;
}
@keyframes logo {
    0% {
        fill: rgba(255,255,255,0);
        stroke: rgba(255,255,255,1);
        stroke-dashoffset: -200;
    }
    75% {
        fill: rgba(255,255,255,0);
        stroke: rgba(255,255,255,1);
        stroke-dashoffset: 0;
    }
    80% {
        fill: rgba(255,255,255,1);
        stroke: rgba(255,255,255,1);
        stroke-dashoffset: 0;
    }
    95% {
        fill: rgba(255,255,255,0);
        stroke: rgba(255,255,255,1);
        stroke-dashoffset: -150;
        opacity: 1;
    }
    100% {
        fill: rgba(255,255,255,0);
        stroke: rgba(255,255,255,1);
        stroke-dashoffset: -150;
        opacity: 0;
    }
}
.preloader .cls-2 {
    animation: logo 2.7s linear infinite;
}
@keyframes logos {
    0% {
        fill: rgba(76,174,137,0);
        stroke: rgba(76,174,137,1);
        stroke-dashoffset: -350;
    }
    75% {
        fill: rgba(76,174,137,0);
        stroke: rgba(76,174,137,1);
        stroke-dashoffset: 0;
    }
    80% {
        fill: rgba(76,174,137,1);
        stroke: rgba(76,174,137,1);
        stroke-dashoffset: 0;
    }
    95% {
        fill: rgba(76,174,137,0);
        stroke: rgba(76,174,137,1);
        stroke-dashoffset: -150;
        opacity: 1;
    }
    100% {
        fill: rgba(76,174,137,0);
        stroke: rgba(76,174,137,1);
        stroke-dashoffset: -150;
        opacity: 0;
    }
}