.flex-row
    .news__item(style="background-image:url(images/main/news1.jpg);")
        .news__wrapper
            .news__date March 23 | 2019
            .news__text SAFETY AND LEGALITY ARE PARAMOUNT
            a(href="#").news__link READ MORE
    .news__item(style="background-image:url(images/main/news2.jpg);")
        .news__wrapper
            .news__date March 23 | 2019
            .news__text SAFETY AND LEGALITY ARE PARAMOUNT
            a(href="#").news__link READ MORE