.forex_liquidity__new__b2_merchants {
  .trading__flex {
    margin-top: 74px;
    width: 100%;
    justify-content: space-between;

    .check_block--mam_platform-item {
      margin: 0;
    }
  }
}
