.events_screen.section.section__have_filter(style="background-image: url(images/events/screen1.png);")
    .container
        .section__title.section__title--bold Events
        .section__subtitle Follow our busy events schedule and keep track of our#[span(class="db")] whereabouts as we participate in many high-profile industry#[span(class="db")] expos across the globe.
        .section__subtitle.bold If you’re nearby, come and meet us! 

.filter
    .container
        .filter__wrapper
            select.filter__item
                option.filter__content_item(value="1", selected) All Topics
                option.filter__content_item(value="2") Future Events
                option.filter__content_item(value="3") Previous Events
            
            select.filter__item
                option.filter__content_item(value="1", selected) All Themes
                option.filter__content_item(value="2") FOREX 
                option.filter__content_item(value="3") Payments
            
            select.filter__item.scroll__list
                option.filter__content_item(value="1", selected) All Years
                option.filter__content_item(value="2") 2020
                option.filter__content_item(value="3") 2019
                option.filter__content_item(value="4") 2018
                option.filter__content_item(value="5") 2017
                option.filter__content_item(value="6") 2016
                option.filter__content_item(value="7") 2015
                option.filter__content_item(value="8") 2014
                option.filter__content_item(value="9") 2013