.section.b2_frame.team_frame
    .container
        .section__title Click to #[span(class="section__title--bold") watch]

        .video_block
            .video_block--preview
                img(src="images/team/watch.png", alt="video_previw").image_preview
                img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
                .video--time 2:03
            <iframe  src="https://www.youtube.com/embed/1zO-fE7Bk8A" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .video_description B2Broker Employees Descend on St Petersburg for Company Training
        .video_subdescription B2Broker embarked on a full day’s intensive training course for its employees who all arrived at Yasnaya Polyana, a hi-tech St Petersburg co-working space, for a series of educational, technical and practical presentations. The presentations were designed to bring everyone up to date on the company’s range of products and services and included discussion sessions and inter-departmental meetings.