.section.section__blue.gen__section
    .container
        .gen_block
            .gen_block__title General Management
            .gen_block__subtitle B2Broker’s management team brings strong leadership and solid#[span(class="db")] industry expertise to the company.
            .gen_block__content
                .gen_block__item
                    img.gen_block__image(src="images/team/icon1.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.linkedIn(href="#")
                            <svg  width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 20.4648C15.5228 20.4648 20 15.9877 20 10.4648C20 4.942 15.5228 0.464844 10 0.464844C4.47715 0.464844 0 4.942 0 10.4648C0 15.9877 4.47715 20.4648 10 20.4648ZM6.14878 14.4648V8.45172H8.0156V14.4648H8.01279H6.14878ZM7.08079 7.63047C6.48284 7.63047 6 7.14391 6 6.54766C6 5.95141 6.48284 5.46484 7.08079 5.46484C7.67592 5.46484 8.16157 5.95141 8.16157 6.54766C8.16157 7.14672 7.67873 7.63047 7.08079 7.63047ZM15 14.4648H13.136V11.5398C13.136 10.8423 13.122 9.94516 12.1675 9.94516C11.1962 9.94516 11.0474 10.7045 11.0474 11.4892V14.4648H9.18341V8.45172H10.9716V9.27297H10.9969C11.2467 8.80047 11.8559 8.30266 12.7626 8.30266C14.6491 8.30266 15 9.54859 15 11.1686V14.4648Z" fill="#454545"/>
                            </svg>
                            span LinkedIn
                    .gen_block__name Arthur Azizov
                    .gen_block__team Founder and CEO
                    .gen_block__description Responsible for products, projects and partnerships
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon2.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.linkedIn(href="#")
                            <svg  width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 20.4648C15.5228 20.4648 20 15.9877 20 10.4648C20 4.942 15.5228 0.464844 10 0.464844C4.47715 0.464844 0 4.942 0 10.4648C0 15.9877 4.47715 20.4648 10 20.4648ZM6.14878 14.4648V8.45172H8.0156V14.4648H8.01279H6.14878ZM7.08079 7.63047C6.48284 7.63047 6 7.14391 6 6.54766C6 5.95141 6.48284 5.46484 7.08079 5.46484C7.67592 5.46484 8.16157 5.95141 8.16157 6.54766C8.16157 7.14672 7.67873 7.63047 7.08079 7.63047ZM15 14.4648H13.136V11.5398C13.136 10.8423 13.122 9.94516 12.1675 9.94516C11.1962 9.94516 11.0474 10.7045 11.0474 11.4892V14.4648H9.18341V8.45172H10.9716V9.27297H10.9969C11.2467 8.80047 11.8559 8.30266 12.7626 8.30266C14.6491 8.30266 15 9.54859 15 11.1686V14.4648Z" fill="#454545"/>
                            </svg>
                            span LinkedIn
                    .gen_block__name Evgeniya Mykulyak
                    .gen_block__team COO
                    .gen_block__description General Management
        
        .gen_block
            .gen_block__title Top-management 
            .gen_block__subtitle B2Broker’s top management comprises a team of renowned#[span(class="db")] experts in their specific fields.
            .gen_block__content
                .gen_block__item
                    img.gen_block__image(src="images/team/icon3.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail
                    .gen_block__name Pavel Manzhosov
                    .gen_block__team Head of Legal Department
                    .gen_block__description Legal processes management
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon4.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail
                    .gen_block__name John Murillo
                    .gen_block__team Head of Dealing Division
                    .gen_block__description Dealing desks
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon5.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail
                    .gen_block__name Vlad Posivenko
                    .gen_block__team Head of Development
                    .gen_block__description Head of IT
        
        .gen_block
            .gen_block__title Business development
            .gen_block__subtitle B2Broker’s team of multinational business specialists operate #[span(class="db")] across the globe.
            .gen_block__content
                .gen_block__item
                    img.gen_block__image(src="images/team/icon6.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail
                        a.gen_block__link.skype(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.1111 9.75201L9.73599 9.44684C9.21292 9.32767 8.61081 9.1702 8.61081 8.67703C8.61081 8.1828 9.03317 7.83749 9.79565 7.83749C11.3324 7.83749 11.192 8.89355 11.9549 8.89355C12.3564 8.89355 12.7078 8.6575 12.7078 8.25162C12.7078 7.3045 11.192 6.59375 9.90613 6.59375C8.51025 6.59375 7.02374 7.18655 7.02374 8.76538C7.02374 9.52573 7.29535 10.3346 8.79163 10.7098L10.6495 11.1737C11.2118 11.3122 11.3525 11.6285 11.3525 11.9139C11.3525 12.3884 10.8812 12.852 10.0273 12.852C8.35934 12.852 8.59082 11.5684 7.69696 11.5684C7.29535 11.5684 7.00391 11.8451 7.00391 12.2398C7.00391 13.0095 7.93835 14.0365 10.0273 14.0365C12.0147 14.0365 12.9995 13.0786 12.9995 11.7956C12.9995 10.9672 12.6176 10.0877 11.1111 9.75201Z" fill="#454545"/>
                                <path d="M10 0.464844C4.478 0.464844 0 4.94284 0 10.4648C0 15.9868 4.478 20.4648 10 20.4648C15.522 20.4648 20 15.9868 20 10.4648C20 4.94284 15.522 0.464844 10 0.464844ZM15.2065 15.6565C14.549 16.3143 13.6752 16.6758 12.7457 16.6758C12.1436 16.6758 11.554 16.5192 11.0332 16.2246C10.6952 16.2845 10.349 16.3161 10.0035 16.3161C9.20975 16.3161 8.43948 16.1605 7.71484 15.8533C7.01416 15.5579 6.38565 15.1336 5.84534 14.5936C5.30563 14.0537 4.88174 13.4252 4.58588 12.7248C4.27887 11.9997 4.12354 11.2299 4.12354 10.436C4.12354 10.096 4.15405 9.75562 4.21204 9.42252C3.92624 8.90845 3.77411 8.32678 3.77411 7.73489C3.77411 6.80518 4.13635 5.931 4.79355 5.27365C5.45105 4.616 6.32523 4.25391 7.25494 4.25391C7.8244 4.25391 8.38715 4.39597 8.88733 4.66193C8.88824 4.66177 8.88931 4.66177 8.89008 4.66147C9.25476 4.59158 9.62936 4.55634 10.0035 4.55634C10.7971 4.55634 11.5672 4.71182 12.2919 5.01837C12.9918 5.31454 13.6211 5.73843 14.1606 6.27829C14.7009 6.8183 15.1247 7.44711 15.4208 8.14734C15.7278 8.87228 15.8832 9.64224 15.8832 10.436C15.8832 10.7938 15.8495 11.1519 15.7852 11.5018C16.073 12.0179 16.226 12.6015 16.226 13.1954C16.2259 14.1251 15.8641 14.9995 15.2065 15.6565Z" fill="#454545"/>
                            </svg>
                            span Skype
                        a.gen_block__link.linkedIn(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 20.4648C15.5228 20.4648 20 15.9877 20 10.4648C20 4.942 15.5228 0.464844 10 0.464844C4.47715 0.464844 0 4.942 0 10.4648C0 15.9877 4.47715 20.4648 10 20.4648ZM6.14878 14.4648V8.45172H8.0156V14.4648H8.01279H6.14878ZM7.08079 7.63047C6.48284 7.63047 6 7.14391 6 6.54766C6 5.95141 6.48284 5.46484 7.08079 5.46484C7.67592 5.46484 8.16157 5.95141 8.16157 6.54766C8.16157 7.14672 7.67873 7.63047 7.08079 7.63047ZM15 14.4648H13.136V11.5398C13.136 10.8423 13.122 9.94516 12.1675 9.94516C11.1962 9.94516 11.0474 10.7045 11.0474 11.4892V14.4648H9.18341V8.45172H10.9716V9.27297H10.9969C11.2467 8.80047 11.8559 8.30266 12.7626 8.30266C14.6491 8.30266 15 9.54859 15 11.1686V14.4648Z" fill="#454545"/>
                            </svg>
                            span LinkedIn
                    .gen_block__name Alex Kukhtikov
                    .gen_block__team Business Development Teamlead
                    .gen_block__description Business Development for EU and CIS regions
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon7.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail
                        a.gen_block__link.weChat(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10" cy="10.4648" r="10" fill="#454545"/>
                                <path d="M8.49975 5.46484C6.01439 5.46484 4 7.144 4 9.21463C4 10.4086 4.67346 11.4675 5.71815 12.153L5.12494 13.3394L6.7411 12.6472C7.08758 12.7702 7.44756 12.8714 7.83228 12.9187C7.77979 12.6899 7.74979 12.4552 7.74979 12.2145C7.74979 10.1468 9.76792 8.46467 12.2495 8.46467C12.4768 8.46467 12.6988 8.48342 12.9177 8.51042C12.5218 6.77652 10.6956 5.46484 8.49975 5.46484ZM6.99983 8.27719C6.68935 8.27719 6.43736 8.0252 6.43736 7.71472C6.43736 7.40423 6.68935 7.15225 6.99983 7.15225C7.31031 7.15225 7.5623 7.40423 7.5623 7.71472C7.5623 8.0252 7.31031 8.27719 6.99983 8.27719ZM9.99966 8.27719C9.68918 8.27719 9.43719 8.0252 9.43719 7.71472C9.43719 7.40423 9.68918 7.15225 9.99966 7.15225C10.3101 7.15225 10.5621 7.40423 10.5621 7.71472C10.5621 8.0252 10.3101 8.27719 9.99966 8.27719Z" fill="white"/>
                                <path d="M15.9996 12.2137C15.9996 10.557 14.3204 9.21387 12.2498 9.21387C10.1792 9.21387 8.5 10.557 8.5 12.2137C8.5 13.8704 10.1792 15.2135 12.2498 15.2135C12.5903 15.2135 12.9143 15.1655 13.2285 15.0973L15.2496 15.9635L14.5507 14.5663C15.4266 14.0173 15.9996 13.1729 15.9996 12.2137ZM11.1249 12.0262C10.8144 12.0262 10.5624 11.7742 10.5624 11.4637C10.5624 11.1533 10.8144 10.9013 11.1249 10.9013C11.4353 10.9013 11.6873 11.1533 11.6873 11.4637C11.6873 11.7742 11.4353 12.0262 11.1249 12.0262ZM13.3747 12.0262C13.0642 12.0262 12.8123 11.7742 12.8123 11.4637C12.8123 11.1533 13.0642 10.9013 13.3747 10.9013C13.6852 10.9013 13.9372 11.1533 13.9372 11.4637C13.9372 11.7742 13.6852 12.0262 13.3747 12.0262Z" fill="white"/>
                            </svg>
                            span WeChat
                        a.gen_block__link.linkedIn(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 20.4648C15.5228 20.4648 20 15.9877 20 10.4648C20 4.942 15.5228 0.464844 10 0.464844C4.47715 0.464844 0 4.942 0 10.4648C0 15.9877 4.47715 20.4648 10 20.4648ZM6.14878 14.4648V8.45172H8.0156V14.4648H8.01279H6.14878ZM7.08079 7.63047C6.48284 7.63047 6 7.14391 6 6.54766C6 5.95141 6.48284 5.46484 7.08079 5.46484C7.67592 5.46484 8.16157 5.95141 8.16157 6.54766C8.16157 7.14672 7.67873 7.63047 7.08079 7.63047ZM15 14.4648H13.136V11.5398C13.136 10.8423 13.122 9.94516 12.1675 9.94516C11.1962 9.94516 11.0474 10.7045 11.0474 11.4892V14.4648H9.18341V8.45172H10.9716V9.27297H10.9969C11.2467 8.80047 11.8559 8.30266 12.7626 8.30266C14.6491 8.30266 15 9.54859 15 11.1686V14.4648Z" fill="#454545"/>
                            </svg>
                            span LinkedIn
                    .gen_block__name Steve Chow
                    .gen_block__team Head of Business Development for Asian region and Director for Hong Kong office
                    .gen_block__description Management of Business Development and Accounting for Chinese clients
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon8.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail
                        a.gen_block__link.skype(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.1111 9.75201L9.73599 9.44684C9.21292 9.32767 8.61081 9.1702 8.61081 8.67703C8.61081 8.1828 9.03317 7.83749 9.79565 7.83749C11.3324 7.83749 11.192 8.89355 11.9549 8.89355C12.3564 8.89355 12.7078 8.6575 12.7078 8.25162C12.7078 7.3045 11.192 6.59375 9.90613 6.59375C8.51025 6.59375 7.02374 7.18655 7.02374 8.76538C7.02374 9.52573 7.29535 10.3346 8.79163 10.7098L10.6495 11.1737C11.2118 11.3122 11.3525 11.6285 11.3525 11.9139C11.3525 12.3884 10.8812 12.852 10.0273 12.852C8.35934 12.852 8.59082 11.5684 7.69696 11.5684C7.29535 11.5684 7.00391 11.8451 7.00391 12.2398C7.00391 13.0095 7.93835 14.0365 10.0273 14.0365C12.0147 14.0365 12.9995 13.0786 12.9995 11.7956C12.9995 10.9672 12.6176 10.0877 11.1111 9.75201Z" fill="#454545"/>
                                <path d="M10 0.464844C4.478 0.464844 0 4.94284 0 10.4648C0 15.9868 4.478 20.4648 10 20.4648C15.522 20.4648 20 15.9868 20 10.4648C20 4.94284 15.522 0.464844 10 0.464844ZM15.2065 15.6565C14.549 16.3143 13.6752 16.6758 12.7457 16.6758C12.1436 16.6758 11.554 16.5192 11.0332 16.2246C10.6952 16.2845 10.349 16.3161 10.0035 16.3161C9.20975 16.3161 8.43948 16.1605 7.71484 15.8533C7.01416 15.5579 6.38565 15.1336 5.84534 14.5936C5.30563 14.0537 4.88174 13.4252 4.58588 12.7248C4.27887 11.9997 4.12354 11.2299 4.12354 10.436C4.12354 10.096 4.15405 9.75562 4.21204 9.42252C3.92624 8.90845 3.77411 8.32678 3.77411 7.73489C3.77411 6.80518 4.13635 5.931 4.79355 5.27365C5.45105 4.616 6.32523 4.25391 7.25494 4.25391C7.8244 4.25391 8.38715 4.39597 8.88733 4.66193C8.88824 4.66177 8.88931 4.66177 8.89008 4.66147C9.25476 4.59158 9.62936 4.55634 10.0035 4.55634C10.7971 4.55634 11.5672 4.71182 12.2919 5.01837C12.9918 5.31454 13.6211 5.73843 14.1606 6.27829C14.7009 6.8183 15.1247 7.44711 15.4208 8.14734C15.7278 8.87228 15.8832 9.64224 15.8832 10.436C15.8832 10.7938 15.8495 11.1519 15.7852 11.5018C16.073 12.0179 16.226 12.6015 16.226 13.1954C16.2259 14.1251 15.8641 14.9995 15.2065 15.6565Z" fill="#454545"/>
                            </svg>
                            span Skype
                        a.gen_block__link.linkedIn(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 20.4648C15.5228 20.4648 20 15.9877 20 10.4648C20 4.942 15.5228 0.464844 10 0.464844C4.47715 0.464844 0 4.942 0 10.4648C0 15.9877 4.47715 20.4648 10 20.4648ZM6.14878 14.4648V8.45172H8.0156V14.4648H8.01279H6.14878ZM7.08079 7.63047C6.48284 7.63047 6 7.14391 6 6.54766C6 5.95141 6.48284 5.46484 7.08079 5.46484C7.67592 5.46484 8.16157 5.95141 8.16157 6.54766C8.16157 7.14672 7.67873 7.63047 7.08079 7.63047ZM15 14.4648H13.136V11.5398C13.136 10.8423 13.122 9.94516 12.1675 9.94516C11.1962 9.94516 11.0474 10.7045 11.0474 11.4892V14.4648H9.18341V8.45172H10.9716V9.27297H10.9969C11.2467 8.80047 11.8559 8.30266 12.7626 8.30266C14.6491 8.30266 15 9.54859 15 11.1686V14.4648Z" fill="#454545"/>
                            </svg>
                            span LinkedIn
                    .gen_block__name Omar Al-Ali
                    .gen_block__team Business Development Manager
                    .gen_block__description Business Development for India, Arabic and African countries
            
            .gen_block__content
                .gen_block__item
                    img.gen_block__image(src="images/team/icon9.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail
                        a.gen_block__link.skyle(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.1111 9.75201L9.73599 9.44684C9.21292 9.32767 8.61081 9.1702 8.61081 8.67703C8.61081 8.1828 9.03317 7.83749 9.79565 7.83749C11.3324 7.83749 11.192 8.89355 11.9549 8.89355C12.3564 8.89355 12.7078 8.6575 12.7078 8.25162C12.7078 7.3045 11.192 6.59375 9.90613 6.59375C8.51025 6.59375 7.02374 7.18655 7.02374 8.76538C7.02374 9.52573 7.29535 10.3346 8.79163 10.7098L10.6495 11.1737C11.2118 11.3122 11.3525 11.6285 11.3525 11.9139C11.3525 12.3884 10.8812 12.852 10.0273 12.852C8.35934 12.852 8.59082 11.5684 7.69696 11.5684C7.29535 11.5684 7.00391 11.8451 7.00391 12.2398C7.00391 13.0095 7.93835 14.0365 10.0273 14.0365C12.0147 14.0365 12.9995 13.0786 12.9995 11.7956C12.9995 10.9672 12.6176 10.0877 11.1111 9.75201Z" fill="#454545"/>
                                <path d="M10 0.464844C4.478 0.464844 0 4.94284 0 10.4648C0 15.9868 4.478 20.4648 10 20.4648C15.522 20.4648 20 15.9868 20 10.4648C20 4.94284 15.522 0.464844 10 0.464844ZM15.2065 15.6565C14.549 16.3143 13.6752 16.6758 12.7457 16.6758C12.1436 16.6758 11.554 16.5192 11.0332 16.2246C10.6952 16.2845 10.349 16.3161 10.0035 16.3161C9.20975 16.3161 8.43948 16.1605 7.71484 15.8533C7.01416 15.5579 6.38565 15.1336 5.84534 14.5936C5.30563 14.0537 4.88174 13.4252 4.58588 12.7248C4.27887 11.9997 4.12354 11.2299 4.12354 10.436C4.12354 10.096 4.15405 9.75562 4.21204 9.42252C3.92624 8.90845 3.77411 8.32678 3.77411 7.73489C3.77411 6.80518 4.13635 5.931 4.79355 5.27365C5.45105 4.616 6.32523 4.25391 7.25494 4.25391C7.8244 4.25391 8.38715 4.39597 8.88733 4.66193C8.88824 4.66177 8.88931 4.66177 8.89008 4.66147C9.25476 4.59158 9.62936 4.55634 10.0035 4.55634C10.7971 4.55634 11.5672 4.71182 12.2919 5.01837C12.9918 5.31454 13.6211 5.73843 14.1606 6.27829C14.7009 6.8183 15.1247 7.44711 15.4208 8.14734C15.7278 8.87228 15.8832 9.64224 15.8832 10.436C15.8832 10.7938 15.8495 11.1519 15.7852 11.5018C16.073 12.0179 16.226 12.6015 16.226 13.1954C16.2259 14.1251 15.8641 14.9995 15.2065 15.6565Z" fill="#454545"/>
                            </svg>
                            span Skype
                        a.gen_block__link.linkedIn(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 20.4648C15.5228 20.4648 20 15.9877 20 10.4648C20 4.942 15.5228 0.464844 10 0.464844C4.47715 0.464844 0 4.942 0 10.4648C0 15.9877 4.47715 20.4648 10 20.4648ZM6.14878 14.4648V8.45172H8.0156V14.4648H8.01279H6.14878ZM7.08079 7.63047C6.48284 7.63047 6 7.14391 6 6.54766C6 5.95141 6.48284 5.46484 7.08079 5.46484C7.67592 5.46484 8.16157 5.95141 8.16157 6.54766C8.16157 7.14672 7.67873 7.63047 7.08079 7.63047ZM15 14.4648H13.136V11.5398C13.136 10.8423 13.122 9.94516 12.1675 9.94516C11.1962 9.94516 11.0474 10.7045 11.0474 11.4892V14.4648H9.18341V8.45172H10.9716V9.27297H10.9969C11.2467 8.80047 11.8559 8.30266 12.7626 8.30266C14.6491 8.30266 15 9.54859 15 11.1686V14.4648Z" fill="#454545"/>
                            </svg>
                            span LinkedIn
                    .gen_block__name Jose Javier De Artime Felpeto
                    .gen_block__team Business Development Manager
                    .gen_block__description Business Development for LATAM countries
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon10.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail
                        a.gen_block__link.weChat(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10" cy="10.4648" r="10" fill="#454545"/>
                                <path d="M8.49975 5.46484C6.01439 5.46484 4 7.144 4 9.21463C4 10.4086 4.67346 11.4675 5.71815 12.153L5.12494 13.3394L6.7411 12.6472C7.08758 12.7702 7.44756 12.8714 7.83228 12.9187C7.77979 12.6899 7.74979 12.4552 7.74979 12.2145C7.74979 10.1468 9.76792 8.46467 12.2495 8.46467C12.4768 8.46467 12.6988 8.48342 12.9177 8.51042C12.5218 6.77652 10.6956 5.46484 8.49975 5.46484ZM6.99983 8.27719C6.68935 8.27719 6.43736 8.0252 6.43736 7.71472C6.43736 7.40423 6.68935 7.15225 6.99983 7.15225C7.31031 7.15225 7.5623 7.40423 7.5623 7.71472C7.5623 8.0252 7.31031 8.27719 6.99983 8.27719ZM9.99966 8.27719C9.68918 8.27719 9.43719 8.0252 9.43719 7.71472C9.43719 7.40423 9.68918 7.15225 9.99966 7.15225C10.3101 7.15225 10.5621 7.40423 10.5621 7.71472C10.5621 8.0252 10.3101 8.27719 9.99966 8.27719Z" fill="white"/>
                                <path d="M15.9996 12.2137C15.9996 10.557 14.3204 9.21387 12.2498 9.21387C10.1792 9.21387 8.5 10.557 8.5 12.2137C8.5 13.8704 10.1792 15.2135 12.2498 15.2135C12.5903 15.2135 12.9143 15.1655 13.2285 15.0973L15.2496 15.9635L14.5507 14.5663C15.4266 14.0173 15.9996 13.1729 15.9996 12.2137ZM11.1249 12.0262C10.8144 12.0262 10.5624 11.7742 10.5624 11.4637C10.5624 11.1533 10.8144 10.9013 11.1249 10.9013C11.4353 10.9013 11.6873 11.1533 11.6873 11.4637C11.6873 11.7742 11.4353 12.0262 11.1249 12.0262ZM13.3747 12.0262C13.0642 12.0262 12.8123 11.7742 12.8123 11.4637C12.8123 11.1533 13.0642 10.9013 13.3747 10.9013C13.6852 10.9013 13.9372 11.1533 13.9372 11.4637C13.9372 11.7742 13.6852 12.0262 13.3747 12.0262Z" fill="white"/>
                            </svg>
                            span WeChat
                        a.gen_block__link.linkedIn(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 20.4648C15.5228 20.4648 20 15.9877 20 10.4648C20 4.942 15.5228 0.464844 10 0.464844C4.47715 0.464844 0 4.942 0 10.4648C0 15.9877 4.47715 20.4648 10 20.4648ZM6.14878 14.4648V8.45172H8.0156V14.4648H8.01279H6.14878ZM7.08079 7.63047C6.48284 7.63047 6 7.14391 6 6.54766C6 5.95141 6.48284 5.46484 7.08079 5.46484C7.67592 5.46484 8.16157 5.95141 8.16157 6.54766C8.16157 7.14672 7.67873 7.63047 7.08079 7.63047ZM15 14.4648H13.136V11.5398C13.136 10.8423 13.122 9.94516 12.1675 9.94516C11.1962 9.94516 11.0474 10.7045 11.0474 11.4892V14.4648H9.18341V8.45172H10.9716V9.27297H10.9969C11.2467 8.80047 11.8559 8.30266 12.7626 8.30266C14.6491 8.30266 15 9.54859 15 11.1686V14.4648Z" fill="#454545"/>
                            </svg>
                            span LinkedIn
                    .gen_block__name Steven Lee
                    .gen_block__team Business Development Manager
                    .gen_block__description Business Development for Asian region
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon11.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail
                        a.gen_block__link.skype(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.1111 9.75201L9.73599 9.44684C9.21292 9.32767 8.61081 9.1702 8.61081 8.67703C8.61081 8.1828 9.03317 7.83749 9.79565 7.83749C11.3324 7.83749 11.192 8.89355 11.9549 8.89355C12.3564 8.89355 12.7078 8.6575 12.7078 8.25162C12.7078 7.3045 11.192 6.59375 9.90613 6.59375C8.51025 6.59375 7.02374 7.18655 7.02374 8.76538C7.02374 9.52573 7.29535 10.3346 8.79163 10.7098L10.6495 11.1737C11.2118 11.3122 11.3525 11.6285 11.3525 11.9139C11.3525 12.3884 10.8812 12.852 10.0273 12.852C8.35934 12.852 8.59082 11.5684 7.69696 11.5684C7.29535 11.5684 7.00391 11.8451 7.00391 12.2398C7.00391 13.0095 7.93835 14.0365 10.0273 14.0365C12.0147 14.0365 12.9995 13.0786 12.9995 11.7956C12.9995 10.9672 12.6176 10.0877 11.1111 9.75201Z" fill="#454545"/>
                                <path d="M10 0.464844C4.478 0.464844 0 4.94284 0 10.4648C0 15.9868 4.478 20.4648 10 20.4648C15.522 20.4648 20 15.9868 20 10.4648C20 4.94284 15.522 0.464844 10 0.464844ZM15.2065 15.6565C14.549 16.3143 13.6752 16.6758 12.7457 16.6758C12.1436 16.6758 11.554 16.5192 11.0332 16.2246C10.6952 16.2845 10.349 16.3161 10.0035 16.3161C9.20975 16.3161 8.43948 16.1605 7.71484 15.8533C7.01416 15.5579 6.38565 15.1336 5.84534 14.5936C5.30563 14.0537 4.88174 13.4252 4.58588 12.7248C4.27887 11.9997 4.12354 11.2299 4.12354 10.436C4.12354 10.096 4.15405 9.75562 4.21204 9.42252C3.92624 8.90845 3.77411 8.32678 3.77411 7.73489C3.77411 6.80518 4.13635 5.931 4.79355 5.27365C5.45105 4.616 6.32523 4.25391 7.25494 4.25391C7.8244 4.25391 8.38715 4.39597 8.88733 4.66193C8.88824 4.66177 8.88931 4.66177 8.89008 4.66147C9.25476 4.59158 9.62936 4.55634 10.0035 4.55634C10.7971 4.55634 11.5672 4.71182 12.2919 5.01837C12.9918 5.31454 13.6211 5.73843 14.1606 6.27829C14.7009 6.8183 15.1247 7.44711 15.4208 8.14734C15.7278 8.87228 15.8832 9.64224 15.8832 10.436C15.8832 10.7938 15.8495 11.1519 15.7852 11.5018C16.073 12.0179 16.226 12.6015 16.226 13.1954C16.2259 14.1251 15.8641 14.9995 15.2065 15.6565Z" fill="#454545"/>
                            </svg>
                            span Skype
                    .gen_block__name Kuldeep Mahindrakar
                    .gen_block__team Business Development Manager
                    .gen_block__description Business Development for Southeast Asia
        
        .gen_block
            .gen_block__title Account managers
            .gen_block__subtitle B2Broker’s account managers are customer-care experts with deep#[span(class="db")] industry knowledge.
            .gen_block__content
                .gen_block__item
                    img.gen_block__image(src="images/team/icon12.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail
                    .gen_block__name Edward Eremeev
                    .gen_block__team Head of Account Managers Team
                    .gen_block__description Management of the department and VIP client support
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon13.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail
                        a.gen_block__link.weChat(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10" cy="10.4648" r="10" fill="#454545"/>
                                <path d="M8.49975 5.46484C6.01439 5.46484 4 7.144 4 9.21463C4 10.4086 4.67346 11.4675 5.71815 12.153L5.12494 13.3394L6.7411 12.6472C7.08758 12.7702 7.44756 12.8714 7.83228 12.9187C7.77979 12.6899 7.74979 12.4552 7.74979 12.2145C7.74979 10.1468 9.76792 8.46467 12.2495 8.46467C12.4768 8.46467 12.6988 8.48342 12.9177 8.51042C12.5218 6.77652 10.6956 5.46484 8.49975 5.46484ZM6.99983 8.27719C6.68935 8.27719 6.43736 8.0252 6.43736 7.71472C6.43736 7.40423 6.68935 7.15225 6.99983 7.15225C7.31031 7.15225 7.5623 7.40423 7.5623 7.71472C7.5623 8.0252 7.31031 8.27719 6.99983 8.27719ZM9.99966 8.27719C9.68918 8.27719 9.43719 8.0252 9.43719 7.71472C9.43719 7.40423 9.68918 7.15225 9.99966 7.15225C10.3101 7.15225 10.5621 7.40423 10.5621 7.71472C10.5621 8.0252 10.3101 8.27719 9.99966 8.27719Z" fill="white"/>
                                <path d="M15.9996 12.2137C15.9996 10.557 14.3204 9.21387 12.2498 9.21387C10.1792 9.21387 8.5 10.557 8.5 12.2137C8.5 13.8704 10.1792 15.2135 12.2498 15.2135C12.5903 15.2135 12.9143 15.1655 13.2285 15.0973L15.2496 15.9635L14.5507 14.5663C15.4266 14.0173 15.9996 13.1729 15.9996 12.2137ZM11.1249 12.0262C10.8144 12.0262 10.5624 11.7742 10.5624 11.4637C10.5624 11.1533 10.8144 10.9013 11.1249 10.9013C11.4353 10.9013 11.6873 11.1533 11.6873 11.4637C11.6873 11.7742 11.4353 12.0262 11.1249 12.0262ZM13.3747 12.0262C13.0642 12.0262 12.8123 11.7742 12.8123 11.4637C12.8123 11.1533 13.0642 10.9013 13.3747 10.9013C13.6852 10.9013 13.9372 11.1533 13.9372 11.4637C13.9372 11.7742 13.6852 12.0262 13.3747 12.0262Z" fill="white"/>
                            </svg>
                            span WeChat
                    .gen_block__name Tony Tsang
                    .gen_block__team Head of Account and Technical Support for Hong Kong office
                    .gen_block__description Management of Business Development and Accounting for Chinese clients
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon14.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link(href="#")
                    .gen_block__name Diana Kagermazova
                    .gen_block__team VIP Client Manager for Asia and CIS Regions
                    .gen_block__description Customer relations. English, Chinese and Russian languages
            
            .gen_block__content
                .gen_block__item
                    img.gen_block__image(src="images/team/icon15.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Andrew Matushkin
                    .gen_block__team VIP Client Manager for EU and CIS Regions
                    .gen_block__description Customer relations. English and Russian languages
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon16.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Marcos Suarez
                    .gen_block__team VIP Client Manager for LATAM Region
                    .gen_block__description Customer relations. English, Spanish languages
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon17.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Maiwand Nazari
                    .gen_block__team VIP Client Manager for Middle East and India
                    .gen_block__description Customer relations. English, Persian, Turkish, Urdu, Hindi languages
            
            .gen_block__content
                .gen_block__item(style="margin-right:auto;")
                    img.gen_block__image(src="images/team/icon18.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Rami Najmeddine
                    .gen_block__team VIP Client Manager for Arab Region
                    .gen_block__description Customer relationship. English, Arabic, Russian languages
        
        .gen_block
            .gen_block__title Product managers
            .gen_block__subtitle B2Broker product management is headed up by a team of professionals responsible#[span(class="db")] for each of the company’s solutions.
            .gen_block__content
                .gen_block__item
                    img.gen_block__image(src="images/team/icon19.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Ievgen Yugrinov
                    .gen_block__team Product Manager of B2BinPay
                    .gen_block__description Product development and project management
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon20.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Roman Zhitnik
                    .gen_block__team Product Manager of B2BX
                    .gen_block__description Product development and project management
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon21.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Sergey Ryzhavin
                    .gen_block__team Product Manager of PAMM/MAM and Social Trading system
                    .gen_block__description Product development and project management
            
            .gen_block__content
                .gen_block__item
                    img.gen_block__image(src="images/team/icon22.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Ivan Navodnyy
                    .gen_block__team Product Manager of B2Core
                    .gen_block__description Product development and project management
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon23.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Denis Umanets
                    .gen_block__team B2Margin
                    .gen_block__description Product development and project management
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon24.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Artem Bogdanov
                    .gen_block__team B2Trader
                    .gen_block__description Product development and project management
        
        .gen_block
            .gen_block__title Marketing department
            .gen_block__subtitle B2Broker’s marketing team comprises specialists with solid know-how #[span(class="db")] and deep industry expertise.
            .gen_block__content
                .gen_block__item
                    img.gen_block__image(src="images/team/icon25.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail

                    .gen_block__name Rosemary Barnes
                    .gen_block__team Head of PR and Marketing
                    .gen_block__description Management of the company's PR, marketing communications and image globally
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon26.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link(href="#")
                    .gen_block__name Sergey Buldakov
                    .gen_block__team Marketing Team Lead
                    .gen_block__description Digital marketing activities

            .gen_block__content
                .gen_block__item
                    img.gen_block__image(src="images/team/icon27.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Daniil Skitev
                    .gen_block__team Marketing Manager
                    .gen_block__description Digital marketing management
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon28.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Pavel Prokhanov
                    .gen_block__team Chief Designer
                    .gen_block__description Management of B2B Creative Web Studio Project
        
        .gen_block
            .gen_block__title Local representatives
            .gen_block__subtitle B2Broker caters for its worldwide client-base with a team of local representatives.
            .gen_block__content
                .gen_block__item
                    img.gen_block__image(src="images/team/icon29.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail

                    .gen_block__name Valery Rudko
                    .gen_block__team Belorussia, Minsk
                    .gen_block__description Director of Minsk office
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon30.png", alt="image")
                    .gen_block__link__link_wrapper
                        a.gen_block__link.mail(href="#")
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 9.21484C9.22875 9.21484 8.75 9.81359 8.75 10.7773C8.75 11.7411 9.22875 12.3398 10 12.3398C10.7713 12.3398 11.25 11.7411 11.25 10.7773C11.25 9.81359 10.7713 9.21484 10 9.21484Z" fill="#454545"/>
                                <path d="M10 0.464844C4.4775 0.464844 0 4.94234 0 10.4648C0 15.9873 4.4775 20.4648 10 20.4648C15.5225 20.4648 20 15.9873 20 10.4648C20 4.94234 15.5225 0.464844 10 0.464844ZM16.25 11.0898C16.25 12.4686 15.1287 13.5898 13.75 13.5898C12.995 13.5898 12.325 13.2461 11.8663 12.7148C11.4225 13.2623 10.7762 13.5898 10 13.5898C8.5275 13.5898 7.5 12.4336 7.5 10.7773C7.5 9.12109 8.5275 7.96484 10 7.96484C10.4937 7.96484 10.9313 8.10484 11.3038 8.33984C11.4 8.11984 11.6187 7.96484 11.875 7.96484C12.22 7.96484 12.5 8.24484 12.5 8.58984V11.0898C12.5 11.7798 13.06 12.3398 13.75 12.3398C14.44 12.3398 15 11.7798 15 11.0898V10.7261C15 8.06984 13.1388 5.82734 10.6687 5.50859C9.0275 5.29859 7.44875 5.86359 6.33375 7.06359C5.22 8.26484 4.7725 9.89359 5.11 11.5323C5.49125 13.3848 6.9825 14.9123 8.81875 15.3298C9.99625 15.5973 11.1713 15.4648 12.215 14.9461C12.5263 14.7948 12.8987 14.9186 13.0538 15.2286C13.2063 15.5386 13.08 15.9136 12.7712 16.0673C11.9038 16.4973 10.9662 16.7161 10.005 16.7161C9.52125 16.7161 9.03125 16.6611 8.54125 16.5486C6.19875 16.0161 4.37125 14.1461 3.885 11.7836C3.46625 9.74484 4.025 7.71484 5.4175 6.21359C6.8125 4.71234 8.78375 4.00859 10.8288 4.26734C13.92 4.66734 16.25 7.44359 16.25 10.7261V11.0898Z" fill="#454545"/>
                            </svg>
                            span Mail
                    .gen_block__name Dmitry Karpenko
                    .gen_block__team Russia, Moscow
                    .gen_block__description Moscow Representative

            .gen_block__content
                .gen_block__item
                    img.gen_block__image(src="images/team/icon31.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Martyna Plucinska
                    .gen_block__team Cyprus, Limassol
                    .gen_block__description Director of Cyprus office
                
                .gen_block__item
                    img.gen_block__image(src="images/team/icon32.png", alt="image")
                    a.gen_block__link(href="#")
                    .gen_block__name Tamari Mironova
                    .gen_block__team Russia, Moscow
                    .gen_block__description Moscow office