.hiring_block.new_hiring_block.goanim.an(style="background-image: url(images/hiring.png);")
    .section__title We are #[span(class="section__title--bold") hiring]
    .section__subtitle We are always on the lookout for talent!
    a.new_green_bord_btn(href="#") All vacancies

.hiring_block__wrapper
    .hiring_block.new_hiring_block.little_hiring_block.goanim.an(style="background-image: url(images/team/her1.png);")
        .section__title Our  #[span(class="section__title--bold") offices]
        .section__subtitle Where our multinational team is located
        a.new_green_bord_btn(href="#") See our offices
    
    .hiring_block.new_hiring_block.little_hiring_block.goanim.an(style="background-image: url(images/team/her2.png);")
        .section__title #[span(class="section__title--bold") partners]
        .section__subtitle Our synergistic alliances serve to provide you#[span(class="db")] with a range of innovative solutions
        a.new_green_bord_btn(href="#") See our partners