.section.section__blue.includes_team
    .container
        .section__subtitle Our team includes citizens of the United States, Cyprus, Venezuela, Syria, Costa Rica, Russia, Hong Kong, Great Britain, Ukraine and Saint Vincent and the Grenadines. Every one of us is part of a well-coordinated mechanism that seeks to find solutions for every customer case by providing the best available technologies.

        .hear_flickity--js.hover_flickity--js
            .item
                img(src="images/team/item1.png", alt="image", class="banner")
            .item
                img(src="images/team/item2.jpg", alt="image", class="banner")
            .item
                img(src="images/team/item3.jpg", alt="image", class="banner")
            .item
                img(src="images/team/item4.png", alt="image", class="banner")
            .item
                img(src="images/team/item5.png", alt="image", class="banner")
            .item
                img(src="images/team/item6.jpg", alt="image", class="banner")

        .hear_flickity_small--js.hover_flickity--js
            .item
                img(src="images/team/item1.png", alt="image", class="banner")
            .item
                img(src="images/team/item2.jpg", alt="image", class="banner")
            .item
                img(src="images/team/item3.jpg", alt="image", class="banner")
            .item
                img(src="images/team/item4.png", alt="image", class="banner")
            .item
                img(src="images/team/item5.png", alt="image", class="banner")
            .item
                img(src="images/team/item6.jpg", alt="image", class="banner")