.events_screen.section.section__dosnt_filter(style="background-image: url(images/about/screen.png);")
    .container
        .section__title.section__title--bold B2Broker Team
        .section__subtitle B2Broker is a large multinational team located in several countries spanning different#[span(class="db")] geographical regions. Our team members speak many languages, serving clients all around#[span(class="db")] the world. We are experts in IT and software development in the FinTech industry, each#[span(class="db")] department comprising of leading professionals. We appreciate everyone who works with us#[span(class="db")] and inspires us towards achieving our success.
    