.section.partners_content__section
    .section__subtitle  While our in-depth expertise and thorough understanding of the FinTech market enables us#[span(class="db")] to provide an outstanding range of products and services to meet our clients needs, our#[span(class="db")] partnerships with key specialists enable us to capitalise on emerging technologies#[span(class="db")] and offer added value to our customers.

    .partners__heading #[span(class="extrabold") Liquidity] Partners
    .container.partners__container
        .partners.dark__green
            .partners__main
                img(src="images/partners/logo1.png", style="max-width:166px;").partners__logo
                .partners__discription since 2016
            .partners__content
                .partners__flex
                    .partners__title B2Prime
                    a(href="https://b2prime.com").partners__link b2prime.com
                .partners__text Since 2016, under the B2Prime entity, Prime Brokerage Services has operated within the jurisdiction of the Vanuatu Financial Services Commission (VFSC), the nation’s financial regulatory authority which oversees banking and financial services. This license allows us to provide Prime Liquidity related financial services to customers.
        
        .partners.light__green
            .partners__main
                img(src="images/partners/logo2.png", style="max-width:166px;").partners__logo
                .partners__discription since 2019
            .partners__content
                .partners__flex
                    .partners__title B2Prime BY
                    a(href="https://b2prime.by").partners__link b2prime.by
                .partners__text B2Broker became the first approved Forex and CFD Prime Broker in Belarus after securing the National Bank of the Republic of Belarus (NBRB) License in early 2020. The License issued under the name of B2Prime allows the company to operate in Belarus. Under the regulation of the National Forex Centre (NFC), B2Prime is able to offer clients MT5 and OneZero platform technology in Belarus.
    
    .partners__heading #[span(class="extrabold") Payment] Partners
    .container.partners__container
        .partners.orange
            .partners__main
                img(src="images/partners/logo3.png", style="max-width:148px;").partners__logo
                .partners__discription since 2017
            .partners__content
                .partners__flex
                    .partners__title B2BinPay
                    a(href="https://b2binpay.com").partners__link b2binpay.com
                .partners__text B2BinPay is a cryptocurrency payment solution that allows businesses globally to send, receive, store, exchange and accept online crypto payments securely and safely at a reduced cost. It delivers fast, simple and efficient financial services technology, enabling access to the cryptocurrency markets by offering cryptoprocessing services and wallet solutions to Merchants and Enterprises.
        
        .partners.dark__blue
            .partners__main
                img(src="images/partners/logo4.png", style="max-width:187px;").partners__logo
                .partners__discription since 2020
            .partners__content
                .partners__flex
                    .partners__title Coinsbuy
                    a(href="#").partners__link Coinsbuy.com
                .partners__text Coinsbuy is one of the most popular online sites to buy, hold, sell and exchange leading cryptocurrencies. Coinsbuy enables users to keep everything safely and securely in one place. If you need to buy, sell or exchange your chosen crypto, Coinsbuy provides the swiftest access possible, exactly when you need it! Coinsbuy is the provider of choice for those looking for the best cryptocurrency service around.

    .partners__heading #[span(class="extrabold") Exchange] Partner
    .container.partners__no_flex_container
        .partners.dark__green
            .partners__main
                img(src="images/partners/logo5.png", style="max-width:139px;").partners__logo
                .partners__discription since 2018
            .partners__content
                .partners__title B2BX
                a(href="https://www.b2bx.exchange").partners__link b2bx.exchange
                .partners__text B2BX is a professional digital asset exchange which provides simple access to institutional level liquidity. It is a full-featured trading platform which allows users to trade a vast number of major digital assets and cryptocurrencies. B2BX supports EUR, GBP and USD currencies and wallets and all types of transfers including SEPA, SWIFT and Faster Payments in all major cryptocurrencies.

    .partners__heading #[span(class="extrabold") Web Design ] Studio
    .container.partners__no_flex_container
        .partners.dark__green
            .partners__main
                img(src="images/partners/logo6.png", style="max-width:192px;").partners__logo
                .partners__discription since 2020
            .partners__content
                .partners__title B2B Creative Web Studio
                a(href="#").partners__link b2bcws.com
                .partners__text B2B Creative Web Studio is a professional player that provides various services related to web and graphic design. The studio focuses on creating brokerage and exchange terminals interfaces, websites for exchanges, crypto and FOREX brokers. You no longer need to waste time searching for a service provider who will deliver a top-quality service to get your business started.
    
    .partners__heading #[span(class="extrabold") Venture Capital  ] Partner
    .container.partners__no_flex_container
        .partners.light__green
            .partners__main
                img(src="images/partners/logo7.png", style="max-width:149px;").partners__logo
                .partners__discription since 2020
            .partners__content
                .partners__title B2B Capital
                a(href="http://www.b2b.capital").partners__link b2b.capital
                .partners__text B2B Capital is a venture capital fund that is part of the B2Broker group of companies and is a new project that is due for launch in late 2020. The project was created to enable the company to make investments in, and nurture external projects that are of interest to us such as new fintech start ups and payment systems. 
    
    .partners__heading #[span(class="extrabold") Technology] Partners
    .container.partners__container
        .partners.purpure
            .partners__main
                img(src="images/partners/logo8.png", style="max-width:165px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title MetaQuotes
                    a(href="https://www.metaquotes.net").partners__link metaquotes.net
                .partners__text A leading developer of software applications for brokerages, banks, and exchanges.  The company has developed a series of popular software products and its industry-leading MetaTrader 4/5 multi-asset trading platforms. MetaQuotes partners with the largest financial institutions around the world. 
        
        .partners.blue
            .partners__main
                img(src="images/partners/logo9.png", style="max-width:125px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title PrimeXM
                    a(href="https://primexm.com").partners__link primexm.com
                .partners__text PrimeXM is an award-winning technology provider to the global financial industry with a focus on providing cutting edge aggregation software, ultra-low-latency connectivity, institutional grade hosting solutions and high end MT4/MT5 bridging.
    
        .partners.red
            .partners__main
                img(src="images/partners/logo10.png", style="max-width:170px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title Devexperts
                    a(href="https://devexperts.com").partners__link devexperts.com
                .partners__text Devexperts specializes in the development of financial software to help financial industry firms gain a technological advantage by providing custom software solutions and fintech expertise. dxTrade is the company’s renowned multi-asset trading platform which, unlike other OTC trading platforms, supports the entire spectrum of assets in existence across the world.
        
        .partners.blue2
            .partners__main
                img(src="images/partners/logo11.png", style="max-width:149px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title oneZero
                    a(href="https://www.onezero.com").partners__link onezero.com
                .partners__text oneZero empowers institutional and retail broker-dealers and market makers with the trading technology required to compete effectively across the global foreign exchange, commodities, crypto-currency and futures markets. The company specialises in technology for multi-asset class execution, connectivity, aggregation, distribution and hub.
    
    .partners__heading #[span(class="extrabold") KYC / KYT] Partners
    .container.partners__container
        .partners.dark__blue2
            .partners__main
                img(src="images/partners/logo12.png", style="max-width:165px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title Sum&Substance
                    a(href="https://sumsub.ru").partners__link sumsub.ru
                .partners__text Sum&Substance helps companies employ simpler, conduct correct KYC/AML-checks, taking into account the requirements of financial regulators, banks and institutions that control the processing of personal data.  An all-in-one platform means companies don’t need to worry about verification. All checks meet the requirements of regulations in KYC, AML, CTF and requirements for processing personal data.
        
        .partners.orange2
            .partners__main
                img(src="images/partners/logo13.png", style="max-width:125px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title СПАРК
                    a(href="https://www.spark-interfax.ru").partners__link spark-interfax.ru
                .partners__text SPARK provides a comprehensive solution for verifying legal entities, helping businesses conduct KYC and due diligence procedures, complete on-boarding processes and identify business risks and opportunities with confidence. By providing detailed insights and analysis, SPARK allows businesses to make faster and better-informed decisions.

    
        .partners.dark__blue2
            .partners__main
                img(src="images/partners/logo14.png", style="max-width:170px;").partners__logo
            .partners__content
                .partners__flex(style="min-height:40px;")
                    .partners__title Crystal
                    a(href="https://crystalblockchain.com").partners__link crystalblockchain.com
                .partners__text Crystal is a blockchain analytics platform engineered by the Bitfury Group. Crystal analytics provides deep insight into cryptocurrency transactions, including identities, risk scores, and transaction histories that can be used to enhance due diligence and adopt smarter cryptocurrency compliance processes.
        
        .partners.dark__blue3
            .partners__main
                img(src="images/partners/logo15.png", style="max-width:149px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title(style="max-width:140px;") World-Check Risk Intelligence
                    a(href="https://www.refinitiv.ru").partners__link refinitiv.ru
                .partners__text Refinitiv is one of the world’s largest providers of financial markets data and infrastructure. The company provides leading data and insights, trading platforms, and open data and technology platforms that connect the global financial markets community - driving performance in trading, investment, wealth management, regulatory compliance, market data management, enterprise risk and fighting financial crime. 
    
    .partners__heading Our  #[span(class="extrabold") Friends] 
    .container.partners__container
        .partners.green_our
            .partners__main
                img(src="images/partners/logo16.png", style="max-width:179px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title Spotware
                    a(href="https://www.spotware.com").partners__link spotware.com
                .partners__text Spotware Systems is a financial technology provider, developing and offering its own proprietary solutions. Spotware’s product line is geared towards online trading providers in the eFX, Cryptocurrencies and multi-asset CFD space.
        
        .partners.green_our2
            .partners__main
                img(src="images/partners/logo17.png", style="max-width:116px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title FXCubic
                    a(href="https://fxcubic.com").partners__link fxcubic.com
                .partners__text FXCubic is a technology provider for the finance industry, offering low-latency pricing engine and complex order routing solutions. The company’s low-latency bridge automates work done by manual dealing desks, and offers a complete solution for both STP and B-Book type brokers, allowing them to to prioritize or aggregate liquidity.

    
        .partners.green_our
            .partners__main
                img(src="images/partners/logo18.png", style="max-width:242px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title(style="max-width:165px;") Law Firm Nicos Chr. Anastasiades
                    a(href="https://anastalaw.com").partners__link anastalaw.com
                .partners__text Nicos Chr. Anastasiades provides legal services in its specializing practice areas of Shipping, Civil, Banking and Commercial Law. The firm’s expertise covers all issues related to the Securities & Exchange Commision (CySEC), and serves clients in several jurisdictions including Cyprus, Europe, Russian Federation, BVI, Mauritius, Cayman Islands, Seychelles, etc. 
        
        .partners.green_our2
            .partners__main
                img(src="images/partners/logo19.png", style="max-width:180px;").partners__logo
            .partners__content
                .partners__flex(style="min-height:40px;")
                    .partners__title Tradefora
                    a(href="https://tradefora.com").partners__link tradefora.com
                .partners__text Tradefora the industry’s first fully automated trading cost analytics (TCA) and execution quality engine. The company aims to level the playing field for all market participants and bring more transparency to OTC FX, CFDs and margin crypto trading. In doing so, Tradefora helps traders see the full market picture and make smart data-driven decisions.

    .partners__heading #[span(class="extrabold") Media] 
    .container.partners__container
        .partners.dark__blue2
            .partners__main
                img(src="images/partners/logo20.png", style="max-width:136px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title(style="max-width:81px;") Finance Magnates
                    a(href="https://www.financemagnates.com").partners__link financemagnates.com
                .partners__text Finance Magnates is a leading global provider of multi-asset trading news, research and events focusing on electronic trading, banking, investing and the technology that drives them. As one of the key sources of up-to-date news and information surrounding the industry, B2Broker maintains an ongoing media partnership, featuring regularly on the leading pages of this popular online publication.
        
        .partners.dark__blue2
            .partners__main
                img(src="images/partners/logo21.png", style="max-width:169px;").partners__logo
            .partners__content
                .partners__flex(style="min-height:40px;")
                    .partners__title IFX EXPO
                    a(href="https://www.ifxexpo.com").partners__link ifxexpo.com
                .partners__text iFX Expos are a big feature on the events circuit. The organisers, Ultimate Fintech, host several expos across the globe including iFX Expo Cyprus, iFX Expo Asia, and more recently, Virtual Vision Finance. B2Broker is pleased to be an established participant at all these expos as part of its strategy to meet and onboard new clients, and broaden its worldwide reach. 

    
        .partners.dark__blue3
            .partners__main
                img(src="images/partners/logo22.png", style="max-width:179px;").partners__logo
            .partners__content
                .partners__flex(style="min-height:40px;")
                    .partners__title Reuters
                    a(href="https://ru.reuters.com").partners__link ru.reuters.com
                .partners__text Reuters is part of Thomson Reuters, the world’s largest multimedia news provider of business, financial, national, and international news to professionals via media channels including Reuters.com and via Reuters TV. B2Broker has featured in ZAWYA.com, a leading news source of regional news and intelligence and part of Refinitiv Middle East, which is affiliated with Reuters News.
        
        .partners.dark__blue2
            .partners__main
                img(src="images/partners/logo23.png", style="max-width:171px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title Forbes
                    a(href="https://www.forbes.com").partners__link forbes.com
                .partners__text Forbes is a bi-weekly American business magazine that features articles on finance, industry, investing, and marketing topics. Forbes also reports on related subjects such as technology and communications. B2Broker experts have contributed commentary to relevant articles within this established and prestigious news publication which has been in circulation for over 100 years.
        
        .partners.orange2
            .partners__main
                img(src="images/partners/logo24.png", style="max-width:171px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title Bloomberg
                    a(href="https://www.bloomberg.com").partners__link bloomberg.com
                .partners__text Bloomberg is a major global provider of 24-hour financial news and information, including real-time and historic price data, financial data, trading news, and analyst coverage. Its services include television, radio, and magazines, as well as professional analysis tools for financial professionals. B2Broker has contributed to financial articles by editorial request on several occasions.
            
        .partners.dark__blue2
            .partners__main
                img(src="images/partners/logo25.png", style="max-width:201px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title Investing.com
                    a(href="https://www.investing.com").partners__link investing.com
                .partners__text Investing.com is a financial markets platform providing real-time data, quotes, charts, financial tools, breaking news and analysis across 250 exchanges around the world in 44 language editions. With more than 46 million monthly users, and over 400 million sessions, Investing.com is one of the top three global financial websites on which B2Broker ensures frequent visibility. 
        
        .partners.dark__blue3
            .partners__main
                img(src="images/partners/logo26.png", style="max-width:197px;").partners__logo
            .partners__content
                .partners__flex
                    .partners__title ForkLog
                    a(href="https://forklog.com").partners__link forklog.com
                .partners__text ForkLog is a cryptocurrency and blockchain media company that has been involved in creating media infrastructure for the industry since 2014. The cult magazine focuses on Bitcoin, blockchain technology and the digital economy, delivering news and analytics on the cryptocurrency market daily. B2Broker is a regular feature in Forklog news, interview and analysis articles.
