.events_screen.section.partners_section(style="background-image: url(images/partners_bg.png);")
    .container
        .section__title.section__title--bold Our partners

        .section__subtitle We are pleased to have formed synergistic alliances with leading#[span(class="db")] technology and business partners to provide you with a range of#[span(class="db")] innovative solutions with expertise and professionalism.

        
