.events_screen.section(style="background-image: url(images/events/screen1.png);")
    .container
        .section__title.section__title--bold Events
        .section__subtitle Follow our busy events schedule and keep track of our#[span(class="db")] whereabouts as we participate in many high-profile industry#[span(class="db")] expos across the globe.
        .section__subtitle.bold If you’re nearby, come and meet us! 

.filter
    .container
        .filter__wrapper
            .filter__item
                .filter__heading All Events
                .filter__content
                    .filter__content_item All Events
                    .filter__content_item Futures Events
                    .filter__content_item Previous Events
            
            .filter__item
                .filter__heading All Themes
                .filter__content
                    .filter__content_item All Themes
                    .filter__content_item FOREX 
                    .filter__content_item Payments
            
            .filter__item
                .filter__heading All Years
                .filter__content
                    .filter__content_item All Years
                    .filter__content_item 2020
                    .filter__content_item 2019
                    .filter__content_item 2018