.section.events
    .aside_burger--js
        span

    aside.events_sidebar
        ul.events_sidebar__ul
            li.events_sidebar__li
                a.events_sidebar__link(href="#") News Feed
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Сorporate News
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Product Updates
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Webinars
            
            li.events_sidebar__li.active
                a.events_sidebar__link(href="#") Events
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Media
            
            li.events_sidebar__li.video
                a.events_sidebar__link(href="#") Videos
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Articles
        
        form.events_form
            .events_form__title Sign up for newsletter
            input(type="email" placeholder="Enter your Email")
            button.new_green_btn Subscribe

    .events_content
        .container
            .future
                .future__description
                    p.future__month 2020
                    p.future__date 25–27 May 
                    p.future__location Singapore
                    p.future__booth Booth № 111
                    a.future__btn(href="#") FOREX
                    <svg  class="future__line" width="25" height="calc(100%  + 81px)" viewBox="0 0 25 calc(100%  + 81px)" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                        <g filter="url(#filter0_d)">
                            <ellipse cx="12.3357" cy="52.4746" rx="8.2732" ry="8" />
                            <path d="M18.6089 52.4746C18.6089 55.7255 15.8641 58.4746 12.3357 58.4746C8.80727 58.4746 6.0625 55.7255 6.0625 52.4746C6.0625 49.2237 8.80727 46.4746 12.3357 46.4746C15.8641 46.4746 18.6089 49.2237 18.6089 52.4746Z" stroke="white" stroke-opacity="0.4" stroke-width="4"/>
                        </g>
                        <defs>
                            <filter id="filter0_d" x="0.0625" y="42.4746" width="24.5464" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                                <feOffset dy="2"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                            </filter>
                        </defs>
                    </svg>
                .future__content
                    .future__overlay
                    img.future__banner(src="images/events_bg/item1.png", alt="banner")
                    .future__title Blockshow Asia
                    .future__subtitle If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                    img.future__logo(src="images/future/icon1.png", alt="logo", style="width:176px")
            
            .future
                .future__description
                    p.future__date 11–13 May
                    p.future__location Singapore
                    p.future__booth Booth № 12
                    a.future__btn(href="#") Blockchain
                    <svg  class="future__line" width="25" height="calc(100%  + 81px)" viewBox="0 0 25 calc(100%  + 81px)" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                        <g filter="url(#filter0_d)">
                            <ellipse cx="12.3357" cy="52.4746" rx="8.2732" ry="8" />
                            <path d="M18.6089 52.4746C18.6089 55.7255 15.8641 58.4746 12.3357 58.4746C8.80727 58.4746 6.0625 55.7255 6.0625 52.4746C6.0625 49.2237 8.80727 46.4746 12.3357 46.4746C15.8641 46.4746 18.6089 49.2237 18.6089 52.4746Z" stroke="white" stroke-opacity="0.4" stroke-width="4"/>
                        </g>
                        <defs>
                            <filter id="filter0_d" x="0.0625" y="42.4746" width="24.5464" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                                <feOffset dy="2"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                            </filter>
                        </defs>
                    </svg>
                .future__content
                    .future__overlay
                    img.future__banner(src="images/events_bg/item2.png", alt="banner")
                    .future__title Blockchain Life
                    .future__subtitle If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                    img.future__logo(src="images/future/icon2.png", alt="logo", style="width:169px")
            
            .future
                .future__description
                    p.future__date 11–13 May 
                    p.future__location Singapore
                    p.future__booth Booth № 41
                    a.future__btn(href="#") Payments
                    <svg  class="future__line" width="25" height="calc(100%  + 81px)" viewBox="0 0 25 calc(100%  + 81px)" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                        <g filter="url(#filter0_d)">
                            <ellipse cx="12.3357" cy="52.4746" rx="8.2732" ry="8" />
                            <path d="M18.6089 52.4746C18.6089 55.7255 15.8641 58.4746 12.3357 58.4746C8.80727 58.4746 6.0625 55.7255 6.0625 52.4746C6.0625 49.2237 8.80727 46.4746 12.3357 46.4746C15.8641 46.4746 18.6089 49.2237 18.6089 52.4746Z" stroke="white" stroke-opacity="0.4" stroke-width="4"/>
                        </g>
                        <defs>
                            <filter id="filter0_d" x="0.0625" y="42.4746" width="24.5464" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                                <feOffset dy="2"/>
                                <feGaussianBlur stdDeviation="3"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                            </filter>
                        </defs>
                    </svg>
                .future__content
                    .future__overlay
                    img.future__banner(src="images/events_bg/item3.png", alt="banner")
                    .future__title iFX EXPO Asia
                    .future__subtitle If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                    img.future__logo(src="images/future/icon3.png", alt="logo", style="width:49px")
            
            .future
                .future__description
                    p.future__date 5–7 May 
                    p.future__location Singapore
                    p.future__booth Booth № U21
                    a.future__btn(href="#") Blockchain
                    <svg  class="future__line" width="25" height="calc(100%  + 81px)" viewBox="0 0 25 calc(100%  + 81px)" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                        <g filter="url(#filter0_d)">
                            <ellipse cx="12.3357" cy="52.4746" rx="8.2732" ry="8" />
                            <path d="M18.6089 52.4746C18.6089 55.7255 15.8641 58.4746 12.3357 58.4746C8.80727 58.4746 6.0625 55.7255 6.0625 52.4746C6.0625 49.2237 8.80727 46.4746 12.3357 46.4746C15.8641 46.4746 18.6089 49.2237 18.6089 52.4746Z" stroke="white" stroke-opacity="0.4" stroke-width="4"/>
                        </g>
                        <defs>
                            <filter id="filter0_d" x="0.0625" y="42.4746" width="24.5464" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                                <feOffset dy="2"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                            </filter>
                        </defs>
                    </svg>
                .future__content
                    .future__overlay
                    img.future__banner(src="images/events_bg/item4.png", alt="banner")
                    .future__title Blockshow Asia
                    .future__subtitle If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                    img.future__logo(src="images/future/icon1.png", alt="logo", style="width:176px")
            
            .future
                .future__description
                    p.future__date 1–3 May 
                    p.future__location Singapore
                    p.future__booth Booth № E221
                    a.future__btn(href="#") Blockchain
                    <svg  class="future__line" width="25" height="calc(100%  + 81px)" viewBox="0 0 25 calc(100%  + 81px)" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                        <g filter="url(#filter0_d)">
                            <ellipse cx="12.3357" cy="52.4746" rx="8.2732" ry="8" />
                            <path d="M18.6089 52.4746C18.6089 55.7255 15.8641 58.4746 12.3357 58.4746C8.80727 58.4746 6.0625 55.7255 6.0625 52.4746C6.0625 49.2237 8.80727 46.4746 12.3357 46.4746C15.8641 46.4746 18.6089 49.2237 18.6089 52.4746Z" stroke="white" stroke-opacity="0.4" stroke-width="4"/>
                        </g>
                        <defs>
                            <filter id="filter0_d" x="0.0625" y="42.4746" width="24.5464" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                                <feOffset dy="2"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                            </filter>
                        </defs>
                    </svg>
                .future__content
                    .future__overlay
                    img.future__banner(src="images/events_bg/item5.png", alt="banner")
                    .future__title Blockchain Life
                    .future__subtitle If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                    img.future__logo(src="images/future/icon2.png", alt="logo", style="width:169px")
            
            .future
                .future__description
                    p.future__date 25–27 April
                    p.future__location Singapore
                    p.future__booth Booth № 775
                    a.future__btn(href="#") FOREX
                    <svg  class="future__line" width="25" height="calc(100%  + 81px)" viewBox="0 0 25 calc(100%  + 81px)" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                        <g filter="url(#filter0_d)">
                            <ellipse cx="12.3357" cy="52.4746" rx="8.2732" ry="8" />
                            <path d="M18.6089 52.4746C18.6089 55.7255 15.8641 58.4746 12.3357 58.4746C8.80727 58.4746 6.0625 55.7255 6.0625 52.4746C6.0625 49.2237 8.80727 46.4746 12.3357 46.4746C15.8641 46.4746 18.6089 49.2237 18.6089 52.4746Z" stroke="white" stroke-opacity="0.4" stroke-width="4"/>
                        </g>
                        <defs>
                            <filter id="filter0_d" x="0.0625" y="42.4746" width="24.5464" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                                <feOffset dy="2"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                            </filter>
                        </defs>
                    </svg>
                .future__content
                    .future__overlay
                    img.future__banner(src="images/events_bg/item6.png", alt="banner")
                    .future__title iFX EXPO Asia
                    .future__subtitle If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                    img.future__logo(src="images/future/icon3.png", alt="logo", style="width:49px")
            
            .future
                .future__description
                    p.future__date 15–17 April
                    p.future__location Singapore
                    p.future__booth Booth № A23
                    a.future__btn(href="#") Blockchain
                    <svg  class="future__line" width="25" height="100%" viewBox="0 0 25 100%" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                        <g filter="url(#filter0_d)">
                            <ellipse cx="12.3357" cy="52.4746" rx="8.2732" ry="8" />
                            <path d="M18.6089 52.4746C18.6089 55.7255 15.8641 58.4746 12.3357 58.4746C8.80727 58.4746 6.0625 55.7255 6.0625 52.4746C6.0625 49.2237 8.80727 46.4746 12.3357 46.4746C15.8641 46.4746 18.6089 49.2237 18.6089 52.4746Z" stroke="white" stroke-opacity="0.4" stroke-width="4"/>
                        </g>
                        <defs>
                            <filter id="filter0_d" x="0.0625" y="42.4746" width="24.5464" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                                <feOffset dy="2"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                            </filter>
                        </defs>
                    </svg>
                .future__content
                    .future__overlay
                    img.future__banner(src="images/events_bg/item7.png", alt="banner")
                    .future__title Blockshow Asia
                    .future__subtitle If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                    img.future__logo(src="images/future/icon1.png", alt="logo", style="width:176px")
        
        .container
            .future
                .future__description
                    p.future__month 2019
                    p.future__date 25–27 December
                    p.future__location Singapore
                    p.future__booth Booth № 21
                    a.future__btn(href="#") Blockchain
                    <svg  class="future__line" width="25" height="100%" viewBox="0 0 25 100%" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12.5" y1="-71.8672" x2="12.5" y2="100%" stroke="#A8A8A8"/>
                        <g filter="url(#filter0_d)">
                            <ellipse cx="12.3357" cy="52.4746" rx="8.2732" ry="8" />
                            <path d="M18.6089 52.4746C18.6089 55.7255 15.8641 58.4746 12.3357 58.4746C8.80727 58.4746 6.0625 55.7255 6.0625 52.4746C6.0625 49.2237 8.80727 46.4746 12.3357 46.4746C15.8641 46.4746 18.6089 49.2237 18.6089 52.4746Z" stroke="white" stroke-opacity="0.4" stroke-width="4"/>
                        </g>
                        <defs>
                            <filter id="filter0_d" x="0.0625" y="42.4746" width="24.5464" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                                <feOffset dy="2"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                            </filter>
                        </defs>
                    </svg>
                .future__content
                    .future__overlay
                    img.future__banner(src="images/events_bg/item8.png", alt="banner")
                    .future__title Blockchain Life
                    .future__subtitle If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you.
                    img.future__logo(src="images/future/icon2.png", alt="logo", style="width:169px")
        
        .container
            .ev_pag
                .ev_pag__discription 8 of 165
                ul.ev_pag__container
                    li.ev_pag__item.ev_pag__active
                        a(href="#") 1
                    
                    li.ev_pag__item
                        a(href="#") 2
                    
                    li.ev_pag__item
                        a(href="#") 3
                    
                    li.ev_pag__item
                        a(href="#") ...
                    
                    li.ev_pag__item
                        a(href="#") 15
                    
                    li.ev_pag__item.ev_pag__next
                        a(href="#")
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.96601 13.9982C1.73432 13.9987 1.50978 13.9175 1.33138 13.7687C1.23097 13.6849 1.14797 13.5821 1.08713 13.466C1.0263 13.3499 0.988819 13.2229 0.976844 13.0922C0.96487 12.9615 0.978635 12.8297 1.01735 12.7044C1.05607 12.5791 1.11898 12.4626 1.20247 12.3618L5.64487 7.01368L1.36113 1.65557C1.27876 1.5535 1.21725 1.43607 1.18013 1.31001C1.14301 1.18395 1.13102 1.05175 1.14484 0.921013C1.15867 0.790274 1.19803 0.663573 1.26067 0.548193C1.32332 0.432812 1.408 0.331026 1.50987 0.248686C1.61247 0.157851 1.73262 0.0893352 1.86278 0.0474391C1.99294 0.00554297 2.1303 -0.00882886 2.26624 0.00522486C2.40218 0.0192786 2.53377 0.0614548 2.65275 0.129107C2.77172 0.196758 2.87552 0.288425 2.95762 0.398354L7.74708 6.38508C7.89293 6.56362 7.97266 6.78756 7.97266 7.01867C7.97266 7.24979 7.89293 7.47373 7.74708 7.65227L2.78904 13.639C2.68957 13.7597 2.5632 13.8552 2.4202 13.9176C2.2772 13.98 2.1216 14.0076 1.96601 13.9982Z" fill="#343434"/>
                            </svg>
