.section.section__blue.events_content
    aside
        ul
            li
                a(href="#") News Feed
            
            li
                a(href="#") Сorporate news
            
            li
                a(href="#") Product Updates
            
            li
                a(href="#") Webinars
            
            li
                a(href="#") Events
            
            li
                a(href="#") Media
            
            li
                a(href="#") Videos
            
            li
                a(href="#") Articles