.section.events_content
    aside.events_sidebar
        ul.events_sidebar__ul
            li.events_sidebar__li
                a.events_sidebar__link(href="#") News Feed
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Ğ¡orporate news
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Product Updates
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Webinars
            
            li.events_sidebar__li.active
                a.events_sidebar__link(href="#") Events
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Media
            
            li.events_sidebar__li.video
                a.events_sidebar__link(href="#") Videos
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Articles