.section.section__aml
    .container
        .section__title #[span(class="section__title--bold") AML/Compliance] check for your transactions
        .section__subtitle KYT compliance technology ensures your business measures up in terms of anti-money laundering#[span(class="db")] requirements. Complete data-centric information about transactions helps crypto businesses comply#[span(class="db")] with local and global regulations.
        .aml_slider--js.flickity_castom_arrow
            .item
                img.banner(src="images/aml1.png", alt="banner")
    
            .item
                img.banner(src="images/aml2.png", alt="banner")
