.section.section__blue.section__available
    .section__title Available Crypto#[span(class='section__title--bold') currencies]
    .section__subtitle A vast range of major coins and StableCoins are available with#[span(class="db")] over 800 ERC20 tokens including ETH, NEM, NEO and#[span(class="db")] Omni-based tokens.
    .major Major Coins
    .container
        .major__catalog
            .major__item
                img(src="images/avaible/icon1.png", alt="icon")
                .major__title Bitcoin
                .major__subtitle  (BTC)
            
            .major__item
                img(src="images/avaible/icon2.png", alt="icon")
                .major__title Etherium
                .major__subtitle  (ETH)
            
            .major__item
                img(src="images/avaible/icon3.png", alt="icon")
                .major__title Ripple
                .major__subtitle  (XRP)
            
            .major__item
                img(src="images/avaible/icon4.png", alt="icon")
                .major__title Litecoin
                .major__subtitle  (LTC)
            
            .major__item
                img(src="images/avaible/icon5.png", alt="icon")
                .major__title Bitcoin Cash
                .major__subtitle  (BCH)
            
            .major__item
                img(src="images/avaible/icon6.png", alt="icon")
                .major__title Binance Coin
                .major__subtitle  (BNB)
            
            .major__item
                img(src="images/avaible/icon7.png", alt="icon")
                .major__title TRON
                .major__subtitle  (TRON)
            
            .major__item
                img(src="images/avaible/icon8.png", alt="icon")
                .major__title Cardano
                .major__subtitle  (ADA)
            
            .major__item
                img(src="images/avaible/icon9.png", alt="icon")
                .major__title Monero
                .major__subtitle  (XMR)
            
            .major__item
                img(src="images/avaible/icon10.png", alt="icon")
                .major__title Stellar
                .major__subtitle  (XLM)
            
            .major__item
                img(src="images/avaible/icon11.png", alt="icon")
                .major__title Dash
                .major__subtitle  (DASH)
            
            .major__item
                img(src="images/avaible/icon12.png", alt="icon")
                .major__title NEO
                .major__subtitle  (NEO)
            
            .major__item
                img(src="images/avaible/icon13.png", alt="icon")
                .major__title Nem
                .major__subtitle  (NEM)
            
            .major__item
                img(src="images/avaible/icon14.png", alt="icon")
                .major__title EOS
                .major__subtitle  (EOS)
            
            .major__item
                img(src="images/avaible/icon15.png", alt="icon")
                .major__title ZCash
                .major__subtitle  (ZCash)
            
            .major__item
                img(src="images/avaible/icon16.png", alt="icon")
                .major__title Doge
                .major__subtitle  (DOGET)

    .major StableCoins and Tokens
    .container
        .major__catalog
            .major__item
                img(src="images/avaible/icon17.png", alt="icon")
                .major__title Tether
                .major__subtitle  (USDT (ETH))
            
            .major__item
                img(src="images/avaible/icon18.png", alt="icon")
                .major__title Tether
                .major__subtitle  (USDT (BTC))
            
            .major__item
                img(src="images/avaible/icon19.png", alt="icon")
                .major__title TrueUSD
                .major__subtitle  (TUSD)
            
            .major__item
                img(src="images/avaible/icon20.png", alt="icon")
                .major__title USD Coin
                .major__subtitle  (USDC)
            
            .major__item
                img(src="images/avaible/icon21.png", alt="icon")
                .major__title Paxos
                .major__subtitle  (PAX)
            
            .major__item
                img(src="images/avaible/icon22.png", alt="icon")
                .major__title Binance USD
                .major__subtitle  (BUSD)
            
            .major__item
                img(src="images/avaible/icon23.png", alt="icon")
                .major__title Gemini
                .major__subtitle  (GUSD)
            
            .major__item
                img(src="images/avaible/icon24.png", alt="icon")
                .major__title Basic Attention token
                .major__subtitle  (BAT)
            
            .major__item
                img(src="images/avaible/icon25.png", alt="icon")
                .major__title DAI
                .major__subtitle   (DAI)
            
            .major__item
                img(src="images/avaible/icon26.png", alt="icon")
                .major__title Zero0x
                .major__subtitle  (ZRX)
            
            .major__item
                img(src="images/avaible/icon27.png", alt="icon")
                .major__title OmiseGO
                .major__subtitle  (OMG)
            
            .major__item
                img(src="images/avaible/icon28.png", alt="icon")
                .major__title PAX Gold
                .major__subtitle (PAXG)
            .major__subitem #[span(class="extrabold") 888+] Tokens Supported