.section.benefits_section
    .container.goanim.an
        .section__title Crypto Wallets #[span(class="section__title--bold db") benefits]

        .gray_block__container
            .gray__block
                .gray__block--title Easy, hassle free integration
                .gray__block--subtitle Integrating cryptocurrency payments into your system is easy and hassle-free. Let the experts handle the technology aspects, while you get ready to start accepting crypto! 

            .gray__block
                .gray__block--title Premium support from our team
                .gray__block--subtitle Our team of experts is on hand 24/7 to assist with any technical queries and offer practical assistance and guidance whenever you need it.

            .gray__block
                .gray__block--title Become part of a growing community
                .gray__block--subtitle The world of crypto is booming and its presence is greater than ever. Join the growing community and enjoy the instant benefits!

            .gray__block
                .gray__block--title Security and reliability
                .gray__block--subtitle Security is always of paramount importance with no room for compromise. We are experts in our field and offer our clients a safe, secure and reliable environment at all times.
            
            .gray__block
                .gray__block--title Access to a growing crypto market
                .gray__block--subtitle Get access to a growing market and see your revenue-levels rise. The potential is too big to ignore. Integrate a lucrative new payment method today!
            
            .gray__block
                .gray__block--title Integrate as part of your solution
                .gray__block--subtitle If your business is online, accepting cryptocurrencies is the best way to secure a new set of customers and boost your business.