.section.section__catalog.section__catalog_ex
    
    .container.goanim.an
        .section__title Features

        .cutting_catalog
            .cutting_catalog__item
                .cutting_catalog__heading Lightning fast
                .cutting_catalog__subheading Benefit from faster, worldwide#[span(class="db")] transactions, which are not possible with regular bank payments.

            .cutting_catalog__item
                .cutting_catalog__heading Secure
                .cutting_catalog__subheading Protection against DDoS attacks,#[span(class="db")]full data encryption and blockchain transparency, together with secure#[span(class="db")] checkout.

            .cutting_catalog__item
                .cutting_catalog__heading KYT
                .cutting_catalog__subheading Integration of KYT cryptocurrency#[span(class="db")] compliance service to prevent#[span(class="db")] money laundering and other illicit#[span(class="db")] activities.

            .cutting_catalog__item
                .cutting_catalog__heading Independent
                .cutting_catalog__subheading There are no third parties involved in  transactions so there is no need to#[span(class="db")] depend on any bank or goverment.

            .cutting_catalog__item
                .cutting_catalog__heading No rolling reserve
                .cutting_catalog__subheading With no rolling reserve, there is no need to freeze a percentage of your money as#[span(class="db")] there is no central authority or#[span(class="db")] chargebacks.

            .cutting_catalog__item
                .cutting_catalog__heading No chargebacks
                .cutting_catalog__subheading Blockchain transactions are#[span(class="db")] irreversible with no chargebacks.#[span(class="db")] No recurring fees or hidden#[span(class="db")] charges.