.section.section__enguine
    .container.goanim.an
        .section__title Matching #[span(class="section__title--bold") Engine] vs #[span(class="section__title--bold") Brokerage Platform]
        .section__subtitle Get an overview of all the differences between matching engine for spot#[span(class="db")] and margin brokerage platforms
    
    .container.container__table.goanim.an
        .enguine_table
            .row
                .col Features
                .col Cryptocurrency Payments
                .col Fiat Payments
            
            .row
                .col Decentralization
                .col Yes
                .col.red No
            
            .row
                .col Fast
                .col Yes
                .col.green Yes
            
            .row
                .col Secure
                .col Yes
                .col.green Yes
            
            .row
                .col Chargebacks
                .col No
                .col Yes
            
            .row
                .col Rolling Reserve
                .col No
                .col Yes
            
            .row
                .col Peer to Peer
                .col Yes
                .col No
            
            .row
                .col Irreversible
                .col Yes
                .col No
            
            .row
                .col Privacy
                .col Yes
                .col No
            
            .row
                .col Low Cost
                .col Yes
                .col No

            .row
                .col Easy Account Opening
                .col Yes
                .col No