.section.section__enguine.section__enguine__enterprise
    .container.goanim.an
        .section__title  #[span(class="section__title--bold") CRYPTO] vs #[span(class="section__title--bold") FIAT#[span(class="db")] Payments]
        .section__subtitle Crypto payments offer many benefits over traditional Fiat payment#[span(class="db")] methods. Check out the facts and see for yourself!
    
    .container.container__table.goanim.an
        .enguine_table
            .row
                .col Features
                .col Cryptocurrency Payments
                .col Fiat Payments
            
            .row
                .col Decentralization
                .col Yes
                .col.red No
            
            .row
                .col Fast
                .col Yes
                .col.green Yes
            
            .row
                .col Secure
                .col Yes
                .col.green Yes
            
            .row
                .col Chargebacks
                .col No
                .col Yes
            
            .row
                .col Rolling Reserve
                .col No
                .col Yes
            
            .row
                .col Peer to Peer
                .col Yes
                .col No
            
            .row
                .col Irreversible
                .col Yes
                .col No
            
            .row
                .col Privacy
                .col Yes
                .col No
            
            .row
                .col Low Cost
                .col Yes
                .col No

            .row
                .col Easy Account Opening
                .col Yes
                .col No