.section-22.faq
  .container.goanim.an
    .section__title.section__title--bold FAQs
    .main-text Have a question? A source of useful information about our products and services.
    .question

      .question-item.faq_btn_js(data-id="1")
        span How do I accept cryptocurrencies?
        .question__plus
          span
          span
        .question-item_content(data-id="1") It’s really easy to integrate B2BinPay crypto payment gateway into your current operations or launch it as a new service. Forward us your request, proceed with the integration and you’re ready to offer your customers Bitcoin(BTC), Ether(ETH), Ripple (XRP), Bitcoin Cash (BCH), Litecoin(LTC) and a whole range more as a payment method! 

      .question-item.faq_btn_js(data-id="2")
        span What cryptocurrencies are on offer?
        .question__plus
          span
          span
        .question-item_content(data-id="2") B2BinPay can handle all your cryptocurrency processing needs with cryptos including Bitcoin, Ethereum, Litecoin, Bitcoin Cash, Monero, Binance Coin, Stellar, Zcash, Cardano, EOS, Ripple, Nem, Doge, TRON, NEM. A total of 6 stablecoins and 888+ tokens are available for your convenience.

      .question-item.faq_btn_js(data-id="3")
        span Are StableCoins and Tokens supported?
        .question__plus
          span
          span
        .question-item_content(data-id="3") Yes, Tether, TrueUSD, USD Coin, Binance USD, Gemini, Paxos and more than 888 NEO, NEM, ETH and Omni-based tokens are all supported.

      .question-item.faq_btn_js(data-id="4")
        span Is a test account available?
        .question__plus
          span
          span
        .question-item_content(data-id="4") Integration first takes place in a staging environment for the purpose of client testing. Production deployment only takes place after this process is approved so as to limit the risk of bugs during the production stage. This procedure ensures that you will have the most stable product on the market!

      .question-item.faq_btn_js(data-id="5")
        span How do I integrate a crypto payment gateway?
        .question__plus
          span
          span
        .question-item_content(data-id="5") Integrating cryptocurrency payments into your existing system couldn’t be easier. We will take care of all the technology aspects while you prepare to start accepting crypto! Get in touch now.

      .question-item.faq_btn_js(data-id="6")
        span Is B2BinPay secure?
        .question__plus
          span
          span
        .question-item_content(data-id="6") Yes, of course! We take security very seriously and never ever compromise. As specialists in our field, we always offer our clients a safe, secure and reliable environment. Our API endpoints are encrypted through SSL so user traffic is secured when requesting data.

      .question-item.faq_btn_js(data-id="7")
        span Are automatic withdrawals supported?
        .question__plus
          span
          span
        .question-item_content(data-id="7") Automatic withdrawals can be made using secure API or manually. This fast and simple procedure is available at the touch of a button.
      
      .question-item.faq_btn_js(data-id="8")
        span Do you have any restrictions for my country?
        .question__plus
          span
          span
        .question-item_content(data-id="8") B2BinPay does not offer services to residents of USA, Afghanistan,  American Samoa, the Bahamas, Botswana, Democratic People's Republic of Korea, Ethiopia, Ghana, Guam, Iran, Iraq, Libya, Nigeria, Pakistan, Panama, Puerto Rico, Samoa, Saudi Arabia, Sri Lanka, Syria, Trinidad and Tobago, Tunisia,  US Virgin Islands and Yemen. 
      
      .question-item.faq_btn_js(data-id="9")
        span Is B2BinPay regulated?
        .question__plus
          span
          span
        .question-item_content(data-id="9") Yes, we are regulated by the Estonian Government.
      
      .question-item.faq_btn_js(data-id="10")
        span Is it possible to add tokens?
        .question__plus
          span
          span
        .question-item_content(data-id="10") Yes, you can integrate any liquid or non-liquid NEO, NEM, ETH and Omni-based tokens.
      
      .question-item.faq_btn_js(data-id="11")
        span Can I add coins?
        .question__plus
          span
          span
        .question-item_content(data-id="11") Yes, we have all major coins and 7 stablecoins. Simply get in touch if you require custom blockchain integration.
      
      .question-item.faq_btn_js(data-id="12")
        span Am I able to withdraw fiat?
        .question__plus
          span
          span
        .question-item_content(data-id="12") Yes, it is a simple process to withdraw funds to your SEPA or SWIFT bank account.
      
      .another_question.another_question__for_btn
        div
          .another_question--heading Any other questions?
          .another_question--link We are on hand to answer all your questions. Get in touch.
        a(href="#").btn.btn--green.js-modal2-btn Ask us now

      
          
        
