.section.dark_style.feature.section__ex_features
    .container
        .section__title.goanim.an #[span(class="section__title--bold db") A Back Office] for your team
        .feature__block
            .feature__image
                img(src="images/ex_features1.png", alt="image")
            .feature__text
                .feature__heading Wallets 
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Wallets Statuses
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Confirmed & Pending Balances
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Custom Labels
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Wallets Settings
        .feature__block
            .feature__text
                .feature__heading Deposits
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Wallets & Addresses
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Easy Tracking
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Status: Pending/Approved
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Creation, Expiration time
            .feature__image
                img(src="images/ex_features2.png", alt="image")
        .feature__block
            .feature__image
                img(src="images/ex_features3.png", alt="image")
            .feature__text
                .feature__heading Payouts
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Wallets & Custom Labels
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Statuses & Tracking
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Receiver Addresses
        .feature__block
            .feature__text
                .feature__heading Transfers
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Trasfer Types
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Transfer Statuses
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Transaction hash
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Amount, Currency and Tracking
            .feature__image
                img(src="images/ex_features4.png", alt="image")
        .feature__block
            .feature__image
                img(src="images/ex_features5.png", alt="image")
            .feature__text
                .feature__heading New Payout
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Wallets
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Address Book
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Amount, Currency, Date and more
                .check_block--mam_platform-item.circle
                    +icon('circle')
                    span.check_block--mam_platform-item--text Transaction Speed Settings
           
            
            

