.section.section__blue.section__fully
    .container
        .section__title #[span(class="section__title--bold db") Fully Compliant] with your Regulator!
        .section__subtitle Track the legitimacy of crypto funds and stay compliant. Crypto analytics#[span(class="db")] enhance due diligence and AML compliance procedures for all#[span(class="db")] businesses involved with cryptocurrency. 
    
    .container
        .trading__flex
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Comply with AML/CTF#[span(class="db")] regulations
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text In-depth case by case#[span(class="db")] investigations
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Identify any criminal activity#[span(class="db")] on the blockchain
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Monitor and control over risky#[span(class="db")] transactions
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Automatically identify#[span(class="db")] high-risk activities
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Tracking ransomware#[span(class="db")] payments