.section.section__blue.section__how_ex
    .container
        .section__title How does it #[span(class="section__title--bold") work?]
        .section__subtitle Our cryptocurrency wallets solution is your gateway #[span(class="db")]to the crypto-world in 3 simple steps!
        img.banner(src="images/ex/how.png", alt="banner")

    .container
        .tabs__title
        .tabs__subtitle
        .tabs_container
            .mam_tabs-btn.active(data-id="1") Picture
            .mam_tabs-btn(data-id="2") Gif
            .mam_tabs-content.active(data-id="1")
                .gif__slider--js.flickity_castom_arrow
                    .item
                        img.banner(src="images/ex/item1.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item2.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item3.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item4.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item5.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item6.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item7.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item8.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item9.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item10.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item11.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item12.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item13.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item14.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item15.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item16.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item17.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item18.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item19.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item20.png", alt="banner")
                        .gif__naw
                    .item
                        img.banner(src="images/ex/item21.png", alt="banner")
                        .gif__naw
            .mam_tabs-content(data-id="2")
                img.banner(src="images/ex/how_gif.gif", alt="gif")
