.b2_form.section.section__enterprise_form
  .container.goanim.an
    .section__title.center Start accepting #[span(class="section__title--bold db") Crypto Now]  
    .section__subtitle Offer your clients an exciting new payment method and watch#[span(class="db")] your business grow!
    form.new_form.new_form__flex
      label.new_form__label.new_form__label__50
        span.new_form__placeholder Your Name
        span.new_form__star *
        input.new_form__input(type="text")
      label.new_form__label.new_form__label__50.new_form__label__lang_select
        span.new_form__placeholder Preffered language
        input.new_form__input(type="text")
        .new_form__label__lang_select_wrapper
          img(src="images/new_en.png",class="new_form__label__lang_select_icon")
          select.new_form__select
            option(value="English") English
            option(value="English") English
            option(value="English") English
      label.new_form__label.new_form__label__50
        span.new_form__placeholder Your Email
        span.new_form__star *
        input.new_form__input(type="text")
      label.new_form__label.new_form__label__50
        span.new_form__placeholder Comments
        input.new_form__input(type="text")
      label.new_form__label.new_form__label__50.new_form__label__phone_select
        span.new_form__placeholder Phone
        span.new_form__star *
        input.new_form__input(type="text")
        select.new_form__select.new_form__select_phone
            option(value="+7") +7
            option(value="+7") +7
            option(value="+7") +7
      label.new_form__label.new_form__label__50.new_form__label_capch
        span.new_form__placeholder Enter symbols
        span.new_form__star *
        img.new_form__capch(src="images/capch_text.png")
        input.new_form__input(type="text")
      label.new_form__label.new_form__label__50.new_form__label__web_select
        span.new_form__placeholder Nickname
        input.new_form__input(type="text")
        select.new_form__select.new_form__select_web
            option(value="Telegram") Telegram
            option(value="Telegram") Telegram
            option(value="Telegram") Telegram
      button.new_form__sabmit.new_form__sabmit__50 Request a Callback
      //- .new_form__description.new_form__description__50 Based on your IP, you are in the Russian Federation. #[a(href="#") Change] Your data will be in US data center.
      label.consent_block
        p B2Broker uses the information you provide to us to contact you about our relevant content, products and services. For more information, check out our #[a(href="#") Privacy Policy.]
      