.section.section__reinvent
    .container
        .section__title No Need to #[span(class="section__title--bold") Reinvent]#[span(class="db")] the wheel!
        .section__subtitle There are many reasons why it does not make sense to create a wallets solution on your own. Entrust#[span(class="db")] the process to the experts and benefit from much more than just cost-savings!
    
    .container
        .gray_block__container
            .gray__block
                .gray__block--title Node Patches and Updates
                .gray__block--subtitle No need to take care of node patches and necessary updates. This is all taken care of as part of our enterprise solution.
            
            .gray__block
                .gray__block--title Development Team
                .gray__block--subtitle Development costs can be substantial and difficult to manage. Bypass the hassle by entrusting our industry experts.
            
            .gray__block
                .gray__block--title Security
                .gray__block--subtitle Security is not only of major importance but requires expert know-how to maintain. Reduce your risks and costs by allowing us to handle it.
            
            .gray__block
                .gray__block--title IT Infrastructure
                .gray__block--subtitle Developing an IT infrastructure is expensive and time consuming. Many organisations buy-in the expertise#[span(class='db')] and that’s our specialisation.
            
            .gray__block
                .gray__block--title Back Ups and Maintanance
                .gray__block--subtitle Take the headache out of back ups and systems maintenance. We handle all the technical aspects#[span(class='db')] on an ongoing basis.
            
            .gray__block
                .gray__block--title Risk Management
                .gray__block--subtitle Get rid of risk control and management and leave it to the experts. Focus on your core business and we will take care of all the complexities so you don’t have to.
            
            .gray__block
                .gray__block--title API, tracking, notifications...
                .gray__block--subtitle Benefit from our technical know-how and get an extra level of development of API, tracking and notifications in line with your business requirements.
            
            .gray__block
                .gray__block--title Staging & Production
                .gray__block--subtitle Integration is first made in a staging environment for client testing. As experts, only we have the capacity to carry out this process.
            
            .gray__block
                .gray__block--title Technical Support
                .gray__block--subtitle We offer 24/7 technical support, education and more. Everything is designed with your comfort in mind to maximise your experience with us.
            
            .gray__block
                .gray__block--title Expense vs Income
                .gray__block--subtitle Expense/Income ratios suggest it is better not to attempt time-consuming development on your own. Opt for a proven cost-saving solution.