.section.dark_style.section__report
    .container
        .section__title Advanced #[span(class="section__title--bold") reporting]
        .section__subtitle In-depth reporting capabilities allow your accounting team to access#[span(class="db")] transactions, transfers, bill reports and more on demand.
        img.banner(src="images/report.png", alt="banner")
        .trading__flex
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text CSV files

            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text XL tables
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text PDF documents