.section.section__sacurity.section__sacurity_ex
    .container
        .section__title.goanim.an What #[span(class="section__title--bold") can you do]   with#[span(class="db")] your Crypto?

        .gray_block__container
            .gray__block
                .gray__block--title Receive
                .gray__block--subtitle Receive a variety of coins including Bitcoin, Ether, Ripple’s XRP, Bitcoin Cash, Tether and lots more as a payment option!
            .gray__block
                .gray__block--title Hodl
                .gray__block--subtitle Many customers hold onto their Bitcoin in the hope its value will rise. Store your Bitcoin in your B2BinPay account or transfer it to a private wallet.
            .gray__block
                .gray__block--title Send 
                .gray__block--subtitle Unlike sending money abroad, you can send Bitcoin or any other cryptocurrency to anyone, virtually anywhere in the world.
            .gray__block
                .gray__block--title Exchange
                .gray__block--subtitle Exchanging your Bitcoin is simple. Exchange any portion of your Bitcoin balance to another crypto whenever you need to.