.section-3.section.section__blue.section-3__enterprise
  .container
    .section__title What is an #[span(class="section__title--bold")  Enterprise Blockchain Wallets Solution?]

    span.main-text #[span(class="bold") Our Enterprise Wallets Solution allows businesses to Receive, Store and Send] virtual currencies such as#[span(class="db")] Bitcoin, Ether, Ripple’s XRP, Tether and many more as a payment option.

    span.main-text A highly  #[span(class="bold") Secure, Reliable and Scalable Blockchain Wallets Solution] that supports all kinds of business models#[span(class="db")] from an industry-leading cryptocurrency payments provider.

    span.main-text Our cutting-edge blockchain technology is trusted throughout the industry.

     
    .number_block
      .number_block-content
        .number_block--number.center 7
        .number_block--text.center StableCoins

      .number_block-content
        .number_block--number.center 25+
        .number_block--text.center Coins

      .number_block-content
        .number_block--number.center 888+
        .number_block--text.center Tokens

      .number_block-content
        .number_block--number.center 24/7
        .number_block--text.center Technical Support