.section.section__blue.section__technology
    .container
        .section__title #[span(class="section__title--bold") Cutting-edge] technology for #[span(class="section__title--bold") blockchains]
        .section__subtitle We enable businesses to integrate digital assets into their operations securely and#[span(class="db")]  at scale. Our multi-functional solution is the perfect fit for your business!

    .container
        .row
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Coins, StableCoins and Tokens
            
            .check_block--mam_platform-item.circle 
                +icon('circle')
                .check_block--mam_platform-item--text Multilingual Interface 
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Notification System
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Authorisation logging 
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Suspicious activity monitor
        
        .row
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Automatic withdrawals
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text 24/7 technical support
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Secure fund storage
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text DDoS protection
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Full white-label integration
        
        .row
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Reach API
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Advanced security
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Alerts system
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Address book
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Detailed statistics