.section.section__transaction
    .container 
        .section__title Transaction speed under your #[span(class="section__title--bold") Control]
        .section__subtitle You decide on the speed of transactions needed for your type of business.#[span(class="db")] The bigger the fee - the faster the transaction!
        img.banner(src="images/transaction.png", alt="banner")