.section.who_is_it_for.who_is_it_for__businesses
  .container
    .section__title.goanim.an Crypto Wallets tailored#[span(class="db")] for   #[span(class="section__title--bold") all Businesses]
    .section__subtitle.goanim.an Easy set up, configuration and use of cryptocurrency wallets for your business. Our crypto wallets can be easily tailored for all#[span(class="db")] kinds of businesses. From FOREX and Crypto brokers to Exchanges and Token issuers, we have it all covered!
  .container
    .it_for__block
      .it_for__item
        .it_for__icon
          img(src="images/businass/icon1.svg", alt="icon")
        .it_for__text
          .it_for__heading FOREX and Crypto Brokers
          .it_for__description The crypto market is booming. Offer your clients the possibility to trade and deposit#[span(class="db")] funds in different kinds of crypto.
      .it_for__item
        .it_for__icon
          img(src="images/businass/icon2.svg", alt="icon")
        .it_for__text
          .it_for__heading OTC Desks
          .it_for__description Crypto exchanges who run OTC desks need their own digital wallet to receive cryptocurrencies. We can offer you that solution.
      .it_for__item
        .it_for__icon
          img(src="images/businass/icon3.svg", alt="icon")
        .it_for__text
          .it_for__heading Exchanges
          .it_for__description The core mechanism behind every exchange. Our gateway provides the technology to handle all your crypto transactions..
      .it_for__item
        .it_for__icon
          img(src="images/businass/icon4.svg", alt="icon")
        .it_for__text
          .it_for__heading Mobile Wallet Apps
          .it_for__description We provide the technology for mobile wallet apps, enabling users to make in-store payments and with listed merchants.
      .it_for__item
        .it_for__icon
          img(src="images/businass/icon5.svg", alt="icon")
        .it_for__text
          .it_for__heading Payment Processors
          .it_for__description Payment processors are seeing an increase in demand for crypto services. Our wallets solution will help you onboard more clients.
      .it_for__item
        .it_for__icon
          img(src="images/businass/icon6.svg", alt="icon")
        .it_for__text
          .it_for__heading Token Issuers
          .it_for__description Token issuers generate and manage tokens and need to have wallet solutions for their users. We can fulfill that requirement.
      .it_for__item
        .it_for__icon
          img(src="images/businass/icon7.svg", alt="icon")
        .it_for__text
          .it_for__heading Hedge Funds
          .it_for__description Hedge funds can generate hundreds of millions of dollars in management and performance fees. Crypto payments are an obvious choice. 
      .it_for__item
        .it_for__icon
          img(src="images/businass/icon8.svg", alt="icon")
        .it_for__text
          .it_for__heading Margin Exchanges
          .it_for__description Our gateway provides the technology to handle all your crypto transactions associated with margin trading.
      