.section.who_is_it_for.who_is_it_for__businesses.section__role.section__blue
  .container
    .section__title.goanim.an #[span(class="section__title--bold db") Role-Based] System #[span(class="section__title--bold") Access]
    .section__subtitle.goanim.an Supports 95% of all available tokens on the market today! Provide access to your team based on their job roles.
  .container
    .it_for__block
      .it_for__item
        .it_for__icon
          img(src="images/role1.svg", alt="icon")
        .it_for__text
          .it_for__heading API
          .it_for__description API access for deposits, withdrawals and statistics.
      .it_for__item
        .it_for__icon
          img(src="images/role2.svg", alt="icon")
        .it_for__text
          .it_for__heading Owner
          .it_for__description Fully featured access for all types of information required.
      .it_for__item
        .it_for__icon
          img(src="images/role3.svg", alt="icon")
        .it_for__text
          .it_for__heading View Only
          .it_for__description Read-only access for the system with ablility to withhold sensitive customer data.
      .it_for__item
        .it_for__icon
          img(src="images/role4.svg", alt="icon")
        .it_for__text
          .it_for__heading Staff / Support
          .it_for__description Read-only access for customer support team for easy management.
      .it_for__item
        .it_for__icon
          img(src="images/role5.svg", alt="icon")
        .it_for__text
          .it_for__heading Administration
          .it_for__description Administration access for technical support team.
      .it_for__item
        .it_for__icon
          img(src="images/role6.svg", alt="icon")
        .it_for__text
          .it_for__heading Finance
          .it_for__description Reports, transfers and transactions data for the finance department.