.section.about_web__section
    .big_container
        <svg width="39" height="13" viewBox="0 0 39 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="7.15336" cy="6.69109" rx="6.28605" ry="5.98919" fill="#0ABE98"/>
            <ellipse cx="19.7249" cy="6.69109" rx="6.28605" ry="5.98919" fill="#28F3C8"/>
            <ellipse cx="32.297" cy="6.69109" rx="6.28605" ry="5.98919" fill="#7DFFE0"/>
        </svg>
        
        .about_web__title About B2Broker Webinars
        .about_web__desc B2Broker webinars are designed to give financial businesses, or those wanting to set up from scratch, the opportunity to get clued up on some basic essential knowledge. 
        .about_web__desc The webinars are an ideal educational tool and are specially developed to give businesses quick access to important information in order to capitalise on the ever-growing trends as the financial markets continue to report increased trading volumes.
