.section.small__title.after__web__section
    .container 
        .section__title #[span(class="section__title--bold") What will you get] after the webinar? 
        .after__web We will send you a replay and will give you #[span(class="db")] #[span(class="after__web__big") 10% discount] on setup.
        <svg class="after__web__icon" width="38" height="13" viewBox="0 0 38 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.5815 6.83245C12.5815 10.1402 9.76714 12.8216 6.29545 12.8216C2.82376 12.8216 0.00939941 10.1402 0.00939941 6.83245C0.00939941 3.52471 2.82376 0.843262 6.29545 0.843262C9.76714 0.843262 12.5815 3.52471 12.5815 6.83245Z" fill="#0ABE98"/>
            <ellipse cx="18.867" cy="6.83245" rx="6.28605" ry="5.98919" fill="#28F3C8"/>
            <ellipse cx="31.4391" cy="6.83245" rx="6.28605" ry="5.98919" fill="#7DFFE0"/>
        </svg>