.section.small__title.for_web__section
    .section__title Who is this #[span(class="section__title--bold") webinar for?]

    .big_container
        .liq__catalog
            .liq__item
                img.liq__icon(src="images/for_web1.svg", alt="icon")
                .liq__title FOREX Traders
                .liq__desc Get valuable advice and practical knowledge so you can set up your own business

            .liq__item
                img.liq__icon(src="images/for_web2.svg", alt="icon")
                .liq__title Start-Up Entrepreneurs
                .liq__desc Find out everything you need to know#[span(class="db")]  about setting up a brokerage from scratch
            
            .liq__item
                img.liq__icon(src="images/for_web3.svg", alt="icon")
                .liq__title Other Fields Professionals
                .liq__desc Learn how can you capitalise on the#[span(class="db")] ever-growing trends or enhance you operations