.section.host__section
    .big_container
        .web_topics__title Webinar Host

        .host__block
            .host__title Omar Al-Ali
            .host__subtitle Business Development Manager
            .host__desc India, Arabic and African countries

            ul.host
                li 
                    p   Omar is a specialist in the B2B financial sector.#[span(class="db")] Thanks to his deep knowledge of the market and excellent communication skills in Arabic, English and Russian.
                li 
                    p   Omar has just entered his 4th year with B2Broker.#[span(class="db")] He has built a long-term rapport with both his team and clients. Omar has the vision to prescribe the ultimate solution for a company based on a brief analysis of its strategy and business model.