.section.new_main_screen.new_main_screen_web.small__title
    .big_container
        .web_screen
            .web_screen__heading How to start a 
            .section__title #[span(class="section__title--bold") Brokerage Business] 
            .section__subtitle Free Online Workshop

            .web_screen__lid
                .web_screen__icon
                    img(src="images/web_lid.png", alt="img")
                div
                    .web_screen__title Omar Al-Ali
                    .web_screen__subtitle Business Development Manager

            a.buty__btn.web_form_btn--js(href="#") Register Now
        
        .web_screen__times
            .web_screen__dates
                .web_screen__dates__title 2 September
                .web_screen__dates__subtitle Wednesday
            
            .web_screen__dates
                .web_screen__dates__title 3:00 PM
                .web_screen__dates__subtitle (GMT +1)
            
            .web_screen__dates
                .web_screen__dates__title Free
                .web_screen__dates__subtitle Untill 1 sep
    

    a(href="#").web_screen__more_btn 
        <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.16264 7.15767L7.54066 0.683593L10.0444 0.683593L6.14737 9.73473L4.12553 9.73473L0.228515 0.683593L2.73224 0.683593L5.16264 7.15767Z" fill="white" fill-opacity="0.4"/>
        </svg>
        |   Learn more

