.section.web_topics__section
    .big_container
        .web_topics
            .web_topics__text
                .web_topics__title #[span(class="extrabold") Topics] covered
                .web_topics__subtitle Omar is a specialist in the B2B financial sector. Thanks to his deep knowledge of the market and excellent communication skills in Arabic, English and Russian.

            .web_topics__items
                .web_topics__item
                    img(src="images/point.svg", alt="icon")
                    span How to launch your own FOREX#[span(class="db")] or Crypto Broker business
                
                .web_topics__item
                    img(src="images/point.svg", alt="icon")
                    span How to avoid mistakes in your#[span(class="db")] FOREX or Crypto Startup

                .web_topics__item
                    img(src="images/point.svg", alt="icon")
                    span Hints and tips to get you started
                
                a(href="#").web_topics__join 
                    span Join Webinar
                    <svg width="30" height="9" viewBox="0 0 30 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.3066 2.12793V4.25956V6.58593L27.1546 4.25956L23.3066 2.12793Z" fill="#A8A8A8"/>
                        <path d="M0.86731 4.25956H23.3066V2.12793M23.3066 2.12793V6.58593L27.1546 4.25956L23.3066 2.12793Z" stroke="#A8A8A8" stroke-width="2"/>
                    </svg>