.events_screen.section.news_feed(style="background-image: url(images/media.png);")
    .container
        .section__title.section__title--bold Media
        .section__subtitle As a major player in the industry, we are a regular feature in the#[span(class="db")] financial and blockchain media. Read about all our latest news#[span(class="db")] coverage and product announcements. 
