.section.events.news_feed_events
    .aside_burger--js
        span

    aside.events_sidebar
        ul.events_sidebar__ul
            li.events_sidebar__li
                a.events_sidebar__link(href="#") News Feed
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Сorporate news
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Product Updates
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Webinars
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Events
            
            li.events_sidebar__li.active
                a.events_sidebar__link(href="#") Media
            
            li.events_sidebar__li.video
                a.events_sidebar__link(href="#") Videos
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Articles
        
        form.events_form
            .events_form__title Join to our newsletter
            input(type="email" placeholder="Enter your Email")
            button.new_green_btn Subscribe

    .events_content.media_content
        .container
            .also.pink__style
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__media_content
                    .also__media_date 22.05.2020
                    .also__media_discription We appreciate everyone who works with us and inspires us to achieve our success.
                    .also__media_line
                    img(src="images/media/logo1.png", style="max-width:106px;").also__media_logo
            
            .also.pink__style
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__media_content
                    .also__media_date 13.05.2020
                    .also__media_discription B2Broker is a big#[span(class="db")] multinational family with#[span(class="db")] over 150 employees.
                    .also__media_line
                    img(src="images/media/logo2.png", style="max-width:112px;").also__media_logo
            
            .also.pink__style
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__media_content
                    img.also__media_says(src="images/says.svg")
                    .also__media_date 22.05.2020
                    .also__media_title Finance Magnates
                    .also__media_discription B2Broker is a big multinational family with over 150 employees. We appreciate everyone who works with us and inspires us to achieve our success.
                    .also__media_line
                    img(src="images/media/logo1.png", style="max-width:106px;").also__media_logo
            
            .also.pink__style
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__media_content
                    .also__media_date 22.05.2020
                    .also__media_discription We are a big multinational family with over 150 employees. We appreciate everyone who works with us and inspires us to achieve our success. We are a big multinational family with over 150 employees.
                    .also__media_line
                    img(src="images/media/logo1.png", style="max-width:106px;").also__media_logo
            
            .also.pink__style
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__media_content
                    .also__media_date 22.05.2020
                    .also__media_discription We appreciate everyone who works with us and inspires us to achieve our success.
                    .also__media_line
                    img(src="images/media/logo1.png", style="max-width:106px;").also__media_logo
            
            .also.pink__style
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__media_content
                    .also__media_date 13.05.2020
                    .also__media_discription B2Broker is a big#[span(class="db")] multinational family with#[span(class="db")] over 150 employees.
                    .also__media_line
                    img(src="images/media/logo2.png", style="max-width:112px;").also__media_logo
            
            .also.pink__style
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__media_content
                    img.also__media_says(src="images/says.svg")
                    .also__media_date 22.05.2020
                    .also__media_title Finance Magnates
                    .also__media_discription B2Broker is a big multinational family with over 150 employees. We appreciate everyone who works with us and inspires us to achieve our success.
                    .also__media_line
                    img(src="images/media/logo1.png", style="max-width:106px;").also__media_logo
            
            .also.pink__style
                .also__overlay
                a.also__btn(href="#") Read  more
                .also__media_content
                    .also__media_date 22.05.2020
                    .also__media_discription We are a big multinational family with over 150 employees. We appreciate everyone who works with us and inspires us to achieve our success. We are a big multinational family with over 150 employees.
                    .also__media_line
                    img(src="images/media/logo1.png", style="max-width:106px;").also__media_logo