.section.section__arch
    .container.goanim.an
        .section__title.section__title--bold  Architecture

        img.banner(src="images/architecture.png", alt="banner")

        .arch__catalog
            .arch__item
                .arch__icon
                    span 1
                .arch__text User initiates request to load balancer.
            
            .arch__item
                .arch__icon
                    span 2
                .arch__text Load balancer delivers information to frontend server.
            
            .arch__item
                .arch__icon
                    span 3
                .arch__text Front-office validates request and sends it to order matcher server.
            
            .arch__item
                .arch__icon
                    span 4
                .arch__text Order matcher receives  request and executes it immediately or inputs order into order book#[span(class="db")] for execution.
            
            .arch__item
                .arch__icon
                    span 5
                .arch__text Front-office receives updates from order matcher and updates#[span(class="db")] the information for user back-office services.
            
            .arch__item
                .arch__icon
                    span 6
                .arch__text The trade then publishes public updates to public web sockets.
            
            .arch__item
                .arch__icon
                    span 7
                .arch__text This information #[span(class="db")]includes order book updates, charts updates, trade history updates and minitiker updates.
            
            .arch__item
                .arch__icon
                    span 8
                .arch__text Market data service aggregates information into charts bars and#[span(class="db")] writes it to the market #[span(class="db")]da-tabase.