.forex_liquidity.forex_liquidity__new.forex_liquidity__new__b2_trading
  video.b2_core__title_video(autoplay,loop, pip="false" muted,src="images/dynamic_layout.mp4")
  .forex_liquidity--overlay
  .container
    .forex_liquidity__content
      h2.section__title #[span(class="section__title--bold") B2Trader]  Matching #[span(class="db")] Engine
      span.section__subtitle For Crypto Exchanges, MTF Brokers,#[span(class="db")] Security Exchanges,  Market Makers,#[span(class="db")] Spot FX Brokers and EMIs. 
    form.new_form.new_form__flex.b2_form.light_theme
      label.new_form__label
        span.new_form__placeholder Your Name
        span.new_form__star *
        input.new_form__input(type="text", required)
      label.new_form__label
        span.new_form__placeholder Your Email
        span.new_form__star *
        input.new_form__input(type="email", required)
      label.new_form__label.new_form__label__phone_select
        span.new_form__placeholder Phone
        span.new_form__star *
        input.new_form__input(type="text", required)
        select.new_form__select.new_form__select_phone
            option(value="+7") +7
            option(value="+7") +7
            option(value="+7") +7
      label.new_form__label.new_form__label_capch
        span.new_form__placeholder Enter symbols
        span.new_form__star *
        img.new_form__capch(src="images/capch_text_white.png")
        input.new_form__input(type="text", required)

      label.new_form__label.new_form__label__lang_select
        .new_form__label__lang_select_wrapper
          img(src="images/en.png",class="new_form__label__lang_select_icon")
          select.new_form__select
            option(value="English") English
            option(value="English") English
            option(value="English") English
      button.new_form__sabmit(type='submit') Request a Callback
      label.consent_block
        p B2Broker uses the information you provide to us to contact you about our relevant content, products and services. For more information, check out our #[a(href="#") Privacy Policy.]