.section.dark_style.section__trading
    .container.goanim.an
        .section__title Back#[span(class="section__title--bold") -Office]
        .section__subtitle A feature-rich back-office to maintain matching engine #[span(class="db")] functionality
    
    .trading
        .trading__title Balances
        .trading__slider.flickity_castom_arrow
            .item
                img.banner(src="images/balans1.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Displaying balances in#[span(class="db")] the context of currencies
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Showing equivalent of each#[span(class="db")] user’s currencies in USD#[span(class="db")] equivalent
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Separate locked#[span(class="db")] balance monitoring
            
            .item
                img.banner(src="images/balans2.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by date range
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by asset
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by transfer type
                    
            .item
                img.banner(src="images/balans3.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Time sorted table#[span(class="db")] of transfers
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various filters#[span(class="db")] and sorting#[span(class="db")] available
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Amount viewing#[span(class="db")] in USD
            
            .item
                img.banner(src="images/balans4.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Displaying aggregated#[span(class="db")] balances in USD
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Export of transfers details#[span(class="db")] in XLS table format
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Viewing all asset#[span(class="db")] amounts in one place 
    
    .trading.trading--mac
        .trading__title Users activity
        .trading__slider.flickity_castom_arrow
            .item
                img.banner(src="images/activity1.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Color visualization#[span(class="db")] of user status
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Viewing user's role, status,#[span(class="db")] balance and last login in one place
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Table and grid#[span(class="db")] displaying options
            
            .item
                img.banner(src="images/activity2.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text History of logins#[span(class="db")] for each user
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Information about#[span(class="db")] login time, country and#[span(class="db")] IP
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various sorting#[span(class="db")] options
                    
            .item
                img.banner(src="images/activity3.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by date range
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by asset
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by status and order#[span(class="db")] type
            
            .item
                img.banner(src="images/activity4.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Dispaying registration#[span(class="db")] and login date in one#[span(class="db")] place
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Table and grid#[span(class="db")] displaying options
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various date filters#[span(class="db")] and sorting
            
            .item
                img.banner(src="images/activity5.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Showing user’s assets#[span(class="db")] in context of currencies
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Dispaying assets#[span(class="db")] in USD equivalent
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Viewing total USD#[span(class="db")] amounts
            
            .item
                img.banner(src="images/activity6.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text History of user’s tranfers#[span(class="db")] activity in one place
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various date filters#[span(class="db")] and sorting
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Displaying status#[span(class="db")] of transfers
            
            .item
                img.banner(src="images/activity7.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text History of logins#[span(class="db")] for each user
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various sorting#[span(class="db")] options
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Information about#[span(class="db")] login time and IP
    
    .trading.trading--pad
        .trading__title Commissions
        .trading__slider.flickity_castom_arrow
            .item
                img.banner(src="images/commit1.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Showing commission paid by#[span(class="db")] specific user and total of all#[span(class="db")] users
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Calculation of#[span(class="db")] user's PnL
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Commission calculation#[span(class="db")] in USD equivalent
            
            .item
                img.banner(src="images/commit2.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by date range
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by trade side
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by market
                    
            .item
                img.banner(src="images/commit3.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Showing commissions of users#[span(class="db")] in context of role and status 
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Different filter#[span(class="db")] options
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Export in XLS#[span(class="db")] table
            
            .item
                img.banner(src="images/commit4.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Calculation#[span(class="db")] of user's PnL
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Showing commissions paid by#[span(class="db")] certain user and total of all users
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Commissions#[span(class="db")] calculation in USD#[span(class="db")] equivalent
            
            .item
                img.banner(src="images/commit5.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Displaying trades and paid#[span(class="db")] commissions in one string
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Showing trade details#[span(class="db")] in grouped view
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various filter#[span(class="db")] options
            
            .item
                img.banner(src="images/commit6.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Commissions#[span(class="db")] in context of assets
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Calculation of commisions#[span(class="db")] in USD equivalent  
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various#[span(class="db")] filter options

    .trading.trading--pad
        .trading__title Dealing
        .trading__slider.flickity_castom_arrow
            .item
                img.banner(src="images/dea1.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Online trade#[span(class="db")] monitoring
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Showing side, order type#[span(class="db")] and role in one place
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various filter#[span(class="db")] options
            
            .item
                img.banner(src="images/dea2.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Displaying assets in#[span(class="db")] the context of#[span(class="db")] currencies
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Calculation of total#[span(class="db")] volume and PnL
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Displaying PnL#[span(class="db")] in USD
                    
            .item
                img.banner(src="images/dea3.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Calculation of total PnL#[span(class="db")] in USD equivalent  
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by user ID,#[span(class="db")] role and status 
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Ability to export#[span(class="db")] in XLS format
            
            .item
                img.banner(src="images/dea4.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by date range
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by status
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Ability to display full time period
            
            .item
                img.banner(src="images/dea5.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Showing trade details#[span(class="db")] in one string
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Ability to revert#[span(class="db")] the trade
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by date#[span(class="db")]  and time
            
            .item
                img.banner(src="images/dea6.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Analyzing of trading#[span(class="db")] activity 
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by time interval#[span(class="db")] and user ID
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Showing market and#[span(class="db")] trade counts in one#[span(class="db")] place
            
            .item
                img.banner(src="images/dea7.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Real-time arbitrage#[span(class="db")] monitoring
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Ability to track a#[span(class="db")] certain user
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Displaying arbitrage#[span(class="db")] details
    
    .trading
        .trading__title Transactions 
        .trading__slider.flickity_castom_arrow
            .item
                img.banner(src="images/trans1.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Multiple search#[span(class="db")] and filters#[span(class="db")] options
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Viewing user roles, ID, account#[span(class="db")] and other info together
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Showing transfers history#[span(class="db")] of all users in one place
            
            .item
                img.banner(src="images/trans2.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by date range
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by asset
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by transfer type
    
    .trading.trading--pad
        .trading__title Trades/Orders
        .trading__slider.flickity_castom_arrow
            .item
                img.banner(src="images/order1.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Status, role and order#[span(class="db")] type in one place
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Order request#[span(class="db")] and fill timings
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text VVarious time#[span(class="db")] periods selection
            
            .item
                img.banner(src="images/order2.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by date range
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by asset
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by type
                    
            .item
                img.banner(src="images/order3.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Execution and Trade#[span(class="db")] ID in one block
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Calculation of trade#[span(class="db")] outcome in USD
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Export of trades#[span(class="db")] in XLS
            
            .item
                img.banner(src="images/order4.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Status, role and order#[span(class="db")] type in one place
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Order request and#[span(class="db")] fill timings
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various time periods#[span(class="db")] selection
            
            .item
                img.banner(src="images/order5.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by date range
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by asset
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by type