.section.dark_style
    .container
        .section__title Back#[span(class="section__title--bold") -Office]
        .section__subtitle A feature-rich back-office to maintain matching engine #[span(class="db")] functionality
    
    .trading
        .trading__title Balances
        .trading__slider.flickity_castom_arrow
            .item
                img.banner(src="images/balans1.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Displaying balances in#[span(class="db")] the context of currencies
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Showing equivalent of each#[span(class="db")] user’s currencies in USD#[span(class="db")] equivalent
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Separate locked#[span(class="db")] balance monitoring
            
            .item
                img.banner(src="images/balans2.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by date range
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by asset
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by transfer type
                    
            .item
                img.banner(src="images/balans3.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Time sorted table#[span(class="db")] of transfers
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various filters#[span(class="db")] and sorting#[span(class="db")] available
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Amount viewing#[span(class="db")] in USD
            
            .item
                img.banner(src="images/balans4.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Displaying aggregated#[span(class="db")] balances in USD
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Export of transfers details#[span(class="db")] in XLS table format
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Viewing all asset#[span(class="db")] amounts in one place 
    
    .trading.trading--mac
        .trading__title Users activity
        .trading__slider.flickity_castom_arrow
            .item
                img.banner(src="images/activity1.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Color visualization#[span(class="db")] of user status
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Viewing user's role, status,#[span(class="db")] balance and last login in one place
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Table and grid#[span(class="db")] displaying options
            
            .item
                img.banner(src="images/activity2.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text History of logins#[span(class="db")] for each user
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Information about#[span(class="db")] login time, country and#[span(class="db")] IP
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various sorting#[span(class="db")] options
                    
            .item
                img.banner(src="images/activity3.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by date range
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by asset
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Filter by status and order#[span(class="db")] type
            
            .item
                img.banner(src="images/activity4.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Dispaying registration#[span(class="db")] and login date in one#[span(class="db")] place
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Table and grid#[span(class="db")] displaying options
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various date filters#[span(class="db")] and sorting
            
            .item
                img.banner(src="images/activity5.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Showing user’s assets#[span(class="db")] in context of currencies
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Dispaying assets#[span(class="db")] in USD equivalent
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Viewing total USD#[span(class="db")] amounts
            
            .item
                img.banner(src="images/activity6.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text History of user’s tranfers#[span(class="db")] activity in one place
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various date filters#[span(class="db")] and sorting
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Displaying status#[span(class="db")] of transfers
            
            .item
                img.banner(src="images/activity7.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text History of logins#[span(class="db")] for each user
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Various sorting#[span(class="db")] options
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Information about#[span(class="db")] login time and IP