.section.section__blue.section__commission
    .container
        .section__title #[span(class="section__title--bold") Commission] types
        .section__subtitle A wide range of commission types  to meet multiple #[span(class="db")] financial and operational goals

    .container
        .new_box-catalog
            .box_block
                .box_block--title Group Commissions
                .box_block--text Commissions that can be set up for a certain group of clients such as VIPs, Market Makers, Corporates, etc.
            
            .box_block
                .box_block--title Taker Commissions
                .box_block--text Commissions that are set up for orders which add liquidity for a certain asset.
            
            .box_block
                .box_block--title Commissions by Markets
                .box_block--text Commissions that are calculated for certain trading instruments like BTC/ USD, ETH/EUR, USD/USDT, etc.
            
            .box_block
                .box_block--title Maker Commissions
                .box_block--text Commissions set up for orders that take out liquidity from the market, i.e. market orders.
            
            .box_block
                .box_block--title Commissions by Volume
                .box_block--text Commissions that are calculated according to the predefined  traded volume tiers.
            
            .box_block
                .box_block--title Commissions Ladder
                .box_block--text Various options in terms of commissions setup like tiers, groups and instruments to meet the goals of business and finance.
    
    .example Commissions Ladder #[span(class="extrabold") Example]

    .black_table
        .row
            .col Maker fee
            .col Taker fee
            .col Volume (30 days)
        
        .row
            .col 0.#[span(class='bold') 18%]
            .col 0.#[span(class='bold') 2%]
            .col #[span(class='bold') < $200],000
        
        .row
            .col 0.#[span(class='bold') 16%]
            .col 0.#[span(class='bold') 18%]
            .col #[span(class='bold') < $400],000
        
        .row
            .col 0.#[span(class='bold') 15%]
            .col 0.#[span(class='bold') 16%]
            .col #[span(class='bold') < $1,000],000
        
        .row
            .col 0.#[span(class='bold') 14%]
            .col 0.15%
            .col #[span(class='bold') < $2,000],000
        
        .row
            .col 0.1%
            .col 0.#[span(class='bold') 12%]
            .col #[span(class='bold') < $4,000],000
        
        .row
            .col 0.08%
            .col 0,#[span(class='bold') 1%]
            .col #[span(class='bold') < $20,000],000