.section.section__gui.section__blue
    .container.goanim.an
        .section__title.goanim.an Professional  #[span(class="section__title--bold") GUI]
        .section__subtitle.goanim.an An advanced interface that meets any requirements from #[span(class="db")] beginners up to pro-traders.
        img.banner(src="images/gui.png", alt="banner")
        .web_base_block Web-based and iOS platforms supported
