.section.section__blue.section__different
    .container
        .section__title Different #[span(class="section__title--bold") order types]
    .container
        .gray_block__container
            .gray__block
                .gray__block--title Limit orders
                .gray__block--subtitle A limit order is a type of order to purchase or sell a security at a specified price or better. While the price is guaranteed, the filling of the order is not, and limit orders will not be executed unless the security price meets the order qualifications.
            
            .gray__block
                .gray__block--title Stop orders
                .gray__block--subtitle Stop orders are orders that are triggered when a stock moves past a specific price point. Beyond that price point, stop orders are converted into market orders that are executed at the best available price.

    .container
        .different__subtitle Market orders
        .gray_block__container
            .gray__block
                .gray__block--title FOK
                .gray__block--subtitle FOK (Fill or Kill) order as the time in force causes the entire order to execute immediately and fully or be cancelled.
            
            .gray__block
                .gray__block--title IOC
                .gray__block--subtitle An immediate or cancel order (IOC) is an order to buy or sell that executes all or#[span(class="db")] part immediately and cancels any unfilled portion of the order.
    
    .container
        .different__title How it works

        img.banner(src="images/different.png", alt="banner")