.section.section__enguine
    .container
        .section__title Matching #[span(class="section__title--bold") Engine] vs #[span(class="section__title--bold") Brokerage Platform]
        .section__subtitle Get an overview of all the differences between matching engine for spot#[span(class="db")] and margin brokerage platforms
    
    .container
        .enguine_table
            .row
                .col Features
                .col Matching Engine
                .col Brokerage Platform
            
            .row
                .col Order Book
                .col Yes
                .col No
            
            .row
                .col Market Making
                .col Yes
                .col No
            
            .row
                .col Cash Assets Exchange
                .col Yes
                .col No
            
            .row
                .col Spot FX
                .col Yes
                .col No
            
            .row
                .col Margin Requierments 
                .col Yes
                .col No
            
            .row
                .col Real Trades History
                .col Yes
                .col No
            
            .row
                .col Market Depth
                .col Yes
                .col No
            
            .row
                .col Partial Order Fills
                .col Yes
                .col No