.section.sextion__extra
    .section__title Extra  #[span(class="section__title--bold") features]

    .container
        .it_for__block
            .it_for__item
                .it_for__icon
                    img(src="images/extra1.svg", alt="icon")
                .it_for__text
                    .it_for__heading Instruments assembling
                    .it_for__description B2Trader offers the ability to add, remove and temporarily disable traded instruments easily.
            
            .it_for__item
                .it_for__icon
                    img(src="images/extra2.svg", alt="icon")
                .it_for__text
                    .it_for__heading Anti-fraud monitoring
                    .it_for__description Real-time checking of various fraudlent activities to prevent technical and financial damage.
                
            .it_for__item
                .it_for__icon
                    img(src="images/extra3.svg", alt="icon")
                .it_for__text
                    .it_for__heading Assets allocation
                    .it_for__description Adding option for assets that allows control of financial operations in terms of limitation of deposit and withdrawal right from the admin panel.
            
            .it_for__item
                .it_for__icon
                    img(src="images/extra4.svg", alt="icon")
                .it_for__text
                    .it_for__heading Loyalty token
                    .it_for__description A feature enabling the addition of a token that can be used to get a commissions discount, e.g. will be paid in token equivalent