.section-22.faq
  .container.goanim.an
    .section__title.section__title--bold FAQs
    .main-text Have a question? A source of useful information about our products and services.
    .question

      .question-item.faq_btn_js(data-id="1")
        span What is a technology stack?
        .question__plus
          span
          span
        .question-item_content(data-id="1") C#/ASP.NET Core, Docker, AWS, PostgreSQL, TimescaleDB, NATS

      .question-item.faq_btn_js(data-id="2")
        span Is there any limit of trading pairs?
        .question__plus
          span
          span
        .question-item_content(data-id="2") No, matching supports any amount of trading pairs. 

      .question-item.faq_btn_js(data-id="3")
        span What is the capacity of Matching Engine?
        .question__plus
          span
          span
        .question-item_content(data-id="3") B2Trader Matching engine can fulfill up to 10,000 requests per second.
      
      .question-item.faq_btn_js(data-id="8")
        span Can I host the matching engine on my servers?
        .question__plus
          span
          span
        .question-item_content(data-id="8") No, you can choose only hosting location. We use AWS solution and provide full support and maintenance of the servers.
      
      .question-item.faq_btn_js(data-id="9")
        span Which order types are supported by your matching engine?
        .question__plus
          span
          span
        .question-item_content(data-id="9") B2Trader allows to execute Limit orders, Fill-or-Kill & Immediate-or-Cancel Market orders and Stop orders as well.
      
      .question-item.faq_btn_js(data-id="10")
        span Do you provide endpoints for CoinMarketCap listing?
        .question__plus
          span
          span
        .question-item_content(data-id="10") Yes, we do. We have created particular endpoints for CMC according to their requirements documentation.

      .question-item.faq_btn_js(data-id="4")
        span Is B2Trader suitable only for cryptocurrencies? 
        .question__plus
          span
          span
        .question-item_content(data-id="4") No, it's suitable as well for MTF Brokers, Security Exchanges,  Market Makers, Spot FX Brokers and EMIs.

      .question-item.faq_btn_js(data-id="5")
        span What is the setup period for B2Trader?
        .question__plus
          span
          span
        .question-item_content(data-id="5") Average setup period is 1 month.

      .question-item.faq_btn_js(data-id="6")
        span Can we adjust the trading platform in terms of colors, fonts and used widgets?
        .question__plus
          span
          span
        .question-item_content(data-id="6") Yes, you can. It is fully customizable.

      .question-item.faq_btn_js(data-id="7")
        span Which types of API can we provide our end-users with?
        .question__plus
          span
          span
        .question-item_content(data-id="7") In B2Trader there are available RESTful and WebSocket API with various endpoints to fulfill the requests of both novice and professional traders.
      
      .another_question.another_question__for_btn
        div
          .another_question--heading Any other questions?
          .another_question--link We are on hand to answer all your questions. Get in touch.
        a(href="#").btn.btn--green.js-modal2-btn Ask Us Now