.section.section__blue.section__ib
    .container.goanim.an
        .section__title #[span(class="section__title--bold") IB] Module
        .section__subtitle Construct and manage affiliate campaigns efficiently and get#[span(class="db")] an outstanding tool to attract customers
        .section__ib_heading IB Module Example
        img.banner(src="images/ib_module.png", alt="banner")
        .trading__flex
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Adjustable  commissions#[span(class="db")] percentage 
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Additional bonuses#[span(class="db")] available 
            
            .check_block--mam_platform-item.circle
                +icon('circle')
                .check_block--mam_platform-item--text Feature-rich IB#[span(class="db")] commissions ladder 