.section.section__liq
    .section__title.goanim.an Liquidity
    .section__subtitle.goanim.an Multiple sources available for connection with B2Trader#[span(class="db")] to offer the best liquidity solution
    .container.goanim.an
        .it_for__block
            .it_for__item
                .it_for__icon
                    img(src="images/liq1.svg", alt="icon")
                .it_for__text
                    .it_for__heading Market Making
                    .it_for__description Through powerful REST and WebSocket API you will be able to attract reliable market makers in order to create a strong liquidity pool on your exchange.

            .it_for__item
                .it_for__icon
                    img(src="images/liq2.svg", alt="icon")
                .it_for__text
                    .it_for__heading External Liquidity Provider
                    .it_for__description Use FIX API to connect your exchange to aggregated liquidity pool or some external sources just for feed.

            .it_for__item
                .it_for__icon
                    img(src="images/liq3.svg", alt="icon")
                .it_for__text
                    .it_for__heading Internal Organic Liquidity
                    .it_for__description B2Trader Matching Engine aggregates orders of users in the order books on a specific platform on all available assets that don’t incur extra fees for routing outside sources.

            .it_for__item
                .it_for__icon
                    img(src="images/liq4.svg", alt="icon")
                .it_for__text
                    .it_for__heading Bridge to Another Exchange
                    .it_for__description We offer connection through Marksman Hub to the majority of trusted and well-known spot exchanges with the highest liquidity and best reliability in the market, including B2BX Exchange and others.