.section-16.mam_frame.b2_frame
  .container.goanim.an
    .section__title B2Trader  #[span(class="section__title--bold") Presentation]
    .video_block
      .video_block--preview
        img(src="images/video_trader.png", alt="video_previw").image_preview
        img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
        .video--time 12:01
      <iframe  src="https://www.youtube.com/embed/lQYRMhiq1WU" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    .video_description Order Matching Engine and Trading Platform Software, Roman Zhitnik
    .video_subdescription B2Trader is the cutting edge software that powers many cryptocurrency exchanges on the market. In this video, B2BX exchange product manager, Roman Zhitnik, describes the technical side of a cryptocurrency exchange business and the features of B2Trader.