.section.section__mobile_app.section__trading_mobile_app
    .container.goanim.an
        .section__title Mobile #[span(class="section__title--bold") App]
        .section__subtitle Create your own developers account in Apple Store or use#[span(class='db')] our ready-made account and your users will be able to find#[span(class='db')]  iOS application of your exhange
        img.banner(src="images/b2_core/mobile_app.png", alt="banner")
        .check_container
            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Crypto deposits

            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Trading history

            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Google 2FA/Face ID

            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Wallets access

            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Charts

            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Profile & Settings

            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Placing orders

            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Order books

            .check_block--mam_platform-item.circle
                +icon('circle')
                span.check_block--mam_platform-item--text Transactions history