.section.section__blue.section__mode
    .container
        .section__title #[span(class="section__title--bold") White/Night] mode
    
    .container.flex
        .mam_tabs-btn.active(data-id="1")
            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="5.47989" cy="5.23575" r="4.99161"/>
            </svg>
        .mam_tabs-btn(data-id="2")
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.8702 6.13934C11.0845 5.35362 9.97526 4.84521 8.77358 4.84521C7.5719 4.84521 6.46265 5.33051 5.67693 6.13934C4.89122 6.92505 4.38281 8.0343 4.38281 9.23598C4.38281 10.4377 4.89122 11.5469 5.67693 12.3326C6.46265 13.1183 7.5719 13.6267 8.77358 13.6267C9.97526 13.6267 11.0845 13.1415 11.8702 12.3326C12.6559 11.5469 13.1643 10.4377 13.1643 9.23598C13.1643 8.0343 12.6791 6.92505 11.8702 6.13934Z" />
                <path d="M8.77272 3.48159C9.09625 3.48159 9.37356 3.20428 9.37356 2.88075V1.10133C9.37356 0.7778 9.09625 0.500488 8.77272 0.500488C8.44919 0.500488 8.17188 0.7778 8.17188 1.10133V2.88075C8.17188 3.20428 8.44919 3.48159 8.77272 3.48159Z" />
                <path d="M13.6967 5.16836L14.9677 3.89734C15.1988 3.66625 15.1988 3.2965 14.9677 3.06541C14.7366 2.83432 14.3668 2.83432 14.1357 3.06541L12.8647 4.33642C12.6336 4.56751 12.6336 4.93726 12.8647 5.16836C13.0727 5.39945 13.4425 5.39945 13.6967 5.16836Z" />
                <path d="M16.9076 8.63477H15.1282C14.8047 8.63477 14.5273 8.91208 14.5273 9.23561C14.5273 9.55914 14.8047 9.83645 15.1282 9.83645H16.9076C17.2311 9.83645 17.5084 9.55914 17.5084 9.23561C17.5084 8.91208 17.2311 8.63477 16.9076 8.63477Z" />
                <path d="M13.6732 13.3032C13.4421 13.0721 13.0724 13.0721 12.8413 13.3032C12.6102 13.5343 12.6102 13.904 12.8413 14.1351L14.1123 15.4061C14.3434 15.6372 14.7131 15.6372 14.9442 15.4061C15.1753 15.1751 15.1753 14.8053 14.9442 14.5742L13.6732 13.3032Z" />
                <path d="M8.77272 14.9902C8.44919 14.9902 8.17188 15.2675 8.17188 15.5911V17.3705C8.17188 17.694 8.44919 17.9713 8.77272 17.9713C9.09625 17.9713 9.37356 17.694 9.37356 17.3705V15.5911C9.37356 15.2675 9.09625 14.9902 8.77272 14.9902Z" />
                <path d="M3.85058 13.3032L2.57957 14.5742C2.34848 14.8053 2.34848 15.1751 2.57957 15.4061C2.81066 15.6372 3.18041 15.6372 3.4115 15.4061L4.68252 14.1351C4.91361 13.904 4.91361 13.5343 4.68252 13.3032C4.47453 13.0721 4.10478 13.0721 3.85058 13.3032Z" />
                <path d="M3.02016 9.23561C3.02016 8.91208 2.74285 8.63477 2.41932 8.63477H0.639904C0.316374 8.63477 0.0390625 8.91208 0.0390625 9.23561C0.0390625 9.55914 0.316374 9.83645 0.639904 9.83645H2.41932C2.74285 9.83645 3.02016 9.55914 3.02016 9.23561Z" />
                <path d="M3.85058 5.16836C4.08167 5.39945 4.45142 5.39945 4.68252 5.16836C4.91361 4.93726 4.91361 4.56751 4.68252 4.33642L3.4115 3.06541C3.18041 2.83432 2.81066 2.83432 2.57957 3.06541C2.34848 3.2965 2.34848 3.66625 2.57957 3.89734L3.85058 5.16836Z" />
            </svg>

        .mam_tabs-content.active(data-id="1")
            img.banner(src="images/mode2.png", alt="banner")
            <svg width="100%" height="73" viewBox="0 0 1111 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g style="mix-blend-mode:multiply" opacity="0.7" filter="url(#filter0_f)">
                    <ellipse cx="555.129" cy="36.4502" rx="535" ry="16" fill="url(#paint0_radial)"/>
                </g>
                <defs>
                    <filter id="filter0_f" x="0.128906" y="0.450195" width="1110" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur"/>
                    </filter>
                    <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(555.129 36.4502) rotate(90) scale(16 535)">
                        <stop offset="0.0260417" stop-color="#B8B8B8" stop-opacity="0.56"/>
                        <stop offset="0.703125" stop-color="#B8B8B8" stop-opacity="0.27"/>
                        <stop offset="1" stop-color="white" stop-opacity="0"/>
                    </radialGradient>
                </defs>
            </svg>

        .mam_tabs-content(data-id="2")
            img.banner(src="images/mode1.png", alt="banner")
            <svg width="100%" height="73" viewBox="0 0 1111 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g style="mix-blend-mode:multiply" opacity="0.7" filter="url(#filter0_f)">
                    <ellipse cx="555.129" cy="36.4502" rx="535" ry="16" fill="url(#paint0_radial)"/>
                </g>
                <defs>
                    <filter id="filter0_f" x="0.128906" y="0.450195" width="1110" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur"/>
                    </filter>
                    <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(555.129 36.4502) rotate(90) scale(16 535)">
                        <stop offset="0.0260417" stop-color="#B8B8B8" stop-opacity="0.56"/>
                        <stop offset="0.703125" stop-color="#B8B8B8" stop-opacity="0.27"/>
                        <stop offset="1" stop-color="white" stop-opacity="0"/>
                    </radialGradient>
                </defs>
            </svg>