.section.dark_style.section__multiple
    .section__title.goanim.an #[span(class="section__title--bold db") Multiple customizable] workspaces

    .trading.trading--mac.goanim.an
        .trading__slider.flickity_castom_arrow
            .item
                img.banner(src="images/mult1.png", alt="banner")
            
            .item
                img.banner(src="images/mult2.png", alt="banner")
                    
            .item
                img.banner(src="images/mult3.png", alt="banner")
            
            .item
                img.banner(src="images/mult4.png", alt="banner")
    
    .trading__flex
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Easy addition#[span(class="db")] of widgets
                    
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Arrangement of widgets#[span(class="db")] by height and width
                    
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Ultimate widgets#[span(class="db")] positioning