.section.dark_style.section__multiple
    .section__title #[span(class="section__title--bold db") Multiple customizable] workspaces

    .trading.trading--mac
        .trading__slider.flickity_castom_arrow
            .item
                img.banner(src="images/activity1.png", alt="banner")
            
            .item
                img.banner(src="images/activity2.png", alt="banner")
                    
            .item
                img.banner(src="images/activity3.png", alt="banner")
            
            .item
                img.banner(src="images/activity4.png", alt="banner")
    
    .trading__flex
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Easy#[span(class="db")] addition of#[span(class="db")] widgets
                    
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Arrangment of widgets#[span(class="db")] by height and width
                    
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Ultimate widgets#[span(class="db")] positioning