.section.section__blue.section__party
    .section__title.goanim.an Third-party #[span(class="section__title--bold") integrations]

    .container.goanim.an
        .it_for__block
            .it_for__item
                .it_for__icon
                    img(src="images/party1.svg", alt="icon")
                .it_for__text
                    .it_for__heading Enterprise blockchain wallets 
                    .it_for__description A highly secure, reliable and scalable wallets solution from a reputable, industry-leading cryptocurrency payments provider B2binPay.
            
            .it_for__item
                .it_for__icon
                    img(src="images/party2.svg", alt="icon")
                .it_for__text
                    .it_for__heading B2Core (Trader’s Room)
                    .it_for__description A new generation of professional software that helps brokers and exchanges manage their customers, admins and IB-partners in one place.
                
            .it_for__item
                .it_for__icon
                    img(src="images/party3.svg", alt="icon")
                .it_for__text
                    .it_for__heading KYC/KYT
                    .it_for__description A wide range of tools to arrange Know Your Customer (Sum&Substance, IdentityMind) and Know Your Transaction (Crystal) verification processes of your exchange.
            
            .it_for__item
                .it_for__icon
                    img(src="images/party4.svg", alt="icon")
                .it_for__text
                    .it_for__heading Liquidity
                    .it_for__description Marksman Hub solution aggregating cryptocurrency exchanges including B2BX, non-bank liquidity providers and thousands of orders from institutional clients to create the deepest liquidity pool in the industry.