.section.dark_style.section__powerful
    .container.goanim.an
        .section__title Powerful #[span(class="section__title--bold") API]
        .section__subtitle A new high-capacity API for robotic trading and public data access which will#[span(class='db')] handle trading and public requests much faster, while positively affecting the#[span(class="db")] overall system performance.
        img.banner(src="images/powerful.png", alt="banner")
    
    .container 
        .gray_block__container
            .gray__block
                .gray__block--title RESTful
                .gray__block--subtitle Representational state transfer is a software architectural style that defines a set of constraints to be used for crea- ting web services. Web services that conform to the REST architectural style, called RESTful Web services, provide interoperability between computer systems on the internet.
            
            .gray__block
                .gray__block--title WebSocket
                .gray__block--subtitle WebSocket is a computer communications protocol, pro- viding full-duplex communication channels over a single TCP connection. The WebSocket protocol was standarti- zed by the IETF as RFC 6455 in 2011, and the WebSocket API in Web IDL is being standardized by the W3C. WebSocket is distinct from HTTP.
    
    .container
        .coin
            .coin__block
                .coin__title We provide 5 required endpoints#[span(class="db")] for listing at Coinmarketcap
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Summary
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Trades history
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Ticker
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Assets
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Order books
            
            .coin__block
                img(src="images/coin.png", alt="icon")