.section.section__saas
    .container
        .section__title.section__title--bold SaaS AWS
        .section__subtitle B2Trader uses hosting solutions that dynamically scale resources and support the most demanding and#[span(class="db")] highly loaded projects. Our AWS hosting offers high levels of availability, scalability and performance,#[span(class="db")]   requiring higher amounts of management and administration that we organize fully on our side.
        img.banner(src="images/saas.png", alt="banner")