.section.section__saas
    .container.goanim.an
        .section__title.section__title--bold SaaS AWS
        .section__subtitle B2Trader uses hosting solutions that dynamically scale resources and support the most demanding and#[span(class="db")] highly loaded projects. Our AWS hosting offers high levels of availability, scalability and performance,#[span(class="db")]   requiring higher amounts of management and administration that we organize fully on our side.
        img.banner(src="images/saas.png", alt="banner")
        .schem2
            .schem2__wrap
                .schem2__item
                    .schem2__icon.active
                    .schem2__text
                        .schem2__title Binary protocol
                        .schem2__subtitle A protocol which is intended to be read by a machine that has the advantage of terseness, which translates into speed of transmission and interpretation
                
                .schem2__item
                    .schem2__icon
                    .schem2__text
                        .schem2__title Replication
                        .schem2__subtitle A set of technologies for copying and distributing data and database objects from one database to another and then synchronizing between databases to maintain consistency.