.section.section__def
    .section__title Security
    .section__subtitle A wide-range, high-capacity security system is implemented to protect B2Trader#[span(class="db")] from various technical and fraud threats
    .container
        .gray_block__container
            .gray__block
                .gray__block--title Anti-throttling system
                .gray__block--subtitle Prevent intentional slowing or speeding of the limits of bandwidth.
            
            .gray__block
                .gray__block--title Order throttling protection
                .gray__block--subtitle Preventing too many orders coming in at once that will overload the matching engine.

            .gray__block
                .gray__block--title Arbitrage protection
                .gray__block--subtitle Blocks taking advantage of a price difference between two or more markets.
            
            .gray__block
                .gray__block--title Back-end security
                .gray__block--subtitle 2FA, malware and phishing protection, etc.
            
            .gray__block
                .gray__block--title Anti-spoofing protection
                .gray__block--subtitle Preventing manipulation on markets by placing and cancelling fake orders.
            
            .gray__block
                .gray__block--title DDoS-Protection
                .gray__block--subtitle A set of techniques and tools for resisting or mitigating the impact of distributed denial-of-service (DDoS) attacks on networks.