.section.section__saas.section__blue
    .container.goanim.an
        .section__title #[span(class="section__title--bold") Staging]  Environment 
        .section__subtitle B2trader updates are first deployed to the staging environment for client testing and proceed to#[span(class="db")] production deployment only after approval. This is done to minimize the risk of bugs on production#[span(class="db")] and is a scheme that will make your product the most stable on the market.
        img.banner(src="images/staging.png", alt="banner")