.section-3.section
  .container.goanim.an
    .section__title #[span(class="section__title--bold") What is]  B2Trader?
    span.main-text A Matching Engine is the core mechanic of a digital exchange which matches up bids and offers to execute#[span(class="db")] trades. The ME algorithm keeps a record of all open orders in a market and generates new trades if the two#[span(class="db")] orders can be fulfilled by each other. 

    .number_block.cash
      .number_block-content
        .number_block--text Fulfill requests up to
        .number_block--number 10,000
          span.number_block--number-text / sec

      .number_block-content
        .number_block--text trade processing
        .number_block--number 0,05
          span.number_block--number-text ms

      .number_block-content
        .number_block--text Technical support
        .number_block--number 24/7/365