.section.dark_style.section__workspaces
    .container.goanim.an
        .section__title #[span(class="section__title--bold") Workspaces] for various #[span(class="section__title--bold") trading styles]
    
    .trading
        .trading__slider.flickity_castom_arrow
            .item
                .trading__title Scalping
                img.banner(src="images/work1.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Several order books#[span(class="db")] on one screen
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Suitable for placing several#[span(class="db")] orders at a time
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Real-time activity#[span(class="db")] monitoring
            
            .item
                .trading__title Intraday trading
                img.banner(src="images/work2.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Analyzing the real-time activity in#[span(class="db")] market depth and time and sales
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Monitoring instruments#[span(class="db")] in the watchlist for opportunities
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Solid chart size to view#[span(class="db")] the overall picture
                    
            .item
                .trading__title Long term trading 
                img.banner(src="images/work3.png", alt="banner")
                .trading__flex
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Monitoring the#[span(class="db")] whole market
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Searching for opportunities#[span(class="db")] on several instruments
                    
                    .check_block--mam_platform-item.circle
                        +icon('circle')
                        .check_block--mam_platform-item--text Monitoring the correlation#[span(class="db")]  between instruments

