.section__envairoment {
  .main_tabs_slider.main_tabs_slider_b2_core--js {
    pointer-events: none;
  }

  .banner {
    height: 500px;
    width: auto;
    margin: 0 auto;

    @media screen and (max-width: 980px) {
      height: auto;
      width: 100%;
    }
  }

  .section__subtitle {
    margin-bottom: 80px;
  }

  .envairoment__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */
    text-align: center;
    color: #383838;
    margin: 60px auto 30px;
  }

  .envairoment__Subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: center;
    color: #383838;
  }

  .trading__flex {
    box-sizing: border-box;
    padding-top: 38px;
    margin-top: 50px;
    border-top: 7px solid #eff4f6;

    @media screen and (max-width: 580px) {
      flex-direction: column;

      .check_block--mam_platform-item {
        margin-bottom: 20px;
      }
    }

    .check_block--mam_platform-item--text {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #63636e;

      @media screen and (max-width: 580px) {
        span.db {
          display: none;
        }
      }
    }
  }
  .tabs_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .mam_tabs-content {
    width: 100%;
    display: none;

    &.active {
      display: block;
    }
  }

  .mam_tabs-btn {
    max-width: 278px;
    min-height: 107px;
    width: 100%;
    margin: 0 5px 38px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .envairoment__icon {
      width: 51px;
      height: 51px;
      border-radius: 50%;
      border: 2.92623px solid #7c8c9f;
      box-sizing: border-box;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      &--number {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 27px;
        color: #7c8c9f;
      }
    }

    .envairoment__text {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      /* or 167% */
      color: #637786;
    }

    &.active {
      .envairoment__icon {
        border: 2.92623px solid #01bd95;
        box-sizing: border-box;

        &--number {
          color: #01bd95;
        }
      }
    }
  }
}

.section.section__envairoment .main_tabs_slider .item {
  display: block;
  img {
    width: auto;

    @media screen and (max-width: 982px) {
      width: 100%;
    }
  }
}
