.section__flow_crypto {
  .section__subtitle {
    margin-bottom: 50px;
  }

  .flow__slider--js {
    .flickity-prev-next-button {
      bottom: -68px;

      @media screen and (max-width: 580px) {
        bottom: -40px;
      }
    }

    .item {
      margin: 50px 68px;
      width: 98%;
      max-width: 900px;
      min-height: 450px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $bluebg;
      /* Small_shadow */
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      box-sizing: border-box;
      padding: 68px 86px;

      @media screen and (max-width: 580px) {
        flex-direction: column;
      }

      &.is-selected {
        .flow__icon {
          border: 4.13115px solid #01bd95;
        }

        .flow__icon--number {
          color: #01bd95;
        }
      }

      &:nth-child(1) {
        .flow__left {
          align-items: flex-start;
          padding: 37px 80px;
        }
      }

      &:nth-child(2) {
        .flow__left {
          padding: 36px;

          .flow_content {
            margin-top: 40px;
          }

          .flow_flex {
            width: 100%;
            justify-content: space-between;
          }
        }
      }

      &:nth-child(3) {
        .flow__left {
          padding: 36px;
        }
      }

      &:nth-child(4) {
        .flow__left {
          padding: 36px;
        }

        .flow_title {
          margin-bottom: 24px;
        }
      }
    }

    .flow__left {
      position: relative;
      box-sizing: border-box;
      max-width: 309px;
      width: 100%;
      background: $white;
      border-radius: 4px;
      height: 314px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .flow_slider_img4 {
        position: absolute;
        left: 0;
        top: 0;
      }

      .flow_flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 11px;
      }
      .flow_copy {
        display: block;
        width: 30px;
        margin-left: 10px;
      }

      .flow_text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14.6715px;
        line-height: 14px;
        color: $grayblue-text;

        &.bg {
          padding: 4px 6px;
          border-radius: 4px;
          background: $bluebg;
        }

        &__bold {
          font-weight: 500;
        }

        &.large_bold {
          font-weight: 600;
        }
      }

      .flow_hesh {
        display: block;
        width: 100%;
        max-width: 147px;
        margin: 15px 0;
      }

      img {
        display: block;
        width: 100%;
      }

      .flow_title {
        display: block;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.03em;
        background: linear-gradient(45deg, #00e8b6 0%, #01bd95 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .flow_slider_item3 {
        margin-top: 22px;
        display: block;
        width: 100%;
      }

      .flow_content {
        width: 100%;
        background: $bluebg;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 11px 16px;

        &_line {
          background: #9dafbd;
          border-radius: 4.80889px;
          height: 18px;
        }

        &_item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 7px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .green {
        color: #01bd95;
      }
    }

    .flow__right {
      max-width: 382px;
      width: 100%;
      margin-left: 70px;
      @media screen and (max-width: 580px) {
        margin-left: 0;
        margin-top: 20px;
      }
    }

    .flow__title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      /* identical to box height, or 119% */
      margin-bottom: 35px;
      text-align: center;
      color: $darkgray;
    }

    .flow__subtitle {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      /* identical to box height, or 154% */
      text-align: center;
      color: $darkgray;
    }

    .flow__icon {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 4.13115px solid #cccedd;
      margin: 0 auto 34px;
      display: flex;
      justify-content: center;
      align-items: center;

      &--number {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 39px;
        line-height: 39px;
        /* identical to box height, or 147% */
        text-align: center;
        letter-spacing: -1.15672px;
        color: #cccedd;
      }
    }
  }
}
