.section__invoiced {
  .section__subtitle {
    margin-bottom: 30px;
  }

  .gray__block {
    background: #ffffff;
    /* Small_shadow */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    &--title,
    &--subtitle {
      text-align: left;
    }

    &--subtitle {
      margin-bottom: 0;
    }
  }
}
