.section__lang {
  .section__title {
    margin-bottom: 130px;
  }

  .lang {
    &__container {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
      margin-bottom: -85px;
      @media screen and (max-width: 830px) {
        margin-bottom: -20px;
      }
    }

    &__item {
      width: 20%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 85px;

      @media screen and (max-width: 830px) {
        width: 33%;
        margin-bottom: 20px;
      }

      @media screen and (max-width: 580px) {
        width: 50%;
        margin-bottom: 20px;
      }

      @media screen and (max-width: 410px) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &__icon {
      flex-shrink: 0;
      display: block;
      width: 49px;
      height: 49px;
      margin-right: 18px;
    }

    &__text {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      /* identical to box height, or 100% */
      text-align: center;
      color: #000000;
    }
  }
}
