.section__reinvent {
  .section__subtitle {
    margin-bottom: 80px;
  }

  .gray__block {
    &--title,
    &--subtitle {
      text-align: left;

      @media screen and (max-width: 1200px) {
        span.db {
          display: none;
        }
      }
    }

    &--subtitle {
      margin-bottom: 0;
    }
  }
}
