.section.section__blue.b_modal__section
    .container.goanim.an
        .section__title 1-Page  #[span(class="section__title--bold") Business Model]
        .section__subtitle This is an example business model of a FOREX Brokerage company.#[span(class="db")] You can start by using the blocks below and adapt it according to your vision. 
    
    .b_modal__wrapper
        .b_modal
            .b_modal__heading
                .b_modal__heading_block
                    .b_modal__circle_item.blue
                    span Beginners
                
                .b_modal__heading_block
                    .b_modal__circle_item.red
                    span Professional Traders/Money Managers
                
                .b_modal__heading_block
                    .b_modal__circle_item.green
                    span Investors
                
                .b_modal__heading_block
                    .b_modal__circle_item.yellow
                    span Enterpreneurs / Crypto Enthusiasts
            
            .b_modal__flex
                .b_modal__row
                    .b_modal__title Customer segment
                    .b_modal__subtitle Who are your clients?
                    .b_modal__col
                        span.gray Beginners
                        .b_modal__circle_item.blue

                    .b_modal__col
                        span.gray Professional Traders/Money Managers
                        .b_modal__circle_item.red
                    
                    .b_modal__col
                        span Investors
                        .b_modal__circle_item.green
                    
                    .b_modal__col
                        span.gray Enterpreneurs / Crypto Enthusiasts
                        .b_modal__circle_item.yellow
                .b_modal__row__wrapper
                    .b_modal__row
                        .b_modal__title Client relationships
                        .b_modal__subtitle How and where will you communicate with your clients?
                        .b_modal__col
                            span Writing a blog / content on a website
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow

                        .b_modal__col
                            span Trading school
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Help desk
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Chats in messengers
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Phone calls / hot line
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span SMM
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Email
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                    
                    .b_modal__row
                        .b_modal__title Distribution Channels
                        .b_modal__subtitle How will they learn about you?
                        .b_modal__col
                            span Influencers
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow

                        .b_modal__col
                            span Partnership programms (IBs, CPA)
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Offline events
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span SEO + PPC
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Display advertising
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span PR
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Blogs, Podcasts, Youtube Channel
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                
                .b_modal__row
                        .b_modal__title Value Proposition
                        .b_modal__subtitle What value will you bring to your clients? 
                        .b_modal__col
                            span Trading tutorials
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.yellow

                        .b_modal__col
                            span Feel of confidence and safety
                            .b_modal__circle_item.red
                            .b_modal__circle_item.green
                            .b_modal__circle_item.blue
                        
                        .b_modal__col
                            span Deep liquidity
                            .b_modal__circle_item.red
                        
                        .b_modal__col
                            span Best trading terminal
                            .b_modal__circle_item.red
                        
                        .b_modal__col
                            span Good trading conditions
                            .b_modal__circle_item.red
                        
                        .b_modal__col
                            span Wide Range of trading instruments
                            .b_modal__circle_item.red
                        
                        .b_modal__col
                            span Multiple payment options
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Free VPS hosting for expert advisors
                            .b_modal__circle_item.red
                        
                        .b_modal__col
                            span Useful content
                            .b_modal__circle_item.blue
                        
                        .b_modal__col
                            span Investment opportunities
                            .b_modal__circle_item.green
                        
                        .b_modal__col
                            span Easy conversion of fiat to crypto
                            .b_modal__circle_item.red
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.green
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Offering extra revenues from fees from investors and followers
                            .b_modal__circle_item.red
                        
                        .b_modal__col
                            span Trading accounts denominated in Fiat & Cryptocurrencies
                            .b_modal__circle_item.red
                            .b_modal__circle_item.yellow
                        
                        .b_modal__col
                            span Multi-level IB platform integrated with money management platform
                            .b_modal__circle_item.red
                            .b_modal__circle_item.green
                            .b_modal__circle_item.blue
                            .b_modal__circle_item.yellow
                
                .b_modal__row__wrapper
                    .b_modal__row
                        .b_modal__title Key Activities
                        .b_modal__subtitle What key acitvities need attention?
                        .b_modal__col
                            span Creation of trading courses
                        
                        .b_modal__col
                            span Creation of analytics
                        
                        .b_modal__col
                            span Sales & Marketing
                        
                        .b_modal__col
                            span Customer support
                        
                        .b_modal__col
                            span Organization / Participation at events
                        
                        .b_modal__col
                            span Partnership development (teaching and finding new partners)
                        
                        .b_modal__col
                            span Content creation for blogs, email marketing and other publications
                    
                    .b_modal__row
                        .b_modal__title Key Resources
                        .b_modal__subtitle What do you already have in-house?

                        .b_modal__col
                            span Website and online resources (Youtube channel etc)
                        
                        .b_modal__col
                            span Company and brand
                        
                        .b_modal__col
                            span Licenses, connected PSPs and Bank accounts
                        
                        .b_modal__col
                            span Client base
                        
                        .b_modal__col
                            span Trading platform, Servers
                        
                        .b_modal__col
                            span IT Infrastructure
                        
                        .b_modal__col
                            span Key specialists
                
                .b_modal__row
                        .b_modal__title Key Partners
                        .b_modal__subtitle Who will help you?

                        .b_modal__col
                            span Sales and Acquisition partners (IB & CPA partners)
                        
                        .b_modal__col
                            span Technology partners/vendors
                        
                        .b_modal__col
                            span Liquidity Partners
                        
                        .b_modal__col
                            span Fiat PSPs / EMIs (Payment service providers)
                        
                        .b_modal__col
                            span Crypto PSPs
                        
                        .b_modal__col
                            span Design Agencies
                        
                        .b_modal__col
                            span Marketing Agencies
                        
                        .b_modal__col
                            span Professional money managers
                        
                        .b_modal__col
                            span VC Partners / investors
                        
                        .b_modal__col
                            span Lawyers
                        
                        .b_modal__col
                            span Accountants / Auditors
                        
                        .b_modal__col
                            span Brand Ambassadors and influencers
                        .b_modal__col
                            span Cryptocurrency exchanges

    .revenue__wrapper
        .container.goanim.an
            .revenue__title Revenue Streams & Cost Structure
            .revenue__subtitle Average distribution of sources of income and costs in the financial plan of brokerage company.
            .revenue
                .revenue__heading Revenue streams
                .revenue__flex
                    img(src="images/revenue1.png", alt="img")
                    ul
                        li
                            .circle(style="background: #20457C;")
                            .prsnt(style="color: #20457C;") 30% 
                            .text Commission from trading volume
                        li
                            .circle(style="background: #1A689A;")
                            .prsnt(style="color: #1A689A;") 15% 
                            .text Spread markups
                        li
                            .circle(style="background: #2F86BF;")
                            .prsnt(style="color: #2F86BF;") 15% 
                            .text Markups on deposit / withdrawals via PSPs and Crypto
                        li
                            .circle(style="background: #0A9D7E;")
                            .prsnt(style="color: #0A9D7E;") 10% 
                            .text Currency exchange spread & commission markup
                        li
                            .circle(style="background: #2AB698")
                            .prsnt(style="color: #2AB698") 10% 
                            .text SWAP markups
                        li
                            .circle(style="background: #40CDAB;")
                            .prsnt(style="color: #40CDAB;") 20% 
                            .text Other brokerage revenues
            
            .revenue
                .revenue__heading Costs structure
                .revenue__flex
                    img(src="images/revenue2.png", alt="img")
                    ul
                        li
                            .circle(style="background: #C71717;")
                            .prsnt(style="color: #C71717;") 25% 
                            .text Marketing costs
                        li
                            .circle(style="background: #D92828;")
                            .prsnt(style="color: #D92828;") 25% 
                            .text Staff costs (Salaries + office)
                        li
                            .circle(style="background:  #F03B3B;")
                            .prsnt(style="color:  #F03B3B;") 15% 
                            .text IT Infrastructure costs
                        li
                            .circle(style="background:  #FF6645;")
                            .prsnt(style="color:  #FF6645;") 15% 
                            .text Payments to partners (Introducing Brokers rewards)
                        li
                            .circle(style="background:  #FF8845;")
                            .prsnt(style="color:  #FF8845;") 10% 
                            .text Legal + Accountants + Audits + Lawyers
                        li
                            .circle(style="background: #FFAA2A;")
                            .prsnt(style="color: #FFAA2A;") 10% 
                            .text Taxes
            
            .revenue__coments
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                    <path d="M4.5 2.0332H20.5C21.6 2.0332 22.5 2.9332 22.5 4.0332V22.0332L18.5 18.0332H4.5C3.4 18.0332 2.5 17.1332 2.5 16.0332V4.0332C2.5 2.9332 3.4 2.0332 4.5 2.0332ZM4.5 16.0332H18.5L20.5 18.0332V4.0332H4.5V16.0332Z" fill="#ECD4D4" stroke="#E8E8E8" stroke-width="2"/>
                    </g>
                    <defs>
                    <clipPath id="clip0">
                    <rect width="24" height="24" fill="white" transform="matrix(-1 0 0 1 24.5 0.0332031)"/>
                    </clipPath>
                    </defs>
                </svg>

                span This is an aproximate cost and revenue structure of a brokerage company that can vary depending on business model, regulation, investments and markets.

    .evolution
        .container
            .evolution__title Customer Evolution Map
            .evolution__subtitle Each customer goes through several roles during his life-time and use different products. Clients usually start with simple trading account and then follow it with social trading or PAMM accounts.
            img.banner(src="images/evolution.png", alt="img", style="max-width:952px; margin: 75px auto 113px;")
        
        .evol__table_wrapper
            .evol__table.evol_crypto_table
                .evol__table__row
                    .evol__table__col 
                        span Stage
                    .evol__table__col 
                        span Client’s action
                    .evol__table__col 
                        span Broker’s action
                    .evol__table__col 
                        span Opportunities
                
                .evol__table__row
                    .evol__table__col
                        p Lead
                    .evol__table__col 
                        p #[span(class="bold") Reads an article in blog, gets interested in the financial markets.] This is a good opportunity to make some money from savings, get rich and look smart in the eyes of friends. Then he clicks on a promo banner and goes to a broker’s website.

                    .evol__table__col 
                        p #[span(class="bold") Create captivating content and a good landing page.] Once the user clicks on an ad the broker needs to initiate retargeting advertising.
                    .evol__table__col 
                        p There are several ways in which a broker can improve his sales funnel: #[span(class="db")] #[span(class="bold") 1. A/B testing of advertising and landing pages] to increase conversion #[span(class="db")] #[span(class="bold") 2. Regularly create content] via blogs, YouTube and social media to increase brand awarness #[span(class="db")] 3. Create materials and partnership programs and #[span(class="bold") start working with introducing brokers] who will act like external sales managers. It make sense to hire a dedicated manager to work with IBs. 4. Offer super attractive commissions and other trading conditions for one instrument and use it in marketing campaigns.

                        p A cryptobroker can also differentiate from cryptocurrency exchanges with high leverage and short positions. 
                
                .evol__table__row
                    .evol__table__col 
                        p Registered User
                    .evol__table__col 
                        p #[span(class="bold") Client goes though registration process] and verifies his phone number and email.
                    .evol__table__col 
                        p #[span(class="bold") Guide a client through the registration process] and make the next steps clear so he knows what account to open and how to use it.
                    .evol__table__col 
                        p This lead has already landed on your registration page. Make your offer valuable for a client by offering him a welcome bonus, free commissions on deposit and continue using retargeting marketing if he did not complete the registration.
                
                .evol__table__row
                    .evol__table__col
                        p Client
                    .evol__table__col
                        p Once the lead has passed the registration process he becomes a client. Now he passes KYC, opens a new account and makes a first deposit. 
                        p He already knows what his next step is i.e. to be an investor or a trader as this was his initial motivation for opening an account and making a deposit in fiat or cryptocurrency.
                    .evol__table__col
                        p Send an email after a registration with the following steps: Send an email if he failed to complete KYC or the deposit process. Make a phone call if possible.
                        p The client is now just few steps ahead of making his first deposit so don’t lose him.
                    .evol__table__col
                        p Send auto-emails for all registered, but not active clients. Hire 1or 2 Sales managers#[span(class="db")] to work with such clients.
                        p Continue sending emails to inactive users  related to big market movements once a month.
                
                .evol__table__row
                    .evol__table__col
                        p Active Trader
                    .evol__table__col
                        p The client has downloaded the trading termninal, created a workspace, started to using indicators and may have bought EAs.
                        p His main aim now is to find his way to be profitable by creating a trading strategy and being a disciplined enough trader to follow it. 
                    .evol__table__col
                        p The first days and months on the market is the hardest period for any trader. Communicate with a client via email, write blog posts, live streams with trading tips and organize a discord chat where clients can meet each other and don’t feel lonely by being one on one with the market.
                        p #[span(class="bold") All traders have 2 paths:]  Become a PRO or an investor. If the client shows good results offer him the chance to become a money manager in social trading or PAMM and earn more money by getting fees from investors. Or if client cannot show consistent profiability, show him a new approach to learn and earn with copy trading where he can subscribe to signals from traders with a good track record.
                    .evol__table__col
                        p #[span(class="bold") Create a community,] create a trading tribe with live streams on youtube, podcasts and live chats for your clients. Getting the support of like-minded traders is important for making renewed attempts and evolving discipline and skills.
                        p #[span(class="bold") Be a coach:] check with manager’s applications trading statements of clients and send them direct emails or make calls to offer a new approach if they are not successful in what they do (like opening positions which are too big) or offer new products if clients are making money. 
                
                .evol__table__row
                    .evol__table__col
                        p Active Investor
                    .evol__table__col
                        p An investor goes to list of master accounts and checks the statistics and performance charts of traders. If he likes the profit/risk ratio, he then starts following a trader and his position will then be copied to his account.
                        p The role of investor is just to set a risk limit and from time to time monitor the performance of his account.
                        p The good thing is that he can also open an account in cryptocurrency and expect to earn on the growth of Bitcoin combined with profit from copied positions.
                    .evol__table__col
                        p Write blog posts such as “10 rules of wise investor” or “5 tips how to choose a money manager”.
                        p Create tutorial videos featuring tips for analysis of traders via their public statistics pages.
                        p Send emails with top 10 signal providers to their clients.
                        p Do everything possible to highlight good tradersand make the selection of a signal provder a simple enough process even for beginners.
                        p It is also very important to promote the creation of investment portfolios from several signal providers.
                    .evol__table__col
                        p A broker can promote the opportunity to be a trader and investor at the same time. 
                        p If a trader is successful, he can consider investments as a diversification of strategies i.e. he has one working strategy and allocates 20-30% of his capital to other traders who can make money. 
                        p For investors copy trading provides further opportunities: to watch over the shoulder of professionals and adapt their trading strategies and approaches to risk management or choosing volumes.
                        p Another opportunity is to offer clients the idea of creating investment portfolios not only from traders but also from indices and cryptocurrencies.
                
                .evol__table__row
                    .evol__table__col
                        p Professional Trader
                    .evol__table__col
                        p A professional trader already has a strategy and is disciplined. The next step for him is to start scaling his success with the money of investors/followers. So he opens a master account and starts collecting trading history so that investors will see it and subscribe to him.
                    .evol__table__col
                        p A broker can offer two main things to his good active clients: #[span(class="db")] 1) Open a master account and convert their statement to an attractive performance chart. 2) Teach masters how to promote themselves: create a good strategy description, provide them with tips for sharing their performance in social media.
                        p The opportunity to become a signal provider is probably the best thing a broker can offer all his clients as it opens a real career path with big potential earnings on fees for every trader even if he doesn’t have a big own deposit.

                    .evol__table__col
                        p Make heroes of your best traders. Take part in interviews for podcasts and youtube or blogs. Create live streams or Q&A sessions. 
                        p Real success stories are always inspiring and different from typical offers like small commissions and tight spreads. 
                        p As a bonus, it can gain you a loyalty boost from your clients and earn respect from the community.
                
                .evol__table__row
                    .evol__table__col
                        p Inactive
                    .evol__table__col
                        p Sometimes clients stop trading or withdraw all their money from their investment accounts. This can be done for multiple reasons: they may not earn enough or need to withdraw their funds to buy a new car, for example.
                    .evol__table__col
                        p Your inactive clients are probably the most underestimated asset of your company. 
                        p They are the people who believed in you once, opened accounts and made deposits. They can do it one more time, but just need some motivation.
                        p Give it to them! 
                        p Email them on a regular basis once a month or every 2 months during big market movements, send them emails with a summary of the best or offer them the chance to test new EA with free VPS. 
                        p Of course, you should continue to publish new content on all social media channels.
                    .evol__table__col
                        p Analyze the last actions of your clients. Why have they stopped trading or investing. Try to find an alternative to their actions. If they had a problem with discipline offer them a daily risk limit. If they failed with EAs, offer social trading. Reactivate clients with products they’ve never used before. 
                        p Try to offer them non-trading products like crypto-fiat converter.
                        p Call or email them. 
                        p Reactivating a client costs much less than getting a new one.

    .revenue__wrapper.uniue.uniue_crypto
        .container.goanim.an
            .revenue__title Unique Selling Proposition Examples
            .revenue__subtitle There are many different USPs that you can offer your clients to differentiate yourself from your competitors, all of which are based on B2Broker products.
            .b_modal__heading
                .b_modal__heading_block
                    .b_modal__circle_item(style="background: #14459C;")
                    span Liquidity

                .b_modal__heading_block
                    .b_modal__circle_item(style="background: #3392D0;")
                    span Trader’s Room
                
                .b_modal__heading_block
                    .b_modal__circle_item(style="background: #1EBF9C;")
                    span Money Management Platform
                
                .b_modal__heading_block
                    .b_modal__circle_item(style="background: #FCAB40;")
                    span MetaTrader 4/5
                
                .b_modal__heading_block
                    .b_modal__circle_item(style="background: #E36B51;")
                    span Crypto Processing

            img.banner(src="images/big_circle.png", alt="img", style="max-width:790px; margin:0 auto;")