.section-22.faq.section__white
  .container.goanim.an
    .section__title.section__title--bold FAQs
    .question
      .question-item.faq_btn_js(data-id="2")
        span Can I set up an MT4 crypto broker?	
        .question__plus
          span
          span
        .question-item_content(data-id="2") Generally speaking yes, but MT4 is not adopted for cryptos. With MT5 you get availability to denominate accounts in cryptos and it supports 8 decimals, while MT4 supports 5 decimals for quotes and 2 decimals for balances.

      .question-item.faq_btn_js(data-id="3")
        span Does your Crypto gateway accept Visa/MasterCard?	
        .question__plus
          span
          span
        .question-item_content(data-id="3") No, we offer a crypto payment gateway. It is capable of accepting any crypto but not fiat currency.

      .question-item.faq_btn_js(data-id="4")
        span Can you tell me which Brokers are your clients?	 
        .question__plus
          span
          span
        .question-item_content(data-id="4") No we cannot do that. We sign a NDA with our clients and we do not disclose their names.

      .question-item.faq_btn_js(data-id="5")
        span Do you provide any assistance or support? 
        .question__plus
          span
          span
        .question-item_content(data-id="5") Yes we do . As soon as you acquire our services we will provide you with an Account Manager for general questions and 24/7 technical support. We also conduct training sessions for a customer's teams with our product managers.

      .question-item.faq_btn_js(data-id="6")
        span Do you provide Islamic Accounts?	
        .question__plus
          span
          span
        .question-item_content(data-id="6") Yes, a broker can create an Islamic account type with storage for his clients.

      .question-item.faq_btn_js(data-id="7")
        span Can I brand my Broker?	
        .question__plus
          span
          span
        .question-item_content(data-id="7") Yes you can. Nobody will see the B2Broker logo on your TR or MetaTrader terminals.
      
      .question-item.faq_btn_js(data-id="8")
        span Do you provide futures and cash equities?	
        .question__plus
          span
          span
        .question-item_content(data-id="8") To offer these types of assets to clients you will need to have a securities license and be a member of a regulated exchange.
      
      .question-item.faq_btn_js(data-id="9")
        span Are the 100 Cryptocurrency CFDs tradable 24/7?	
        .question__plus
          span
          span
        .question-item_content(data-id="9") Yes they are.
      
      .question-item.faq_btn_js(data-id="11")
        span Can a trading account be denominated in crypto and fiat?	
        .question__plus
          span
          span
        .question-item_content(data-id="11") Yes, denomination of trading accounts in any fiat and cryptocurrencies is the main differentiation point of a crypto broker.
      
      .question-item.faq_btn_js(data-id="12")
        span How do I accept payments from my clients?  
        .question__plus
          span
          span
        .question-item_content(data-id="12") It dependds on which payment system you have integrated to your Traders' room.	Our B2Core is already integrated with more than 40 PSPs and EMIs and all you need to do is sign an agreement with one of them and connect them in few clicks.
      
      .question-item.faq_btn_js(data-id="13")
        span Can I trade Forex with the Crypto broker?	
        .question__plus
          span
          span
        .question-item_content(data-id="13") Yes you can. We provide you with multi-asset liquidity, trading instruments of 8 asset classes: Forex, Indices, Energies, Metals & CFDs on Equities and ETFs, together with 100 Crypto CFDs.
      
      .question-item.faq_btn_js(data-id="14")
        span I am a MetaTrader White Label of another service provider. Can I connect B2broker liquidity?	
        .question__plus
          span
          span
        .question-item_content(data-id="14") Yes but since you are a white label, you will need to ask your service provider’s permission to integrate B2Broker liquidity. If they agree, we will provide you a bridge or FIX API for integration.
      
      .question-item.faq_btn_js(data-id="15")
        span Do I need to buy own PrimeXM Core or OneZero Hub?
        .question__plus
          span
          span
        .question-item_content(data-id="15") No, as soon as you are our White Label, you will not need to buy your own PrimeXM Core or OneZero Hub. We provide it to you free of charge.
      
      .question-item.faq_btn_js(data-id="16")
        span I have my own MetaTrader trading server. How can i connect B2Broker Liquidity? 
        .question__plus
          span
          span
        .question-item_content(data-id="16") If you have your own PrimeXM X-core or OneZero Hub we can connect you directly via X-Core-to-X-Core or Hub-to-Hub. Otherwise, we will provide you with a bridge for MT4 and gateway for MT5 free of charge.
      
      .question-item.faq_btn_js(data-id="17")
        span Do you charge any transaction fees or do I set my own fees ?
        .question__plus
          span
          span
        .question-item_content(data-id="17") As a White Label you get a raw price stream with a low commission for volume. You can set your own commissions for end users for any group of clients and choose one of our streams with different mark ups on spreads.
      
      .question-item.faq_btn_js(data-id="18")
        span What are your swap rates?	
        .question__plus
          span
          span
        .question-item_content(data-id="18") It depends on the bank rates. It varies from time to time. Current SWAP rates can be found in our contract specification. Please contact our sales manager for a link.
      
      .question-item.faq_btn_js(data-id="19")
        span Can I make MT4 crypto broker?	
        .question__plus
          span
          span
        .question-item_content(data-id="19") In general yes but MT4 is not adopted for cryptos. With MT5 you get avaialbility to denominate accounts in cryptos and it supports 8 decimals while MT4 supports 5 decimals for quotes and 2 decimals for balances.
      
      .question-item.faq_btn_js(data-id="20")
        span Does 100 Cryptocurrency CFD tradedble 24/7?	
        .question__plus
          span
          span
        .question-item_content(data-id="20") Yes of course
      
      .question-item.faq_btn_js(data-id="22")
        span Can I trade Forex with the Crypto broker?	
        .question__plus
          span
          span
        .question-item_content(data-id="22") Of course yes! We provide you with multi-assets liquidity. You will have instruments of 8 asset classes: Forex, Indexes, Energies, Metals & CFD on Equities and ETFs and 100 Crypto CFDs.
      
      .another_question.another_question__for_btn
        div
          .another_question--heading Have another question?
          .another_question--link We are on hand to answer all your questions. Get in touch.
        a(href="#").btn.btn--green.js-modal2-btn Ask us now