.section.tk_steps
    .container.goanim.an
        .section__title 11 steps of creation of #[span(class="db")]  #[span(class="section__title--bold")  a Crypto Broker]
        .section__subtitle The setup of a brokerage company is divided into 11 steps that usually takes till 8 weeks.#[span(class='db')] It starts with company registration and a website and ends with IT setup.
        img.banner(src="images/tk_crypto_steps.png", alt="img", style="max-width:980px;")

        .tk_steps__content
            .tk_steps__title How long does it take to connect a new PSP to Trader’s room?
            .tk_steps__subtitle The connection process of a payment system can be divided into two parts: signing a contract with PSPs and integration of the PSP#[span(class="db")] to the Trader’s room in order for your clients to start using it. #[span(class="bold ") These 2 activities should be dealt with individually:]

            ul.tk_steps__ul
                li The process of going through KYC and signing a contract with a PSP can take different times depending on your jurisdictions#[span(class="db")] and licenses. Your legal department will be in charge of this aspect.
                li Activation of a PSP that is already integrated to TR can take up to #[span(class="bold") 1 week.]
                li Integration of a new PSP can take up to #[span(class="bold") 3 weeks.]