.section.tk_strategy__section.section__blue
    .container.goanim.an
        .section__title Turnkey Broker #[span(class="section__title--bold db") Strategy Flow]
        .section__subtitle Answers that will help you to choose the appropriate technologies required #[span(class="db")] to turn your vision into an operational business.
        .tk_strategy__wrapper
            <svg id="svgline"class="tk_strategy__arrow"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.91 2517.72" width="72" height="2518" >
                <path class="ball01" d="M72.21,2708.28a1,1,0,0,1,0,1.41l-6.37,6.37a1,1,0,0,1-1.42-1.41h0l5.66-5.65-5.66-5.66a1,1,0,0,1,1.41-1.41Z" transform="translate(-0.59 -198.63)" fill="#20457c"/>
                <path class="ball02" d="M72.21,205.28a1,1,0,0,1,0,1.41l-6.37,6.37a1,1,0,0,1-1.42-1.41h0L70.09,206l-5.66-5.66a1,1,0,0,1,0-1.41h0a1,1,0,0,1,1.41,0Z"  transform="translate(-0.59 -198.63)" fill="#20457c"/>
                <path class="theGreenLine" d="M70.83,205.94H13a12.94,12.94,0,0,0-4.37,1.36,14,14,0,0,0-4.63,4,10.24,10.24,0,0,0-2.39,5.12,8,8,0,0,0,0,1.2v2479.3a8.89,8.89,0,0,0,.08,1.15,12.2,12.2,0,0,0,7,9.42,25.16,25.16,0,0,0,4.75,1.4h0c3,.6,21.43.63,57.34,0" transform="translate(-0.59 -198.63)" fill="none" stroke="#20457c" stroke-miterlimit="10" stroke-width="2"/>
            </svg>
            .tk_strategy
                .tk_strategy__flex
                    .tk_strategy__main
                        img.tk_strategy__icon(src="images/tk_str1.svg", alt="icon")
                        .tk_strategy__title Legal Questions
                        .tk_strategy__subtitle Aspects requiring the involvement of the legal department
                        .tk_strategy__desc Legal aspects are very important for all companies. Choosing a jurisdiction for company registration, connecting payment systems and even deciding on marketing channels will fall under the remit of your legal team.
                    .tk_strategy__blocks
                        .tk_strategy__block Where will your company be incorporated? Under what jurisdiction? Where will your headquarters be located? What will be your company structure?
                        .tk_strategy__block How much will it cost and how long does it take to obtain a license? Will it be possible to start with an offshore license and then get a better one once your business takes off?
                        .tk_strategy__block What payment systems, EMIs and banks will be willing to work with you? 
                        .tk_strategy__block How will you conduct AML, KYC and KYT: external systems / outsourcing compliance? 
                        .tk_strategy__block Who will be responsible for all procedures, regulations and communi-cation with regulatory bodies, creating contracts with counter parties etc?
            
            <svg class="tk_strategy__two-arrow" width="15" height="43" viewBox="0 0 15 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.40528 1.28605C8.01853 0.891792 7.38539 0.885704 6.99113 1.27246L0.566275 7.57493C0.172014 7.96168 0.165926 8.59482 0.552678 8.98908C0.939429 9.38334 1.57256 9.38943 1.96683 9.00268L7.67781 3.40048L13.28 9.11146C13.6668 9.50572 14.2999 9.51181 14.6942 9.12506C15.0884 8.73831 15.0945 8.10517 14.7078 7.71091L8.40528 1.28605ZM6.59294 42.6848C6.97969 43.079 7.61282 43.0851 8.00708 42.6984L14.4319 36.3959C14.8262 36.0091 14.8323 35.376 14.4455 34.9817C14.0588 34.5875 13.4257 34.5814 13.0314 34.9681L7.32041 40.5703L1.7182 34.8593C1.33145 34.4651 0.698317 34.459 0.304056 34.8457C-0.0902054 35.2325 -0.0962932 35.8656 0.290458 36.2599L6.59294 42.6848ZM6.69145 1.97671L6.30685 41.9749L8.30676 41.9941L8.69136 1.99594L6.69145 1.97671Z" fill="#20457C"/>
            </svg>
        
            .tk_strategy__border-wrapper
                .tk_strategy(style="border-radius: 20px 20px 0px 0px; padding-bottom:0;")
                    .tk_strategy__flex
                        .tk_strategy__main
                            img.tk_strategy__icon(src="images/tk_str2.svg", alt="icon")
                            .tk_strategy__title Marketing Strategy
                            .tk_strategy__subtitle Everything relating to the aquisition of new clients #[span(class="db")] and product management
                            .tk_strategy__desc Creating a marketing strategy will help you get a clear understanding of what products you should offer potential clients and how you will reach them. After gathering answers to these questions, you will begin to gain an understanding of what technologies you need.
                        .tk_strategy__blocks
                            .tk_strategy__block Who will be your clients and how will you reach them? PPC, SEO, SEM, etc need to be taken into account along with what marketing channels you will use.
                            .tk_strategy__block Why would they choose to start trading with your company? What is your advantage or differentiator compared with your competitors? 
                            .tk_strategy__block What products will you offer? #[span(class="db")] (Value proposition).
                            .tk_strategy__block Will you use and promote partnership programs such as CPAs or IBs? Will you use bonus schemes?
                            .tk_strategy__block What marketing platforms and tools are you going to use? Where will you target your e-mail marketing and analyze performance and ROI?  

                .tk_strategy(style="border-radius:0px 0px 20px 20px; ")
                    .tk_strategy__flex
                        .tk_strategy__main
                            img.tk_strategy__icon(src="images/tk_str3.svg", alt="icon")
                            .tk_strategy__title Website
                            .tk_strategy__subtitle Questions relating to the design, development #[span(class="db")] and running of a website
                            .tk_strategy__desc A website is a place where your clients find out information about your products and services and your company overall. A good website fosters credibility and helps drive the selling process. Answering questions will help you plan all tasks related to your most important sales and marketing tool.
                        .tk_strategy__blocks
                            .tk_strategy__block Do you already have a website? Have you bought a domain?
                            .tk_strategy__block What products will you offer on your website? Who will create landing pages for you? Are you going to conduct A/B testing? 
                            .tk_strategy__block Do you have a logo and brand book with your corporate style? Do you have any technical requirements for your new website?
                            .tk_strategy__block Are you going to undertake the design, content and development on your own #[span(class="db")] or hire freelancers or an agency?
                            .tk_strategy__block Who will be responsible for technical support of your website? How are you going to protect it from DDoS attacks? 

                <svg class="tk_strategy__two-arrow" width="15" height="43" viewBox="0 0 15 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.40528 1.28605C8.01853 0.891792 7.38539 0.885704 6.99113 1.27246L0.566275 7.57493C0.172014 7.96168 0.165926 8.59482 0.552678 8.98908C0.939429 9.38334 1.57256 9.38943 1.96683 9.00268L7.67781 3.40048L13.28 9.11146C13.6668 9.50572 14.2999 9.51181 14.6942 9.12506C15.0884 8.73831 15.0945 8.10517 14.7078 7.71091L8.40528 1.28605ZM6.59294 42.6848C6.97969 43.079 7.61282 43.0851 8.00708 42.6984L14.4319 36.3959C14.8262 36.0091 14.8323 35.376 14.4455 34.9817C14.0588 34.5875 13.4257 34.5814 13.0314 34.9681L7.32041 40.5703L1.7182 34.8593C1.33145 34.4651 0.698317 34.459 0.304056 34.8457C-0.0902054 35.2325 -0.0962932 35.8656 0.290458 36.2599L6.59294 42.6848ZM6.69145 1.97671L6.30685 41.9749L8.30676 41.9941L8.69136 1.99594L6.69145 1.97671Z" fill="#20457C"/>
                </svg>

                .tk_strategy
                    .tk_strategy__flex
                        .tk_strategy__main
                            img.tk_strategy__icon(src="images/tk_str4.svg", alt="icon")
                            .tk_strategy__title Sales Strategy
                            .tk_strategy__subtitle Aspects related to the development of relationships #[span(class="db")] with new and existing clients
                            .tk_strategy__desc Your sales strategy will be closely related to your marketing strategy and vice versa. Hence, any decisions you make in this part of your business model will have a significant influence on your operations overall, including marketing.
                        .tk_strategy__blocks
                            .tk_strategy__block How will you sell to your clients? Will it be via phone calls or introducing brokers, chat bots, automated email marketing, or any other method? 
                            .tk_strategy__block What will be your retention strategy? What tactics will you use to pursuade customers to make subsequent deposits?
                            .tk_strategy__block What CRM are you planning to use? Who will be your VOIP provider? 
                            .tk_strategy__block In what regions are you going to sell your services? Will you make calls to just registered clients or inactive ones too? Do you plan on cold calling?
                            .tk_strategy__block What products will drive your sales? What benefits of your products will you promote? 
            
            <svg class="tk_strategy__two-arrow" width="15" height="43" viewBox="0 0 15 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.40528 1.28605C8.01853 0.891792 7.38539 0.885704 6.99113 1.27246L0.566275 7.57493C0.172014 7.96168 0.165926 8.59482 0.552678 8.98908C0.939429 9.38334 1.57256 9.38943 1.96683 9.00268L7.67781 3.40048L13.28 9.11146C13.6668 9.50572 14.2999 9.51181 14.6942 9.12506C15.0884 8.73831 15.0945 8.10517 14.7078 7.71091L8.40528 1.28605ZM6.59294 42.6848C6.97969 43.079 7.61282 43.0851 8.00708 42.6984L14.4319 36.3959C14.8262 36.0091 14.8323 35.376 14.4455 34.9817C14.0588 34.5875 13.4257 34.5814 13.0314 34.9681L7.32041 40.5703L1.7182 34.8593C1.33145 34.4651 0.698317 34.459 0.304056 34.8457C-0.0902054 35.2325 -0.0962932 35.8656 0.290458 36.2599L6.59294 42.6848ZM6.69145 1.97671L6.30685 41.9749L8.30676 41.9941L8.69136 1.99594L6.69145 1.97671Z" fill="#20457C"/>
            </svg>

            .tk_strategy
                .tk_strategy__flex
                    .tk_strategy__main
                        img.tk_strategy__icon(src="images/tk_str5.svg", alt="icon")
                        .tk_strategy__title Operations
                        .tk_strategy__subtitle All your staff requirements for the hiring process
                        .tk_strategy__desc The core of every business is its people. In looking at your operational structure, you will need to figure out what staff you need, how they will work together and what tools they will need to effectively perform their duties.
                    .tk_strategy__blocks
                        .tk_strategy__block How many staff do you need and what roles will they play? Could some roles be outsourced or automated with software? 
                        .tk_strategy__block Who exactly will work for you? What form  will your organizational structure take? 
                        .tk_strategy__block Who will be handling technical support 24/7 (or at least 24/5)? How will your clients contact you to ask questions: phone calls, email, tickets, chats or office meetings? 
                        .tk_strategy__block What internal procedures and work schedules will you have? How will you exercise internal control of remote work between departments? Project management, deadlines, roadmaps are all aspects that should be considered. 
                        .tk_strategy__block What software will you be using internally for communication purposes and task management?
            
            .tk_strategy(style="margin-top:20px;")
                .tk_strategy__flex
                    .tk_strategy__main
                        img.tk_strategy__icon(src="images/tk_str6.svg", alt="icon")
                        .tk_strategy__title Finance
                        .tk_strategy__subtitle Everything related to payments and budgeting
                        .tk_strategy__desc Financial matters relating to all parts of your company are of utmost importance and will raise a number of questions as to how they will be handled. Whether its related to payments and budgeting or tax issues and company revenues, there are a variety of points that need to be addressed.
                    .tk_strategy__blocks
                        .tk_strategy__block What will be your fixed and variable costs? What are your projected revenues for the first and second year of operation?#[span(class="db tk_strategy__desc--second") Who and how will your costs and revenues be calculated? What will be your cost/revenue structure? How will you optimize it? What will you need in terms of cashflow?]
                        .tk_strategy__block What banks and payment systems will you use? Who will be in charge of communication with banks, PSPs and counter-agents? How do you plan to monitor capital adequacy and the distribution of assets? 
                        .tk_strategy__block Who will be in charge of accounting and checking debit and credit? How will you deal with payroll? Are you planning for internal and external audits? How about tax optimization? Who will take responsibility for budgeting of projects? 
                        .tk_strategy__block Who will handle the deposits/withdrawal process? Who will take control of deposits that are not automated? Who will be in charge of withdrawals including initial checks, anti-fraud checks. etc?
                        .tk_strategy__block Who will be responsible for internal control of fixed asset accounting and#[span(class="db")] on-time payments to counterparties? What systems will be in place for the daily checking of all reports?
    
        .tk_strategy__bottom
            .tk_strategy__bottom_title Evolution of your business model
            .tk_strategy__bottom_subtitle These are just the basic questions. To expand your business, you need to work through all of them as a minimum and for your business model to evolve, you need to be constantly expanding your team while raising the level of customer service offered. Marketing tactics and improving your products are an ongoing process. In a highly competitive environment, your service must always be of the highest quality.