.section.what_tk
    .container.goanim.an
        .section__title  What is a #[span(class="section__title--bold") Crypto Broker?]
        .what_tk__text A Crypto Broker is a new business model that combines the best practices from both worlds: an innovative cryptocurrency trading exchange and a classic brokerage. Beyond providing access to financial markets to its clients, a Crypto Broker provides more unique opportunities that would not be possible as a classic broker or crypto exchange alone.
        .what_tk__title A Crypto Broker provides its clients with margin trading#[span(class="db")] via MetaTrader 5 platform
        .what_tk__subtitle MetaTrader has become the most popular trading platform not only because of its user-friendly interface but because there is a huge community of traders and developers around it. This can help you to increase the LTV of each client and make them unique offers that are not possible on spot exchanges.

        .what_tk_cat
            .what_tk_cat__block
                .what_tk_cat__title
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10" r="10" fill="white"/>
                        <path d="M20 10C20 4.48 15.52 0 10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10ZM13 4.5L16.5 8L13 11.5V9H9V7H13V4.5ZM7 15.5L3.5 12L7 8.5V11H11V13H7V15.5Z" fill="#20457C"/>
                    </svg>
                    |  Trading accounts in Crypto
                
                .what_tk_cat__desc Can be denominated in cryptocurrrencies (traders hold moneyin crypto and earn profits in the same currency).

            .what_tk_cat__block
                .what_tk_cat__title
                    <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22 2C22 3.1 21.1 4 20 4C19.82 4 19.65 3.98 19.49 3.93L15.93 7.48C15.98 7.64 16 7.82 16 8C16 9.1 15.1 10 14 10C12.9 10 12 9.1 12 8C12 7.82 12.02 7.64 12.07 7.48L9.52 4.93C9.36 4.98 9.18 5 9 5C8.82 5 8.64 4.98 8.48 4.93L3.93 9.49C3.98 9.65 4 9.82 4 10C4 11.1 3.1 12 2 12C0.9 12 0 11.1 0 10C0 8.9 0.9 8 2 8C2.18 8 2.35 8.02 2.51 8.07L7.07 3.52C7.02 3.36 7 3.18 7 3C7 1.9 7.9 1 9 1C10.1 1 11 1.9 11 3C11 3.18 10.98 3.36 10.93 3.52L13.48 6.07C13.64 6.02 13.82 6 14 6C14.18 6 14.36 6.02 14.52 6.07L18.07 2.51C18.02 2.35 18 2.18 18 2C18 0.9 18.9 0 20 0C21.1 0 22 0.9 22 2Z" fill="#20457C"/>
                    </svg>
                    |  MetaTrader 5 community and advanced tools for traders
                
                .what_tk_cat__desc MetaTrader provides many tools for technical analysis, risk management and algo-trading with its MQL5 programming language and advanced built-in strategy tester. Freelancers on the official website can help to develop any strategy or custom indicator.

            .what_tk_cat__block
                .what_tk_cat__title
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 2V16C0 17.1 0.89 18 2 18H16C17.1 18 18 17.1 18 16V2C18 0.9 17.1 0 16 0H2C0.89 0 0 0.9 0 2ZM12 6C12 7.66 10.66 9 9 9C7.34 9 6 7.66 6 6C6 4.34 7.34 3 9 3C10.66 3 12 4.34 12 6ZM3 14C3 12 7 10.9 9 10.9C11 10.9 15 12 15 14V15H3V14Z" fill="#20457C"/>
                    </svg>
                    |  Open short positions on Crypto
                
                .what_tk_cat__desc Traders can open short positions and earn on price falls.
            
            .what_tk_cat__block
                .what_tk_cat__title
                    <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path d="M14.5 1H2.5C1.4 1 0.5 1.9 0.5 3V17H2.5V3H14.5V1ZM13.5 5L19.5 11V21C19.5 22.1 18.6 23 17.5 23H6.49C5.39 23 4.5 22.1 4.5 21L4.51 7C4.51 5.9 5.4 5 6.5 5H13.5ZM12.5 12H18L12.5 6.5V12Z" fill="#20457C"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="19" height="24" fill="white" transform="translate(0.5)"/>
                        </clipPath>
                        </defs>
                    </svg>
                    |  Copy-Trading
                
                .what_tk_cat__desc Offer your clients the chance to follow successful traders and automatically copy their positions. This can help you re-activate traders who couldn’t make a profit by trading on their own. 
            
            .what_tk_cat__block
                .what_tk_cat__title
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.5 0L4 9H15L9.5 0Z" fill="#20457C"/>
                        <path d="M15 20C17.4853 20 19.5 17.9853 19.5 15.5C19.5 13.0147 17.4853 11 15 11C12.5147 11 10.5 13.0147 10.5 15.5C10.5 17.9853 12.5147 20 15 20Z" fill="#20457C"/>
                        <path d="M0.5 11.5H8.5V19.5H0.5V11.5Z" fill="#20457C"/>
                    </svg>
                    |  Risk Limits for trading accounts
                
                .what_tk_cat__desc There is a risk management tool inside the money management platform that allows traders to set a risk limit on their accounts and protect themselves from losses by getting all positions closed after losing 3-5-10% from the beginning of the day.

            

            .what_tk_cat__block
                .what_tk_cat__title
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 2V16C0 17.1 0.89 18 2 18H16C17.1 18 18 17.1 18 16V2C18 0.9 17.1 0 16 0H2C0.89 0 0 0.9 0 2ZM12 6C12 7.66 10.66 9 9 9C7.34 9 6 7.66 6 6C6 4.34 7.34 3 9 3C10.66 3 12 4.34 12 6ZM3 14C3 12 7 10.9 9 10.9C11 10.9 15 12 15 14V15H3V14Z" fill="#20457C"/>
                    </svg>
                    |  Open short positions on Crypto
                
                .what_tk_cat__desc Traders can open short positions and earn on price falls.

        img.banner(src="images/what_tk.png", alt="image", style="max-width:913px; margin-bottom:120px;")

        .what_tk__title Position yourself in a huge and growing market
        .what_tk__subtitle The FOREX market is huge and continues to grow considerably. Our estimates show that around 3,000 FX brokers are in operation around the world, serving more than 10 million clients.

        img.banner(src="images/what_tk2.png", alt="image")

        .what_tk__heading
            p Being a highly competitive industry, there is #[span(class="bold")  always plenty of capacity] in the market#[span(class="bold")  for new companies.] With this proposition good startups can expect virtually#[span(class="bold")  unlimited growth possibilities.]

