.section-23.best.section
  .container
    .section__title.goanim.an It comes #[span(class="section__title--bold") best with]
    .main-text.goanim.an Our liquidity is best combined with the leading industry trading platforms to provide the ultimate in performance and user satisfaction.
    .best_with.goanim.an
      .best_with--left
        .best_with--heading Crypto CFD Margin Broker
        .best_with--text Turnkey solution based on crypto currencies. Cashflow, trading accounts and instruments and much more features are fully compliant with new financial market.
        .best_with--img
          img(src="images/turnkey/item1.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Trading account nominated in cryptocurrencies
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Crypto deposits and withdrawals
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text 100 crypto CFDs available for trading
        .check_block.castom
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Margin account nominated in#[span(class="db")] crypto to exclude volatility risk

    .best_with
      .best_with--left
        .best_with--heading Forex Broker Turnkey
        .best_with--text A classic type of setup based on MT terminal with wide range of available assets. Empower your brokerage with tools like IB system and Investment Platform to satisfy your clients and partners.
        .best_with--img
          img(src="images/turnkey/item2.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text MT4 or MT5 based FX broker
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Access to more than 800 trading instruments of 7 classes of assets
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Portfolio management services
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Advanced features: bonus system#[span(class="db")] and multi level IB room
    
    .best_with
      .best_with--left
        .best_with--heading Crypto Spot Exchange
        .best_with--text A complex turnkey solution with multifeatured Trader's Room (B2Core) and high-capacity matching engine (B2Trader)
        .best_with--img
          img(src="images/turnkey/item3.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Cutting-edge Trading UI
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Fulfill up to 10000 requests#[span(class="db")] per second
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Commissions ladder
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Loyalty token with commission discount for end-users