.section-3.goanim.an
  .container.goanim.an
    .section__title #[span(class="section__title--bold") Equities CFD]
    span.main-text The ability to offer CFD liquidity is an important differentiator and there are few solid CFD liquidity providers in the market. We have spent the last few years developing a sophisticated liquidity network in order to provide#[span(class="db")] ultra-competitive pricing and great execution on a wide selection of markets.

    span.main-text Our single stock CFD offering covers equity markets from all over the world on one single account with low financing costs. Benefit from Direct Market Access (DMA) with short selling availability and access to a wide range of diverse global equities.
    .number_block.etf
      .number_block-content
        .number_block--text Spread from
        .number_block--number 0,01
          span.number_block--number-text $

      .number_block-content
        .number_block--text margin Requirements
        .number_block--number 20%

      .number_block-content
        .number_block--text Trading session
        .number_block--number Full

      .number_block-content
        .number_block--text Liquidity venues
        .number_block--number 7
        
      .number_block-content
        .number_block--text technical Support
        .number_block--number 24/7
    
    .cfd__block
      .cfd__item
        img(src="images/cfd/item1.png", alt="item", style="width:89px")

      .cfd__item
        img(src="images/cfd/item2.png", alt="item", style="width:75px")

      .cfd__item
        img(src="images/cfd/item3.png", alt="item", style="width:107px")

      .cfd__item
        img(src="images/cfd/item4.png", alt="item", style="width:96px")

      .cfd__item
        img(src="images/cfd/item5.png", alt="item", style="width:79px")

      .cfd__item
        img(src="images/cfd/item6.png", alt="item", style="width:91px")

      .cfd__item
        img(src="images/cfd/item7.png", alt="item", style="width:147px")
    
    .cfd__btn and many more

