.section-14.section.section__etf
  .container.goanim.an
    .section__title Market #[span(class="section__title--bold") Depth] #[span(class="db")] and #[span(class="section__title--bold") Liquidity] pool
    .main-text Market liquidity impacts everything from the bid-offer spread to trade execution and is#[span(class="db")] important since it affects how quickly you can open and close positions. As a broker, you need#[span(class="db")] to have access to the deepest liquidity pool available to handle all the needs of your traders.
    .image_block
      img(src="images/cfd.png", alt="table")
    .check_container
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Benefit from competitive spreads#[span(class="db")] and margin requirements
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Advanced bridge technologies – fastest exe- cution even during high activity on the market
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Co-location DCs across the world#[span(class="db")] to ensure the lowest latency
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Direct access to both exchan-#[span(class="db")] ges and OTC liquidity pools
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Get benefits from#[span(class="db")] greater depth