.section.section__crypto_gblock
    .container
        .section__title Strong #[span(class="section__title--bold") Advantages]
    
        .gray_block__container
            .gray__block
                .gray__block--title Margin Requirements
                .gray__block--subtitle Low margin requirements for all instruments - 20%
            
            .gray__block
                .gray__block--title Backup and Failover System
                .gray__block--subtitle The liquidity has backups on counterparty levels as on aggregator levels and has multiple failover scenarios. Aggregation means a strong backup structure behind it.

            .gray__block
                .gray__block--title Competitive spreads
                .gray__block--subtitle Aggregation provides competitive spreads for all instruments.
            
            .gray__block
                .gray__block--title Assets Pairs
                .gray__block--subtitle The most diverse pairs for both fiat assets and crypto assets. 100 asset pairs are available for trading.
            
            .gray__block
                .gray__block--title Go short or long 24/7/365
                .gray__block--subtitle B2Broker Crypto Prime Liquidity is available all day, every day, each month and throughout the whole year, with o pauses for weekends, evenings or holidays such as Christmas, etc.
            
            .gray__block
                .gray__block--title Minimal slippage
                .gray__block--subtitle Aggregated liquidity, with lots of volume even on the first tiers of depth allows traders to get their trades with minimal slippage.