.section.section-23.best.section__b2_best.section__b2_best__litle_ex
  .container
    .section__title.goanim.an It comes #[span(class="section__title--bold") best with]
    .section__subtitle.goanim.an Our liquidity is best combined with the leading industry trading platforms to#[span(class="db")] provide the ultimate in performance and user satisfaction.
    .best_with.goanim.an
      .best_with--left
        .best_with--heading Merchant Solutions
        .best_with--text It allows businesses to Send, Receive, Store, Exchange and Accept CryptoCurrency Payments online, safely, securely and cost-effectively across the world in a matter of minutes.
        .best_with--img
          img(src="images/b2_core/new_best1.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Crypto/Crypto & Crypto/FIAT
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Coins, StableCoins & Tokens Supported
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Accept, Store, Exchange & Send CryptoCurrencies
        .check_block.castom
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Robust API & Staging Envirenment

    .best_with.goanim.an
      .best_with--left
        .best_with--heading Enterprise Wallets Solutions
        .best_with--text Offer your customers Bitcoin, Ether, Ripple`s XRP, Bitcoin Cash, Litecoin & more as a payment option!
        .best_with--img
          img(src="images/crypto_prod.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text 888+ Coins, StableCoins & Tokens Supported
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text NEO, NEM, ETH & omni tokens Supported
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Single Unified API for multiple blockchains
        .check_block.castom
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text KYT System
    //- .best_with
    //-   .best_with--left
    //-     .best_with--heading Forex Liquidity
    //-     .best_with--text A deep pool of institutional liquidity will satisfy even the most sophisticated trader you serve. 
    //-     .best_with--img
    //-       img(src="images/prod_liq/item2.png", alt="img")
    //-   .best_with--right
    //-     .check_block
    //-       .check_block__icon.circle
    //-         +icon('circle')
    //-       span.check_block__text Access to 78 trading pairs
    //-     .check_block
    //-       .check_block__icon.circle
    //-         +icon('circle')
    //-       span.check_block__text Institutional volumes and spreads
    //-     .check_block
    //-       .check_block__icon.circle
    //-         +icon('circle')
    //-       span.check_block__text Aggregation of Tier-1 banks
    //-     .check_block
    //-       .check_block__icon.circle
    //-         +icon('circle')
    //-       span.check_block__text Leverage 1:100
    //- .best_with
    //-   .best_with--left
    //-     .best_with--heading Spot Liquidity
    //-     .best_with--text A deep pool of aggregated liquidity to satisfy the goals of institutional entities
    //-     .best_with--img
    //-       img(src="images/prod_liq/item3.png", alt="img")
    //-   .best_with--right
    //-     .check_block
    //-       .check_block__icon.circle
    //-         +icon('circle')
    //-       span.check_block__text Feature-rich trading API
    //-     .check_block
    //-       .check_block__icon.circle
    //-         +icon('circle')
    //-       span.check_block__text Institutional volumes and spreads
    //-     .check_block
    //-       .check_block__icon.circle
    //-         +icon('circle')
    //-       span.check_block__text Aggregation of top exchanges
    //-     .check_block
    //-       .check_block__icon.circle
    //-         +icon('circle')
    //-       span.check_block__text Comissions ladder