.section.section__flow.dark_style.section__crypto_flow
    .container.goanim.an
        .section__title Crypto  #[span(class="section__title--bold") Prime Flow ] 
        img.banner(src="images/crypto_flow.png", alt="")