.section.section__products.dark_style.section__crypto_product
    .container.goanim.an
        .section__title #[span(class="section__title--bold db") 100 Crypto CFDs]  7 markets
        .section__subtitle B2Broker is the first Crypto Prime Liquidity provider that offers 100+ crypto CFD instruments with#[span(class="db")] Crypto-to-Fiat, Crypto-to-Gold, Crypto-to-Silver and Crypto-to-Crypto pairs. Next level aggregation#[span(class="db")] technology, developed by B2Broker, allows us to provide liquidity with tight spreads and with significant#[span(class="db")] volumes even on TOB prices. Our liquidity contains major crypto assets as well as minors and exotic#[span(class="db")] assets: 7 markets in total. All crypto CFD instruments are available for trading 24/7.
    
    .container.check_block--mam_platform--catalog.goanim.an
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text BTC Market
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text BCH Market
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text ETH Market
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text LTC Market
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text XRP Market
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text BNB Market
        
        .check_block--mam_platform-item.circle
            +icon('circle')
            .check_block--mam_platform-item--text Other