.section-6.section__compare.section
  .container.goanim.an
    .section__title #[span(class="section__title--bold") Compare] Crypto Prime Liquidity #[span(class="section__title--bold") with others]   
    .table_wrapper
      table.table
        thead
          tr
            td.gray
              span Features
            td.gray
              span Exchanges
            td.gray
              span Crypto Prime  
            td.gray
              span Crypto Brokers & LPs
        tbody
          tr
            td
              span Aggregated Volumes
            td
              +icon('close')
            td
              +icon('bold_check')
            td
              +icon('close')
          tr
            td
              span Aggregated Tight Spreads
            td
              +icon('close')
            td
              +icon('bold_check')
            td
              +icon('close')
          tr
            td
              span Trading Hours 24/7
            td
              +icon('bold_check')
            td
              +icon('bold_check')
            td
              +icon('close')
          tr
            td
              span Short Positions Allowed
            td
              +icon('close')
            td
              +icon('bold_check')
            td
              +icon('bold_check')
          tr
            td
              span Trading with Leverage
            td
              +icon('close')
            td
              +icon('bold_check')
            td
              +icon('bold_check')
              
          tr
            td
              span Single Margin Account
            td
              +icon('close')
            td
              +icon('bold_check')
            td
              +icon('bold_check')
          tr
            td
              span Various Trading Instruments
            td
              +icon('bold_check')
            td
              +icon('bold_check')
            td
              +icon('close')
          tr
            td
              span Fast and Reliable Execution
            td
              +icon('bold_check')
            td
              +icon('bold_check')
            td
              +icon('close')
          tr
            td
              span Reliable Liquidity with Multiple Failovers
            td
              +icon('close')
            td
              +icon('bold_check')
            td
              +icon('close')
          tr
            td
              span Different Options for Connectivity
            td
              +icon('close')
            td
              +icon('bold_check')
            td
              +icon('close')
          tr
            td
              span Risk Counterparty
            td
              span.upp HIGH
            td
              span.upp LOW
            td
              span.upp MEDIUM