.section-3.goanim.an
  .container
    .section__title #[span(class="section__title--bold") Crypto CFD]  Liquidity
    span.main-text  Liquidity is important for all tradable assets including cryptocurrencies and traders need to have transactions completed as quickly and as cost effectively as possible. The cryptocurrency market is an emerging asset class on the global arena with a growing adoption of crypto by both retail and institutional investors. 

    span.main-text CFDs are a convenient way of trading cryptocurrencies. B2Broker offers an incomparable Crypto CFD solution aggregating cryptocurrency exchanges, non-bank liquidity providers, cryptocurrency brokers, OTC orders of institutional clients, hedge funds and thousands of client-broker orders to create the deepest liquidity pool in the industry to meet all our client’s needs. 
    .number_block
      .number_block-content
        .number_block--text BTC Spread from
        .number_block--number 0,1
          span.number_block--number-text $

      .number_block-content
        .number_block--text Margin Requirements
        .number_block--number 20
          span.number_block--number-text %

      .number_block-content
        .number_block--text Liquidity venues
        .number_block--number 7

      .number_block-content
        .number_block--text Execution from
        .number_block--number 49
          span.number_block--number-text ms
        
      .number_block-content
        .number_block--text technical Support
        .number_block--number 24/7