.section-4.section__crypto_number.section.section-4__forex
  .container.goanim.an
    .section__title #[span(class="section__title--bold") What is a]  Crypto Prime Brokerage?
    span.main-text  A Crypto Prime Brokerage refers to a firm that has accounts with major market-makers and offers their services to market participants such as Crypto Brokers, Liquidity Providers and Crypto Exchanges, etc. A Crypto Prime Brokerage aggregates liquidity in order to build a reliable service with the deepest depth of market to support trading at big volumes on cryptocurrencies, with minimal slippage and ultra-competitive conditions. 

    span.main-text We started to build the infrastructure for our Crypto Prime Brokerage in 2017 and accumulated a lot of experience creating our product with various markets, multiple failover systems, competitive spreads and leverage, and most importantly, with large volumes on the top levels of our market depth.
    .number_block
      .number_block-content
        .number_block--text Crypto CFD Pairs
        .number_block--number 100
      .number_block-content
        .number_block--text Margin Requirements 
        .number_block--number 20%
      .number_block-content
        .number_block--text Trading Availability
        .number_block--number 24/7/365

    .number_update Updated : 25th April 2020
      