.bug_bounty {

    &-banner {
        width: 100%;
        height: 500px;
        margin: 24px auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include respond-to('tablet-wide') {
            max-width: 100%;
            padding: 0 25px;
            margin: 0;
        }

        @include respond-to('tablet') {
            height: 400px;
        }
    }

    &-container_head {
        max-width: $content-size;
        margin: 0 auto;

        @include respond-to('tablet') {
            width: 100%;
        }
        @include respond-to('phone-wide') {
            width: 100%;
        }

        &-title {
            padding-top: 7%;
            font-size: $big-font;
            line-height: 84px;
            max-width: $content-size;
            margin: 0 auto;
            font-weight: 600;

            @include respond-to('tablet') {
                font-size: 250%;
                padding-top: 15%;
                width: 100%;
            }

            @include respond-to('phone-wide') {
                width: 100%;
                font-size: 40px;
                line-height: 47px;
            }

            @include respond-to-min('desktop-max') {
                max-width: $content-max-size;
            }
        }

        &-title_sub {
            width: 65.5%;
            padding-top: 14%;
            font-size: 16px;
            line-height: 19px;

            @include respond-to('tablet-wide') {
                width: 100%;
            }

            @include respond-to('tablet') {
                padding-top: 3%;
                font-size: $small-font;
            }

            @include respond-to('phone-wide') {
                padding-top: 40px;
            }

            @include respond-to-min('desktop-max') {
                padding-top: 5%;
            }
        }

        @include respond-to-min('desktop-max') {
            max-width: $content-max-size;
        }
    }

    &-content {
        max-width: $content-size;
        margin: 0 auto;
        padding-top: 1%;

        &_list {
            ol {
                padding-left: 2%;

                li {
                    padding-bottom: 2%;
                    color : $text-black;

                    &::before {
                        content: "\2022";
                        color: $main;
                        display: inline-block;
                        width: .8em;
                        margin-left: -1em;
                    }

                    @include respond-to('phone-wide') {
                        padding-bottom: 5%;
                        margin-left: 2%;
                    }
                }
            }
        }

        &_form {
            position: relative;
            padding-top: 8%;
            display: flex;
            flex-direction: row;
            padding-bottom: 5%;

            &-column {
                width: 50%;
                display: flex;
                flex-direction: column;

                @include respond-to('phone-wide') {
                    width: 100%;
                }
            }

            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: $white;
            }

            input,
            textarea,
            select {
                outline: none !important;
                width: 90%;
                padding: 5%;
                border: 1px solid #EBEBEB;
                box-sizing: border-box;
                margin-bottom: 2%;
                transition: all .3s ease-in;

                &:focus {
                    //border: 3px solid $main;
                    box-shadow: 0px 0px 10px 5px rgba(76, 174, 137, 0.5);
                }

                @include respond-to('phone-wide') {
                    width: 100%;
                    margin-bottom: 5%;
                }
            }

            input,
            select {

                &::placeholder {
                    color: $background_black;
                }

                &:focus::placeholder {
                    color: #D3D3D3;
                }
            }

            input[type="submit"] {
                width: 65%;
            }

            textarea {
                height: 73%;

                &::placeholder {
                    color: #D3D3D3;
                }

                @include respond-to('phone-wide') {
                    height: 250px;
                }
            }

            @include respond-to('phone-wide') {
                flex-direction: column;
            }
        }

        &_buttons {
            display: flex;
            flex-direction: row;
            margin-top: 5%;
            width: 90%;

            &-button {
                width: 50%;
                display: flex;
                flex-direction: row;
                border: 3px solid $main;

                @include respond-to('phone-wide') {
                    width: 65%;
                }
            }

            &-mob {
                display: none;

                @include respond-to('phone-wide') {
                    display: block;
                    padding-top: 5%;
                }
            }

            @include respond-to('phone-wide') {
                display: none;
            }
        }

        @include respond-to('tablet') {
            max-width: 100%;
            padding: 0 25px;
            margin-top: 5%;
        }

        @include respond-to('phone-wide') {
            max-width: 100%;
            padding: 0 25px;
            margin-top: 15%;
        }

        @include respond-to-min('desktop-max') {
            max-width: $content-max-size;
        }
    }
}

.white__button-bounty {
    background: $white;
    border: 1px solid $main;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    padding: 3% 7%;
    margin-right: 2%;
    color: $black;

    p {
        color: $black;
    }

    svg {
        width: 15%;
        height: 20px;
        margin-right: 2%;
    }

    @include respond-to('phone-wide') {
        margin-bottom: 3%;
    }
}

.green__button-bounty {
    background: $main;
    border-radius: 4px;
    justify-content: center;
    padding: 3% 7%;
}

input[type="file"] {
    display: none;
}

.wpcf7-response-output.wpcf7-response-output {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    margin-left: 0;
    border: 2px solid $main;

    @include respond-to('tablet') {
        position: relative;
    }
}

span.wpcf7-not-valid-tip {
    margin-bottom: 1.3rem;
    margin-top: -5px;
}