div(class="modal-fancy modal_video b2_frame" id="modal_video_3" style="display:none")
    .video_block
        .video_block--preview
                img(src="images/videos_page/item3.png", alt="video_previw").image_preview
                img(src="images/b2_core/utube_btn.png", alt="play", data-id="3").video_block--youtube_btn
                .video--time 4:07
        <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    .video_bot_descr
        .video_description Blockchain Life 2019 Afterparty – Arthur Azizov
        .video_subdescription Watch our Blockchain Life 2019 video presented by B2Broker CEO, Arthur Azizov, who introduces...