div(class="modal-fancy modal_video b2_frame" id="modal_video_5" style="display:none")
    .video_block
        .video_block--preview
                img(src="images/videos_page/item5.png", alt="video_previw").image_preview
                img(src="images/b2_core/utube_btn.png", alt="play").video_block--youtube_btn
                .video--time 1:44
        <iframe src="https://www.youtube.com/embed/sRwXMnLgcK4" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    .video_bot_descr
        .video_description Barcelona Trading Conference Highlights
        .video_subdescription The company recently announced the set up operations in Minsk, Belarus after securing a license...