.liq {
  &__catalog {
    box-sizing: border-box;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 80px;
    margin-bottom: -36px;
    flex-wrap: wrap;

    @include respond-to("tablet-wide") {
      display: block;
      margin-bottom: 0;
      padding: 0;
    }
  }

  &__item {
    width: calc(50% - 36px / 2);
    margin-bottom: 36px;
    background: #ffffff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    padding: 48px 56px;
    box-sizing: border-box;

    @include respond-to("tablet-wide") {
      width: 100%;
      padding: 20px;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-weight: $extrabold;
    font-size: $subtitle-font;
    line-height: 28px;
    /* identical to box height, or 119% */
    text-align: center;
    color: $darkgray;
    margin: 23px 0;

    @include respond-to("tablet-wide") {
      span.db {
        display: none;
      }
    }
  }

  &__icon {
    display: block;
    margin: 0 auto;
  }

  &__desc {
    font-weight: $normal;
    font-size: $small-font;
    line-height: $tk-desc-line;
    /* or 136% */
    text-align: center;
    color: $darkgray;

    @include respond-to("tablet-wide") {
      span.db {
        display: none;
      }
    }
  }
}
