.section.dark_style.section__also.section__report_also
    .container.goanim.an
        .section__title Read #[span(class="section__title--bold") also]
    
    .container.also__flex.goanim.an
        .also.green__style(style="background-image: url(images/events_also1.png);")
            .also__overlay
            a.also__btn(href="#") Read  more
            .also__title Corporate News
            .also__content
                .also__date 27.02.20
                .also__description B2BinPay – it’s fast & secure crypto payments
                .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features
                
        
        .also.dark_blue__style(style="background-image: url(images/also/also4.png);")
            .also__overlay
            a.also__btn(href="#") Read  more
            .also__title Product Update
            .also__content
                .also__date 27.02.20
                .also__description B2BinPay – it’s fast & secure crypto payments
                .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features
                
        
        .also.blue__style(style="background-image: url(images/also/also1.png);")
            .also__overlay
            a.also__btn(href="#") Read  more
            .also__title Article
            .also__content
                .also__date 27.02.20
                .also__description B2BinPay – it’s fast & secure crypto payments
                .also__subdescription If you’ve followed along with the leaks in recent weeks, none of the new features
    
    <svg class="also__shadow" style="margin-bottom:0;" width="982" height="73" viewBox="0 0 982 73" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g style="mix-blend-mode:multiply" filter="url(#filter0_f)">
        <ellipse cx="491" cy="36.8145" rx="490.5" ry="16" fill="url(#paint0_radial)" fill-opacity="0.9"/>
        </g>
        <defs>
        <filter id="filter0_f" x="-19.5" y="0.814453" width="1021" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur"/>
        </filter>
        <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(491 36.8145) rotate(90) scale(16 490.5)">
        <stop offset="0.0260417" stop-color="#4A4A4A" stop-opacity="0.56"/>
        <stop offset="0.703125" stop-color="#4A4A4A" stop-opacity="0.27"/>
        <stop offset="1" stop-color="#171E25" stop-opacity="0"/>
        </radialGradient>
        </defs>
    </svg>