.events_screen.announcement_events.section.publication_page(style="background-image: url(images/publication.png);")
    .container
        .section__title.section__title--bold Что такое #[span(class="db")] арбитраж на Форекс?
        .section__subtitle Применение стратегии
        .section__discription If you’ve followed along with the leaks in recent weeks, none#[span(class="db")] of the new features will surprise you. 

        .bot_disc
            .bot_disc__item Author  #[span(class="bold") Rosemary Barnes]
            .bot_disc__item Time to reading  #[span(class="bold") 14 minutes]
            .bot_disc__item 27.03.20