.section-23.best.section
  .container
    .section__title.goanim.an It comes #[span(class="section__title--bold") best with]
    .main-text.goanim.an Our liquidity is best combined with the leading industry trading platforms to provide the ultimate in performance and user satisfaction.
    .best_with.goanim.an
      .best_with--left
        .best_with--heading PAMM platform
        .best_with--text A PAMM platform allows clients/traders to create their own investment fund and scale their success with fee payments from investors for profits made on their accounts or volumes.
        .best_with--img
          img(src="images/prod_mm/item1.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text 4 Types of fees
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Supports all fiat & crypto currencies 
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Manual and scheduled Deposits & Withdrawals
        .check_block.castom
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Full White label support
    .best_with
      .best_with--left
        .best_with--heading Social Trading platform
        .best_with--text Let your clients share and copy signals of each other. Copy trading can help you to stand-out of competition. Easy to use and promote.
        .best_with--img
          img(src="images/prod_mm/item2.png", alt="img")
      .best_with--right
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Leaderboard with traders
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text 4 Types of fees
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Statistics for every account
        .check_block
          .check_block__icon.circle
            +icon('circle')
          span.check_block__text Full White label support