.chance.section
  .opportunities
    .container
      .section__title.center.goanim.an The #[span(class="section__title--bold") chance of a lifetime] for investors and amateur traders
      .main-text.goanim.an Under a quarter of traders earn money on the markets and even less than this do so regularly. Copy trading helps everyone follow successful traders and earn money with them while still remaining in full control over their account.
    .container.flex.diversified.goanim.an
      img(src="images/copy_trading/chance-1.png", alt="image")
      .text.left
        .green__title Diversified investments
        .title Create an investment portfolio with several traders
        p.margin Why copy positions from one trader when you can copy five, ten or even 15 traders and diversify your risk? 
        p One or more may lose money, whereas successful ones will profit and compensate for the losses. It's the same risk control approach that applies with stock trading.
    .container.flex
      .text.right
        .green__title Reverse copy
        .title Make money on all traders
        p.margin It is always difficult to find a handful of profitable traders. Now you don't have to! You can earn money when traders make a profit - and when they don't!
        p Simply use reverse copy for making money on losing traders. Buy when they sell and vice versa.
      img(src="images/copy_trading/chance-2.png", alt="image")
    .container.flex.traders
      img(src="images/copy_trading/chance-3.png", alt="image")
      .text.left
        .green__title For beginner traders
        .title Analyze the trading of professionals
        p.margin Copy trading can be used as more than just an investments instrument. Beginners can copy positions and anlyze when, where and why the master made a trade.
        p A far more practical approach to learning than a trading bootcamp tutorial!
    .container.flex.clients
      .text.right
        .title Offer your clients investments, not a hobby
        p.margin.padding Risk control is what makes the difference between active and passive investments.
        p.margin-2.padding With our platform, your clients can set a risk limit for their investments and feel safe and calm. A less stressful experience will earn you the trust of your clients.
        .check_block--mam_platform-item.circle
          +icon('circle')
          span.check_block--mam_platform-item--text Less stress, more trust
      img(src="images/MAM_platform/opportunities-7.png", alt="image")
    .container.flex.marketing
      img(src="images/MAM_platform/opportunities-4.png", alt="image", class="castom-width")
      .text.left-2
        .green__title А new marketing opportunity
        .title Private and public accounts
        p.padding-2 Our platform by default has a leaderboard of master accounts. However, your money managers have the option to show or hide accounts from the leaderboard,