.section-22.faq.goanim.an
  .container
    .section__title.section__title--bold FAQs
    .main-text Have a question? A source of useful information about our products and services.
    .question
      .question-item.faq_btn_js(data-id="1")
        span How fast does risk limit work?
        .question__plus
          span
          span
        .question-item_content(data-id="1") Risk limit stars closing positions in aprx 1 minute after reaching of signal level of equity. Please be careful with promises to your clients about speed of work and notify them that the slippage is possible and real losses can exceed a risk limit they set. Clients never should invest more than they are ready to lose.
      .question-item.faq_btn_js(data-id="2")
        span Can i use a platform if i don’t have my own MT4/5 server and i’m just a WhiteLabel?
        .question__plus
          span
          span
        .question-item_content(data-id="2") Yes, platform is connected to a MetaTrader server via MT manager’s API and requires no admin rights. MainLabel owners allow our clients use the platform as it is safe and secure and not requires installation of plug-ins.
      .question-item.faq_btn_js(data-id="3")
        span I don’t need all 3 of 4 types of fees and leaderboard, can i get a discount? 
        .question__plus
          span
          span
        .question-item_content(data-id="3") No, we don’t have packages based on feature use. Nobody use all the features but every broker creates its own product from features and options like children do with brick constructors. We constantly developing a platform and quantity of features is contantly growing giving you an opportunity for making a tailor-made product for your clients according to your vision.
      .question-item.faq_btn_js(data-id="4")
        span I have my own MT4/5 server and serveral whitelabels. If i buy a system for my company, will my whitelabels be able to launch this product? 
        .question__plus
          span
          span
        .question-item_content(data-id="4") A license is issued for one company brand on one MT4/5 server. If you are MetaTrader server main label owner and you want to buy several licenses for your whitelabels - contact us for volume discounts.
      .question-item.faq_btn_js(data-id="5")
        span I have several MT4/5 server. Do i need to buy pay x2 or x3 for providing a service for my clients on other servers? 
        .question__plus
          span
          span
        .question-item_content(data-id="5") We offer a 75% discount for each new MT4/5 server for companies who have several servers. It means you pay just 500$ more to your minimum monthly payments for each additionally connected server. 
      .question-item.faq_btn_js(data-id="6")
        span Can i use a platform with cTrader, B2Margin, DxTrade, xStation or ProTrader? 
        .question__plus
          span
          span
        .question-item_content(data-id="6") No, currently platform works only with MetaTrader 4/5 servers and don’t support other platforms and have no integrations with crypto-exchanges. We have a plan in our long-term roadmap to integrate the platform with B2Margin and DxTrade.
      .question-item.faq_btn_js(data-id="7")
        span We have a strict security policy, can we setup a platform on our server and provide you no access to it? 
        .question__plus
          span
          span
        .question-item_content(data-id="7") Yes, you can provide your own server that meets technical requirements and we will make a setup there. We will point all alerts from monitoring system to devices of your server administrators. #[b(class="br")]You can limit access of support team to this server and provide it via TeamViewer or Anydesk when you need assitance. 
      .question-item.faq_btn_js(data-id="8")
        span Can we restrict access to personal data of clients? 
        .question__plus
          span
          span
        .question-item_content(data-id="8") You can restrict access to personal data for a platform by limiting number of rights for MT manager. But it will make user experience worse:
          p - Platform can copy name, email, city and other data from user record from payment account. 
          p - Platform sends emails with credentials after creation of new accounts. That will not be possible without right of MT manager to personal details.
      .question-item.faq_btn_js(data-id="9")
        span Who is responsible for maintenance of the platform? 
        .question__plus
          span
          span
        .question-item_content(data-id="9") If setup is made on a server provided by B2Broker - so system administrators + technical support team are responsible for maintenance of servers. #[b(class="br")]If you request making setup on your server, so your staff is responsible for maintenance and updates of software. But you can request some help from tech support team when needed especially if you provide RDP access to a server. Please contact us for more discussing your case.
      .question-item.faq_btn_js(data-id="10")
        span Can i integrate a platform with my in-house made Trader’s room and make a mobile app? 
        .question__plus
          span
          span
        .question-item_content(data-id="10") Yes, we have a API in our platform and you can easily integrate it with your trader’s room or create a mobile app.
      .another_question
        .another_question--heading Any another questions?
        .another_question--link Don’t hesitate to contact us with the form below if you have and other questions beyond product page and Frequently asked questions section.

      
          
        
