.investment
  .opportunities
    .container
      .green__title.big.center.goanim.an easy to use and promote
      .section__title.center.goanim.an The #[span(class="section__title--bold") best investment product] for the retail market
    .container.flex.invest-1.goanim.an
      .text.right
        .title All Fiat and Crypto currencies are supported
        p.margin Your clients can use an account nominated in any currency. The platform supports any combination imaginable. All fees will be calculated and paid respectively. 
        p.margin-2 Accounts can be opened in fiat and cryptos: USD, JPY, BTC, USDT, EUR, etc.
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Master in BTC and Slave in ETH
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Master in USD and Slave in Ripple
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Master in USDT and Slave in GBP
      img(src="images/copy_trading/invest-1.png", alt="image", class="invest-1")
    .container.flex.limitations
      img(src="images/copy_trading/limit.png", alt="image")
      .text.left
        .green__title Powerful yet easy
        .title Copy Trading without limitations
        p.margin Our platform provides all the basic and advanced functions for these type of products:
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text 4 types of automated fee payments
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Investors can close copied orders in web UI
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Detailed statistics for all accounts
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Reverse copy
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Unlimited number of subscribers for one master
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Investors can close copied orders in web ui
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Automated risk limits
    .container.flex.followers
      .text.right
        .green__title Regular accounts superpowered
        .title Followers retain full control over their accounts
        .title_block
          .title_block--heading Open positions
          .title_block--description Positions can be opened whenever there is an opportunity.
        .title_block
          .title_block--heading Close positions
          .title_block--description Followers can see and close any positions that were copied from masters.
        .title_block
          .title_block--heading Stop following immediately
          .title_block--description Copied postiions will be closed automatically if the follower unsubscribes.
      .img_wrapper
        img(src="images/copy_trading/grafic.png", alt="image")
        .shadow
    .container.flex.manual
      img(src="images/MAM_platform/opportunities-3.png", alt="image")
      .text.left
        .title Manual and automatic mapping of symbols
        p.margin-2.padding-2 Your clients can be placed in different groups with different symbol names for one instrument where you can set different price streams and other symbol settings.
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Manual mapping for other symbols
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Auto-mapping of symbols for FX and Metals
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Different price streams for Master and Slaves