.opportunities.make_traders.section
  .container
    .green__title.big.center.goanim.an A great offer for money managers
    .section__title.center.goanim.an #[span(class="section__title--bold") Make traders an offer ] they can't refuse
    .main-text.goanim.an Differentiate yourself from your competitors by offering your clients more money and a vision of a better future. Tight spreads, low commissions, MT5 trading platform, 200 trading instruments and more.
  .container.flex.Career.goanim.an
    img(src="images/copy_trading/commissions.png", alt="image")
    .text.left
      .title Career opportunities for traders
      p.margin Offer your clients the chance to earn money by starting #[span(class="db")] a career as a professional, self-employed full-time trader.
      p Earning money with personal savings is not easy but as #[span(class="db")] part of an investment pool, income potential is unlimited.
  .container.flex.iphone_hand
    .text.right
      .title No marketing effort required
      p The best part of the offer for traders is that no marketing is required as the broker does it for them.
      p If a trader continues to make a profit, he will move up in the leaderboard and become visible to every single client within the brokerage.
    img(src="images/copy_trading/iphone_hand.png", alt="image")
  .container.flex.Career.Career-2
    img(src="images/copy_trading/risk.png", alt="image")
    .text.left
      .title A personal risk manager for every trader
      p.margin Bad days can happen with every trader. The aim is to avoid leaving all money on the table due to a single mistake. Offer your clients a daily risk limit - a tool widely used by all investment funds.
      p It's simple - all the trader needs to do is set the percentage to equity at the beginning of the day. If the trader reaches it, the platform blocks all trading until the next day.
.opportunities.make_traders.make_traders-2
  .container.flex.mac_and_iphone
    .text.left
      .green__title Do the same thing but earn more
      .title No need to change trading style
      p.margin Offer your clients the opportunity to do what they did before but earn more. Trade in the same way on the same account but get paid in fees at the end of the month.
      p.margin-2 Subscriptions, unsubscriptions and deposits/withdrawals do not affect traders' accounts.
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Same strategy
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Same account size
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text No additional stress
      .check_block--mam_platform-item.circle
        +icon('circle')
        span.check_block--mam_platform-item--text Same spreads/commissions as before
    img(src="images/copy_trading/mac.png", alt="image")
