.forex_liquidity.forex_liquidity__new.forex_liquidity__new__copy
  .forex_liquidity--overlay
  .container
    .forex_liquidity__content
      h2.section__title #[span(class="section__title--bold") Copy Trading] Platform 
      span.section__subtitle A platform that gives beginner traders the opportunity to copy positions from professionals. We produce all the matetials to help you to launch this platform in just 7 days.
      .check_block--mam_platform
        .check_block--mam_platform-item
          +icon('new_land-green_check')
          span.check_block--mam_platform-item--text Fully compliant for regulated brokers
      .supported_platforms
        .supported_platforms-title Supported platforms
        .supported_platforms-items
          img(src="images/MAM_platform/sup_pl-1.png", alt="sup_pl-1" class="supported_platforms-item")
          img(src="images/MAM_platform/sup_pl-2.png", alt="sup_pl-2" class="supported_platforms-item")
    form.new_form.new_form__flex.b2_form.light_theme
      h2.new_form__title Launch Copy Trading Platform
      label.new_form__label
        span.new_form__placeholder Your Name
        span.new_form__star *
        input.new_form__input(type="text")
      label.new_form__label
        span.new_form__placeholder Your Email
        span.new_form__star *
        input.new_form__input(type="text")
      label.new_form__label.new_form__label__phone_select
        span.new_form__placeholder Phone
        span.new_form__star *
        input.new_form__input(type="text")
        select.new_form__select.new_form__select_phone
            option(value="+7") +7
            option(value="+7") +7
            option(value="+7") +7
      label.new_form__label.new_form__label_capch
        span.new_form__placeholder Enter symbols
        span.new_form__star *
        img.new_form__capch(src="images/capch_text.png")
        input.new_form__input(type="text")

      label.new_form__label.new_form__label__lang_select
        span.new_form__placeholder Preffered language
        input.new_form__input(type="text")
        .new_form__label__lang_select_wrapper
          img(src="images/new_en.png",class="new_form__label__lang_select_icon")
          select.new_form__select
            option(value="English") English
            option(value="English") English
            option(value="English") English
      button.new_form__sabmit Request a Callback
      label.consent_block
        input(type="checkbox")
        b
        p I agree to the #[a(href="#") Terms of Service] and #[a(href="#") Privacy Policy]


      