.what_is.what_is_trading
  .container
    .section__title #[span(class="section__title--bold") What is a] Copy Trading Platform?
    .main__text Offering copy trading as a product can significantly increase a broker's turnover as it offers new opportunities to everyone interested in the financial markets. Successful traders can continue trading on their usual account but at the end of the week or month, get paid for their success. Those who don't want to trade, or are unable to make a profit on their own can copy the positions of professional traders.
  .container.flex
    .segment
      .segment-text
        .segment-text--title New client segment
        .segment-text--subtitle Attract money managers with #[span(class="db")] a feature-rich MAM platform.
    .segment
      .segment-text
        .segment-text--title No plugins
        .segment-text--subtitle Hassle-free integration. We #[span(class="db")] handle all the technical aspects.
    .segment
      .segment-text
        .segment-text--title Improves life-time value
        .segment-text--subtitle Traders are more motivated to trade. #[span(class="db")] Others have an alternative to trading
    .segment
      .segment-text
        .segment-text--title Setup in 7 days
        .segment-text--subtitle Launch the platform #[span(class="db")] within a week.
