.ct_works.goanim.an
  .container
    .section__title.center #[span(class="section__title--bold") How is copy trading works]
    .main-text.center A PAMM platform combines slave accounts into one big master account. All investors receive P&L for master’s positions in proportion to their investments. At the end of the period they pay fees.
  .container.tabs_slider_container
    .tabs_slider
      .item.item1
        span.icon
          span.icon-text 1
        span Trader opens a master account and it appears in leaderboard
      .item
        span.icon
          span.icon-text 2
        span He deposit his own money and start trading
      .item
        span.icon
          span.icon-text 3
        span Better he trade, the better positions his account has in leaderboard 
      .item
        span.icon
          span.icon-text 4
        span Investors are looking at top accounts and if they like statistics - they subscribe to them.
      .item
        span.icon
          span.icon-text 5
        span Once investors are subscribed, they start getting all positions copied to their accounts
      .item
        span.icon
          span.icon-text 6
        span If they made profits they pay to strategy provider according to accepted fees schedule
  .container
    .main_tabs_slider
      .item
        img(src="images/copy_slider/new_item1.png", alt="image")
      .item
        img(src="images/copy_slider/new_item2.png", alt="image")
      .item
        img(src="images/copy_slider/new_item3.png", alt="image")
      .item
        img(src="images/copy_slider/new_item4.png", alt="image")
      .item
        img(src="images/copy_slider/new_item5.png", alt="image")
      .item
        img(src="images/copy_slider/new_item6.png", alt="image")