.forex_liquidity__new__b2_trading {
  padding-top: 280px;
  padding-bottom: 150px;

  .b2_core__title_video {
    width: 100%;
    margin-left: 0;
    left: 0;
  }

  .new_form__label_capch .new_form__capch {
    background: #e0e0e0;
  }
}
