.trading {
  padding-bottom: 150px;

  &:last-child {
    padding-bottom: 0;
  }
  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */
    color: #ffffff;
    display: block;
    text-align: center;
    margin: 0 auto 50px;
  }

  .item {
    width: 100%;
    max-width: 980px;
    margin: 0 87px;
    transition: opacity 0.5s;
    opacity: 0.15;

    &.is-selected {
      opacity: 1;
    }
  }

  .flickity-prev-next-button {
    top: 41%;
  }

  .flickity-prev-next-button.previous {
    left: 20vw;
    margin-left: 0;
  }

  .flickity-prev-next-button.next {
    right: 20vw;
    margin-right: 0;
  }

  &__flex {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 80px;

    .check_block--mam_platform-item {
      margin: 0 19px;
    }
  }

  &--mac {
    .item {
      img {
        display: block;
        height: 659px;
        width: auto;
        margin: 0 auto;
      }
    }

    .flickity-prev-next-button {
      top: 33%;
    }
  }

  &--pad {
    .item {
      img {
        display: block;
        height: 618px;
        width: auto;
        margin: 0 auto;
      }
    }

    .flickity-prev-next-button {
      top: 38%;
    }
  }
}

.section__trading {
  .section__subtitle {
    margin-bottom: 80px;
  }
}
