.section__watchlist {
  .section__subtitle {
    margin-bottom: 62px;
  }

  video,
  img {
    display: block;
    width: auto;
    height: 480px;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
      height: auto;
      width: 98%;
    }
  }
  svg.bot_shadow {
    display: block;
    margin: 33px auto 0;

    &.bot_shadow-1 {
      width: 800px;
    }

    &.bot_shadow-2 {
      width: 800px;
    }

    &.bot_shadow-4 {
      width: 350px;
    }

    @media screen and (max-width: 980px) {
      width: 100% !important;
    }
  }

  .flickity-prev-next-button {
    top: 64%;
  }

  .item {
    background-color: #191f24;
  }
}
