.section__watchlist {
  .section__subtitle {
    margin-bottom: 62px;
  }

  video,
  img {
    display: block;
    width: auto;
    height: 480px;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
      height: auto;
      width: 98%;
    }
  }
  svg {
  }

  .flickity-prev-next-button {
    top: 64%;
  }
}
