.events_screen.section.news_feed(style="background-image: url(images/article.png);")
    .container
        .section__title.section__title--bold Articles
        .section__subtitle A library of informative articles about our products and#[span(class='db')] industry-related matters. Browse through our extensive range#[span(class='db')] of subject matter and get educated.

    