.section.events.none_pad
    .aside_burger--js
        span

    aside.events_sidebar
        ul.events_sidebar__ul
            li.events_sidebar__li
                a.events_sidebar__link(href="#") News Feed
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Сorporate News
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Product Updates
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Webinars
            
            li.events_sidebar__li.active
                a.events_sidebar__link(href="#") Events
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Media
            
            li.events_sidebar__li.video
                a.events_sidebar__link(href="#") Videos
            
            li.events_sidebar__li
                a.events_sidebar__link(href="#") Articles
        
        form.events_form
            .events_form__title Sign up for newsletter
            input(type="email" placeholder="Enter your Email")
            button.new_green_btn Subscribe

    .events_content
        .container
        p.paragraph What did surprise me while trying out the new service ahead of today’s launch, though, is that some features that didn’t get a lot of attention in the leaks, including the new consistent sidebar with its built-in Google Calendar, Tasks and Keep integration, are maybe among the most useful of the additions here. If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. What did surprise me while trying out the new service ahead of today’s launch, though, is that some features that didn’t get a lot of attention in the leaks, including the new consistent sidebar with its built-in Google Calendar, Tasks and Keep integration, are maybe among the most useful of the additions here.What did surprise me while trying out the new service ahead of today’s launch, though, is that some features that didn’t get a lot of attention in the leaks, including the new consistent sidebar with its built-in Google Calendar, Tasks and Keep integration, are maybe among the most useful of the additions here. If you’ve followed along with t

        img.banner.anounc(src="images/dote.png")
        p.paragraph B2Broker offers single and direct market access to all Tier-1 FX liquidity venues, empowering your business with incomparable levels of technology, the deepest liquidity, speed of execution and professional support with full transparency and trading anonymity at ultra-competitive trading costs. With our liquidity solutions, we are able to provide financial institutions with the highly developed liquidity access infrastructure and connectivity choices necessary to handle even the most complicated HFT systems. Using our expertise and technology, we deliver customized liquidity solutions tailored to our clients’ exact execution needs.
        .b2_form.light_theme.section
            .container.goanim.an
                .section__title Join us to  #[span(class="section__title--bold") event]
                .section__subtitle We are here to provide you with the best liquidity solutions#[span(class='db')] tailored to your exact requirements. Contact us now.
                form.new_form.new_form__flex
                    label.new_form__label.new_form__label__50
                        span.new_form__placeholder Your Name
                        input.new_form__input(type="text")
                    label.new_form__label.new_form__label__50.new_form__label__lang_select
                        span.new_form__placeholder Preffered language
                        input.new_form__input(type="text")
                        .new_form__label__lang_select_wrapper
                            img(src="images/new_en.png",class="new_form__label__lang_select_icon")
                            select.new_form__select
                                option(value="English") English
                                option(value="English") English
                                option(value="English") English
                    label.new_form__label.new_form__label__50
                        span.new_form__placeholder Your Email
                        span.new_form__star *
                        input.new_form__input(type="text")
                    label.new_form__label.new_form__label__50
                        span.new_form__placeholder Comment
                        input.new_form__input(type="text")
                    label.new_form__label.new_form__label__50.new_form__label__phone_select
                        span.new_form__placeholder Phone
                        span.new_form__star *
                        input.new_form__input(type="text")
                        select.new_form__select.new_form__select_phone
                            option(value="+7") +7
                            option(value="+7") +7
                            option(value="+7") +7
                    label.new_form__label.new_form__label__50.new_form__label_capch
                        span.new_form__placeholder Enter symbols
                        img.new_form__capch.new_form__capch--white(src="images/capch_text_white.png")
                        input.new_form__input(type="text")
                    label.new_form__label.new_form__label__50.new_form__label__web_select
                        span.new_form__placeholder Nickname
                        span.new_form__star *
                        input.new_form__input(type="text")
                        select.new_form__select.new_form__select_web
                            option(value="Telegram") Telegram
                            option(value="Telegram") Telegram
                            option(value="Telegram") Telegram
                    button.new_form__sabmit.new_form__sabmit__50 Request a Callback
                    //- .new_form__description.new_form__description__50 Based on your IP, you are in Russian Federation. #[a(href="#") Change] Your data will be in US data center.
                    label.consent_block
                        input(type="checkbox")
                        b
                        p.consent_block__p I agree to the #[a(href="#") Terms of Service] and #[a(href="#") Privacy Policy]

        .event_heading Blockshow Asia#[span(class="db")] When it starts
        p.paragraph What did surprise me while trying out the new service ahead of today’s launch, though, is that some features that didn’t get a lot of attention in the leaks, including the new consistent sidebar with its built-in Google Calendar, Tasks and Keep integration, are maybe among the most useful of the additions here. If you’ve followed along with the leaks in recent weeks, none of the new features will surprise you. It’s also not a huge surprise that Google is bringing some features from Inbox over to Gmail. What did surprise me while trying out the new service ahead of today’s launch, though, is that some features that didn’t get a lot of attention in the leaks, including the new consistent sidebar with its built-in Google Calendar, Tasks and Keep integration, are maybe among the most useful of the additions here.

        .assessment
            ul.tag_block
                li
                    a(href="#") Brokerage
                li
                    a(href="#") FOREX
                li
                    a(href="#") Business
                li
                    a(href="#") Useful
                li
                    a(href="#") Article
            .flex
                ul.stars
                    li
                        img(src="images/star.svg", alt="star")
                    li
                        img(src="images/star.svg", alt="star")
                    li
                        img(src="images/star.svg", alt="star")
                    li
                        img(src="images/star.svg", alt="star")
                    li
                        img(src="images/dis_star.svg", alt="star")
                .social_block
                    a(href="#").vk
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.4411 20.4593C15.9213 20.4593 20.3638 16.014 20.3638 10.5304C20.3638 5.04686 15.9213 0.601562 10.4411 0.601562C4.96088 0.601562 0.518311 5.04686 0.518311 10.5304C0.518311 16.014 4.96088 20.4593 10.4411 20.4593Z" fill="#A6A6A6"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0663 14.8869H10.8451C10.8451 14.8869 11.0804 14.8611 11.2005 14.7315C11.311 14.6126 11.3075 14.3892 11.3075 14.3892C11.3075 14.3892 11.2923 13.3436 11.7773 13.1896C12.2554 13.0379 12.8693 14.2002 13.5201 14.6471C14.0122 14.9853 14.3861 14.9112 14.3861 14.9112L16.1261 14.8869C16.1261 14.8869 17.0364 14.8308 16.6048 14.1147C16.5694 14.0561 16.3534 13.585 15.311 12.6168C14.22 11.6036 14.3661 11.7675 15.6804 10.0147C16.4808 8.94729 16.8007 8.29561 16.7008 8.0165C16.6055 7.75065 16.0168 7.82092 16.0168 7.82092L14.0576 7.83313C14.0576 7.83313 13.9124 7.81331 13.8047 7.87773C13.6995 7.94092 13.6317 8.08818 13.6317 8.08818C13.6317 8.08818 13.3216 8.91419 12.9081 9.61667C12.0357 11.099 11.6869 11.1772 11.5443 11.0852C11.2127 10.8707 11.2954 10.2234 11.2954 9.76357C11.2954 8.32711 11.5132 7.72818 10.8715 7.57313C10.6585 7.52163 10.5018 7.48765 9.95715 7.48216C9.25811 7.4749 8.66644 7.48428 8.33142 7.64853C8.10855 7.75773 7.93662 8.0011 8.04133 8.01508C8.17081 8.03242 8.46408 8.09419 8.61956 8.30605C8.82033 8.57933 8.81325 9.19313 8.81325 9.19313C8.81325 9.19313 8.92858 10.8841 8.54386 11.0942C8.27977 11.2383 7.91752 10.9441 7.13976 9.59933C6.74125 8.91048 6.44037 8.14906 6.44037 8.14906C6.44037 8.14906 6.38235 8.00676 6.27887 7.93065C6.15329 7.83844 5.97782 7.80906 5.97782 7.80906L4.11613 7.82127C4.11613 7.82127 3.83665 7.82906 3.73406 7.95065C3.64279 8.0588 3.72681 8.28251 3.72681 8.28251C3.72681 8.28251 5.18432 11.6945 6.83464 13.414C8.34787 14.9905 10.0663 14.8869 10.0663 14.8869Z" fill="white"/>
                        </svg>

                    a(href="#").twitter
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.92277 19.8577C15.403 19.8577 19.8455 15.4124 19.8455 9.92885C19.8455 4.4453 15.403 0 9.92277 0C4.44257 0 0 4.4453 0 9.92885C0 15.4124 4.44257 19.8577 9.92277 19.8577Z" fill="white"/>
                            <path d="M15.5568 7.11292C15.1316 7.30159 14.6741 7.4292 14.1944 7.48619C14.6842 7.19257 15.0601 6.72796 15.2375 6.17345C14.7792 6.44549 14.2714 6.64283 13.7314 6.7492C13.2987 6.28814 12.6823 6 11.9997 6C10.69 6 9.62786 7.06283 9.62786 8.37327C9.62786 8.55929 9.64891 8.74035 9.68959 8.91416C7.71841 8.81522 5.97064 7.87044 4.80073 6.43416C4.59661 6.7846 4.47951 7.19257 4.47951 7.62743C4.47951 8.45062 4.89855 9.17735 5.53462 9.60283C5.14601 9.59062 4.78004 9.48389 4.46041 9.30566C4.46023 9.31575 4.46023 9.32584 4.46023 9.33575C4.46023 10.4857 5.27814 11.4448 6.36296 11.6627C6.16414 11.7172 5.95419 11.746 5.73821 11.746C5.58503 11.746 5.43663 11.7313 5.29194 11.7037C5.5937 12.6464 6.46944 13.3326 7.50757 13.3519C6.69568 13.9885 5.67312 14.3678 4.56159 14.3678C4.37055 14.3678 4.18129 14.3566 3.99609 14.3345C5.04518 15.0081 6.29221 15.4009 7.63156 15.4009C11.9942 15.4009 14.38 11.7846 14.38 8.64814C14.38 8.54531 14.3777 8.44283 14.3731 8.34124C14.8369 8.00673 15.2389 7.58885 15.5568 7.11292Z" fill="#1DA1F2"/>
                        </svg>
                    a(href="#").facebook
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z" fill="#3A589E"/>
                            <path d="M11.7987 9.98844H10.3156V16H8.06866V9.98844H7V7.87574H8.06866V6.50859C8.06866 5.53092 8.48838 4 10.3356 4L12 4.0077V6.05844H10.7924C10.5943 6.05844 10.3158 6.16794 10.3158 6.63432V7.87771H11.995L11.7987 9.98844Z" fill="white"/>
                        </svg>
                    
                    a(href="#").linkedin
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="10" fill="#006699"/>
                            <path d="M7.8675 5.97826C7.8675 6.51865 7.45125 6.95652 6.9375 6.95652C6.42375 6.95652 6.0075 6.51865 6.0075 5.97826C6.0075 5.43826 6.42375 5 6.9375 5C7.45125 5 7.8675 5.43826 7.8675 5.97826ZM7.875 7.73913H6V14H7.875V7.73913ZM10.8682 7.73913H9.00525V14H10.8686V10.7134C10.8686 8.88604 13.1295 8.73657 13.1295 10.7134V14H15V10.0357C15 6.95222 11.6543 7.06452 10.8682 8.58239V7.73913Z" fill="white"/>
                        </svg>
                    
                    
                    
                    
                    a(href="#").weibo
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="10" fill="white"/>
                            <path d="M16.9879 7.78136C17.048 8.5422 16.9161 9.45406 16.4011 9.49919C15.5599 9.57267 15.9986 8.66891 16.0097 8.12504C16.0406 6.54838 14.6611 5.45312 13.3095 5.45312C12.9269 5.45312 12.0373 5.70654 12.1744 4.9185C12.2362 4.57135 12.5378 4.57597 12.8394 4.53663C15.1125 4.24155 16.8281 5.76613 16.9879 7.78136Z" fill="#F39800"/>
                            <path d="M13.2688 9.61305C14.2459 10.1344 15.4195 10.3941 15.2252 11.9413C14.8671 14.7932 8.77728 16.7089 4.97348 14.6132C3.93051 14.0381 2.85079 13.1968 3.01704 11.5212C3.16053 10.0788 4.1545 8.96156 5.13039 8.00978C6.06136 7.1014 7.0425 6.39089 8.37771 6.06341C9.82666 5.70815 10.2548 6.88616 9.86458 8.04797C10.704 7.993 12.4825 7.07941 13.2688 7.97159C13.6153 8.36503 13.4829 9.06918 13.2688 9.61305ZM12.2124 13.2773C12.5257 12.9313 12.8401 12.4036 12.8383 11.7891C12.8325 9.24623 8.38471 8.67863 5.9517 10.0713C3.1827 11.6566 4.35166 14.5056 7.75181 14.7278C9.55309 14.8458 11.3561 14.2256 12.2124 13.2773Z" fill="#DF2029"/>
                            <path d="M14.6401 8.88898C14.0702 8.92601 14.2831 8.50827 14.2487 8.01126C14.2271 7.70518 13.9669 7.35167 13.74 7.24752C13.2949 7.04386 12.6055 7.39564 12.6055 6.78986C12.6055 6.33971 13.0056 6.38658 13.2319 6.3698C15.3056 6.2159 15.434 8.83748 14.6401 8.88898Z" fill="#F39800"/>
                            <path d="M10.4902 11.5979C11.3238 14.0557 6.98041 15.1984 6.18593 13.0866C5.65453 11.6742 6.93083 10.5506 8.25962 10.4146C9.39417 10.2983 10.24 10.8631 10.4902 11.5979ZM8.49411 12.0179C8.67086 12.3165 9.07743 12.1018 9.04185 11.8652C8.99926 11.5915 8.49061 11.632 8.49411 12.0179ZM7.79005 13.3157C8.52036 13.1462 8.61836 11.8044 7.51589 12.0561C6.59017 12.2667 6.76925 13.5523 7.79005 13.3157Z" fill="black"/>
                        </svg>
                    
                    a(href="#").wechat
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="10" fill="#00D863"/>
                            <path d="M8.71468 6C6.58419 6 4.85742 7.4394 4.85742 9.21438C4.85742 10.2378 5.43473 11.1456 6.33025 11.7332L5.82174 12.7502L7.20714 12.1568C7.50415 12.2623 7.81273 12.3491 8.14252 12.3896C8.09752 12.1935 8.07181 11.9923 8.07181 11.7859C8.07181 10.0135 9.80179 8.57151 11.9291 8.57151C12.1239 8.57151 12.3142 8.58758 12.5019 8.61072C12.1624 7.12439 10.597 6 8.71468 6ZM7.42893 8.41079C7.16278 8.41079 6.94677 8.19478 6.94677 7.92863C6.94677 7.66248 7.16278 7.44647 7.42893 7.44647C7.69508 7.44647 7.91109 7.66248 7.91109 7.92863C7.91109 8.19478 7.69508 8.41079 7.42893 8.41079ZM10.0004 8.41079C9.73429 8.41079 9.51828 8.19478 9.51828 7.92863C9.51828 7.66248 9.73429 7.44647 10.0004 7.44647C10.2666 7.44647 10.4826 7.66248 10.4826 7.92863C10.4826 8.19478 10.2666 8.41079 10.0004 8.41079Z" fill="white"/>
                            <path d="M15.1436 11.7864C15.1436 10.3662 13.7042 9.21484 11.9292 9.21484C10.1542 9.21484 8.71484 10.3662 8.71484 11.7864C8.71484 13.2065 10.1542 14.3579 11.9292 14.3579C12.2211 14.3579 12.4988 14.3167 12.7682 14.2582L14.5007 15.0007L13.9016 13.8031C14.6525 13.3325 15.1436 12.6086 15.1436 11.7864ZM10.9649 11.6256C10.6988 11.6256 10.4828 11.4096 10.4828 11.1435C10.4828 10.8773 10.6988 10.6613 10.9649 10.6613C11.2311 10.6613 11.4471 10.8773 11.4471 11.1435C11.4471 11.4096 11.2311 11.6256 10.9649 11.6256ZM12.8935 11.6256C12.6274 11.6256 12.4114 11.4096 12.4114 11.1435C12.4114 10.8773 12.6274 10.6613 12.8935 10.6613C13.1597 10.6613 13.3757 10.8773 13.3757 11.1435C13.3757 11.4096 13.1597 11.6256 12.8935 11.6256Z" fill="white"/>
                        </svg>
            a.back_btn(href="#") 
                <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.60571 1.28516L0.908326 5.28516L4.60571 9.28516" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                | back