.what_tk_cat {
  background: $bluebg;
  border-radius: 10px;
  padding: 0 70px;
  box-sizing: border-box;
  width: 98%;
  margin: 45px auto 100px;
  max-width: 1040px;

  @include respond-to("tablet") {
    padding: 0 10px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px 0;

    @include respond-to("tablet") {
      padding: 10px 0;
      display: block;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(157, 175, 189, 0.5);
    }
  }

  &__desc {
    width: 65%;
    max-width: 488px;
    font-size: $base-font-size;
    line-height: $what_tk__desc-line;
    /* or 137% */
    color: $what_tk__desc;

    @include respond-to("tablet") {
      width: 100%;
      max-width: none;
      margin-top: 10px;

      span.db {
        display: none;
      }
    }
  }

  &__title {
    width: 40%;
    max-width: 380px;
    position: relative;
    font-weight: $medium;
    font-size: $font-18;
    line-height: $subtitle-font;
    /* or 140% */
    color: $darkgray;
    padding-left: 35px;

    @include respond-to("tablet") {
      width: 100%;
      max-width: none;
      box-sizing: border-box;

      span.db {
        display: none;
      }
    }

    svg {
      display: block;
      flex-shrink: 0;
      margin-right: 15px;
      margin-top: 3px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.what_crypto_tk__section {
  .what_tk__text {
    margin-bottom: 80px;
  }

  .what_tk__subtitle {
    font-size: $base-font-size;
    line-height: $what_tk__subtitle;
    letter-spacing: -0.5px;
  }
}
