.section__hiring {
  padding-top: 0;
  padding-bottom: 150px;
  max-width: 1600px;
  margin: 0 auto;

  @media screen and (max-width: 580px) {
    padding: 0;
    padding-bottom: 50px;
  }

  .new_green_bord_btn {
    width: 159px;
    height: 45px;
    margin: 40px auto 0;
  }

  .section__title {
    margin-bottom: 24px;
  }

  .section__title,
  .section__subtitle {
    color: #ffffff;
  }

  .family {
    margin-top: 80px;
  }

  .new_more_btn {
    margin: 106px auto 0;
    height: 45px;
    width: 168px;
  }
}

.hiring_block {
  padding: 240px 0 181px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s;

  @media screen and (max-width: 580px) {
    padding: 50px 0;
  }
}

.new_green_bord_btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b8b8b8;
  background: rgba(17, 17, 17, 0.4);
  border: 1px solid #01bd95;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: #e3e3e3;
    background: rgba(17, 17, 17, 0.4);
    border: 1px solid #00c89d;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.says {
  padding-top: 207px;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    img {
      display: block;
      margin-right: 20px;

      @media screen and (max-width: 770px) {
        width: 20px;
      }
    }

    span {
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 55.5556px;
      line-height: 62px;
      color: #323232;

      @media screen and (max-width: 770px) {
        font-size: 30px;
        line-height: 35px;
      }
    }
  }

  &__subtitle {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 130.69%;
    /* or 47px */

    text-align: center;

    color: #323232;

    @media screen and (max-width: 770px) {
      font-size: 16px;
      line-height: 19px;

      .db {
        display: none;
      }
    }
  }
}

.family {
  &__logo {
    display: block;
    height: 56px;
    object-fit: contain;
    opacity: 0.25;
    transition: all 0.5s;
  }

  &__line {
    width: 100%;
    height: 2px;
    background-color: rgba(129, 129, 129, 0.25);
    transition: all 0.5s;
  }

  &__block {
    max-width: 160px;
    width: 160px;
    height: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 14px;

    @media screen and (max-width: 770px) {
      width: 100%;
      max-width: none;
      margin-bottom: 20px;
    }

    &:hover {
      .family__line {
        background-color: #01bd95;
      }

      .family__logo {
        opacity: 1;
      }
    }

    &.is-selected {
      .family__line {
        background-color: #01bd95;
      }

      .family__logo {
        opacity: 1;
      }
    }
  }
}

.says__flickity--js {
  .item {
    width: 100%;
  }
}
