.main_section {
  margin-top: 136px;
  padding-top: calc(203px);
  padding-bottom: 61px;
  position: relative;
  overflow: hidden;
  background: center / cover url(../images/main_section--banner.png) no-repeat;
  .section__title {
    position: absolute;
    z-index: 1;
    display: block;
    color: #ffffff;
    margin-bottom: 0;
  }
  .section__subtitle {
    position: relative;
    z-index: 1;
    color: #ffffff;
    margin-bottom: 192px;
  }
  .container {
    z-index: 1;
    position: relative;
  }
  .machine_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 156px;
    margin-bottom: 50px;
  }

  .date_description {
    color: rgba(255, 255, 255, 0.54);
    margin-bottom: 10px;
  }
}
