.main_section {
  margin-top: 136px;
  padding-top: 110px;
  padding-bottom: 61px;
  position: relative;
  overflow: hidden;
  background: left top / cover url(../images/main_section--banner.jpg) no-repeat;
  position: relative;

  @media screen and (max-width: 580px) {
    margin-top: 180px;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 298px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .section__title {
    position: absolute;
    z-index: 1;
    display: block;
    color: #ffffff;
    margin-bottom: 0;
    line-height: 78px;
  }

  .section__subtitle {
    position: relative;
    z-index: 1;
    color: #ffffff;
    margin-bottom: 192px;
  }

  .container {
    z-index: 1;
    position: relative;
  }

  .machine_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    margin-bottom: 50px;
    #machine {
      position: relative;

      &:after {
        content: "|";
        animation: blink 0.7s infinite;
      }
    }

    .section__title:not(#machine) {
      margin-top: 117px;
    }

    @media screen and (max-width: 882px) {
      .section__title {
        font-size: 50px;
        line-height: 55px;
      }
    }

    @media screen and (max-width: 580px) {
      height: 132px;

      .section__title {
        font-size: 30px;
        line-height: 35px;
      }

      .section__title:not(#machine) {
        margin-top: 65px;
      }
    }
  }

  .date_description {
    color: rgba(255, 255, 255, 0.54);
    margin-bottom: 10px;
  }
}

.b2_form.light_theme {
  .section__title {
    text-align: center;
    color: #191c20;
  }
}

.section.machine-slider {
  #machine-slider {
    margin-top: 0 !important;
    height: 250px;
    position: relative;
    overflow: hidden;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px 0;
      height: 250px;
      box-sizing: border-box;
      padding-bottom: 20px;
    }
  }
}

.typed-cursor {
  font-size: 82px;
  line-height: 86px;
  color: #fff;
  opacity: 1;
  font-weight: 200;
  animation: blink 0.7s infinite;
  position: absolute;
  right: 0;
  bottom: 0;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
