.section.webinars_schedule {
  background: #191f24;

  .future__month {
    color: #c4c4c4;
  }

  .future__green_border_btn {
    margin: 60px auto 0;
    width: 168px;
    height: 45px;
    text-decoration: none;
  }

  .future_flex_btn_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: 580px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .future_btns {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    justify-self: flex-end;
    width: 270px;
    margin-left: auto;

    @media screen and (max-width: 580px) {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .new_green_btn {
      height: 40px;
      margin-right: 10px;
      box-sizing: border-box;
      width: 100%;
      max-width: 142px;
      flex-shrink: 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;

      @media screen and (max-width: 580px) {
        width: 100%;
        max-width: none;
        margin-bottom: 20px;
      }
    }

    .new_more_btn {
      flex-shrink: 0;
      height: 40px;
      width: 100%;
      max-width: 118px;
      border: 1px solid #01bc94;
      box-sizing: border-box;
      border-radius: 5px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #7e7e7e;

      @media screen and (max-width: 580px) {
        width: 100%;
        max-width: none;
      }
    }
  }
}
