.webinars_schedule {
  padding: 153px 0 100px;

  .future__month {
    color: #c4c4c4;
  }

  .future__green_border_btn {
    margin: 60px auto 0;
    width: 168px;
    height: 45px;
    text-decoration: none;
  }
}
