.banner__security {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 494px;
    left: 0;
    top: 0;

    @include respond-to('tablet-wide') {
        max-width: 100%;
        padding: 0 25px;
        background-position: 25%;
    }

    @include respond-to('phone-wide') {
        height: 300px;
    }
}

.title__security {
    padding-top: 250px;
    font-size: 69px;
    width: $content-size;
    margin: 0 auto;
    font-weight: 600;

    &-sub {
        position: relative;
        width: $content-size;
        margin: 0 auto;
        padding-top: 30px;
        font-size: 24px;
        line-height: 28px;

        @include respond-to('tablet') {
            width: 100%;
        }

        @include respond-to('phone-wide') {
            width: 100%;
            font-size: 20px;
            padding-top: 0;
            line-height: 24px;
        }
    }

    @include respond-to('tablet') {
        width: 100%;
    }


    @include respond-to('phone-wide') {
        width: 100%;
        padding-top: 180px;
        padding-bottom: 24px;
        font-size: 40px;
    }

    @include respond-to('phone') {
        font-size: 38px;
    }
}

.line-absolute {
    position: absolute;
    top: 200px;
    left: 115px;
}

.icon-sec-line {
    width: 181px;
    z-index: 1;
    margin-left: -10px;
    height: 920px;

    @include respond-to('tablet-wide') {
        margin-top: -200px;
    }

    @include respond-to('tablet') {
        margin-top: -130px;
        height: 1050px;
    }

    @include respond-to('phone-wide') {
        display: none;
    }

}

.container__security {
    max-width: $content-size;
    padding-top: 488px;
    margin: 0 auto;

    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: $normal-indent * 3;
    }

    &-info {
        flex: 0 0 75%;
    }

    &-img {
        display: flex;
        flex-direction: column;
        flex: 0 0 20%;

        svg {
            width: 90%;
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        padding-top: 2%;

        &_title {
            font-size: $huge-font-size;
            line-height: 42px;
            font-weight: 600;
            padding-bottom: 20px;
            color: $text-black;

            @include respond-to('phone-wide') {
                font-size: 30px;
            }
        }


        &_sub {
            font-size: $base-font-size;
            padding-bottom: 20px;
            color: $text-black;

            @include respond-to('phone-wide') {
                padding-bottom: 30px;
                line-height: 20px;
            }
        }
    }

    @include respond-to('tablet-wide') {
        max-width: 100%;
        padding: 0 5%;
        margin-top: 420px;
    }

    @include respond-to('phone-wide') {
        display: none;
    }
}

.container__security-mobile {
    display: none;

    @include respond-to('phone-wide') {
        display: flex;
        flex-direction: column;
        padding-bottom: 15%;
        margin: 0 25px;
        padding-top: 132%;

        svg {
            padding-bottom: 20px;
            padding-top: 40px;
            width: 50%;
        }
    }
}

.mobile__padding {
    padding-bottom: 20px;
}

.padding__content {
    &-1 {
        padding-top: 94px;
    }

    &-2 {
        padding-top: 124px;

        @include respond-to('tablet-wide') {
            padding-top: 95px;
        }

        @include respond-to('tablet') {
            padding-top: 60px;
        }
    }
}
