.footer-menu-section {
    padding-top: 125px;
    padding-bottom: 72px;
    background: #161616;
    &.castomPadding {
        padding: 0;
    }
    &-flex {
        display: flex;
        &__item {
            width: 33.33333%;
            padding-right: 20px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            .menu {
                margin-bottom: 53px;
                display: block;
                li {
                    margin-bottom: 20px;
                    font-size: 14px;
                    a {
                        letter-spacing: -0.5px;
                        color: #E3E3E3;
                    }
                }
                &.menu-castom-height-1 {
                    height: 266px;
                }
                &.menu-castom-height-2 {
                    height: 125px;
                }
            }
        }
        &__title {
            font-weight: 600;
            color: #ECECEC;
            margin-bottom: 34px;
        }
    }
}