.forex_liquidity__new__forex {
  padding: 294px 0 150px;
  overflow: hidden;

  .new_form__label_capch .new_form__capch {
    background: #e0e0e0;
  }

  .forex_liquidity__content {
    .section__subtitle {
      margin-top: 50px;
      margin-bottom: 80px;
    }
  }
}

.section__segment {
  .section__subtitle {
    margin-bottom: 80px;
  }
}
