.section__green_subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 44px;
  /* identical to box height, or 210% */
  text-align: center;
  text-transform: capitalize;
  color: #01bd95;
  margin-bottom: 50px;
}

.section__genuine {
  .genuine__btn_container {
    margin-top: 50px;
    overflow-x: auto;
  }
}

.genuine {
  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .new_green_bord_btn {
      width: 168px;
      height: 45px;
      margin-right: 15px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #cdcdcd;
      background: transparent;

      &:hover {
        background: transparent;
      }
    }

    .new_green_btn {
      width: 184px;
      height: 44px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      color: #ffffff;
      border-radius: 9px;

      &:hover {
        border-radius: 9px;
      }
    }

    @media screen and (max-width: 580px) {
      flex-direction: column;

      .new_green_bord_btn {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__btn_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.530355px;
    color: #bdbdbd;
    padding: 10px 13px;
    border: none;
    min-height: 38px;
    height: auto;
    background: #3f4a54;
    border-radius: 10px 10px 0px 0px;
    margin-right: 3px;
    cursor: pointer;

    &.active {
      background: #2e3740;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.530355px;
      color: #01bd95;
      border: none;
      box-shadow: none;
      border-radius: 10px 10px 0px 0px;
      opacity: 1;
    }

    @media screen and (max-width: 580px) {
      border-radius: 10px;
      margin-bottom: 10px;
      margin-right: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &.active {
        border-radius: 10px;
      }
    }
  }

  &__content {
    box-sizing: border-box;

    width: 977px;

    border-radius: 0px 8px 8px 8px;
    margin-bottom: -2px;
    overflow-y: hidden;
    display: none;
    background: linear-gradient(180deg, #2a333d 15.1%, #222a33 100%), #2a333d;
    min-height: 659px;

    &.active {
      display: block;
    }
  }

  &__filter {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 36px;
    background: #2e3740;
    padding-top: 27px;

    &__btn {
      padding: 0 15px;
      height: 37px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(228, 228, 228, 0.2);
      box-sizing: border-box;
      border-radius: 8px;
      cursor: pointer;
      margin-right: 10px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: -0.530355px;
      color: #bdbdbd;

      &.active {
        border: 1px solid #21c5a2;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border-bottom: 2px solid #3b434b;
    padding: 15px 15px 15px 36px;
    transition: background 0.5s;
    background: #2e3740;

    @media screen and (max-width: 599px) {
      width: max-content;
    }

    &__heading_row {
      padding: 25px 15px 25px 36px;

      .genuine__col {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* or 44% */
        color: #6f7b85;

        &:nth-child(1) {
          &:before {
            display: none;
          }
        }
      }
    }

    &--slide {
      padding-left: 60px;
      display: none;
      border-bottom: 2px solid #3b434b;
      background: #333d46;

      .genuine__row {
        padding-left: 0;
        border: none;
        background: transparent;
      }

      &.active {
        background: #333d46;
      }

      .genuine__col {
        &:nth-child(1) {
          &:before {
            display: none;
          }
        }
      }
    }

    &.active {
      background: #333d46;

      .genuine__col:nth-child(1) {
        &:before {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__col {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    min-width: 75px;
    width: 75px;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */
    letter-spacing: -0.5px;
    color: #ffffff;

    &:first-child {
      margin-left: 0;
      min-width: 130px;
      width: 130px;
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: -19px;
        top: 12px;
        width: 6px;
        height: 10px;
        background: center / cover url(../images/before_arrow.svg) no-repeat;
        transition: all 0.5s;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(3) {
      font-weight: bold;
    }

    &--up {
      &:before {
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        background: center / cover url(../images/uparrow.svg) no-repeat;
        margin-right: 6px;
      }
    }

    &--down {
      &:before {
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        background: center / cover url(../images/downarrow.svg) no-repeat;
        margin-right: 6px;
      }
    }
  }

  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */
    letter-spacing: -0.5px;
    color: #ffffff;
  }

  &__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 153% */
    color: #ffffff;
  }
}
