.section-10 {
    padding-top: 71px;
    padding-bottom: 86px;
    background: #FBFBFB;
    .section__title {
        text-align: center;
        margin-bottom: 50px;
    }
    .main-text {
        font-size: 18px;
        line-height: 29px;
        max-width: 748px;
        text-align: center;
        margin: 0 auto;
    }
    .slider_arrow {
        width: 45px;
        height: 45px;
        .icon-slider-arrow {
            transform: rotate(0deg);
        }
        .icon-slider-arrow-green {
            transform: rotate(180deg);
        }
    }
    .grafic_slider--arrow_block {
        margin-bottom: 70px;
    }
    .grafic_slider--slick_item--description {
        margin-bottom: 32px;
    }
}

@media screen and (max-width:1000px) {
    .grafic_slider {
        &--slick_item {
            width: 300px;
            margin-top: 58px;
            &--image {
                width: 200px;
            }
        }
    }
}

@media screen and (max-width:580px) {
    .section-10 {
        padding-top: 50px;
        padding-bottom: 50px;
        .section__title {
            margin-bottom: 20px;
        }
        .main-text {
            font-size: 14px;
            line-height: 17px;
        }
    }
}