.section-19 {
    padding-top: 150px;
    padding-bottom: 150px;
    background: #fbfbfb;
    .section__title {
        text-align: center;
        margin-bottom: 50px;
    }
    .main-text {
        max-width: 555px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
    .advanced_slider {
        margin-top: 80px;
    }
    .advanced_slider--arrow_block {
        margin-top: 60px;
        margin-bottom: 90px;
    }
    .check_catalog {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 90px;
        .check_block {
            width: 32%;
            align-items: center;
            margin-bottom: 35px;
        }
    }
}

@media screen and (max-width:580px) {
    .section-19 {
        padding-top: 50px;
        padding-bottom: 50px;
        .section__title {
            margin-bottom: 20px;
        }
        .main-text {
            font-size: 14px;
            line-height: 17px;
        }
        .advanced_slider--arrow_block {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .check_catalog {
            flex-wrap: wrap;
            margin-top: 30px;
            .check_block {
                min-width: 170px;
                margin: 10px;
            }
        }
    }
}