.section-11 {
  background: $bluebg;
  display: flex;
  justify-content: center;
  align-items: stretch;

  .box_block {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    &--title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 50px;
      line-height: 65px;
      /* or 130% */
      color: $darkgray;
    }

    padding: 84px 80px;
    box-sizing: border-box;
    width: 494px;
    margin: 0 29px;
    padding-right: 53px;

    &--text {
      margin-top: 37px;
      letter-spacing: 0;
    }
  }
}

@media screen and (max-width: 1080px) {
  .section-11 {
    .box_block {
      width: 40%;
      margin: 0 10px;
      padding: 20px;
      min-height: 170px;
      &--title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 20px;
      }
      &--text {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .section-11 {
    display: block;
    padding-bottom: 50px;
    padding-top: 50px;
    .box_block {
      margin: 0 auto;
      margin-bottom: 20px;
      width: 98%;
    }
  }
}
