.section-4 {
    background: #FBFBFB;
    padding-top: 160px;
    padding-bottom: 117px;
    .section__title {
        padding-bottom: 26px;
    }
    .main-text {
        display: block;
        font-size: 20px;
        line-height: 29px;
        margin-top: 28px;
        padding-right: 10px;
    }
    .number_block {
        margin-top: 88px;
        width: 100%;
        max-width: 842px;
        justify-content: space-between;
        &--text {
            color: #383838;
        }
        &--number {
            color: #383838;
        }
        &--number-text {
            color: #383838;
            margin-left: 12px;
        }
    }
}

@media screen and (max-width:580px) {
    .section-4 {
        padding-top: 50px;
        .main-text {
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            margin-top: 20px;
        }
        .number_block {
            margin-top: 40px;
            display: block;
            &-content {
                text-align: center;
                margin: 20px 0;
            }
        }
    }
}