.section-8 {
    padding-top: 150px;
    padding-bottom: 150px;
    background: #1F2832;
    .form__input{
            background: #28323E;
            border: 1px solid #D1DBE2;
            color: #FFFFFF;
            
        }
    .form_label{
        span{
            color: #fff;
        }
    }
    .form__phone {
        &__select{
            background: #28323E 60px center / 6.11px 3.81px url(../images/icons/Triangle.png) no-repeat;
        }
    }
        .consent_block{
            p,a{
                color: #6E8198;
            }
        }
    &.white {
        background: #1F2832;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .section__title {
        text-align: center;
        margin-bottom: 44px;
        color: #FFFFFF;
    }
    .main-text {
        font-size: 18px;
        line-height: 25px;
        max-width: 484px;
        margin: 0 auto;
        text-align: center;
        color: #FFFFFF;
    }
    .get_your_prime_form {
        margin-top: 50px;
        .description {
            display: block;
            max-width: 280px;
            color: #6E8198;
            a {
                font-size: 11px;
                line-height: 15px;
                /* or 136% */
                color: #6E8198;
            }
        }
    }
}

@media screen and (max-width:580px) {
    .section-8 {
        padding-top: 50px;
        padding-bottom: 50px;
        .get_your_prime_form {
            display: block;
        }
        .get_your_prime_form--left,
        .get_your_prime_form--right {
            width: 100%;
        }
        .get_your_prime_form .description {
            margin-bottom: 20px;
        }
        &.white {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}