.section-11 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 172px;
    .box_block {
        padding: 84px 80px;
        box-sizing: border-box;
        width: 494px;
        margin: 0px 15px;
    }
}