.section-16 {
    padding-top: 50px;
    .section__title {
        max-width: 700px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .main-text {
        max-width: 441px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        line-height: 25px;
    }
    .video_block {
        height: 738px;
    }
    .video_block {
        margin-top: 106px;
    }
    .you_button {
        margin-top: 72px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            .youtube {
                width: 24px;
                margin-right: 16px;
            }
        }
    }
}