.section-3 {
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #fff;
    .section__title {
        padding-bottom: 28px;
    }
    .main-text {
        display: block;
        font-size: 20px;
        line-height: 29px;
        margin-top: 26px;
    }
}

@media screen and (max-width:580px) {
    .section-3 {
        padding-top: 50px;
        padding-bottom: 50px;
        .main-text {
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            margin-top: 20px;
        }
    }
}