.section-22 {
    padding-top: 100px;
    padding-bottom: 150px;
    .section__title {
        margin-bottom: 50px;
        text-align: center;
    }
    .main-text {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }
    .question {
        margin-top: 70px;
    }
}