.banner__about {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 398px;
    left: 0px;
    top: 0px;

    @include respond-to('tablet-wide') {
        max-width: 100%;
        padding: 0 25px;
    }

    @include respond-to('phone-wide') {
        background-position: 70%;
        height: 300px;
    }

    @include respond-to-min('desktop-max') {
        height: 600px;
    }
}

.about__bottom {
    margin-top: 65px;
    margin-bottom: 45px;
}

.white-page .header__logo-black,
.white-page .key__green,
.white-page .header__burger-lines {
    display: none;
}

.title__about {
    padding-top: 185px;
    font-size: $big-font;
    line-height: 140%;
    max-width: $content-size;
    margin: 0 auto;
    font-weight: 600;

    @include respond-to('tablet') {
        width: 100%;
        padding-top: 176px;
    }

    @include respond-to('phone-wide') {
        width: 100%;
        font-size: 40px;
    }

    @include respond-to-min('desktop-max') {
        max-width: $content-max-size;
    }
}

.container__about {
    max-width: $content-size;
    padding-top: 17%;
    margin: 0 auto;


    @include respond-to('desktop-big') {
        padding-top: 355px;
    }


    @include respond-to('tablet-wide') {
        max-width: 100%;
        padding: 0 5%;
        margin-top: 280px;

        @include respond-to('phone-wide') {
            margin-top: 260px;
        }
    }

    @include respond-to-min('desktop-max') {
        max-width: $content-max-size;
    }
}

.container__text {
    &-center {
        text-align: center;
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 3%;
        color: $text-black;

        @include respond-to('phone-wide') {
            font-size: $normal-indent;
            line-height: 24px;
            padding-bottom: 45px;
        }
    }

    &-bold {
        text-align: center;

        font-weight: 600;
        font-size: 34px;
        padding-bottom: 85px;

        @include respond-to('phone-wide') {
            font-size: 24px;
            padding-bottom: 20px;
        }
    }
}

.container__background {
    display: flex;
    flex-direction: row;
    width: 100%;

    &-col {
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
        }
    }

    @include respond-to('phone-wide') {
        flex-direction: column;
    }
}

.container__block-text {
    background: #F8F8F8;
    width: 35%;
    height: 420px;
    display: flex;
    align-self: flex-end;
    padding: 3% 6%;

    p {
        color: #DDDDDD;
        font-size: $base-font-size;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 10%;

        @include respond-to('phone-wide') {
            font-size: 20px;
            margin-top: 28px;
        }
    }

    @include respond-to('phone-wide') {
        width: 90%;
        height: 310px !important;
        align-self: flex-start;
    }
}

.container-reverse {
    flex-direction: row-reverse;

    @include respond-to('phone-wide') {
        flex-direction: column;
    }
}

.container__block-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 468px;

    @include respond-to('phone-wide') {
        width: 100%;
        height: 244px;
        margin-top: 20px;
    }


    @include respond-to-min('desktop-max') {
        min-height: 700px;
    }
}

.container__points {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container__points-2 {
    margin-right: 2%;

    &:before {
        content: "•";
        font-size: 50px;
        color: #D8D8D8;
    }
}


.container__points-active {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    border: 1.6px solid $main;
    margin-right: 1%;
    margin-top: -4px;
}

.block__text {
    padding-top: 5%;
    font-size: 21px;
    line-height: 25px;

    @include respond-to('phone-wide') {
        font-size: 20px;
        line-height: 23px;
    }
}

.container__contact {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 600px;
    background: $background_black;
    color: $white;
    padding: 125px 93px 128px 240px;

    &-title {
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 30px;
    }

    a {
        color: $white;
        text-decoration: underline;
    }

    p {
        opacity: 0.7;
        padding-bottom: 5%;
        font-size: 16px;
        line-height: 19px;
    }

    @include respond-to('tablet-wide') {
        padding: 25px 33px 28px 24px;
    }

    @include respond-to('phone-wide') {
        width: 100%;
        padding: 20px;
        height: 420px;
    }

    @include respond-to-min('desktop-max') {
        min-height: 750px;
    }
}

#map {
    height: 100%;
    width: 50%;

    @include respond-to('phone-wide') {
        width: 100%;
    }


    @include respond-to-min('desktop-max') {
        min-height: 750px;
    }
}

.slider-1,
.slider-2,
.slider-3{
    position: relative;
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item,
.slider__item2 {
    flex: 0 0 100%;
    max-width: 100%;
}

.slider__control:hover,
.slider__control:focus {
    color: $main;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__points {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider__control_left,
.slider__control_right{
    margin-right: 2%;

    &::before {
        content: "•";
        margin-top: -10px;
        font-size: 50px;
        color: #D8D8D8;
    }
}

.reverse {
    flex-direction: row-reverse;

    @include respond-to('phone-wide') {
        flex-direction: column;
    }
}
.right__margin{
    &-1{
        margin-right: 1%;
    }
    &-2{
        margin-right: 2%;
    }
}
.last__slide{
    height: 380px;
    align-self: flex-start;

    @include respond-to('phone-wide') {
        margin-bottom: 20px;
    }
}
