.b2m_custom {
  .trading__slider {
    max-width: 820px;
    margin: 50px auto 130px;
    .item {
      width: 100%;

      img {
        min-height: 667px;

        @media screen and (max-width: 980px) {
          min-height: 1px;
        }
      }
    }
  }

  .flickity_castom_arrow .flickity-prev-next-button {
    top: 50%;
    margin-top: -22px;

    &.next {
      right: 0;
      margin-right: -77px;
    }

    &.previous {
      left: 0;
      margin-left: -77px;
    }

    @media screen and (max-width: 980px) {
      display: none !important;
    }
  }
}
