.section__enguine__b2margin {
  .section__title {
    margin-bottom: 80px;
  }
  .enguine_table .row .col:nth-child(2),
  .enguine_table .row .col:nth-child(3),
  .enguine_table .row .col:nth-child(4) {
    width: 194px;
  }

  .enguine_table .row:not(:nth-child(1)) .col:nth-child(2) {
    background: #fff;
  }

  .enguine_table .row:not(:nth-child(1)) .col:nth-child(3) {
    background: #f8fafa;
  }
}
.section__enguine__description {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  text-indent: 35px;

  color: #63636e;

  &:nth-child(1) {
    margin-top: 30px;
  }

  & + .section__enguine__description {
    margin-top: 4px;
  }
}
