.section.b2_gui {
  background: linear-gradient(
      11.56deg,
      #f0f5f7 9.43%,
      rgba(239, 244, 246, 0) 91.39%
    ),
    #ffffff;

  .section__subtitle {
    margin-bottom: 40px;
  }

  .new_box-catalog .box_block {
    padding-right: 43px;
  }
}
