.new_main_screen_web {
  position: relative;
  padding: 254px 0 64px;

  .big_container:nth-child(1):before {
    display: none;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../images/web_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    transform: scaleX(-1);
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(37, 36, 36, 0.55),
        rgba(37, 36, 36, 0.55)
      ),
      #c4c4c4;
    mix-blend-mode: multiply;
    z-index: 1;
  }

  .big_container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to("tablet-small") {
      display: block;
    }
  }

  .web_screen {
    .buty__btn {
      width: 100%;
      max-width: 241px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 50px;
      text-decoration: none;
    }

    &__lid {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__icon {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: #c4c4c4;
      overflow: hidden;
      flex-shrink: 0;
      margin-right: 18px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    &__title,
    &__subtitle {
      font-weight: $extrabold;
      font-size: $base-font-size;
      line-height: $what_tk__desc-line;
      /* or 137% */
      color: $white;
    }

    &__subtitle {
      font-weight: $normal;
    }

    &__heading {
      font-weight: bold;
      font-size: 25px;
      line-height: 100px;
      color: $white;
      margin-bottom: 9px;
    }

    .section__title {
      color: $white;
      margin-bottom: 30px;
      text-align: left;
    }

    .section__subtitle {
      color: $white;
      text-align: left;
    }

    &__times {
      max-width: 196px;
      width: 100%;
      flex-shrink: 0;
      margin-left: auto;

      @include respond-to("tablet-small") {
        margin-left: 0;
      }
    }

    &__dates {
      & + .web_screen__dates {
        margin-top: 32px;

        @include respond-to("tablet-small") {
          margin-top: 15px;
        }
      }

      &__title {
        font-weight: $extrabold;
        font-size: 33.6537px;
        line-height: 39px;
        color: $white;

        @include respond-to("tablet-small") {
          font-size: $base-font-size;
          line-height: $tk-desc-line;
        }
      }

      &__subtitle {
        font-weight: $light;
        font-size: 20.71px;
        line-height: 24px;
        color: $white;

        @include respond-to("tablet-small") {
          font-size: $small-font;
          line-height: $tk-desc-line;
        }
      }
    }

    &__more_btn {
      position: relative;
      z-index: 10;
      font-weight: $medium;
      font-size: $base-font-size;
      line-height: $what_tk__desc-line;
      /* identical to box height, or 137% */
      color: rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      width: 120px;
      align-items: center;
      margin: 175px auto 0;
      text-decoration: none;

      @include respond-to("tablet-small") {
        margin-top: 25px;
      }

      svg {
        display: block;
        margin-right: 10px;
      }
    }
  }
}
